[2020-08-27 08:27] Obirah commented on #2442
It worked for me in 4.10.2, yes.

Was there maybe a change that caused the registration order of the handlers to change? Maybe the registration of the ProjectHandler superseded the registration of the ProjectRequestHandler before and now the order might be the other way around. With the `RESOURCE_HANDLER_MAP` in the `Handlers` class, for me it looks like there can never be two handlers with the sa

[2020-08-27 09:55] rohanKanojia opened #2444 "Use try with resources in kubernetes-examples"
We're not closing client in some of the examples after using it, we should either close it with `client.close()` or use `KubernetesClient` like this:
[code]

Here are some places where it's not closed properly:

- [X] [ListCustomResourceDefinitions.java](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/ListCustomResourceDef

[2020-08-27 10:02] rohanKanojia commented on #2398
I think there are some more occurrences apart from BaseOperation:

https://github.com/fabric8io/kubernetes-client/blob/master/openshift-client/src/main/java/io/fabric8/openshift/client/dsl/internal/ProjectRequestsOperationImpl.java

https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/NamespaceVisitFromServerGetWatchDe

[2020-08-27 11:53] stanlyDoge opened #2445 "Impossible to replace ConfigMap"
Hi.
I've upgraded to version 4.11.0 and I started having an issue with replacing ConfigMaps.

Reproducer
[code]

Output of `createOrReplace(ConfigMap)`
[code]

Expected output
updated CM

[code]

Did the API changed in 4.11.0 or is it a bug?

Thank you!

[2020-08-27 12:14] rohanKanojia commented on #2445
Strange, the code you shared is working for me on OpenShift 3.11 and minikube v1.12.2

[2020-08-27 12:25] stanlyDoge commented on #2445
The code runs ok. The exception is visible in debug mode.
![exception](https://user-images.githubusercontent.com/19408098/91441792-1b963a00-e871-11ea-8cad-d9c5655fc8ec.png)

[2020-08-27 12:44] rohanKanojia commented on #2445
ohk, I can reproduce

[2020-08-27 15:50] Shivkumar13 commented on #2444
/assign

[2020-08-27 17:14] sidharthnayyar commented on #2434
Hi Rohan,
Yes it looks like another issue was causing it but the exception was thrown on the namespace update which threw me off.
Thanks for your help.
Kind regards

[2020-08-27 17:14] #2434 closed

[2020-08-27 19:06] rohanKanojia commented on #2439
After a discussion on Gitter, I think I understand the issue now. Problem is that client is doing PATCH with YAML object even after there are no new changes in `Service`, but while doing createOrReplace we compare object  provided with object fetched from the server(which is always different since `nodePort` and `clusterIP` are dynamically allocated upon first creation). See below code:
[code]

[2020-08-28 11:59] fransguelinckx commented on #1996
Are there any short or long term plans on adding support for java modules?

[2020-08-28 12:04] rohanKanojia commented on #1996
Actually, we tried moving to java modules but it seemed quite painful as it required some of the dependencies (like sundrio for builder generation) to move to modules too. Are you blocked due to this issue?

[2020-08-31 12:27] Chiarorucs opened #2449 "About using the method "watchLog()""
Hey! Sorry to bother you with so tiny detail!

I have to pull logs from Pod then push them to WebSocket. In PodLogExample.class , I find a example like:

[code]

These codes make it true and show logs on the console. I try to shift System.out to other Outputstream, such as ByteArrayOutputstream but failed. How should I pass the Outputstream param to method watchLog() then get log content from the

[2020-08-31 17:36] #2398 closed

[2020-08-31 20:22] saparaj commented on #2439
Hi @rohanKanojia,

Is there any timeline for this issue fix?

Thanks,
Swarda

[2020-08-31 20:54] saparaj opened #2452 "isReady() from internal package make it publicly available"
Hi Fabric8io Team,

I am currently using waitUntilReady() method which blocks the thread till resources are ready, instead of waiting I need to poll the status of resources, I can see isReady method is getting called in waitUntilReady() which is in internal package, is there any external/publicly available method present with the same implementation?

The response I got from @rohanKanojia on gitte

[2020-09-01 06:25] rohanKanojia commented on #2439
I would try to fix it along with #2399

[2020-09-01 06:26] rohanKanojia commented on #2452
This seems like an easy fix to me. Would you like to create a PR for this?

[2020-09-01 09:58] manusa commented on #2445
Sames issue can be observed when `client.configMaps().inNamespace(NAMESPACE).delete(newResource);`

[2020-09-01 10:55] stanlyDoge commented on #2445
Ah, makes sense. Thanks for the investigation. So I guess this can be closed now?

[2020-09-01 10:57] manusa commented on #2445
I'm still working on it. See if I can find some solution to the problem. It worries me that we hit into this problem not just when debugging :worried:

[2020-09-01 11:35] Ladicek commented on #2445
I'd like to point out that I'm also seeing this issue, and it's _not_ in a debugger. If you want to see that, clone https://github.com/thorntail-examples/configmap, run `mvn clean verify -Popenshift,openshift-it` and observe a success. Then update Fabric8 OpenShift Client to 4.11.0 and run again -- it will take a long time and 2 tests will eventually fail. The reason is that the ConfigMap update c

[2020-09-01 11:36] manusa commented on #2445
Thx @Ladicek, this helps a lot.

[2020-09-01 11:39] Ladicek commented on #2445
No, it's OK with 4.10.3. Perhaps it's a different issue, but manifests in the same way :-)

[2020-09-01 11:56] Ladicek commented on #2445
Just to be sure, I reran the test with the latest `master` branch of the repo mentioned above, and it passed. The POM defines Fabric8 OpenShift Client version 4.10.3, and `mvn dependency:tree` confirms that all Fabric8 Kubernetes Client related dependencies are indeed 4.10.3 -- with an exception of `io.fabric8:kubernetes-openshift-uberjar`. That's only there for Arquillian Cube, and since the clas

[2020-09-01 12:47] manusa commented on #2445
Hi @Ladicek

I'm not sure your issue is related to this `ClassCastException`. I'm thinking it's related to the behavior of `createOrReplace` method being changed in the latest release.

I'm able to see the test failures, but it's related to a timeout (probably because the configmaps never get replaced). I think this is caused by the comparison methods used to determine if the resource must be repl

[2020-09-01 13:12] thmshmm commented on #2445
Hi, I came across this issue while searching why the ConfigMaps are not updated in the cluster. Same exceptions while debugging in IDEA and if executing on OpenShift 3.11 it just didn't replace the ConfigMaps.

[2020-09-01 13:21] Ladicek commented on #2445
@manusa yes, the tests fail because the ConfigMap is never replaced. Whether there's a `ClassCastException` or now, to be fair, I don't know. I found that my ConfigMaps are not getting replaced, went to the issue tracker, and the first issue I saw was "impossible to replace ConfigMap", so I thought someone found the problem already :-) Sorry for the noise.

[2020-09-01 13:25] stanlyDoge commented on #2445
TBH I had the same issue as @Ladicek. While debugging I saw the exception and I was thinking "Yeah, that's it".

[2020-09-01 13:39] manusa commented on #2445
ConfigMaps not getting replaced are related to:

https://github.com/fabric8io/kubernetes-client/blob/c1e486274e371ce78c1a174d6f7768426f18aecd/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/BaseOperation.java#L439-L442

https://github.com/fabric8io/kubernetes-client/blob/c1e486274e371ce78c1a174d6f7768426f18aecd/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/util

[2020-09-01 13:42] stanlyDoge commented on #2445
In the simple reproducer, I provided, the CM is replaced. In much more complex IT or even ST it happens it is not replaced.

[2020-09-01 13:49] thmshmm commented on #2445
Hi @manusa , confirmed. For me it's running into line 441 and skipping while compared it's definitly different data.

[2020-09-01 14:00] thmshmm commented on #2445
Line 107 and 108 in ResourceCompare return 'null'. Therefore isEqualSpec returns true in line 111.

[2020-09-01 14:59] manusa opened #2454 "createOrReplace methods should behave like kubectl"
## Description

`kubectl` only replaces server resources in case the local resource has changed and is different to the one deployed on the cluster.
In case the local resource is `unchanged` no REST APIs will be hit.

In scope of #2372 we tried to mimic the behavior of `kubectl` but the implemented methods in `ResourceComparison` are incomplete, and lead to #2445.

We need to check how does `kubec

[2020-09-01 15:07] Ladicek commented on #2445
I can confirm that my ConfigMap isn't updates because the `createOrReplace` method ends up here: https://github.com/fabric8io/kubernetes-client/blob/v4.11.0/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/NamespaceVisitFromServerGetWatchDeleteRecreateWaitApplicableListImpl.java#L287

[2020-09-01 15:09] manusa commented on #2445
Thx all for your collaboration, sent a PR reverting that behavior.

[2020-09-02 10:51] #2445 closed

[2020-09-02 11:55] manusa commented on #2445
Patch should be available in https://github.com/fabric8io/kubernetes-client/releases/tag/v4.11.1

[2020-09-02 14:49] umutkocasarac opened #2458 "creating new instance of the DefaultKubernetesClient is hanging"
Creating new instance of the DefaultKubernetesClient is hanging and never responding. I could see the following messages  on the logs

[code]

The reason for that is kubernetes client using the config file and trying to get token from the AWS with the aws cli. However there is an issue with the following code

[code]

ProcessBuilder should read the output of the command before waiting the result o

[2020-09-02 14:50] rohanKanojia commented on #2458
@umutkocasarac: Please go ahead and create a PR to fix this.

[2020-09-02 14:52] rohanKanojia commented on #2458
Are you facing this issue after upgrade to v4.11.0 or are you using client for the first time?

[2020-09-02 14:56] rohanKanojia commented on #2458
I think you should be facing this issue on older versions too since we haven't changed this code in recent releases.

[2020-09-02 18:08] umutkocasarac commented on #2458
I am getting this error on both v4.10.3 and v4.11.0 versions

[2020-09-02 18:20] rohanKanojia commented on #2458
pheww, It's not a regression :-) . Actually, since we released 4.11.0 people have reported a few regressions. I was a bit worried if this is another regression.

[2020-09-02 21:21] nathanieltalbot opened #2460 "Querying for an event based InvolvedObject fields"
I'm currently trying to write queries for the kubernetes client that allow me to get all of the events for a given deployment. Based on the `--v=8` output from kubectl, the URL for the raw GET request to the API should look something like this:

GET
`/api/v1/namespaces/{namespace}/events?fieldSelector=involvedObject.name={name}&involvedObject.namespace={namespace}&involvedObject.kind=Deployment&in

[2020-09-03 06:06] rohanKanojia commented on #2460
I don't see any problem in adding it :-)

[2020-09-03 07:53] umutkocasarac commented on #2458
hey @rohanKanojia I am getting permission error while pushing my changes. Do I need to do anything before pushing my changes to branch?

kubernetes-client % git push origin iss_2458
ERROR: Permission to fabric8io/kubernetes-client.git denied to umutkocasarac.
fatal: Could not read from remote repository.

[2020-09-03 08:20] rohanKanojia commented on #2458
oh, you need to fork the repository and then push to your own fork.

1. Fork Fabric8 Github repository to your account
2. Add your fork remote `git remote add my-fork https://github.com/umutkocasarac/kubernetes-client.git`
3. Push to your fork `git push my-fork iss_2458`
4. Make PR against fabric8 master from Github UI :rocket:

[2020-09-03 10:14] jerryTJ opened #2462 "Access the Kuberntes API from inside the Pod"
create client by:
 **Config config = new ConfigBuilder().withMasterUrl(_masterUrl_).build();
 DefaultKubernetesClient client = new DefaultKubernetesClient(config);**

### sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

[2020-09-03 10:17] rohanKanojia commented on #2462
I think when using client automatically detects stuff when being used from within a Pod. What happens when you won't provide any configuration?

Here is an example project I used previously to showcase How can we use Kubernetes Client from within a Pod:

https://github.com/rohanKanojia/kubernetes-client-inside-pod

[2020-09-03 15:15] rohanKanojia commented on #2314
Umm, Shall we do this? Right now even `kubectl` throws the same error:
[code]

[2020-09-04 19:25] Obirah commented on #2442
Hi @rohanKanojia, how do we proceed with this? Shall create a PR with my suggested change or does this need another solution?

[2020-09-05 07:01] rohanKanojia commented on #2442
You mean replacing Project.class with Project request.class? Yes, please go ahead and create PR 👍

[2020-09-06 21:52] thecomplexitytheorist opened #2466 "Kubernetes mock server creating a null object"
public KubernetesServer server = new KubernetesServer(true, true);
is creating a null object in place of server resulting in a nullpointer exception

[2020-09-06 23:06] #2466 closed

[2020-09-06 23:21] #2250 closed

[2020-09-06 23:22] #2232 closed

[2020-09-07 07:25] matthyx opened #2467 "OpenShiftClient cannot replace existing resource with API version =! v1"
**openshift version:** 3.11
**appeared since:** 4.11.0
**affected objects:** any object that has an API version different than v1, imagestream (image.openshift.io/v1), route (route.openshift.io/v1), ...

It looks like the replace mechanism has changed and you now try to POST an object to catch the error 410 to detect if it already exists. I think the POST somehow sends the wrong API version, compa

[2020-09-07 09:15] Fabian-K commented on #2043
I´m also interested in this! If no one is already working on this I can try to contribute it. Do you see this as a new extension or should this be added to the existing tekton extension?

[2020-09-07 09:18] rohanKanojia commented on #2043
@Fabian-K : Thanks a lot! In my opinion, it should be added to existing tekton extension

[2020-09-07 10:21] #2258 closed

[2020-09-08 05:20] #2411 closed

[2020-09-08 08:02] manusa commented on #2043
Please go ahead! Thank you very much.

[2020-09-09 06:29] rohanKanojia commented on #2395
@KateGo520 : I've addressed this issue in #2470 . Could you please review https://github.com/fabric8io/kubernetes-client/pull/2470/files#diff-1f12452d1b29276896da60025e9cd04cR21 ?

[2020-09-09 06:35] rohanKanojia commented on #2408
Sorry, I think I said we don't support it without checking. I checked the code and seems like this flag is being passed:

https://github.com/fabric8io/kubernetes-client/blob/a007adfd50e6603167aae5eac481215a4159f900/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/core/v1/PodOperationsImpl.java#L159-L161

I think this should do the trick for you:
[code]

[2020-09-09 06:36] rohanKanojia commented on #2408
The only thing we're missing is adding some documentation about these supported flags

[2020-09-09 11:25] rohanKanojia commented on #2454
I think `kubectl` adds the last applied object as an annotation and compares the new request with this while replacing.

Here is an example for doing `createOrReplace` on a Deployment:
[code]
When I check `hello-dep`, I'm able to see `kubectl.kubernetes.io/last-applied-configuration`:
[code]
Here is an example for createOrReplace with Service:
[code]

[2020-09-09 11:40] matthyx commented on #2467
@rohanKanojia this is the problem that I thought would be corrected by #2453

[2020-09-09 11:43] rohanKanojia commented on #2467
oh, okay. I will try to reproduce this and provide a fix.

[2020-09-09 12:06] manusa commented on #2454
So basically kubectl adds a JSON snapshot of the provided YAML whenever a `kubectl apply -f ...` operation is performed, right?

I'm not sure this is a behavior we want to implement (at least as a default behavior).

If we add such an annotation it will pollute and clutter the annotations of any resource created with Kubernetes Client.
It will also be sort of "unstable", since a `createOrReplace`

[2020-09-09 12:09] rohanKanojia commented on #2454
What shall we do about users complaining replace not getting ignored like this issue #2439 ?

[2020-09-09 12:24] manusa commented on #2454
I think that issue is based on wrong expectations (IMHO).

Issue:
1. List of resources (service + deployment) is loaded from YAML file
1. Deserialized resource list is applied to the cluster using Kubernetes-Client
1. YAML deployment entry is modified externally
1. YAML is re-deserialized into a new resource list
1. Complete list of resource is applied to the cluster using Kubernetes-Client
1. Sin

[2020-09-09 17:27] longwa commented on #2408
Thanks, that's what I was looking for, just didn't see it initially.

[2020-09-09 17:30] rohanKanojia commented on #2408
@longwa : No worries. I think one of the main problems in this project is that there is not much documentation present for users. I'll try adding documentation for Pod options here: https://github.com/fabric8io/kubernetes-client/blob/master/doc/CHEATSHEET.md

[2020-09-09 17:42] longwa commented on #2408
@rohanKanojia Most of the API is very intuitive and easy to discover. It's is much easier to use than the official client.

[2020-09-09 17:44] rohanKanojia commented on #2408
@longwa : Thanks a lot for your feedback. I also think our API is more friendly to java developers(but I used to think I was biased :roll_eyes: )

[2020-09-10 12:07] Fabian-K opened #2474 "Config.fromKubeconfig throws NPE in master"
Hi,

just noticed that https://github.com/fabric8io/kubernetes-client/pull/2437 broke `Config fromKubeconfig(String kubeconfigContents)`. In this case kubeconfigPath is null and new File() throws the NPE.

Best regards,
Fabian

[2020-09-10 12:14] chongyangxue commented on #2060
Does this issue solved in latest version of kubernetes-client?
I'm having the same issue in 4.11.1.
@rohanKanojia

[2020-09-10 12:18] rohanKanojia commented on #2060
We had reverted it's fix due to this regression #2445 . Now we're discussing strategies on how to achieve this in #2454

[2020-09-10 12:50] rohanKanojia commented on #2474
@Fabian-K : Would it be possible for you to create a quick PR to fix this?

[2020-09-10 13:04] #2442 closed

[2020-09-10 13:25] #2340 closed

[2020-09-10 13:25] #2395 closed

[2020-09-10 16:36] #2408 closed

[2020-09-11 03:20] #2242 closed

[2020-09-11 06:54] hanneshofmann opened #2479 "Unable to deserialize model objects in OSGi"
When the _kubernetes-client_ and _kubernetes-model-*_ bundles are integrated in an OSGi application, the model deserialization fails with the following exception:
[code]

As discussed in Gitter ([[0]](https://gitter.im/fabric8io/kubernetes-client?at=5f5a59a8b468994d0d1e0fdb) and [[1]](https://gitter.im/fabric8io/kubernetes-client?at=5f5b080af51808513b36b4b4)), it seems that the _manifest_ of the `

[2020-09-12 16:19] jorgesartori commented on #2334
This '... admission webhook "mongodb.mutators.kubedb.com" ...' is from kubeDB and each CRD operator has some webhooks that you must obey.
Try using a template engine like Mustache to interpolate your yaml ;)

[2020-09-14 08:44] jpiccaluga opened #2482 "Issue with release 4.11.x"
Hello,

Could you check the release 4.11.x?
It looks like child modules in version 4.10.3 are pulled instead of 4.11.x.

Regards

Julien

[2020-09-14 08:53] rohanKanojia commented on #2482
@jpiccaluga : Could you please elaborate? which child modules are you referring to? How can we reproduce this issue?

[2020-09-14 10:11] manusa commented on #2462
Was the issue fixed? What JDK version are you using in your container?

[2020-09-14 10:29] manusa commented on #2439
Discussion for this issue is open in #2454. please share your thoughts there.
Closing this issue in favor of the other.

[2020-09-14 10:29] #2439 closed

[2020-09-14 10:53] #2467 closed

[2020-09-14 11:33] rohanKanojia commented on #2449
Hi, I think adding output stream should work just fine. Are you getting some error when you pass `ByteArrayOutputStream`? I've tried code like this multiple times and it seems to work for me:

[code]

[2020-09-14 11:34] rohanKanojia commented on #2444
@Shivkumar13 : polite ping, Are you still working on this issue?

[2020-09-14 17:10] Shivkumar13 commented on #2444
@rohanKanojia apologies for the delay, I will update my findings in a day.
Was in other tasks for a while.

[2020-09-14 20:42] sidharthnayyar opened #2486 "Updating resource fails with the namespace of the object (XYZ) does not match the namespace on the request (ABC)."
Hi,

I have a controller in which I want to update different resources. I am hoping I can do something generic like:

            `context.getClient().resource(item).createOrReplace().setMetadata(currentMetadata);`

where item can be namespace, service account, priority class, etc. However when the above command is executed it gives the error:

            `the namespace of the object (XYZ) does n

[2020-09-15 08:28] takvamborgen opened #2488 "io.fabric8.kubernetes.internal.InternalResourceMappingProvider not in module"
Hi!

`jar --file=kubernetes-model-rbac-4.11.1.jar --describe-module` gives the following error:

[code]

Are you planning to fix this, and if so, when? :)

Thank you.

[2020-09-15 09:15] rohanKanojia commented on #2488
ah, that's not good :-( . We'll try to fix this as soon as we can. Would it be possible for you to send us a PR to fix this? I think you would need to provide mapping for types like this:

https://github.com/fabric8io/kubernetes-client/blob/master/extensions/knative/model/src/main/java/io/fabric8/knative/api/model/KnativeResourceMappingProvider.java

[2020-09-15 09:47] FWiesner opened #2489 "Shared informers should be better supported with adapted clients"
I tried modifying the Istio add-on to support shared informers and had a hard time doing so. I was able to fix the other project to populate `@ApiVersion` and `@ApiGroup` accordingly, but then hit two issues that I think should be fixed on kubernetes-client to make extensibility of shared informers easier.

1. `SharedInformerFactory` uses `io.fabric8.kubernetes.client.utils.Util#getPluralFromKind(

[2020-09-16 04:56] manusa commented on #2488
This is broken for all `kubernetes-model-generator` modules which contain a `src/main/resources/META-INF/services/io.fabric8.kubernetes.api.KubernetesResourceMappingProvider` descriptor with a reference to a provider not provided in the same module (namely `io.fabric8.kubernetes.api.KubernetesResourceMappingProvider`).

Probably the Service Provider configuration file was left-over in #2137/ #2108

[2020-09-16 05:53] #2111 closed

[2020-09-16 06:50] #2474 closed

[2020-09-16 07:59] rohanKanojia commented on #1997
When I was fixing #2111 I tried it out and found out that client works with OIDC(i.e. client is able to load the token from auth-provider config). Maybe it wasn't the case when this issue was filed. I think we can close this issue.

[2020-09-16 07:59] #1997 closed

[2020-09-16 08:01] rohanKanojia commented on #2368
I have added support for automatically refreshing tokens in #2447 and I think it should fix this issue. I've tested it on IBM cloud instance too. I think we can close this, feel free to reopen if you think there is something missing.

[2020-09-16 08:01] #2368 closed

[2020-09-16 09:02] #2399 closed

[2020-09-16 10:02] #2314 closed

[2020-09-16 10:08] lordofthejars commented on #2273
Well `System.exit` is aggressive I know but at the end it is a Pod, I think it is a good approach as an `exception` means something went wrong (really wrong) so I think that a restart is the best default approach. After all, anyone is free to override this behaviour.

[2020-09-16 10:21] Mrart opened #2491 "How to use this client to force delete pods."
If pod stuck in Terminating status, How to use thic client to delete it  like "kubectl delete pod <pod_name> -n <namespace> --grace-period 0 --force".

[2020-09-16 10:32] rohanKanojia commented on #2491
Does this work:
[code]

[2020-09-16 15:04] #2043 closed

[2020-09-16 15:27] #2479 closed

[2020-09-16 15:59] anshlykov opened #2494 "Refactoring DeploymentOperationsImpl and ReplicaSetOperationsImpl in extensions/ and apps/ to avoid duplication"
Based on the discussion here https://github.com/fabric8io/kubernetes-client/pull/2409#issuecomment-678788787

[2020-09-17 06:25] rohanKanojia commented on #2449
@Chiarorucs: polite ping, Did you get any chance to revisit this? We have a test case to verify this too:

https://github.com/fabric8io/kubernetes-client/blob/dcae060f8fef7611c792a0c59dbb221737161ab5/kubernetes-itests/src/test/java/io/fabric8/kubernetes/JobIT.java#L65-L73

[2020-09-17 08:06] Mrart commented on #2491
It is not worked . As the nodes has lost, and the pods is stuck and the 'metadata.deletionTimestamp' != null.

[2020-09-17 08:12] Mrart commented on #2491
@rohanKanojia . Is there any way to use --force. The pods still continue to run and don't terminate even after 30 seconds, they're stuck on "terminating".

[2020-09-17 08:28] FqqCS opened #2496 "KubernetesClientException: too old resource version; PullRequest #1800 is not released"
I got an issue KubernetesClientException: too old resource version with version 4.11.1
I find this issue was fixed in PullRequest #1800 ；but this happend with the latest version，and i find these code is not in master branch.

[2020-09-17 08:47] rohanKanojia commented on #2496
https://github.com/fabric8io/kubernetes-client/pull/1800#issuecomment-549561724

[2020-09-17 08:52] rohanKanojia commented on #2295
I think this code should be able to do it:
[code]

[2020-09-17 08:52] #2295 closed

[2020-09-17 08:56] FqqCS commented on #2496
Thanks.  so maybe the solution is restart watch when this exception happened.

[2020-09-17 08:56] #2496 closed

[2020-09-17 10:04] rohanKanojia commented on #2491
[code]

[2020-09-17 10:40] netikras opened #2497 "exec stdout buffer [PipedInputStream] possibly mishandled"
It looks like the PipedInputStream tends to miss the _last_ buffer update.

I haven't dug any deeper (no time for this, sry), but shouldn't it check whether there's any data in the buffer before blindly returning -1 after the pipe is closed?

[code]

This results in the following:
- I cannot get output of `uname -a`, as it's a very quick command with short output. I see this output in the stream's

[2020-09-17 11:05] netikras commented on #2497
Last bytes of the long output missing in the buffer
![Pažymėjimas_999(112)](https://user-images.githubusercontent.com/2045031/93462227-a86f6900-f8ee-11ea-8c22-bc1387685161.png)

The whole short output missing, although can be seen in the buffer
![Pažymėjimas_999(113)](https://user-images.githubusercontent.com/2045031/93462261-b7eeb200-f8ee-11ea-90e2-df848d9267ce.png)

[2020-09-17 12:26] Mrart commented on #2491
version > 4.9.3 supported '"--force" , like "
client.pods()
        .inNamespace("test")
        .withName("foo")
        .withPropagationPolicy(DeletionPropagation.BACKGROUND)
        .withGracePeriod(0)
        .delete();
"

[2020-09-17 12:26] #2491 closed

[2020-09-17 13:26] rohanKanojia commented on #2460
@nathanieltalbot : Is this only applicable to Events? On a closer look, I think you should be able to do it by just adding a field selector:

[code]

[2020-09-17 13:31] rohanKanojia commented on #2460
But this looks cleaner if we had support for this:
[code]

[2020-09-17 14:13] #2141 closed

[2020-09-17 15:40] netikras commented on #2497
Took me a while, but I've managed to rewrite the k8s adapter using official k8s client. And it seems to be working.
This is the `uname -a` output. Works as expected -- I've managed to dump the whole string.
![Pažymėjimas_999(116)](https://user-images.githubusercontent.com/2045031/93493483-9dc7ca80-f914-11ea-8596-0bf808082202.png)

and this is the `yum list installed` result. Not sure how come buff

[2020-09-18 06:20] #2452 closed

[2020-09-18 07:57] FWiesner opened #2499 "Major breakage detected in master (4.11-SNAPSHOT) due to #2292"
the fix for #2292 (rev 2652139f) is breaking our solution as Kubernetes is not reliably returning HTTP 409, but at times can also respond with error 500 with a message to please retry. This is confirmed with Kubernetes v1.16.7 up to v1.19.1.

2020-09-17 15:57:36.963+0200 |  | ::: | .175.80.197:6443/... |  WARN | .i.WatchConnectionManager |  | Exec Failure2020-09-17 15:57:36.963+0200 |  | ::: | .17

[2020-09-18 08:07] FWiesner commented on #2499
quick hack  for lines 397 onwards (as of 1832b75d)with `Thread.sleep` and no timeout...

[code]

[2020-09-18 09:46] nbn opened #2500 "Question: Loading CRD resources as part of list"
Hi,
Have used the API for a while to read and process resources prior to deployment
I have a use case where I read a yaml list from an inputstream into a list, manipulate each element and update them on the server.

The code looks roughly like this

            List<HasMetadata> metadataList = client.load(resourceAsStream).get();
            for (HasMetadata metadata : metadataList) {

[2020-09-18 16:45] saparaj commented on #2452
Thank you @rohanKanojia, Sorry I missed your comment.

[2020-09-20 19:54] jiningh opened #2503 "Suppress config warning"
Hi,

I'm running an app outside of the cluster, everytime I make a config object the following warning happens:

`WARN  io.fabric8.kubernetes.client.Config - Error reading service account token from: [/var/run/secrets/kubernetes.io/serviceaccount/token]. Ignoring.`

Obviously this wouldn't exist outside the cluster. This is my code making the client:

`val config: Config = Config.fromKubeconfig("k

[2020-09-21 05:39] manusa commented on #2503
Relates to: #2271

[2020-09-21 06:49] rohanKanojia commented on #2279
@gilbirenberg: On 4.11.x, When I try to load Yaml like this I don't get any error, CRD seems to be created for me:

[code]

[2020-09-21 08:12] LEDfan opened #2504 "IntOrString does not support parsing of longs"
Hi

I'm using this client for a project which creates some pods. In the configuration of this project, a JSON Patch can be specified which should be applied to the Pod before it is created.
Using Jackson and the javax.json libraries this works, except when using probes. The probes contain a value `httpGet.port` which should be either a string or an integer. In our case this should be an int, becau

[2020-09-21 09:43] blev007 opened #2505 "Sonar detects vulnerabilities in openshift-model-4.11.1.jar"
Hello,
I recently upgraded the K8s java client to 4.11.1, and when running Sonar on our projects, Sonar now detects 3 major vulnerabilities in openshift-model-4.11.1.jar.
Are you aware of these vulnerabilities ?
I can provide you with the detailed Sonar info in a private message, if needed.
Thanks in advance.
Best regards,

[2020-09-21 10:44] rohanKanojia commented on #2505
@blev007 : Could you please send details to me and @manusa in email or gitter message[0]?

[0] https://gitter.im/fabric8io/kubernetes-client

[2020-09-21 16:47] saparaj commented on #2454
@manusa Agree with you on annotations part that it will pollute and clutter the annotations of any resource created with Kubernetes Client. Usecase from #2439, Can you please elaborate more on how that can be solved with a simpler approach?

[2020-09-22 02:55] coopstah13 commented on #2499
A lesser problem, but this also breaks tests using the KubernetesCrudDispatcher as the dispatcher is not implemented with the same behavior as is now required by the createOrReplace method. The dispatcher just blindly adds the object to the map, so it is random which you will get in any subsequent request.

[2020-09-22 03:40] Prchgit commented on #2175
Not only resolved in 1.8.0_262 as well.

[2020-09-22 15:03] uklance opened #2506 "Wildcard (*) in NO_PROXY environment variable is not honored"
I need to set my `https_proxy` environment variable to `http://127.0.0.1:3128` for reasons unrelated to `kubernetes-client`

The following scenario causes an error as `kubernetes-client` tries to proxy the `masterUrl` via http://127.0.0.1:3128
- masterUrl = "https://test-api.mydomain.com:6443"
- https_proxy (environment variable) = "http://127.0.0.1:3128"
- NO_PROXY (environment variable) = "*.myd

[2020-09-22 15:33] hegdevenky opened #2507 "createOrReplace method doesn't support generateName for Jobs"
`createOrReplace` method throws `java.lang.IllegalArgumentException: Name must be provided.`  when I try to create Job resource from YAML job definition file which has `generateName` property instead of `name`.  Here is my YAML definition for a Job.

[code]

Thanks,
Venky

[2020-09-23 06:45] dxxd116 commented on #1598
I have the same issue when I try to  lauch spark job using jupyter/pyspark-notebook image from Jupyterhub.

[2020-09-24 10:30] #2391 closed

[2020-09-25 22:54] rktechie opened #2509 "Support for kubernetes 1.16"
I see in the documentation that kubernetes 1.15.3 and 1.17.0, which of the clients support kubernetes 1.16?

[2020-09-26 14:19] Chiarorucs commented on #2449
I'm so so sorry to reply this issue so late. It's a tough and busy period for me .

After a few days later since I commit this issue, I had been awared to the delay which kubernetes client may bring.And I try to use the method Thread.sleep() and make it.  So your solution is correct!

Thank you so much and apologize again!

[2020-09-26 14:19] #2449 closed

[2020-09-27 03:29] rittneje opened #2510 "Yaml containing aliases rejected due to FasterXML bug"
There is a long-standing bug in the way that FasterXML handles yaml containing aliases. https://github.com/FasterXML/jackson-dataformats-text/issues/98

As a consequence, anyone using perfectly valid yaml containing aliases (which may have been automatically generated via SnakeYaml) will get a mysterious error message like this:
[code]

Is the use of FasterXML strictly required? Would it be possib

[2020-09-27 12:35] #2240 closed

[2020-09-27 12:35] #2230 closed

[2020-09-27 12:35] #2246 closed

[2020-09-27 13:56] opensource21 commented on #2092
Is the project dead?

[2020-09-27 14:22] k-wall opened #2511 "NPE received during createOrReplace for new Service resource"
I have a multi threaded application which creates a large number of services.  Very occasionally I see the code fail with a NPE.  The code seems to be erroneously following the replace path even though the object is new.

version: 4.10.3

Is this a recognised defect?

[code]

[2020-09-27 14:31] k-wall commented on #2511
Pardon, this was my own defect in my own code.

[2020-09-27 14:31] #2511 closed

[2020-09-28 02:28] Aitozi commented on #2509
BTW，another question: Is version  4.1.0  support Kubernetes 1.16？

[2020-09-28 04:57] manusa commented on #2092
Hi @opensource21
As you can see by [the number of commits](https://github.com/fabric8io/kubernetes-client/commits/master) and activity, the project is not dead.
We are really trying to make this a community driven project so PRs are welcome and greatly appreciated.

[2020-09-28 05:04] manusa commented on #2095
`createOrReplace` methods have been refactored (#2292 - #2372), so this issue should have been fixed.
Please @rombert, could you confirm if your procedure works with the latest release (4.11.1)?

There is a parallel issue (#2454) with an ongoing discussion for `createOrReplace` behavior. The behavior described in the first comment is related and would stop working again with some of the approaches

[2020-09-28 05:18] manusa commented on #2454
Hi @saparaj

The easiest way would be to provide a comparison method yourself, since you know which fields are bound to be changed (in case these are more or less always the same).

I really don't understand the purpose that lies beneath loading resources from a YAML file and then _applying_ them several times. Could you elaborate a little bit more on what you are doing? I really think there must

[2020-09-28 05:19] manusa commented on #2507
Is this still happening in 4.11.1?

[2020-09-28 05:23] rohanKanojia commented on #2507
Yes, this is still an issue on 4.11.1. KubernetesClient requires `name` field to be provided, otherwise it throws error. We should try to generate a name when generateName is specified.

[2020-09-28 05:31] rohanKanojia commented on #2509
We updated the Kubernetes Model to Kubernetes 1.17.x in v4.7.0. In our compatibility matrix, when we say the client supports 1.17.x, we mean it supports up to Kubernetes 1.17.x(unless there is some breaking change in between Kubernetes 1.16.x and 1.17.x).

Could you please try with versions after 4.7.0 for your setup and see if they work fine? Are you looking for something in particular related to

[2020-09-28 05:33] manusa commented on #2510
I've personally bumped into a few issues when serializing and deserializing content from the client. It seems that YAML produced/serialzied by Jackson can't be deserialized again in some circumstances (another example is deserializing YAMLs double curly brackets >> Helm chart [template variables](https://helm.sh/docs/chart_template_guide/variables/)).

This is something we'll need to look into.

[2020-09-28 07:06] rohanKanojia commented on #2397
KubernetesClient tries to do a relist+rewatch after every resync period. The resync plays back all the events held in the informer cache. It can be chosen based on how often you want to reconcile. You've current set the resync period to 1 minute, client is rebuilding its cache after every 1 minute(that's why you're seeing update events in your cache). If you don't want this to happen, you may want

[2020-09-29 15:14] rohanKanojia opened #2513 "Add Support for Kubernetes 1.19.0"
Kubernetes 1.19.0 got released a month ago. we should upgrade our Kubernetes Model to 1.19.0

https://github.com/kubernetes/kubernetes/releases/tag/v1.19.0
https://kubernetes.io/blog/2020/08/26/kubernetes-release-1.19-accentuate-the-paw-sitive/

[2020-09-29 15:59] FWiesner opened #2514 "Add a warning banner that warns you about behavior differences between running on cluster vs off cluster"
We just stepped into this:

[code]
(from outside the cluster)

is semantically equal to
[code]
(from inside the cluster)

---
[code]
from inside the cluster will give you an informer just for the namespace in which you run your service.

Therefore
[code]
should IMHO trigger a warning banner telling you about the ambiguity.

[2020-09-29 17:31] coopstah13 opened #2516 "Cannot use deployment rolling restart API with CRUD mockwebserver"
CRUD mockwebserver attempts to perform a JSON Patch (`application/json-patch+json`) against the request, but the request is using `application/strategic-merge-patch+json` which has different semantics for the patching.

To reproduce:

- Start up a mockwebserver in CRUD mode.
- Create a deployment
- Restart deployment using below code

[code]
Results in this error in the server:
[code]
Not sure wha

[2020-09-29 17:48] #2414 closed

[2020-09-29 18:27] nbn commented on #2500
Thanks to @rohanKanojia the monitoring objects were included as inherent objects, fixing #2321. This means that from 4.11.1 this is native.

[2020-09-29 18:27] #2500 closed

[2020-09-29 19:51] coopstah13 opened #2517 "replace does not work in CRUD mockwebserver"
handleReplace calls doDelete as shown:
[code]
in `doDelete`:

[code]
Thusly, the item is not removed from map because event is null, it seems to me that the call to map.remove should be outside of the if block.

[2020-09-30 05:03] manusa opened #2518 "Review release procedure"
## Description

It has been reported by several users that they've spent a considerable amount of time dealing with breaking changes and remaining clueless upon the procedure they must follow to upgrade their code.

We need to improve our release process so we avoid such situations.

Changelog should highlight in some way if there are breaking changes. Any change that breaks backwards compatibilit

[2020-09-30 12:50] manusa opened #2519 "Generated schemas contain a deprecated meta-schema URI reference"
## Description

[JSON schemas](https://json-schema.org/) generated by the client contain an unversioned meta-schema URI reference.

![image](https://user-images.githubusercontent.com/488391/94908658-4e4fd580-04a2-11eb-9fb8-448cea3a0bcf.png)

The [value](https://json-schema.org/understanding-json-schema/reference/schema.html) referenced here:
https://github.com/fabric8io/kubernetes-client/blob/e618

[2020-09-30 12:56] #2488 closed

[2020-10-01 12:55] nbn opened #2522 "Leaking connection and API POST apps.openshift.io/v1 bug"
Hi,

Was using version 4.10.2 without any problems, but failed some consequences migrating to 4.11.1. My usual context is openshift, so I utilize deploymentconfigs and routes quite often, but needed the monitoring stuff included with 4.11

Here's my example code snippet, which creates a deploymentconfig, then retrives it and updates it.

    public static void main(String[] args) {
        String

[2020-10-01 13:34] rohanKanojia commented on #2522
Umm, Would it be possible for you to check if this issue is reproducible on master? I think we have provided a fix for this in https://github.com/fabric8io/kubernetes-client/pull/2475

[2020-10-01 17:11] nbn commented on #2522
I have tried to check out and build master, but cannot get past the kubernetes-client project before it has a compilation failure of

    [ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:testCompile (default-testCompile) on project kubernetes-client: Compilation failure: Compilation failure:
    [ERROR] /C:/kubernetes-client/kubernetes-client/src/test/java/io/fab

[2020-10-01 17:13] rohanKanojia commented on #2522
Could you please try https://jitpack.io/

[2020-10-01 17:53] nbn commented on #2522
Interesting tool, thanks.

Got it, and it seems to work on master. When is next release scheduled?

[2020-10-02 07:46] manusa commented on #2146
[merge]

[2020-10-02 08:11] #2146 closed

[2020-10-02 13:11] jonathanvila opened #2526 "Output the http REST communication to the log"
In order to see messages sent and received from/to the K8s client and debug possible issues, having all the http requests to K8s API logged it's interesting. Having the endpoint, and payload sent/received and http headers.

[2020-10-04 02:17] #2279 closed

[2020-10-04 14:17] #2236 closed

[2020-10-05 05:11] rohanKanojia commented on #2264
I think `SelfSubjectAccessReview` API has been fixed and it can be used. Please checkout this example: https://github.com/fabric8io/kubernetes-client/blob/master/doc/CHEATSHEET.md#selfsubjectaccessreview

[2020-10-05 08:53] adferrand opened #2527 "SharedIndexInformer watches only pods of its own namespace when run in the cluster"
I am trying to build a Kubernetes controller using ` fabric8io/kubernetes-client`. As of now I use the version `4.10.3`.

For that purpose I am constructing a `SharedIndexInformer` to properly watch resources events emitted by the cluster. I will take pods as resources example here.

So the `SharedIndexInformer` is constructed following this piece of code:
[code]

Following, lot of code to attach

[2020-10-05 09:03] nbn commented on #2522
Have verified with 4.12.0 that everything works again, thanks.

[2020-10-05 09:03] #2522 closed

[2020-10-05 09:13] manusa commented on #2518
We can maybe add an extra subheading for each release `Breaking changes`.

Each entry in one of the previous sections (Bugs, Improvements, ...) which involves a breaking change (as marked in the PR), should also include an entry in this new subsection.

[2020-10-05 09:25] manusa commented on #2516
Hi @coopstah13
We certainly need to provide different implementations for the handelPatch method in the MockWebServer, since we are already using 2 different PATCH strategies [`application/json-patch+json`](https://github.com/fabric8io/kubernetes-client/blob/2d1a9d47d42e6aa37ba3cb0e70ede9429c93e392/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/OperationSupport.java#L313) &

[2020-10-05 09:34] manusa commented on #2514
If there is nothing implementation-wise specific for this, maybe it's related to the permissions of the service account used by default from Kubernetes Client when inferring the configuration from within the Pod container.

I'm not sure how we can check if we're able to infer that informers are only working for the current namespace or for all namespaces due to a permission issue.

Should the `inf

[2020-10-05 09:42] FWiesner commented on #2514
The problem is that the k8s client is usable directly, without calling `inNamespace` or `inAnyNamespace`. That would be fine for cluster scoped entities. But, it works for namespaced resources as well. And then the context in which you run your app matters. In case you run it against the cluster, the client is then a `inAnyNamespace` instance. If you run it on the cluster, the client is by default

[2020-10-05 09:44] manusa commented on #2510
Hi @rittneje

Could you provide a sample of the YAML content that's failing for you so we can create specific tests for this issue before we proceed with a fix?

[2020-10-05 09:47] manusa commented on #2509
It's probably safe to assume that Kubernetes Client works with 1.16.x
- We should check from which Kuberentes-Client version we are 1.16.x compliant
- We should also use this issue to reverse the compatibility matrices so that newest/more recent versions come left-most and top-most

[2020-10-05 09:56] manusa commented on #2507
This method
https://github.com/fabric8io/kubernetes-client/blob/65d3282e666673dc0e557ebf0ce2790a56e533e6/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/BaseOperation.java#L253-L258

should also check if the `metadata.generateName` is not blank before throwing the validation exception.

[2020-10-05 10:04] manusa commented on #2504
We already provide deserialization utils.

Is this error reproducible when using `Serialization#unmarshal` methods?

[2020-10-05 10:30] manusa commented on #2482
4.12.0 is already out. Could you check if this is happening with this release too?

[2020-10-05 10:33] manusa commented on #2458
We assume that this issue was fixed with #2487. Please open another issue in case you're still facing problems.

[2020-10-05 14:20] sivanov-nuodb opened #2528 "Error messages emitted on shared informers shutdown"
Fabric8 Kubernetes client `4.11.0`.

When invoking `SharedInformerFactory::stopAllRegisteredInformers()}` to gracefully shutdown all registered informers a lot of thread interrupted and socket closed exceptions are printed in the log as ERROR messages. It doesn't make sense to log them during shutting down. These may incorrectly indicate to the user that there is a problem with the application cod

[2020-10-05 14:42] matthyx commented on #2467
@rohanKanojia it works perfectly in 4.12.0 thanks a lot!

[2020-10-05 14:54] rohanKanojia commented on #2467
cool, Thanks! Apologies for inconvenience caused. In previous releases we released lots of breaking changes without notifying users about it. We're discussing this here: https://github.com/fabric8io/kubernetes-client/issues/2518 . Feel free to share your thoughts on it.

[2020-10-05 15:57] rittneje commented on #2510
[code]

[2020-10-05 19:00] jgray1206 opened #2529 "SelfSubjectAccessReviews broken with OpenshiftClient in 4.11.0-4.12.0"
I have been trying to follow the example docs on the SelfSubjectAccessReviews. I am able to get them to return valid responses using a DefaultKubernetesClient, but I get nulled out+empty response when using a DefaultOpenshiftClient. The POST request looks okay, which makes me think it is having troubles serializing the response into a valid SelfSubjectAccessReview.

[2020-10-05 19:05] rohanKanojia commented on #2529
What code are you trying?

[2020-10-05 19:16] jgray1206 commented on #2529
I don’t think I would be allowed to post the code directly, sadly. But it is verbatim what exists in the examples docs. Instead of creating a DefaultKubernetesClient, though, I am creating a DefaultOpenshiftClient. I am checking for “update” permissions on a “builds” resource. The response comes back filled with Java default values. Changing from a Openshift to Kubernetes client fixes it instantly

[2020-10-05 19:58] rohanKanojia commented on #2529
oh, you mean it's working for `KubernetesClient` only :cry: ? Will try to reproduce

[2020-10-06 06:13] fransguelinckx commented on #1996
We have a workaround where we re-package the kubernetes-client packages in 1 jar, so certainly no blocker.

[2020-10-06 09:00] matthyx commented on #2518
In my particular case, it was more a regression that went thru because of incomplete test coverage... actually I saw that you @rohanKanojia have improved it while fixing in #2490

[2020-10-06 15:32] rohanKanojia commented on #2529
I'm not able to reproduce this, here is what I'm doing:

[code]
When I run this on OpenShift 3.11 based cluster, I get this output:
[code]

[2020-10-06 16:00] jgray1206 commented on #2529
Hmm are you able to test a situation where the request should return “true”? The client does return a valid status object, but the primitive/objects within are all defaulted. Which may explain why you got “false” there.

[2020-10-06 17:07] rohanKanojia commented on #2529
Hmm, I think you're right. It should have returned `true`. I was expecting some error while deserializing response.

[2020-10-06 18:14] jgray1206 commented on #2529
Yeah it is weird. I didn’t get any errors either. Just a completely defaulted object.

[2020-10-06 18:15] rohanKanojia commented on #2391
Yes, I remember @anshlykov provided us a fix(#2409) for this issue. Looks like we missed to add this change to the changelog. It is available in v4.12.0. Please try it out and provide feedback. There might be a few minor breaking changes(mentioned in changelog).

[2020-10-06 19:45] rohanKanojia commented on #2514
I saw the same question on StackOverflow about this: https://stackoverflow.com/questions/64204044

I think Marc is right, this change in behavior is related to the `ServiceAccount` mounted in container.

After looking into it, looks like when inside a Pod `KubernetesClient` picks up the default namespace from `ServiceAccount` mounted volume `/var/run/secrets/kubernetes.io/serviceaccount/namespace`

[2020-10-06 23:48] adferrand commented on #2527
I close the issue here to avoid duplicate with the question I also submit on StackOverflow: https://stackoverflow.com/questions/64204044/sharedindexinformer-fabric8-kubernetes-client-watches-only-pods-of-its-own-nam

[2020-10-06 23:48] #2527 closed

[2020-10-07 04:59] Dohbedoh opened #2531 "Allow setting the max concurrent requests via sysprop / envvars"
https://github.com/fabric8io/kubernetes-client/issues/914 provided the possibility to set the maximum connection requests on the Dispatcher but did not provided a way to set it via a system property / environment variable (a property name was introduced but not used: https://github.com/fabric8io/kubernetes-client/blob/v4.12.0/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Config.java

[2020-10-07 06:44] rohanKanojia commented on #2527
oh, I'm sorry. I didn't see your issue. This is also related to #2514

[2020-10-08 05:27] manusa commented on #2514
I guess this is caused here (L266):
https://github.com/fabric8io/kubernetes-client/blob/12839a5e934540061436a9551ced4655239a48f9/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Config.java#L263-L274

The call to `tryNamespaceFromPath` will indeed set the client's globally configured namespace:
https://github.com/fabric8io/kubernetes-client/blob/12839a5e934540061436a9551ced4655239a48f9

[2020-10-08 09:15] manusa commented on #2526
We'll also check if OkHTTP logging can be configured to print those messages.

[2020-10-09 10:07] #2531 closed

[2020-10-09 13:05] jeffmaury opened #2534 "Tekton extension does not support When expressions"
When expressions are not supported. Updating to the latest Tekton Pipeline will update model

[2020-10-09 13:18] rohanKanojia commented on #2534
@jeffmaury : Thanks a lot for reporting this. We would gladly accept a PR if you're interested in fixing this.

[2020-10-09 13:34] jeffmaury commented on #2534
Working on it

[2020-10-09 13:38] rohanKanojia commented on #2534
@jeffmaury : much appreciated, Thanks!

[2020-10-09 19:16] scholzj opened #2537 "Checking for Readiness of DeploymentConfig"
In Strimzi, we use Fabric8 to work with DeploymentConfigs. And one of the things we we do with it is checking if the DeploymentConfig is Ready. Normally we would use `DeployableScalableResource<DeploymentConfig, DoneableDeploymentConfig>` and call `isReady()`. But after the split of Kubernetes and OpenShift JARs, this method seems to be calling `Readiness.isReady()`. And because `Readiness` doesn'

[2020-10-09 19:27] rohanKanojia commented on #2537
How can I reproduce this? I remember I added a test which actually checks `waitUntilReady`:
https://github.com/fabric8io/kubernetes-client/blob/579d9728635bb1346b3c4e97eff1cb517e0af249/kubernetes-tests/src/test/java/io/fabric8/openshift/client/server/mock/DeploymentConfigTest.java#L306-L320

[2020-10-09 19:33] scholzj commented on #2537
I'm was just looking if I can figure out how to fix it. I can try to create a reproducer as well if you want. But I think the problem with your test is that the `waitUntilReady` is overriden in OpenShiftOperation and uses `OpenShiftReadiness.isReady(resource)`: https://github.com/fabric8io/kubernetes-client/blob/707ca3b4c38cdf76c33a0f02f517d8c49304b158/openshift-client/src/main/java/io/fabric8/ope

[2020-10-09 19:46] rohanKanojia commented on #2537
ohk. I think you're right. I think adding this to OpenShiftOperation should fix this:

[code]

[2020-10-09 19:59] rohanKanojia commented on #2529
This is extremely weird, when debugging this I can see the response returning false:
![Screenshot from 2020-10-10 01-26-42](https://user-images.githubusercontent.com/13834498/95626401-d3854c80-0a97-11eb-8436-6dc4028395e9.png)

But if I do CURL I'm able to see expected response :confused: :
[code]
Need to check what's different here in case of client ...

[2020-10-09 20:02] scholzj commented on #2537
Yeah, seems to work fine with the above. Unless you wanna do it your self I can try to open a PR for it.

[2020-10-09 20:03] rohanKanojia commented on #2537
I would appreciate if you could create a PR. Apologies for inconvenience caused.

[2020-10-09 20:04] scholzj commented on #2537
No worries. It is fairly easy to work around it in Strimzi ... so it doesn't really block us or anything.

[2020-10-09 20:06] rohanKanojia commented on #2537
pheww... Now I can have a stress free weekend :laughing:  . Thanks a lot for taking care of this :heart:

[2020-10-09 22:17] scholzj commented on #2537
Ok, I opened a PR. Please let me know if you have any comments. As I said, we have easy workaround which I already implemented, so as far as Strimzi is concerned no need to do any patch releases or anything. We can easily wait for the next regular release.

[2020-10-11 11:19] #2090 closed

[2020-10-12 06:17] rohanKanojia commented on #2293
@adietish : polite ping, Are you still working on this issue?

[2020-10-12 06:51] rohanKanojia commented on #2526
I checked code and looks like we're already using okhttp `logging-interceptor` for this:

https://github.com/fabric8io/kubernetes-client/blob/579d9728635bb1346b3c4e97eff1cb517e0af249/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/utils/HttpClientUtils.java#L158-L163

If I set logging level to `trace` in my `simplelogger.properties` file:
[code]
If I execute some code like this:
[code

[2020-10-12 09:19] rohanKanojia commented on #2509
I just checked compatibility with 1.16 by running our integration test suite on my branch with minikube's version set to 1.16.0: https://github.com/rohanKanojia/kubernetes-client/runs/1241248067?check_suite_focus=true

[2020-10-12 12:56] jpiccaluga commented on #2482
Hello Marc,

Yes it looks like I have the same issue. After upgrading kubernetes-clients
to version 4.12, I cannot longer do a createOrReplace on Crd because
`io.fabric8.kubernetes.api.model.apiextensions.v1beta1.CustomResourceDefinition`
not anymore in the classpath.
I also see in the dependency tree that kubernetes-clients to version 4.12
pull dependencies of version 4.10.3.

[image: image.png]

[2020-10-12 13:03] rohanKanojia commented on #2482
@jpiccaluga : Hi, Would it be possible for you to share a reproducer with us? We have an integration test which verified creation of CustomResourceDefinition of `apiextensions/v1beta1`:

https://github.com/fabric8io/kubernetes-client/blob/579d9728635bb1346b3c4e97eff1cb517e0af249/kubernetes-itests/src/test/java/io/fabric8/kubernetes/CustomResourceDefinitionIT.java#L47-L75

[2020-10-12 13:04] rohanKanojia commented on #2482
@stanlyDoge : Hello, Did you face any issue like this when upgrading to 4.12.0?

[2020-10-12 13:32] rohanKanojia commented on #2482
@jpiccaluga : What goal did you run exactly for dependency tree? When I'm running `mvn dependency:tree`, I'm not able to see any references to 4.10.3:
[code]

[2020-10-12 15:35] stanlyDoge commented on #2482
It sounds like stale .m2 to me. I had no problem with 4.11.x -> 4.12.0

[2020-10-12 21:29] jpiccaluga commented on #2482
After analysing the effective pom of my project I found out that
`org.springframework.cloud:spring-cloud-dependencies:Hoxton.SR8` was
pulling version 4.10.3 of all ìo.fabric8:kubernetes-model-xxx`.
I fix it by declaring `io.fabric8:kubernetes-client-bom:4.12.0`
before `org.springframework.cloud:spring-cloud-dependencies:Hoxton.SR8`
in dependencyManagement.

Thx you for your support.

Le lun. 12 oc

[2020-10-13 06:03] manusa commented on #2509
That's good, but we need to check from which Kubernetes Client Version we are 1.16 compliant. According to the current compatibility matrix, this should be between 4.6.0 and 4.7.0.

If we don't want to do any extra tests (probably not worth it), we should settle on 4.7.0.

[2020-10-13 06:28] #2537 closed

[2020-10-13 06:52] rohanKanojia commented on #2482
@jpiccaluga : cool, Shall we close this issue then :-) ?

[2020-10-13 07:04] #2534 closed

[2020-10-13 08:15] jpiccaluga commented on #2482
@rohanKanojia Yes we can close this issue.
Thx for your support ;-)

[2020-10-13 08:31] #2482 closed

[2020-10-13 20:02] saparaj commented on #2454
Hi @manusa,

What is the current logic of CreateOrReplace method then? I was assuming it will be similar to kubectl apply. Are there any low level apis that fabric8 client supports which we can leverage to write compare method ourselves?

Thanks,
Swarda

[2020-10-14 10:33] rohanKanojia commented on #2507
Upon investigation, it looks like KubernetesClient is behaving correctly. `name` field is required for `createOrReplace`(which is client's equivalent for `kubectl apply`). KubernetesClient works fine with plain `create()`. Even `kubectl apply` throws an error when generateName is used:
[code]

[2020-10-14 10:36] manusa commented on #2454
You can see the current behavior in the following lines:

https://github.com/fabric8io/kubernetes-client/blob/65d3282e666673dc0e557ebf0ce2790a56e533e6/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/BaseOperation.java#L408-L420

[code]

In a nutshell, as the method name suggests, the object is either created or replaced (always). `kubectl apply` would probably fit in a method

[2020-10-14 10:43] rohanKanojia commented on #2507
I'm able to create a Job with `generateName` like this:
[code]

[2020-10-14 13:52] rohanKanojia commented on #2507
@hegdevenky: I've created a PR https://github.com/fabric8io/kubernetes-client/pull/2544 for an integration test which tests generateName for job creation(using `create()`). Could you please try using `create()` instead of `createOrReplace()` and provide feedback?

[2020-10-14 18:29] rohanKanojia commented on #2517
@coopstah13 : Hi, I'm trying to reproduce this issue. Here is a reproducer I tried but this test seems to be passing:
[code]

On setting the breakpoint I do notice that `map.remove()` is skipped here like you pointed out:
https://github.com/fabric8io/kubernetes-client/blob/af0db547014d535d7756bf6fd2927ad10992315a/kubernetes-server-mock/src/main/java/io/fabric8/kubernetes/client/server/mock/Kuberne

[2020-10-15 00:53] coopstah13 commented on #2517
You need to change something about the deployment that will cause a different set of attributes to be detected for the object - try changing a label on it for example.

[2020-10-15 05:57] #2507 closed

[2020-10-15 08:29] valdar opened #2545 "openshift mock server: expose a way to configure DisableApiGroupCheck in openshift-server-mock"
Make `disableApiGroupCheck` https://github.com/fabric8io/kubernetes-client/blob/master/openshift-server-mock/src/main/java/io/fabric8/openshift/client/server/mock/OpenShiftMockServer.java#L37 configurable through ` OpenShiftServer` class https://github.com/fabric8io/kubernetes-client/blob/master/openshift-server-mock/src/main/java/io/fabric8/openshift/client/server/mock/OpenShiftServer.java

That

[2020-10-15 09:57] rohanKanojia commented on #2517
@coopstah13 : Thanks a lot for your reply. I can reproduce it now.

[2020-10-15 10:06] manusa commented on #2505
Hi Bruno, I just sent you an e-mail with a brief analysis of the report.

[2020-10-15 10:09] blev007 commented on #2505
Thanks Marc!

Le jeu. 15 oct. 2020 à 12:06, Marc Nuri <notifications@github.com> a écrit :

[2020-10-15 12:07] reste85 opened #2547 "Introduce possibility to sort results of list() operation by some label value"
Via kubectl it is possible to user the attribute --sort-by. Via fabric8 k8s client this is not currently possible. Keep in mind that the sorting is done client side.

Thank you!

[2020-10-15 16:49] coopstah13 commented on #2517
thanks for this

[2020-10-15 16:50] rohanKanojia commented on #2517
@coopstah13 : Np, Thanks a lot for noticing this!

[2020-10-15 18:11] rohanKanojia commented on #2509
@Aitozi  @rktechie: I've created a PR for adding Kubernetes 1.16.0 to the compatibility matrix. I would suggest using Kubernetes Client 4.7.0 and above. Could you please try it out and provide feedback?

[2020-10-18 17:30] #2318 closed

[2020-10-19 09:14] #2513 closed

[2020-10-19 13:09] adietish commented on #2293
@rohanKanojia sorry for the late reply. Yes I'll contribute the current code that I am using in intellij-kubernetes with success. I need the time to release our plugin and eventually have the time to have this issue progressing. :)

[2020-10-19 13:15] rohanKanojia commented on #2293
@adietish : Thanks a lot for your reply. We were discussing this in our previous issue triage session and were wondering if you wanted to contribute. No need to rush, please take your time with IntelliJ release :-)

[2020-10-20 07:04] rohanKanojia commented on #2526
@jonathanvila : Hi, Would you like to contribute a PR for this? I think it would be awesome if you could submit a Doc improvement PR to address this issue?

[2020-10-21 06:05] isaacpz opened #2554 "Provider not found"
Hi! No bugs or actions for maintainers in this issue. Just want to create it in order to document how I fixed a build error I had with this library. Hoping this helps somebody else who is searching the project issues for keywords like I was.

The error is:
[code]

I am using Gradle to build my project, and after a bit of turmoil I realized that certain classes from transitive dependencies (like io

[2020-10-21 06:05] #2554 closed

[2020-10-21 06:10] rohanKanojia commented on #2554
@isaacpz : Which version of KuberntesClient are you using? Could this be related to https://github.com/fabric8io/kubernetes-client/issues/2488 We've fixed this in v4.12.0

[2020-10-21 06:56] rohanKanojia commented on #2503
@jiningh : Hi, Our library uses SLF4J for logging. It can be configured to send output to a variety of destinations. Were you able to resolve this by tuning SLF4J log levels? If not, maybe we can make this line a `log.debug` statement rather than `log.warn`:

https://github.com/fabric8io/kubernetes-client/blob/f1b05115ceb7a1aef0a85f3f92cf04ddc3fa8f5d/kubernetes-client/src/main/java/io/fabric8/kube

[2020-10-21 07:25] jiningh commented on #2503
Yes, I filtered log levels to only show errors.

Thanks!

[2020-10-21 07:25] #2503 closed

[2020-10-21 07:26] rohanKanojia commented on #2503
@jiningh : cool, Thanks a lot!

[2020-10-21 08:20] rohanKanojia commented on #2509
polite ping, Did anyone get any chance to try KubernetesClient v4.7.0 on Kubernetes 1.16.x?

[2020-10-21 13:08] dixingxing0 opened #2555 "Error occurred while running FullExample"
Running with version 4.12.0, full error stack:

[code]

[2020-10-21 13:34] rohanKanojia commented on #2555
oh, that's not good. I remember we refactored Rolling Update API in like `kubectl` in https://github.com/fabric8io/kubernetes-client/pull/2272

[2020-10-21 13:41] rohanKanojia commented on #2555
@dixingxing0 : Does it work when you change rolling update of replicationController like this(L149-151):
[code]

[2020-10-21 18:58] jgray1206 commented on #2529
Any update on this guy? Would love to be able to use this much cleaner api

[2020-10-21 19:03] rohanKanojia commented on #2529
Sorry, no update for now. I didn't get any time to revisit this. We will prioritize this for the upcoming sprint.

Bdw, what do you see in logs when you set SlF4J logging level to trace, I think it prints request/response payload. Do you see the correct request payload being sent?

[2020-10-22 02:12] dixingxing0 commented on #2555
Thanks, it works.
`// Update the RC via rolling update with inline builder
                client.replicationControllers().inNamespace("thisisatest").withName("nginx-controller")
                        .rolling().updateImage("nginx:stable-alpine");`

[2020-10-22 04:58] manusa commented on #2505
Closing issue, feedback provided by Bruno on email (`Wed, 21 Oct 2020 10:13:24 +0000`)

[2020-10-22 04:58] #2505 closed

[2020-10-22 05:03] manusa commented on #2555
Great, would you like to submit a PR with the fix? we can assist you if you need help.

[2020-10-22 06:22] dixingxing0 commented on #2555
Ok, I would like to, please assign it to me.

[2020-10-22 06:23] dixingxing0 commented on #2555
Ok, I would like to, please assign it to me.

[2020-10-22 07:58] Ladicek opened #2557 "OpenShiftReadiness is missing isReadinessApplicable"
When using `Readiness`, there are 2 main methods I use vast majority of time: `isReadinessApplicable` and `isReady`.

Now that OpenShift-related readiness stuff is moved into `OpenShiftReadiness`, I'd like to use it as a drop-in replacement but can't. It only has `isReady`; `isReadinessApplicable` is missing.

[2020-10-22 15:09] thinking-aloud commented on #2403
Thank you for the post. I have the same issue. I patch a deployment, which takes <5 seconds and than the app sits around another 5-6 minutes, until it finally shuts down. Really annoying. A fix would be highly appreciated.

[2020-10-23 08:12] saparaj commented on #2454
@manusa Thank you for the detailed explanation. The usecase which I am trying to achieve is using fabric8io client to deploy manifest to a cluster which can happen n number of times and yaml manifest contains multiple resources. I got the issue #2439 when I tried to execute createOrReplace() twice for the same yaml only deployment docker path was updated. I found this old issue related to fabric8i

[2020-10-24 22:42] hegdevenky commented on #2507
@rohanKanojia Thanks for the update, yes I could work with `create()` method instead of `createOrReplace()`.

[2020-10-27 06:32] #2557 closed

[2020-10-27 06:54] #2555 closed

[2020-10-27 07:17] rohanKanojia commented on #2509
Closing this as I think it's resolved. Please feel free to reopen in case you're still facing problems with this.

[2020-10-27 07:17] #2509 closed

[2020-10-27 07:27] dtschan commented on #2244
How did you fix the missing Status class? We are hitting the same problem.

[2020-10-27 07:36] bframke commented on #2244
You could add it to the reflect-config.json, then quarkus will not remove it.

[2020-10-27 09:28] HeroicHitesh commented on #2444
@rohanKanojia Is this issue still relevant? If yes, I would like to work on it.

[2020-10-27 09:34] rohanKanojia commented on #2444
Yes, it's still relevant. You might want to check with @Shivkumar13  if he is still working on it or not. There are lots of quickstarts that need to be updated, maybe you both can collaborate on refactoring these :-)

[2020-10-27 10:18] rohanKanojia opened #2561 "Remove public modifier from test classes and methods"
Since we updated to JUnit 5 in https://github.com/fabric8io/kubernetes-client/pull/1652 , we no longer need to have public test classes and methods see[0]. Now Sonar reports this as a code smell[1]. We should update our tests to be package-private to improve readability as advice in Sonar Rules[2].

You can find tests with public modifiers with this command:
[code]

[0] https://stackoverflow.com/a

[2020-10-27 10:31] arghya88 commented on #2561
/assign

[2020-10-27 10:52] HeroicHitesh commented on #2444
@Shivkumar13 if you are working on it can you give an update on which all quickstart have you worked already and which all are still pending? so that I can start working on this issue.

[2020-10-27 12:01] #2293 closed

[2020-10-27 16:24] Shivkumar13 commented on #2444
@HeroicHitesh I will raise a PR by tomorrow, need some cross checks

[2020-10-27 22:39] itsmurugappan commented on #2300
we have the same issue, with kubernetes 1.16.8 where jobs belong group "batch/v1". Not sure why I need to give access to "extensions" group.

[2020-10-28 04:54] rohanKanojia commented on #2300
@itsmurugappan: Hi, could you please share a reproducer with us so that we can investigate?

[2020-10-28 06:59] manusa opened #2564 "Hide Doneable interface from users (CRDs)"
## Description

Custom Resource Definitions on the client require the user to declare [dummy](https://github.com/fabric8io/kubernetes-client/blob/272c4f5fa5086d935d1823c12df6d4c92e019583/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/crds/DoneableDummy.java) [implementations](https://github.com/fabric8io/kubernetes-client/blob/56bed4189bce0d205a1ecb1d37eb281692d55a07/kubernetes-c

[2020-10-28 07:27] rhuss commented on #2300
For me it looks like the client assumes a very old OpenShift cluster, where the `Job` resources where indeed maintained in the `extensions` group. Actually `batch/v1` has been introduced with Kubernetes 1.2 and the `extensions/v1beta1` Job has been removed in Kubernetes 1.6. See https://github.com/kubernetes/kubernetes/issues/32763 for details.

OpenShift 3.5 was the last version of OpensShift tha

[2020-10-28 07:31] rhuss commented on #2300
Jobs in `batch/vi` are available since OpenShift 3.2, so if there is no support for OpenShift 3.0 or 3.1 in the kubernetes-client, then its IMO save to switch unconditionally to `batch/v1` for the Jobs resource.

[2020-10-28 08:50] metacosm commented on #2564
I completely agree with the assessment, as you already know 😄! I'd just add, as you mentioned in your last paragraph, that the purpose is not so much hiding the `Doneable` interface completely but rather not make it mandatory anymore as is currently the case. It should still be possible to pass a `Doneable` when needed.

[2020-10-28 17:51] PrakashNair opened #2565 "Support for cert-manager model in fabric8"
Does the client library provide support for cert-manager CRDS (https://github.com/kubernetes-client/java/tree/master/client-java-contrib/cert-manager#cert-manager-model-classes)?
if yes, can you provide some pointers/examples on its usage? if no, are there any plans on extending the library to support it?

[2020-10-28 17:56] rohanKanojia commented on #2565
@PrakashNair : Umm, Could you please share location of these cert-manager-model go structs? Maybe we can write a quick extension for these CRDS(like we have for Knative, Tekton, Istio etc)

[2020-10-28 19:12] rohanKanojia commented on #2565
Thanks a lot for sharing! We can easily extend Kubernetes Client to create extensions. Writing an extension just involves these steps:

1. Generating model schema(certmanager-schema), You can use our common model generator to generate schema for Java classes for these go structs. Here is an example of our VolumeSnapshot Extension model generator: https://github.com/fabric8io/kubernetes-client/blob

[2020-10-28 21:26] Shivkumar13 commented on #2444
I have the fix ready, while raising PR, seeing some old git changes also popping up in this Fix.
I will rebase the branch and will try again tomorrow.

[2020-10-29 07:02] rohanKanojia commented on #2300
Thanks a lot for looking into this. I think this is being caused by our `BackwardCompatibilityInterceptor` which converts failed 404s for `batch/v1` to `extension/v1beta1`. I think removing this should fix client to use `batch/v1` Job always:

https://github.com/fabric8io/kubernetes-client/blob/ec1e20eca8996db6a6ed0b208c8e04da1b7b7b8b/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/ut

[2020-10-29 07:07] rohanKanojia commented on #2300
Would anyone like to create a PR for this? Just need to remove this line from Interceptor and verify

[2020-10-29 10:21] iocanel opened #2566 "Simplify client DSL"
The kubernetes-client DSL carries decisions realted to features that have been long removed from the client. So there is no reason to keep them around as they are redundant.

The most common example is that we carry generic parameters that are have fix values all across the board:
- Boolean
- Watch

Or we expose things that don't make any difference:
- Doneable
- Input types  (which is always equa

[2020-10-29 10:23] iocanel commented on #2564
I think that there are two things here:

- Remove Doneable as a parameter (we never ever really need it). (See #2566)
- Do not generate Doneable per type.

[2020-10-29 16:35] itsmurugappan commented on #2300
i can do it.

[2020-10-29 16:42] rohanKanojia commented on #2300
@itsmurugappan : awesome, Thanks a lot for taking time to fix it!

[2020-10-30 07:47] zengzilu opened #2568 "Failed to Init KubernetesClient"
I try to init KubernetesClient like
![image](https://user-images.githubusercontent.com/37807654/97673493-d1c30d80-1ac6-11eb-879d-e29f1938ab1f.png)

got error below
![image](https://user-images.githubusercontent.com/37807654/97673530-e3a4b080-1ac6-11eb-9b7f-bf11159c13ac.png)

but, when try to init with "io.kubernetes.client.ApiClient" , it works fine. that means the "kubeConfigContent" content is c

[2020-10-30 07:51] rohanKanojia commented on #2568
@zengzilu: Is your kubeconfig located in `~/.kube/config`. Your don't need to give Kubernetes Client explicit config as it autodetects kubeconfig file at this location or `KUBECONFIG` environment variable. I think this should work without any problems:
[code]

[2020-10-30 07:58] zengzilu commented on #2568
for some reason, The kubeConfig didn't located in ~/.kube/config.
but just now, I mv the kubeconfig to ~/.kube/config, and it woks at terminal with kebectl . while I try
 `KubernetesClient kubernetesClient = new DefaultKubernetesClient()`

I got the same error .
![image](https://user-images.githubusercontent.com/37807654/97674573-b6590200-1ac8-11eb-857d-1023428b9646.png)

[2020-10-30 08:12] zengzilu commented on #2568
added, it works with another kubeconfig , diff below

![image](https://user-images.githubusercontent.com/37807654/97675316-10a69280-1aca-11eb-89e5-8348c5bd98f1.png)

both configs work fine with kubectl

but TheRight one didn't work with `KubernetesClient kubernetesClient = new DefaultKubernetesClient()` while TheLeft one works fine

is it a fabric8 limit? the "kubeconfig.users[x].user" must has "c

[2020-10-30 08:16] rohanKanojia commented on #2568
From error stacktrace, it looks like client is not able to find certificate data at expected location. Do you have it at the correct location? If not, Could you please configure it by providing KUBERNETES_CERTS_CA_FILE environment variable: https://github.com/fabric8io/kubernetes-client#configuring-the-client

[2020-10-30 08:28] rohanKanojia commented on #2568
We use the token kubeconfig in right section with OpenShift. I can say that it works with that format. What Kind of Kubernetes Cluster are you running? Minikube? EKS?

[2020-10-30 08:39] zengzilu commented on #2568
my cluster build with kubeadm

cluster info :
one node cluster in virtualBox of MacOS
VM image centos7
cluster version 1.19.3
![image](https://user-images.githubusercontent.com/37807654/97678153-56655a00-1ace-11eb-92a1-37b2aebdb753.png)

[2020-10-30 11:02] #2561 closed

[2020-10-30 14:27] dajester2013 opened #2572 "SecretVolumeSource invalid defaultMode - needs to be sent as a string with a leading 0"
The schema for io.fabric8.kubernetes.api.model.SecretVolumeSource specifies defaultMode as "integer"

https://github.com/fabric8io/kubernetes-client/blob/ca0a124a7695b51324ab530779dbd86b735d4f94/kubernetes-model-generator/kubernetes-model-core/src/main/resources/schema/kube-schema.json#L7306

However, the API requires defaultMode to be a string with a leading zero, as indicated by this error:
[cod

[2020-10-30 14:44] manusa commented on #2572
Did you try the octal losing the leading zero (many systems admit this)?

The model is generated from the go Types

[2020-10-30 15:00] dajester2013 commented on #2572
I'm not sure what to make of this suggestion - I know just enough to be dangerous when it comes to kubernetes...

https://gist.github.com/dajester2013/90b2302a6ad44378bb42eb71b9104035#file-postgres-statefulset-example-yaml-L32

This is a more complete version of the statefulset yaml (I can provide the full manifest if needed).  If I upload this to the Kubernetes Dashboard, or apply with kubectl, i

[2020-10-30 15:10] dajester2013 commented on #2572
Ok.. came across this:
[code]

After doing some step debugging, it does appear that this client is transforming the yaml to json.  However, in that transformation, the octal is not being converted to decimal as required by the JSON API.

Changing 0640 to 416 gets me around the problem for now, but it's a bit of a gotcha...

[2020-10-30 15:34] #2572 closed

[2020-10-30 18:00] HeroicHitesh commented on #2444
@Shivkumar13 any updates? You can send a PR for the files you have modified and I'll do the rest. Or if you are facing any issue related to Git/GitHub, let us know, maybe we can help you out

[2020-10-30 18:51] Shivkumar13 commented on #2444
@HeroicHitesh already raised a PR, day before yesterday

See: https://github.com/fabric8io/kubernetes-client/pull/2567

[2020-10-30 20:01] metacosm opened #2574 "Add support for metav1.Condition that got added in apimachinery v0.19.0"

[2020-10-30 20:05] Philippe-Bailer-ck opened #2575 "Jenkins WatchConnectionManager RejectedExecutionException"
I'm seeing repetitive error logs around WatchConnectionManager

[code]

The exact same log, same id, same ThreadPoolExecutor@49723d6a for over 20k events. I'm not sure whats going on but our jenkins seems to be working fine generally. We are having some stability issues were jobs die in the middle randomly but I'm not sure this is to blame as this is not a one to one occurrence with the failed job

[2020-10-31 03:56] PrakashNair opened #2577 "watchLog outputstream fails with java.io.InterruptedIOException: executor rejected"
While processing async request via StreamingResponseBody, the watchlog fails with below exception

[code]

Code snippet for the same:

[code]

The code works fine if I switch it to `getLog()` and `String`.

[2020-10-31 05:41] HeroicHitesh commented on #2444
@Shivkumar13 My bad I couldn't see any linked PR so thought you are stuck in that rebase thing. Now, from the PR I can see
https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/LoadMultipleDocumentsFromFileExample.java

https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/opensh

[2020-10-31 06:33] rohanKanojia commented on #2444
@HeroicHitesh : Thanks for pointing this out, I've updated the issue description.

[2020-10-31 08:07] rohanKanojia opened #2578 "Remove public modifier from JUnit 5 test classes and methods in extensions/*/tests/"
https://github.com/fabric8io/kubernetes-client/issues/2561 fixed most of the code smells in `kubernetes-tests` module regarding public modifiers in JUnit 5 tests. However, there are still some classes left that need to be refactored in `extensions/`. You can find them with this command:
[code]

We just need to do apply the same fix as suggested in this SonarRule[0] and done in https://github.com/f

[2020-10-31 08:11] arghya88 commented on #2578
/assign

[2020-10-31 08:41] rohanKanojia opened #2579 "Remove instances of declaration of thrown exception `KubernetesClientException` from codebase"
`KubernetesClientException` extends [`RuntimeException`](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/RuntimeException.html):

https://github.com/fabric8io/kubernetes-client/blob/ca0a124a7695b51324ab530779dbd86b735d4f94/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/KubernetesClientException.java#L21

We don't really need to have it in method declaration sin

[2020-10-31 08:54] rohanKanojia opened #2580 "Simplify assertions in `kubernetes-model-generator` ServiceTest"
These `assertTrue` assertions should be replaced with a dedicated `assertEquals` instead. For more information, see this Sonar Rule[0]

https://github.com/fabric8io/kubernetes-client/blob/ca0a124a7695b51324ab530779dbd86b735d4f94/kubernetes-model-generator/kubernetes-model-core/src/test/java/io/fabric8/kubernetes/api/model/ServiceTest.java#L101-L110

[0] https://sonarcloud.io/organizations/fabric8i

[2020-10-31 10:04] arghya88 commented on #2579
/assign

[2020-10-31 12:16] allupaku commented on #2580
Could you please assign ? and check the pr ?

[2020-10-31 19:19] Shivkumar13 commented on #2444
@HeroicHitesh I am not having other ready at the moment, but I can work on them, in the meantime, feel free to work on those.
please do list here the ones that you will be fixing.

[2020-11-01 07:58] HeroicHitesh commented on #2444
@rohanKanojia I have sent a PR for the following files:
-  ListCustomResourceDefinitions.java
- BuildConfigExamples.java
- LoadExample.java
- DeploymentConfigExamples.java
Please review and let me know what needs to be updated there.

[2020-11-01 18:59] itsmurugappan commented on #2300
https://github.com/fabric8io/kubernetes-client/pull/2585

[2020-11-02 01:06] PrakashNair commented on #2577
This now stands resolved. Below solution works just fine.

[code]

[2020-11-02 01:07] #2577 closed

[2020-11-02 08:02] #2574 closed

[2020-11-02 11:40] klg71 opened #2587 "Update To Kubernetes Model 1.19"
Hello,

I use Kubernetes Version 1.19 and they made some changes to the Ingress model and moved it from "v1beta" to "v1".

I think the relevant Pull-Request has already been made and merged: https://github.com/fabric8io/kubernetes-client/pull/2541

I would like to ask when you plan to release a new version including this change.

[2020-11-02 11:55] gbbirkisson opened #2588 "Add support for server-side dry runs"
Add support for server-side dry runs when managing resources.

An example with kubectl:

[code]

[2020-11-02 13:00] rohanKanojia commented on #2588
Hi, Thanks for reporting this. Are you talking about this `dryRun` query parameter in Kubernetes write APIs[0]?

dryRun:

[0] https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#create-pod-v1-core

[2020-11-02 15:22] gbbirkisson commented on #2588
That is correct. It goes without saying that it applies to more resources than just pods :)

This is useful for multitude of reasons. For example you can see how the final resource will look after it has gone through mutation webhooks.

[2020-11-02 16:50] rohanKanojia commented on #2300
Closed via #2585

[2020-11-02 16:50] #2300 closed

[2020-11-02 22:00] seglo commented on #2575
Version: `4.12.0`

We're experiencing this issue in our project when running tests from an sbt session (a JVM project build tool often used in Scala projects).  We have a test that exercises an `SharedIndexInformer` with a `KubernetesServer` in CRUD mode. A `WatchConnectionManager` is spawned at some point by the informer (in the `ListWatcher` I think?), but it's never explicitly closed by calling

[2020-11-03 16:48] #2580 closed

[2020-11-04 13:57] #2578 closed

[2020-11-05 04:53] XWTiger commented on #1328
@udit0612  I have the same problem,  we can not get allocated resource by fabric8 . but i think we can count by pod

[2020-11-05 16:36] #2579 closed

[2020-11-06 08:30] rohanKanojia commented on #2587
@klg71 : Hi, Sorry for the late reply. It's been more than a month since we last released @manusa @oscerd What do you think about cutting another release with Kubernetes Model upgrade?

[2020-11-06 10:30] rohanKanojia opened #2590 "Add utility method to get age of a kubernetes resource in `KubernetesResourceUtil`"
[KubernetesResourceUtil](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/utils/KubernetesResourceUtil.java) contains various utility methods for Kubernetes resources.

I think we should add another method to get the age of a Kubernetes resource like this:
[code]
Right now Kubernetes has got this form of timestamps:
[code]

I t

[2020-11-06 21:24] frrivero commented on #2259
Hi, adding io.kubernetes.java-client dependency is including sundr-cogeden.commons-lang:2.4 and is overwriting my StringUtils class, which is causing some methods to disappear, I have a direct dependency on commons-lang:2.6 and still gets overwritten.
kube-client:10.0.0

[2020-11-07 10:16] zahradehghanpur opened #2591 "Error write end dead while copying files from pods"
when i copy files and folders from pods too a local directory in host , at the middle of the process i get the following error:
[code]

my code is as below

[code]
and i am using the lastet version 4.12.0

[2020-11-09 08:27] #2083 closed

[2020-11-09 08:27] #2283 closed

[2020-11-09 08:29] rohanKanojia commented on #1714
Till now apart from the merge job, everything is migrated to Github Actions.

[2020-11-09 09:52] patriknw opened #2592 "ConcurrentModificationException in KubernetesCrudDispatcher"
Version: 4.12.0

We have some tests that are using crud mode of the KubernetesMockServer. It's using the client from several threads so there can be concurrent requests.

[code]

I suggest that the methods (dispatch, peek, shutdown) of `KubernetesCrudDispatcher` are made `synchronized` or making the access to the `map` thread safe in some other way.

[2020-11-09 09:55] rohanKanojia commented on #2592
@patriknw : Thanks a lot for reporting this. We're planning to cut a release soon within 1-2 weeks. Would really appreciate if you could create a quick PR to fix this issue..

[2020-11-09 10:02] patriknw commented on #2592
Sure, I'll do that.

[2020-11-09 17:29] thmshmm opened #2594 "Restarting informers in case of errors"
Hello,
how can informer errors be handled? In my case the informer for the CRD sometimes fails for example with JSON parse exceptions.

I am aware of registering a listener via "addSharedInformerEventListener" but trying to restart the informers using "stopAllRegisteredInformers" and "startAllRegisteredInformers" has no effect.

When I try to only stop the informer(s) there are some background thr

[2020-11-10 06:48] manusa commented on #2259
Hi @frrivero
Are you sure you commented in the right repo?
This is the issue repository for the awesome **fabric8** java client :wink:
You seem to be referencing the official (but less awesome :stuck_out_tongue_winking_eye: ) [java client](https://github.com/kubernetes-client/java).
Or are you using both :flushed: ?

[2020-11-10 06:50] #2514 closed

[2020-11-10 08:57] iocanel opened #2595 "Create an extension for OCM api"
Let's create a model and a client extension for https://github.com/openshift-online/ocm-api-model

[2020-11-10 13:07] rohanKanojia commented on #2587
@klg71 : We just released a new version of client[0] . Please try it out and provide feedback

[0]  https://repo1.maven.org/maven2/io/fabric8/kubernetes-client/4.13.0/

[2020-11-10 15:16] frrivero commented on #2259
You are correct, wrong repo, guess I'll check this one out :-)

[2020-11-10 15:40] iocanel opened #2596 "Extension models should have buildable references to core kubernetes-model types."
Methods like:
- withNewMetadata
- withNewContainer
- addNewContainer

and so on are no longer generated, due to the absence of `BuildableReference` to types like:
- ObjectMeta
- Container
- etc

While this is relatively easy to work around, having those method is one of the little things that add to the overall experience.

The root cause of this issue seems to be the removal of the specific annot

[2020-11-10 16:36] manusa commented on #2596
Caused by: #2157

https://github.com/fabric8io/kubernetes-client/blob/bec9ac92d02234b4b6bbcd23f9072285854793cd/kubernetes-model-generator/kubernetes-model-annotator/src/main/java/io/fabric8/kubernetes/annotator/KubernetesTypeAnnotator.java

vs.

https://github.com/fabric8io/kubernetes-client/blob/bec9ac92d02234b4b6bbcd23f9072285854793cd/model-annotator/src/main/java/io/fabric8/kubernetes/ModelAnno

[2020-11-11 07:31] Sandhya-Bairi opened #2597 "Execute kubectl scale command via Kubernetes api"
I want to execute “kubectl scale deployment --replicas <replica#>” via the kubernetes client java api. Is this possible without creating or replacing it with a new deployment? If yes, how?
I have already tried replacing using below code. It doesn't reflect outside the pod.

[code]

Hope to hear if i am missing anything or doing something wrong here.

[2020-11-11 08:12] rohanKanojia commented on #2597
I remember we do have a `scale(int replicas)` method(below sample taken from cheatsheet[0]):
[code]

[0] https://github.com/fabric8io/kubernetes-client/blob/master/doc/CHEATSHEET.md#deployment

[2020-11-11 14:05] thimo-seitz commented on #2403
I've the same issue. Especially in that case there is a error in the communication (like when the renew of the token fails) there are connections left behind which are marked internally as use, so that the close() call wouldn't clean up them and non daemon threads are left alive, so the jvm wouldn't exit. Would be nice if the close()-method will clean up all used resources.

[2020-11-12 09:44] adietish opened #2599 "Should be able to sort CustomResourceDefinitionVersion(s) according to their priority"
When listing custom resources one has by default to display them in the version with the highest priority. One thus has to be able to sort available versions (CustomResourceDefinitionVersion) by their priority.

The kubernetes docs state the following at https://v1-17.docs.kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/:

[2020-11-14 21:24] astellingwerf commented on #809
@OrfeasZ, Did you ever find a fix or work around for this issue?

[2020-11-15 04:34] arghya88 commented on #2590
/assign

[2020-11-16 08:33] #2596 closed

[2020-11-16 11:12] manusa commented on #2591
Hi @zahradehghanpur

Can you try the same process with another file or directory?

We never faced this issue with the client. It would be of great help for us to be able to reproduce.

Also, is the directory modified during the download process? Maybe this is causing problems. Try to generate an archive of the directory in the container and then download it.

[2020-11-16 11:14] #2587 closed

[2020-11-16 11:19] #2566 closed

[2020-11-16 11:19] iocanel opened #2605 "Provide a custom resources alternative that only accepts resource type."

[2020-11-16 13:21] arghya88 commented on #2565
/assign

[2020-11-16 13:25] rohanKanojia commented on #2565
We don't have any bot for assigning issues :laughing: .

Thanks a lot for taking care of this issue.

[2020-11-16 15:03] rohanKanojia commented on #1458
I think this issue is quite important, we should provide some way to automate the creation of Custom Resources POJOs based on some configuration

[2020-11-16 18:33] rohanKanojia commented on #2599
@adietish : Hi, we usually specify the version in `CustomResourceDefinitionContext` for using Custom Resources:
https://github.com/fabric8io/kubernetes-client/blob/9eee87a51d08e5c3c4fa5c1af2564ba58c054f29/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/DefaultKubernetesClient.java#L394

However, we also have a deprecated method that accepts `CustomResourceDefinition`. I think we shoul

[2020-11-17 09:23] rohanKanojia commented on #2499
Since PR sent by Florian https://github.com/fabric8io/kubernetes-client/pull/2501 is merged and available in v4.13.0, can we consider this issue closed? Or is there something missing?

[2020-11-17 09:28] FWiesner commented on #2499
I’d consider it done

Rohan Kumar <notifications@github.com> schrieb am Di. 17. Nov. 2020 um
10:23:

[2020-11-17 13:05] FWiesner commented on #2004
I'd like to propose a new extension, similar to the Helidon integration with GraalVM: https://github.com/oracle/helidon/tree/master/integrations/graal. There you find https://github.com/oracle/helidon/blob/master/integrations/graal/native-image-extension/src/main/java/io/helidon/integrations/graal/nativeimage/extension/HelidonReflectionFeature.java. This class scans (among others) for classes anno

[2020-11-17 13:08] rohanKanojia commented on #2004
@iocanel @oscerd @manusa : Could you please share your thoughts on this?

[2020-11-17 13:15] manusa commented on #2004
Building native images requires additional processing, among other things, to enable reflection and to replace some of the classes which make use of incompatible or missing dependencies.

The easiest way to do this is by using additional pre-processing before generating the native-image, such as the one performed by the [Kubernetes-Client extension](https://github.com/quarkusio/quarkus/tree/master

[2020-11-17 13:17] oscerd commented on #2004
I don't have a strong opinion on this, but I do believe this extension should be placed somewhere else

[2020-11-17 13:26] FWiesner commented on #2004
not sure why you would want all of this in the microservice frameworks, especially as the operator pattern doesn't require a microservice framework at all. When your service is only depending on the Kubernetes client to interact with the API server, why would you want to use Quarkus, Micronaut, Helidon, etc.

On the other hand native image generation is modularized and all native image configurati

[2020-11-17 13:30] FWiesner commented on #2004
<img width="1311" alt="Bildschirmfoto 2020-11-17 um 14 30 26" src="https://user-images.githubusercontent.com/1433733/99395985-7aec6f00-28e1-11eb-9e6e-e6d54a956fc6.png">

[2020-11-17 14:12] manusa commented on #2004
I guess I misunderstood your point (I thought Helidon provided something similar to Quarkus extensions) . Checking now what Helidon does. I didn't know that GraalVM extensions/features were a thing in a standalone fashion. It is poorly documented (at least I haven't found anything about that topic)

This HelidonReflectionFeature does something really similar to what the Quarkus extension does (Jan

[2020-11-17 14:51] #2499 closed

[2020-11-17 15:48] #2590 closed

[2020-11-17 16:17] rohanKanojia commented on #2564
Shall we close this issue?

[2020-11-17 16:23] adietish commented on #2599
@rohanKanojia excellent point with the converter! I just spotted this and was up to suggest this change.

[2020-11-17 17:43] #2605 closed

[2020-11-19 11:43] manusa opened #2610 "Is kubernetes-model-generator/model-generator-app still relevant"
## Description

This [module](https://github.com/fabric8io/kubernetes-client/tree/d9b36fc9e267a34c26e750eafdaa80065b56b33e/kubernetes-model-generator/model-generator-app) is still in the repo. Is it used somewhere? is it still relevant?

It doesn't seem to be part of the modules listed in the parent project.

[2020-11-19 13:09] rohanKanojia commented on #2610
Hmm, I also don't see it being used anywhere. Maybe it was used in the past but is outdated now. Let's remove this.

[2020-11-19 13:40] metacosm opened #2611 "Improve Custom Resources handling"
While some improvements have been made to how Custom Resources (CRs) are handled, some issues still remain.

-  #2609 fixes an issue where a specific list implementation was required to be able to use `customResources(Class customResourceClass)`. However, an issue still exist where `CustomResourceDefinitionContext.fromCustomResourceType` [cannot properly infer the needed group and version](https:/

[2020-11-19 14:31] manusa commented on #2519
Schemas generated with `https://json-schema.org/draft/2019-09/schema` version seem to be invalid.

Using latest version which still produces a valid schema instead: `http://json-schema.org/draft-05/schema#`.

[2020-11-19 16:19] rtsio opened #2612 "Watch starts receiving HTTP 401 after GKE/OAuth token expires"
Using 4.12.0, I have a couple of Watches configured using:
[code]

After a while, what seems to be a temporary network connectivity issue (that I can't reproduce exactly) causes the following:

2020-11-18 20:01:59.305 WARN 1 --- [.204.54.132/...] i.f.k.c.d.i.WatchConnectionManager : Exec Failure

java.io.IOException: canceled due to java.lang.IllegalStateException: cannot make a new request becaus

[2020-11-19 17:09] rohanKanojia commented on #2612
Is this happening only in 4.12.0 version or in previous versions too? How much time does it usually take for client to start throwing these errors?

[2020-11-19 18:10] jorsol opened #2613 "Update jsonschema2pojo to 1.0.2"
Target to 5.0.0?

[2020-11-19 19:11] rtsio commented on #2612
@rohanKanojia I have only used 4.12.0, I can test previous versions if necessary. The most recent time this happened about 1 hour after starting the service, however there seems to be no pattern and it happens randomly.

Would switching to informers solve intermittent network issues? I have read they can gracefully handle these sorts of conditions.

[2020-11-19 19:38] rohanKanojia commented on #2612
Informers are able to handle 410 `HTTP_GONE` errors. But I'm not sure right now what's the root cause of your watch terminating unexpectedly.

[2020-11-19 19:58] mikebell90 commented on #2326
yes, this would significantly help. If AdmissionReview<T> existed,  one could serialize polymorphically if desired.

[2020-11-20 06:25] manusa commented on #2613
- https://github.com/joelittlejohn/jsonschema2pojo/releases/tag/jsonschema2pojo-1.0.2
- https://search.maven.org/search?q=g:org.jsonschema2pojo%20a:jsonschema2pojo

[2020-11-20 06:27] manusa commented on #2613
Relates to: #2519

[2020-11-20 08:18] metacosm opened #2614 "Improve Watch.close so that error can always be reported"
@manusa's idea:

[2020-11-20 09:26] manusa commented on #2614
Relates to: #2273

[2020-11-20 10:11] metacosm commented on #2273
One domain where `System.exit` is annoying is during tests where this doesn't let the test framework correctly report the problem and clean things up.

[2020-11-20 17:42] metacosm opened #2618 "Use enum for getScope values"

[2020-11-21 19:08] jonathanvila opened #2619 "SharedInformers are not correctly filtering by namespace"
Using informers and constraining by namespace I still receive this issue :
[code]

This is the code:
[code]

The serviceaccount has namespace access, and it has to be this way.
Changed to watchers as a workaround.

Using Quarkus 1.9.0 Kubernetes client.

[2020-11-21 19:18] jonathanvila opened #2620 "Ingress is not handled by the client"
Trying to execute this with the client :
    kubectl get ingresses.config.openshift.io cluster -o json

Request :
   GET https://api.windup.eb23.sandbox1661.opentlc.com:6443/apis/config.openshift.io/v1/ingresses/cluster

Apparently client has `config.openshift.io/v1` resources added in DSL but Ingress is not there.

[2020-11-23 05:27] suzuhasora opened #2622 "java.lang.NoClassDefFoundError: io/fabric8/kubernetes/model/util/Helper in kubernetes-client-4.13.0"

[2020-11-23 14:39] adietish opened #2623 "Replace class KubernetesVersionPriority with version available in kubernetes-client"
In #117 a java class was introduced that retrieves the version with the highest priority within the available versions for a custom resource spec. The code was submitted to kubernetes-client at https://github.com/fabric8io/kubernetes-client/pull/2601
Once the patch is merged and the kubernetes-client with it published, the code in intellij-kubernetes gets obsolete and can be removed.

[2020-11-23 15:50] adietish commented on #2623
sorry, wrong repo. :|
Closing.

[2020-11-23 15:50] #2623 closed

[2020-11-23 15:51] manusa commented on #2622
Class is here: https://github.com/fabric8io/kubernetes-client/blob/v4.13.0/kubernetes-model-generator/kubernetes-model-common/src/main/java/io/fabric8/kubernetes/model/util/Helper.java

Could you provide more details?

[2020-11-23 16:10] adietish opened #2624 "Watching resources without authorisation causes RejectedExecutionException"
Steps:
1. ASSERT: have a cluster running where the user isn't authorized (`oc logout`)
1. EXEC: watch a resource type

Result:
An `RejectedExecutionException` is thrown that the user programmer cannot catch because it's thrown by the executor that is running tasks in the `WatchConnectionManager`

[code]

[2020-11-23 16:14] adietish commented on #2624
I see the following 2 solutions:
* Allow user programmers to install a `DiscardPolicy` that won't throw (instead of the default `AbortPolicy` which throws and then bubbles up to the user program)
* wait for the reconnect to finish before shutting down and avoid the `RejectedExecutionException`

Thoughts?

[2020-11-23 16:18] adietish commented on #2624
I see the following 2 solutions:
* Allow user programmers to install a `DiscardPolicy` that won't throw (instead of the default `AbortPolicy` which throws and then bubbles up to the user program)
* `WatchConnectionManager#onFailure` should only try to reconnect if HTTP error codes other than 200 and 503 happen and match the conditions set by `BaseOperation#watch`
* wait for the reconnect to finish

[2020-11-23 16:55] #2614 closed

[2020-11-23 21:28] acmlearn opened #2625 "Caused by: com.fasterxml.jackson.databind.JsonMappingException: No resource type found for:helm.fluxcd.io/v1#HelmRelease at [Source: (BufferedInputStream); line: 1, column: 1757] (through reference chain: io.fabric8.kubernetes.api.model.WatchEvent["object"])"
I have an application for which I am trying to add SharedIndexInformer to watch for events for the helm releases custom resource and I have followed https://github.com/rohanKanojia/kubernetes-client-demo/blob/master/src/main/java/io/fabric8/CustomResourceInformerDemo.java and added all the necessary classes for my project based on CronTab classes example (CronTab, CronTabList, CronTabSpec, CronTab

[2020-11-24 05:36] manusa commented on #2625
You probably need to register your Custom Resource classes to be able to use deserialization:

https://github.com/fabric8io/kubernetes-client/blob/bddc79e8c04551737dc4565d81f92e5450d15aa5/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/CRDExample.java#L132

[2020-11-24 07:26] iocanel commented on #2595
Unfortunately,  this is not possible because the ocm api is not a kubernetes api, it is its own thing. So, I am closing this one as a won't fix.

[2020-11-24 07:26] #2595 closed

[2020-11-24 07:30] #2622 closed

[2020-11-24 07:32] suzuhasora commented on #2622
Thanks!

[2020-11-24 09:48] #2564 closed

[2020-11-24 10:08] own-idea opened #2626 "LogWatch.close don't release thread while socket.read block long time"
I expect LogWatch.close method not only close OutputStream, PipedInputStream in class LogWatchCallback, but also interrupt the thread which read log from k8s apiserver . While socket.read method block long time, then responseCallback will never called, so the thread will live long time.
[code]

thanks for reply.

[2020-11-24 10:48] adietish commented on #2624
I see the following solutions:
* Dont reconnect in WatchConnectionManager#onFailure
* Allow user programmers to install a `DiscardPolicy` that won't throw (instead of the default `AbortPolicy` which throws and then bubbles up to the user program)
* wait for the reconnect to finish before shutting down and avoid the `RejectedExecutionException` (not great, uncertain when a full stop would happen)

[2020-11-24 12:05] manusa commented on #2611
I didn't have a chance to check what's done either on IstioJC or Dekorate. I'm guessing for the latter it's something annotation based.

From my yet naive perspective, I see several options (not sure if they are even possible or make sense altogether).

- Static code generation tool that generates a "client" for a given set of CRD yamls.
- Or runtime analysis of custom annotated POJOs to generate

[2020-11-24 12:59] metacosm commented on #2611
@manusa could you detail the second option, please? Wouldn't you generate code at build time as opposed to runtime?

The Istio Java API approach uses the following approach: a generative pipeline is set up in a similar way to what the client is doing (i.e. go -> json schema -> jsonschema2pojo annotator -> sundrio). The difference is that for go structs that are marked as k8s spec structs, we annot

[2020-11-24 13:44] manusa commented on #2611
So to clear things up, I see 2 possible scenarios that have nothing to do with each other.

The first scenario is when you want to consume a **third party CRD based API** (e.g. Istio). Then, my first assumption applies, you want to go from the CRD yaml files to a Java client (GoStructs?>YAML>Java). Since you expect to have types for your resources, this can only work as a static generator (a K8s `

[2020-11-24 15:01] acmlearn commented on #2625
Thank you @manusa , it worked for me.

[2020-11-24 15:58] #2625 closed

[2020-11-24 16:40] metacosm commented on #2611
@manusa thanks! 👍

[2020-11-24 17:04] metacosm opened #2628 "Encapsulate finalizer validation"
HasMetadata should encapsulate the details of how the finalizer validation is performed instead of relying on client code using the regular expression, which doesn't even encapsulate all the required rules.

[2020-11-25 02:23] guisense opened #2630 "createOrReplace with the same yaml file will be got error like ' provided port is already allocated'"
**steps:**
1.the first time to deploy a service to k8s by **service.yaml**  file, success
2.the next deploy the same **service.yaml** file (unchanged) , failed

**code**
[code]

**logs like these**
[code]

Unlike [2454](https://github.com/fabric8io/kubernetes-client/issues/2445#issue-687180851) ,
the log shows the POST METHOD, and msg "spec.ports[0].nodePort: Invalid value: 30081: provided port is

[2020-11-25 18:08] ricardozanini opened #2631 "OIDCTokenRefreshInterceptor returning NPEs when there's no current context available"
Hi!

When a Kubernetes config is clean and there's no current context set, [`OIDCTokenRefreshInterceptor`](https://github.com/fabric8io/kubernetes-client/blob/v4.13.0/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/utils/OIDCTokenRefreshInterceptor.java#L44) will fail with a `java.lang.NullPointerException`.

I believe that this feature was introduced by PR #2447

I bumped into this e

[2020-11-25 20:15] ppatierno opened #2632 "Move to use okhttp4 due to a bug on IPV6 based cluster"
The current version of fabric8 Kubernetes client is using okhttp3 library which is affected by bug on hostname verification when connecting to the Kubernetes server API in IPV6 based cluster.
The same bug affects even the kubernetes-client Java library: https://github.com/kubernetes-client/java/issues/1289
This issue was fixed in okhttp4 as you can see from this already merged PR:
https://github.c

[2020-11-26 04:20] rohanKanojia commented on #2632
Isn't okhttp4 based on kotlin? Not sure if it can break any backward compatibility. @manusa @oscerd @iocanel @metacosm WDYT??

[2020-11-26 04:27] rohanKanojia commented on #2630
@guisense : Seems related to #2454 . Could you please try upgrading to v4.13.0 and see if it resolves your issue?

[2020-11-26 05:37] oscerd commented on #2632
Yes, it is. It's a completely different library from 3.x

[2020-11-26 07:02] guisense commented on #2630
@rohanKanojia  thanks for your response.
Yes, but i feel a little confused since the error occured to me seems not described in #2454 .
I have tried to use v4.13.0, it would be same error.

I have debugged and  found the version below 4.11.0 ,  the same **service.yaml** would firstly being compared to the one from the server, then it would call API
 `**[PUT] http://ip:port/api/v1/namespace/{namesp

[2020-11-26 07:08] #2628 closed

[2020-11-26 07:14] rohanKanojia commented on #2630
Strange, I think it should fail with both client versions on second createOrReplace. Do you have a small reproducer for us? I marked this related to #2454 since client should ignore doing an update if nothing has changed(just like `kubectl`). But `kubectl` does it in an ugly way(you can find this in the discussion done in #2454)

[2020-11-26 07:33] guisense commented on #2630
@rohanKanojia  Ok.

service.yaml
[code]

call service demo
[code]

[2020-11-26 14:02] rohanKanojia commented on #2631
@ricardozanini : Welcome back! Thanks a lot for reporting this issue. We'll try to fix this in upcoming sprints. However, you can also contribute a quick PR to fix this in case you have some time :-)

[2020-11-26 14:47] ricardozanini commented on #2631
hey @rohanKanojia ! Sending in 3..2..1

[2020-11-26 15:43] rohanKanojia commented on #2611
I'm just sharing some feedback received from @FWiesner a few months ago(when discussing https://github.com/fabric8io/kubernetes-client/issues/2489) . He suggested moving CustomResourceDefinitionSpec related configuration to annotations like this:
[code]

These annotations then could be read by this method(defaulting to the values we're having right now in the method)
https://github.com/fabric8io/k

[2020-11-26 16:23] adietish commented on #2624
This seems fixed in 5.0.0-alpha-2 as in behavior.

[2020-11-26 19:42] #2519 closed

[2020-11-27 06:04] manusa opened #2635 "Complete 5.0.0 migration guide"
## Description
As a user of Kubernetes Client 4.x.x I need documentation to easily migrate my applications to 5.x.x.

A new [MIGRATION-v5.md](https://github.com/fabric8io/kubernetes-client/blob/318c40d15c5c70af70f820da29fed1846d4163d0/doc/MIGRATION-v5.md) was created in #2615.

This file should contain a section for each of the breaking changes in 5.x.x and basic instructions on how to migrate to

[2020-11-27 06:10] manusa opened #2636 "Upgrade sundrio.version to 0.23.0"
## Description
Upgrade [sundrio](https://github.com/sundrio/sundrio) dependency from `0.22.1` to `0.23.0`.

- Drops custom Function/Predicates in favor of JDK provided types. (https://github.com/sundrio/sundrio/pull/183 [commit](https://github.com/sundrio/sundrio/pull/183/commits/0451156e26e99de2c46561a72eead01ad6386c88))
- accept is "lambda friendly" (https://github.com/sundrio/sundrio/pull/183 [

[2020-11-27 06:55] #2599 closed

[2020-11-27 09:39] lrul opened #2637 "How do I judge whether a volume is pvc or configMap？"
i get volumes by method pod.getSpec().getVolumes() ，but i find that each volume has all property like pvc,configMap...,so,how do i judge volume's type?

[2020-11-27 11:07] manusa commented on #2613
The separation of [`javaType`](https://github.com/joelittlejohn/jsonschema2pojo/wiki/Reference#javatype) and [`existingJavaType`](https://github.com/joelittlejohn/jsonschema2pojo/wiki/Reference#existingjavatype) (https://github.com/joelittlejohn/jsonschema2pojo/issues/828) presents additional challenges on the code generation side.

All definition properties should now be converted to `existingJav

[2020-11-27 11:17] manusa commented on #2636
Relates to: #2638

[2020-11-30 08:34] allendang001 opened #2641 "The dependency version of kubernetes-model-common is 4.4.1 in client version 4.11.0/4.12.0/4.13.0"
There is no Helper in kubernetes-model-common-4.4.1.jar
my code like follow

client.load("test.yaml")
            .inNamespace("default")
            .createOrReplace();

exception:

Caused by: java.lang.NoClassDefFoundError: io/fabric8/kubernetes/model/util/Helper

[2020-11-30 08:45] manusa commented on #2641
Relates to #2622

[2020-11-30 09:10] allendang001 commented on #2641
my solution is exclude kubernetes-model-common-4.4.1.jar from client.jar and add dependency kubernetes-model-common-4.13.0.jar

[2020-11-30 09:14] rohanKanojia commented on #2641
why are you using both the jars?

[2020-11-30 09:30] chensir9811007 opened #2642 "Deployment - update kubernetes-examples/src/main/resources/multiple-document-template.yml apiVersion"
使用yaml文件发布总是提示io.fabric8.kubernetes.api.model.apps.Deployment cannot be cast to io.fabric8.kubernetes.api.model.extensions.Deployment

使用 kubernetes-client/kubernetes-examples/src/main/resources/multiple-document-template.yml  这个文件
代码是 List<HasMetadata> list = client.load(LoadMultipleDocumentsFromFileExample.class.getResourceAsStream("/multiple-document-template.yml")).get();
版本是 io.fabric8 4.10.1

[2020-11-30 11:19] rohanKanojia commented on #2642
@chensir9811007 : How are you able to reproduce this error? Looking at `multiple-document-template.yml` all `Deployment` objects are of `apps/v1` apiVersion. Could you please share a full reproducer?

https://github.com/fabric8io/kubernetes-client/blob/648117efe3eace21a256cc9a64e3bd23f5e94d0b/kubernetes-tests/src/test/resources/multiple-document-template.yml#L35

[2020-11-30 13:20] chensir9811007 commented on #2642
could you tell me that apps/v1 & extensions/vbeta1 diff？io.fabric-4.10.1.jar use kibernetes version all？

[2020-11-30 13:25] chensir9811007 commented on #2642
https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/resources/multiple-document-template.yml。see it

[2020-11-30 13:43] rohanKanojia commented on #2642
oh, I'm sorry. Looking like there were two files with same name in `kubernetes-examples/` and `kubernetes-tests/`. I think we should update this to use `apps/v1` Deployment instead:
https://github.com/fabric8io/kubernetes-client/blob/648117efe3eace21a256cc9a64e3bd23f5e94d0b/kubernetes-examples/src/main/resources/multiple-document-template.yml#L34

I can reproduce this issue on v4.10.1 but not on m

[2020-12-01 01:17] chensir9811007 commented on #2642
thank you!

[2020-12-01 07:56] own-idea commented on #2626
@rohanKanojia  do you think is this a bug or should we  can improve it ?

[2020-12-01 09:22] rohanKanojia commented on #2626
@own-idea : Hi, I would need to check the code to see why `LogWatch.close()` isn't releasing thread properly. When you add `Thread.currentThread().interrupt()` do you see any improvements?

[2020-12-01 10:29] ppatierno commented on #2632
So what's the solution you envisage? Back porting the fix about IPV6 from okhttp4 to okhttp3 and then updating fabric8? Right now fabric8 is actually bugged with IPV6 clusters due to this problem in okhttp3 :-(

[2020-12-01 10:33] oscerd commented on #2632
Bumping to 4.x is something that require effort and time. I'm not sure they will backport the fix on 3.x anyway

[2020-12-01 10:41] ppatierno commented on #2632
Well,, that could be a contribution to backport on okhttp3 if they won't do that. Otherwise, you should list this as a well-known bug on fabric8.

[2020-12-01 19:45] saparaj opened #2645 "Client supports Patching only full resource objects"
Hi Fabric8io Team,

Client only support patching full resource objects at the moment. I tried
client.services().inNamespace(namespace).withName(resource.getMetadata().getName()).patch((Service)resource)

I could see we have this handlePatch method:
https://github.com/fabric8io/kubernetes-client/blob/2403476df81e65b5f063175b1d72e00c328beafe/kubernetes-client/src/main/java/io/fabric8/kubernetes/clie

[2020-12-03 14:17] #2631 closed

[2020-12-04 05:59] Priya103 commented on #2618
I can do this. Can you please assign to me?

[2020-12-04 06:08] rohanKanojia commented on #2618
Thanks, I've assigned this to you. However, I feel issue needs some clarity. I'm not really sure what this issue is about.

[2020-12-04 06:11] manusa commented on #2618
Please @Priya103, at least state what you're intending to change so that @metacosm can validate.

[2020-12-04 06:14] Priya103 commented on #2618
Currently getScope is compared with string "Namespaced" in kubernetes-client however it is good to have this static string as enum.

[2020-12-04 06:22] rohanKanojia commented on #2618
Umm, Could you please share a link to the code where this `getScope()` is? I see a `getScope()` in `CustomResourceDefinitionSpec` but it's a part of model(which is generated)

[2020-12-04 06:27] manusa commented on #2618
I understand that having a set of scopes defined as an enum is preferred, there's no opposition in that.

What I don't know from the description of this issue is where are we going to change this.
From the recent work of Chris, I understand that we are talking about CustomResourceDefinitions. Are we?

But which classes are you intending to change, because the `CustomResourceDefinition` model is ge

[2020-12-04 06:29] Priya103 commented on #2618
I am talking about kubernetes-client/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/CustomResourceOperationsImpl.java and RawCustomResourceOperationsImpl

[2020-12-04 09:44] metacosm commented on #2618
Yep, sorry this issue is suffering from tunnel vision where I expect everyone to immediately understand what the heck I'm talking about with only a couple of keywords! 😬
Sorry about that. Indeed, custom de-/serializer will be needed to make it cleaner, imo.

[2020-12-07 01:47] own-idea commented on #2626
sorry for reply so late. Because method `onResponse` will never called if k8s apiserver never send message to client.  Currently, resource release  depends on `response.close` method, also `cleanUp` method.

[2020-12-07 01:59] saparaj opened #2647 "Include Patch Methods in generic resource/ resource list API"
Along with https://github.com/fabric8io/kubernetes-client/issues/2645, Is it possible to have patch methods in generic resource/ resource list API?

Currently I can see only way to call patch methods is on specific resource - client.services().inNamespace(namespace).withName(resource.getMetadata().getName()).patch((Service)resource)

Thanks,
Swarda

[2020-12-07 02:37] chensir9811007 opened #2648 "jdk1.6兼容"
Kubernates-client是否可以兼容jdk1.6，如何修改可以兼容？

[2020-12-07 06:13] rohanKanojia commented on #2648
@chensir9811007 : Hello, Are you asking about Kubernetes-client's compatibility with JDK 6?

[2020-12-07 06:15] rohanKanojia commented on #2626
ohk, I see. Thanks a lot for reporting this. We'll look into this in upcoming sprints.

[2020-12-07 07:26] chensir9811007 commented on #2648
yes

[2020-12-07 09:18] rohanKanojia commented on #2648
Our project seems to be at JDK 8 right now. I've never tried out client on JDK 6 so I'm can't say without testing it out. Do you face any problems while trying out project on JDK 6?

[2020-12-07 10:09] openxxs opened #2649 "PodAffinityTerm ignore empty "namespaces" parameter when JSON decode"
![image](https://user-images.githubusercontent.com/2329125/101337796-122c5d00-38b7-11eb-9e8c-6bdd65ff58ad.png)
@JsonInclude(Include.NON_EMPTY) will ignore "namespaces: []",
BUT "namespaces: []" stands for all namespaces in kubernetes podAffinity and podAntiAffinity, it should not be ignored.

[2020-12-07 10:23] rohanKanojia commented on #2649
We generate our model from kubernetes source. It's marked as `omitempty` in Kubernetes source too[0]

[0] https://github.com/kubernetes/api/blob/master/core/v1/types.go#L2780

[2020-12-07 11:02] iocanel opened #2650 "Find way to capture unintended changes in semantics or api"
The `kubernetes-client` does try to stay true to semnatic versioning as much as possible (at least for major changes).

Still, there are changes that may untintentionally change things, for example:

- a change in kubernetes/openshift code itself
- a change in the generator code
- an internal change that affects the client behavior.

I am pretty sure that there is tooling out there that could ensu

[2020-12-07 11:06] chensir9811007 commented on #2648
run JDK6  java.lang.UnsupportedClassVersionError: io/fabric8/kubernetes/client/KubernetesClient : Unsupported major.minor version 52.0

[2020-12-07 11:24] rohanKanojia commented on #2648
ohk, Thanks for reporting this. Will try to reproduce. However, I would advise you to upgrade to JDK 8. JDK 6 seems pretty old ...

[2020-12-07 14:51] openxxs commented on #2649
I am sorry, It's my fault. Kubernetes offical document says "If omitted or empty, it defaults to the namespace of the pod where the affinity/anti-affinity definition appears."

[2020-12-07 14:51] #2649 closed

[2020-12-07 18:11] manusa commented on #2650
Relates to: https://github.com/fabric8io/kubernetes-client/issues/2518

[2020-12-07 21:00] maxandersen commented on #2650
Revapi is what we are looking at in quarkus to do this. For Kubernetes which is much smaller it should be fairly easy to enable.

[2020-12-08 10:19] rohanKanojia commented on #1598
Thanks for reporting. We need to investigate why it's not working well with SCCs.

[2020-12-08 19:03] acmlearn opened #2651 "resyncPeriod=0 should imply no resync"
Tried to test SharedInformerFactory examples using the blog https://rohaan.medium.com/introduction-to-fabric8-kubernetes-java-client-informer-api-b945082d69af.

When testing with 0 resync period, it is still relisting the updates within seconds.
[code]

As per definition for ResyncPeriod: if non-zero, will re-list this often (you will get OnUpdate calls, even if nothing changed). Otherwise, re-lis

[2020-12-09 06:34] rohanKanojia commented on #2642
@chensir9811007: polite ping, Would you like to create a PR to update from `kubernetes-client/kubernetes-examples/src/main/resources/multiple-document-template.yml` `extensions/v1beta1` to `apps/v1`?

[2020-12-09 06:57] rohanKanojia commented on #2637
Umm, There doesn't seem to be any property defined for volume type on Kubernetes. I can only this of this:
[code]

[2020-12-09 07:02] rohanKanojia commented on #2620
Hmm, I think in order to fix this we might need to refactor go generator a bit to consider apiGroups and apiVersions along with name since `networking.k8s.io/v1#Ingress` is Namespaced resource and `config.openshift.io/v1#Ingress` in Cluster scoped:

https://github.com/fabric8io/kubernetes-client/blob/2cca1ebac05cfb3211530cc6a7cbb2e9382e94f0/kubernetes-model-generator/pkg/schemagen/generate.go#L563

[2020-12-09 13:23] #2636 closed

[2020-12-09 13:48] #2613 closed

[2020-12-09 16:36] manusa commented on #2648
We are not going to provide support for JDK 6.
I think a more realistic question is until when are we going to support JDK 8.

[2020-12-09 16:48] manusa commented on #2632
Bumping OkHTTP version to 4.x will not only require a lot of work in the client, but some work on the Kubernetes Client Quarkus extension too (I think).

I agree that we should eventually upgrade to 4.x, new issues are bound to happen in the future. But I'm not sure if the timing is right at the moment, since we need to deliver 5.0 ASAP.

Maybe for the time being contributing a backport of the fix

[2020-12-09 19:37] metacosm commented on #2632
Are we confident the backport would be accepted, though? Or are we talking about maintaining a 3.x fork until the time when we decide to switch to 4?

[2020-12-10 05:59] raven-jia opened #2654 "How to deploy Kubeflow in fabric8?"
Hi, I'm trying to connect to k8s from my java program using fabric. I have kubeflow/pytorchjob installed on the k8s, however, fabric8 client can not connect to it, saying "no resource type found kubeflow.org/v1#pytorchjob". Do you know how to fix this problem without creating kubeflow as a CRD from fabric8? Thanks!!

[2020-12-10 06:12] rohanKanojia commented on #2654
Could you please share code that you're using to deploy?

[2020-12-10 06:16] raven-jia commented on #2654
Thanks for the reply. Here's the code

`

        parallelWorkerString = FTLUtils.renderTemplate("PytorchJob.ftl", model);
        try {
            InputStream is = IOUtils.toInputStream(parallelWorkerString, "UTF-8");
            List<HasMetadata> result = k8SClusterConfig.getClient(cluster).load(is).get();
            log.info("load result: {}", JSON.toJSONString(result));
            List<HasM

[2020-12-10 06:31] rohanKanojia commented on #2654
Do you have POJO for `pytorchjob` Custom resource? If yes, you can try registering it to `KubernetesDeserializer` like this:
[code]

If you don't have POJO, I would suggest using the [Raw API for CustomResources](https://github.com/fabric8io/kubernetes-client/blob/master/doc/CHEATSHEET.md#customresource-typeless-api)

[2020-12-10 08:13] raven-jia commented on #2654
The raw api for crd worked!! It's exactly what I needed. Thanks a lot

[2020-12-10 09:33] manusa commented on #2654
I'm closing this issue now, feel free to open another issue if you encounter any problem.

[2020-12-10 09:33] #2654 closed

[2020-12-10 09:34] manusa commented on #2597
Closing this issue now, feel free to open a new one in case the proposed solution doesn't work out for you.

[2020-12-10 10:04] lrul commented on #2637
if i create a pull request that make it easier to use，it can be merged？

[2020-12-10 10:06] rohanKanojia commented on #2637
@lrul : Yes, you're welcome to create a pull request :+1: . It would be reviewed by our committers who can provide feedback on your approach. If it looks good, it would me merged :rocket:

[2020-12-10 10:06] rohanKanojia commented on #2637
bdw, what's your approach? You might want to propose it before starting working on it.

[2020-12-10 10:21] lrul commented on #2637
it would be a small feature to help user esay to get volumes that he want，just like getConfigMap，but i still dont have
specific idea，but it will。

[2020-12-10 10:23] manusa commented on #2632
My suggestion was just (for now) try to see if the back-port is accepted in the OkHttp project, since it's only a few lines (https://github.com/square/okhttp/pull/5889 - haven't checked branch compatibility though).
Maintaining an OkHttp is **not** what I was implying. That would probably be a much greater effort than upgrading the dependency in the client.

[2020-12-10 10:24] rohanKanojia commented on #2637
Hmm, maybe we can add a utility method for this in [KubernetesResourceUtil](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/utils/KubernetesResourceUtil.java)

[2020-12-10 11:59] iocanel commented on #2611
This makes sense to me. We are already using these exact annotations in downstream projects like the `istio-java-api` and we could possibly reuse them in dekorate where we generate crd from pojos.

[2020-12-10 14:25] #2610 closed

[2020-12-10 15:50] jarorosFork opened #2656 "Always getting class sun.reflect.generics.reflectiveObjects.ParameterizedTypeImpl cannot be cast to class java.lang.Class"
Always getting this exception with such code

[code]

`kubernetesClient.bindings().inNamespace(pod.getMetadata().getNamespace()).create(binding);`

[code]

[2020-12-10 16:09] rohanKanojia commented on #2656
This error seems to be coming from this line:
https://github.com/fabric8io/kubernetes-client/blob/8e3f4be591e725384a422186da71764853f49389/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/core/v1/BindingOperationsImpl.java#L43

When I added support for `Binding` in https://github.com/fabric8io/kubernetes-client/pull/1819 . It looked like this:
[code]

I'm not 100% sure but

[2020-12-10 16:15] jarorosFork commented on #2656
Version 4.9.2 works for me, any newer version start failing with such exception.
Do you have any work around for this exception ? Because i also want to use undo() which is absent in this version

[2020-12-10 16:21] rohanKanojia commented on #2656
@jarorosFork: Unfortunately, I can't think of any workaround for this since it's the Operation class initialization that's failing :-( . Would it be possible for you to submit a PR to fix this if you have some time?

what's `undo()`? Is this some new operation supported by `Binding`? I would suggest creating another issue for this new feature.

[2020-12-10 16:41] jarorosFork commented on #2656
`undo is `
`kubernetesClient.apps().deployments()
                  .inNamespace(deployment.getMetadata().getNamespace())
                          .withName(deployment.getMetadata().getName())
                         .rolling().undo();`

Thanks, will submit PR

[2020-12-10 16:47] manusa commented on #2656
Hi, I'm creating a fix + adding a unit test which will prevent this from happening again.

[2020-12-10 17:30] manusa commented on #2656
Relates to:
- #1816
- #1819
- #2278

[2020-12-10 18:13] eminn opened #2658 "Custom resources cannot be created and deleted with mock server"
Creation of custom resources are silently failing whilst doing metadata extraction. And it results the CRD being saved with missing/empty attributes.

Imagine we do have following custom resource

[code]
The following test fails:

[code]

The `AttributeSet` returned from extractor is empty. The reason for that is when it tries to deserialize given custom resource into `FallbacHasMetadata` during [

[2020-12-10 18:21] eminn commented on #2658
When applying the self-suggested solution above add some tests I've hit something else. The only difference between `KubernetesCrudAttributesExtractor` and `KubernetesAttributesExtractor` is that the former excludes the `kind` attribute. Is there a specific reason why it omits the `kind` attribute?. I've traced the changes back to https://github.com/fabric8io/kubernetes-client/pull/2097 and https:

[2020-12-11 11:01] #2510 closed

[2020-12-11 19:09] rohanKanojia commented on #2658
Hi, Thanks a lot for reporting this issue.

I think you're right. `Kind` is an important attribute and should be considered while extracting `AttributeSet` from any Kubernetes resource. I also tried removing `extract()` method in `KubernetesCrudAttributesExtractor` to include `kind` too but it doesn't seem to make any difference(all tests except `KubernetesCrudAttributesExtractorTest#shouldHandleR

[2020-12-11 19:11] eminn commented on #2658
I believe that test is testing the wrong behavior. It explicitly expects the extractor to not include kind specifically. We can fix that test if we are fine with the approach.

[2020-12-11 21:12] metacosm commented on #2611
Should we take the opportunity to remove some boiler plate code as well from the generated classes? If we use default implementations on `HasMetadata`, we could remove some of the properties (kind, apiVersion) and their associated accessors.

[2020-12-11 23:19] metacosm commented on #2611
I've started working on some improvements in #2661. More to come.

[2020-12-12 20:51] #2402 closed

[2020-12-12 20:51] #2388 closed

[2020-12-12 20:51] #2387 closed

[2020-12-12 20:51] #2413 closed

[2020-12-14 07:01] rohanKanojia commented on #2268
bdw, we also have a `addNewEnv()` method which you can use to add single `EnvVar` to current list

[2020-12-14 07:11] rohanKanojia opened #2662 "Allow option to containerize Go Model Schema generation builds"
Right now we require user to have a golang setup in order to generate model. We should try to get rid of this requirement as not all Java Developers can have golang setup like this. Model schema generation can easily be containerized like this:
[code]
You can build image for this `Dockerfile` and then run it to generate schema like this:
[code]

[2020-12-14 09:55] #2656 closed

[2020-12-14 10:20] rohanKanojia commented on #2642
ohk, let me do it.

[2020-12-14 11:12] #2592 closed

[2020-12-14 11:27] manusa commented on #2658
I remember there  was something that prevented CRUD from working with custom resources (can't remember exactly what now).

https://github.com/fabric8io/kubernetes-client/issues/1109#issuecomment-604949318

Let me check it some more, see if I remember.

[2020-12-14 11:30] manusa commented on #2658
However, is the issue fixed by adding the `@JsonIgnoreProperties(ignoreUnknown = true)`?

If it is, why do you want to change the AttributeSet extraction logic?

[2020-12-14 11:37] eminn commented on #2658
Yeah the annotation fixes the issue but to verify that I've written the following test case which fails with the kind attribute not found. Then I started looking for answers. So wanted to double check whether there is a sound reason for omitting the kind attribute(if so I can just fix my test.) or not.

[code]

[2020-12-14 11:43] manusa commented on #2658
I'm recovering an old branch I had for this analysis.
I think the problem with CRUD mock server, AttributeExtractor and Kind had to do with the kind being added to the path and breaking stuff.

[2020-12-14 11:44] manusa commented on #2658
I'll try to recover that branch and the test.

[2020-12-14 13:49] manusa commented on #2658
I'm mostly sure that the Kind field was omitted specifically to avoid problems when retrieving objects via CRUD it somehow tampered with the path.

In fact your test is the complete opposite of the test Rohan reported failing.

I created #2664 to recover one of the tests that reproduced the issue that was fixed.

I think you can go ahead and create the `@JsonIgnoreProperties(ignoreUnknown = true)`

[2020-12-14 14:57] manusa commented on #2658
I can confirm that reverting `KubernetesCrudDispatcher` to use `KubernetesAttributesExtractor` instead of `KubernetesCrudAttributesExtractor`:
[code]
breaks the test added in #2664

![image](https://user-images.githubusercontent.com/488391/102094830-11e61180-3e23-11eb-9acb-279584e10af7.png)
doesn't match:
![image](https://user-images.githubusercontent.com/488391/102094900-24f8e180-3e23-11eb-95a2-8

[2020-12-14 22:01] metacosm commented on #2611
Ideally, I'd like us to provide a `CustomResourceDefinition.buildFrom(CustomResource)` method but I'm not sure what's the best way to do it. The easiest way would be to introduce a `CustomResourceDefinitionUtils` class that would provide such a method but I'm afraid it wouldn't really be easily discoverable. What do you think, @manusa @iocanel @rohanKanojia ?

[2020-12-14 22:18] metacosm commented on #2611
I guess we could put it on `CustomResourceDefinitionContext` but that feels kind of weird… 😄

[2020-12-15 06:41] manusa commented on #2611
This really makes sense from the operator perspective.
Defining the complete CR(D) API via annotated POJOs seems to me the way to accomplish this too (Having to define POJO + CRD seems an unnecessary overhead for a **new** API).
We'll probably need a few more annotations to be able to define a complete spec or add compatibility with some other JSR (e.g. JSR 303, etc.)

Regarding the location, IMO

[2020-12-15 08:35] metacosm commented on #2611
One thing that I'm not too sure about either is how to deal with multiple versions…

[2020-12-15 08:45] manusa commented on #2611
The aforementioned "toolset" should include an utility method that decided this for you depending on the target cluster and API availability. That's another reason why I think CRD generation should be less imperative (i.e. tool checks for CRD deployment in cluster, tool deploys CRD if necessary using latest CRD API available, ...)

[2020-12-15 08:49] #2651 closed

[2020-12-15 09:14] #2642 closed

[2020-12-15 09:31] manusa commented on #2268
Closing this issue since it was asked 6 months ago and both operations are supported (completely replace environment variable list + add a new env variable to an existing list)

[2020-12-15 09:31] #2268 closed

[2020-12-15 13:10] rohanKanojia commented on #1598
Hi guys, I'm trying to reproduce this issue. I build a sample reproducer project which tries to create a `SecurityContextConstraint` from within a Pod: https://github.com/r0haaaan/fabric8-securitycontextconstraints

It tries to run this simple code inside Pod:
[code]

I was doing all this using `default` ServiceAccount so I created a `ClusterRoleBinding` giving it required privileges:
[code]

I ad

[2020-12-15 14:49] SunithaR commented on #1075
@manusa @rohanKanojia has the Watcher been fixed for the issue? We are using watcher to watch a Kube Job and started noticing this issue. Going through this thread looks like SharedInformer is an alternate. Can a SharedInformer be used to watch a Kube Job?

[2020-12-15 15:02] rohanKanojia commented on #1075
@SunithaR : Are you talking about `batch/v1` `Job` resource? If yes, here is a simple example of it's usage:
[code]

[2020-12-15 16:38] SunithaR commented on #1075
Thanks @rohanKanojia yes _batch/v1 Job_. Is there a way to watch a **single job?** Currently we have this
``
Watch watch = client.batch().jobs().inNamespace(NAMESPACE).withName(jobName)
                                       .watch(kubeJobWatcher))
``
when there is on close we then delete the job
Currently we are seeing onClose called with exception - _KubernetesClientException: too old resource v

[2020-12-15 16:53] rohanKanojia commented on #1075
I think you should be able to do it with something like this:
[code]

[2020-12-15 17:28] SunithaR commented on #1075
Thanks @rohanKanojia  will try it out. What is the RESYNC_PERIOD?

[2020-12-15 20:01] rohanKanojia opened #2666 "Align our SharedInformer API with current Custom Resource Improvements"
We have improved our Custom Resource API a lot by avoiding the user to provide their own `CustomResourceDefinition` or `CustomResourceDefinitionContext` by building opinionated defaults by inspecting CustomResource POJOs. We can reuse this and do similar improvements in Informer API. For example, our current informer API which looks like this:
[code]
It can be simplified to autodetect the list typ

[2020-12-15 20:20] metacosm commented on #2611
Based on the PR, what else (if anything) do you think we should be doing to improve CR handling, @manusa @iocanel @rohanKanojia ?

[2020-12-15 20:20] metacosm commented on #2611
Could you elaborate on this, please?

[2020-12-16 06:27] manusa commented on #2611
So far we've worked on the CRD>CR consumption part. We've provided the tools to generate a CRD API client that works with any CRD API version (v1beta1 or v1). The main reason for this is that CRDs comply to a standard RESTful API with strong conventions around resource naming and location. Instead of working with CRD instances to declare this client we use a more abstract `CustomResourceDefinition

[2020-12-16 06:50] rohanKanojia commented on #1075
Informers maintain their own internal cache. A resync plays back all the events held in the informer's internal cache. So after every resync period informer re-queries API server(list+watch) and updates cache. You can have a look at this blog[0] to see how informer is used with resync period. Recently we also added support for avoiding resync when resync period is set to 0.

[0] https://rohaan.med

[2020-12-16 10:52] manusa commented on #2572
Yes, this might bring some confusion.
We should probably document a warning somewhere or FAQ entry.

[2020-12-16 15:53] manusa opened #2668 "BuildConfig watch performs request on wrong endpoint"
## Description

The code introduced in #2490, more specifically the following lines

https://github.com/fabric8io/kubernetes-client/blob/579d9728635bb1346b3c4e97eff1cb517e0af249/openshift-client/src/main/java/io/fabric8/openshift/client/dsl/internal/OpenShiftOperation.java#L110-L116

cause the watch connection to be performed to the following (invalid) endpoint:
[code]
instead of:
[code]

This is

[2020-12-16 17:10] manusa commented on #2668
Removing the `updateApiVersion()` and its invocation in the constructor fixed the issue in JKube (Using the code provided inhttps://github.com/eclipse/jkube/pull/524 and updating the dependency to `5.0-SNAPSHOT` with the fixed client installed locally).

So this seems to be the fix, once we find out why those lines were added in the first place and we make sure we don't break anything else by remo

[2020-12-16 17:44] rohanKanojia commented on #2668
I did a git bisect between v4.10.3 and v4.12.0 and it's pointing to this commit: a9caeb1a8be898df13f9ca03cf90398cac0876a2

Here are git bisect logs:
[code]

I can confirm that reverting this commit seems to fix the issue. However, let me check why I did it and if it would break anything.

[2020-12-16 19:17] #2611 closed

[2020-12-16 19:20] metacosm opened #2670 "Easier Custom Resource client creation"
From @manusa in #2611:

So far we've worked on the CRD>CR consumption part. We've provided the tools to generate a CRD API client that works with any CRD API version (v1beta1 or v1). The main reason for this is that CRDs comply to a standard RESTful API with strong conventions around resource naming and location. Instead of working with CRD instances to declare this client we use a more abstract C

[2020-12-16 19:20] metacosm commented on #2611
I created #2670 to follow up on this.

[2020-12-16 21:28] rohanKanojia commented on #2668
When I remove `updateApiVersion` call this test[0] fails which seems to be related to https://github.com/fabric8io/kubernetes-client/issues/2373:

I checked the `isApiGroup` check in WatchConnectionManager and it seems to be added in this PR https://github.com/fabric8io/kubernetes-client/pull/821 to fix watch for OpenShift 3.6 resources. According to our compatibility matrix[1], we don't support O

[2020-12-17 05:45] manusa commented on #2668
This is what #2671 is doing (which I think is the right approach).

I'm still not sure if this custom raw `updateApiVersion()` method is right (especially given the test you've pointed out), or if it will backfire at us again in the future. However, we can consider #2671 to be the proper fix for this issue, since it tackles the root cause.

[2020-12-17 07:10] rohanKanojia commented on #2668
Let me try to explain why I added that updateApiVersion method.

If you try to create an object like this using `oc create -f test-template`:
[code]
OpenShift will automatically convert ApiVersion from v1 to new ApiVersions. Here is how object looks when I do `oc get template redis-template`:
[code]

Right now in OpenShiftClient we try to find out whether the cluster is an Old OpenShift cluster `/

[2020-12-17 08:21] manusa commented on #2668
Is there any definition of what `openSiftApiGroups` are exactly or if they are actually a "thing"?

I can only trace back to this #716

IIRC this is not exactly true, since instead of detecting what the cluster is or the APIs it provides, we fallback to other endpoints in case those are the right ones.

[2020-12-17 12:16] Eddman opened #2672 "Item needs to be one of [Node, Deployment, ReplicaSet, StatefulSet, Pod, DeploymentConfig, ReplicationController], but was: [Service]"
We're watching service readiness using following code:
[code]
We used this code with version `4.6.0` and it worked.
After upgrading to version `4.13.0` it stopped working with the following exception:
[code]

[2020-12-17 12:57] rohanKanojia commented on #2672
Umm, I think a `Service` should be ready whenever it gets created. I don't think it's a Ready-able resource

[2020-12-17 13:37] Eddman commented on #2672
Original implementation of `ServiceOperationsImpl.waitUntilReady` in `4.6.0` waited for condition `notNull` for the Service and then waited for Endpoints to become ready. Now it just fails calling `super.waitUntilReady()` that has been changed somewhere between `4.6` <-> `4.13`.

[2020-12-17 17:55] nknkgithub opened #2677 "Usage of client and error/exception handling"
Hi,

I am new to Kubernetes and I want to know usage kubernetes-client with respect to following scenarios

1. I want to contact remote kubernetes cluster and I have contents of kubeconfig file. If I want to construct config object then

     _Config config = new ConfigBuilder().withMasterUrl("https://ip:6443").withCaCertData(cacert)
				.withClientKeyData(clientKeyData).withClientCertData(clientC

[2020-12-17 17:59] rohanKanojia commented on #2668
Closed via #2671

[2020-12-17 17:59] #2668 closed

[2020-12-17 18:37] rohanKanojia commented on #2672
ohk, I see. You're right, there is an implementation in `ServiceOperationsImpl.waitUntilReady`(I wasn't aware of this):

https://github.com/fabric8io/kubernetes-client/blob/69bd3622dc7af5665c75798deb946f7b9f8c27c6/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/core/v1/ServiceOperationsImpl.java#L79-L90

I think we might have broken this while refactoring waitUntilConditi

[2020-12-17 19:19] rohanKanojia commented on #2547
I had a discussion about this with @manusa and he also said the same thing as you were saying that sorting on client is not a good idea. But we should be able to provide opinionated Comparators in `KubernetesResourceUtil` for standard `--sort-by` fields which might be helpful for sorting lists.

[2020-12-18 05:47] manusa commented on #2672
This behavior describes some sort of integrated Readiness Probe, meaning both the Service and the Pod are ready.

So as a workaround, given that a valid Service configuration is provided, `pods().whatever().isReady()` should do the job.

Adding this to the `isReadinessApplicable` classes won't work as this **requires** polling (unless there's a different/inconsistent implementation for each resour

[2020-12-18 07:33] yangjinlogic opened #2680 "How to translate the Deployment to yaml"
How to translate the Deployment to yaml,such as the  command: kubectl get deploy **** -o yaml

[2020-12-18 07:33] yangjinlogic commented on #2680
I need your help,please

[2020-12-18 07:41] rohanKanojia commented on #2680
`SerializationUtils.dumpAsYaml(deployment)` should return `Deployment` as YAML string. You can then either write it to a file or use it somewhere else.

[2020-12-18 07:52] yangjinlogic commented on #2680
Thank you for your help，I have anothor issue,whether the SDK support trafik?Do you develop a SDK support Helm?please.

[2020-12-18 07:56] rohanKanojia commented on #2680
Umm, we have got these extensions:
- Knative
- Tekton
- Istio
- ServiceCatalog
- ChaosMesh
- VolumeSnapshot

At the moment we don't have extension for traefik or Helm. Could you please create an issue ?

[2020-12-18 11:30] Eddman commented on #2672
So the original behavior was:
1. wait for `Service` creation `.waitUntilCondition(Objects::notNull, ...)` (called from `waitUntilReady()`
2. wait for `Service` `Endpoints` to be ready `endopints().waitUntilReady(...)`

But now `waitUntilReady()` for unknown objects throws exception instead of calling `.waitUntilCondition(Objects::notNull, ...)`

Somehow it makes sense cause we can wait for `Servic

[2020-12-18 11:38] manusa commented on #2672
Yes, I agree with the usefulness of the method, but not sure if the name + DSL access methods align with what it does.

[2020-12-19 07:33] yschimke commented on #2632
OkHttp 4.x is binary backwards compatible with OkHttp 3.x.  The only breaking experience would be if you have kotlin clients building as it's not source compatible.  Full description here https://square.github.io/okhttp/upgrading_to_okhttp_4/

It is not a whole new library, clients can upgrade and downgrade (and do, like in Retrofit) since the public API is maintained.

3.14.x is no longer maintai

[2020-12-19 08:30] rtsio commented on #2612
Okay, I finally had time to look at this, identified the issue, however I'm still thinking of the best way to solve this. This is probably related to #2112 and somewhat to #2111.

I am using GKE, authenticating via a service account and OAuth token. After the initial token in KubernetesClient expires after 1 hour, it's never updated and thus the Watch starts erroring out.

First off, here is my co

[2020-12-19 17:41] rtsio commented on #2624
I also experience this with #2612.

[2020-12-20 14:22] #2334 closed

[2020-12-21 03:24] nknkgithub commented on #2677
Help is required

[2020-12-21 07:02] rohanKanojia commented on #2677
You don't need to worry about constructing `Config` object. KubernetesClient automatically builds a Config by inspecting your `~/.kube/config` or `ServiceAccount` details.

.withClientKeyData(clientKeyData).withClientCertData(clientCertificateData).build();
KubernetesClient client = new DefaultKubernetesClient(config)

I'm not sure about this. Could you please try with `withTrustCerts(false)`?

We

[2020-12-21 07:17] rohanKanojia commented on #2612
oh, It looks a bit similar to [client-go-credential-plugins](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins). I think we should support for generating and refreshing tokens  for GCP Auth Provider like `kubectl` does.

[2020-12-21 09:34] nknkgithub commented on #2677
Thanks @rohanKanojia for help.

I have a question, i.e.

i) I want to check whether a resource exists or not. i.e. kubectl get pod <podname> -o json. So equivalent of this is available? and output of kubectl commandline and json will be same? and I need to parse it to get status?
ii) I wanted to know when I apply object i.e using createOrReplace (equivalent of kubectl apply -f file) then whether o

[2020-12-21 10:56] rohanKanojia commented on #2677
If you're interested in Kubectl equivalents, maybe you can take a look at this list[0]

[0] https://github.com/fabric8io/kubernetes-client#kubectl-java-equivalents

[2020-12-21 11:01] rohanKanojia commented on #2677
I think you should be able to do it easily `client.pods().inNamespace("xyz").list()` should give you the list and then you can use `Serialization.jsonMapper().writeValueAsString(list)` to convert it to JSON. However, I feel you don't need to convert it to json to read status. You can simply iterate over podlist and get status.

KubernetesClient returns whatever Kubernetes API returns, I don't know

[2020-12-21 13:56] rohanKanojia commented on #1598
## Update

I tried reproducing this again with a dedicated `ServiceAccount` using my reproducer: https://github.com/r0haaaan/fabric8-securitycontextconstraints but I wasn't able to reproduce this issue. I created a simple `ServiceAccount` :
[code]
I have configured my reproducer's [Eclispe JKube Configuration](https://github.com/r0haaaan/fabric8-securitycontextconstraints/blob/master/src/main/jkub

[2020-12-21 14:04] rohanKanojia opened #2684 "Update Kubernetes Model to Kubernetes 1.20.0"
Kubernetes 1.20.0 got released[0] a few weeks ago. We should update our model in the upcoming releases. Here is the release announcement blog[1]

[0] https://github.com/kubernetes/kubernetes/releases/tag/v1.20.0
[1] https://kubernetes.io/blog/2020/12/08/kubernetes-1-20-release-announcement/

[2020-12-21 14:45] rtsio commented on #2612
Well, there does seem to be support in the lib for the `exec` format linked above, but the `gcloud` utility does not use this yet (see https://github.com/jglick/gke-exec-credential as a possible workaround). I do have an idea to fix this: 1) make `OIDCTokenRefreshInterceptor` look for the `oidc` AuthProvider, and not assume all 401 responses are linked to OpenID and 2) add a new Interceptor that a

[2020-12-21 14:51] rohanKanojia commented on #2612
@rtsio : We would really appreciate it if you could submit a PR :-) .

[2020-12-22 07:23] yangjinlogic opened #2686 "How to query the Resource usage in anyNamespace?"
How to query the Resource usage in anyNamespace,help please

[2020-12-22 07:31] rohanKanojia commented on #2686
Are you talking about equivalent of `kubectl top`? We do have an example for top[0]

[0] https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/TopExample.java

[2020-12-22 07:33] yangjinlogic commented on #2686
thank you very much,you help me again

[2020-12-22 11:30] #2597 closed

[2020-12-22 12:14] yangjinlogic commented on #2686
The usage is limit usage  or actual  usage ?

[2020-12-22 16:59] manusa opened #2687 "RawCustomResourceOperationsImpl ignores config"
## Description
[`RawCustomResourceOperationsImpl`](https://github.com/fabric8io/kubernetes-client/blob/10d55aa5a022b176bc06667abac809a579b31bfd/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/RawCustomResourceOperationsImpl.java#L59) hides the [`OperationSupport`](https://github.com/fabric8io/kubernetes-client/blob/189bea4dd5e7440f2ecf8a43211e101d285e9a6e/kubernetes-clien

[2020-12-23 11:10] rohanKanojia commented on #2686
@yangjinlogic : Hi, Sorry I missed your comment. What do you mean by limit usage or actual usage? KubernetesClient returns whatever it receives from Metrics API. You can read about how they do it here[0]

[0] https://kubernetes.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/#measuring-resource-usage

[2020-12-23 11:28] manusa commented on #1603
Caused by #1369

[2020-12-23 16:44] jorsol opened #2694 "Remove deprecated methods"
Kubernetes Client 5.0 already breaks many things, so why not do a cleanup for all the deprecated methods?

We are talking about a MAJOR version upgrade, so it should be "safe" to break API compatibility here and have a clean API.

Some examples include:
[code]

This has the potential risk that people migrating to this version would not know what it's the alternative, but the risk could be reduced

[2020-12-23 16:57] manusa commented on #2694
Hi Jorge,

Thanks for your input, it is much appreciated. I do agree that it's the time to remove these deprecated methods.

However, we're on a very tight schedule (must cut final release in the coming week), and most of the team is on PTO or starts PTO today.

All of these methods are annotated with `@deprecated` javadoc entry or `@Deprecated` annotation (and some have been for a while).
I'm not

[2020-12-23 17:04] jorsol commented on #2694
Well, since there is no strict SemVer policy, adding a target version in the docs should be fine :+1:

[2020-12-23 17:12] jorsol opened #2695 "fromCustomResourceType should be of type `CustomResource`?"
Right now `CustomResourceDefinitionContext`  has the following method:

https://github.com/fabric8io/kubernetes-client/blob/367233afdccd25d71b43662a149da99eba2cd3d7/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/CustomResourceDefinitionContext.java#L110-L112

and it does a Cast to `CustomResource`... shouldn't be safer to use `Class<? extends CustomResource>` instead of `Has

[2020-12-23 20:48] michaeljohnalbers commented on #2619
I'm seeing this problem, too. Using 4.13.0 of the client library with a 1.17 Kubernetes cluster.

[2020-12-24 06:50] yangjinlogic opened #2696 "What's the difference between create and createOrReplace?"
What's the difference between create and createOrReplace?Whether if the RC existed it will replace it?

[2020-12-24 15:18] ashishkshukla opened #2697 "io.fabric8.kubernetes.internal.KubernetesDeserializer.deserialize java.lang.StackOverflowError"
I am working on a spring based project and  getting below exception while creating deployments in k8s-
below is the code snippet-

`kubernetesClient.apps().deployments().create(deploymentObj);`

below is the exception-

[code]

Can someone help me on this please.

[2020-12-25 11:44] #2462 closed

[2020-12-25 11:44] #2486 closed

[2020-12-25 11:44] #2497 closed

[2020-12-26 12:07] dzfancy opened #2698 "how to get resource describe info for pod,node and custom resource"
I want to describe of my pod in kubernetes by client,In kubernetes cluster we can use `kubectl describe pods <podName>`,but i want to get same information by fabric8io/kubernetes-client,what shold i do

[2020-12-26 17:08] jarebudev opened #2699 "Equivalent of @EnableKubernetesMockClient for OpenshiftClient?"
Hi,

Is there an equivalent for ```@EnableKubernetesMockClient``` for the OpenShiftClient?

[code]

[2020-12-28 04:06] ashishkshukla commented on #2697
help is required.

[2020-12-30 05:40] rohanKanojia commented on #2697
@ashishkshukla : Hi, Do you have any reproducer project which we can use to reproduce this issue? However, I'm not really sure if your issue is caused by client since we have a test to verify create:
https://github.com/fabric8io/kubernetes-client/blob/6a717e44e0600358068d87cc60628863a117f7f8/kubernetes-tests/src/test/java/io/fabric8/kubernetes/client/mock/DeploymentTest.java#L435-L450

[2020-12-30 05:43] rohanKanojia commented on #2696
@yangjinlogic : Hi, as per current implementation `create` just does a POST request to APIServer. `createOrReplace` also does POST but it has a fallback approach of doing a PUT in case 409 is received in the initial POST request. We are discussing to refactor createOrReplace(#2454 ) to behave more like `kubectl apply`(which ignores updates when there is no modification as compared to previous appl

[2020-12-30 05:48] rohanKanojia commented on #2698
@dzfancy : Hi, Are you looking for any information in `kubectl describe` output in particular.I think you able to do it using this:
[code]

[2020-12-30 06:29] manusa commented on #2697
The exception looks like one of the fields might be referring to a parent field and deserialization runs into an infinite loop.

However, this should not be possible when retrieving data from the server (you can force something like this if you manually instantiate a Model object though).

As Rohan says, we need something to reproduce. If it's the case that this happens while retrieving a deployme

[2020-12-30 07:19] manusa commented on #2699
This feature was recently added #2320  and there is yet no `OpenShiftClient` equivalent available.

A proper extended extension could be created under the `openshift-server-mock` module.

[2020-12-30 07:31] manusa commented on #2696
Yes

**If** the applicable resource was created previously using kubectl apply (The resource contains an annotation `kubectl.kubernetes.io/last-applied-configuration` with a JSON representation of the originally **applied** resource)

[2020-12-30 09:02] #2635 closed

[2020-12-30 11:24] #2695 closed

[2020-12-30 11:49] #2458 closed

[2020-12-30 11:52] manusa commented on #2139
Hi,
There's now a Chaos-Mesh extension and CRD experience has been improved in v5.0.0(-xxx). Is this issue still applicable?

[2020-12-30 13:02] AllenZMC opened #2701 "How to update or patch a k8s resource ?"
How to update or patch a k8s resource ? For example, pod or service , etc.

[2020-12-30 13:04] rohanKanojia commented on #2701
We support full resource patching like this:
[code]

[2020-12-30 13:31] AllenZMC commented on #2701
Thanks! @rohanKanojia

[2020-12-30 13:47] AllenZMC commented on #2701
`Create or Replace some Pod with some existing object:
client.pods().inNamespace("default").createOrReplace(aPod)`
What does this mean and when is it used?

[2020-12-30 13:54] rohanKanojia commented on #2701
`createOrReplace()` somewhat similar to `kubectl apply`, but there is a difference. It doesn't ignore PUT when you try to issue `createOrReplace()` multiple times on a same resource (#2454 ). You would want to use it for creating resources if you're not sure if it already exists in the cluster not.

[2021-01-04 06:44] rohanKanojia opened #2702 "Add support for EndpointSlice in KubernetesClient"
Right now we don't have DSL support for [EndpointSlice](https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/) in KubernetesClient. We should add something like this:

[code]

When I try to create it using generic resource API, like this:
[code]

I get this error:
[code]

Looks like this should be modified to `discovery.k8s.io`:
[code]
https://github.com/fabric8io/kubernetes-cli

[2021-01-04 06:53] rohanKanojia opened #2703 "Add Support for v1 CertificateSigningRequest"
Kubernetes Certificate API has a new [V1 version](https://github.com/kubernetes/api/blob/master/certificates/v1/types.go). We should add it to `kubernetes-model-certificates`
https://github.com/fabric8io/kubernetes-client/blob/6a7a7e406b5405bae2bb8219bda1bffe7ff5d7c8/kubernetes-model-generator/kubernetes-model-certificates/cmd/generate/generate.go#L27

[2021-01-04 08:45] yangjinlogic opened #2704 "How to repleace System.out in ExecWatch"
I need to deployment a terminal of Pod,This is my code:

 InputStream inputStream = new ByteArrayInputStream(message.getBytes());
        OutputStream outputStream = new ByteArrayOutputStream();

        ExecWatch watch = kubernetesClientContainer.getClient().pods().inNamespace(namespace).withName(podName).readingInput(inputStream)
                .writingOutput(outputStream)
                .writ

[2021-01-04 08:54] rohanKanojia commented on #2704
@yangjinlogic : Hi, Could you please check this example which uses `writingOutput` and `writingError` with `ByteArrayOutputStream`:

https://github.com/fabric8io/kubernetes-client/blob/6a7a7e406b5405bae2bb8219bda1bffe7ff5d7c8/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/ExecuteCommandOnPodExample.java#L69-L75

[2021-01-05 10:01] Vlatombe opened #2708 "Volume Snapshot API v1 support"
https://kubernetes.io/blog/2020/12/10/kubernetes-1.20-volume-snapshot-moves-to-ga/

Kubernetes 1.20 (#2684) bundles the Volume Snapshot API v1. #2356 added support for v1beta1.

[2021-01-05 10:10] metacosm commented on #2244
@iocanel @geoand any idea about what's going on here?

[2021-01-05 10:15] geoand commented on #2244
Doesn't remind me of anything

[2021-01-05 16:20] iocanel commented on #2244
Same

[2021-01-06 08:42] ashishkshukla commented on #2697
ok. Let me check.

[2021-01-06 10:40] wuminorb opened #2710 "How to add a node affinity in a deployment"
How to add a node affinity in a deployment, something like this:

[code]

[2021-01-07 05:34] ccidral opened #2712 "Support watching logs in multi-container Deployments"
Apparently watching deployment logs aren't supported. I was hoping that the equivalent of

[code]

Was this

[code]

But it throws

[code]

Am I missing something? If not, is it possible to add support for that?

[2021-01-07 06:32] manusa commented on #2712
Hi @ccidral
In a multi-container Pod you need to specify the container to be able to retrieve the logs.

I **think** we currently don't support this feature for deployments (@rohanKanojia ?).

I created a gist with the [workaround](https://gist.github.com/manusa/70c51eeaee0fabc222186310255e71b3) until we implement a proper solution (if not already there):
https://gist.github.com/manusa/70c51eeaee0

[2021-01-07 10:43] manusa commented on #2710
[code]

[2021-01-08 06:14] manusa commented on #2454
From [Gitter](https://gitter.im/fabric8io/kubernetes-client?at=5ff7cf6c14cec811ec854c3f)

@saparaj: is there a way to invoke server-side apply in fabric8io client? https://kubernetes.io/blog/2020/04/01/kubernetes-1.18-feature-server-side-apply-beta-2/

@manusa: Hi, this seems definitely the way to go with the createOrReplace issue
What kubectl does is a patch request
e.g. for: https://raw.githubus

[2021-01-11 12:12] #2092 closed

[2021-01-11 12:12] #2095 closed

[2021-01-11 12:12] #2397 closed

[2021-01-11 13:01] sivanov-nuodb commented on #2528
This issue is still relevant.

[2021-01-11 15:11] rohanKanojia commented on #2444
I think Marc updated all of the samples in #2688 . It's no longer relevant.

[2021-01-11 15:11] #2444 closed

[2021-01-11 21:59] saparaj commented on #2454
@manusa As per documentation this server-side apply is supported in API server version 1.18.0 or greater. Can we have this added in fabric8io client instead of making createOrReplace to behave like kubectl apply?

[2021-01-12 04:35] ibodrov opened #2715 "Potential CVE?"
A recently found [vulnerability](https://seclists.org/oss-sec/2021/q1/19) was fixed in [another project](https://github.com/kubernetes-client/java/issues/1491) similar to this one. It might potentially affect [a similar implementation](https://github.com/fabric8io/kubernetes-client/blob/c9bf95da45f2560a7be7651fc37db5257c5418b1/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/intern

[2021-01-12 06:30] lennartfricke opened #2716 "Make BackwardCompatibilityInterceptor configureable"
I've encounter problems similar to #2300 for deployments.
Accessing a non existing deployment does not result in "404 not found" but in permission denied,
mentioning extensions api group instead of apps. There is a role configured with access to apps/deployments
but not extensions/deployment.

I think the reason is the same as in #2300. The BackwardCompatibilityInterceptor converts the request to

[2021-01-12 07:15] yangjinlogic commented on #2704
@rohanKanojia   I use the example code,I can run the command such as "ls"、“df -h”, but I run command "cd",show this
OCI runtime exec failed: exec failed: container_linux.go:349: starting container process caused "exec: \"cd\": executable file not found in $PATH": unknown

[2021-01-12 07:19] yangjinlogic commented on #2704
@rohanKanojia Whether  the example code can ensure the command is successive?

[2021-01-12 07:24] yangjinlogic commented on #2704
I can run perfect in my example,and it look like a real terminal,I only can't get the data of outputStream,I am confused

[2021-01-12 07:36] rohanKanojia opened #2717 "Raw CustomResource API: Unable to edit CustomResource via InputStream"
let's say I have a CustomResource `Dummy` present in my kubernetes cluster like this:
[code]
If I try to edit `first-dummy` by providing contents via an `InputStream` like this:
[code]
I'm getting this error:
[code]

I don't face this error when providing the edited resource as a string or Hashmap.

[2021-01-12 09:32] iocanel opened #2718 "Readiness utility should be able to support extension"
Currently the readiness utility only supports kubernetes resources.

We should use the spi in order to optionally extend the behavior to openshift, knative etc resources.

[2021-01-12 09:34] rohanKanojia commented on #2718
Umm, I think we do have Readiness supported for OpenShift resources[0].

https://github.com/fabric8io/kubernetes-client/blob/master/openshift-client/src/main/java/io/fabric8/openshift/client/internal/readiness/OpenShiftReadiness.java

[2021-01-12 09:39] iocanel commented on #2718
That's awesome!
I think that we need to use the spi, so that we have a signle readiness utility exposed.

[2021-01-12 12:08] manusa commented on #2704
for cd commands and such, you'll need to run those within a shell:
[code]

[2021-01-12 12:13] yangjinlogic commented on #2704
@manusa  I can run cd command successful use the code:  ExecWatch watch = kubernetesClientContainer.getClient().pods().inNamespace(namespace).withName(podName).readingInput(System.in)
                .writingOutput(System.out)
                .writingError(System.out)
                .withTTY()
                .usingListener(new Simp())
                .exec();

but I can't run command successful

[2021-01-12 12:20] manusa commented on #2704
Bu have you tried encapsulating the command within an sh -c as I described?

[2021-01-12 13:12] yangjinlogic commented on #2704
@manusa   yes,succeed.but I need develop a terminal of Pod,Whether I need to input " "sh","-c","cd bin" " if I want to run the command "cd bin"

[2021-01-13 12:38] philmtd commented on #2612
We have the same issue with GCP authentication.

That would be great!

[2021-01-13 13:01] andreaTP commented on #2612
Same issue here, `fabric8` is not performing the refresh of the credentials.
Looking forward to the fix!
Very likely to be related as well:
https://github.com/fabric8io/fabric8-maven-plugin/issues/1349

[2021-01-14 10:07] mmanciop opened #2722 "ObjectMeta is ignored in Deserialization"
Hello there,

I am using fabric8 inside an Admission Controller Mutating Webhook, and I am having issues because the ObjectMeta is thrown away in deserialization. This is the decompiled code I get in the dependency:

[code]

What is the rationale for not deserializing `ObjectMeta`?

Best,
  Michele

[2021-01-14 10:26] manusa commented on #2722
If you're talking about this `@JsonDeserialize(using = com.fasterxml.jackson.databind.JsonDeserializer.None.class)`

This **doesn't** translate in _"for not deserializing `ObjectMeta`"_. This means that no custom deserializer is used for this class, but it is deserielized (---> not to be confused with `@JsonIgnore`)

If ObjectMeta is field is not getting populated, there must be some other reason.

[2021-01-14 10:42] mmanciop commented on #2722
Hi @manusa,

Yeah, I see that `@JsonDeserialize` annotation on other classes that actually do get deserialized correctly.
Any idea where I could start digging for the reasons of the failed deserialization of `ObjectMeta`?

[2021-01-14 10:48] mmanciop commented on #2722
It definitely looks like something non immediately related to Jackson, because this test passes:

[code]

[2021-01-14 10:52] mmanciop commented on #2722
OK, this was all a _HUGE_ PBKAC ;-)
In an end-to-end test I was referring to a stale object :-(

[2021-01-14 10:52] #2722 closed

[2021-01-14 11:20] manusa commented on #2722
No worries, it was clear that the problem somewhere different to jackson since ObjectMeta is heavily used in most resource, so probably the most tested class in the project.

It's good news you found the root-cause.
Thx for using the project, happy codings ;)

[2021-01-15 14:43] goldmann commented on #2528
Seeing this in v5.0.0 as well.

My use case is a Quarkus app. When it is stopping, I call `stopAllRegisteredInformers()` to shut down gracefully all my informers, but it results in a stacktrace similar to what we can see above.

[code]

[2021-01-15 16:59] Fabian-K opened #2726 "Question: Hardcoded disabled read timeout for Pod.exec"
Hi,

I just stumbled upon the hardcoded disabled read timeout for Pod.exec. Is this required for establishing the websocket connection? Doesn´t this block the client when the server des not send a response?

Thanks for the insights!
Fabian

https://github.com/fabric8io/kubernetes-client/blob/32ae318a6db6a1e5aff42fdea0836e260e2583d5/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/i

[2021-01-17 16:22] echang0929 opened #2727 "[k8s 1.19.5]Exec Failure (io.fabric8.kubernetes.client.dsl.internal.WatchConnectionManager:205)"
When I run spark job on Kubernetes 1.19.5, got the following WARN:
[code]
My Spark version is spark-3.0.1-bin-hadoop3.2. In order to match compatibility, I have upgraded all kubernetes related jars of Spark into version 4.13.0:
[code]

Do you think there are compatibility problems yet? How to fix it? Thanks

[2021-01-17 20:21] Rajpratik71 opened #2728 "feat request : load a yaml for undefiled model type"
As far as i am able to find that , client library needs and only support predefined "models" for loading a yaml into that

e.g.

`
    try (final KubernetesClient k8s = new DefaultKubernetesClient()) {
      CustomResourceDefinition crd = k8s.apiextensions().v1()
        .customResourceDefinitions()
        .load(LoadAndCreateCustomResourceDefinition.class.getResourceAsStream("/test-crd.yaml"))

[2021-01-18 03:35] sunnoy opened #2729 "how to make proxy in java client ?"
client -> proxy(client java) ->  kube-api

proxy can help client authentication to kube-api

is java client give something like clien-go's

[code]

[2021-01-18 06:07] rohanKanojia commented on #2728
I think you should try our Raw CustomResource API:

https://github.com/fabric8io/kubernetes-client/blob/master/doc/CHEATSHEET.md#customresource-typeless-api

[2021-01-18 06:20] #2687 closed

[2021-01-18 10:59] manusa commented on #2729
If you are referring to a port forwarding functionality, maybe you can check this example:
https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/PortForwardExample.java

[2021-01-18 11:18] manusa commented on #2717
Your code is not describing an edit procedure but a **replacement** procedure.

What you are expecting (if I'm not mistaken) is that the client gets the resource defined in your YAML and **replaces** the one in the cluster.

What I see is that this operation should either not be allowed, or perform a diff operation on both resources.

The outcome of this issue should either be:

A) Remove these me

[2021-01-18 11:20] manusa commented on #2716
We should at least add an option in the Configuration to disable the interceptor.

This would at least allow us to offer a workaround in case of future problems.

[2021-01-18 11:52] #2680 closed

[2021-01-18 20:07] rtsio commented on #2612
Submitted a PR - just to be clear, I'm going for the simplest solution with the least amount of changes, providing a full GCP auth provider to automatically refresh credentials is out of scope (it is not trivial to add). My proposed solution would simply check the latest kubeconfig available for a valid token, and update the HTTP client to use that token. You will still have to keep the token in y

[2021-01-19 00:49] #2264 closed

[2021-01-19 00:49] #2518 closed

[2021-01-19 00:49] #2504 closed

[2021-01-19 00:49] #2710 closed

[2021-01-19 06:52] sunnoy commented on #2729
thks ！ get it ！

[2021-01-19 06:52] #2729 closed

[2021-01-19 16:36] SubhraB opened #2732 "Question on fips compliance"
We are using the k8s client version 4.13.0.

I was looking at this class. `io.fabric8.kubernetes.client.internal.CertUtils`

Specifically the code below, which I see multiple instances of.
` KeyStore trustStore = KeyStore.getInstance("JKS");`

The above line of code becomes invalid when we run our application on fips mode, since the truststore format becomes BCFKS. We expect something like this.
`

[2021-01-19 17:13] Rajpratik71 commented on #2728
Thanks

[2021-01-19 17:13] #2728 closed

[2021-01-20 17:50] iocanel opened #2736 "Add more crd annotations to cover subresources and additional printer columns."
We currently have a nice set of annotations for defining core crd configuration.

External tooling could benefit form having access to additional annotations for specifying subresources and additional printer columns.
Even though these annotations, won't be used directly from the client (yet). It does make sense to propose them for downstream projects to use.

Dekorate does provide those and we co

[2021-01-20 17:53] iocanel opened #2737 "@Version annotation should include a flags for specifying if version is served or storage."
This can be useful for downstream projects that want to use the annotation for crd generation.

[2021-01-20 18:02] LukaTchumburidze opened #2738 "How to set Custom Resource version, kind and group dynamically on v5.0.0"
Kubernetes Client v5.0.0 provides annotations of version, kind and group for custom resources, however this reduces generalization ability for a class extending CustomResource class, one child can have one set of statically written annotations. Is there any way to dynamically change those values, or from 5.0.0 onwards this is not supported? In examples I could not find such case.

[2021-01-20 18:58] rohanKanojia commented on #2738
I haven't tried this myself but could you please try providing `CustomResourceDefinitionContext` in `customResource` method like this:

https://github.com/fabric8io/kubernetes-client/blob/671ffb3802745603d08782f451b9a3df75a097ea/kubernetes-tests/src/test/java/io/fabric8/kubernetes/client/mock/TypedCustomResourceApiTest.java#L61

[2021-01-20 19:08] metacosm commented on #2736
We should also have a `ShortName` annotation, no? Another question is also whether it makes sense to group some of these values into a single annotation instead of multiplying them? @iocanel

[2021-01-20 19:10] rohanKanojia commented on #2738
ohk, we have this method but looks like it doesn't work. This fails with this error even if I provide `CustomResourceDefinitionContext` in the method linked above:
[code]

bdw, Could you please elaborate your use case? Why do you want to set version, kind, and group dynamically? I think there should be two separate classes for two different CustomResources. Even if they are same with different ver

[2021-01-20 19:55] metacosm commented on #2738
We should indeed check that we cover all the cases but I'd like more details on the use case here so that we can figure out if it's something that we need to fix.

[2021-01-20 21:52] zenbones opened #2740 "Creating a ServiceMonitor for *Kubernetes* client (not openshift)"
Is there any way to create a ServiceMonitor, as in..

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor

If it isn't directly wrapped by the API, can I use the client to create/install an arbitrary type from string or JsonNode or... something?

[2021-01-21 06:04] manusa commented on #2738
I think he's probably hitting what we discussed about reusing same POJOs for different CRD versions, plus changing these fields at runtime via configuration.

If this is the case, (I haven't tried this but) I think you can overcome this by implementing the `getVersion` and `getGroup` methods in `CustomResource`<`HasMetadata` and feed those values however you want.

[2021-01-21 06:16] rohanKanojia commented on #2740
Yes, you should be able to do it using the RAW API: https://github.com/fabric8io/kubernetes-client/blob/master/doc/CHEATSHEET.md#customresource-typeless-api

[2021-01-21 06:30] rohanKanojia opened #2741 "Update Knative Model to v0.23.0"
We haven't updated Knative Extension Eventing and Serving Models since past 4 months, We should align with latest release (v0.22.0)

https://github.com/knative/eventing/releases/tag/v0.22.0
https://github.com/knative/serving/releases/tag/v0.22.0

[2021-01-21 06:36] rohanKanojia opened #2742 "Update Tekton Pipelines Model to v0.23.0"
It's been ~7 months since we last updated Tekton Model. @Fabian-K has already created PR for updating Tekton Triggers in #2706 . But we would need to update the pipelines model too as per the latest release

https://github.com/tektoncd/pipeline/releases/tag/v0.23.0

[2021-01-21 11:26] LukaTchumburidze commented on #2738
Yes, this is the error which I'm getting, In case I don't annotate the general class.

Yes, I was describing that. Your suggestion worked, even though, for one general POJO, above annotations are needed, because parent CustomResource can pick up and set values for it's kind/version/group, but general child class might not use them. This indeed is a workaround but at this point we have forced unuse

[2021-01-21 12:04] metacosm commented on #2738
@LukaTchumburidze wouldn't it make more sense to use something like this example: https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/RawCustomResourceExample.java?

[2021-01-21 13:17] LukaTchumburidze commented on #2738
@metacosm The component, which I have described in the previous comment doesn't have precise CRDs, so using that approach (in that example the precise CRD is being used) would cause the component to get undesirably complicated.

[2021-01-21 14:30] metacosm commented on #2738
I guess I don't really understand the use case… if changing group and version dynamically works why can't the raw client work as well? That's the whole point of that client is to be able to interact with CRDs without having to use typed data. I'm probably missing something but indeed, `CustomResource` is now thought of as representing a single CR.

[2021-01-21 18:17] zenbones commented on #2740
Yes, I know I can, and that does work. I had opened this ticket before, which you responded to with the very nice work on ServiceMonitor you did for the OpenShift client. The problem is that I'm using the Kubernetes client. I guess I should bother to read the code and create a proper k8s version of ServiceMonitor, but my time is limited and the raw api does work fine, but the heart wants what the

[2021-01-21 18:34] rohanKanojia commented on #2740
ohk, I see. I don't think it's possible to add `ServiceMonitor` in KubernetesClient Jar. Best I can think of is providing a prometheus extension that can have all POJOs for structs in `github.com/coreos/prometheus-operator/pkg/apis/monitoring/v1` package.

If you just want to use `ServiceMonitor` with KubernetesClient using [typed custom resource API](https://github.com/fabric8io/kubernetes-client

[2021-01-21 19:46] metacosm opened #2744 "Automatically instantiate Spec and Status fields"
With 5.0.0, `CustomResource` are now parameterized with status and spec types allowing very compact, boilerplate-free definition of custom resource implementations. However, the status and spec fields are not currently automatically created which leads to awkward code to avoid NPEs.
The client should therefore attempt to instantiate the associated field where possible, provided the availability of

[2021-01-22 16:30] milosonator opened #2745 "Are Pod and Service operations are no longer PropagationPolicyConfigurable?"
Upgrading from 4.9.0 to 4.13.10, I find the following code no longer working:

[code]
However, I can't call `withPropagationPolicy` on this operation. Is this no longer supported, or did this not make sense to begin with, and was therefore removed? If no, how can I ensure I can set the propagation behavior for this delete operation?

Is it no longer there because the delete can't cascade to anythi

[2021-01-22 17:32] zenbones commented on #2740
Thank you, that's helpful. I'll poke around when I get a chance and see what works best. Feel free to close this ticket. Adding a small section in docs with advice similar to the above might be helpful for others as well.

[2021-01-22 17:41] LukaTchumburidze opened #2746 "Informer creation behavior for custom resource with CRDContext in SharedInformerFactory"
The factory has a  method [sharedIndexInformerForCustomResource](https://github.com/fabric8io/kubernetes-client/blob/2b9158528257a2de030ca67c776c5caf37e61d40/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/informers/SharedInformerFactory.java#L132) to create an informer with a CRDContext for CRs. It's is using [sharedInformerFor](https://github.com/fabric8io/kubernetes-client/blob/2b9

[2021-01-22 18:28] rohanKanojia commented on #2745
Apologies for this. I think it affects all resources not just Pod and Service. both `cascading` and `withPropagationPolicy` seem to be unavailable. I think we broke this in between the releases. For now, you should be able to work around this :
[code]

[2021-01-24 03:40] wsjie-happy opened #2748 "custom headers does not used in watch api due to hardcode request in WatchConnectionManager"
In kubernets-client v4.10.0, custom headers added to k8s client config are invalid in k8s watch api. For example:

        Map<String, String> headerMap = new HashMap();
        headerMap.put("test", "test1");
        log.info("{} headers {}", logPrefix, headerMap.toString());
        Config config = new ConfigBuilder()
                .withMasterUrl("localhost:6443")
                .withCustomHe

[2021-01-25 02:46] wsjie-happy commented on #2748
#2749

[2021-01-25 06:19] wsjie-happy commented on #2748
The trues I newly found is that the NetworkInterceptor, added in HttpClientUtils.createHttpClient, is not work in WatchConnectionManager.runWatch.
HttpClientUtils.createHttpClient added NetworkInterceptor, which is responsible for add custom headers to the request.

[2021-01-25 22:39] maxandersen commented on #2632
okhttp drags in kotlin runtime,right ? that brings its own set of challenges.

[2021-01-26 08:24] yschimke commented on #2632
I'm not aware of any actual runtime. It uses a kotlin stdlib library, but nothing like a JVM runtime.

https://mvnrepository.com/artifact/org.jetbrains.kotlin/kotlin-stdlib-jdk8/1.4.21-2

This is around 20kb.

[2021-01-26 15:25] SunithaR commented on #1075
@rohanKanojia The jobSharedIndexInformer is working and able to resync and keep track of the job. However I see lot of the below warning stack traces. What causes them? and why are they getting thrown all the time even when the shared informer is able to resync and handle the job events successfully.

2021-01-26 00:15:46.744 WARN 1 --- [atch 2111950718] i.f.k.c.d.i.WatchConnectionManager : Exec Fa

[2021-01-26 21:35] SunithaR commented on #1075
Also getting messages logged with ERROR severity when sharedInformerFactory.stopAllRegisteredInformers(); is called. Is there a way to avoid this?

2021-01-26 00:21:02.192 ERROR 1 --- [ol-202-thread-1] i.f.k.c.i.cache.ProcessorListener : Processor thread interrupted: null
2021-01-26 00:21:02.192 ERROR 1 --- [-controller-Job] i.f.k.client.informers.cache.Controller : DefaultController#processLoop g

[2021-01-27 10:21] #2744 closed

[2021-01-27 10:48] #2612 closed

[2021-01-27 16:24] GregJohnStewart opened #2752 "Better File utilities"
Hello all, I realize that this might be a little bit of an ask, as I know the API follows (generally) the OC command structure, but I was wondering if the pod file handling API could be expanded.

The file api (`client.pods().withName().file().*`) seems pretty sparse, and was wondering if it would be possible to add full file CRUD capabilities here.

For my own purposes, I have been able to 'fill

[2021-01-27 19:32] SunithaR commented on #1075
@manusa @rohanKanojia when sharedInformerFactory.stopAllRegisteredInformers() is called, it produces logs with **ERROR** severity(see stack trace above). Since we are invoking a graceful shutdown, would be good if these messages are logged at a WARN level, instead of ERROR(signalling major issue) There is a similar issue which has been fixed - https://github.com/kubernetes-client/java/issues/656,

[2021-01-27 19:54] rohanKanojia commented on #1075
@SunithaR : Hi, Sorry for late reply. Yes, you're right we should put these error messages as DEBUG/WARN rather than ERROR.

https://github.com/fabric8io/kubernetes-client/blob/25dda615462ebdf36da52beda9708bb72f3b93cc/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/informers/cache/ProcessorListener.java#L58-L59

https://github.com/fabric8io/kubernetes-client/blob/25dda615462ebdf36da52

[2021-01-27 20:45] SunithaR opened #2753 "sharedInformerFactory.stopAllRegisteredInformers produces logs with ERROR severity"
When sharedInformerFactory.stopAllRegisteredInformers() is called, it produces logs with **ERROR** severity(see stack trace below). Since we are invoking a graceful shutdown, would be good if these messages are logged at a WARN level, instead of ERROR(signalling major issue) There is a similar issue which has been fixed - kubernetes-client/java#656, **but the log level has not been reduced.**
Can

[2021-01-27 20:46] SunithaR commented on #1075
@rohanKanojia you got it :), opened new issue - https://github.com/fabric8io/kubernetes-client/issues/2753. Will switch log to WARN severity and create PR.

[2021-01-27 22:01] SunithaR commented on #2753
@rohanKanojia PR created - https://github.com/fabric8io/kubernetes-client/pull/2754

[2021-01-28 18:16] alonir opened #2756 "ServiceAccount getting Unauthorized"
Hi,

I am using fabric8 openshift-client 4.4.2 version calling project pods inside the MS and everything works fine.
but after some time , it can be hours/day i see the below error

Request processing failed; nested exception is io.fabric8.kubernetes.client.KubernetesClientException: Failure executing: GET at: https://172.30.0.1/api/v1/namespaces/XXX/pods. Message: Unauthorized! Configured service

[2021-01-28 20:26] metacosm opened #2757 "Version annotation should support served and storage attributes"
This could then be used by tools that generate CRDs from those annotations.

[2021-01-28 21:27] metacosm opened #2759 "Add ShortNames annotation to specify short names for a CRD"

[2021-01-29 07:16] johnhec commented on #2135
I have the same problem, How did you solve it？

[2021-01-29 07:50] alanbchristie commented on #2135
I am forced to instantiate a new `PodWatcher` object in order to continue to monitor the Pod.

It's probably easier to direct you to the open source code in our [squonk](https://github.com/InformaticsMatters/squonk/blob/master/components/core-services-exec/src/main/groovy/org/squonk/execution/runners/OpenShiftRunner.java) project.

The `OpenShiftRunner` is responsible for launching a Pod and monit

[2021-01-29 07:52] johnhec commented on #2135
I did that too, but it was not very elegant

[2021-01-29 08:02] alanbchristie commented on #2135
Agreed but (imo) it's a problem caused by someone else so the solution is often "best effort" and development constraints often leave one with many other features to code and other problems to fix.

 _Elegant_ would be the code author...

1. fixing the implementation
2. telling me _"it's fixed in vx.y.z"_
2. providing an explanation and solution pattern if the behaviour is not considered a bug

Le

[2021-01-29 15:41] zihaowangcmu opened #2762 "listOption is not working with mock Kubernetes server"
listOption is not working with mock Kubernetes server, at least for the `limit`.

a unit test:

[code]

[2021-01-29 16:20] manusa commented on #2715
I finally managed to create a reproducer for this CVE.

I first created a [Container Image](https://github.com/manusa/docker-images/tree/master/poisoned-tar) which contains a [poisoned tar](https://hub.docker.com/r/marcnuri/poisoned-tar) binary.
Whenever this binary is executed with arguments `-cf - [fileName]` it will produce a tar with a single [file containing a forged tar](https://github.com/m

[2021-01-29 18:02] janotav commented on #2166
@csviri have you managed to figure out how to safely patch using this library?

[2021-01-30 18:42] ppatierno opened #2763 "OperationContext "withXXXX" methods return a new instance every time"
Is there any specific reason why the `OperationContext` class doesn't have a companion builder with corresponding `withXXXX` methods? The class itself has `withXXXX` method but it sounds kind of not intuitive even because each time it's going to create a new `OperationContext` instance inside and returns it.

[2021-01-31 00:48] gastaldi opened #2764 "Move to Vert.x HTTP Client"
Okhttp is no longer a single JAR and 4.x brings transitive dependencies (the kotlin-stdlib which is 1.5Mb).

There is a discussion about adopting Vert.x as the HTTP client here: https://github.com/quarkusio/quarkus/pull/14662

Fixing this issue needs to also fix the problem reported in https://github.com/fabric8io/kubernetes-client/issues/2632

[2021-01-31 16:08] alonir commented on #2756
****Update ****
it seems that the service account is re-created after the couple of days while the server is up.
Is there a way on the fabric8 API to initialize it?

[2021-02-01 06:59] rohanKanojia commented on #2717
I think we can cover B separately by providing better patching support https://github.com/fabric8io/kubernetes-client/issues/2645

[2021-02-01 07:14] rohanKanojia opened #2766 "Replace occurrences of `Function<T, T>` with `UnaryOperator<T>`"
I noticed these today:

https://github.com/fabric8io/kubernetes-client/blob/0a4794f7d1581b3becb3d4f6f8c743941c6d9956/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/HasMetadataOperation.java#L72-L74

https://github.com/fabric8io/kubernetes-client/blob/0a4794f7d1581b3becb3d4f6f8c743941c6d9956/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/HasMetadataOper

[2021-02-01 08:02] MattewLyn opened #2767 "Get log with timestamp but in wrong timezone"
I have specify the timezone in the Deployment YAML file, but when I use the log operations as the cheatsheet writes:

[code]

I always get a log with timestamp in UTC timezone while the kubernetes cluster deployed in the machine in +8 timezone. Is there any solution to get logs with correct timestamp?

[2021-02-01 09:53] johnhec opened #2768 "io.fabric8.kubernetes.client.KubernetesClientException: too old resource version"
Experiencing repeated "too old resource version" onClose() exceptions in a Watcher object. The resource being watched, a Job, runs for several hours but (typically) after 80-100 minutes I always encounter a "too old resource version" exception. I re-create the Watch object, but after another period (35 minutes in one case) I encounter another "too old resource version" exception.

I keep re-creati

[2021-02-01 09:54] rohanKanojia commented on #2768
https://github.com/fabric8io/kubernetes-client/pull/1800#issuecomment-549561724

[2021-02-01 10:03] johnhec opened #2769 "How to watch warning event?"
When I use wather to watch pod and deployment, the event is ADDED, MODIFILED,UPDATED, but no FailedScheduling, ProvisioningFailed etc.

[2021-02-01 10:04] rohanKanojia commented on #2769
Do you get these events when you are watching using `kubectl`? I think our client returns whatever it receives from kubernetes api

[2021-02-01 10:09] rohanKanojia commented on #2767
Umm, I think we return whatever response we get from kubernetes api. What result do you get when you do:
[code]

[2021-02-01 10:37] manusa commented on #2767
Timezone/timestamp format is provided by the [API server](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#read-log-pod-v1-core):

If you want to change the format, you can parse each of the lines, split on the first space, and then reformat the date part to your needs.

[2021-02-01 11:36] manusa commented on #2769
You are confusing [events produced](https://kubernetes.io/docs/reference/using-api/api-concepts/#efficient-detection-of-changes) by a watcher with those provided by the [core Events API](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#event-v1-core) or the [newer events.k8s.io](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#event-v1-events-k8s-io).

[2021-02-01 11:47] MattewLyn commented on #2767
I get logs without timestamp...

[2021-02-01 11:48] csviri commented on #2166
@janotav no. (We took other appraoch for unrelated reasons.)

[2021-02-01 12:00] MattewLyn commented on #2767
how can I know

I considered this way but I'd like to try a smarter way,,, so how can I add an RFC3339 at the beginning of every line of log output? Is there interfaces in the java library?

[2021-02-01 12:04] manusa commented on #2767
No, what I pasted there is the K8s spec (you can click the link and if your scroll a little, you'll see that's the description of the `useTimestamps` query parameter which only admits a `true`/`false` value). i.e. You **can't** change the output of the timestamp provided by the k8s API.

The spec says that k8s will return an RFC3339 formatted timestamp. Which means that you can safely parse (clien

[2021-02-01 12:16] johnhec commented on #2769
How to use kubectl to wather

[2021-02-01 12:17] johnhec commented on #2769
Watch watch = client.pods().inAnyNamespace().withLabel(LABEL_KEY, LABEL_VALUE).watch(new Watcher<Pod>() {
                @Override
                public void eventReceived(Action action, Pod resource) {
                    if (resource.getStatus().getContainerStatuses() != null && !resource.getStatus().getContainerStatuses().isEmpty()) {
                        List<ContainerStatus> falseContain

[2021-02-01 12:18] johnhec commented on #2769
[code]

[2021-02-01 12:19] MattewLyn commented on #2767
Kubernetes is a little hard for a rookie as me,,, I hope these simple

All right, thanks a lot. It seems that I have to try the less smarter way (╯︵╰). Thank you again.

[2021-02-01 12:19] johnhec commented on #2769
[code]
this is my code,that only can watcher the event of ADDED, MODIFILED,UPDATED

[2021-02-01 12:20] MattewLyn commented on #2767
(RFC3339 is not the format I want)

[2021-02-01 12:20] #2767 closed

[2021-02-01 13:20] #2748 closed

[2021-02-01 14:04] #2753 closed

[2021-02-01 15:19] Richie67 opened #2772 "How to add or replace label on existing openshift project"
Hello, I'm trying to add or replace a label on an existing openshift project.

I'm using the kubernetes-client/openshift-client 4.13.1.

As far as I could see the posted request from oc commandline and the build in request from here is different.

`            OpenShiftClient client = clientProvider.getOpenshiftClient(cluster);`
`            Resource<Project, DoneableProject> resource = client.pro

[2021-02-01 15:42] metacosm opened #2773 "HasMetadata.getGroup/getVersion should extract information from apiVersion is available"
Right now the code generates the api version based on the group and version but in cases where the object has been deserialized from a kubernetes resource, it would be nice to leverage all the available information as much as possible.

[2021-02-01 15:42] rohanKanojia commented on #2772
I'm not sure whether you can even update `metadata.labels` for `Project`[0]. When I try doing it I keep facing this error:
[code]
Could you please check with updating the `Namespace` instead?

[0] https://access.redhat.com/solutions/2677921

[2021-02-01 15:54] metacosm commented on #2773
This is redundant with [ApiVersionUtil](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/utils/ApiVersionUtil.java)

[2021-02-01 15:54] #2773 closed

[2021-02-01 16:28] #2684 closed

[2021-02-01 21:43] sundarvc opened #2774 "Create a list of resources including custom resources together"
Hi Team,

I have res1, res2, customres1, customres2 that need to be applied and created from one big yaml file.
Is there a way to do this without individually processing each one separately using fabric8io API ?
I know res1, res2 can be done together, but not sure how to process customres1 and customres2 together with res1 and res2.

Thanks,
Sundar

[2021-02-01 23:20] Richie67 commented on #2772
Hi could confirm, that replacing the Objekt Project by Namespace was successful.
Thanks for the hint :-)

[code]

[2021-02-02 10:22] #2717 closed

[2021-02-02 10:28] #2702 closed

[2021-02-02 13:48] rohanKanojia commented on #2703
v1 CertificateSigningRequest is now a part of kubernetes-model-certificates. We just need to add DSL support in KubernetesClient

[2021-02-02 21:00] SunithaR commented on #2753
@manusa @rohanKanojia can you please let me know the target date and release this fix will be available, so we can upgrade?

[2021-02-02 21:55] #2772 closed

[2021-02-03 08:54] manusa opened #2780 "RawCustomResourceOperationsImpl#delete(String) invalid JavaDoc and variable names"
## Description

The method `public Map<String, Object> delete(String namespace)` has a wrong description ar at least a partial description.

https://github.com/fabric8io/kubernetes-client/blob/e5e48cabbb6eb7a740418e2de99637fc2d4e2cde/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/RawCustomResourceOperationsImpl.java#L421-L429

If this method is invoked for a `Cluster` sc

[2021-02-03 10:42] rohanKanojia opened #2781 "RawCustomResourceOperationsImpl#delete should return a boolean value indicating deletion status"
Right now we have these delete methods in API which seems to work okay but they fail with 404 in case resource is not present in the cluster:

https://github.com/fabric8io/kubernetes-client/blob/3e5cb2fa918b686645f11b958de80c3afdcd53f5/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/RawCustomResourceOperationsImpl.java#L427-L459

We discovered this behavior in one of the