[2018-07-11 17:34] #1126 closed

[2018-07-12 13:55] piyush1594 commented on #1066
Closed by #1111

[2018-07-12 13:55] #1066 closed

[2018-07-13 11:40] iocanel opened #1139 "Make it easy to get the URL of a service."
We need something like:

    client.services().inNamespace("ns").withName("myservice").getURL();

The implementation of the `getURL()` should be similar with what is provided by `KubernetesHelper.getServiceURL()`, but it should be implemented cleanly.

It might make sense to have different strategies for doing service -> url. For example when using openshift-client it might make sense to take Rout

[2018-07-13 12:32] iocanel opened #1140 "Provide user utilites"
We have lots of utilites that are mostly meant for internal consumption.
The lack of a non-internal utility for doing simple things with Kubernetes resource has led a lot of people using KubernetesHelper which was always meant to be replaced by the client.

We should create a utility class that provides at least the following:

- Sanitize strings based on the Kubernetes regex for:
  - resource nam

[2018-07-16 15:08] iocanel commented on #1139
@rohanKanojia: following up your question on irc. I think that should have different implementations for each strategy.

- From Environment Variables
- From Service NodePort.
- From Ingress
- From Route

Then the actual implementation can use the java.util.ServiceLoader to load these implementations.

Each impl can also have a priority and maybe a method to return if the address is public or priva

[2018-07-17 07:35] #770 closed

[2018-07-17 23:57] yianL opened #1142 "Pagination support"
According to [Kubernetes docs](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#list-deployment-v1-apps), most, if not all list operations support pagnitation through query parameters `limit` and `continue`. But currently the client doesn't seem to have support for it.

Do you have plans to provide pagination for list operations in the near future?

[2018-07-18 09:54] gatesn opened #1143 "AutoAdaptableKubernetesClient should call super constructor"
Without a call to super, the okhttpclient and config object in the AutoAdaptableKubernetesClient is the one built by the default constructor.

https://github.com/fabric8io/kubernetes-client/blob/29bd0f15af103b79c7dab043964907e4f53ecf8a/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/AutoAdaptableKubernetesClient.java#L80

[2018-07-18 21:58] piyush1594 opened #1144 "Get Request with OpenShift Mock Server Not Working"
[code]

Simple code like this is not working

[2018-07-19 09:35] CathySha opened #1146 "Deployment replace doesn't work for Volume (ConfigMap type) and VolumeMount"
I use ConfigMap as Volume in the deployment.
I'm trying to update a deployment with different Volume and VolumeMount.(see example below)
I tried all the following ways:
1) client().extensions().deployments().inNamespace(namespaceName).withName(deploymentName).replace(deployment);
2) client().extensions().deployments().inNamespace(namespaceName).withName(deploymentName).createOrReplace(deployment);

[2018-07-19 15:12] #1144 closed

[2018-07-19 21:57] sqlboy opened #1148 "ConfigBuilder gone in Maven?"
In the latest maven artifacts, the ConfigBuilder has disappeared yet it still seems to be referenced all over this place in git.

[2018-07-20 03:11] dddyHD opened #1149 "openshift-client:v4.0.3 can't delete token?"
openshift-client:v4.0.3 can't delete token?

    OpenShiftClient client = new DefaultOpenShiftClient(config);
    List<OAuthAccessToken> oAuthAccessTokens = client.oAuthAccessTokens().list().getItems();
    client.namespaces().list().getMetadata();
    for (OAuthAccessToken oAuthAccessToken : oAuthAccessTokens) {
      client.oAuthAccessTokens().delete(oAuthAccessToken);
    }

[2018-07-20 07:49] CathySha commented on #948
@piyush1594
I use ConfigMap as Volume in the deployment. I'm trying to update a deployment with different Volume and VolumeMount.(see example below)

I tried all the following ways including the way you provided:

(I use io.fabric8.kubernetes.api to do the operations on kubernetes.)

1)

client().extensions().deployments().inNamespace(namespaceName).withName(deploymentName).replace(deployment);

2

[2018-07-20 07:51] oscerd commented on #948
You already ask here https://github.com/fabric8io/kubernetes-client/issues/1146 @CathySha please avoid cross-posting in all the issues.

[2018-07-20 07:59] CathySha commented on #948
@oscerd Sorry for that ...
Because no one answered me, and I need it urgently.

[2018-07-20 08:06] CathySha commented on #1146
@oscerd As I mentioned above, I tried to use `edit()`, but only ADD worked, REMOVE didn't work. Do you know how to resolve this problem? Thank you.

[2018-07-20 08:07] oscerd commented on #1146
What version of client are using? What version of Kubernetes or Openshift  are using the client against?

[2018-07-20 08:09] oscerd commented on #1146
@piyush1594 @rohanKanojia can you give a look here when you have time?

[2018-07-20 08:14] CathySha commented on #1146
@oscerd
kubernetes server version v1.9.2
io.fabric8:kubernetes-client: 3.1.10
io.fabric8:kubernetes-model:2.0.8
io.fabric8:zjsonpatch:0.3.0

[2018-07-22 20:50] scholzj opened #1150 "Add support for Kubrnetes RBAC ClusterRoles and ClusterRoleBindings"
The issue #1066 / PR #1111 added support for Roles and RoleBindings from Kubernetes RBAC. But the support for ClusterRoles and ClusterRoleBindings is still missing.

[2018-07-25 03:30] leogps opened #1152 "Role, RoleBinding, ClusterRole, ClusterRoleBinding handlers are registered with wrong key"
https://github.com/fabric8io/kubernetes-client/blob/0f30508c851155f3bf5f717cc381d8ae4b17e1da/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/handlers/KubernetesRoleHandler.java#L38

It should be "Role" not "KubernetesRole". Using Class.getSimpleName() returns the class name.

Similar issue in the following classes:

- KubernetesRoleBinding

 --> RoleBinding; Affected class KubernetesR

[2018-07-26 18:50] podviaznikov opened #1153 "Question about concurrency on edit/patch deployments"
Reading through the code I see that `.edit` and `.patch` function on `Deployment` behave in the following way:

1. create new `updated` version of `Deployment` - up to the user of the library
2. the library will fetch the `current` version
3. the library will calculate JSON operation diff inside `handlePatch` function and send k8s patch `request`.

I see the problem with step 2 if there are 2 proc

[2018-07-26 20:17] RisingPhorce opened #1154 "Are Multiple Resource Types Supported?"
Does the fabric8 kubernetes client support the equivalents of the kubectl commands:

[code]

I know that client.load(InputStream is) returns multiple types with the common supertype of HasMetadata, but I want to query the cluster for multiple resource types in a single query.

Thanks for the excellent work on the fabric k8s client!

Thanks.

[2018-07-26 21:13] RisingPhorce opened #1155 "Response Body Not Closed Error Still Happening in version 4.0.0"
Getting OkHttp connection leak message.
[code]

[code]
Randomly offending lines of code:

[code]
or
[code]
or
[code]

[2018-07-27 01:36] visavis2k opened #1156 "Watcher does not have correct authentication information in Openshift environment."
Running the Watcher on PersistentVolumes in the openshift environment will result in authentication errors.

[code]

The openShiftClient object has the admin privilege, but the following error occurs:

[code]

This problem did not occur in version 3.1.10. However, it will appear from 3.1.11.

It is estimated that the problem is caused by modifying the [WatchConnectionManager](https://github.com/fa

[2018-07-27 02:15] CathySha commented on #1146
I’ve found the reason. There was a parameter named "rollbackRevision" and it was set with value 0 in the `deployment` (the input of function `replace`). Because of this parameter, the replace operation always rollback to the previous version. After deleting this parameter (set it to null), the following function works well:
`client().extensions().deployments().inNamespace(namespaceName).withName(d

[2018-07-27 02:16] #1146 closed

[2018-07-27 06:54] rohanKanojia commented on #1155
@RisingPhorce : ah, we have some problems with connection leaks happening at some places across code e.g #1090 . Are you able to reproduce connection leak consistently? A test case for generating leak would be extremely helpful :) .

[2018-07-27 07:04] rohanKanojia commented on #1154
@RisingPhorce : Hm, as per my knowledge this feature is not there in kubernetes-client. But I think this would be a good addition to our project :) . Thoughts @oscerd @iocanel ?

[2018-07-27 07:37] rohanKanojia commented on #1156
@visavis2k: Looks like that's a regression from my fix :( . That fix was intended to fix connection leaks that were reported at that time. But certainly, we don't want missing authentication. This seems like a quick fix, would you like to send a PR to fix this issue?

[2018-07-27 08:45] visavis2k commented on #1156
@rohanKanojia Yes I will.

[2018-07-27 10:06] philmtd commented on #1062
I'd also love to see support for Kubernetes 1.10.x. Creating binary ConfigMaps does not work with the current version.

@zepouet We use this with a k8s 1.10 cluster and it works - the new features don't, though.

[2018-07-27 11:18] #1156 closed

[2018-07-28 00:10] dev-gaur commented on #924
Hey @iocanel , help me out here please! ( New to Maven ecosystem. )
After reading about BOM, I understand that main purpose of a BOM is to outsource the versioning conflicts of children modules, i.e., If I just specify a dependency DepA's version in my BOM under parent POM. Then I don't really require mentioning the DepA's version when its a direct dependency of the children/module's POM. Just a g

[2018-07-30 08:33] ensonic commented on #1109
Ping?

[2018-07-30 08:54] rohanKanojia commented on #1109
@ensonic : Hi, Try looking  in [KubernetesAttributesExtractor](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-server-mock/src/main/java/io/fabric8/kubernetes/client/server/mock/KubernetesAttributesExtractor.java). It would be nice if you could raise a PR for this :)

[2018-07-30 10:48] rohanKanojia commented on #924
@dev-gaur : I think this bom is not something used by our project. We're providing this bom to be used by projects who have our project as a dependency in their pom, so that they don't have to worry about dependency version management.

[2018-07-30 11:02] lordofthejars commented on #924
@rohanKanojia You are right, the idea of bom is that you define deps of your own project to be consumed by other projects (not yourself although it is possible as well). The idea of bom is to simplify how others are going to use your library. Let's take a simple example with Spring Boot.

Spring Boot has several modules and not all of them are required at once, for example you could have `spring-b

[2018-07-30 15:11] lordofthejars commented on #1139
@iocanel Notice that Java SPI does not guarantee any loading order, so first found in cp first added in list.

So I suggest that if the idea is to go with this SPI approach, then the SPI interface should contain an `order` method which returns an integer to sort this problem.

[2018-07-30 15:12] lordofthejars commented on #1139
@iocanel yes there should be an`order` method to not load them randomly.

[2018-07-31 04:11] wybrono opened #1160 "Unable to connect client via token"
Unable to connect client via token
K8s v1.9.1

I created the client in the following way and cannot be authenticated.

[code]
The error is as follows:

Exception in thread "main" io.fabric8.kubernetes.client.KubernetesClientException: Operation: [list] for kind: [Namespace] with name: [null] in namespace: [null] failed.
At io.fabric8.kubernetes.client.KubernetesClientException.launderThrowable(Kub

[2018-07-31 08:34] wybrono commented on #1049
I have solved this problem. By skipping the authentication method, you can create a client with only token.

[2018-07-31 08:34] wybrono commented on #1160
I have solved this problem. By skipping the authentication method, you can create a client with only token.

[2018-07-31 10:05] rohanKanojia commented on #1160
@wybrono : Yeah, this usually works:
[code]
I'm closing this since it seems to be resolved

[2018-07-31 10:05] #1160 closed

[2018-07-31 12:39] #1125 closed

[2018-07-31 12:39] rohanKanojia commented on #1125
Closed via #1158

[2018-08-01 01:54] ruigulala opened #1161 "kubernetes klient returns 401 unauthorized while curl works fine"
When I was trying to deploy the following project, I'm having an 401.
https://bitbucket.org/employersappdev/ssldemo.git

Caused by: io.fabric8.kubernetes.client.KubernetesClientException: Failure executing: GET at: https://api.ruig-maven-3446ee10-951b-11e8-9617-02418d964b18.cascade-dev.cascade-domain.com/. Message: Unauthorized! Token may have expired! Please log-in again. Unauthorized.
    at io.

[2018-08-01 02:05] ruigulala commented on #1161
Also, I've tried both curl and postman with insecure ssl option. They both worked as expected.

[2018-08-01 06:58] rohanKanojia commented on #1161
@ruigulala : Could you please share code from which you're trying to connect to cluster? Somehow I can't find it in the repo you shared.

Wait, I see you have `fabric8-maven-plugin` as dependency? Did you try logging into cluster using `oc login` and then redeploy?

[2018-08-01 07:01] rohanKanojia commented on #1161
bdw, I'm not sure this issue should be here, should be on https://github.com/fabric8io/fabric8-maven-plugin

[2018-08-01 07:55] lburgazzoli opened #1162 "Deleting fails with: cannot set blockOwnerDeletion if an ownerReference refers to a resource you can't set finalizers on"
When we delete a resource, we are hitting this error:

[code]

According to some [investigation](https://github.com/arquillian/arquillian-cube/issues/1050#issuecomment-389118335) this seems an issue related to the behaviour of the k8s client.

Related issues:
- https://github.com/syndesisio/syndesis/issues/3151
- https://github.com/arquillian/arquillian-cube/issues/1050

[2018-08-01 14:23] rvansa opened #1163 "Watcher is not notified on unsuccessful response"
Running against Openshift, I am trying to delete existing project and wait for the completion. Therefore I've setup a `Watcher` on the project, expecting a DELETE action.
My user does not have cluster-admin role so I can't access projects that are not mine - the REST call fails with error. All I get is an exception in the log:
[code]
but neither `eventReceived` (with ERROR or DELETE action) is cal

[2018-08-01 14:27] rvansa commented on #1163
I've tried to set up watcher on all projects, but this failed with
[code]
(that's a separate bug, though).

[2018-08-01 17:40] gastaldi opened #1165 "NullPointerException in TemplateOperationsImpl if a parameter value is null"
In TemplateOperationsImpl#processLocally. if the map contains a null parameter value a NPE is thrown.

[code]

A solution would be to treat the parameter value as an empty string

[2018-08-01 17:44] odra commented on #1165
I think it could be a good idea to log the parameter name if its value is null as well.

[2018-08-01 18:15] ruigulala commented on #1161
I'm not using openshift. I have a kubernetes cluster deployed by myself. I've created another issue in the link you've provided. I put it here because the kubernetes client receives the 401 while curl or postman didn't.

You can reproduce the error after downloading the source code and run
[code]

[2018-08-01 22:38] gastaldi commented on #1165
PR available in https://github.com/fabric8io/kubernetes-client/pull/1166

[2018-08-02 08:10] oscerd opened #1167 "Create a 3.x branch"
Some projects are still using Kube-client 3.1.x or 3.0.x, it would be good to have a branch for them where we can backport useful fixes and releasing patched version of K8s client for 3.x

[2018-08-02 08:36] oscerd commented on #1167
@rohanKanojia may you can have a look at this.

[2018-08-02 08:45] #1162 closed

[2018-08-02 09:05] rohanKanojia commented on #1167
@oscerd : okay, I see. Could you please put some light on some of my queries?

1.) So which openshift versions are we targetting in terms of compatibility in case of `3.x`? From where
     Should we branch off from master in order to create `3.x`?
2.) How long are we planning to support these `3.x` releases?
3.) How is it's release timeline going to be like, would we be releasing two releases ever

[2018-08-02 09:10] oscerd commented on #1167
1) We have to think about it, but probably between 3.7 and 3.9. I don't think we have to branch from master, probably we should branch from the last 3.x tag.
2) Until someone ask to backport on old version :-)
3) Each time there is a fix on 3.x we may release a new patched version. I don't think there will be too much. For Fuse this is the case, but it may happen also for other users/organizations

[2018-08-02 09:29] rohanKanojia commented on #1167
Okay, I think we should be branching off from 9595df88ed9557db42e6160ef52020be7bdbc561. I've also created a [label](https://github.com/fabric8io/kubernetes-client/issues/labels) for 3.x so that we can keep track of changes which we would be cherry-picking onto this new branch. I've tagged some PRs which I felt were related to `3.x`. For PRs merged since last 3.2.0 release, I guess I have to take a

[2018-08-02 09:30] lburgazzoli commented on #1167
I guess we need also a 3.1.x

[2018-08-02 09:30] oscerd commented on #1167
yeah. Then we need to take care of the release.

[2018-08-02 13:26] wheleph commented on #1125
The fix is scheduled for version 4.0.4

[2018-08-02 14:43] rohanKanojia opened #1168 "Upgrade to Java 8"
I would like to upgrade our project to Java 8, it would be nice if we could make use of it's features(like lambdas ;) ). We have some issues(like #989) blocked by this.

Thoughts @iocanel @oscerd @piyush1594 @hrishin @rhuss ??

[2018-08-02 14:51] oscerd commented on #1168
+1

[2018-08-02 18:10] #1165 closed

[2018-08-03 12:06] rvansa opened #1169 "Non-daemon dispatcher thread leak"
I am registering a watcher on pods and despite both the watcher and the client are closed, I have a non-daemon `OkHttp Dispatcher` thread left running.

I believe this is happening because the `WatchConnectionManager` creates a new `OkHttpClient` but it does not release its resources in `close`: it releases the websocket, it's own executor but not the dispatcher.

[2018-08-03 12:25] rohanKanojia commented on #1169
@rvansa : Hey, This creation of new client in WatchConnectionManager was intended for stopping connection leaks. But I it got reverted in #1157 . Could you please test it again with SNAPSHOT version and see if it's still reproducible?

https://github.com/fabric8io/kubernetes-client/blob/3bf0cc75fb7cb66aed7788a93e50b1a46ee09ce2/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/intern

[2018-08-07 08:16] pluttrell commented on #770
Just curious if anyone knows when this feature will make it into a release that gets published to maven repos? Thanks!

[2018-08-07 08:50] rohanKanojia commented on #770
@pluttrell : Hi, We would be releasing kubernetes-client `4.0.4` in a a week or two :)

[2018-08-07 14:46] chrisjs commented on #770
is there a way to use `v1beta1` rather than `v2alpha1` as in the PR when using the API?

[2018-08-07 14:51] rohanKanojia commented on #770
Um, for now it's being hardcoded here:
https://github.com/fabric8io/kubernetes-client/blob/3bf0cc75fb7cb66aed7788a93e50b1a46ee09ce2/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/CronJobOperationsImpl.java#L33-L35

Do you any specific usecase in which you need `v1beta`? I would then have to consider making this somehow configurable.

[2018-08-07 14:54] chrisjs commented on #770
yes, don't want to enable alpha versions. also its deprecated - per the docs `Note: CronJob resource in batch/v2alpha1 API group has been deprecated starting from cluster version 1.8. You should switch to using batch/v1beta1, instead, which is enabled by default in the API server. Examples in this document use batch/v1beta1 in all examples.`

[2018-08-07 15:18] rohanKanojia commented on #770
ah, I see. Then it makes more sense to have `v1beta1` rather than having `v2alpha1` . Could you please file an issue for this change so that I doesn't get lost in this chat ;-) ? I'll accomodate this change before doing release, which is probably next week.

[2018-08-07 15:21] chrisjs opened #1172 "Use v1beta1 for CronJob"
Currently `v2alpha1` is being used & deprecated since k8s 1.8. The recommended version is `v1beta1`.

This is a followup issue to the conversation starting at https://github.com/fabric8io/kubernetes-client/issues/770#issuecomment-411082595

@rohanKanojia - would be great if this made it into next weeks release, thanks!

[2018-08-07 18:31] jeff-1amstudios commented on #1013
I still see it with version `4.0.3`

[2018-08-07 18:33] rohanKanojia commented on #1013
@jeff-1amstudios : Yeah, the patch which I sent for fixing this got reverted as you can see. Will try to jump back on this soonish.

[2018-08-07 22:50] emilojkovic opened #1173 "Send empty/null response to Callback for exec commands that have no textual feedback."
The [ExecPipesExample](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/ExecPipesExample.java) uses an ExecWatch object and InputStreamPumper to execute a command in a pod.

When a command with textual feedback (ie. `ls`, `pwd`, `echo "Hello World"`, etc.) is executed, the Callback object provided to the InputStreamPumper i

[2018-08-08 07:30] rohanKanojia commented on #1173
@emilojkovic : Yeah, it makes sense to provide response in use cases where we don't get any textual feedback. This issue doesn't seem that complicated. Would be really awesome if you could submit a quick PR for this :)

[2018-08-08 11:46] rohanKanojia commented on #1172
Right now in kubernetes-model, we are using `v2alpha1` as default apiVersion, we need to change there also https://github.com/fabric8io/kubernetes-model/blob/8c739e796e841ffea858306254d7de6d6451304c/cmd/generate/generate.go#L159

[2018-08-09 13:43] ashofthephoenix commented on #868
Can someone else confirm that this snippet of code works? It doesn't work in my case, unfortunately.

[2018-08-09 14:07] rohanKanojia commented on #868
@ashofthephoenix : Could you please share what error are you facing?

[2018-08-09 14:08] ashofthephoenix commented on #868
@rohanKanojia i don't get any errors in return - the program keeps running, but nothing is written to the pod.

[2018-08-09 14:41] rohanKanojia commented on #868
@zoujinhe : Which openshift/kubernetes version you used in order to test this? Is it still working on latest versions?

[2018-08-09 16:05] billkoch opened #1175 "ConfigMap edit not applying to mock KubernetesServer"
I wrote a test based on [this example](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-tests/src/test/java/io/fabric8/kubernetes/client/mock/ConfigMapCrudTest.java#L83) that edits a ConfigMap's data.

However, instead of asserting on the return value of the `edit().done()`, I wanted to assert on what the `KubernetesServer` believes the current state of the ConfigMap is:

[cod

[2018-08-09 18:15] rohanKanojia commented on #1175
@billkoch : Hm, it doesn't look like expected behavior, I see similar behavior with other resources also. I think it's a bug in mock server implementation

[2018-08-11 02:21] AlainRoy opened #1177 "Bug: access-token vs. id-token"
I believe that I've found a bug in the fabric8 Kubernetes client. We were testing it with a service (VMware Kubernetes Engine) that uses OIDC and it failed to authenticate. It gave an error like:

[code]

The token is stored in kubectl as an OIDC auth-provider, and it's called "id-token". An edited version from my kubectl file looks like this:

[code]

I believe that `id-token` is correct, based o

[2018-08-11 15:06] #1173 closed

[2018-08-15 19:36] gastaldi opened #1178 "Impersonate-Group may be specified multiple times"
According to https://kubernetes.io/docs/reference/access-authn-authz/authentication/#user-impersonation, the `Impersonate-Group` HTTP header can be specified multiple times, however `RequestConfig.setImpersonatorGroup` only accepts a single group.

[2018-08-15 19:37] gastaldi opened #1179 "Impersonate-Extra keys may be specified multiple times"
According to https://kubernetes.io/docs/reference/access-authn-authz/authentication/#user-impersonation, the `Impersonate-Extra` HTTP header can be specified multiple times, however `RequestConfig.setImpersonatorExtra` only accepts a single value for each entry.

[2018-08-16 09:25] rohanKanojia commented on #1179
@gastaldi : Did you filed this via accident ;-) ?

[2018-08-16 10:37] bartoszmajsak opened #1182 "Explicit sleep on the thread can make tests flaky"
I see there are tests which wait until the resource is destroyed by explicitly waiting 30s. This has two problems at least:

  * it doesn't guarantee that condition is met
  * if it's met faster we waste time sitting idle and the whole build is slower for no reason

https://github.com/fabric8io/kubernetes-client/blob/7ea9ce885f9fad72949db6e3f5cc8dceb8ce8766/kubernetes-itests/src/test/java/io/fabri

[2018-08-16 10:42] rohanKanojia commented on #1182
@bartoszmajsak : Yep, I remember you pointed this out earlier also. But somehow I forgot to get rid of these .

[2018-08-16 10:50] piyush1594 commented on #1182
@bartoszmajsak @rohanKanojia I actually did this for RT's we can do the same thing here also https://github.com/fabric8io/kubernetes-client/pull/1121/files

[2018-08-16 15:44] xguerin commented on #1099
@ljnelson I hit the same problem as you do. Custom kinds get registered without API version and are basically unusable. My initial test was successful because I happened to use the kind "Job", which I guess exists in other packages.

[2018-08-16 15:49] ljnelson commented on #1099
@xguerin You may wish to look at [how I worked around the issue](https://github.com/microbean/microbean-kubernetes-controller/blob/7e3d40e0cc834173b900832faaedd815771e893f/src/main/java/org/microbean/kubernetes/controller/Reflector.java#L547).

[2018-08-16 15:55] xguerin commented on #1099
Interestingly I am using your Controller ;) I’ll do some more digging and look at your workaround, but I half expected to be using it already.

[2018-08-20 07:44] #1178 closed

[2018-08-20 10:54] #1172 closed

[2018-08-20 12:18] #1140 closed

[2018-08-20 17:02] piyush1594 commented on #1155
Duplicate of #1090

[2018-08-20 17:02] #1155 closed

[2018-08-20 19:47] hmodi23 opened #1185 "Unable to create Role and RoleBinding using kubernetes.client.handlers"
Hello,

I see that there are already handlers available for creating Role and RoleBinding as follows:

KubernetesRoleHandler -
https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/handlers/KubernetesRoleHandler.java
KubernetesRoleBindingHandler-
https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/j

[2018-08-20 19:50] rohanKanojia commented on #1185
@hmodi23 : Hi, we are going to release kubernetes-client within a few days, I would look into this just before making the release

[2018-08-20 20:07] hmodi23 commented on #1185
Hello @rohanKanojia thanks! That would be great since, I am working on a POC which will require this.

[2018-08-20 20:12] rohanKanojia commented on #1185
@hmodi23 : bdw, how are you trying to create Role and RoleBindings? Could you please share code snippet which is not working for you? We have integration tests for [KubernetesRoleBinding](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-itests/src/test/java/io/fabric8/kubernetes/KubernetesRoleBindingIT.java) and [KubernetesRole](https://github.com/fabric8io/kubernetes-client/b

[2018-08-20 20:23] hmodi23 commented on #1185
Hello @rohanKanojia , sure so I have a unit test case which creates KubernetesRole and KubernetesRoleBinding as follows:

@Test
    public void test() throws InterruptedException {

        /**
         *
         * kind: Role
         * apiVersion: rbac.authorization.k8s.io/v1
         * metadata:
         *   namespace: default
         *   name: pod-reader
         * rules:
         * - apiGrou

[2018-08-21 00:44] hmodi23 commented on #1185
Had a couple of more questions:

1. Are there going to be similar handlers for KubernetesClusterRole and KubernetesClusterRoleBinding in the next release?
2. Is there a way to list all the users/roles/rolebindings? I know we have "kubectl get clusterrole" and "kubectl get clusterrolebinding" for getting KubernetesClusterRole and KubernetesClusterRoleBinding.

Thanks!

[2018-08-21 06:27] rohanKanojia commented on #1185
@hmodi23 : Since #1151 is in master, yes. For the second question, Have you tried these?:
#### For listing RoleBindings
[code]
#### For listing Roles
[code]
#### For listing users (in case of Openshift)
[code]

[2018-08-21 06:29] rohanKanojia commented on #1185
@hmodi23 : Could you please try your above test case with SNAPSHOT version of client? In my local SNAPSHOT jar these handlers are coming, there might be some problem while making last release ..

[2018-08-21 09:24] ntpan opened #1186 "Is it possible to create a HPA based on custom metrics?"
I have the following hpa.yaml file which looks up custom pod metrics (http_requests_seconds_rate).
[code]

I'd like to create this exact HPA using kubernetes-client but can't figure out how to provide the "metrics: ..." part.
Is this not yet supported or am I missing something?

[2018-08-21 09:42] rohanKanojia commented on #1186
@ntpan : I think it's not yet supported :-( . Do you have any idea in which version it got introduced? I think we need to add this in fluent dsl.

[2018-08-21 09:43] ntpan commented on #1186
@rohanKanojia I believe it started as beta in Kubernetes 1.6 autoscaling/v2beta1.

[2018-08-21 09:55] rohanKanojia commented on #1186
@ntpan : okay, Thanks. Will try to take this into consideration in upcoming sprints.

[2018-08-21 11:04] ashofthephoenix commented on #1008
i used reflections(as above) to speed it up and it worked - although it doesn't write all the bytes, also tends to throw pipe closed/read end exceptions. any ideas?

[2018-08-21 13:33] rohanKanojia commented on #1185
@hmodi23 : Hi, we have just released kubernetes-client [v4.0.4](http://repo2.maven.org/maven2/io/fabric8/kubernetes-client/4.0.4/
). I checked and all handlers you were talking about were available. Could you please check again?

[2018-08-21 14:45] rohanKanojia commented on #1182
@dev-gaur : Would you like to work on this??

[2018-08-21 17:40] hmodi23 commented on #1185
Thanks @rohanKanojia for the release! I just imported the new v4.0.4 and it worked just fine! Also, thanks for providing the ways to look up Roles and RoleBindings, appreciate it!

[2018-08-21 17:40] #1185 closed

[2018-08-23 12:35] kaimago commented on #682
With 4.0.4 it's working

[2018-08-23 12:35] #682 closed

[2018-08-23 12:36] kaimago commented on #682
With 4.0.4 it's working

[2018-08-23 12:42] pk044 opened #1187 "Resources export"
Is exporting resources currently supported? Right now I am serializing them with Gson and I have to exclude certain fields to make them eligible to be imported later. I am not sure if this way is correct, since your model is made a little bit different - at least regarding the requests in container's requests:

Serialized object:

``"resources":{
                     "requests":{

[2018-08-27 16:20] RisingPhorce opened #1188 "Support Logs for Jobs"
I don't believe the client currently supports getting logs for a jobs.  It seems that JobOperationsImpl should have the method getLog().

https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/JobOperationsImpl.java

https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kub

[2018-08-27 16:47] rohanKanojia commented on #1188
Yep, nice catch. It makes sense to get logs for jobs as we already have support for getting pod logs.

[2018-08-28 08:00] cainzhong opened #1189 "How can I get the “Terminating” status in io.fabric8.kubernetes-client"
I am curious about how can I get the "Terminating" status? Is there a corresponding method in io.fabric8.kubernetes-client of "kubectl describe pod [pod name]"
For detail, please see https://stackoverflow.com/questions/52033483/how-can-i-get-the-terminating-status-in-io-fabric8-kubernetes-client

[2018-08-28 13:46] piyush1594 commented on #936
This is duplicate of #1144  and has been resolved with #1145

[2018-08-28 13:46] #936 closed

[2018-08-28 13:55] piyush1594 commented on #831
This has been resolved using #1111

[2018-08-28 13:55] #831 closed

[2018-08-28 14:00] piyush1594 commented on #777
There is Pod.podspec.affinity.nodeaffinity field in the latest client. Closing this. Feel free to reopen it if you face some issue.

[2018-08-28 14:00] #777 closed

[2018-08-28 14:05] piyush1594 commented on #763
Right now in the latest client, you can use batch/v1 and extensions/v1beta1 Hence closing this.

[2018-08-28 14:05] #763 closed

[2018-08-28 14:05] piyush1594 commented on #611
Right now in the latest client, you can use batch/v1 and extensions/v1beta1 Hence closing this.

[2018-08-28 14:05] #611 closed

[2018-08-28 14:12] piyush1594 commented on #788
I think we can close this issue, this is not the case anymore. cc @rohanKanojia @dev-gaur

[2018-08-28 14:16] piyush1594 commented on #691
Support for node.spec.taints is there is the latest client. I think we can close this issue @rohanKanojia @dev-gaur

[2018-08-28 14:41] rohanKanojia commented on #691
Thanks for the heads up :+1:

[2018-08-28 14:41] #691 closed

[2018-08-28 14:43] rohanKanojia commented on #788
Thanks :+1: , closing it for now.

[2018-08-28 14:43] #788 closed

[2018-08-28 14:52] rohanKanojia commented on #1167
## Update

I've updated these branches as per latest master, @oscerd  @lburgazzoli Please take a look and see if I've missed some commit.

[2018-08-29 08:59] oscerd commented on #1167
looks good to me. Thanks @rohanKanojia

[2018-08-29 09:09] dsimansk opened #1192 "Role is not correctly casted to class by apiVersion property provided"
Versions used
[code]

Lets have a simple file with Role definition based on `rbac.authorization.k8s.io/v1`
[code]

When it's loaded as an external resource, the properties returned for `HasMetadata` object are the following. I've assumed that for k8s Role the right class is `io.fabric8.kubernetes.api.model.rbac.KubernetesRole. Afterwards the class is implying the apiGroup endpoint used for POST re

[2018-08-29 13:11] rohanKanojia commented on #1167
Closing it since branches have been created :-)

[2018-08-29 13:11] #1167 closed

[2018-09-02 08:56] rohanKanojia commented on #1013
@traviswinter : ah, I tested it with case provided by OP itself. Yes, I'm working on getting these leaks fixed this sprint.

[2018-09-03 10:26] rohanKanojia commented on #1013
@traviswinter : bdw, Could you please provide a test case also from which I can reproduce leaks and debug better? Last time they were quite intermittent.

[2018-09-03 11:59] xhlim opened #1194 "使用进入容器功能查看日志问题。"
自己实现了进入容器的功能。但是在里面遇到了一个问题。
1、如果使用NonBlockingInputStreamPumper时，手动输入反应很快，但是使用cat 查看大文件日志时，每次都会很慢
2、如果使用BlockingInputStreamPumper时，手动输入反应很慢，但是使用cat 查看大文件日志时，会变得很快

[2018-09-03 14:47] rohanKanojia commented on #1109
@ensonic : Does it make any difference to your test?

[2018-09-06 02:46] lxl910915 opened #1195 "how to delete pod forcely?"
The function as "kubectl delete pod podName --grace-period=0 --force" ?

[2018-09-06 19:20] traviswinter commented on #1013
Sorry @rohanKanojia , just saw this message now.  Our process is a little convoluted so its difficult to reproduce outside of it.

We have a watcher built from a Kubernetes Client that, when it receives an event, queries the cluster for data.  The querying varies depending on factors, but generally we run similar code to "ReplicaSetList replicaSetList = kubeClient.extensions().replicaSets().inAnyN

[2018-09-06 19:30] ljnelson commented on #1013
Just lurking, but the message is definitely coming from the OkHttp client: https://github.com/square/okhttp/blob/5b37cda9e00626f43acf354df145fd452c3031f1/okhttp/src/main/java/okhttp3/ConnectionPool.java#L266-L271

[2018-09-06 19:49] ljnelson commented on #1013
Last comment: I am no expert in this codebase or in OkHttp, but shouldn't this response be closed? https://github.com/fabric8io/kubernetes-client/blob/f7843cff15b239e4466167f63c599fc9ca4e4146/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/OperationSupport.java#L379

[2018-09-06 19:59] dima-spire opened #1196 "NullPointerException when running from spark-submit"
Hi, I'm not familiar with kubernetes-client, but I assume NullPointerException is always a bug:

[code]

Obtained while trying to run spark example in cluster mode:
[code]
Spark client & server versions: 2.3.0. Not sure what version of kubernetes-client it uses.

[2018-09-06 20:03] dima-spire commented on #1196
Found why it was happening:
`--master k8s://https://://10.0.123.321:7077` should probably be
`--master k8s://https://10.0.123.321:7077` or
`--master spark://://10.0.123.321:7077`.

However NullPointerException still stands.

[2018-09-06 20:04] piyush1594 commented on #1195
Hey @lxl910915

Can you please try this if it resolves your problem.

[code]

[2018-09-06 20:30] ljnelson commented on #1013
I did find a place where a `ResponseBody` does not seem to be closed: https://github.com/fabric8io/kubernetes-client/blob/f7843cff15b239e4466167f63c599fc9ca4e4146/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/OperationSupport.java#L428

[2018-09-07 04:00] KevinSmile commented on #1148
mvn clean install -DskipTests

then you will see `ConfigBuilder` in generated-sources

[2018-09-07 17:52] ljnelson commented on #1090
Lurking due to my interest in #1013.

I am no expert but note that the response body seems not to be closed here: https://github.com/fabric8io/kubernetes-client/blob/7ea9ce885f9fad72949db6e3f5cc8dceb8ce8766/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/ExecWebSocketListener.java#L223-L236

Hopefully that helps.

[2018-09-07 18:06] ljnelson commented on #1090
Working on a PR for further discussion.

[2018-09-07 18:28] rohanKanojia commented on #1090
@ljnelson : Yep, I also feel that response body should be closed. But the test case provided by @sleshchenko seems to be producing leaks every time.

[2018-09-07 18:45] ljnelson commented on #1090
See #1198.  Again, this is mainly for discussion.

[2018-09-07 21:01] ljnelson opened #1199 "Improperly handled InterruptedException in NonBlockingInputStreamPumper?"
I am not sure, but this:

https://github.com/fabric8io/kubernetes-client/blob/f7843cff15b239e4466167f63c599fc9ca4e4146/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/utils/NonBlockingInputStreamPumper.java#L68-L70

...effectively does nothing.  The presence of an `InterruptedException` means the interrupted status has been cleared, so `Thread#interrupted()` will redundantly clear the

[2018-09-08 04:20] lilida opened #1200 "Does this client library support credential plugin (like aws-iam-authenticator) in kube config file?"
I did a quick look at the code and tested in my environment (a bit older version though) It looks like aws-iam-authenticator is not supported yet. Is this true?

[2018-09-08 21:27] ljnelson opened #1201 "Various improper InterruptedException catch blocks"
There are several cases in the codebase where `InterruptedException` is caught and then wrapped inside a `KubernetesClientException`.  Here is one arbitrary example:

https://github.com/fabric8io/kubernetes-client/blob/f7843cff15b239e4466167f63c599fc9ca4e4146/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/BaseOperation.java#L220-L222

As [Brian Goetz writes](https://www.ibm.

[2018-09-08 21:46] ljnelson commented on #1201
See PR #1202.

[2018-09-09 14:33] WywTed opened #1203 "watch custom resource"
## How to watch custom resource?
### I defined a custom resource definition, and create one resource and then want to watch it but it doesn't enter the eventReceived method.  Even i tried the example in  kubernetes-client/kubernetes-examples/CRDExample.java, it didn;'t  work.
### what should i take care when watching custom resource
[code]

[2018-09-10 21:41] ljnelson commented on #1090
I went ahead and copied the test into my own branch and pared it way down so that it runs only against the mocks.  Whether or not the responses surfaced in the test are closed, connections eventually leak, or at least the leak detection algorithm reports that they do.

[2018-09-10 23:18] ljnelson commented on #1090
@sleshchenko @rohanKanojia Making a little more progress here.

This screenshot:

![screen shot 2018-09-10 at 4 04 00 pm](https://user-images.githubusercontent.com/80764/45329002-326fe480-b513-11e8-8d94-ac6123e286f2.png)

…is from a debugging session and shows the "innards" of a `RealConnection` in the OkHttp connection pool during one iteration of the `ExecTest`.  The leak detection is time-based

[2018-09-10 23:27] ljnelson commented on #1090
To boil all this down further:

I think that what `ExecTest` shows is that _in the case of failures_ stream allocations inside the OkHttp library are not being released.  Since at least in the case of `ExecTest` the failure in question doesn't even result in a websocket being created, we _probably_ (maybe? 😄 ) should `cancel()` the `WebSocket` in `ExecWebSocketListener` after calling the `onFailur

[2018-09-10 23:38] ljnelson commented on #1090
I have tried using `cancel()` calls at the right places in `ExecWebSocketListener` and this did not work.  So much for that theory!

[2018-09-11 17:39] ljnelson commented on #1090
Getting closer.

The problem is definitely in the OkHttp library.

When you debug the initial HTTP call to the mock server to establish the websocket (which will never complete because the pod doesn't exist), you will end up here:

https://github.com/square/okhttp/blob/0b2486f7f32fbe21c8630f330d240546a15beb66/okhttp/src/main/java/okhttp3/internal/connection/ConnectInterceptor.java#L42

That alloca

[2018-09-11 17:46] rohanKanojia commented on #1090
@ljnelson : FYI, I've also filed an [issue](https://github.com/square/okhttp/issues/4258) on okhttp, we can move the discussion there also if you think fix lies in okhttp. WDYT??

[2018-09-11 18:07] ljnelson commented on #1090
Yes, that sounds good.

[2018-09-11 18:17] rohanKanojia commented on #1090
You can put all your findings on that issue, I linked most of the things done till last weekend. There we can get much broader idea of this problem from okhttp maintainers :-)

[2018-09-12 09:50] jsjjdzg opened #1205 "Support for resource type PrometheusRule"
Can you please add support for resource type PrometheusRule

We would like to be able use resource fragments of this kind using the F-M-P.

fabric8io/fabric8-maven-plugin#1377

[2018-09-13 06:47] #1179 closed

[2018-09-13 11:33] rmartseniuk commented on #1122
@valentinabojan Our team was faced with the same problem. How did you solved this problem?

[2018-09-14 15:54] jtnord commented on #1014
as far as I have been able to uncover without documentation the API call of
`.watch(version, theWatcher)` should be `.withResourceVersion(version).watch(theWatcher)`

[2018-09-18 05:33] jeff-1amstudios commented on #1189
[code]

[2018-09-18 14:08] valentinabojan commented on #1122
@rmartseniuk Instead of using the username/password to authenticate ourselves, we configured the builder to use the OathToken instead. Because the token is volatile, we chose to re-create the OpenShiftClient every time, before executing a command in the cluster through the API.

[code]

The getToken() method is a close copy of the OpenShiftOAuthInterceptor.authorize() method:
[code]

This is clear

[2018-09-18 16:06] WywTed commented on #1203
First, i tried in another cluster and it succeeded， but there was a new problem is  when watching the custromResouce, it threw an exception about deserialize, so i follow the source code and found that the class must defined under the special package name:

#### KubernetesDeserializer.java
[code]
i created the new package use these names, move class into the package and it succeed.

[2018-09-18 16:06] #1203 closed

[2018-09-19 08:50] liuchaoheliang commented on #1195
not right now, --force ,how to make

can't resolve this problem, the command --force , how to use the client-api implement?

[2018-09-20 02:36] liuchaoheliang opened #1211 "How to force delete pods by use kubernates-client api ?"
sometimes the pods can't delete, use 'withGracePeriod(0)' method desn't work  ...
kubectl delete pod app-test st --force --grace-period=0
--force   : Does this parameter have interface implementation?

[2018-09-20 06:30] rohanKanojia commented on #1211
@liuchaoheliang : Is there any such endpoint in kubernetes api for force deletion? Do you have any idea?

[2018-09-20 06:30] rohanKanojia commented on #1211
Duplicate of #1195

[2018-09-20 06:31] #1211 closed

[2018-09-20 06:32] rohanKanojia commented on #1195
@liuchaoheliang : Hi, Have you checked if there is such implementation of force deletion in kubernetes rest api? I think it can be implemented

[2018-09-25 08:47] matzew opened #1213 "Running Examples gives me SSLException"
Started Openshift v3.10 (`oc cluster up` - no extra arg, all default), and did execute an example in my IDE (`CRDExample`).

It fails, here is the log:

[code]

[2018-09-25 09:01] rohanKanojia commented on #1213
@matzew : Which version of client are you using?

[2018-09-25 09:49] matzew commented on #1213
I executed the v4.0.5 tag / same behavior w/ the 4.0.4 release

On Tue, Sep 25, 2018 at 11:02 AM Rohan Kumar <notifications@github.com>
wrote:

--
Matthias Wessendorf

github: https://github.com/matzew
twitter: http://twitter.com/mwessendorf

[2018-09-25 10:08] rohanKanojia commented on #1213
ah, need to check. We also had a user reporting not working CRDExample [here](https://github.com/fabric8io/kubernetes-client/commit/f219d6ce8be30869072380aba0c02b1bd2cc13d2#commitcomment-30356022). Could you please take a look and see if that helps?

[2018-09-25 10:28] matzew commented on #1213
I run the `v4.0.5` branch - so that code is exectued.

Even something very simple like:

[code]

gives me the SSLException

[2018-09-25 10:28] matzew commented on #1213
the `CustomResourceDefinitionList crds = osClient.customResourceDefinitions().list();` is throwing exception

[2018-09-25 10:49] JonathanO opened #1214 "Watch resource versions not correctly tracked resulting in 410 errors on reconnect"
The WatchConnectionManager incorrectly compares new and current resource versions, leading to it losing track of the resource versions. If it's disconnected and attempt to reconnect this will often lead to a 410 due to a too old resource version being sent on the new watch request.

This happens because resource versions are currently only being updated in the WatchConnectionManager if `currentRes

[2018-09-25 13:44] matzew commented on #1213
@rohanKanojia  this is, when running w/ Java9 ....

going w/ java8 -> works

[2018-09-25 16:05] rohanKanojia commented on #1213
@matzew : Client right now has support for Java 8 only

[2018-09-25 17:56] rhuss commented on #1213
@matzew that's interesting. Unfortunately (and especially for the kubernetes-client) we don't have any cycles for doing an update to Java 9 right now (although we should of course). It's a pity that Java 9 is not runtime backwards compatible here as I would expect (and which worked with Java 8 down to Java 6). 'would be interesting to find out though what actually the problem is here.

[2018-09-26 08:35] rohanKanojia opened #1216 "Merge Kubernetes Model into Client as it's submodule"
The idea is to be able to release faster. Currently, we have to release model->client->fmp and so on. So it's better to have them as one repository.

[2018-09-26 08:36] rohanKanojia commented on #1216
Closed by #1210

[2018-09-26 08:36] #1216 closed

[2018-09-26 11:35] kishansagathiya opened #1217 "Move CD out of https://jenkins.cd.test.fabric8.io/"
since https://github.com/openshiftio/openshift.io/issues/4160 was closed, lets track it here

@rohanKanojia

[2018-09-26 21:28] serrss opened #1218 "It is possible to use a constructor that doesn't exist when doing cascading deletion of the custom resource"
It is possible to execute the following code
`client().customResources(...).withName(null).cascading(true).delete()`
which will cause an error `io.fabric8.kubernetes.client.KubernetesClientException: An error has occurred.`
In this way use a constructor that doesn't exist.

Additional information:
kubernetes-client version `v4.0.5`

Stacktrace:

`io.fabric8.kubernetes.client.KubernetesClientExcept

[2018-09-26 21:59] ljnelson commented on #1218
Curious if this and #1099 are reporting the same thing?  If so it looks like #1124 was supposed to fix this.

[2018-09-27 07:46] serrss commented on #1218
@ljnelson I can reproduce it for `kubernetes-client version v4.0.5` that already has #1124 so I can't say that my issue with cascading deletion was fixed. Maybe we need to have the same fix as in #1124 but for `Cascading`?

[2018-09-27 08:27] ppietruch commented on #1218
@ljnelson I observe exactly the same issue in my code. Upgrade to v4.0.5 does not help.

[2018-09-27 14:18] JGulbronson opened #1219 "It appears that createOrReplace() is broken for deployments"
The following code yields this error:
[code]

[code]

I'm simply trying to update the number of replicas for an existing deployment, using `createOrReplace()`. It seems that instead of calling `update` internally, it's calling `create`, so Kubernetes (rightfully) throws an exception. #948 looks related, but `client.extensions().deployments()` is deprecated.

Any workarounds in the meantime? Is the

[2018-09-28 11:12] #1214 closed

[2018-09-28 17:05] ljnelson commented on #1214
@rohanKanojia Do you mind if I backport this to the 3.x branch, which currently is (incorrectly, right?) at `3.2-SNAPSHOT`?  I'd like to:
* Backport this fix
* Change the version of various `pom.xml`s to `3.2.1-SNAPSHOT` or whatever is appropriate to indicate that the next release is not `3.2.0` but something else

[2018-09-29 17:07] Leibniz137 opened #1222 "Calling wrong super() in DefaultKubernetesClient constructor using String masterUrl argument"
This seems like a bug but I don't understand the details well enough to know how to fix it. It doesn't seem like we should be calling super() on a string type.

I'm trying to use this constructor
[code]
https://github.com/fabric8io/kubernetes-client/blob/7d8213de3b5a90e412e193f305a15eca47bfa9d8/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/DefaultKubernetesClient.java#L87

In the fo

[2018-09-29 17:11] #1222 closed

[2018-10-04 08:31] #1182 closed

[2018-10-04 11:47] k-wall opened #1223 "jackson-dataformat-yaml dependency (2.7.7) ageing"
The Jackson dependency jackson-dataformat-yaml is currently version 2.7.7 which ageing.
Can kubernetes-client release 4.0.5 be used safely with a newer Jackson release (such as 2.9.5)?

I ran the kubernetes-client, tag 4.0.5, tests against 2.9.5 successfully.  I'm happy to submit a PR if it helps.

[2018-10-04 11:48] rohanKanojia commented on #1223
@k-wall : Yes, it would be awesome if you could make a PR for this ;-)

[2018-10-05 20:29] JGulbronson commented on #1219
@rohanKanojia are you able to confirm this is unexpected?

[2018-10-05 20:52] jglick commented on #1200
Confirmed. After configuring `~/.kube/config` [like this](https://github.com/kubernetes-sigs/aws-iam-authenticator/blob/master/README.md#4-set-up-kubectl-to-use-authentication-tokens-provided-by-aws-iam-authenticator-for-kubernetes), which follows [this spec](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#configuration), e.g. `kubectl get pods` on the command line works bu

[2018-10-05 21:21] rohanKanojia commented on #1219
Hi, I just checked but was unable to reproduce this. Could you please provide a test case in Java which is causing this problem? Here is the implementation of createOrReplace: https://github.com/fabric8io/kubernetes-client/blob/cee8550053e671bb0b3489e37196924f4c949a3f/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/BaseOperation.java#L402-L422

[2018-10-09 14:48] geoand commented on #989
I will start working on this

[2018-10-09 18:52] JGulbronson commented on #1219
Hey @rohanKanojia sorry for the delay. Unfortunately no test case is able to trigger it, it only happens against a real K8 cluster. Again, the (Kotlin) code looks like this:
[code]

That warn is printed correctly, and contains the state of the new deployment (image, replicas, pod template, etc). However, when I call `createOrReplace` this is the exception:
[code]

My guess is `fromServer().get() =

[2018-10-09 19:05] JGulbronson commented on #1219
Hey @rohanKanojia I think I found the issue. It seems that the test Kubernetes server is more liberal than the real one. I had to update my code to this:
[code]
To get it to work with a real server. It seems the test one doesn't require the deployment name or namespace, and lets you replace it anyway. This seems to be a bug in the test server, as it doesn't mimic the real deal, thoughts?

[2018-10-10 06:13] rhuss opened #1226 "Extend and move integrations tests"
Currently, we have integration checks for OpenShift 3.6.0, 3.6.1, 3.7.0 and 3.9.0 running on CircleCI.

Since these tests occupy most of our CircleCI queue (they also take a bit to run) and also the latest versions (3.10 and 3.11alpha are missing), I recommend:

* Moving out these test to the CentOS CI
* Disable tests on 3.6.0 and 3.6.1 (I don't think that they are used significantly) and increase

[2018-10-10 06:16] rhuss commented on #989
@iocanel @rohanKanojia wdyt about updating the major version and move to Java 8 ?  A bit similar as we do for fmp where we also moved to Java 8 ?

For sure we should skip Java 7 support asap, as they world finally fully embraced Java 8 and is moving quickly to Java 11 as it seems.

[2018-10-10 07:59] rhuss commented on #989
Ah, sorry my bad. haven't checked the date and project state and tried to answer https://github.com/fabric8io/kubernetes-client/issues/989#issuecomment-376996560

I need more coffee ....

[2018-10-10 09:29] rohanKanojia commented on #1226
hm, makes sense @iocanel @oscerd thoughts??

[2018-10-10 10:14] rohanKanojia commented on #1219
Hey, I tried reproducing your case but unfortunately could not. For me it was working on both MockWebServer as well as on minishift. I tried this simple code to test update replicas:
[code]

[2018-10-10 14:28] JGulbronson commented on #1219
Got it, will post my test case when I get the chance

[2018-10-10 17:18] rohanKanojia commented on #1200
@jglick : Keeping it open till someone implements the rest of the parts of spec. Could you please specify what else parts need to be implemented for it to get closed?

[2018-10-11 07:58] uce opened #1228 "OkHttpClient reports connection leak in OperationSupport.handleResponse"
The following happens with version `4.0.5` using `KubernetesClient`.

`OkHttpClient` reports the following connection leak on log level `FINE`.

[code]

Looking at `OperationSupport.java:379`, the problem seems to be that we directly call `client.newCall(request).execute()` instead of wrapping it in a try-with-resources as the Javadocs of `Call.execute()` suggest:

[code]

The following code resul

[2018-10-11 09:18] rohanKanojia commented on #1228
@uce : Hi, Thanks for reporting this. On which platform you're reproducing it. I was trying on Openshift but could not reproduce. As far as I know try with resources for ResponseBody works too. Does it work for you when you wrap response into try with resources. Notice that response is consumed in unmarshal method, so maybe it's getting consumed on a different thread?

[2018-10-11 09:42] uce commented on #1228
@rohanKanojia I've updated the description to include the version information. I'm using `4.0.5` and `KubernetesClient` with Kubernetes `v1.9.9`.

I think that the problem in https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/OperationSupport.java#L379 is that this throws **before** we get into the try-catch block. That'

[2018-10-11 09:50] rohanKanojia commented on #1228
@uce : Are you facing this problem in 4.0.5 only? Could you please try with previous versions i.e 4.0.3/4.0.0 ? Actually I sent a fix for leak in a PR few weeks ago : https://github.com/fabric8io/kubernetes-client/pull/1204/files#diff-bd0b3215ca04a57dd5925ca30802efd4R391 (that was supposed to fix leaks, and it was working also at that time).

[2018-10-11 16:17] ljnelson commented on #1228
Please see https://github.com/square/okhttp/issues/4258 and https://github.com/fabric8io/kubernetes-client/pull/1198 (which is unmerged?).

[2018-10-11 18:29] ljnelson commented on #1228
Yes, but note that if [line 379](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/OperationSupport.java#L379) fails, the `ResponseBody` will not have been opened so there is nothing to close (or leak).  So I believe that the message the OP is reporting is still related to https://github.com/square/okhttp/issues/4258.

[2018-10-11 18:34] rohanKanojia commented on #1228
Hm, I see. I think we should sync with okhttp team again to get this prioritized somehow. Or maybe fix it in okhttp itself.

[2018-10-11 18:42] ljnelson commented on #1228
Agreed; as noted in the OkHttp issue, I'm no expert on their codebase, so my analysis should be taken with a grain of salt.

[2018-10-11 18:47] #1199 closed

[2018-10-12 19:20] jwlai commented on #944
I am also struggling with this as well. Any help? Connecting via Java client.

[2018-10-15 07:34] #1223 closed

[2018-10-15 08:49] #866 closed

[2018-10-16 10:39] #1217 closed

[2018-10-16 12:18] skonto opened #1234 "VolumeNodeAffinity support"
Is this supported somehow?  https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#volumenodeaffinity-v1-core

[2018-10-16 12:36] rohanKanojia commented on #1234
We can consider adding it's support after upgrading model to v1.11

[2018-10-16 12:46] skonto commented on #1234
Thanx @rohanKanojia I would like to use it for local testing here: https://issues.apache.org/jira/browse/SPARK-24902

[2018-10-16 12:59] skonto commented on #1234
Btw @rohanKanojia this is not new to 1.11 this is missing form previous versions too: https://kubernetes.io/blog/2018/04/13/local-persistent-volumes-beta/ like 1.10

[2018-10-16 13:01] rohanKanojia commented on #1234
Right now client only supports resource type till 1.9 :-( . We haven't upgraded it to 1.10 or 1.11 since then... Although we would be updating model soon.

[2018-10-16 18:43] rohanKanojia opened #1235 "[Upgrade] Support for Kubernetes/Openshift v.1.11/3.11"
We need to  upgrade kubernetes model in order to add support for new Kubernetes resources as requested by community users in #1062 and #1234

[2018-10-16 18:44] rohanKanojia commented on #1062
I've opened #1235 for upgrading kubernetes-model to latest kubernetes version. So closing this one

[2018-10-16 18:44] #1062 closed

[2018-10-17 20:33] traviswinter opened #1238 "Unable to pull full repository on Windows 10"
When I try to pull this repository on my Windows 10 environment I get 2 issues around the filepath length and invalid filename characters.

Example filepath length issue:
kubernetes-model/vendor/github.com/openshift/origin/cmd/service-catalog/go/src/github.com/kubernetes-incubator/service-catalog/pkg/client/clientset_generated/internalclientset/typed/settings/internalversion/fake/fake_settings_cli

[2018-10-17 20:37] rohanKanojia commented on #1238
Seems like this is side-effect of #1216 , are you able to pull other branches; like 3.x/3.1.x??

[2018-10-17 21:17] traviswinter commented on #1238
Yes!  I was able to import 3.1.x without issue.  Looks like you were correct in your find - any way we can fix it?  Maybe modify those test cases?

[2018-10-22 08:22] Siva10 commented on #404
@jimmidyson Hi . I would like to use the API
`POST /apis/extensions/v1beta1/namespaces/{namespace}/deployments/{name}/rollback`
to rollback a deployment to its previous version in rollout history.
Is there any proposal to support this feature in your roadmap ? Or to achieve this do we have to still do replace() as mentioned by @ravilr ?
Thanks in advance

[2018-10-22 18:59] pk044 opened #1240 "VolumeSnapshot support"
Are there any chances for https://kubernetes.io/blog/2018/10/09/introducing-volume-snapshot-alpha-for-kubernetes/ support?

Thanks!

[2018-10-22 19:03] rohanKanojia commented on #1240
@pk044 : Hi, yes there are chances. But can't give any concrete ETA. We do have model upgrade in mind which can introduce these new resources in client. Maybe in the coming sprint we can prioritize it.

[2018-10-23 11:27] Exosik opened #1241 "OpenShiftOAuthInterceptor gets new token each time"
After this change:
https://github.com/fabric8io/kubernetes-client/commit/c1a6b10c799d5bef6198f37d331fd344950855a3#diff-1f50b87d0d0cacc403fa370cc659ace2

token is not persisted and each request generates new one.

Possible solution:
move/duplicate "synchronized" section (lines 80-87) to line 67

[2018-10-23 15:09] rohanKanojia commented on #1241
@Exosik :Would really appreciate if you could raise a PR ;-) .

[2018-10-24 19:08] traviswinter commented on #1235
Is there any reason not to update to the latest v1.12?

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md

[2018-10-24 19:33] rohanKanojia commented on #1235
No, there isn't :P . Since earlier upgrades have been like this( to a version less than the latest release), I thought so.

[2018-10-25 00:48] skonto commented on #1018
@rohanKanojia I will have a look, using a terminal with a container is my use case.

[2018-10-25 15:37] rohanKanojia commented on #1235
It wasn't chosen, I just did it seeing previous releases ;-) . Model is generated via [kubernetes-model](https://github.com/fabric8io/kubernetes-client/tree/master/kubernetes-model) project(which got merged into client recently). There is a go script which generates model: [generate.go](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-model/pkg/schemagen/generate.go). Upgradin

[2018-10-25 20:30] traviswinter commented on #1238
@rohanKanojia - Any idea if this could be fixed?  I was hoping to contribute a little more regularly but this is an annoyance for sure.

[2018-10-26 15:34] jfortunka opened #1243 "HTTPS is always used when mock server is in CRUD mode"
So, `KubernetesServer.java`, in `before` function we have
[code]
Notice that when `crudMode` is true, we are always initializing `KubernetesMockServer` in `https` mode. Is there a specific reason for this to be implemented like that?

Locally I've initialized `KubernetesMockServer` with `https=false` and `crud=true`, and everything seems to be working - but maybe there are some cases that forced y

[2018-10-29 18:15] onursatici opened #1244 "PodPriority support"
would be nice to have `PodPriority` support: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#example-priorityclass

[2018-10-29 19:47] traviswinter commented on #1238
@rohanKanojia - Managed to get a Linux VM up, have all the CLI components working at the project builds.  Do you use a specify IDE?  Eclipse seems to vomit on the maven plugins - (at 44,000 errors currently).

[2018-10-30 06:53] rohanKanojia commented on #1238
@traviswinter : I use IntelliJ .

[2018-10-30 10:24] #1241 closed, assigned to nobody

[2018-10-30 16:47] rohanKanojia commented on #1244
We would add it after upgrading kubernetes model to the latest kubernetes version

[2018-10-31 00:23] isunjin opened #1245 "Support async calls in Kubernects client"
May be i'm missing something, do we support async calls?

[2018-10-31 02:56] PaulFurtado opened #1246 "ExecWebSocketListener always combines stdout and stderr"
Combining stdout and stderr into a single stream makes it impossible for clients to discern stdout from stderr. It's critical for an exec implementation to treat these as separate streams. In unix programming, stderr is meant for logging (not just errors) and stdout is meant for output.

For example if you were to send the command:
[code]
the contents of the tar file generated from the directory i

[2018-10-31 03:45] PaulFurtado opened #1247 "URL parameters are not escaped in many methods"
In some cases this makes it impossible to pass certain arguments to APIs. In other cases, if a user of this client is handling untrusted user input, it can be a security issue since end users would be able to inject arbitrary unintended parameters into URLs.

If you look at the exec function in https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/ku

[2018-10-31 11:28] balexx commented on #1244
@rohanKanojia do you have estimates on when that's happening?

[2018-10-31 11:32] rohanKanojia commented on #1244
I'm going to prioritize this in coming sprint

[2018-11-01 09:56] xhlim opened #1248 "How to configure the socket proxy to access the server's k8s api through the local port"
How to configure the socket proxy to access the server's k8s api through the local port

[2018-11-01 17:31] jwlai opened #1249 "Anyway to connect to insecure Kubernetes?"
Hi I have a cluster deployed via Docker and see in the config that it added these values...
 - cluster:
    insecure-skip-tls-verify: true
    server: https://localhost:6445

and then a client-certificate-data and client-key-data

Is there a way to do the insecure-skip-tls-verify in the kubernetesClient?

[2018-11-02 00:28] xiaolong302 opened #1250 "Will I be able to run exec inside one specific container?"
client.pods().inNamespace("default")
                .withName(podName)
                .writingOutput(System.out)
                .exec("pwd");

But it seems it will fail if we have two  containers inside pod, would we be able to specify container name too?

[2018-11-02 00:36] xiaolong302 commented on #1250
actually you can do inContainer
 client.pods().inNamespace("default").withName("redis")
                .inContainer("redis").writingOutput(System.out).exec("pwd");

[2018-11-02 00:36] #1250 closed

[2018-11-02 13:31] #1249 closed

[2018-11-02 18:44] carljmosca opened #1252 "No adapter available for type:class io.fabric8.kubernetes.client.BatchAPIGroupClient"
Getting this error on OCP 3.9 with openshift-client  4.1.0

[2018-11-05 07:17] rohanKanojia commented on #1252
ah, could you please try with 4.0.7? Will get it fixed in next release.

[2018-11-05 08:08] rohanKanojia commented on #1245
Could you please elaborate? Isn't Kubernetes REST API is asynchronous by default?

[2018-11-05 11:37] carljmosca commented on #1252
I am getting the same error.  Should 4.0.7 work with OCP 3.9?

[2018-11-05 11:39] rohanKanojia commented on #1252
Yes, it is supposed to. This means there was some problem during release process :-( . I think you can use 4.0.4 in the meantime.

[2018-11-05 12:50] rohanKanojia commented on #1246
I think either we should revert that commit on master, or make an exception for cases where commands do not provide textual feedback. Thoughts @iocanel @oscerd ??

[2018-11-05 18:12] PaulFurtado commented on #1246
Ah, I actually had wrote up a comment talking about how to deal with commands that lack textual feedback but I must have forgotten to post it. When I have some free time today I'll write it up again. In essence, there are three channels here: stdout, stderr, and error. The error channel always completes. It provides a v1.Status object reporting the command's exit code and other error conditions.

[2018-11-05 20:29] carljmosca commented on #1252
I did not notice earlier but I was getting warnings on the build when I was using the openshift-client.  Apparently there's something about the dependency of the kubernetes-client and commonly named jars.  I assume this is harmless but it did make me want to try the kubernetes-client.

The 4.0.7 version gives this error:

An error occured while processing cronjobs:: Operation: [create]  for kind:

[2018-11-05 21:11] k-wall opened #1253 "4.1.0 release's pom.xmls versioned 4.0-SNAPSHOT."
There appears to be a problem with the 4.1.0 release's configuration management.  The pom.xml that comprise the release refer to 4.0-SNAPSHOT rather than the release's version number, 4.1.0. The issue is present on the top-level POM and the children.

The problem appears both in the 4.1.0 tagged files on GitHub:

https://github.com/fabric8io/kubernetes-client/blob/v4.1.0/pom.xml
https://github.com

[2018-11-06 08:42] rohanKanojia commented on #1253
ah, apologies for the inconvenience caused. We recently merged kubernetes-model into client and also changed release scripts for project. Looks like I missed something. I will push a fix soon. Could you please use v4.0.4 instead in the meantime?

[2018-11-06 10:04] rohanKanojia commented on #1253
@k-wall : Hi, I've updated v4.1.0 tag on GitHub and remove all occurrences of 4.0-SNAPSHOT for the time being. Could you please check if it helps your use case? Otherwise, we can do a quick release for 4.1.1 by the end of today or tomorrow. On maven central, I couldn't find poms versioned as 4.0-SNAPSHOT.

[2018-11-06 10:40] k-wall commented on #1253
@rohanKanojia source code management best practices say it is best not to update a tag once a release made from it is public even if mistakes were made.  Better to bump the minor version and put out a new release.

[2018-11-06 14:08] rohanKanojia commented on #1252
@carljmosca : Are you sure you had set cluster url correctly?

[2018-11-06 14:22] carljmosca commented on #1252
@rohanKanojia yes, I am beyond that error now and wondering about possible permission issue:

need a bit more than this: An error occured while processing cronjobs:: Operation: [create]  for kind: [CronJob]  with name: [hello]  in namespace: [moscac-job-demo]  failed.

[2018-11-06 14:29] carljmosca commented on #1252
I don't have minishift running currently but I am willing to try it.  Are you able to run this on the platform or external to it only?

[2018-11-06 14:30] carljmosca commented on #1252
WIth respect to the Openshift vs Kubernetes clients, this is the warnings I mentioned (or meant to) earlier:

kubernetes-client-4.0.7.jar, openshift-client-4.0.7.jar define 3 overlapping classes:
  - io.fabric8.kubernetes.client.ConfigFluent
  - io.fabric8.kubernetes.client.ConfigFluentImpl
  - io.fabric8.kubernetes.client.ConfigBuilder
maven-shade-plugin has detected that some class files are
pre

[2018-11-06 14:38] carljmosca commented on #1252
@rohanKanojia are you able to make this work with the Openshift client or the Kubernetes client?

[2018-11-06 14:41] rohanKanojia commented on #1252
Umm, I'm not sure what is your question. Are you talking about whether I tested this on Openshift/Kubernetes. I tested it on Openshift, but I can check on minikube also. Or Are you talking about the objects provided by client dsl OpenshiftClient/KubernetesClient? I just updated url for it to work. let me check on minikube also

[2018-11-06 15:12] carljmosca commented on #1252
I am sorry, I am asking about the client that was, or could be, used.  I don't get the originally reported error when I use the kubernetes client.

[2018-11-06 20:56] traviswinter commented on #773
This has probably long been solved, but you can accomplish this by building the YAML into  HasMetadata objects using "_kubeClient.load(yamlInputStream).get();_" then calling "_kubeClient.resource(object ).inNamespace(namespace).delete()_".

[2018-11-07 16:03] boxcee commented on #885
Facing the same issue.

[2018-11-07 19:52] shashank-g172 opened #1255 "ClusterRoleBinding RoleRef does not work with KubernetesRoleRefBuilder"
Hello,

 I'm trying to replicate this YAML file so I can deploy it to my AKS cluster. This is done in order to ready a tiller pod in the cluster so I can perform Helm operations. While creating this file using the library, I found that I cannot add a roleRef to my ClusterRoleBinding to reference my service account. Here's what I have:

apiVersion: v1
kind: ServiceAccount
metadata:
  name: tiller

[2018-11-07 23:34] shashank-g172 commented on #1255
Whoops, sorry my bad. I just realized that this should be a KubernetesClusterRoleBinding and not a ClusterRoleBinding object.

[2018-11-07 23:34] #1255 closed

[2018-11-08 07:34] PaulFurtado commented on #1246
So internally, most normal use cases want simple, blocking behavior of executing a command and getting back its output. With this code below, you basically just call exec and get back an ExecResult object containing the exit code and the stdout/stderr strings. The exit code comes from parsing the v1.Status object off of the error channel. Currently, it's not that useful to expose the error channel

[2018-11-08 07:36] oscerd commented on #1246
I'm ok with reverting this.

[2018-11-08 10:40] boxcee opened #1256 "Help: Unrecognized field error, can I create a custom property mapping?"
So, I am trying to implement [kubeless](https://kubeless.io/) CRD's with your client library.

I ran into the problem where the kubeless function CRD assumes a field [function-content-type](https://github.com/kubeless/kubeless/blob/64acdd4c395213b01428c67b166a9b23770da396/pkg/apis/kubeless/v1beta1/function.go#L40).

My FunctionSpec class looks like this:
[code]
When I create my first function (no

[2018-11-08 13:07] rohanKanojia commented on #1235
Yes, this is in progress. Will provide a PR when ready.

[2018-11-08 15:08] #1142 closed

[2018-11-09 04:00] yuandy opened #1258 "create statefulset, get A connection to https://kubernetes.default.svc was leaked. Did you forget to close a response body?"
When kubernetesClient.apps().statefulSets().inNamespace(namespace).create(zooPod), get
WARNING: A connection to https://kubernetes.default.svc was leaked. Did you forget to close a response body?
java.lang.Throwable: response.body().close()

[2018-11-09 16:11] traviswinter opened #1260 "Unable to build repo"
Tried on both Windows 10 and Ubuntu 18.0.4.  Getting issue running mvn install on the model project.  Is there an official repo setup guide?  Or are there some common known quirks contributors are using to get past this?

Running on OpenJDK 8 (tried 7 as well but there were complaints about improper version)

[INFO] Reactor Summary:
[INFO]
[INFO] Fabric8 :: Kubernetes :: Project 4.1-SNAPSHOT .....

[2018-11-09 16:19] rohanKanojia commented on #1260
ah, this could be due to switching from glide to dep

[2018-11-09 16:21] traviswinter commented on #1260
That looks to have been merged today - but I've been having these issues since about Tuesday? (went on gitter but no one seems to be there :))

[2018-11-09 18:13] rohanKanojia commented on #1260
ah, yeah. I'm also facing build failures on ubuntu, I was only able to build using `skipTests` option:
[code]
looks like there is some problem in surefire or in surefire configuration that's causing this problem.

[2018-11-09 18:18] rohanKanojia commented on #1260
I found [this](https://stackoverflow.com/a/53016532/2830116) StackOverflow Post. Maybe https://issues.apache.org/jira/browse/SUREFIRE-1588 is the reason for failure

[2018-11-09 18:41] ljnelson commented on #1260
See if adding `-DargLine='jdk.net.URLClassPath.disableClassPathURLCheck=true'` to the `mvn` command line "fixes" the problem.

[2018-11-09 18:48] rohanKanojia commented on #1260
@traviswinter : In my case I was able to resolve this after upgrading to surefire `3.0.0-M1`

[2018-11-12 09:16] boxcee commented on #1256
Lack of knowledge here.

It is possible to annotate the field with `@JsonProperty("function_content_type")`. Works just fine!

[2018-11-12 09:16] #1256 closed

[2018-11-13 10:34] fnan-avq commented on #1192
Is there any workaround for this issue? Or is there any way of creating Kubernetes Roles and RoleBindings with the fabric8 kubernetes client ?

[2018-11-14 17:36] traviswinter commented on #1228
It looks like this was fixed in their repo (https://github.com/square/okhttp/pull/4374) but I'm still seeing issues with Kubernetes 1.7 and 1.8 clients when I ran using it.  Kubernetes 1.9+ seem to have no issues however.  Seeing the same log statements as @uce :

[code]

Here is the code I was running:

[code]

[2018-11-14 17:41] rohanKanojia commented on #1228
Yeah, the issue is fixed but We still have to upgrade to okhttp version using that release. And that hasn't been released yet. I still need to verify this using SNAPSHOT though..

[2018-11-14 18:10] traviswinter commented on #1228
Sorry, I probably wasn't clear - I tested their fix and still see the issue.  If you could verify using Snapshot that would be great; like I said, seems fine for Kubernetes 1.9+ clusters, but 1.7 and 1.8 complain.

[2018-11-14 18:16] rohanKanojia commented on #1228
oh, you mean you tested with snapshot but still see this :-o . I'll find time to verify

[2018-11-14 21:05] kedarparallel opened #1263 "Class not found exception: io.fabric8.kubernetes.api.builder.VisitableBuilder"
I am seeing following exception:

[code]

My pom.xml looks like following

[code]

I will appreciate if someone can point to solution. I searched through issues filed here, stackoverflow and  googled but I cant find any solution.

[2018-11-15 05:15] hrishin commented on #1263
@kedarparallel looks like its dependency conflicts for `openshift-client`.

If you want to use `openshift-client > v3.2.0` then could you exclude `openshift-client` the dependency from `kubernetes-api` and give it a try if works?

There was breaking change happen in https://github.com/fabric8io/kubernetes-client/releases/tag/v4.0.0

[2018-11-15 16:09] fnan-avq commented on #1152
Is there any plan to fix this in a coming release ?

[2018-11-15 16:13] rohanKanojia commented on #1152
Yeah, we'll fix this in coming release

[2018-11-15 16:39] traviswinter commented on #1152
@rohanKanojia - do you know if there was a reason Kubernetes was added to the front of those class names?  Just to avoid collision with the Openshift resources?  Would this be as simple as renaming them in the kubeschema.json?

[2018-11-15 18:11] rohanKanojia commented on #1152
ah, no. I need to check

[2018-11-15 20:15] l15k4 commented on #944
I have the same problem, the exact same code works with the official kubernetes client.

fabric8io :
[code]
official:
[code]

[2018-11-15 21:16] traviswinter commented on #1228
After testing I get the impression that this is a race condition in okhttp.  When we make multiple calls to the client in succession, the cleanup seems to be mid-stream or something causing those exceptions to appear.

When I tested locally, creating a new client every time I was making a call versus using the same client resulted in no warnings in the logs about leaks.  When I made multiple calls

[2018-11-16 01:02] traviswinter commented on #944
Does the cert have an extra space at the end?  I believe my exception looked similar (though I didn't place it in the issue unfortunately) when I hit https://github.com/fabric8io/kubernetes-client/issues/902.

[2018-11-16 07:10] l15k4 commented on #944
@traviswinter it has a single `\n` and it does not work even if I trim it.

[2018-11-16 10:51] k-wall opened #1264 "Replaceable#replace 404 behaviour differs if lockResourceVersion is used."
I notice a behavioural difference in the API when `lockResourceVersion()` is used.

If I replace a configmap with code as below and the resource does not exist, the result is `null`.

[code]

If I replace a configmap using the `lockResourceVersion()` feature, an exception is thrown (`KubernetesClientException` with code `404`) when the resource does not exist.

[code]

From a user perspective, the

[2018-11-16 11:22] ffang opened #1265 "JDK11 support"
we should be able to use run "mvn clean install" sucessfully with both JDK8 and JDK11

[2018-11-16 11:35] ibuziuk opened #1266 "Not setting optional `Impersonate-Group` results in NPE in ImpersonatorInterceptor"
Currently, if `Impersonate-User` header is set in the request config, not setting `optional` [1] `Impersonate-Group` header results in NPE in `ImpersonatorInterceptor` [2]

[1] https://kubernetes.io/docs/reference/access-authn-authz/authentication/#user-impersonation
[2] https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/utils/Im

[2018-11-16 12:29] ibuziuk commented on #1266
PR is sent - https://github.com/fabric8io/kubernetes-client/pull/1267

[2018-11-16 17:41] rohanKanojia commented on #1152
@traviswinter :You're right Kubernetes was added in order to avoid collision with Openshift Role Bindings(Since they were implemented before); I think we need to remove prefixes from here to rename it: https://github.com/fabric8io/kubernetes-client/blob/99cae30b6c162eacc61e9c2c9ef319deaa5b9e28/kubernetes-model/cmd/generate/generate.go#L196-L200

But I'm afraid doing this might break backward compa

[2018-11-16 17:57] kedarparallel commented on #1263
Thanks @hrishin, Removing following from pom.xml helped

[code]

[2018-11-16 17:57] #1263 closed

[2018-11-16 18:14] #1266 closed

[2018-11-16 19:03] pk044 commented on #1240
@rohanKanojia oh, im very sorry then - i should have looked deeper into it before creating an issue here. thank you for the reminder though!

[2018-11-16 19:03] #1240 closed

[2018-11-17 16:19] rohanKanojia commented on #579
@pmcq : I see you have started working on this, I would check if I can find time to fix this. Would appreciate if you can work on this and submit a PR

[2018-11-17 17:46] batsatt commented on #1152
Can you just change the getKind() implementations to return the correct string constant instead of the (simple) class name?

We are blocked on this bug.

[2018-11-18 16:55] batsatt commented on #1152
I've worked around this for now by making renamed copies of the classes and manually registering them. (And no, modifying getKind() was not enough.)

[2018-11-19 15:36] #1226 closed

[2018-11-19 16:14] traviswinter commented on #1258
Seems similar to https://github.com/fabric8io/kubernetes-client/issues/1228 - does this happen everytime you run the code?  Are you running multiple calls at the same time?  Trying to diagnose the issue myself :)

[2018-11-19 17:20] #1238 closed

[2018-11-19 17:45] traviswinter commented on #1260
Works for me with the surefire upgrade

[2018-11-19 17:45] #1260 closed

[2018-11-19 21:02] traviswinter opened #1271 "Issue deploying ReplicaSet to extensions/v1beta1"
When attempting to deploy the following resource:

I get the following exception:

We build the HasMetadata object and push it through the following code:

`kubeClient.resource(resource).inNamespace(namespace).createOrReplace();`

It looks like Deployments work with extensions/v1beta1, but ReplicaSets do not regardless of namespace provided (or no namespace).

[2018-11-20 12:05] mgorniew opened #1273 "customResources can't be used with Cluster scoped CRDs."
Custom resources can have scope set to "Cluster".. CustomResourceOperationsImpl doesn't override isResourceNamespaced from BaseOperation. Because of this no resource create/update actions are possible.

[2018-11-21 13:29] grzegorzgoldapl commented on #1244
Is there any ETA on this?

[2018-11-21 14:25] #579 closed, assigned to nobody

[2018-11-21 15:11] pmcq commented on #579
Not sure I understand - I had submitted https://github.com/fabric8io/kubernetes-client/pull/930 and had just been waiting around for reply, but I'm glad the issue is now closed.

[2018-11-21 15:15] rohanKanojia commented on #579
@pmcq : I didn't test your PR on my machine(since you added tests also which were passing) and your changes seemed appropriate to me as per my knowledge of this project. Was it working for you? Or did I just merged something I wasn't supposed to ;-P .

[2018-11-21 15:19] rohanKanojia commented on #579
@pmcq : ah, okay. You submitted two PRs #1270 and #930  for the same issue. I somehow missed that. Sorry for the noise

[2018-11-21 15:22] pmcq commented on #579
Yeah the second PR was from a different contributor - I was just asking since I had already submitted a PR but you had asked if I could submit one.  Doesn't really matter - the important thing is the issue is closed :)

[2018-11-26 01:46] xunchangguo opened #1276 "How to fetch Metrics from metrics-server?"
How to fetch Metrics from metrics-server?
this is resource metrics api:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/instrumentation/resource-metrics-api.md

[2018-11-26 07:08] #1273 closed

[2018-11-27 17:49] anthonydahanne opened #1279 "Switching from 4.0.3 to 4.1.0, WatchConnectionManager is broken"
Hello, after upgrading to 4.1.0, when I "watch" for CRDs , I get the following error :

[code]

Here is the code that initiated the "watch" :

[code]

no error happened using 4.0.3

[2018-11-28 07:09] coderDemo opened #1281 "How to do a rolling update to a deployment"
How to do a rolling update  a deployment
just change the image versoin

[2018-11-29 02:06] lifubang opened #1282 "[Question] How to get cpu and memory usage of a pod"
How to write code to get cpu & memory usage of a pod, just like this command:
[code]
I searched the project, but can't find any file contains keyword `top`.
Thanks.

[2018-11-29 11:38] #1246 closed

[2018-11-29 17:20] rohanKanojia commented on #1282
Hm, we need to add support for ResourceMetricStatus and [ResourceMetricSource](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.12/#resourcemetricsource-v2beta1-autoscaling) in client for this.

[2018-11-29 17:53] amisevsk commented on #732
Closing -- out of date and no longer a problem.

[2018-11-29 17:53] #732 closed

[2018-11-29 17:54] amisevsk commented on #733
Closing as I think problem is solved.

[2018-11-29 17:54] #733 closed

[2018-12-05 08:31] #1235 closed

[2018-12-05 14:04] #989 closed

[2018-12-05 14:52] #1234 closed

[2018-12-06 00:18] davidkarlsen commented on #1235
Should the README be updated to reference the updated support?
BTW: 1.13 has been released :)

[2018-12-06 08:44] stewart-yu opened #1283 "How to generate auto-generated file?"
/help wanted

   I want to use diff API type by replace the repo in https://github.com/fabric8io/kubernetes-client/blob/v4.1.0/kubernetes-model/glide.yaml#L28-L29, using https://github.com/kubernetes/kubernetes.
   How can i to re-generated the file in https://github.com/fabric8io/kubernetes-client/tree/v4.1.0/kubernetes-model/kubernetes-model/src/main/resources/schema directory?
any one can provi

[2018-12-06 08:45] stewart-yu commented on #1283
/help wanted

[2018-12-06 08:47] rohanKanojia commented on #1283
Not sure I understand your question. You can simply run build in kubernetes-model by doing a `make` in your working directory. We are not using glide anymore, take a look at Gopkg.lock

[2018-12-06 08:54] stewart-yu commented on #1283
Forgot it, i using v4.1.0 branch
https://github.com/fabric8io/kubernetes-client/tree/v4.1.0/kubernetes-model

[2018-12-06 09:14] stewart-yu commented on #1283
@rohanKanojia Thanks for you attention
FYI

- In Branch: `v4.1.0`, the API from `https://github.com/openshift/kubernetes.git` now , but i want it from `https://github.com/kubernetes/kubernetes.git`, where i should change?
- and then how to re-generated the file in https://github.com/fabric8io/kubernetes-client/tree/v4.1.0/kubernetes-model/kubernetes-model/src/main/resources/schema directory

I'm n

[2018-12-07 08:15] rohanKanojia commented on #1283
I think you should change here: https://github.com/fabric8io/kubernetes-client/blob/827f2c9eaa9067e4150eb8716e447a625245fedd/kubernetes-model/glide.yaml#L24-L28

But I'm not sure how it's gonna impact client. On master we've moved away from glide and are not using dep. Any specific reason you're working on 4.1.0 branch? It's not clear to me what you're trying to achieve.

[2018-12-07 08:26] treesong opened #1284 "missing the second cert (or intermediate certs) in client certs chain while createKeyStore"
while build keyStore from user's client cert and client key, and user's client cert contains multiply certs, the intermediate certs will be ignored and only the first cert will be read.
code position:
[code]

[code]
my client certs data containt intermediate certs:
[code]

I change these lines, and test pass
[code]
Wish someone could merge this change to next release :)

[2018-12-07 08:51] stewart-yu commented on #1283
Thanks for your reply. I will check it later

[2018-12-07 21:49] seglo opened #1285 "Why is KubernetesDeserializer in a package named "internal"?"
You must use `KubernetesDeserializer.registerCustomKind` in order to successfully watch `CustomResourceDefinitions`, as implemented in [`CRDExample`](https://github.com/fabric8io/kubernetes-client/blob/v4.1.0/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/CRDExample.java).  Yet this type is in a package named "internal".  Does this imply it shouldn't be used by library users?  Sh

[2018-12-08 06:41] #1194 closed

[2018-12-08 06:41] #1248 closed

[2018-12-10 08:49] Dafnafrank opened #1287 "Support for DnsConfig"
Hi,
I would like to add the possibility to config as bellow (under Spec)

dnsPolicy: "None"
dnsConfig:
  nameservers:
    - 10.0.0.0
  searches:
    - someurl.com
  options:
    - name: rotate

I could not find a way to do this, Is it supported? (I am using version v3.1.13)
I know there is a way to set the DnsPolicy but could not find how to set the DnsConfig.
final Deployment deployment = new Dep

[2018-12-11 08:14] #1244 closed

[2018-12-11 11:09] stewart-yu commented on #1283
i occured anothers problems, have you any idea to fix it? @rohanKanojia
when i run ` make`, the output like:
[code]

[2018-12-11 11:13] rohanKanojia commented on #1283
@stewart-yu : ah, they seem like some dependency issues to me(not very good at go though :disappointed: ). During model upgrade I had trouble resolving them with glide so we switched to dep. Could you please try your changes onto latest master instead of 4.1.0 branch? Would be awesome could you please share your branch or a wip PR for the discussion to proceed.

[2018-12-12 07:59] guanchao-yang opened #1289 "Question : Can we close name validation"
![image](https://user-images.githubusercontent.com/32863418/49854996-cd37d200-fe26-11e8-9b5a-9e54abc3c334.png)

Can we have any way to close the name validation?

[2018-12-12 08:06] guanchao-yang commented on #1059
@tangchn @yybear Do you have any better way, maybe we can provide one default validator impl to ignore kubernetes-client model

[2018-12-12 08:54] dev-gaur opened #1290 "Add a stale bot."
Adding a stale bot would close the issues which were created long ago and might not be relevant now. We can always triage the issues which the bot closes up and re-open them if they are still valid. This might be a good way for some cleansing.

https://github.com/probot/stale

[2018-12-12 08:55] rohanKanojia commented on #1290
@iocanel @oscerd : thoughts??

[2018-12-12 08:56] oscerd commented on #1290
I hate stale bot. Really. But in this case it makes sense to close old issues.

In other projects it's really boring.

[2018-12-12 09:01] dev-gaur commented on #1290
`is:issue is:open created:<2018-01-01 `  lists 126 open issues. All of them probably won't be valid for the current Kubernetes version.

If we add the stale bot, prepare for a flood of stale notification mails! :joy:

[2018-12-12 09:01] oscerd commented on #1290
:sob:

[2018-12-13 06:55] Dafnafrank commented on #1287
@rohanKanojia
Hi, Any update to when this release is planned?

[2018-12-13 07:09] rohanKanojia commented on #1287
@Dafnafrank : I'm planning to release this weekend. We upgraded model to 1.12.12 so it should work with 1.11: https://github.com/fabric8io/kubernetes-client/blob/96d5516587679e458e41450a61a3b680c1347733/kubernetes-model/Gopkg.lock#L165-L170

[2018-12-13 07:50] rohanKanojia commented on #1287
@Dafnafrank : it might be because of mismatching api versions. Check whether the object you're posting has deprecated apiVersion `extensions/v1beta1`

[2018-12-13 08:02] Dafnafrank opened #1291 "the API version in the data (extensions/v1beta1) does not match the expected API version (apps/v1)"
Hi,
I am using latest client version (4.1-SNAPSHOT) with kubernetes 1.11.0.
When creating now a deployment we get the error:
"the API version in the data (extensions/v1beta1) does not match the expected API version (apps/v1)"
We create the deployment using:
.extensions()
.deployments()
.inNamespace(namespace)
.create(deployment);

This worked perfectly till now on older client (3.1.8) and same kub

[2018-12-13 08:03] Dafnafrank commented on #1287
Thanks for the answer!
I moved my question to a different issue (https://github.com/fabric8io/kubernetes-client/issues/1291)

[2018-12-13 08:08] rohanKanojia commented on #1291
@Dafnafrank : Deployment has been moved to apps since 4.0.0, Could you please try creating  deployment like this::
https://github.com/fabric8io/kubernetes-client/blob/96d5516587679e458e41450a61a3b680c1347733/kubernetes-itests/src/test/java/io/fabric8/kubernetes/DeploymentIT.java#L66-L91

[2018-12-13 09:56] #1186 closed

[2018-12-14 17:18] rohanKanojia commented on #1271
@traviswinter : Does it work when you are using `apps/v1`?

[2018-12-17 06:00] rohanKanojia commented on #1287
@Dafnafrank : kubernetes-client 4.1,.1 has been released. Could you please recheck and close this issue?

[2018-12-17 06:00] rohanKanojia commented on #1252
@carljmosca : Hey, kubernetes-client `4.1.1` has been released. I checked the jar and now it has got BatchAPIGroupClient. I think we can close this issue. Could you please verify?

[2018-12-17 06:00] rohanKanojia commented on #1253
@k-wall : Hey, kubernetes-client `4.1.1` just got released. Could you please try that out? I checked pom this time and it looks fine. Are we good to close this issue?

[2018-12-17 06:12] rohanKanojia commented on #1099
@ljnelson @xguerin : is this still an issue? @mgorniew  raised a PR for this earlier which got merged.

[2018-12-17 14:02] xguerin commented on #1099
Excellent question. I'll update to a release post aug 28th and let you know.

[2018-12-18 05:59] zxbu commented on #1008
I  solved it by other way, not reflect.
I think it is a better way

`
        PipedInputStream pipedInputStream = new PipedInputStream(1024 * 1024);  // pipeSize is 1m
        PipedOutputStream pipedOutputStream = new PipedOutputStream(pipedInputStream);

        kubernetesClient.pods()
                .inNamespace(namespace)
                .withName(podName)
                .inContainer(containe

[2018-12-18 06:19] waynegj opened #1295 "failed to parse kubeconfig with "Unrecognized field "expirationTimestamp""
spark-submit to AWS EKS, below error was thrown and authentication failed.

`2018-12-18 13:55:20 ERROR Config:552 - Failed to parse the kubeconfig.
io.fabric8.kubernetes.client.KubernetesClientException: An error has occurred.
	at io.fabric8.kubernetes.client.KubernetesClientException.launderThrowable(KubernetesClientException.java:64)
	at io.fabric8.kubernetes.client.KubernetesClientException.lau

[2018-12-18 06:38] waynegj commented on #1295
@jglick , can you help shed some light on this? Thanks.

[2018-12-18 20:40] traviswinter commented on #1271
@rohanKanojia - I checked and v1beta2 is not in my cluster API so that was one issue.  extensions/v1beta1 is however, and I'm still getting the same issue:

As you can see, its using the latest 4.1.1 release and still not working.  I tried a Deployment against extensions/v1beta1 and it worked fine.  I tried a ReplicaSet with apps/v1 and it deployed fine.  Just the extensions/v1beta1 that its not p

[2018-12-18 23:53] ywskycn opened #1296 "Adding propagation_policy parameter to delete operations"
Maybe I miss some code... I was trying to delete a custom resource and need to set the propagation_policy parameter, but unfortunately I cannot find a way to config it.. In the client, I only find withGracePeriod(). Anything I missed here?

[2018-12-19 02:53] zxbu opened #1297 "I get a wrong result when use exec and params contains '&'"
When the cmd like this
[code]

but  `mv -f /data/config.bak /data/config` will not run .

I think the reason is   url encoder/decoder, So I try like this, and it worked:

[code]

[2018-12-19 06:10] rohanKanojia commented on #1287
Closing this, please reopen if not working as expected

[2018-12-19 06:10] #1287 closed

[2018-12-19 06:11] rohanKanojia commented on #1252
Closing this, please reopen if not working

[2018-12-19 06:11] #1252 closed

[2018-12-19 06:12] rohanKanojia commented on #1253
@k-wall : Closing this one ;-)

[2018-12-19 06:12] #1253 closed

[2018-12-19 06:13] rohanKanojia commented on #1201
Closed via #1202

[2018-12-19 06:13] #1201 closed

[2018-12-19 06:54] rohanKanojia commented on #1187
There is a method in SerializationUtils for deserializing to yaml:
https://github.com/fabric8io/kubernetes-client/blob/e36599078376894e30f2ca41a8fb1fb14f4fe310/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/FullExample.java#L117-L120

[2018-12-19 14:37] rohanKanojia commented on #1271
@traviswinter : This is due to `apiGroup` being not picked from resource body here:
https://github.com/fabric8io/kubernetes-client/blob/e36599078376894e30f2ca41a8fb1fb14f4fe310/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/BaseOperation.java#L95-L103

We should add a case for extracting apiGroup also from resource body, just like apiVersion

[2018-12-20 00:48] stewart-yu commented on #1283
/close
close it, and i fixed it now
thanks for you help @rohanKanojia

[2018-12-20 00:49] #1283 closed

[2018-12-20 11:25] ajaygk95 opened #1299 "client.load(new FileInputStream(args[0])).createOrReplace(); throws nullPointer if resource spec file has "generateName" or resource type "role""
Hello,

I am using io.fabric8 kubernetes java client api (4.1.0) to apply resources from a spec yaml.
1. In the pod spec if i use
  metadata:
     generateName: ag-pod
Then a null pointer exception is thrown.
2. If the resource spec file has the "role" or "roleBinding" resource a null pointer execption is thrown.

kubectl apply -f <file.yaml> applies these resources without any error.

Please go t

[2018-12-20 15:03] traviswinter commented on #1152
@rohanKanojia - What do you think we should do here?  Any idea on how we can prevent breaking of Openshift backwards compatibility?  I was looking into just checking for "Kubernetes"+getKind() in Handler but that could potentially break the OpenShift handlers as well.

Going to try and get more familiar with this code (now that I found out how to add the Eclipse key-bindings to IntelliJ :)) so I c

[2018-12-20 15:09] rohanKanojia commented on #1152
@traviswinter : This is creating lots of confusion among users. I think we should move forward with renaming these classes to their proper names and rename Openshift classes with prefixes( I think this would make more sense).

@iocanel @oscerd : thoughts???

[2018-12-20 15:11] oscerd commented on #1152
+1, makes sense.

[2018-12-20 16:43] rohanKanojia commented on #1152
@traviswinter : Would be awesome if you can find time to fix this. You just need to rename classes in `generate.go` and resolve some conflicts in client code due to newly  generated model. Otherwise, I would try to send PR this weekend :-)

[2018-12-20 16:59] #1271 closed

[2018-12-20 18:48] traviswinter commented on #1152
@rohanKanojia , sure - can take a stab at it this afternoon.  Any recommendation for the prefixes?  Simply call it "Openshift"+kind?  Would this simply trade the issue from Kubernetes to Openshift?  Or does Openshift require a different pattern for creating their resources?

[2018-12-20 19:17] rohanKanojia commented on #1152
@traviswinter : No, it's the same pattern. It's just that for an Openshift object  we read from an openshift vendor directory(in case of RoleBinding `github.com/openshift/api/authorization/v1`). If I'm not wrong these Role bindings were introduced earlier in Openshift and then came into kubernetes(the generated classes also look similar). Now kubernetes also supports them so as an openshift user I

[2018-12-20 21:14] traviswinter commented on #1152
Looks like the generate.go changes were not enough - changes to kube-schema.json were required as well, or am I doing something wrong? :)

The generated classes themselves will need to be changed as well for
 return KubernetesRole.class.getSimpleName();  to work in KubernetesRoleHandler.java.

[2018-12-21 07:32] ajaygk95 commented on #1299
Thanks @rohanKanojia for the quick reply.
How can i take [PR 1300](https://github.com/fabric8io/kubernetes-client/pull/1300) and test. Should i build the project with this PR changes or is there a maven jar available ?

[2018-12-21 08:40] rohanKanojia commented on #1299
You would need to build project with this PR changes, simply pull PR using command:
[code]
and then build a snapshot doing plain `mvn clean install -DskipTests`

[2018-12-21 10:44] HarishHothi commented on #1279
+1

[2018-12-21 15:54] traviswinter commented on #1192
RBAC is being refactored as per https://github.com/fabric8io/kubernetes-client/pull/1300 - with those changes the correct model object should be returned.

[2018-12-24 06:39] #1152 closed

[2018-12-24 06:46] rohanKanojia commented on #1192
Closed via #1300

[2018-12-24 06:46] #1192 closed

[2018-12-24 20:02] acooley opened #1302 "Security issues found in your dependencies."
My customer uses Snyk.io to scan pom files for known vulnerabilities.  There were some found in your latest maven builds.  I recommend adding the following to your builds and/or reporting the findings to package providers that are introducing them after scanning with Snyk.io (it's free for open source projects)...

		<dependency>
			<groupId>com.google.guava</groupId>
			<artifactId>guava</artifac

[2018-12-27 14:34] rohanKanojia commented on #1299
@ajaygk95 : Since #1300 has been merged, you should be able to get RoleBindings working now. It should be available in next release. About `generateName`, Could you please try the latest version `4.1.1` which has support for kubernetes 1.12.2?

[2018-12-27 16:32] rohanKanojia commented on #789
@gjw0317 : Is drain command supported in latest Kubernetes versions? Your link is giving 404

[2018-12-27 16:32] #875 closed

[2018-12-27 16:35] rohanKanojia commented on #349
@fecogc @gjw0317 : Yes, it has been added. Please see example:https://github.com/fabric8io/kubernetes-client/blob/a909fda0daf0ad91ccd02e2f02c66f47d33f54d0/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/KubernetesVersionExample.java#L32-L40

[2018-12-27 16:38] rohanKanojia commented on #349
Duplicate of #1048

[2018-12-27 16:38] #349 closed

[2018-12-27 16:41] rohanKanojia commented on #374
@ramukima : We have added this compatibility matrix in our README which shows which versions of kubernetes are supported. Right now kuberntes-client supports Kubernetes 1.12.2. Are we good to close this issue?

[2018-12-27 16:44] rohanKanojia commented on #427
Duplicate of #955

[2018-12-27 16:44] #427 closed

[2018-12-27 17:47] dev-gaur commented on #1005
@iocanel Can you elaborate more on this issue? If you have done any work from your side, feel free to send a PR or share your work with me? I can take this over.

[2018-12-28 07:21] ajaygk95 commented on #1299
@rohanKanojia : Will test `generateName` with latest 4.1.1 kubeenetes-client api and let you know.

Does v4.1.1 include [#1300](https://github.com/fabric8io/kubernetes-client/pull/1300). ?

[2018-12-28 07:53] rohanKanojia commented on #1299
No, I was talking about your comment on `NullpointerException` when using `generateName`

[2018-12-31 09:44] rohanKanojia commented on #1005
@dev-gaur: I think @iocanel is talking about the `processLocally()` method in DSL. For example, take this template:
[code]
When we try to process this template using dsl like this:
[code]
I get this error:
[code]

[2019-01-02 18:45] traviswinter commented on #1058
Wanted to bump this issue - we hit this regularly when running unit tests against config specifically.  If its on a machine that has a specified kubeconfig, it auto-loads those values.  Seems pretty hacky to have to work around, especially when that comment is in the Config default constructor.

I see two options:

1. We remove the autoConfigure from the default constructor as per the comments.  T

[2019-01-03 22:07] jglick commented on #1295
@waynegj see #1280.

[2019-01-03 23:54] dima-spire commented on #1196
@rohanKanojia Already shared, see above.

[2019-01-04 12:14] #1187 closed

[2019-01-04 16:26] viniciusccarvalho opened #1308 "Unable to customize Jackson ObjectMapper"
Hi there, I'm trying to use the library with Kotlin, and I'm reading some CRDs that I have defined, but because the `WatchHTTPManager` class creates a mapper without allowing customization: https://github.com/fabric8io/kubernetes-client/blob/79132f3348d24acb677de3ee20a96da8d1c67c84/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/WatchHTTPManager.java#L51 I can't create ad

[2019-01-05 01:54] xguerin commented on #1099
I am still on this. I am synchronizing with @ljnelson to check if both of our use cases got fixed.

[2019-01-05 04:12] leogps opened #1309 "kubernetes versionInfo returns null"
The below always returns null because the implementation is not constructing the endpoint properly and is failing to complete the HTTP request correctly.
`VersionInfo versionInfo = kubernetesClient.getVersion();`

In the ClusterOperationsImpl#fetchVersion method, it should be
`Builder requestBuilder = (new Builder()).get().url(this.config.getMasterUrl() + "/" + this.versionEndpoint);`
The path sep

[2019-01-05 05:50] ljnelson commented on #1099
Sorry for the delay; crawling back after the holidays!

[2019-01-07 06:17] FDU-SE-LAB opened #1310 "Your project fabric8io/kubernetes-client is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 09:49] pk044 opened #1311 "Can't load OpenShift objects in a project with OpenShift & Kubernetes dependencies (when ran in a JAR)"
When I load a resource from json file and call .get() on it
`client.load(new FileInputStream(config.toFile())).get();`
I get a NPE - i checked it in the debugger and it seems like that the `RESOURCE_HANDLER_MAP` in `Handlers` class doesn't contain the OpenShift objects - so if i load a DeploymentConfig, a handler for it won't be found.

Version and order of dependencies:
[code]

I tried downgradin

[2019-01-07 11:52] songchuangyuan opened #1312 "get Node information by KubernetesClient error"
I use api get k8s nodes info just like this way：
Node node = kubernetesClient.nodes().withName(nodeName).get();
but throw exception：
io.fabric8.kubernetes.client.KubernetesClientException: Operation: [get]  for kind: [Node]  with name: [nj03-bdg-pingo4-server36.nj03.baidu.com]  in namespace: [null]  failed.
	at io.fabric8.kubernetes.client.KubernetesClientException.launderThrowable(KubernetesClien

[2019-01-07 14:43] geoand opened #1313 "Conflicting ResourceHandler when two different object kinds exist"
When trying to load Istio resources from a yaml file that contains an Istio `Policy` using the [Istio Java API](https://github.com/snowdrop/istio-java-api) (which is an extension kubernetes client), I am seeing the following exception:

`java.lang.ClassCastException: me.snowdrop.istio.api.authentication.v1alpha1.Policy cannot be cast to io.fabric8.openshift.api.model.v4_0.Policy`

I tracked down t

[2019-01-08 10:04] ajaygk95 commented on #1299
generateName is not working with 4.1.1 or master as well if i use client.load(new FileInputStream(args[0])).createOrReplace().

One small information, whenever my pod-spec.yaml has generateName then
kubectl apply -f <pod.yaml> will FAIL but
kubectl create -f <pod.yaml> will work.

I saw from this [link](https://github.com/kubernetes/kubernetes/issues/44501#issuecomment-294255660) that kubectl appl

[2019-01-08 10:15] ajaygk95 commented on #1299
I built the master branch of fabric8io/kubernetes-client as [#1300](https://github.com/fabric8io/kubernetes-client/pull/1300) was merged  and Role/Role-Bindings are working fine with client.load(new FileInputStream(args[0])).createOrReplace();

Thanks for the help.

[2019-01-08 10:20] rohanKanojia commented on #1299
@ajaygk95 : np, stay tuned for next release ;-) . Can we close this for now?

[2019-01-08 15:37] trevorndodds opened #1314 "Support for EC Private Keys"
Hi,

The keys I have are EC Private Keys.
-----BEGIN EC PRIVATE KEY-----

I noticed the official java kubernetes-client added support for EC Private keys in Feb 2018.
Any plans to add support?

[code]

[2019-01-09 08:05] ajaygk95 commented on #1299
Yes :)
I will try few things for generateName and if still doesn't work will raise a new ticket. Thanks

[2019-01-09 08:08] #1299 closed

[2019-01-09 09:41] Zephery opened #1315 "Emergency: additionalProperty ERROR"
After i set additionalProperty to create route, is use createOrplace to replace it, but additionalProperty can't be carried;

create route
![image](https://user-images.githubusercontent.com/14806207/50890684-9eb51300-1435-11e9-968f-8c064d1587cc.png)

and then i replace it
![image](https://user-images.githubusercontent.com/14806207/50890736-bbe9e180-1435-11e9-831f-e368118c938e.png)

but it turns ou

[2019-01-09 09:42] Zephery commented on #1315
@fusesource-ci

[2019-01-10 02:43] Zephery commented on #1315
Class HasMetadataOperation->replace method->
D doneable = (Doneable)this.getDoneableType().getDeclaredConstructor(this.getType(), Function.class).newInstance(item, visitor);
can't transfer item's additionalProperty to visitor

here is jdk10 code:
![image](https://user-images.githubusercontent.com/14806207/50942623-3feaaa80-14c4-11e9-8d33-b41edcff423e.png)

and variables:
![image](https://user-imag

[2019-01-10 03:39] zhoujianhui commented on #1249
just set your builder "withTrustCerts(true)"

[2019-01-11 02:17] Zephery commented on #1315
@fusesource-ci

[2019-01-11 09:08] MikaelUlvesjo opened #1316 "BinaryData in configMaps do not work"
I'm using version 4.1.1 of io.fabric8 kubernetes-client and im not able to add binaryData to configMaps
I wrote 3 tests below to show what I have tested.
All tests fail on assertion and I can see on my kube installation that the config maps is created but is missing the binary data.

[code]

[2019-01-11 09:09] oscerd commented on #1315
fusesource-ci is a CI job.

[2019-01-11 09:22] Zephery commented on #1315
Ah~~~~ do u know how to fix this?
additionalProperties

[2019-01-11 09:55] MikaelUlvesjo commented on #1316
The test kube was only running kubernetes 1.9.3 and binaryData was added in 1.10.0.

[2019-01-11 09:55] #1316 closed

[2019-01-11 10:17] rohanKanojia commented on #1315
@Zephery : let me try to reproduce it

[2019-01-11 10:41] rohanKanojia commented on #1315
@Zephery : yeah, it's not carried. I'm not even sure what purpose it serves. But could you please describe your use case? Why do you need to set something in `additionalProperties` field? I don't see any such field in Route spec.

[2019-01-11 10:47] rohanKanojia commented on #1309
Strange, I tested this but it's working for me. Could you please share the Config object which you use to create client?

[2019-01-11 10:54] rohanKanojia commented on #1279
@anthonydahanne @HarishHothi : Is it only breaking for CRDs or any other resources also? Would really appreciate if you could share some test which I can use to reproduce this issue? Right now what you shared seems like some snippet of your code.

[2019-01-12 14:42] Zephery commented on #1315
well, "tcpMode" and "TCPPort: TCPMode:false" are user-defined, i  add it to route and make haproxy to support tcp. But fabric8io/kubernetes-client don't have tcpMode and TCPPort field, so i add it in additionalProperties. When i create route, it success. but when i use createOrReplace method to replace it, additionalProperties can't by carried

[2019-01-14 15:52] traviswinter commented on #1312
This looks like an RBAC issue, meaning your user doesn't have permissions to see a specific node. What happens when you run kubernetesClient.nodes().list().get()?

[2019-01-14 16:17] traviswinter commented on #1291
If you have no issues deleting them first, I would suggest running the deletion for the extensions:

client
.extensions()
.deployments()
.inNamespace(namespace)
.withName(deploymentName)
.delete();

Then just create it in the apps deployment:

client
.apps()
.deployments()
.inNamespace(namespace)
.withName(deploymentName)
.createOrReplace(deployment);

[2019-01-15 13:31] singhania commented on #1152
In which version this will be released ?

[2019-01-15 14:21] rohanKanojia commented on #1152
@singhania : It would be available in next release i.e 4.1.2

[2019-01-16 08:11] #1200 closed

[2019-01-16 12:15] ctron commented on #916
There are two bugs here, needed to be fixed. And this only happens when you have proper javax.validation support on your classpath.

The first bug is in the farbic8 kubernetes client, in the `TemplateOperation`:

[code]

The builder should be initialized with `validation=false`:

[code]

However, this will only work if the client is generated with a newer version of the builder generator (https://

[2019-01-16 15:24] scotts opened #1317 "Mocked KubernetesResponseComposer default response has no metadata"
Because [`KubernetesResponseComposer`](https://github.com/fabric8io/kubernetes-client/blob/59e5b9d0f318f4f78f417efaec34050ed8122b8f/kubernetes-server-mock/src/main/java/io/fabric8/kubernetes/client/server/mock/KubernetesResponseComposer.java) has   no mocked metadata in its `compose` method, trying to test custom resource definitions with a mocked server throws a `NullPointerException` when trying

[2019-01-17 12:15] wangbin3685 opened #1318 "use io.fabric8.kubernetes.client.Watcher<Event> to collect infomation"
when using io.fabric8.kubernetes.client.Watcher<Event> to collect infomation, throws the following error

[code]

[2019-01-17 20:54] jglick commented on #1200
Sorry, just saw your message. I am no longer actively using this library; I just implemented enough for it to work at least for testing purposes.

[2019-01-18 09:19] salaboy commented on #1203
Are you getting something like this:

 Caused by: io.fabric8.kubernetes.client.KubernetesClientException: resourceVersion: Invalid value: "v1beta1": strconv.ParseUint: parsing "v1beta1": invalid syntax
	at io.fabric8.kubernetes.client.dsl.internal.WatchConnectionManager$2.onFailure(WatchConnectionManager.java:198)
	at okhttp3.internal.ws.RealWebSocket.failWebSocket(RealWebSocket.java:543)
	at okht

[2019-01-18 20:44] salaboy commented on #1308
@viniciusccarvalho damn.. I am stuck with this one as well. We might better provide a PR to fix it and hope for a release :)

[2019-01-21 03:43] ffang commented on #1265
Created a PR here
https://github.com/fabric8io/kubernetes-client/pull/1319

@rohanKanojia please review, thanks!

[2019-01-21 07:42] rohanKanojia commented on #1314
I think it's a nice feature. We should add this to our client also

[2019-01-21 10:21] WywTed commented on #1203
yes i remembered that i saw this.

[2019-01-21 11:20] salaboy commented on #1203
@WywTed yeah.. that is because the object mapper doesn't have the type.. I will try to create a PR to fix that..

[2019-01-21 12:28] krishnag9 opened #1320 "Not able to delete job using ttlSecondsAfterFinished"
This is my spec that I have used to create the job

V1JobSpec jobspec = new V1JobSpec();
jobspec.setTemplate(template);
jobspec.setTtlSecondsAfterFinished(360);

apiInstance.createNamespacedJob(namespace, job, null, null, null);

The above has to create a job and a pod which is happening correctly. So when the job completes it has to delete the job and pod after 360 seconds which is not happening.

[2019-01-21 12:33] rohanKanojia commented on #1320
@krishnag9 : I think you're using official client. Via fabric8 kubernetes client you can do it like this: https://github.com/fabric8io/kubernetes-client/blob/ea92133a305b79f84673a4a14df19a7c2ae7ff61/kubernetes-tests/src/test/java/io/fabric8/kubernetes/client/mock/JobTest.java#L175-L220

[2019-01-21 12:35] krishnag9 commented on #1320
Is it not possible to do with official client

[2019-01-21 12:35] krishnag9 commented on #1320
Is it not possible to delete using official client

[2019-01-21 12:36] rohanKanojia commented on #1320
@krishnag9 : I don't know since I haven't used it. But I think there must be a way, file an issue on their repository to know more.

[2019-01-21 12:38] #1320 closed

[2019-01-22 10:05] ScrapCodes opened #1321 "Okhttp error : java.io.EOFException: \n not found: limit=0 content=…"
To reproduce, use the following snippet.

[code]
client version: kubernetes-client-4.1.0
Error:
[code]

This error comes, on trying to create a stateful set, I can create services without any problem, using the same client as above.

[2019-01-22 10:10] ScrapCodes commented on #1321
There are many stack over flow, answers suggesting that, it happens due to request not closed. https://stackoverflow.com/questions/45838774/java-io-ioexception-unexpected-end-of-stream-on-connection-in-android

[2019-01-23 05:56] ScrapCodes opened #1323 "jackson annotation jar version conflict."
On building against 4.1.1 kubernetes client version, following exception is thrown.

[code]

[2019-01-23 06:54] rohanKanojia commented on #1323
Closed via #1324

[2019-01-23 06:54] #1323 closed

[2019-01-23 10:55] valdar commented on #840
I guess this one can be closed.

[2019-01-23 10:55] #840 closed

[2019-01-23 15:56] bfink13 commented on #1218
This issue is preventing CustomResource objects from being deleted because they end up with the `orphan` finalizer. It would appear setting `.cascading(true)` would prevent that from happening.

[2019-01-23 20:48] tombentley opened #1326 "Make CustomResource @Buildable"
I believe making `CustomResource` `@Buildable` would fix the problem reported here: https://github.com/sundrio/sundrio/issues/104

Is there a reason why `CustomResource` is not `@Buildable` already?

[2019-01-24 18:45] vanzin opened #1327 "kubernetes-model jar contains a log4j.properties file"
This can interfere with user's applications (e.g. if they bundle a configuration file with their app, now it becomes dependent on classpath ordering for things to work).

e.g. https://issues.apache.org/jira/browse/SPARK-25590

Just checked 4.1.1 and it's still there;

[code]

[2019-01-24 18:45] vanzin commented on #1327
Oops my bad wrong project.

[2019-01-24 18:46] vanzin commented on #1327
err, seems that model is indeed part of this project now, so reopening. Sorry for the noise.

[2019-01-25 03:04] candyleer commented on #1309
I have the  same problem,I found the root cause.
we config the client by `Config.fromKubeconfig("")` ,in this method,the masterUrl will not ignore if the `masterUrl` is end with slash,but in default config,the `masterUrl` will detect slash,that makes the problem occur.
[code]
[code]
maybe i can send a pr to fix this?

[2019-01-25 07:16] #1218 closed

[2019-01-25 08:47] wangbin3685 opened #1328 "could you tell me what the api corresponding to the command of kubectl describe nodes"
could you tell me what the api corresponding to the command of kubectl describe nodes

[2019-01-25 09:00] rohanKanojia commented on #1328
@wangbin3685 : Have you tried ` client.nodes().withName("localhost").get();` or `client.nodes().list()`

[2019-01-25 09:21] candyleer commented on #1309
@rohanKanojia  I have create PR very simple ,#1329

[2019-01-25 11:13] #1309 closed

[2019-01-25 12:44] rohanKanojia commented on #1327
@vanzin : ah, I see. @iocanel @oscerd Any ideas what purpose does it serve in kubernetes-model? They seem to be added in this commit: https://github.com/fabric8io/kubernetes-model/commit/26bca2df50e5eaf5363e5aa1e79b3a0d855d20b0

I'm not sure it's relevant anymore(maybe it was used in fabric8-cd context ... ). @vanzin Could you please create a PR to remove this?

[2019-01-25 15:06] PMarci commented on #1152
Could this be the cause of my Kubernetes RoleBinding fragment not being picked up by the `fabric8-maven-plugin`? It's located in the same (default) directory as other fragments, which are created successfully. I can also see from the logs and by inspecting the generated OpenShift manifest that the equivalent OpenShift RoleBinding is in fact generated.

[2019-01-26 16:31] #1265 closed

[2019-01-26 16:43] #1327 closed

[2019-01-26 20:48] sdavids13 opened #1331 "Migrate from JUnit 4 to JUnit 5 for the kubernetes-server-mocks"
More and more systems are migrating to junit5, it would be nice to have the server-mocks provide native JUnit5 suppoert

[2019-01-28 06:57] wangbin3685 commented on #1328
knew it. But I want to know `Namespace                  Name                                       CPU Requests  CPU Limits  Memory Requests  Memory Limits`

[2019-01-28 17:22] bfink13 commented on #1326
I might just submit a PR in the next day or two to spin up some conversation...

[2019-01-29 09:03] rohanKanojia commented on #868
@pk044 : Were you able to resolve this issue? Did you try calling `tarOut.close()` in the end? I feel we should add this to DSL also....

[2019-01-29 09:35] ScrapCodes commented on #1321
Hi All, any comments on the above mentioned issue? Is there a work around? Am I doing something wrong here?

[2019-01-29 09:44] rohanKanojia commented on #1321
@ScrapCodes : I haven't tried reproducing your bug. Could you please take a look at one of the tests and see if you missed something:

https://github.com/fabric8io/kubernetes-client/blob/67ec4dffe5d4754a49236d0a5284dcd821eba981/kubernetes-itests/src/test/java/io/fabric8/kubernetes/StatefulSetIT.java#L60-L100

[2019-01-29 11:38] ScrapCodes commented on #1321
By removing the section on
[code]
It started working, makes me wonder, what is wrong with it. Or can we improve the error reporting?

[2019-01-29 14:58] janario opened #1332 "Error with exec credentials on the latest kubernetes-model"
After update the kubernetes-client from `4.1.0` to `4.1.1` the exec credentials (used by aws eks) is not working

It used to get it from the map of other properties https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Config.java#L511

But on the latest version o kubernetes-model, AuthInfo, `exec` is well mapped and additionalPrope

[2019-01-29 15:05] rohanKanojia commented on #1332
@janario : What error are you facing? It could be because of #1280

[2019-01-29 16:52] janario commented on #1332
The exception:
[code]

My exec user is something like:
[code]

And I'm doing something simple like `PodList list = client.pods().inNamespace("janario").list();`

As I debug it https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Config.java#L511

currentAuthInfo.getAdditionalProperties().get("exec"); is returning null because `exec

[2019-01-29 17:20] antonalechnovic commented on #1332
lol having the same issue, funny thought when you downgrade to 4.1.0 you get :
Unrecognized field "expirationTimestamp"

Not sure what to do :-D

[2019-01-29 18:14] pk044 commented on #868
@rohanKanojia hey, i came up with this a few months ago:
[code]
(needs jOOR to be run)

There might be one bug(or a few) in this snippet of code - when i checked the md5sum of copied file it was different than expected. Also, it might randomly throw exceptions about pipe getting closed, 'pipe write end dead' etc.

I haven't checked the following solution, but it should be worth analyzing:
https://

[2019-01-29 20:57] janario commented on #1332
4.1.0 is working fine for me, We don't have `expirationTimestamp` in our json (not sure why, maybe our iam configs or the version of aws-iam-authenticator). Anyway that was fixed at #1280

---

About this one, I've made a pull request and I re-enabled a test-case, please @rohanKanojia could you take a look? :-)
https://github.com/fabric8io/kubernetes-client/pull/1333

Thanks guys

btw, it is an aw

[2019-01-30 06:53] wangbin3685 commented on #1328
how can I get the fileds of cpu request/limit  ,memory request/limit,thank you!

[2019-01-30 10:01] rohanKanojia commented on #1328
Not sure whether I was able to put my point clearly. Here is typical output of `kubectl get nodes` command:
[code]

I see cpu and memory info only in Allocatable and Capacity fields. I think you can fetch it like:
[code]

[2019-01-30 14:18] antonalechnovic opened #1334 "Please clarify the difference for the kub clients and IAM token expiration"
1. Please clarify what is the difference between this and official kubernetes client?
2. If the token is expired when using "exec" with AWS IAM Authenticator in kubeconfig, does sdk refreshes the token by calling AWS IAM authenticator automatically?

Thanks,

[2019-01-30 14:31] rohanKanojia commented on #1334
This project was started way before the official kubernetes client. I uses kubernetes sources to generate model for kubernetes resources whereas official uses swagger schema. Plus we've got a fluent DSL for kubernetes resources  and we also support Openshift.

I don't think it refreshes the token, but need to check. Could you please take a look at https://github.com/fabric8io/kubernetes-client/blo

[2019-01-30 15:05] antonalechnovic commented on #1334
Thanks, I've checked the source, it appears to set OAuth token just once, when I call

aws-iam-authenticator token -i someName
[code]
I get expirationTimestamp which is about 15 minutes. I will check call hierarchy but I don't see anything refreshing the token.

[2019-01-30 15:27] rohanKanojia commented on #1334
@antonalechnovic : oh, I see. Could you please create a PR to resolve this issue?

[2019-01-30 17:30] ghost opened #1335 "NO_PROXY settings"
What would be the right way to bypass https proxy? Traditional `-Dhttps.nonProxyHosts=localhost|127.0.0.1|kubernetes.default.svc` and it is still going to https proxy host and of course fails since `kubernetes.default.svc` is an internal DNS.

Exporting https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Config.java#L107 does not

[2019-01-31 08:38] wangbin3685 commented on #1328
sorry, may be I describe it not clearly. I want to get the summary values of  limit cpu/memory and the total request cpu/memory of all the  pods in a node

[2019-01-31 08:53] #1332 closed

[2019-01-31 11:32] ScrapCodes opened #1336 "Determine return code of command executed using exec on a pod."
Is there a way to determine the return code of the command run by
[code]
 In the api, I could not spot a way to capture the exit code of the process run as a result of the given command.

[2019-01-31 11:42] ScrapCodes opened #1337 "How to use Probe actions on a pod."
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.12/#probe-v1-core

Actions like ExecAction, HttpGetAction, etc. Classes are available, but I could not find a test or example, in the code base.

[2019-01-31 11:43] oscerd commented on #1337
Contributions are welcome.

[2019-02-01 15:40] amisevsk opened #1340 "NoClassDefFoundError when trying to load an OpenShift template with generated parameters"
### Description
When trying to `load()` an OpenShift template with [generated parameters](https://docs.openshift.com/container-platform/3.6/dev_guide/templates.html#writing-parameters), an exception is thrown:
[code]

It originates from the line [here](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/NamespaceVisit

[2019-02-01 23:40] ifilonenko opened #1341 "Scala CustomResource does not conform to method customResources's type parameter bounds"
EDIT: Works with scala 2.11 but not 2.12
I have been trying to create a CustomResource programatically using the JavaSDK via Scala.

I implemented the following in Scala (mimicing the examples found here: https://github.com/fabric8io/kubernetes-client/tree/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/crds) to implement the necessary classes to create the customResource.

[2019-02-01 23:57] ifilonenko commented on #1326
+1

[2019-02-03 07:23] Dafnafrank opened #1344 "Is there a way to query the cluster for an existing priority class?"
Before creating a pod with a certain priority class name, I would like to query the cluster whether this priority is indeed defined in the cluster.
How can I query this?
Thanks

[2019-02-03 14:40] rohanKanojia commented on #1344
[code]

Please take a look at this example: https://github.com/fabric8io/kubernetes-client/blob/e3a5b393b6d5a2a367feb1b15fca9e1e805fdf2e/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/PodPriorityExample.java#L43-L60

[2019-02-04 10:58] alibaaab opened #1345 "changing updateStrategy"
**What happened:**

After successfull update StatefulSet by :

[code]

Pod belong to this updated StatefullSet is not updated. I want use "cascading" from kubernetes by default updateStrategy (dafault value is rollingUpdate). Currently i have how updateStrategy set in my yaml what is used to create this StatefulSet.

I tryied patch StatefulSet to updateStrategy=rollingUpdate, but after edit value

[2019-02-04 23:40] bfink13 commented on #1076
The exact definition of cascading() is still a little fuzzy to me when it comes to StatefulSet, but from what I've seen so far it does seem that `rolling()` and `cascading(false)` do the same thing when it comes to StatefulSets. Maybe we can just override `rollUpdate()` to use `cascading(false)` instead?

[2019-02-05 15:51] alibaaab commented on #1345
I found reason, we use in yamls old api version:
[code]

updateStrategy is fixed in nonbeta version:
[code]

So if you hit same problem just change apiVersion but be carefull because v1 version request some additional field as mandatory.

[2019-02-05 15:51] #1345 closed

[2019-02-05 20:43] jglick commented on #1334
#1224 did not implement expiry yet.

[2019-02-06 01:30] jglick opened #1347 "Rename apiVersion → apiGroupVersion breaks client"
What is the rename by @iocanel in #1322 about? It matches neither [documentation](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#resources) nor what I observe from `kubectl get -o json` in a `v1.11.5-gke.5` cluster. In fact using the `master` version of this library, I get errors such as

[code]

from [this definition](https://github.com/

[2019-02-06 01:57] jglick commented on #1334
Compare https://github.com/kubernetes-client/java/issues/290 in the official client.

[2019-02-06 05:46] #1302 closed

[2019-02-06 14:27] skonto commented on #1195
@rohanKanojia it seems that force is just a flag to make sure user know what he is doing.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/delete/delete.go#L160
So graceperiod=0 should do the job.

[2019-02-06 16:14] jglick commented on #1347
I guess this was a case of an overeager rename refactoring?

[2019-02-06 18:25] iocanel commented on #1347
Yeah!

On Wed, Feb 6, 2019, 18:14 Jesse Glick <notifications@github.com wrote:

[2019-02-06 18:28] iocanel commented on #1347
There are internals where apiVersion meant apiVersionGroup/apiVersionNumber
(which is how k8s treat it) and other where it meant apiVersionNumber. In
the effort to clarify things I overdid it.

On Wed, Feb 6, 2019, 20:25 Ioannis Canellos <iocanel@gmail.com wrote:

[2019-02-06 18:45] erikerlandson commented on #1341
A couple other notes on this:
1. @ifilonenko found that this compiled correctly on scala 2.11 - the problem shows up when compiling against 2.12
2. The signature that scala's error message is reporting is different than the signature implied by the java code for `customResources` method - from the scala side it looks as if scala is mis-interpreting the signature and that is what is causing the fai

[2019-02-06 18:46] erikerlandson commented on #1341
cc @skonto

[2019-02-06 19:15] skonto commented on #1341
@lrytz is this is a known issue? ^^^

[2019-02-06 20:03] skonto commented on #1341
@ifilonenko could you provide some context (execPodScalerCRD?

[2019-02-06 20:11] ifilonenko commented on #1341
It is just an existing CRD that I find using:
[code]
I didn't realize the CRD definition itself mattered:
[code]

[2019-02-06 20:31] KurtStam opened #1351 "NPE IpAddressMatcherTest"
[INFO] Tests run: 2, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 1.428 s - in io.fabric8.kubernetes.client.dsl.base.TestUnmarshal
[INFO]
[INFO] Results:
[INFO]
[ERROR] Errors:
[ERROR]   IpAddressMatcherTest.testIpRangeMatcher:36 » NullPointer
[INFO]
[ERROR] Tests run: 51, Failures: 0, Errors: 1, Skipped: 1
[INFO]
[INFO] ------------------------------------------------------------------------

[2019-02-06 20:56] skonto commented on #1341
@adriaanm I think this should be enough:

[code]

[2019-02-06 21:15] skonto commented on #1341
@ifilonenko I tried it form Spark repl, using @adriaanm code,
and created the CRD from here: https://v1-10.docs.kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/ on my minikube:

[code]

[2019-02-07 06:50] rohanKanojia commented on #1351
Closed via #1350

[2019-02-07 06:50] #1351 closed

[2019-02-07 15:36] psFried opened #1352 "KubernetesMockServer does not update state for PATCH requests in CRUD mode"
When using the `KubernetesMockServer` in CRUD mode, patch requests do not actually update the persistent state, so subsequent GET requests still return the original unmodified resource.

[code]

The expected result would be for a subsequent GET request to return the new modified version.
I created a [PR](https://github.com/fabric8io/mockwebserver/pull/32) in the mockwebserver repo to address that.

[2019-02-09 16:26] yunlzheng commented on #529
+1

[2019-02-10 01:54] yunlzheng commented on #1064
+1

[2019-02-10 08:05] VitZhou commented on #1281
I also encountered the same problem

[2019-02-11 05:56] rohanKanojia commented on #1281
Duplicate of #1064

[2019-02-11 05:56] #1281 closed

[2019-02-12 01:47] coderDemo commented on #1281
do like this
`        kubernetesClient.apps().deployments().inNamespace(namespace).withName(serviceToUpdate)
                .edit().editSpec()
                .editTemplate().editSpec().editContainer(0).withImage(newImage).endContainer().endSpec()
                .endTemplate().endSpec().done();
`

[2019-02-12 01:48] coderDemo commented on #1281
@VitZhou

[2019-02-12 11:24] mrjgreen commented on #1008
We believe this issue is having a huge impact on the speed of Jenkins Builds when running the kubernetes plugin, which makes extensive use of the `exec` call in this library. It would improve build times by an order of magnitude in some cases if we could resolve this issue.

I'm not familiar enough with this library to know where to start with a potential fix - is anyone on this thread able to sug

[2019-02-12 21:01] jglick commented on #1153
I guess you mean process 1 will reset the annotations to the old value, reverting the change made by process 2. If so, I have experienced this problem by running a test that includes two concurrent processes dealing with a CR and using patch operations where possible. (Both happen to be inside one JVM; one is a modification of [this code](https://github.com/jenkinsci/jx-resources-plugin/blob/338f6

[2019-02-12 22:42] jglick commented on #502
Is this issue closed as of #615?

[2019-02-12 22:43] jglick commented on #931
I am not sure I understand what the originally reported problem was, but I have a problem which at least sounds related. `PatchUtils` configures its mapper `without(SerializationFeature.WRITE_EMPTY_JSON_ARRAYS)` as of #615, from [ENTESB-8247](https://issues.jboss.org/browse/ENTESB-8247). I am working with a CRD whose validator requires a certain array-valued field of a struct to be non-null. If I

[2019-02-13 15:31] alde opened #1356 "Unable to specify file permissions in octal"
When trying to specify filePermissions in octal, such as
[code]
I get an error that it must be between 0 and 0777

In order to get around it, I had to set the mode to 384 (decimal representation of 0600). I'm using the jenkins-kubernetes plugin, but I believe the error comes from this library.

Attaching stacktrace:
[code]

[2019-02-13 21:02] xguerin opened #1357 "KubernetesMockServer and CRD-backed resources"
Hello there,

While playing with the `KubernetesMockServer` I realized that, while creating and querying CRDs work (as do any other standard Kubernetes resources), creating and querying CRD-backed resources don't.

Is that an expected behavior? If not, is there an example or a gotcha I need to be aware of?

Thanks,

[2019-02-14 21:39] Jeffwan opened #1358 "Request to release 4.1.2"
Notice several PRs were merged into master since 4.1.1. Can we have another release?
I really like to get rid of the following issue which has already been resolved on master.

Issue:
https://github.com/fabric8io/kubernetes-client/issues/1332

PR:
https://github.com/fabric8io/kubernetes-client/pull/1333

[2019-02-14 21:39] Jeffwan commented on #1358
@rohanKanojia

[2019-02-15 05:17] candyleer commented on #1358
+1 hope for 4.1.2 wait some fixed bug....

[2019-02-15 09:39] rohanKanojia commented on #1358
@Jeffwan @candyleer : Would make a release this weekend, Actually I was waiting for some regressions to get fixed by #1322 , but I think it's quite a while since the last release

[2019-02-15 18:41] Jeffwan commented on #1358
Excellent! Look forward to the new version!

[2019-02-16 03:27] xguerin commented on #417
Has there been any updates on that topic?

[2019-02-16 08:01] rohanKanojia commented on #1358
@Jeffwan @candyleer : I've published 4.1.2, it can be found [here](https://repo1.maven.org/maven2/io/fabric8/kubernetes-client/4.1.2/). Sorry for the dealy and thanks for your patience. Please try it out and share feedback ;-)

[2019-02-16 08:01] #1358 closed

[2019-02-17 06:11] Jeffwan commented on #1358
Great! Thanks a lot! @rohanKanojia

[2019-02-18 02:19] candyleer opened #1359 "v4.1.2 endpoints rest api been blocked"
![image](https://user-images.githubusercontent.com/11530760/52924157-7094ee00-3366-11e9-9681-0265805473dd.png)
 the source file not found and the code  maybe not right for `endpointss` ,correct is `endpoint` that makes the rest api is 404 ,thus makes it's not avaiable

[code]

I found the reason:
in `kubernetes-client/resources/resource-operation.vm`
[code]

`pluralize` makes this error,but I dont

[2019-02-18 09:43] rohanKanojia commented on #1359
@candyleer : Hmm, yeah. we can add a workaround until this gets fixed in sundrio

[2019-02-18 21:45] epayano opened #1360 "Is there a Follow Log option?"
I see examples for tailing `N` lines with `getLog()` and `watchLog()`, but is there an example of a following a log? I'm referring to the `-f` option when grabbing a pods log.

[2019-02-19 04:24] #1195 closed

[2019-02-19 06:09] chenlein commented on #447
@jimmidyson [Kubernetes was relax restrictions on environment variable names.](https://github.com/kubernetes/kubernetes/pull/48986)
Sample code:
[code]
Error message:
[code]

[2019-02-19 06:20] chenlein opened #1361 "Kubernetes was relax restrictions on environment variable names."
Reopen: #447
[Kubernetes was relax restrictions on environment variable names.](https://github.com/kubernetes/kubernetes/pull/48986)
Sample code:
[code]
Error message:
[code]

[2019-02-19 06:31] rohanKanojia commented on #1361
@chenlein : oh, I see. Could you please raise a PR to relex these restrictions? I think you would just need to change some regexes here: https://github.com/fabric8io/kubernetes-client/blob/16baff4b4cef8b9708f42b618f9a419df26d97ac/kubernetes-model/kubernetes-model-annotator/src/main/java/io/fabric8/kubernetes/annotator/KubernetesTypeAnnotator.java#L41

[2019-02-19 07:44] dotstone opened #1362 "Pod Port Forward Error Handling"
Currently, the only indicator that a port forwarder websocket was closed due to an exception is the log output.
Instead of mere logging these exceptions, I'd like to store them, so callers may implement their own error handling. Callers need to be able to (1) check whether there was an error that caused the websocket to close and (2) get a list of exceptions that were thrown.

[2019-02-19 10:20] rohanKanojia commented on #1340
related to #1005

[2019-02-19 14:20] max5599 commented on #1299
Hi @ajaygk95, did you find a way to fix the issue with generateName? I'm using the version 4.1.2 and I'm still having the issue.
Thx

[2019-02-19 18:47] andrewkandzuba commented on #635
@ash211 Hello. I am struggling from the same issue with **Openshift Container Platform v3.9**. And the only work around I have found to the date is to manually edit yaml in UI (which is obviously not an option at all). All attempts to "fake" "/metadata/ownerReferences/0" record upon creation haven't fly too. Can you please confirm this bug has been ever reportedly fixed...

[2019-02-20 07:40] matthyx commented on #1177
+1

[2019-02-20 11:16] #1362 closed

[2019-02-20 13:58] antonalechnovic opened #1365 "How to use KubernetesServer for mocking? Which dependency this is coming from?"
I cannot find `io.fabric8.kubernetes.client.server.mock.KubernetesServer`

inside: 	`implementation group: 'io.fabric8', name: 'kubernetes-client', version: '4.1.2'`
and :        `testImplementation group: 'io.fabric8', name: 'mockwebserver', version: '0.1.1'`

I've only got client.dsl , client.handlers, client.internal, client.osgi, client.utils

[2019-02-20 14:02] antonalechnovic commented on #1365
kubernetes-server-mock

[2019-02-20 14:02] #1365 closed

[2019-02-20 15:53] xguerin commented on #1099
@rohanKanojia I was able to test 4.1.1 and unfortunately the problem does not seem to be solved. Here is the kind of error I am getting:

[code]

The only way to make it work is to keep @ljnelson 's workaround.

[2019-02-20 15:55] rohanKanojia commented on #1099
@xguerin : ah, okay. Let me take this up myself

[2019-02-21 02:58] chenlein commented on #1361
@rohanKanojia : I try to fix this problem，I modified the file of you told me, [see here](https://github.com/chenlein/kubernetes-client/commit/cee8f91aee003070ecef31a1e0a1f2fd9230a08b). However I can not generate model, when I execute `make`, some errors have occurred：
[code]
And, my kube-schema.json are very different from yours. Just like follows：
[code]
So, I can't confirm if my changes are corr

[2019-02-21 07:43] rohanKanojia commented on #1361
@chenlein : I would try pulling your changes and build and then come back to this. Bdw, Could you please create a draft PR in the meantime so that this effort doesn't get lost?

[2019-02-21 09:58] mgorniew commented on #1099
@xguerin I'm not sure which workaround you have in mind. `KubernetesDeserializer.registerCustomKind`? This is not workaround, this step is needed. Something like this should work:

[code]

[2019-02-21 12:10] ajaygk95 commented on #1299
Hi @max5599. No generateName is still not working with the latest fabric8 client.

[2019-02-21 12:25] rohanKanojia commented on #1299
@max5599 @ajaygk95 : Could any of you please file an issue separately for `generateName` support?

[2019-02-21 13:33] xguerin commented on #1099
@mgorniew

Ahhhhh, ok. I think that detail was not abundantly clear in my head. Thanks for clarifying!

[2019-02-22 04:02] ljnelson commented on #1099
`KubernetesDeserializer` is in a package with `internal` in the name. Seems odd I’m supposed to use it, right?

[2019-02-22 07:57] rohanKanojia commented on #1099
I think we should move it from there #1285

[2019-02-22 14:06] #213 closed

[2019-02-22 19:31] #1008 closed

[2019-02-24 16:02] mariogeorgievft opened #1368 "kubernetes-server-mock 4.1.2 NoSuchMethodError"
Having kubernetes server mock with 4.1.2 results in

[code]
It fixes the missing com.sun.tools.jar when using Java 11, however it appears that it has some kind of inconsistency with the mockwebserver dependencies regarding OkHttp3.

[2019-02-24 17:03] mariogeorgievft commented on #1368
Downgrading to kubernetes-server-mock 4.1.0 fixes the issue, however mvn complains about  Could not find artifact com.sun:tools:jar:1.7 at specified path which is normal, since JDK 11 does not have the tools.jar?

Any ideas guys?

[2019-02-24 17:28] mariogeorgievft commented on #1368
Ok doing this and excluding it on 4.1.1 version fixes the issue, but can someone give me confirmation that this actually is ok to do.
[code]

[2019-02-25 09:48] rohanKanojia commented on #1368
@mariogeorgievft: Could you please share a test which produces this `NoSuchMethodError`? I suspect this might be coming from mockwebserver.

[2019-02-25 10:19] #1361 closed

[2019-02-25 11:46] #1344 closed

[2019-02-26 15:32] kolorful opened #1371 "Add an example for Job Controller"
The repo currently has an example for Cronjob Controller. It would be nice to have an example code for [Job Controller](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/) as well.

[2019-02-26 15:33] rohanKanojia commented on #1371
@kolorful : Could you please create a PR for this? ;-)

[2019-02-26 15:46] kolorful commented on #1371
@rohanKanojia  yep submitted https://github.com/fabric8io/kubernetes-client/pull/1372/commits

I was reading the contribution guide and it says assign to issue to myself, but didn't figure out how to do that :)

[2019-02-26 16:16] kolorful commented on #1371
I think I misunderstood how issue and PR as suppose to work... Didn't know PR will create its own issue. This issue seems a dupe to #1372 now, how could we link them together?

Sry about the mess, still very green to this.

[2019-02-27 07:53] ajaygk95 opened #1373 "client.load(new FileInputStream(args[0])).createOrReplace(); throws nullPointer for "generateName""
If the pod-spec.yaml contains `generateName` tag then createOrReplace() is throwing the below exception.

java.lang.NullPointerException
    at java.net.URI$Parser.parse(URI.java:3042)
    at java.net.URI.<init>(URI.java:588)
    at io.fabric8.kubernetes.client.utils.URLUtils.join(URLUtils.java:48)
    at io.fabric8.kubernetes.client.dsl.base.BaseOperation.getMandatory(BaseOperation.java:208)

[2019-02-27 07:54] ajaygk95 commented on #1299
Created. [1373](https://github.com/fabric8io/kubernetes-client/issues/1373)

[2019-02-27 07:55] ajaygk95 commented on #1373
Discussion available in [1299](https://github.com/fabric8io/kubernetes-client/issues/1299)

[2019-02-27 08:31] juju812 opened #1374 "Add support for resizeChannel in ExecWebSocketListener"
After walk through the `ExecWebSocketListener` I found that currently `resizeChannel` is not supported.
Is there any plan to support it? Or any other work around here to resize tty while bash execution?

Thx.

[2019-02-27 10:18] gaogf opened #1375 "Is kubernetes master HA mode supported?"

[2019-02-27 11:15] skonto opened #1376 "Update compatibility matrix for 4.1.2"
There was a new release recently: https://github.com/fabric8io/kubernetes-client/issues/1358 but compatibility matrix is not up to date and we are facing some issues in this one https://github.com/apache/spark/pull/23814 so we are trying to figure out the state of things.

[2019-02-27 11:16] skonto commented on #1358
fyi I have filed this one: https://github.com/fabric8io/kubernetes-client/issues/1376

[2019-02-27 12:53] #1005 closed

[2019-02-27 16:57] kolorful commented on #1371
Dupe #1372, close

[2019-02-27 16:57] #1371 closed

[2019-02-28 01:40] juju812 commented on #1374
seems like we can construct command with env to initialize terminal size like this:

[code]

but without `resizeChannel` support we can't adjust the size online

[2019-02-28 03:55] wangchuanjian opened #1377 "fabric8 deployment Historical release version （历史发布版本 ）API"
怎么实现获取 fabric8 deployment 历史发布版本 API

[2019-02-28 06:13] rohanKanojia commented on #1377
यकीन नहीं होता कि मैं आपका सवाल समझ गया हूं। क्या आप मुझे बता सकते हैं कि ऐतिहासिक रिलीज से आपका क्या मतलब है? क्या आप kubernetes API लिंक को इंगित कर सकते हैं जो इस मुद्दे को और स्पष्ट कर सकता है? कृपया देखें कि https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kernernetes/examples/DeploymentExamples.java पर यह देखने के लिए कि तैनाती का उपयोग

[2019-02-28 07:09] rohanKanojia commented on #1376
@skonto : We haven't updated model since 4.1.1, I think it should be the same as previous release.

[2019-02-28 08:57] littlefoolkid opened #1378 "how can i use token to access the api"

[2019-02-28 08:58] littlefoolkid commented on #1378
when i try ,it comes the failure:
![image](https://user-images.githubusercontent.com/34158467/53554139-1112bb80-3b7a-11e9-8c7a-6976ae2de870.png)

[2019-02-28 09:00] rohanKanojia commented on #1378
@littlefoolkid : Can you share your code? How are you passing token in config?

[2019-02-28 09:01] littlefoolkid commented on #1378
![image](https://user-images.githubusercontent.com/34158467/53554334-74045280-3b7a-11e9-8ed9-a70a54cf5bb2.png)

[2019-02-28 09:56] rohanKanojia commented on #1378
@littlefoolkid : Which version of client are you using?

[2019-02-28 09:58] littlefoolkid commented on #1378
![image](https://user-images.githubusercontent.com/34158467/53558154-6226ad80-3b82-11e9-922c-d627ebaed259.png)

[2019-02-28 09:59] rohanKanojia commented on #1378
Hm, thanks. Will try to reproduce this whenever I get time. Are you able to access cluster using default configuration(`.kube/config`) file?

[2019-02-28 10:00] littlefoolkid commented on #1378
4.0.0matches1.9
4.1.0may match 1.10

[2019-02-28 10:01] littlefoolkid commented on #1378
I don't know how to use that,could you give me an example?

[2019-02-28 10:10] rohanKanojia commented on #1378
we have a compatibility matrix: https://github.com/fabric8io/kubernetes-client#compatibility-matrix .

Right now you're trying to access like this: https://github.com/fabric8io/kubernetes-client/blob/a7c2d1acb97e60ee6e6420bf6715a70f665612bf/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/CreatePod.java#L57-L62

I am asking what happens when you try this:
https://github.com/fabric8

[2019-02-28 11:41] littlefoolkid commented on #1378
Using this method, k8sclient can be successfully created

[2019-02-28 13:13] littlefoolkid commented on #1378
when I write in this method, it fails ,console print "Error reading service account token from: [/var/run/secrets/kubernetes.io/serviceaccount/token]. Ignoring."

[2019-02-28 14:35] #1064 closed

[2019-02-28 19:16] sskmail14 opened #1379 "Is there support for Java 9+"
Hai All,

I dont know whether is this a better place to ask this question. But still going for it.

Has Java 9(Modularity) support started for this module?

[2019-02-28 19:20] rohanKanojia commented on #1379
@sskmail14 : Umm, this library is compatible till jdk 11, see #1265 . I haven't tried JDK 9 yet; Do you think any changes are supported on our side in order to support modularity also?

[2019-03-01 00:24] dev-gaur opened #1380 "Add support for missing resources"
Kubernetes Client is currently missing support for several types of Resources :

  - [ ] ServiceCatalog #973
  - [ ] TemplateInstance #863
  - [ ] VolumeAttachment
  - [ ] CertificateSigningRequest
  - [ ] SelfSubjectAccessReview
  - [ ] SelfSubjectRulesReview
  - [ ] TokenReview
  - [ ] ControllerRevision
  - [ ] UserInfo
  - [ ] AdmissionConfiguration

[2019-03-01 00:39] dev-gaur opened #1381 "Test coverage missing for multiple resources"
The following resources don't have any test coverage

  - [ ] Endpoints
  - [ ] PersistentVolumeClaim
  - [ ] PersistentVolumes
  - [ ] SubjectAccessReview
  - [ ] PodPreset
  - [ ] HorizontalPodAutoscaler
  - [ ] Namespace
  - [ ] ResourceQuota

[2019-03-01 07:10] rohanKanojia commented on #1340
@amisevsk : Hi, I'm not able to reproduce this. The yaml you provided is invalid, it fails to apply when applied with plain `oc` command:
[code]
I added metadata.name and I was able to load it via kubernetes client:
[code]
I tried this on latest version 4.1.2. Could you please check again and confirm if you still face this?

[2019-03-01 07:16] #1326 closed

[2019-03-01 07:18] rohanKanojia commented on #1374
@juju812 : Hmm, Could you please create a PR for this?

[2019-03-01 07:19] rohanKanojia commented on #1368
@mariogeorgievft : Polite ping, did you get time to test this issue?

[2019-03-01 09:01] rohanKanojia commented on #1373
@ajaygk95 @max5599: I'm not able to reproduce this issue. This is what I tried:
1.) Load this yaml via client and post to cluster:
[code]
2.) Code used to creating a pod:
[code]

After executing this, I was able to see pod being created :
[code]

Have I understood the bug correctly? It's about `generateName` or is it about Role?

[2019-03-01 10:29] iocanel commented on #1313
We need to also take apiVersion into consideration.

[2019-03-01 11:28] #1347 closed

[2019-03-01 18:24] max5599 commented on #1373
I was using `createOrReplace` that was working with version 3.1.8 but it's not working anymore with the latest version.
I think it make sense as the use of a `generate-name` is to create a unique pod.
@ajaygk95 were you using `createOrReplace` too?

[2019-03-03 11:58] mariogeorgievft commented on #1368
Hello, the problem is indeed from the mockwebserver.

Test case would be creating a service/config map using the KubernetesServer with true https and true crudMode.

[2019-03-04 02:52] juju812 commented on #1374
@rohanKanojia the workaround is just used for execute bash with tty. If a PR is need, in my view it can be added as an exec example.

Or I need to implement the `resizeChannel` in `ExecWebSocketListener`?

[2019-03-04 06:09] wangchuanjian commented on #1377
There is no example of what I want inside.

[2019-03-04 06:14] wangchuanjian commented on #1377
I want to get deployment historical results through the fabric8io API.

[2019-03-04 07:09] rohanKanojia commented on #1374
@juju812 : if you have time to create PR with full implementation, then please do. Otherwise, we can add workaround as an example too to resolve confusion if someone else faces the same issue.

[2019-03-04 10:41] ajaygk95 commented on #1373
Sorry for the late reply. In my case i have an resource-spec.yaml which contains multiple resources like "pod", "service" and "role". So i am using `createOrReplace` with my resource-spec.yaml.
If the "pod" resource has `generateName` then i get the nullpointwer exception

[2019-03-04 14:15] amisevsk commented on #1340
Thanks for looking into it @rohanKanojia, I'll double check soon, when I have a moment.

[2019-03-04 14:54] candyleer commented on #1359
`sundrio` have release the new version for your fix.so I make a PR to update the dependence?

[2019-03-04 14:56] rohanKanojia commented on #1359
@candyleer : go for it :+1:

[2019-03-04 15:24] gastaldi opened #1383 "Enable Dependabot to update dependencies"
It would be nice if https://dependabot.com were enabled in this repository to automatically update dependencies to their latest versions whenever they are available

Example: https://github.com/fabric8-launcher/launcher-backend/pull/684

[2019-03-04 20:49] skonto opened #1384 "Support a SharedInformer API"
I think it would be valuable to support such an API as it exists in the [go client](https://github.com/kubernetes/client-go/blob/master/tools/cache/shared_informer.go) for writing [Operators](https://github.com/jvm-operators/abstract-operator/blob/master/src/main/java/io/radanalytics/operator/common/AbstractOperator.java) in Java.

[2019-03-05 07:07] juju812 commented on #1374
@rohanKanojia A quick PR is created for the workaround.

And about the `resizeChannel` implementation, unfortunately I don't have time now, but I'll inform you if I start handling this.

[2019-03-05 07:08] rohanKanojia commented on #1374
@juju812 : Much appreciated, Thanks :+1:

[2019-03-05 08:37] #1359 closed

[2019-03-06 10:24] leogps opened #1387 "ValidatingWebhookConfigurationOperationsImpl should be a NonNamespaceOperation"
When dealing with ValidatingWebhookConfiguration, namespace should not be specified in the url.
However, when creating a ValidatingWebhookConfiguration throws an exception as it ends up appending namespace to the url.

The following code constructs the URL incorrectly.

[code]

Constructs:

Instead of:

Reproducible with: kubernetes-client-4.1.2.jar

[2019-03-06 11:23] rohanKanojia commented on #1387
@leogps : Could you please create a quick PR to resolve this?

[2019-03-06 11:37] rohanKanojia commented on #1387
We need to add this method somehow, but it's autogenerated: https://github.com/fabric8io/kubernetes-client/blob/a33f01b5c71eea2a2f20c354580bb804aa4dc9f2/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/StorageClassOperationsImpl.java#L38-L41

[2019-03-06 12:24] rohanKanojia commented on #1383
@gastaldi : Thanks for the suggestion. I think it's a good idea.

@oscerd @iocanel @lordofthejars @dev-gaur WDYT?????

[2019-03-06 13:11] oscerd commented on #1383
It makes sense here. +1.

[2019-03-06 13:18] gastaldi commented on #1383
Enabled in https://app.dependabot.com/accounts/fabric8io

[2019-03-06 13:23] #1383 closed

[2019-03-07 02:18] leogps commented on #1387
I see that the implementation makes use of [jsonschema2pojo](http://www.jsonschema2pojo.org/) to auto-generate the pojos and seems like the Handler and the OperationImpl are also auto-generated. I am not sure how exactly this is accomplished.
Also, a git-blame on [StorageClassOperationsImpl](https://github.com/fabric8io/kubernetes-client/blob/a33f01b5c71eea2a2f20c354580bb804aa4dc9f2/kubernetes-cli

[2019-03-07 07:11] rohanKanojia commented on #1377
@wangchuanjian : Maybe you're looking for something like this:
[code]

[2019-03-07 11:39] rohanKanojia commented on #1373
@ajaygk95 @max5599 : okay, I tested with `createOrReplace()` and yes it fails with this error:
[code]

We just need to loosen the validation done there in order to adjust generateName.

[2019-03-07 11:41] rohanKanojia commented on #1379
@sskmail14 : Did you get time to revisit this? Could you please check and confirm?

[2019-03-07 12:00] rohanKanojia commented on #1297
I think we need to encode command here as well:
https://github.com/fabric8io/kubernetes-client/blob/31ddcea6d95cd9a12be6f5ea0aa6285e7ee0d3bf/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/PodOperationsImpl.java#L235-L240

[2019-03-07 12:09] rohanKanojia commented on #1368
@mariogeorgievft : Tests for creating a ConfigMap are already there in our test suite, Is it something like this? But they don't seem to reproduce your error.

https://github.com/fabric8io/kubernetes-client/blob/31ddcea6d95cd9a12be6f5ea0aa6285e7ee0d3bf/kubernetes-tests/src/test/java/io/fabric8/kubernetes/client/mock/ConfigMapCrudTest.java#L32-L60

[2019-03-07 12:15] rohanKanojia commented on #1360
Looking at the code, it looks like default is follow option. Have you tried without `tailingLines()` parameter?

https://github.com/fabric8io/kubernetes-client/blob/31ddcea6d95cd9a12be6f5ea0aa6285e7ee0d3bf/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/PodOperationsImpl.java#L192

[2019-03-07 12:22] rohanKanojia commented on #1196
@dima-spire: Sorry, but I asked for a test which reproduces this issue. Stacktrace won't help since code has changed since then.

[2019-03-07 12:26] rohanKanojia commented on #1189
@cainzhong : Were you able to resolve this? If yes, can we close this issue?

[2019-03-07 12:42] rohanKanojia commented on #1057
Duplicate of #1314

[2019-03-07 12:42] #1057 closed

[2019-03-07 19:28] wei0313 opened #1424 "Does the kubernetest-client support NetworkAttachmentDefinition creation?"
Hi
Does the k8s-client support NetworkAttachmentDefinition? If so, what's the resource type? Is there any examples on this?

Thanks

[2019-03-07 19:32] rohanKanojia commented on #1424
@wei0313 : umm, Is it a custom resource?

[2019-03-07 19:56] wei0313 commented on #1424
@rohanKanojia  Yes it is. it's a type introduced by multus plugin.

[2019-03-07 19:57] wei0313 commented on #1424
This is the error message I received
code
`resources = client.load(new FileInputStream(fileName)).get();`

Exception
`Caused by: com.fasterxml.jackson.databind.JsonMappingException: No resource type found for:k8s.cni.cncf.io/v1#NetworkAttachmentDefinition`

[2019-03-08 00:10] wei0313 commented on #1328
@wangbin3685  just curious if you have found the answer to your question?

[2019-03-08 11:26] rohanKanojia opened #1426 "Remove duplicate dependencies from project"
After reviewing lots of PRs from dependabot, I think we need to fix the way some dependencies are used twice in the project, I think all versions should come from parent pom only and they should not be duplicated twice. Here are some duplicate dependencies that I noticed(but there can be more), we should refactor these in my opinion:

- maven-bundle-plugin
- build-helper-maven-plugin
- exec-maven-

[2019-03-08 11:29] rohanKanojia commented on #1424
Umm, creation of crds is not that straghtforward right now :-( . Although it's going to be done soon. For now, Please take a look at
https://github.com/fabric8io/kubernetes-client/blob/7e23f8368a658deeb5cadfbf9b01a12f434b8445/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/CRDExample.java#L42-L50

[2019-03-08 16:27] epayano commented on #1360
@rohanKanojia thanks! lets closed this

[2019-03-08 16:27] #1360 closed

[2019-03-08 17:53] wei0313 commented on #1424
@rohanKanojia  thanks! does that mean I should load the CRD that's for the k8s.cni.cncf.io then resource will be recognized?

[2019-03-08 19:49] dima-spire commented on #1196
Hi @rohanKanojia ,

I'm running example that's included in Spark. The code for it is already in your `spark/examples/jars` directory, it's shipped with Spark. The whole code that I've run is shared above, every single line. Sorry, but don't see what else I can provide.

[2019-03-08 21:29] wei0313 commented on #1424
@rohanKanojia
I have another question regarding the API. I am looking at the option of adding validation. I am adding my CRDBuilder with `.....withNewValidation().withNewOpenAPIV3Schema().withProperties().endValidation().endSpec().build()`

My question is the "withProperties()" part: I am not sure in what format I should store the in the Map<String, JSONSchemaProps>. Could you provide an example?

[2019-03-10 08:06] rhuss opened #1427 "Create a Quarkus extension"
Not 100% sure what this implies, but it would be awesome if kubernetes-client could work seamlessly with an [Quarkus](https://github.com/quarkusio/quarkus/) application.

I think this can be done by creating a [Quarkus extension](https://quarkus.io/guides/extension-authors-guide).

This story is a good standalone story and would be a good candidate for a GSoC task. Or for anyone interested in lear

[2019-03-10 09:51] geoand commented on #1427
It would definitely be awesome to get the Kubernetes Client to work with Quarkus on native mode!

The simplest approach I think would be to just create the declarations about reflection and whatever else the client does that doesn't work OOTB with native mode.
@gastaldi have you tried the "Quarkus" version of the Latest in native mode perhaps? That would give us an initial idea of what the problem

[2019-03-10 18:39] gastaldi commented on #1427
@geoand the only problem I have met so far is that the Jandex index is not present in the kubernetes-client JAR, even after https://github.com/fabric8io/kubernetes-client/commit/7ae4c567763f635140ba60eab9bc679d14f39d9a was merged

[2019-03-10 18:40] geoand commented on #1427
Thanks for that info @gastaldi!

[2019-03-11 10:01] Jiri-Kremser commented on #1427
I tried the native image last week with k8s client in version 4.1.1 (not the latest version of the client) and it built fine, but then had some troubles with creating the default k8s client `new DefaultKubernetesClient()` in run-time.

[code]

[2019-03-11 10:06] geoand commented on #1427
I think making the KubernetesClient SubstrateVM friendly is the first step to doing anything in this space. I know that @iocanel and I have talked about it a little

[2019-03-11 10:43] rhuss commented on #1427
@geoand @iocanel I totally agree that SubstrateVM compatibility OOTB (without any extra help by Quarkus) would be a total killer feature for K8s intra-cluster usage (like for operators). Something which would be a clear winner feature over the standard Java K8s client.

I really would love to push hard here, maybe we should ask the Quarkus folks directly with e.g. the error message @Jiri-Kremser f

[2019-03-11 12:00] rohanKanojia commented on #1387
@leogps : I think you're right. If we copy that class from target to dsl, and make changes onto it, it gets overridden. let me create a quick PR myself

[2019-03-12 09:31] #1387 closed

[2019-03-12 21:51] wei0313 commented on #1022
I have seen the similar issue on mine. However, when I put sleep (1 second) after the deletion, i no longer see the issue. I don't know why.

[2019-03-13 02:56] gastaldi opened #1429 "com.fasterxml.jackson.databind.JsonMappingException: No resource type found for:v1#List"
Works in Kubernetes-client 4.0.7

Test case:

[code]

service.cache.yml:

[code]

[2019-03-13 02:58] gastaldi commented on #1429
Detected in https://github.com/fabric8-launcher/launcher-backend/issues/698

[2019-03-13 03:07] gastaldi commented on #1429
The problem is because `InternalResourceMappingProvider` is not in `META-INF/services`

[2019-03-13 03:13] gastaldi commented on #1429
@rohanKanojia this is a blocker issue and makes the library unusable for Kubernetes List YAMLs

[2019-03-13 03:16] gastaldi commented on #1429
@iocanel ^^

[2019-03-13 03:54] gastaldi commented on #1429
Created a PR with the fix in https://github.com/fabric8io/kubernetes-client/pull/1430

[2019-03-13 07:06] #1429 closed

[2019-03-14 22:42] Sanne commented on #1427
Relates to #1488

[2019-03-15 07:27] guanchao-yang opened #1435 "Using kubernetes-client can implementation this function with kubectl ?"
The kubectl command is ` kubectl exec -it XXX-23   -c tester-24  -n xxx --v=9  -- touch /usr/local/testfile` . The container name `tester-24` in pod `XXX-23`

[2019-03-15 07:31] guanchao-yang commented on #1435
Close, Found it  `kubernetesClient.pods().inNamespace("XXX").withName("XXX").exec("xxxx")`

[2019-03-15 18:19] #1314 closed

[2019-03-16 13:47] iocanel opened #1437 "Cleanup properties in pom.xml"
I would do the following chnages:

1. Group together in a distinct chunk all version properties.
2. Group together in a distinct chunk options version properties.
3. Group togther in a distinct chunk all maven plugin properties
4. Group everyhting else together.
5. Remoce all bundles from pom.xml and into the karaf pom (as they are not needed throughout the rest of the project).

[2019-03-16 13:50] iocanel commented on #1437
I am wondering if the arquillian bits also need to move away from main pom.

[2019-03-16 15:56] rohanKanojia opened #1438 "Release 4.2.0"
I think we have good enough issues to make a new release. We should do a release as soon as possible.

Thoughts @iocanel @oscerd @gastaldi

[2019-03-16 16:25] iocanel commented on #1438
I have one additional issue I am working on and hopefully, I'll have a PR
during the weekend.

Either way let's get 4.2.0 early next week.

On Sat, Mar 16, 2019, 17:56 Rohan Kumar <notifications@github.com> wrote:

[2019-03-19 06:14] rohanKanojia opened #1442 "Support for Kubernetes 1.14"
Kubernetes 1.13 was released ~3 months ago, I think we should upgrade our model to have support for new things introduced in this version.

https://kubernetes.io/blog/2018/12/03/kubernetes-1-13-release-announcement/

[2019-03-19 10:00] Neoware opened #1445 "withFormat method has no effect"
Hi and thank you for the great library !

I faced an issue when creating a container on my 0.34.1 minikube. I try to use the resource requests for my pod using a construct like this:

[code]

(This way of doing things was taken from https://github.com/fabric8io/kubernetes-client/blob/081c1ad0110c15557306fd3ec8d3734e82508448/kubernetes-model/kubernetes-model/src/test/java/io/fabric8/kubernetes/api/

[2019-03-19 17:19] iocanel opened #1447 "Portforward should also be accessible through the Service DSL"
`kubectl` allows you to portforward to  a service. This is done by looking up for the pods that provide the service and then delagating to pod port-forward.

We should do the same.

[2019-03-20 13:34] slandelle commented on #1445
This is a duplicate of #885

[2019-03-20 15:09] slandelle opened #1449 "Don't use System.currentTimeMillis for measuring durations"
Using wall clock for measuring time is a very bad idea as NTP can update it anytime, so it might just forward or backward.

You should be using `System.nanotime` instead as it's monotonic.

`System.currentTimeMillis` is being used in `HasMetadataOperation`, `ServiceOperationsImpl` and `BaseOperation` for timeouts.

I suspect weird `HasMetadataOperation#periodicWatchUntilReady` documented as `The n

[2019-03-23 11:37] iocanel opened #1452 "Rename the project to kubernetes-framework"
The name `kubernetes-client` does no justice to the project, which is much more than that. `kubernetes-framework` is much more descriptive.

[2019-03-25 06:01] rohanKanojia commented on #1452
@oscerd
@gastaldi
@rhuss
@jstrachan
@jimmidyson
@traviswinter
@jstrachan
@carlossg
@lordofthejars
@jglick
@piyush-garg
@hrishin
@ljnelson
@davsclaus

Thoughts??

[2019-03-25 06:44] oscerd commented on #1452
I think it makes sense

[2019-03-25 08:07] girishramnani commented on #1449
I can work on this issue but just would like if someone can verify that this https://github.com/fabric8io/kubernetes-client/pull/1451 was closed because this issue is no longer needed?

[2019-03-25 09:38] gastaldi commented on #1452
LGTM. Will the `groupId` change too?

[2019-03-25 09:40] gastaldi commented on #1452
Since the name will change, It would be cool if the major and minor versions matched the Kubernetes API versions too.

[2019-03-25 09:45] davsclaus commented on #1452
Yeah sure, however a little blurb why its more than a client would be nice to know, what makes it stand out as a framework now? And are we also taking about moving it to another organization than fabric8 ?

[2019-03-25 10:01] iocanel commented on #1452
The things that make it something more than a client is that it provides:

1. A model that allows advanced handling and manipulations.
2. A rich DSL.
3. Extension Hooks (it acts as a base on which you can easily built your own extension).
4. A kubernetes/openshift mock server for testing.
5. Tons of utilities embeded in the client side.

My main incentives for changing the name are:

1. I often tr

[2019-03-25 10:03] davsclaus commented on #1452
Thanks for the explanation. Yes it makes sense

[2019-03-25 10:38] gastaldi commented on #1452
@iocanel yes, that makes sense to me too

[2019-03-25 14:16] jonathanknez opened #1454 "Can't connect to Microk8s instance"
My project runs outside kubernetes and connects to it to query and create ConfigMaps. I use the fabric8 kubernetes-client to connect to kubernetes. The fabric8 kubernetes client successfully connects to minikube instances but fails to connect to microk8s instances.

Kubernetes version: 1.13.4 (both minikube and microk8s use this version)
Fabric8 Kubernetes-Client: 4.1.0

Exception:

	at io.fabric8

[2019-03-25 14:24] traviswinter commented on #1452
@iocanel - Agreed, its much larger then just the client. But as someone already mentioned, this would separate this project from the official Kubernetes client naming strategy which could make things a little simpler :)

[2019-03-25 15:05] rhuss commented on #1452
@iocanel When renaming, can we move the orga/groupId, too ? For fmp and dmp we are considering to move away from fabric8, so this would be a good occassion for the kubernetes-client, too.

[2019-03-25 15:08] rhuss commented on #1452
Yes, I would recommend this as fabric8 turns out to be kind of a burned name (as least according to my latest survey). For fmp we are just validating the name, and try to get approval by internal authorities for the name change. The renaming/rebranding is quite close. // @lordofthejars @rohanKanojia @dev-gaur

[2019-03-25 15:10] rhuss commented on #1452
would be really awesome if we could make the name and orga change in one go

[2019-03-25 15:14] iocanel commented on #1452
@rhuss: I think that everyone agrees that `fabric8` has been overused.

Still, this needs some discussion, as it can easily back-fire.

[2019-03-25 15:25] raiRaiyan opened #1455 "How to use subject access review in kubernetes-client?"
I want to use the kubernetes client to figure out if the client has the required permission to the resource. I can do this in kubectl using the following command:

`kubectl auth can-i create deployments --namespace dev`

This api uses `SelfSubjectAccessReview` according to the [documentation](https://kubernetes.io/docs/reference/access-authn-authz/authorization/). Does the kubernetes-client suppor

[2019-03-25 15:38] rohanKanojia commented on #1455
Does it work when you use resource DSL for creation? Something like this:
[code]

[2019-03-25 16:19] rohanKanojia commented on #1009
Fixed via #1150

[2019-03-25 16:19] #1009 closed

[2019-03-25 19:46] jthurne opened #1456 "kubernetes-server-mock: CRUD mode doesn't support watches on the pod resource"
I'm trying to use the mock KubernetesServer in CRUD mode to test some code that sets up a watch on the pod resource, but it isn't working. My code looks something like this:

[code]

The test fails because the length of podNames is zero.

I'm getting a suspicious-looking message in the logs/standard out:

[code]

I tried adding a 1-2 second sleep between when the watch is started and when the asse

[2019-03-26 03:27] leogps commented on #1387
Just checking if the fix is available in a newer build?

[2019-03-26 04:14] rohanKanojia commented on #1387
Yeah, you can verify via building snapshot from master

मंगल, 26 मार्च 2019, 08:57 को leogps <notifications@github.com> ने लिखा:

[2019-03-26 05:41] raiRaiyan commented on #1455
No, it does not work. I get this error:
[code]

I tried converting the review object to json and using load:
[code]

I get the same error. It looks for a handler for this object type and fails. Following is the stack trace:
[code]

[2019-03-26 06:19] rohanKanojia commented on #1455
oh, Try to do it like this:
https://github.com/fabric8io/kubernetes-client/blob/1724b946300d824c6378c0f596bed1f826164ba5/kubernetes-tests/src/test/java/io/fabric8/openshift/client/server/mock/SubjectAccessReviewTest.java#L72

[2019-03-26 07:08] raiRaiyan commented on #1455
That works only for openshift client. I am using the kubernetes client, and it is not adaptable.

[2019-03-26 07:27] rohanKanojia commented on #1455
@raiRaiyan : Could you please create a PR to add this in kubenetes client dsl?

[2019-03-26 07:57] raiRaiyan commented on #1455
Ok. I will submit a PR once I get it working

[2019-03-27 01:23] candyleer commented on #1438
hope for new version too

[2019-03-27 07:16] #1447 closed

[2019-03-27 07:28] GrigorievNick opened #1458 "Generate CustomResource Spec Pojo from Go code or Yaml."
I want use fabric8 with spark operator, here is spec [SparkAppliactionAPi](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/api.md#sparkapplication-api)
Does any simple way to generate pojo or scala case class for [SparkApplicationSpec](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/api.md#sparkapplicationspec) exist?
Form Yamls or from G

[2019-03-27 09:38] rohanKanojia commented on #1458
We need this feature in https://github.com/fabric8io/fabric8-maven-plugin in order to create CRDs via resource fragments.

[2019-03-27 15:29] nzazulinsky opened #1461 "deployment of new custom resource"
Hello,

we have a k8s cluster that in one of the namespaces running seldon-core (new custom resource), we are able to deploy with "kubectl apply".

but when running it via our pipeline with fabric8 client (4.1.3) we getting below exception:
"No resource type found for:machinelearning.seldon.io/v1alpha2#SeldonDeployment"

What is the best way to do it (kubectl apply to new CR that the cluster is fa

[2019-03-27 17:41] jglick commented on #1452
No opinion. I have been moving to `kubernetes-client/java`.

[2019-03-28 00:36] nikkatalnikov opened #1462 "Custom Resource Definition from YAML: client.load(CRD).get() --> nullPointerException"
Hello, I am using Scala and Spark-operator and getting NPE while doing:

[code]

at the last line ^^

Jackson itself works fine and validates each field.

[code]

YAML:

[code]

What am I doing wrong?

Stacktrace:

[code]

[2019-03-28 05:43] rohanKanojia commented on #1452
@jglick : Why are you moving to kubernetes-client/java? Just because it's official? Or do you think it's superior in terms of features/extensibility?

[2019-03-28 13:24] gastaldi commented on #1452
@jglick I've seen the examples in https://github.com/kubernetes-client/java#example and the syntax is kinda confusing compared to the DSL approach that fabric8/kubernetes-client offers. I mean, there are so many nulls in that method that I have no idea what they mean :smile:

[2019-03-28 14:07] jglick commented on #1452
@rohanKanojia @gastaldi yes `kubernetes-client/java` is not pretty from a Java API perspective, and it has its own flaws such as https://github.com/kubernetes-client/java/issues/86, but so far it has suited my purposes better because:

* `kubernetes-client/java` feels much closer to the underlying REST API, and better aligned with the dominant Golang client.
* When working with CRs, I prefer direc

[2019-03-28 14:24] rohanKanojia commented on #1452
Hmm, we're going to provide better custom resource support soon in coming 1-2 sprints. Regarding your other issues, I would check if we can get them fixed. Sad to see you moving away, though.

[2019-03-28 19:32] jwlai opened #1464 "Help with Knative apiVersion"
Hi, I was wondering what would be the correct way to support this Service Template Yaml?

I tried using the Client.load function to just put the YAML in. ButI ran into the issue particularly in supporting the value in the spec spec - "runLatest"

In particular it's for Knative-

[code]

Thanks,
Justin Lai

[2019-03-29 18:54] rohanKanojia commented on #807
closed via #1434

[2019-03-29 18:54] #807 closed

[2019-03-29 18:55] rohanKanojia commented on #760
Closed via #1434

[2019-03-29 18:55] #760 closed

[2019-03-29 18:55] rohanKanojia commented on #1438
https://repo1.maven.org/maven2/io/fabric8/kubernetes-client/4.2.0/

[2019-03-29 18:55] #1438 closed

[2019-03-29 20:21] traviswinter opened #1468 "Unable to modify labels during createOrReplace"
I noticed today that we I do a call to createOrUpdate on a resource it will not update if the change is in the metadata. I tracked the issue to ResourceCompare where in trim() the STATUS and METADATA is removed. The status makes sense, but the metadata does not. I understand some distros will add annotations, etc. Was this a quick way to avoid that?

kubeClient.resource(resourceObj).createOrReplac

[2019-03-29 20:50] brokenjpl commented on #1468
The code in question in ResourceCompare:

[code]
We could change
` return leftMap.equals(rightMap);`
to (pseudo-code)
` return leftMap.equals(rightMap) && left.labels == right.labels`;

[2019-03-30 14:37] karthikmg commented on #1297
Hi @rohanKanojia

I would like to fix this issue.
This is my first time contributing to open source.

I will use the same **URLEncoder.encode(cmd, "UTF-8")** fix and send a pull request.

[2019-04-01 05:22] rohanKanojia commented on #1373
By loosening the validation, I mean we should ignore name in case generateName is provided here: https://github.com/fabric8io/kubernetes-client/blob/ebe2de35922ae4b1477edbff6d2f20faacb9af4d/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/BaseOperation.java#L252-L258

[2019-04-01 05:59] rohanKanojia opened #1470 "Fix JavaDoc issues across project"
After upgrading javadoc maven plugin, we're facing build failures during release process. I had to revert to previous version in order to release 4.2.0. But we should get all docs fixed before next release.

### How to reproduce:
[code]

You would be able to see lots of warnings, that it's complaining about. I fixed errors but it's failing even on warnings.

[2019-04-02 10:55] dsimansk opened #1473 "OpenshiftRoles can't be listed due to wrong API endpoint URL"
Version used: `v4.2.0`

Listing OpenshiftRoles fails with the following exception:
[code]

The correct endpoint is: `/apis/authorization.openshift.io/v1/namespaces/<namespace>/roles` without the `openshift` prefix.

From the http client
[code]

It works fine for OpenShiftRoleBinding
[code]

[2019-04-02 15:19] stanlyDoge opened #1474 "Deleting resource race condition"
Issue: After updating from `4.1.2` to `4.2.0` I am encountering a race condition while deleting resources.

Lets say I have this piece of code and the `configMap` `RESOURCE_NAME` is created before:
[code]
This is 99% failing.

The resource is deleted and cannot be found by `oc get configmap -n myproject` but during the test, it is still there.
Even when I run this test in debug mode it passes.
If

[2019-04-02 16:36] nikkatalnikov commented on #1462
anyone?

[2019-04-03 16:09] rohanKanojia commented on #1474
Hmm, i've also faced a delay in performance since we merged #1433

[2019-04-03 16:18] rohanKanojia commented on #1462
@nikkatalnikov : Hi, I'm working on improving custom resource support #1472

[2019-04-03 16:41] rohanKanojia commented on #1462
bdw, I'm not familiar with this way of creating custom resources. As far as I know you need to provide Pojos to the client for operations. Please take a look at https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/CRDExample.java

[2019-04-04 08:09] #1297 closed

[2019-04-04 08:25] stanlyDoge commented on #1474
I've uploaded minimal reproducer code [here](https://drive.google.com/open?id=1Ri55lzJg2uJlvu8p8hNCSjeuo6dkrKHy)

[2019-04-04 09:47] rohanKanojia commented on #1474
cc @iocanel

[2019-04-04 09:49] rohanKanojia commented on #1468
@brokenjpl : Hi, Thanks for reporting. Since you've already found the issue. Could you please raise a PR to fix this issue?

[2019-04-04 10:46] hmeerlo opened #1476 "Authentication on GKE with serviceaccount"
Is there an example on how to do authentication with the client on a GKE cluster using a serviceaccount. I set the GOOGLE_APPLICATION_CREDENTIALS env value to the key file of the service account, but it alwas says that the token is expired.

[2019-04-04 10:47] firebook opened #1477 "patch failed when delete deployment due to missing key: /status/availableReplicas"
When I try to delete a deployment, in some times, delete is failed, in the log, I found
`
doc is missing key: /status/availableReplicas
`
Why:
sdk try to patch 'spec/replica' of replicaset  to 0, request as below:
1. sdk get replicaset, and set 'spec/replica' to 0, this is replicaset1
response:
`
status=ReplicaSetStatus(availableReplicas=20, conditions=[], fullyLabeledReplicas=20, observedGenerati

[2019-04-04 12:16] tprus opened #1478 "TextNode cannot be cast to ObjectNode"
There is problem with parsing YAML config with JSON element like that:

[code]

It throws error:
[code]

The purpose of that part is to be able to pipe json file so when we mount the configmap we can have a json file with the content from it.

It is well documented in kubernetes
https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#create-configmaps-from-directories

I'

[2019-04-04 12:36] brokenjpl commented on #1468
Sounds like you're happy with the proposed solution. I'll submit a PR shortly.

[2019-04-04 12:37] dsimansk commented on #1473
The issues seems to be caused by generated code that defines plural form as `withPlural("openshiftroles")`.

[code]

[2019-04-04 12:37] dsimansk commented on #1473
@iocanel if you could point me to right direction, I'd be happy to send a PR. :)

[2019-04-04 12:42] iocanel commented on #1473
@dsimansk: You are spot on! If this you fix that in `withPlural()` you are good to go.
The method you pasted is expected to be the only method that one specifies apiVersion, plural etc.

[2019-04-05 11:13] dsimansk commented on #1473
@iocanel thanks, and the PR's almost there :)

[2019-04-05 14:44] iocanel opened #1480 "The kubernetes-client is not optionally depending on bouncycastle."
I am using the client in a downstream project without the bouncycaslte dependencies and I am getting the error below:

       java.lang.IllegalStateException: Please make sure org.bouncycastle:bcprov-ext-jdk15on and org.bouncycastle:bcpkix-jdk15on are included in your project's classpath.
        at io.ap4k.deps.kubernetes.client.Config.getKeyAlgorithm(Config.java:675)
        at io.ap4k.deps.kube

[2019-04-05 14:48] rohanKanojia commented on #1480
@iocanel : Apologies, I would push a fix as soon as I can maybe today or this weekend

[2019-04-05 18:18] jonathanknez commented on #1454
I found a workaround. Previously, we were connecting using a kube config file as shown below.

`Config config = Config.fromKubeconfig(myFile);`
`KubernetesClient client = DefaultKubernetesClient(config);`

The kube config passed in was generated by Microk8s and is valid. The connection failed. So instead I switched to just using a simple URL for the connection:

`String url = "http://127.0.0.1:808

[2019-04-05 20:20] kunal-kushwaha commented on #1449
@rohanKanojia Am I required to document this change in CHANGELOG.md file as well

[2019-04-07 13:29] nikkatalnikov commented on #1462
@rohanKanojia looks like `rawCustomResource` is what I need.

[2019-04-07 21:25] rohanKanojia commented on #973
@dev-gaur : There is an extension of this api maintained by spring-boot team:

https://github.com/snowdrop/servicecatalog-java-api

Did you check this before marking this as a potential gsoc task???

[2019-04-07 21:30] theexplorist commented on #973
https://github.com/fabric8io/kubernetes-model/issues/225 Maybe this may clarify it! In comments the extension is mentioned!

[2019-04-08 12:34] dev-gaur commented on #973
@rohanKanojia Let's close this one if there's no scope for any work here.

[2019-04-08 12:41] iocanel commented on #973
There is no need to reimplement: https://github.com/snowdrop/servicecatalog-java-api

I am discussing the possibility of merging into this project.

[2019-04-08 14:01] martojdk opened #1485 "Webhook Example"
Would you provide example for setting up webhook server like this one - https://book.kubebuilder.io/beyond_basics/sample_webhook.html ?

[2019-04-08 15:42] #1480 closed

[2019-04-09 07:13] yaaoing commented on #1445
You can try this:
`limit.put("cpu", new QuantityBuilder().withAmount("1").build());`
`limit.put("memory", new QuantityBuilder().withAmount("2Gi").build());`

[2019-04-10 07:41] #1473 closed

[2019-04-10 14:51] jkremser opened #1486 "Creating CRDs with schema validation is broken"
the K8s api server makes a lot of strict checks, for instance it fails if the schema contains default values, definitions, $ref elements, etc. One of the checks is:

[code]

source: https://github.com/kubernetes/apiextensions-apiserver/blob/master/pkg/apis/apiextensions/validation/validation.go#L671

However, even if the `JSONSchemaProps` object has the `dependecies` field set to `null`, the objec

[2019-04-10 14:57] rohanKanojia commented on #1486
@Jiri-Kremser : Hi, Could you please elaborate on your use case? What are you trying to do here? We're right now trying to simplify our Custom Resources support. We've introduced a new endpoint in our dsl which handles raw custom resources in form of hashmaps:

https://github.com/fabric8io/kubernetes-client/blob/a50f3e946f20b298f69f065a2597fc94a0cb2743/kubernetes-itests/src/test/java/io/fabric8/ku

[2019-04-10 14:58] rohanKanojia commented on #1462
@nikhil-thomas : awesome, Could you please try out our master SNAPSHOT build and provide some feedback on how it can be improved? bdw, current PR is merged and it would be available in coming release ;-)

[2019-04-10 15:18] Jiri-Kremser commented on #1486
Cool, this looks  little bit easier than the `CustomResourceDefinitionBuilder`, but it doesn't support the OpenAPIV3Schema at all, so I guess it's less expressive than before. And the `CustomResourceDefinitionBuilder` is gone in the newest version.. does that mean that you are not going to support the open api v3 schemas at all or am I missing something?

sure, I want to create CRDs that have the

[2019-04-10 15:21] rohanKanojia commented on #1486
No no, this is an example of improved support for custom resources. For custom resource definitions it's still the same:

https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-itests/src/test/java/io/fabric8/kubernetes/CustomResourceDefinitionIT.java

[2019-04-10 15:22] Jiri-Kremser commented on #1486
here is the code if you need a bigger picture https://github.com/jvm-operators/abstract-operator/blob/master/src/main/java/io/radanalytics/operator/common/crd/CrdDeployer.java#L69

[2019-04-10 15:23] rohanKanojia commented on #1486
Hmm,  will try to reproduce your problem ....

[2019-04-10 15:38] Jiri-Kremser commented on #1486
here is the reproducer:

[code]

content of `sparkCluster.json`:
[code]

..but it would fail with any schema, even smaller one. Thanks for looking into this!

[2019-04-11 02:17] dev-gaur commented on #1282
Can we make issues for adding support for these two and add it to our GSoC project ?

[2019-04-11 16:01] rohanKanojia commented on #1486
Hmm, I tried reproducing your issue. When I run this example, I get this error:
[code]

Surprisingly, when I load it from a yaml, creation works :confused: :
[code]

Need to check how can we change this behavior of object mapper

[2019-04-11 23:19] Jiri-Kremser commented on #1486
yes, ^ that's that same error I was getting

[2019-04-12 03:11] dopa-cao commented on #498
.connectionSpecs(Arrays.asList(ConnectionSpec.MODERN_TLS, ConnectionSpec.CLEARTEXT))

[2019-04-12 08:46] rohanKanojia commented on #1468
closed via #1487

[2019-04-12 08:46] #1468 closed

[2019-04-12 09:38] izhigalko opened #1490 "Resource could not be loaded"
Im using client for load generic resource from server:

[code]

And got error:
[code]

Handler getter return null for keys exists in `RESOURCE_HANDLER_MAP`:

[code]

![image](https://user-images.githubusercontent.com/5950785/56027697-35d48400-5d1f-11e9-8f3f-2f00f4ff4d4d.png)

I think its happend because `Key` class does not implements `equals` and `hashCode` methods

Load resource handler by `Serv

[2019-04-12 11:32] rohanKanojia commented on #1455
Closed via #1466

[2019-04-12 11:32] #1455 closed

[2019-04-12 11:38] rohanKanojia commented on #1461
@nzazulinsky : Hi, I've worked on improving custom Resource support, I created #1472 recently which ease basic CRUD operations for CustomResources.

https://github.com/fabric8io/kubernetes-client/blob/f773e1053572f00af4206423366e7375693b737a/kubernetes-itests/src/test/java/io/fabric8/kubernetes/RawCustomResourceIT.java#L57-L100

I hope that would ease CustomResource operations, it would be availab

[2019-04-15 03:31] thousandhu commented on #1458
I also do the same thing as @GrigorievNick .

[2019-04-15 08:44] rohanKanojia commented on #1470
Picking it myself since we need to do a release soon.

[2019-04-15 12:26] tareqhs commented on #1480
Hi @rohanKanojia ,
I'm trying to upgrade to 4.2.0 and this is blocking the move. When is 4.2.1 planned to be released?
thank you

[2019-04-15 12:28] rohanKanojia commented on #1480
@tareqhs : Hi, It's planned to be released today

[2019-04-15 13:50] #1470 closed

[2019-04-15 15:49] rohanKanojia commented on #1480
@tareqhs : Hi, Kubernetes client is released: http://repo2.maven.org/maven2/io/fabric8/kubernetes-client/4.2.1/ .

[2019-04-16 00:38] dkc-bitsian commented on #1462
@nikkatalnikov` - I ran into the same issue. The reason for the null pointer exception is because `metadata:
  name: spark-pi
  namespace: default . `
is not defined anywhere.
Can i know how you got around this issue ?

[2019-04-16 02:47] izhangzhihao opened #1493 "Add installation manual for maven"
I'm a new bee to maven, today it takes me a while to fix `Could not resolve dependencies for project xxx: Failure to find io.fabric8:kubernetes-model:bundle:4.13 in xxx, blabla blabla...`. It appears that users should add these lines to pom.xml

[code]

[2019-04-16 06:21] rohanKanojia commented on #1462
@nikkatalnikov @dkc-bitsian : bdw, 4.2.1 is released, you can try creating custom resource like this: https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-itests/src/test/java/io/fabric8/kubernetes/RawCustomResourceIT.java

[2019-04-16 06:47] #1490 closed

[2019-04-16 07:43] Ladicek opened #1495 "java.lang.NoClassDefFoundError: org/apache/commons/collections/MapUtils"
This PR https://github.com/fabric8io/kubernetes-client/pull/1487 made Commons Collections a hard dependency of Fabric8 Kubernetes Client 4.2.1, even though depending on Fabric8 Kubernetes Client 4.2.1 does _not_ transitively bring in Commons Collections. This manifests as `java.lang.NoClassDefFoundError: org/apache/commons/collections/MapUtils` at runtime when calling `myKubernetesClient.load(myIn

[2019-04-16 07:51] rohanKanojia commented on #1495
@Ladicek : ah, Could you please raise a PR to fix this? I would do a release again .

[2019-04-16 07:59] Ladicek commented on #1495
Just running `mvn clean install` locally :-)

[2019-04-16 11:29] sanchitraizada opened #1497 "Unable to create namespaced custom resource of type PrometheusRule by a provider (monitoring.coreos.com)"
I am running into multiple issues with using fabric8 API for creating custom resource type for PrometheusRule.
Basically, current code is limited in what can be done with CRD (refer to https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/CRDExample.java and https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-e

[2019-04-16 11:32] rohanKanojia commented on #1497
Have you tried creating it like this:

https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-itests/src/test/java/io/fabric8/kubernetes/RawCustomResourceIT.java

It's on version 4.2.1

[2019-04-16 11:42] sanchitraizada commented on #1497
Thanks Rohan for responding but seems like the API
https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-itests/src/test/java/io/fabric8/kubernetes/RawCustomResourceIT.java#L72
is deprecated/no longer exists.

[2019-04-16 11:44] rohanKanojia commented on #1497
which api? previous one or the one I shared?

[2019-04-16 11:49] sanchitraizada commented on #1497
client.customResource(customResourceDefinitionContext)

Basically, the API in interface KubernetesClient which creates customResource with context.
AFAIK, they now need to pass in resourceType, listClass and doneClass

  @Override
  public <T extends HasMetadata, L extends KubernetesResourceList, D extends Doneable<T>> MixedOperation<T, L, D, Resource<T, D>> customResource(CustomResourceDefinition

[2019-04-16 11:50] rohanKanojia commented on #1497
Yeah, we added one more way to create custom resources(without having to provide POJOs).

[2019-04-16 12:02] sanchitraizada commented on #1497
Strange, for me compilation fails
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (default-compile) on project {MY_PROJECT}: Compilation failure
[ERROR]{MY_FILE}:[116,62]  no suitable method found for customResource(io.fabric8.kubernetes.client.dsl.base.OperationContext)
[ERROR]     method io.fabric8.kubernetes.client.KubernetesClient.<T,L,D>customResource

[2019-04-16 12:07] rohanKanojia commented on #1497
Could you please provide a reproducible sample?

[2019-04-16 15:33] #1495 closed

[2019-04-16 22:33] dkc-bitsian commented on #1462
@rohanKanojia  Got an error using that method
`
Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Request processing failed; nested exception is java.lang.IllegalStateException: Bad Request] with root cause

java.lang.IllegalStateException: Bad Request
	at io.fabric8.kubernetes.client.dsl.internal.RawCustomResourceOperationsImpl.makeCall(RawCustomResourceOp

[2019-04-16 22:35] dkc-bitsian commented on #1462
`
`

Code block is as follows`KubernetesClient client = new DefaultKubernetesClient();
        String jsonObject = new JSONObject().put("apiVersion", "sparkoperator.k8s.io/v1beta1").put("kind", "SparkApplication")
                .put("metadata", new JSONObject().put("name", "spark-pi-test-1").put("namespace", "namespace")).put("spec", new JSONObject().put("type", "Scala")

[2019-04-17 06:04] sanchitraizada commented on #1497
We can use the same example as https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-itests/src/test/java/io/fabric8/kubernetes/RawCustomResourceIT.java

`package com.walmart.platform.tsdb.util;

import java.io.ByteArrayInputStream;
import java.io.File;
import java.io.InputStream;
import java.nio.file.Paths;
import java.util.Map;

import io.fabric8.kubernetes.api.model.apiextension

[2019-04-17 07:12] rohanKanojia commented on #1462
@dkc-bitsian : Could you please share yaml for this spark operator CRD so that I can reproduce it on my machine?

[2019-04-17 08:19] stanlyDoge commented on #1474
Not fixed in 4.2.1

[2019-04-17 08:20] rohanKanojia commented on #1474
Yeah, but that bouncycastle thing was fixed, right??

[2019-04-17 08:22] stanlyDoge commented on #1474
Yes, it is. Thank you.

[2019-04-17 13:44] traviswinter commented on #1495
Is this fix in now? @rohankanojia is there a plan to release with this fix in the short term?

[2019-04-17 13:58] rohanKanojia commented on #1495
Hi Travis, let me release today

[2019-04-17 16:01] #1449 closed

[2019-04-17 18:18] traviswinter commented on #1495
Awesome! Thanks!

[2019-04-17 21:40] rohanKanojia commented on #1495
4.2.2 has been released: https://repo1.maven.org/maven2/io/fabric8/kubernetes-client/4.2.2/

[2019-04-18 16:07] GrigorievNick commented on #758
Same here

[2019-04-19 08:30] rohanKanojia commented on #758
@GrigorievNick : Hmm, Could you please raise a PR to fix this in case you have time?