[2017-02-14 09:45] kolleroot commented on #657
Thanks for the quick fix

[2017-02-15 10:48] iocanel commented on #633
absolutely right! We need to add support for `limitBytes`

[2017-02-15 10:49] #631 closed

[2017-02-15 10:52] iocanel opened #661 "Investigate how watches behave with per-request configuration."
I am not sure if this is a valid use case or not, but we need to make sure that `per-request configuration` plays nicely with watches.

Why?

Because watches execute some of the operations in an other thread, which means that they possible don't have visibility to the thread local variable which holds the configuration.

We need to see if and how this impacts us and if using an inheritable thread

[2017-02-17 03:15] own-idea opened #665 "1.4.33 RollingUpdater waitUntilPodsAreReady has a problem which will cause NullpointException"
class RollingUpdater
method  waitUntilPodsAreReady
`List<Pod> items = podList.getItems();`
`for (Pod item : items)`

variable "items" may null if pods size equals to 0

it seems should do check before iteration
` if (items != null && items.size() != 0)`

[2017-02-20 10:13] rhuss opened #668 "More visitables than items in KubernetesList"
While debugging the resource generation of https://github.com/rhuss/fabric8-devops/tree/master/fabric8-docker-registry I found out that the number of vistiable are 3 times the number of elements in the list (see screenshot)

So a visitor was called three times for a PVC instead of only once. Guess this is not intentional.

![3vp2krf](https://cloud.githubusercontent.com/assets/99080/23120661/8a9f02

[2017-02-21 08:02] amisevsk opened #669 "Various problems with Exec()"
Hello, I'm having a few issues using `exec()` in a OpenShift pod.

1. Threads are being leaked with every call to `exec()`. This seems to be a because a) `HttpClientUtils.java` creates a new `OkHttpClient` on each call to `createHttpClient()`, and b) the `InputStreamPumper` created in `ExecWebSocketListener` never ends.

2. The input streams provided by `ExecWebSocketListener` are never closed. Th

[2017-02-23 20:48] foxish opened #672 "Publish changelogs"
As we upgrade between versions of clients, it would be useful to know of the major changes which occur.
For example, this release (2.0.7) contains also, changes to okhttp client version which is notable but not immediately evident to someone who does not go over the closed PRs and commits.

[2017-02-23 21:34] ash211 commented on #672
Yes please.  As a downstream project it's hard for me to gauge the magnitude of changes and where I should be focusing my regression testing if I don't know what the changes are.  I also don't know what benefits I get from upgrading so am less motivated to upgrade in general.

[2017-02-23 21:41] ash211 opened #674 "Watch's onClose method not being called when the Watch closes"
Between 1.4.34 and 2.0.3 of this library we're seeing a regression in the behavior of the Watch class.  After that change, the `onClose` method of a Watch object is no longer called when the Watch closes.

I'm seeing this in my logs as well mentioning that the onClose is being ignored:

[code]

Can we please debug the cause of this regression and restore the `onClose` call?  My project relied on i

[2017-02-24 09:28] iocanel commented on #669
@amisevsk: Some comments:

`createHttpClient()` is something that is only called when creating a new instance of the client. exec() is cloning the OkHttpClient but its not creating a new one. The clone instance is expected to share connection pool, executors etc with the original instance, so I am not sure if this is an issue.

Exec operations are returning a handle to the caller, which should be

[2017-02-24 09:31] iocanel commented on #669
Hmmm, the `ExecExample` and `ExecPipesExample` do call close on the watch (via try-with-resources). Which means, that there is something else going on here.

[2017-02-24 13:37] iocanel commented on #669
@amisevsk: There multiple issues here:

- We should close() stream pumpler and executor when onClose() is called.
- We should make sure we don't close websocket, executor etc more than once.
- The example creates multiple instances of the client doesn't close() anything (neither client instances nor watches).

I took the liberty of improving and adding your example inside the `kubernetes-examples`

[2017-02-27 06:21] amisevsk commented on #669
@iocanel Thanks for the fix! I've tried it out and everything looks good to me. The `createHttpClient()` bit was a mistake on my part, the example was kind of hastily thrown together.

I'm closing the issue as resolved.

[2017-02-27 06:21] #669 closed

[2017-02-27 11:21] jstrachan opened #677 "provide a helper method to return the current logged in user - like `oc whoami`"
PR on its way...

[2017-02-27 12:16] #677 closed

[2017-02-28 10:31] kaimago opened #682 "Edit buildconfig deletes buildhistory"
simple edit of a buildconfig deletes the existing buildhistory everytime.

[code]

Is this a bug or feature ?

Using kubernetes-client version 2.1.0
openshift-version 3.3.x

[2017-02-28 15:36] adamdougal commented on #583
Also facing the same issue, any update?!

[2017-03-01 08:07] iocanel opened #685 "Exception during 'waitUntilReady'"
In some cases, I consistently get the exception pasted below.

This happens with a call like:

     client.resourceList(all).waitUntilReady(configuration.getWaitTimeout(), TimeUnit.MILLISECONDS);

From a quick glance at the code it seems like we receive onOpen() after we force close() the watch (maybe a try-with-resources?).

Exception in thread "OkHttp Dispatcher" java.util.concurrent.RejectedExe

[2017-03-01 11:51] serhii-samoilenko commented on #633
@iocanel, can you please take a look at my PR?

[2017-03-02 09:40] serhii-samoilenko commented on #633
The fix for this issue was included in version 2.2.0.
I think, it can be closed.

[2017-03-02 10:00] jimmidyson commented on #633
Thanks!

[2017-03-02 10:00] #633 closed

[2017-03-02 10:54] #674 closed

[2017-03-02 12:48] chakravarthyvp opened #689 "kubernetes-client api versions compaibility with runtime api server"
Hi,

    I'm using
[code]
and I have minikube and kubectl installed with versions below:

[code]

Here is my spark job spec., that is generated through the JobBuilder API and dumped as YAML

[code]

This fails with validation when I try to create the job...
[code]
I changed the api version to batch/v1 as well but it's the same.

Can someone help here with what kubernetes-client api library version

[2017-03-02 14:52] chlung opened #690 "Need to support SecurityContext.hostNetwork for Kubernetes model API"
Hi,

Please support hostNetwork field in io.fabric8.kubernetes.api.model.SecurityContext.  So, we can use Spinnaker to set the value when build a container.

Thanks, Chasling

[2017-03-02 15:12] jimmidyson commented on #690
Can you point me to the field you're talking about? `hostNetwork` is on PodSpec AFAIK - from Go source https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L2298.

I can't see that field on SecurityContext - https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L4261

[2017-03-02 16:03] chlung commented on #690
Thanks for prompt reply.  I am referring the following information

Kubernetes API
https://godoc.org/k8s.io/kubernetes/pkg/api#PodSecurityContext

type PodSecurityContext struct {
    // Use the host's network namespace.  If this option is set, the ports that will be
    // used must be specified.
    // Optional: Default to false
    // +k8s:conversion-gen=false
    // +optional
    HostNetwork b

[2017-03-02 16:29] jimmidyson commented on #690
You're looking at the internal Kubernetes types there, not the versioned API types which uses `HostNetwork` field on `PodSpec` (https://godoc.org/k8s.io/kubernetes/pkg/api/v1#PodSpec).

I'm going to close this - please feel free to reopen if this doesn't solve your issue.

[2017-03-02 16:29] #690 closed

[2017-03-02 16:36] chlung commented on #690
I want to make sure if this should be the same one.

From  https://godoc.org/k8s.io/kubernetes/pkg/api/v1#PodSpec

// Host networking requested for this pod. Use the host's network namespace.
    // If this option is set, the ports that will be used must be specified.
    // Default to false.
    // +k8s:conversion-gen=false
    // +optional
    HostNetwork bool<https://godoc.org/builtin#bool> `js

[2017-03-02 16:42] jimmidyson commented on #690
Here's the relevant conversion: https://github.com/kubernetes/kubernetes/blob/3604cdc6a9d084b1c141319616db14316051f0f0/pkg/api/v1/conversion.go#L541 so yes, it is.

[2017-03-02 16:53] chlung commented on #690
Thanks.

I download kubernetes-api:2.2.192, and it does not include it yet.  Which version of jar that I need to use to ensure the code will compatible with SecurityContext.hostNetwork.

[2017-03-02 17:10] jimmidyson commented on #690
You probably only need kubernetes-client, not kubernetes-api which is a consumer of this library with a few extras, but specific to fabric8 rather than generic like kubernetes-client. Advice is to always use the latest :)

[2017-03-04 01:13] foxish opened #691 "Add support for node.Spec.Taints"
Taints are first class fields in the Node object's spec as of Kubernetes 1.6

[2017-03-04 01:20] foxish commented on #689
You're missing 3 things.

* metadata.name: Invalid value: "Test-PBA": must match the regex [a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)* (e.g. 'example.com')
* spec.template.spec.containers[0].name: Required value
* spec.template.spec.restartPolicy: Unsupported value: "Always": supported values: OnFailure, Never

[2017-03-05 16:51] chakravarthyvp commented on #689
Hi Foxish,
   I sorted through these issues. However the general issue that I noticed is that there is no version matrix between fabri8 kubernetes-client API and kubernetes API server versions supported. For ex., v1.5.x has moved jobs into batch/v1 however the kubernetes fabric8 version 2.2.x by default uses v1beta1 version of the job group. I have to manually set the API version before talking to

[2017-03-05 22:42] iwarapter opened #692 "deploymentConfigs deployLatest produces NPE."
Using OpenShift 1.3.1 currently when creating a deploymentConfig with no triggers (and as such no status.latestVersion) a NPE is thrown accessing the [non-required field](https://docs.openshift.com/enterprise/3.0/rest_api/openshift_v1.html#v1-deploymentconfigstatus)

See the following reproducer.
[code]

[code]

[2017-03-06 20:00] rawlingsj opened #694 "Unable to create a BuildConfig: User system:admin/192-168-64-151:8443 doesn't have permission.."
To recreate I'm using minishift 1.0.0-beta.3, logged in as system:admin.
[code]
Checking who can create BuildConfigs I can see my `system:admin` user can:
[code]
Using a little junit test:
[code]

I get the error that the user doesn't have permissions to create BuildConfigs in the namespace: `Forbidden! User system:admin/192-168-64-151:8443 doesn't have permission`

Am I doing something wrong?  It

[2017-03-07 09:36] cmoulliard opened #695 "Relations between versions - APIs"
The project kubernetes has released different versions : 1.3, 1.4, 1.5, 1.6 & 1.7 which are supported by OpenShift for at least the versions 1.3 & 1.4

Fabric8 project generates Kubernetes Java classes (= kubernetes model project) which are released under versions : 1.0.x

Questions :

- How can I match a kubernetes Api version (= 1.4) with the kubernetes model version ?
- As kubernetes Model is p

[2017-03-07 11:46] rawlingsj commented on #694
I just created a BC using a unit test but I used the values from this example https://docs.openshift.com/container-platform/3.3/dev_guide/builds.html#defining-a-buildconfig

[code]

So I'm guessing the original error is related to some defaults not being populated.

[2017-03-09 16:56] #692 closed

[2017-03-10 11:18] jbguerraz opened #697 "Inconsistency between Job api version in model and api path in client"
Using the kubernetes-client version 2.2.1 and so the kubernetes-model version 1.0.67 (which is a dependency of kubernetes-client version 2.2.1) it's not possible to manage kubernetes job anymore : the kubernetes api server complains `the API version in the data (batch/v2alpha1) does not match the expected API version (extensions/v1beta1)`

nb: relates to #689 and #611

[2017-03-10 11:22] mlabuda opened #699 "Waiting for scaled deployment does not work as expected"
In DeploymentOperationsImpl method waitUntilDeploymentIsScaled is not working as expected. I would expect it would periodically check readiness of deployment and once it is ready, waiting ends. But now there is a problem that the waiting method waits for fixed time to time out and continue (it poll with timeout and only once...). So it is still waiting even though a deployment is scaled and ready.

[2017-03-10 12:17] #697 closed

[2017-03-12 18:44] carlossg opened #703 "NPE in Config.tryKubeConfig"
As seen in jenkins k8s plugin

[code]

`currentAuthInfo.getAuthProvider().getConfig()` is null in https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Config.java#L346

[2017-03-12 19:11] carlossg commented on #703
My `.kube/config` had this entry

[code]

After deleting it, it worked, but it can be there

[2017-03-15 04:16] boom-shakalaka opened #704 "io.fabric8.kubernetes.client.ConfigBuilder is not exist"
where can i find the class io.fabric8.kubernetes.client.ConfigBuilder?

[2017-03-15 15:48] rhuss opened #705 "Feature request: Pod port-forwarding"
No idea whether it's a realistic feature but it would be awesome if kubernetes-client would support a functionality like `kubectl port-forward` in order to access a pod directly.

Concrete use cases are from fabric8-maven-plugin:

* Open a remote debug port to a pod (currently: Starting an external kubectl)
* Open a port to a spring-boot app to allow hot-deployment with the devtools (currently: Do

[2017-03-16 11:51] cougil commented on #613
Hi!
Regarding with this approach I don't know if this is a similar issue, but when we are trying to recreate a Pod that it is already started and it takes a bit longer to delete, the recreation of the pod fails because it tries to delete and immediately create it, and because it is not already removed, the creation fails.
Best,

[2017-03-17 06:13] puyangsky opened #706 "Can I create StatefulSet via kubernetes-client API?"
Although I found StatefulSet.java in "io.fabric8.kubernetes.api.model.extensions", but I cannot find API to create it.

[2017-03-17 20:01] khogeland commented on #706
No, there needs to be a `StatefulSetOperationsImpl` and accompanying wiring. I'm currently trying to figure out how that should look; I think much (most?) of the code could be taken from/shared with `ReplicaSetOperationsImpl`. Maybe a maintainer has already thought this through?

[2017-03-22 15:39] waeljammal opened #708 "client.load waitUntilReady always times out if deployment exists"
If you have an existing deployment and then you try to deploy the same yaml again but it has no changes then waitUntilReady will simply time out and throw an exception.

Expected result is that if kubernetes is not going to re-deploy then it should continue.

`List<HasMetadata> test = client.load(new StringInputStream(result.toString()))
		.inNamespace(nsName)
		.createOrReplaceAnd()
		.waitUntilR

[2017-03-23 09:05] heiko-braun opened #709 "Support `rollout latest dc/<name>`"
It would nice if the client API would support to trigger a new rollout of a deployment

[2017-03-23 09:57] heiko-braun commented on #709
In earlier versions of this was called `oc deploy --latest` I think

[2017-03-23 10:12] iocanel commented on #709
The equivalent should be something like:

    client.deplyomentConfigs().inNamespace("somens").withName("myconfig").deployLatest();

and if you need to wait for the rollout

    client.deplyomentConfigs().inNamespace("somens").withName("myconfig").deployLatest(true);

[2017-03-23 10:21] heiko-braun commented on #709
ok, `deployLatest(true)` works fine. But it's deprecated. I'll leave this open as a reminder to update the API to `rollout latest`

[2017-03-23 10:21] heiko-braun commented on #709
thanks @iocanel !

[2017-03-23 14:51] cmoulliard opened #710 "Different behavior observed between client.adapt(OpenShiftClient.class) & DefaultOpenShiftClient"
As described within this [thread](https://groups.google.com/forum/#!topic/fabric8/IJbbnBUDelg) a different behaviour is observed when we use

[code]

or

[code]

as the OpenShiftOAuthInterceptor okhttp interceptor is not used when we list the projects or get a project. In this case, we will receive a beautiful message which is "Forbidden for user !"

Moreover, the user of the current-context will

[2017-03-27 16:37] ibuziuk opened #711 "Certificates from system keystore are ignored by kubernetes client"
There are two possible ways for providing certificates while creating OpenShift / K8S client:

- `KUBERNETES_CERTS_CA_FILE` - using the **ENV VAR** and creating client using default constructor
- `withCaCertFile()` - providing path to the certificate file if client is created via` ConfigBuilder`

However, if certificate is already installed in the system, client will ignore it and would expect cer

[2017-03-28 12:28] rkasdf opened #712 "waitUntilJobIsScaled() may lead to crazy log out."
Hi:
I met a bug that the client crazy log out "Error while waiting for Job to be scaled." in JobOperationsImpl.java
This is possible that I started two k8s client two delete a job, when a client delete a job but another is still in job scale(0),

      public void run() {
        try {
          Job job = getMandatory();
          atomicJob.set(job);
          Integer activeJobs = job.getStatus().

[2017-03-28 18:26] waeljammal commented on #708
Looked into this further, seems like it times out if I try to create a service before a pod is available but if I create the pod first then the service does not time out and gets created correctly.

[2017-03-30 13:26] jstrachan opened #714 "useful error message information is being gobbled up from the returned Status message"
e.g. creating a pod in jenkins when there are quota issues results in a message like this:
[code]

which doesn't really give the end user much to go on. So lets also concatenate any message thats in the returned Status object too.

[2017-03-30 13:26] jstrachan commented on #714
with the PR I'm about to submit the exception now looks more useful:
[code]

[2017-03-30 13:40] #714 closed

[2017-03-30 13:52] jstrachan opened #716 "support the new OpenShift API Groups for using OpenShift APIs"
the OpenShift API is now using API groups:

* authorization.openshift.io
* build.openshift.io
* apps.openshift.io
* template.openshift.io
* image.openshift.io
* project.openshift.io
* user.openshift.io
* oauth.openshift.io
* network.openshift.io
* route.openshift.io
* quota.openshift.io
* security.openshift.io

Origin `3.6.0-alpha.0 ` has the new API Groups for the OpenShift APIs: https://github.c

[2017-03-30 17:50] ethanfrogers commented on #711
I'm dealing with a similar issue. From within a pod, I'm not able to communicate with the cluster using the cert from the ServiceAccount. The cert is self-signed.

[2017-03-30 19:41] lulf opened #717 "Support processing templates locally"
This would allow the client to use templates against a kubernetes server. This works with the 'oc' tool in OpenShift 1.5: https://github.com/openshift/origin/pull/12996

[2017-03-31 11:28] iocanel opened #718 "Make it possible to instantiate the client using configuration in json/yml format."
**Problem**: Frameworks that manage the client and/or model objects (Pod, Service etc) on behalf of the user are bound to a specific version (the version the framework uses), which is not always aligned with what the user is going to use.

Even shading the client *(like we used to do for okhttp a while back)* isn't going to work, as sharing of classes is involved.

**Proposal**: We should allow th

[2017-03-31 11:28] iocanel commented on #718
@jimmidyson: wdyt?

[2017-03-31 21:11] kennyzli commented on #706
is there any ETA for this? or we can simply use resource operation to handle the statefulSet

[2017-04-01 21:19] iocanel opened #720 "Provide a shaded version of the client that downstream projects can use internally."
Every now and then we get into a discussion about how to handle version mismatches between downstream projects.

In some of those case it makes sense to `shade` the client in order to avoid such conflicts (e.g. the [arquillian-cube](https://github.com/arquillian/arquillian-cube/) community has decided that this is the way to go).

The problem is that in recent versions of maven shading a project i

[2017-04-03 13:24] lulf commented on #717
You're way ahead of me, it is already there, awesome!

[2017-04-03 13:24] #717 closed

[2017-04-04 09:19] jstrachan commented on #511
@jbguerraz having a helper function to parse LabelSelector from a String and go back to a String again sounds good to me! Fancy submitting a PR?

[2017-04-04 09:25] #511 closed

[2017-04-06 07:57] hollinwilkins commented on #706
I am also having trouble with StatefulSet. When I try to create it, I get this error:

[code]

[2017-04-06 08:03] hollinwilkins commented on #706
I guess the error is because a ResourceHandler has not yet been implemented for StatefulSet. Are there any plans to add one? I could potentially take a look at it.

[2017-04-06 08:48] quickwind opened #728 "ExecWatch doesn't support execute a command and collect its std out/err"
Our use case is to copy out file(s) from pod container using tar, which is:
- execute "tar cf - -C / dirToCopy" via ExecWatch
- read output and dump to a tar file
- if failed, collect errors from std error

Following is the example code to show the problem:
[code]

It doesn't work because .usingListener() method will always set withTty to true, and you have no way to set it to false again, why is

[2017-04-06 09:48] quickwind commented on #728
Created PR to change usingListener method to not always set withTTY to true. Please review.

[2017-04-10 14:44] lwander opened #730 "Unable to load HPAs at cluster version 1.6"
Running client library `kubernetes-client:2.2.13`, the call `client.extensions().horizontalPodAutoscalers().inNamespace(namespace).list()` fails due to exception
"the server could not find the requested resource".

Seems that the rest endpoint for HPA resources has changed to `apis/autoscaling/v1/namespaces/spinnaker/horizontalpodautoscalers`, and is no longer under the
`api/extensions/v1beta1` en

[2017-04-11 15:05] bartoszmajsak commented on #711
I cannot assign, but @matousjobanek is working on it.

[2017-04-11 15:09] ibuziuk commented on #711
@bartoszmajsak awesome!!

[2017-04-11 23:46] mccheah opened #731 "Support multiple certificate entries in CA data/file"
Sometimes, Kubernetes users may provide CA files or data that contain multiple certificate entries:

    -----BEGIN CERTIFICATE-----
    abcdef…
    -----END CERTIFICATE-----
    -----BEGIN CERTIFICATE-----
    hijklm…
    -----END CERTIFICATE-----

However, `CertUtils` only creates the trustStore using the first certificate it finds in the data. We should create the truststore with an entry for e

[2017-04-11 23:51] mccheah commented on #731
Never mind, this was fixed in 2.2.3 - we were using an older version.

[2017-04-11 23:51] #731 closed

[2017-04-11 23:53] ash211 commented on #731
Fixed in https://github.com/fabric8io/kubernetes-client/pull/696

[2017-04-12 05:42] amisevsk opened #732 "InputStreamPumper seems to never complete on its own"
If I submit an `InputStreamPumper`, the returned `Future` is never done. This makes running execs in Pods difficult, since we have to wait until we think we're done reading input, as in `ExecLoopExample.java`.

Briefly looking into the issue, it seems like the `ExecWatch.getOutput()` pipe is never closed, and the last call to read from it in `InputStreamPumper` blocks.

An modified version of `Exe

[2017-04-12 06:00] amisevsk commented on #732
Looking at it more, it looks like ExecWebSocketListener's `out` and `err` OutputStreams are not closed when the WebSocket is closed. Adding `out.close()` to EWSL's `onClosing()` method causes the example to work as expected.

[2017-04-12 06:25] amisevsk opened #733 "OperationSupport.createStatus() can throw a NPE occasionally"
I'm occasionally seeing NPEs from OperationSupport while running, but I sadly don't have consistent steps to reproduce.

Occasionally, the Response passed into [`OperationSupport.createStatus()`](https://github.com/fabric8io/kubernetes-client/blob/871aa0cc8abf84fe288eb5603f8c8231e5ea03d3/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/OperationSupport.java#L287) is `null`. Th

[2017-04-12 08:12] bartoszmajsak commented on #711
@iocanel can you assign @matousjobanek to this issue?

[2017-04-12 09:49] htamas opened #734 "Creating a pod with DSL throws exception with message: resourceVersion may not be set on objects to be created"
I'm testing against a Minikube running locally on my machine (OS X El Capitan)

Here is the pod creation code:
[code]

And the message: `Failure executing: POST at: https://192.168.99.100:8443/api/v1/namespaces/default/pods. Message: resourceVersion may not be set on objects to be created. Received status: Status(apiVersion=v1, code=500, details=null, kind=Status, message=resourceVersion may not b

[2017-04-12 14:00] dennismartensson commented on #730
Hi we are also having this problem with or deployments.

[2017-04-12 21:45] jcastillo-cb commented on #730
It turns out the the pod autoscaler is broken in 1.5.5 as well. It seems that the pod scalers that spinnaker creates use kind:replicaSet. However, kubernetes is looking for HPA that use ReplicaSet <note the CamelCase not camelCase
So when you create a server group with autoscaler, it is not correctly attached to the RS. If you create one manually using the correct kind, then Spinnaker cannot find

[2017-04-12 21:54] lwander commented on #730
^ This is unrelated to this client library, and is a separate issue within spinnaker

[2017-04-13 14:51] MatousJobanek commented on #711
Hi,
I think that this is caused by the fact that there is no file that would be loaded when the KeyStore is created:
https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/internal/CertUtils.java#L68
If I try (locally) to change the logic to:
[code]
then it works.

Similar for the keystore: https://github.com/fabric8io/kubernetes-cli

[2017-04-16 20:17] snjeza opened #735 "Issue with LogWatch"
I face the issue when trying to read a log from a pod that doesn't have any logs.

Steps to reproduce:
- create a pod using
[code]

- run PodLogExample

The program will take forever.

If you repeat the same test using a pod containing a log, the program will print the log and exit normally.
For more detail, see https://issues.jboss.org/browse/CHE-180

I have tested the 2.2.8 and 2.2.13 versions.

[2017-04-18 13:07] iocanel commented on #711
I think that the config object should allow the user to specify trustore/keystore file or fallback to some sensible default (?). @jimmidyson: thoughts?

[2017-04-18 13:11] jimmidyson commented on #711
I think it makes sense to load the default keystore and add custom certificates to that as specified from config. That keystore should be overridable as well though as you suggest.

[2017-04-18 13:25] iocanel commented on #732
@amisevsk: I think that the `ExecWebSocketListener` should only close streams that are managed internally. Any stream that has been passed externally, should be the responsibility of the caller to close.

For example:

    client.pods().withName('mypod').writingOutput(out).exec(cmd)

Of course when the stream is managed internally (e.g. when using redirects), the stream should be closed as you sug

[2017-04-18 14:12] amisevsk commented on #732
@iocanel Thanks for looking at it! I'm a bit bogged with other issues at the moment, so I don't think I have time to take a look right now. We're currently using the second case (`redirectingOutput()`) so we have no way to close the write end as far as I can tell.

[2017-04-18 15:51] jstrachan opened #737 "provide a way to invoke `resource.edit()` which detects if the resource really has changed and avoids doing a change"
e.g. the jenkins-sync-plugin we do lots of edits to a resource like `Build` with values and annotations. It'd be nice if we could have a way to check if the resource really has changed (e.g. if the labels/annotations/name changes in metadata or the json of the `spec` changes etc) to avoid folks having to manually do this - which is error prone by hand doing deep comparisons for changes.

so maybe

[2017-04-18 15:51] jstrachan commented on #737
@iocanel am guessing there is no feature like this already?

[2017-04-19 13:56] mbukosky commented on #730
+1

[2017-04-19 22:25] MatousJobanek commented on #711
I've sent a proposal how the issue could be solved: https://github.com/fabric8io/kubernetes-client/pull/738
@ibuziuk is it what you had expected?
@iocanel are you fine with the implementation or is there anything that I'm missing. I can also try to implement some tests or additional functionality of specifying custom keystore file/passphrase if you want.

[2017-04-20 03:04] VFT opened #739 "kubernetes-client doesn't support "NetworkPolicy"?"
[code]
kubernetes-client doesn't support "NetworkPolicy"?

I can't find it in the newest java client.

[2017-04-20 07:13] oscerd commented on #739
No, at the moment it is not supported.

[2017-04-20 11:26] ibuziuk commented on #711
@matousjobanek I think that using default "changeit" will not work for many cases e.g.

[code]
Maybe it would be better to fall back on some ENV_VAR for it ?

Also, from API perspective maybe it would be better to have some methods which will give more control e.g.

CC: @aslakknutsen @hectorj2f WDYT?

[2017-04-20 12:15] MatousJobanek commented on #711
Where I can find this code ^

Ok, I can implement it. I just thought that you had expected that the files (on default locations) should be loaded automatically (which can by done only using default passphrase).
Adding env parameters for specifying a custom file and passphrase was intended as the next step.
I can work only with the information that is written in this issue and based on it assume wh

[2017-04-20 12:49] ibuziuk commented on #711
@hectorj2f could you please point to the script which installs certificate for keycloak (this initially was done also for che-starter, but than it was removed[1] because java keystore was not really used by k8s client)

Does it make sense  to load files from default locations using custom storepass if it was specified? e.g. fall back on `changeit` but if env var is specified use it as storepass ?

[2017-04-20 12:57] bartoszmajsak commented on #711
It's based on InstallCert https://github.com/almighty/keycloak/blob/f0daf238d59146b86a1676e100c6e8e4f3eeef40/docker/install_certificate.sh

[2017-04-20 12:58] MatousJobanek commented on #711
I think that you meant this one: https://github.com/redhat-developer/che-starter/blob/master/docker-entrypoint.sh#L27

I think that it does. But you will need to specify the env var on your own. So, you will require additional logic that will detect cases when the passphrase is the default one and when not...

[2017-04-20 13:13] MatousJobanek commented on #711
Looking at the install_certificate.sh file, yeah then it's not a problematic at all.
Ok, I'll change the PR so it checks also the KEYSTORE_PASSWORD property... May I consider this property as appropriate one - that it doesn't follow the fabric8 property convention format: https://github.com/fabric8io/kubernetes-client#configuring-the-client

[2017-04-20 13:16] ibuziuk commented on #711
@matousjobanek well, I think it should have the same convention format as other fabric8 properties -
 https://github.com/fabric8io/kubernetes-client#configuring-the-client

It's just a matter of setting it in our codebase properly

[2017-04-20 13:27] hectorj2f commented on #711
It was already mentioned in the thread but we did it in two different ways:
https://github.com/redhat-developer/che-starter/blob/master/docker-entrypoint.sh
and
https://github.com/almighty/keycloak/blob/master/docker/install_certificate.sh

[2017-04-20 14:00] iocanel commented on #737
AFAIK, there is no such feature in place.

I do like the idea, I am not crazy about the name `editIfModified`. I am wondering though if this is something we should ALWAYS do, as I don't see any point in performing an actual update if nothing has changed.

[2017-04-20 14:02] jstrachan commented on #737
Agreed. Maybe we add an optional `forceUpdate()` to the DSL to force updates if nothings changed?

[2017-04-20 15:44] MatousJobanek commented on #711
Ok, I changed the PR - I introduced new properties:
* kubernetes.truststore.file / KUBERNETES_TRUSTSTORE_FILE
* kubernetes.truststore.passphrase / KUBERNETES_TRUSTSTORE_PASSPHRASE
* kubernetes.keystore.file / KUBERNETES_KEYSTORE_FILE
* kubernetes.keystore.passphrase / KUBERNETES_KEYSTORE_PASSPHRASE

to make the setting of TrustStore/KeyStore file and passphrase customizable.
If no file is specifie

[2017-04-21 01:28] VFT commented on #739
Do you plan to support it in a near future?

[2017-04-21 08:43] oscerd commented on #739
Question for @iocanel and @jimmidyson :-)

[2017-04-21 09:41] jimmidyson commented on #739
We would be really happy to receive a PR :)

[2017-04-21 19:40] amisevsk commented on #732
Direct link to relevant PR, for convenience: https://github.com/fabric8io/kubernetes-client/issues/732

[2017-04-23 12:10] snjeza opened #741 "Connection leak in OpenShiftOAuthInterceptor"
See https://github.com/fabric8io/kubernetes-client/blob/master/openshift-client/src/main/java/io/fabric8/openshift/client/internal/OpenShiftOAuthInterceptor.java#L85

"response.body().close();" releases a connection properly when using the standard http services
When using a web socket, "response.body().close();" doesn't release a connection.

The following OpenShiftOAuthInterceptor.intercept meth

[2017-04-23 12:12] snjeza commented on #733
Related issue: https://github.com/square/okhttp/issues/3297
You can slow down or debug the ExecWebSocketListener.onMessage method, debug ExecExample and set a breakpoint to the start of the method.

[2017-04-24 07:52] hbutalia opened #742 "Restart policy OnFailure not supported"
version - 2.0.3

spec.template.spec.restartPolicy: Unsupported value: "OnFailure": supported values: Always. Received status: Status(apiVersion=v1, code=422, details=StatusDetails(causes=[StatusCause(field=spec.template.spec.restartPolicy, message=Unsupported value: "OnFailure": supported values: Always, reason=FieldValueNotSupported, additionalProperties={})], group=extensions, kind=Deployment, n

[2017-04-24 15:21] MatousJobanek commented on #711
The tests are in the PR, I've verified it also locally so it should work.
If you want to use the default trustStore file, then just set KUBERNETES_TRUSTSTORE_PASSPHRASE to your secrets and the file should be loaded.
Any other concerns/comments? @ibuziuk @hectorj2f @iocanel

[2017-04-24 19:33] ravjanga commented on #742
Based on the k8 documentation, we should be supporting values - Always, OnFailure, and Never

But if you are using Deployments, then Always is the only option supported.

https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-lifetime

[2017-04-24 20:24] jimmidyson commented on #742
That is a server-side validation error that, as @ravjanga said (thanks!), is correct - Deployments only support Always restart policy. Closing as this is not a client issue.

[2017-04-24 20:24] #742 closed

[2017-04-25 03:50] VFT commented on #739
ok, I'll do it as soon as possible

[2017-04-25 03:50] #739 closed

[2017-04-25 15:39] ljnelson opened #744 "Minor API issue: Watcher<T> should probably be Watcher<T extends HasMetadata>"
Hello; thanks for your work on this project.

It seems to me that the `Watcher` class should not take an undifferentiated type parameter but should instead use `T extends HasMetadata`.  (Creating, say, a `Watcher<Integer>` is currently permitted but we all know such a thing would never be called.)

I base this off the [only location I could find in the source base where the `eventReceived` method

[2017-04-25 15:52] jimmidyson commented on #744
Sounds reasonable to me. Fancy sending in a PR?

[2017-04-25 20:12] khogeland commented on #706
Apologies for the delay. https://github.com/fabric8io/kubernetes-client/pull/745

[2017-04-27 12:41] lihan commented on #730
+1

[2017-04-28 01:59] Donnzh commented on #730
+1

[2017-04-28 15:53] gskumar1010 opened #746 "Provide option to parse Templates without really parsing the underying objects using the typesafe DTO model"
Issue:  When users specify replicas as a parameter in the templates

replicas: '${REPLICAS}'

 and below line is executed

`List<Template> tlist = sourceClient().templates().inNamespace(namespace).withLabels(labelMap).list().getItems();`

it fails with an error

[code]

We are using 2.2.7 version

[2017-04-29 07:20] JeanMertz opened #749 "Jenkins Kubernetes plugin fabric8 client: "Pipe not connected""
Hi,

The Jenkins Kubernetes Plugin uses this client under the hood to communicate with Kubernetes. It seems like people are running into issues. related to

[code]

And according to some research done in the [issue being raised](https://issues.jenkins-ci.org/browse/JENKINS-40825) it is related to:

https://github.com/jenkinsci/kubernetes-plugin/blob/b266a49e29bf3446ccfa54bdfe4c9563ce38822e/src/mai

[2017-05-04 12:59] jstrachan commented on #746
the fix lets you load a single template using the .processLocally() method - unfortunately we don't yet support listing all templates.

So now to handle templates with numeric expressions like this one:
https://github.com/jstrachan/kubernetes-client/blob/07d6f1fd640ae6b8eabd12ecde0e62ec1b477817/kubernetes-tests/src/test/resources/template-with-number-params.yml#L32-L32

you can use the .processLoc

[2017-05-08 16:30] imosquera commented on #730
+1

[2017-05-08 16:31] benmappen commented on #730
+1

[2017-05-08 16:49] andrewbackes commented on #730
+1

[2017-05-08 19:27] khogeland opened #752 "Failing build"
Looks like the build has been broken for a few weeks due to a dependency license check failing. Currently using snapshots, but waiting for a release to be cut, because I depend on https://github.com/fabric8io/kubernetes-client/pull/745. Is the failure being looked at?

[2017-05-08 20:29] jimmidyson commented on #752
Hey @khogeland. The master build isn't failing btw - that was a dodgy link in the README to a PR build.

Are you using unreleased functionality or is the latest release ok for you to use?

[2017-05-09 01:55] jrcast commented on #730
+1

[2017-05-09 13:45] #746 closed

[2017-05-10 06:28] ash211 commented on #635
@foxish were you able to work around this?

[2017-05-10 17:40] carlossg commented on #714
I just noticed this error ;)
https://issues.jenkins-ci.org/browse/JENKINS-44189

[2017-05-11 15:35] lwander opened #758 "Deleting Deployments with `.cascading(true)` creates a new replica set"
When I invoke
[code]

On some deployment `abc`, the client library deletes the deployment `abc` as well as the current replica set it's managing, but leaves behind a new replicaset `abc-<random number>` with 0 pods.

My client library is at version 2.2.14

[2017-05-12 12:06] jimmidyson commented on #752
Closing this now - please reopen if this is still an issue.

[2017-05-12 12:06] #752 closed

[2017-05-15 09:43] mohaijiang opened #760 "Api get pod from yaml issue"
As this example

    Pod refreshed = client.load('/path/to/a/pod.yml').fromServer().get();

But the program failed to run。

My jdk is 1.8
maven dependency is

    <dependency>
            <groupId>io.fabric8</groupId>
            <artifactId>kubernetes-client</artifactId>
            <version>2.3.1</version>
        </dependency>

My program  is

    Object obj= getClient().load(getInputStream()).

[2017-05-16 18:25] kennyzli opened #762 "Delete Statefulset never returned because the k8s server never return the observedGeneration value"
`k8client.apps().statefulSets().inNamespace(namespace.serviceName).withName(name).delete()` which will keep waiting for ever. look into the code and find out the code find out the generation = 2 and observedGeneration never returned. which will leave the scale waiting forever

`RollableScalableResourceOperation -> waitUntilScaled
          long generation = t.getMetadata().getGeneration() != null

[2017-05-22 11:05] lvjiangzhao opened #763 "apiVersion in group batch of Job should support both v1 and v2alpha1"
related [611](https://github.com/fabric8io/kubernetes-client/issues/611), [697](https://github.com/fabric8io/kubernetes-client/issues/697), [698](https://github.com/fabric8io/kubernetes-client/pull/698)
I wonder why we support v2alpha1 with v1 missing. At the moment, we could not use batch/v1 Job with this client. Is there a plan to involve this ?

[2017-05-23 02:01] zhaorendong opened #764 "Does kubernetes-client 2.3.1 support the StorageClass of k8s 1.6.2 ?"
I want to create StorageClass, but I don't know wether kubernetes-client 2.3.1 support the StorageClass of k8s 1.6.2 ?

[2017-05-23 22:15] richard-julien commented on #764
After some search in the project to resolve the same problem i realize that the current kubernetes-client use a kubernetes-model based on openshift release. So a bit too old ;) So i tried to fork the model and the client to generate the stuff on kubernetes 1.6.2.
I dont have all the features I think but you can try my fork https://github.com/richard-julien/kubernetes-client to be able to use stora

[2017-05-24 01:36] zhaorendong commented on #764
Ok ,I will have a try,Thank you!

[2017-05-24 10:26] WMostert1 commented on #706
With version 3.4.0 of the fabric8-maven-plugin the `fabric8:apply` goal does not support statefulsets. Error below:
[code]
Which uses the kubernetes client.

[2017-05-26 10:06] cmoulliard opened #765 "Add Kube ConfigMap Test case"
Add Kube ConfigMap Test case supporting literalValue, config file, ...

[2017-05-30 13:59] nicolaferraro opened #767 "Unable to leverage optimistic locking during patch/replace"
Currently:
- `.patch()` ignores the `resourceVersion` field while computing the diff
- `.replace()` updates the resource version with latest version found on server (trying 10 times to get the most recent one).

There seems to be no way to do **optimistic locking** of resources (e.g. the first one who tries to update a resource wins).

Libraries doing leader election like [camel-master](https://gi

[2017-05-31 13:29] amalkasubasinghe opened #770 "Is this api supports Kubernetes Cron Job?"
Is this api supports Kubernetes Cron Job?
https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#schedule
If so, someone please share a sample with me.

I want to create Cron Jobs via Java API and get the statistics of it

[2017-06-01 20:57] heligoogle commented on #730
+1

[2017-06-02 02:27] shafqatevo commented on #730
+1

[2017-06-02 13:13] lwander commented on #730
Likely using `kubectl autoscale` command described [here](https://kubernetes.io/docs/user-guide/kubectl/v1.6/#autoscale).

[2017-06-05 21:07] razavi1371 opened #773 "Deleting based on YAML file."
Hello

It seems there is no function in the API to delete a service or deployment using YAML file.
For deleting a service, you need to save the save the name of the service and delete it using
client.services().withName(serviceName).delete();
Is there a better way or it is the only way?

Thanks

[2017-06-07 04:12] gjw0317 commented on #349
Has this be added to the client? If yes, how can I get Kubernetes version using kubernetes-client api?

[2017-06-07 13:00] MichaelVoegele opened #775 "Watcher with resource RoleBinding not working"
Hello

I created a watcher for ConfigMap before with:
`openShiftClient.configMaps().inAnyNamespace().watch(new Watcher<ConfigMap>() {...});`
-> This works perfectly.

I now created a watcher for RoleBinding with:
`openShiftClient.roleBindings().inAnyNamespace().watch(new Watcher<RoleBinding>() {...});`
-> This ends with:
[code]

I tested this with versions 2.3.1 and 2.2.14.

I think, this is an is

[2017-06-07 14:50] MichaelVoegele commented on #775
Hello

I have seen that the successful watch with ConfigMap uses the class WatchConnectionManager only. The unsuccessful watch tries first WatchConnectionManager, the request returns 200 instead of 101 as expected, and then WatchHTTPManager is used.

Any ideas?

Regards
Michael

[2017-06-08 03:38] guxuezheng opened #776 "about initcontainer"
I want create initcontainer, but I don't know whether kubernetes-client 2.3.1 support the initcontainer of k8s 1.6.2 ？i know dependent annotations can solve this problem.

[2017-06-08 03:42] guxuezheng commented on #776
Official documents say:This feature has exited beta in 1.6.Init Containers can be specified in the PodSpec alongside the app array.

[2017-06-08 11:45] yancs opened #777 "define nodeAffinity for pod template"
Is it possible to use node affinity with kubernets-client, I can only find nodeSelector, but I need to use node affinity to select nodes with matchExpressions.
thanks.

[2017-06-08 12:06] MichaelVoegele commented on #775
Hi

Could I please get some feedback on this issue? Is it an issue or is it somehow expected? That would be nice.

Thank you
Michael

[2017-06-08 19:12] razavi1371 opened #778 "Stopping resources"
Hello

I want to stop resources like services and deployment.
Is it possible in this API?

Thanks

[2017-06-12 04:26] moesy commented on #730
+1

[2017-06-12 07:43] rhuss commented on #775
@iocanel any idea what this could be ?

[2017-06-14 08:04] ahab94 opened #781 "Manually release the okhttpclient connections on close()"
Using close on the AutoAdaptableKubernetesClient isn't freeing up the okhttpclient connection threads.
Is there any other way to manually free up the resources consumed up by the client?
The OkHttp ConnectionPool are stacking up for me, want to release that manually. Is there a way around that or something on the cards for the future?

kubernetes-client version 2.3.1

[2017-06-14 14:47] jimmidyson commented on #775
It looks like watching role bindings isn't supported by the OpenShift REST API:

[code]

That last error shows that the standard watch URL (e.g. `https://openshiftapi/oapi/v1/watch/namespaces/myproject/rolebindings`) doesn't exist for that resource kind.

You'll need to raise an issue with OpenShift to understand why.

Out of interest, why do they want to watch role bindings?

[2017-06-15 05:38] MichaelVoegele commented on #775
Our use-case is the following:
- we provide egress functionality to customers in an automated way (egress: call external services either on the internet or in core it/company internal network, and this per tenant)
- customer creates configmap, a controller listens to configmap changes and deploys a proxy (squid or haproxy) to a shadow project of the customers main project
- in order for the custom

[2017-06-15 10:09] #730 closed

[2017-06-15 13:39] MichaelVoegele commented on #775
OpenShift needs to support that, therefore, closing this issue.

[2017-06-15 13:39] #775 closed

[2017-06-15 15:59] alfredo-quiroga opened #784 "Enum for Kubernetes Verbs and Resources"
Assuming we don't already have one, provide as part of the client an enum or equivalent for Kubernetes:

Resources
Verbs

Thanks in advance.

[2017-06-15 18:39] alfredo-quiroga opened #786 "LocalSubjectAccessReview Question"
Hi:

I have been unable to find how to properly structure a call to find out if a user has access to get/list projects. Any help with this is really appreciated.

Thank you in advance.

[code]
I am trying to use the following:

[code]

However, I get the following exception:

```{"timestamp":1497551322073,"status":500,"error":"Internal Server Error","exception":"io.fabric8.kubernetes.client.Kubern

[2017-06-15 21:07] khogeland commented on #762
Fix for this: https://github.com/fabric8io/kubernetes-client/pull/787

These values are optional (for all of RC, RS, SS), so there's no guarantee the current code won't break again in a future version of Kubernetes.

[2017-06-16 20:46] zimmem opened #788 "apiserver return 404 when create job"
apiserver version 1.5

io.fabric8.kubernetes.client.KubernetesClientException: Failure executing: POST at: http://10.1.4.2:8080/apis/batch/v2alpha1/namespaces/default/jobs. Message: the server could not find the requested resource. Received status: Status(apiVersion=v1, code=404, details=StatusDetails(causes=[], group=null, kind=null, name=null, retryAfterSeconds=null, additionalProperties={}), ki

[2017-06-19 08:09] gjw0317 opened #789 "Does this client supports drain command?"
Does this client supports drain command?

https://kubernetes.io/docs/user-guide/kubectl/v1.6/#drain

If so, someone please share a sample with me.

[2017-06-21 10:22] dimonv opened #793 "ClassCastException on io.fabric8.openshift.api.model.DoneableRoleBinding.done"
Hi all,

after migrating to openshift-client version from 1.4.x to 2.x I'm facing ClassCastException (see below):
`Caused by: java.lang.ClassCastException: [Ljava.lang.Object; cannot be cast to [Lio.fabric8.openshift.api.model.RoleBinding;
	at io.fabric8.openshift.client.dsl.internal.RoleBindingOperationsImpl.create(RoleBindingOperationsImpl.java:34) ~[openshift-client-2.2.9.jar:na]
	at io.fabric8

[2017-06-21 10:45] jstrachan commented on #716
a PR is on its way shortly...

[2017-06-21 16:46] jstrachan commented on #716
@jimmidyson you're not working on this right now are you? Figured it out and got a PR ready to go; just waiting for the new kubernetes-model release and its good to go...

[2017-06-23 07:43] jstrachan opened #796 "add API to test if the cluster supports different API groups"
as kubernetes and openshift start to use more API  group names and versions, we're gonna need a little API to test which API Groups are supported and what versions are available.

e.g. on openshift 3.6.0-apha1 we get this...
[code]
so it might be nice to have some kinda API to access the apis as a list of strings like this; plus maybe helper methods like...

[code]

We probably want to define cons

[2017-06-23 07:57] jstrachan commented on #796
it will also be nice to know if an OpenShift cluster supports the old `oapi` REST API too (which should show up in the apis list too).

e.g. fabric8-maven-plugin needs to know if `ImageStream` (or S2I) is supported in a cluster. Which it is if the `oapi` is supported or if `image.openshift.io` is supported. Note that a kubernetes cluster could, say, support just `build.openshift.io` to support the

[2017-06-27 07:14] zhaorendong opened #797 "Where is the kubernetes-client2.4.1 change logs?"
I want to look the kubernetes-client2.4.1 change logs, but I can not find it.

[2017-06-28 10:09] kameshsampath opened #798 "Support for Retry to k8s.default.svc"
When using the client with Istio service mesh, the application is not able to connect to kubernetes.default.svc because of Envoy proxy (sidecar) is taking few seconds to get initialised, hence to avoid connection failures which will fade away after proxy comes up we can add some kind of retry mechanism

[2017-06-28 11:15] igreenfield opened #799 "missing oauth interceptor in DefaultKubernetesClient"
as #561 it should be added also to 'DefaultKubernetesClient'

[2017-06-28 19:56] SGD14 commented on #788
Same problem here, there is no way to make jobs api calls use v1 api instead of v2alpha1.

It seems we need to wait for this https://github.com/fabric8io/kubernetes-client/pull/779 pull request to get accepted and deployed with the fix.

[2017-06-28 20:55] kenangell commented on #777
I need this too.

[2017-06-29 07:15] Ajk4 commented on #788
I am also affected. I managed to work around it though.

More details for interested:

Check method `ExtensionsAPIGroupClient#jobs` it calls some shortened constructor for JobOperationsImpl class without apiVersion, thats results in using `v2alpha1` value in base constructor. You can use the full constructor, provide apiVersion and fill rest of arguments with same values as shortened constructor.

[2017-07-03 19:22] #716 closed

[2017-07-05 21:22] kkucera opened #807 "Loading a deployment from server with a config file throws exception"
The following call with a config file of kind: Deployment causes an exception:

[code]

[code]
I'm using kubernetes-client: 2.5.2 which pulls kubernetes-model: 1.0.78

I'm not sure if this is an issue in the kubernetes-client project or the kubernetes-model project.
Seems like `io.fabric8.kubernetes.api.model.extensions.DeploymentBuilder` is supposed to be implementing `io.fabric8.kubernetes.clien

[2017-07-07 20:27] OrfeasZ opened #809 "Kubeconfig pointing to certificate files not working correctly"
When having a kubeconfig file that points to certificate/key files instead of embedding their data directly the Kubernetes client fails to initialize properly (using `DefaultKubernetesClient`).

There seem to be two issues with this:

1. If file paths are relative they always resolve relative to the current executing directory and not the directory of the kubeconfig file.
2. Certificates/keys are

[2017-07-09 11:24] madeesha opened #810 "How to do a rolling update to a deployment"
there is nothing called rolling inside deployment. I tried using replica set. but it is not working.

[2017-07-11 20:14] willtrking opened #815 "Injecting custom spec fields into templates"
It would be useful to be able to inject custom spec fields in Pod templates. Kubernetes is iterating quickly, and new fields are popping up (taints, affinity, etc.). Would be useful to have a way to use these without needing specific methods for them

[2017-07-12 12:39] iocanel opened #818 "WatchTest sporadic failures in our release environment"
`testHttpErrorWithOutdated`
http://jenkins.cd.k8s.fabric8.io/job/fabric8-cd/job/kubernetes-client/job/master/42/console

TBH, I am not sure I get the purpose if this test, but it does seem to randomly fail.

`testHttpErrorReconnect`:
http://jenkins.cd.k8s.fabric8.io/job/fabric8-cd/job/kubernetes-client/job/master/43/console

It seems that it stuck during reconnect for some reason and it doesn't ev

[2017-07-12 12:40] iocanel commented on #818
@gyoetam: Can you have a look?

[2017-07-13 11:17] gyoetam commented on #818
@iocanel:
`testHttpErrorWithOutdated`:
The purpose of this test is to start a watch with a resource version that is already cleared from history, to check that this case is handled correctly. Expected behavior is a KubernetesClientException on watch startup and no callbacks to the listener. This is in contrast with the `testDeletedAndOutdated` case where we successfully connect, and a later time t

[2017-07-13 17:24] iocanel commented on #818
@gyoetam: Thanks!

In most environments things are working great, with only exception our release box.

[2017-07-21 00:01] emanoelxavier opened #822 "Manifest file missing osgi headers"
When attempting to use this client within a bundle I encountered resolution issues. When digging deeper I noticed that although this project pom contains the maven-bundle plugin it does not include the osgi headers (.e.: Bundle-Name) in the manifest file. This is also the case on the dependencies available on maven central.
Once I changed the code with this
[code]
and
[code]
Looks like the manifes

[2017-07-24 19:53] InfoSec812 opened #824 "Failed attempts to access configmap should log which service account was used"
We're using the Vert.x ConfigMap module and getting errors like:

[code]
But there is no indication of WHICH service account is unable to access the configmap... It would be AWESOME if the log message detailed which service account was forbidden.

[2017-07-24 23:08] joan38 opened #825 "Proposal for setWhatever to return itself"
Hi,

I'd like to make a proposal to `return this` on setters of the model's object.

Currently we do:
[code]

It would be:
[code]

This became even more annoying when we have deeply nested structures:
[code]

It would be:
[code]

I'm happy to do the PR but would like to discuss it before.

[2017-07-25 06:26] mkleint opened #826 "is there a way to specify tolerations and affinity with the client?"
`apiVersion: v1
kind: Pod
metadata:
  name: nginx
  namespace: buildeng
spec:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: customer
            operator: In
            values:
            - buildeng
  containers:
  - name: nginx
    image: nginx
  tolerations:
  - key: "customer"
    ope

[2017-07-25 10:26] joan38 commented on #825
I just realised that this is a https://github.com/fabric8io/kubernetes-model thing

[2017-07-25 10:27] #825 closed

[2017-07-25 18:08] errantepiphany opened #828 "duplicate classes in kubernetes-client and openshift-client jars"
The following classes exist in both the kubernetes-client and openshift-client jar 2.5.7 distributions.

[code]

If one uses the maven-enforcer-plugin's ban-duplicated-classes capability, these classes cause builds to fail unless the plugin is configured to ignore them.

The duplicate classes should get removed from the openshift-client jar since they already exist in kubernetes-client jar. If the

[2017-08-01 14:10] jwendell opened #829 "Openshift: Cannot create a project in 3.6+"
Creating a project fails with this message in Openshift >= 3.6:
[code]

[2017-08-02 10:13] sugarbyheart opened #831 "Why there is no RoleBinding or RoleBindingBuilder in kubernetes package"
I have noticed that, there is `RoleBinding` or `RoleBindingBuilder` in `io.fabric8.openshift.api.model`, but I cannot find them in `io.fabric8.kubernetes.api.model`, it that mean there is no way to deal with `RoleBinding` in Kubernetes cluster?

[2017-08-02 13:22] #829 closed

[2017-08-03 09:12] binjianwu commented on #758
I have the same question,Do you have a solution？

[code]

[code]

but:
![image](https://user-images.githubusercontent.com/18679696/28914615-eb3ee444-786e-11e7-9e04-9ba3b21494c2.png)

[2017-08-03 21:39] joan38 opened #834 "envFrom on Container"
Hi,

How do we set `envFrom` on a `Container`?
See: https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/

Cheers

[2017-08-04 00:10] dtandersen commented on #831
Did you find out if openshift worked? I also need to create rolebindings in kubernetes.

[2017-08-04 04:03] zhaorendong opened #835 "kubernetes-client-2.5.9 doesn't support the replace of "NetworkPolicy" whit kubernetes 1.7.2?"
kubernetes-client-2.5.9 doesn't support the replace of "NetworkPolicy" whit kubernetes 1.7.2?

[2017-08-04 07:47] oscerd commented on #835
Not at the moment.

[2017-08-04 09:40] oscerd commented on #822
Hello @emanoelxavier

How do you try to use this as bundle? For example in camel we define a feature and we use a bundle dependency like this one

[code]

Can you elaborate a bit more? Thanks :-)

[2017-08-04 10:34] joan38 commented on #834
https://github.com/fabric8io/kubernetes-model/issues/216

[2017-08-04 11:47] jimmidyson commented on #824
What version of the client library are you using? I vaguely remember this being fixed, but may be wrong.

[2017-08-04 13:51] InfoSec812 commented on #824
The version included in Vert.x 3.4.2 - io.fabric8:kubernetes-client:1.4.35

[2017-08-04 14:08] jimmidyson commented on #824
Hmm it was a different issue that was fixed. This is still an issue in the latest version.

I can't think off the top of my head how we can know what service account is being used. Ideas welcome :)

[2017-08-04 15:06] InfoSec812 commented on #824
I'm not familiar with how this whole thing works yet, so I'm not going to be much help...

[2017-08-07 09:28] andyzheung opened #836 "please write the start guide more clearly?"
I don't know how to config the client and compile it.

[2017-08-07 18:31] #767 closed

[2017-08-08 16:37] joshk0 opened #839 "client.Pod vs model.Pod"
Hi there, apologies if this is a stupid question, but I find it very strange that when I create a Pod, I cannot watch it or get its log from the returned object. I have to do something like this instead:

[code]

I would prefer for it to look like this:

[code]

Is there a reason why the returned object is not of the correct type to call these getLog and watch methods on?

[2017-08-08 18:56] yoks opened #840 "Parsing CustomResources"
We have custom resources definition in our kubernetes cluster e.g.
https://kubernetes.default/apis/example.com/v1/namespaces/default/routerrules/

I not found any way to aquire this resource, is there any way i can provide custom definition or request raw json and parse it myself?

[2017-08-09 08:06] sj279811799 opened #841 "Can’t get Pod Log by watchLog()."
When i use getLog(),i can get log。But when i use watchLog(),the response is 200 OK
![image](https://user-images.githubusercontent.com/12233760/29111248-0b2d09fa-7d1c-11e7-9d39-a1d61ec34136.png)
however,` response.body().byteStream()` is NULL.

thx.

[2017-08-09 08:08] oscerd commented on #841
What Kubernetes-client are you using?

[2017-08-09 08:19] sj279811799 commented on #841
2.5.8
[code]

[2017-08-09 09:21] sj279811799 commented on #841
By the way,does watchLog() use WebSocket or Long connection?

[2017-08-11 03:14] sj279811799 commented on #841
`watchLog()` still no use.
I find a new way to get Pod Log:
[code]

[2017-08-11 03:14] #841 closed

[2017-08-17 06:56] davidwtf opened #843 "InputStreamPumper should not use InputStream.available()"
In version 2.6.1，InputStreamPumper used in.avaliable() at line 59. In the 'watchLog' processing, the InputStream is from okio.RealBufferedSource。According to okio.RealBufferedSouce's source code, available() returns buffer.size, the buffer never set until read().
But the InputStreamPumper doesn't read() before calling available(), so available() alwalys returns 0.
I cannot get logs when change to

[2017-08-18 00:20] kfSnow commented on #843
Nice diagnosis! I also noticed the log streaming break when I updated from 2.2.9 to 2.6.1 since I needed the recent Jobs API version fix. I got as far as concluding it just never read anything in the pumper.

[2017-08-18 18:08] chrisschuette opened #845 "Wrapping long running operations in Guava ListenableFuture"
Hi,

I would like to use Dagger's Producers to formulate the business logic that controls my kubernetes deployments. For that it would be ideal if I could wrap the long-running operations of the kubernetes client in Guava's ListenableFutures.

Is that possible and can you point me in the right direction on how to achieve this?

Thanks,
Christoph

[2017-08-21 07:33] CNaiko commented on #579
The latest version, still have this issue.

[2017-08-22 01:59] smile-soul opened #846 "How to achieve the vim in terminal?"
Hi,
  I want to achieve the vim in terminal, but i don't know how to achieve the terminal, In client I already have been used websocket and achieve the most of unix commands. I don't know how to achieve to edit a file of methods.  i saw the terminal was used to send a word through websocket.
 But i still can't  understand the theory of the vim in terminal.please give me a example.

thanks.

[2017-08-22 09:49] roughbits01 opened #847 "The client is hitting a wrong API endpoint"
Hello,

When I try to get a list of resources (for example, the list of nodes) using kubernetes-client, it tries to access http://192.168.99.100:30000/api/v1/nodes so I get an error (404 Not Found) while the correct endpoint is http://192.168.99.100:30000/api/v1/node (without the s).

Thank you in advance.

[2017-08-23 02:50] jwendell commented on #843
@davidwtf, why did you close this one? I don't think it is fixed...

[2017-08-23 09:07] #810 closed

[2017-08-23 09:08] davidwtf commented on #843
Sorry, I've seen the code changed, thought it's fixed. @jwendell

[2017-08-23 11:51] subaprasanna commented on #497
i am also getting the same error .. Can you please point us to correct direction

[2017-08-23 13:06] subaprasanna commented on #704
Can you please direct us to where we can find the is file?

[2017-08-23 14:58] VR1998 opened #848 "unable to connect to openshift project behind proxy"
Hello
We are trying to configure kubernetes plugin to connect to openshift project via external jenkins instance.
However we are getting the following message in the log

Aug 23, 2017 9:43:25 AM org.csanchez.jenkins.plugins.kubernetes.KubernetesFactoryAdapter createClient
FINE: Creating Kubernetes client: KubernetesFactoryAdapter [serviceAddress=https://xxx.xxxx.xxxx:8443, namespace=cicd-jenkins-i

[2017-08-23 17:04] roughbits01 opened #849 "yaml file which contains multiple resources"
Hello,

Running the following code:
[code]
with a yaml file which contains multiple resources (see bellow) only creates the first resource (in this case the Namespace). How can I load the whole list of resources ?

Thank you in advance!

[code]

[2017-08-24 09:46] oscerd commented on #846
Can you please explain a bit more? It's not clear.

[2017-08-25 02:28] smile-soul commented on #846
Thanks
   I have searched the source code and resolved the problem.

[2017-08-25 05:56] #846 closed

[2017-08-25 12:23] carlossg opened #850 "isOpenShift causes failure on Kubernetes with RBAC"
GKE with RBAC

Trying `kubernetesApply` fails even when the service account has full cluster admin permissions. `isOpenshift` method tries to get API `/`

[code]

Seems that the `/` url will return 403 no matter your permissions

[code]

[2017-08-28 03:05] yunlzheng commented on #834
How's this going? When i use fabric java client upgrade the deployment the envFrom fields will missing. and cause the pod crashed.

[2017-08-28 20:46] podviaznikov opened #851 "Projected Volumes"
It seems that there is new feature in k8s called projected volumes https://kubernetes.io/docs/tasks/configure-pod-container/configure-projected-volume-storage/

That allows to do following things: https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/tasks/configure-pod-container/projected-volume.yaml#L18

I couldn't find it but it seems that this feature is not yet supported in the

[2017-08-29 07:11] oscerd commented on #851
It's not supported yet.

[2017-08-29 14:40] maragao commented on #850
I found this code in io.fabric8.kubernetes.client.dsl.base.BaseOperation.getRootPaths():
`URL requestUrl = new URL(config.getMasterUrl());`

I changed it to:

`URL requestUrl = new URL(config.getMasterUrl() + "api/" + config.getApiVersion() + "/namespaces/" + config.getNamespace());`

And it worked (I tested resource, apply and deploy)

I don't know if this is the best solution, cos I didn't check

[2017-08-29 17:14] podviaznikov commented on #851
@oscerd do you know about timeline on that? is it on the roadmap or not really?

[2017-08-30 07:48] oscerd commented on #851
This is a question for @iocanel and @jimmidyson :-)

[2017-08-30 09:02] jimmidyson commented on #851
We don't have a roadmap... sorry! Features like this get updated as required/requested. The quickest way for this to happen is for people to send in PRs that add this.

I'm sure @iocanel would agree, but if anyone is interested in helping to maintain this project, we would be really grateful.

[2017-08-30 12:18] nicolaferraro opened #852 "Cannot watch build resources in Openshift 3.6"
Related to [this issue](https://github.com/fabric8io/fabric8-maven-plugin/issues/1016) in the fabric8-maven-plugin.

The watch is always done with a resource version number that is fetched from the build list (not from the actual build) on the first attempt. Everything is looked up from the new API endpoint `apis/build.openshift.io`.

The error is like:
[code]

From my tests, it seems that the res

[2017-08-31 15:15] faceitdev opened #853 "Editing a pod that has tolerations causes error"
I have a pod running on the cluster that contains tolerations and taints.

I want to edit the labels, and I try to do

[code]

but the operation fails because

"Forbidden: existing toleration can not be modified except its tolerationSeconds, spec: Forbidden: pod updates may not change fields other than `containers[*].image` or `spec.activeDeadlineSeconds` or `spec.tolerations` (only additions to e

[2017-09-01 02:34] xuqinghou opened #854 "watch pods eventReceived is a few days ago dirty data,kubernetes is nothing。"
watch pods eventReceived is  a few days ago dirty data,kubernetes is nothing。

[2017-09-01 07:29] oscerd commented on #854
Can you elaborate a bit more please?

[2017-09-01 07:48] xuqinghou commented on #854
Watch watch = client.pods().watch(new Watcher<Pod>() {
					@Override
					public void eventReceived(Action action, Pod pod) {
		                //Here received event is historical data，this moment kubernetes is no event.
		                //this pod start time is 2017-08-29T06:03:38Z，Here received event is repeated at 2017-08-30T22:03:38Z
					}

					@Override
					public void onClose(Kubernetes

[2017-09-02 15:09] jrfeenst commented on #853
I ran into a similar issue when adding labels to pods. The patch json was:

[{"op":"add","path":"/metadata/labels/userName","value":"joelfeenstra"},{"op":"add","path":"/metadata/labels/sessionId","value":"node0wp8vdbz3qjgvgnbr4m464p9i1"},{"op":"remove","path":"/metadata/ownerReferences/0/bloc
kOwnerDeletion"},{"op":"remove","path":"/spec/containers/0/terminationMessagePolicy"},{"op":"remove","path

[2017-09-04 09:42] 0312birdzhang opened #857 "PersistentVolumeClaim with storageClass support"
The api seems not support `storageClass`,I cannot create PersistentVolumeClaim with `storageClassName` spec like this:

[code]

Please help me,is there some way to resolve it. Thanks.

[2017-09-04 11:53] devent opened #859 "KubernetesClientException on DeploymentOperationsImpl#scale with mock server"
Hello,
I'm writing an application that uses the Kubernetes API. I want to write a test with the provided KubernetesServer as in the tests from fabric8, and a simple get deployment works, but a scale of a deployment will throw me the described KubernetesClientException.

Edit: I'm using version 2.6.1

Here is the relevant code: Sorry it's in Groovy.

[code]

The exception trace:

[code]

The log ou

[2017-09-04 14:07] zpflyyer commented on #849
While, resourceList(yml)  can not solve the problem

[2017-09-05 04:34] 0312birdzhang commented on #857
It's my mistake
[code]

[2017-09-05 04:34] #857 closed

[2017-09-05 10:43] hykych opened #860 "i'm using builder to build a deployment, it's significantly slow"
My code are like this.
It's pretty slow, i think it's because hibernate validator, because i analyzed it using VisualVM, for some reason i can't remove hibernate validator from maven dependencies. how can make it fast?
[code]

[2017-09-05 12:27] scholzj commented on #850
I run into what seems to be the same problem. It looks that for me it helps to create a clusterolebinding to the cluster-admin role. **The cluster-admin role has unlimited access so this is very unsecure!** But it seems to work as a workaround for development purposes.

[2017-09-05 21:28] rjeberhard opened #861 "How to detect server version"
We will be supporting CustomResourceDefinitions, but also need to support ThirdPartyResource variants for server versions < 1.7.  How can I detect the server version?

For instance, if I had the following environment:

[rjeberha@den00qkr operator]$ kubectl version
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.3", GitCommit:"2c2fe6e8278a5db2d15a013987b53968c743f2a1", GitTreeSt

[2017-09-06 05:51] 0312birdzhang opened #862 "How to list storageclasses?"
Seems no api provided

[2017-09-06 07:46] #852 closed

[2017-09-06 09:22] jhalliday opened #863 "add TemplateInstance support"
'oc get TemplateInstance' works in 3.6, but there is no way to do the same thing with the java client library.

[2017-09-06 09:25] jhalliday opened #864 "add weakly typed API for accessing unknown types"
Sometimes new extensions to the server API come along. It would be useful to allow these to be accessed from existing client versions, without needing to wait for a new client release to add explicit object types for them. see e.g. issues/863 for TemplateInstance support.

[2017-09-06 12:10] Frusty commented on #840
I would be interested into this as well. Are there "clean" ways using the client to list and interact with CustomResources?

[2017-09-06 19:41] rjeberhard commented on #840
While I'd prefer a way to create a fluent resource, I'd be happy with just being able to access the resource.  Has anyone figured out a way to even access a custom resource?

[2017-09-07 13:52] mojsha opened #866 "Support for resource type PodDisruptionBudget"
Can you please add support for resource type PodDisruptionBudget?

We would like to be able use resource fragments of this kind using the F-M-P.

https://github.com/fabric8io/fabric8-maven-plugin/issues/1047

[2017-09-08 07:39] 0312birdzhang commented on #862
Solved it by use k8s api `/apis/storage.k8s.io/v1beta1/storageclasses`

[2017-09-08 07:39] #862 closed

[2017-09-08 12:26] devent commented on #691
Is there an update on this? I wanted to use `kubernetes-client` to modify taints on the nodes, but I can't find the api.

* kubernetes-api 2.3.4
* kubernetes-client 2.6.1

[2017-09-11 11:09] zhuzhiyang opened #867 "Support for resource type Policy"
I want to use kubernetes-client to create policy,but it is not support,i see the openshift-client is support for resource type policy.

[2017-09-12 06:31] iocanel commented on #843
It seems that we can neither use `available()` nor switch to blocking (pumper no longer responds to interruption. So, I am seriously considering rolling back to blocking and have the `close()` method of the pumper actually close the socket (via the `onClose()` callable).

Before, I implement something like this, I'd like to hear thoughts about it, and if anyone would like to pick this up :-)

[2017-09-12 13:09] jwendell commented on #843
@iocanel when you say `close the socket` what do you mean? Is that possible?

[2017-09-12 14:02] jwendell commented on #843
Currently we are closing the response body's stream, which makes InputStreamPumper's `in.read()` to return. That does not solve the problem of the hanging threads though, as I stated in #844 .

[2017-09-12 17:35] iocanel commented on #843
We need to do two things:

- revert the stream pumper to non blocking
- make sure we close the stream / socket when we are done

The Log watch stuff was already working like that, until  61ae6ed broke it.
The ExecWebsocketListener though wasn't working like that.

What I had in mind is to do to the exec web socket listener something similar. (just closing the response body is not enough and doesn'

[2017-09-12 18:25] zoujinhe opened #868 "How to replicate `kubectl cp` with `kubernetes-client`"
`kubectl cp` is able to
* copy file from local to a container
* copy file from container to local
* copy file from container to container

behind `kubectl cp`, seems it uses "exec" with "POST",
`POST https://www.mymaster.com/api/v1/namespaces/default/pods/pod-XXXXXXXX-l2b4x/exec?command=tar&command=cf&command=-&command=%2Ftmp%filename.jar&container=containerId&container=containerId&stderr=true&std

[2017-09-14 12:14] iocanel opened #869 "Add support for StorageClass"
Once this https://github.com/fabric8io/kubernetes-model/issues/226 is done....

[2017-09-20 14:25] marqc opened #870 "Memory Leak with jdk8u144"
I have apllication using kubernetes-client 2.4.1 (but tested against 2.6.3 with same results). After yesterday upgrade of java from java8u141 (openjdk centos7 package) to java8u144 application leaks with native memory (Thread/arena) when starts to communicate with kubernetes cluster (sends requests and receives events on registered listeners).
In few seconds memory usage exhausts machine resources

[2017-09-22 22:47] igorcanadi commented on #853
We ran into a similar issue -- editing a deployment using the fabric8 client drops the tolerations from the deployment.

[2017-09-22 23:06] tudor commented on #853
Does the model need to be updated first (https://github.com/fabric8io/kubernetes-model/issues/214)? or can the code be changed to passthrough fields that can't be edited, as @jrfeenst suggested above?

[2017-09-25 03:24] zhaorendong commented on #857
How  to resolved it?

[2017-09-26 07:54] Ferenc- commented on #869
Now that https://github.com/fabric8io/kubernetes-model/issues/226 is closed, I can't wait to see this one closed too. I needed to do a horrible workaround in my business logic to get some makeshift StorageClass "support".

[2017-09-27 11:06] hrishin opened #871 "upgrade to 1.7 of kubernetes model (or OpenShift 3.6 maybe?) related changes"
Upgrading model https://github.com/fabric8io/kubernetes-model/issues/231 to new version may require some fixes/changes in client project.

[2017-09-29 14:03] iocanel commented on #843
I've tried a lot of different things, but I can't find one size that fits, all.

I will create two different implementation of the pumper and use each where it makes sense.

[2017-10-06 07:06] lvc opened #875 "API changes report for Fabric8 Kubernetes Client"
Hi,

I'd like to share my results on API changes analysis for the library: https://abi-laboratory.pro/java/tracker/timeline/fabric8-kubernetes-client/

The report is generated by the https://github.com/lvc/japi-compliance-checker tool for jars found at http://central.maven.org/maven2/io/fabric8/kubernetes-client/ according to https://wiki.eclipse.org/Evolving_Java-based_APIs_2.

Thank you.

![fabr

[2017-10-06 23:46] 0312birdzhang commented on #857
@zhaorendong
[code]

[2017-10-10 12:59] #871 closed

[2017-10-12 13:56] devent opened #878 "Exec on pod does nothing"
Scenario:

1. pod with some files. I need to update the owner of the files.

[code]

2. Solution: run exec() on pod with the command `sh -c 'chown 33.2001 -R /html'`

Expected:

[code]

But actually:

[code]

Code (Groovy):

[code]

Everything works, no error. But the command is not executed, as far as I can tell, because the owner was not changed.

Versions:

* kubernetes-client 2.6.1

[2017-10-12 14:56] devent commented on #878
After looking in the code of `PodOperationsImpl#exec()` I see that the command must be broken apart, i.e. must be given as the array `"chown", "33.2001", "-R",  "/html"`

[2017-10-12 14:56] #878 closed

[2017-10-13 10:50] dimonv opened #881 ""Namespace not specified." exception on a non-namespaced OpenShift operation"
Hello all,

I'm trying to execute ClusterRoleBindingOperationsImpl  but getting an exception:
`io.fabric8.kubernetes.client.KubernetesClientException: Namespace not specified. But operation requires namespace.`
But the OpenShift doc says:

I think it is a bug, unless I use it in a wrong way.
Please provide an example.

Thanks and kind regards,
Dmitri

[2017-10-13 10:59] dimonv commented on #793
Hello all,
could anybody answer this please?
Thanks

[2017-10-13 22:03] thorbenvh8 opened #883 "LogWatch following not working"
Hi,
`String namespace = "namespace";
String name = "name";
String container = "container";
this.kubernetesClient.pods()
			.inNamespace(namespace)
			.withName(name)
			.inContainer(container)
			.tailingLines(0)
			.watchLog(System.out);`

Running a container with the following simple image code
``while true; do echo `date`; sleep 1; done``
was good for testing for me.
It should give me sysouts e

[2017-10-16 09:43] zxbu commented on #883
I hava a same problem

[2017-10-16 09:44] zxbu commented on #883
I have the same problem

[2017-10-17 02:26] zxbu commented on #883
My solution：
Copy 2.4.1`s PodOperationsImpl.java、LogWatchCallback.java、InputStreamPumper.java to my self project,
And use
[code]

[2017-10-17 08:28] asacbp commented on #883
Nice finding @zxbu

Looking at those three files and the diff from 2.4.1 the following seem to be the only real changes unless I missed something:

https://github.com/fabric8io/kubernetes-client/commit/61ae6ed33fbe19dd49d3b34d206257e77d39355e

https://github.com/fabric8io/kubernetes-client/commit/239c4faf0e8c254ddb07ce6c0d11dfcf5a742159

@zxbu maybe try to back either of these out of your local bu

[2017-10-17 14:12] rhuss opened #885 "Quantity doesn't honor the unit"
When using the two-argument constructor of Quantity like in `new Quantitity("256","Mi")`, then the unit is ignored when creating the descriptors. Workaround: `new Quantity("256 Mi")`

See https://github.com/syndesisio/syndesis-rest/issues/713 where this happened in the wild.

[2017-10-17 14:44] anitakar commented on #789
To drain resources you need to use eviction api (https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/). Eviction is an operation on pod (example url: http://127.0.0.1:8080/api/v1/namespaces/default/pods/quux/eviction). I do not see evict operation on pod so I guess drain operation is not supported.

[2017-10-17 17:48] thorbenvh8 commented on #883
i tried it out it was simple :)
it is in [61ae6ed](https://github.com/fabric8io/kubernetes-client/commit/61ae6ed33fbe19dd49d3b34d206257e77d39355e)

replace
`while (in.available() > 0 && keepReading && !Thread.currentThread().isInterrupted()) {`
with
`int length;
				while (this.keepReading && !Thread.currentThread()
					.isInterrupted() && (length = this.in.read(buffer)) != -1) {`

i will make a

[2017-10-17 18:21] thorbenvh8 commented on #883
sorry im some how not able to create a new branch and a pull request, always giving me access denied.
I wonder what im doing wrong here. Maybe @zxbu you can create the pull request? :)

[2017-10-18 02:37] zxbu commented on #883
@thorbenvh8 I`ve just  created a new pull request.

[2017-10-18 16:31] thorbenvh8 commented on #883
@zxbu thank you
just one question. was i doing something wrong or do you need special rights?

[2017-10-18 17:06] dlaidlaw opened #887 "How to search for resources"
Is there a way to search for resources by label or annotation? For example, to search for all resources that include the label app=my-app. This would return Pods, Deployments, Services, StatefulSets, etc.

Thanks!

[2017-10-19 19:05] jcantrill opened #888 "Bearer token not passed for SubjectAccessReviews"
@iocanel  Following is the result of my investigation.  I can't seem to find where I am not configuring something correctly.  Once case the token is provided in the header, the other it is not:
[code]
Note the SAR includes the token where the listing of projects does not

[code]

[2017-10-19 19:26] jcantrill commented on #888
Something in the configbuilder doesnt seem to be using the token

[2017-10-19 19:40] jcantrill commented on #888
Interestingly, if I swap the order of the calls, the first one always gets the token where the second one does not

[2017-10-20 13:10] jcantrill commented on #888
Log from the 1.3.99 client which I think pre-dates apigroups:
[code]

[2017-10-20 13:17] jcantrill commented on #888
Original code from 1.3.99 that predates apigroups I believe:
[code]

[2017-10-20 13:25] jcantrill commented on #888
Logs from 3.0.0 where the client is reused for the list projects and SAR call.  If i build a new client between the first and second call, the second call fails with the system:anonymous errror

[code]

[2017-10-21 15:46] dininduwso2telco opened #889 "When calling KubernetesHelper "NoClassDefFoundError:EditableConfig" exception occurred"
Whenever KubernetesHelper class called "NoClassDefFoundError:EditableConfig" exeption occurred.

pom.xml

    <dependency>
        <groupId>io.fabric8</groupId>
        <artifactId>kubernetes-client</artifactId>
        <version>3.0.0</version>
    </dependency>
    <dependency>
        <groupId>io.fabric8</groupId>
        <artifactId>kubernetes-api</artifactId>
        <version>2.2.101</version>

[2017-10-23 12:52] jstrachan commented on #840
here's a PR to support working with CRD instances
https://github.com/fabric8io/kubernetes-client/pull/890

e.g. here's it in action to list instances of a CRD and create/replace one:
https://github.com/jstrachan/kubernetes-client/blob/b0db77a88e9ff831c67e063061bcc0467e8fee9a/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/CRDExample.java#L106-L109

[2017-10-27 08:30] EmmyMiao87 opened #894 "DaemonSet cascading(true) didn't work"
Hi
I want to delete daemonSet and all of pods belong to daemonSet. So I use cascading(true). But, it doesn't work. Just daemonSet is deleted, but pods still exist.
Does client not support this function? This is a very important function I think.
If the answer is yes, will you improve it?
Thank you ~

Detail:

[code]
`        boolean result = kubernetesClient.extensions().daemonSets().inNamespace(n

[2017-10-30 04:45] EmmyMiao87 commented on #894
I found that the cascading(true) worked in version 3.0.1.
Close this issue

[2017-10-30 04:46] #894 closed

[2017-11-02 08:51] #843 closed

[2017-11-03 04:11] hrishin opened #899 "No logs for fabric8:run and fabric8:build"
Logback seems to be not working. Need to get it fix.

https://github.com/fabric8io/fabric8-maven-plugin/issues/1049
https://github.com/fabric8io/fabric8-maven-plugin/issues/1048

[2017-11-03 17:51] traviswinter opened #902 "io.fabric8.kubernetes.client.internal.CertUtils.createTrustStore() fails if decoded certificate has an extra newline"
Encountered an issue where the Kubernetes client could not connect because there was an extra newline at the end of the decoded certificate (it must have been there when it was decoded).  This causes the pemInputStream.available() to show 1 (since there's 1 additional byte) and causes the client to error out.

I'm not too familiar with certificate standards, but I was able to use the Kubernetes co

[2017-11-06 10:07] asacbp commented on #883
3.0.3 release works great. this issue can be closed! @thorbenvh8 ^^

[2017-11-06 20:40] rasheedamir opened #903 "Wait for pod to be ready doesn't work due to java.lang.InstantiationError: okhttp3.internal.ws.RealWebSocket"
So, in the pipeline we want `kubernetesApply` step to wait until the pod is ready or timeout otherwise and fail the pipeline. But currently if you set any value for `readinessTimeout` then it just goes red due to an error in `kubernetes-client`.

Here are the details:

**Jenkinsfile Stage**

[code]

**Error in Console Output**

[code]

**kubernetes-client Logs**

[code]

[2017-11-06 20:42] rasheedamir commented on #903
@iocanel @jstrachan @rawlingsj can you please help me fix this issue? Its blocking from proceeding.

I think it could be due to multiple versions of okhttp3? I assume you use okhttp3 it at different places so, they all should be breaking as well.

[2017-11-07 02:36] sherl0cks commented on #682
bump. can we get some info on this? It's rather unexpected behavior

[2017-11-07 04:22] sherl0cks commented on #682
looks like you can avoid this behavior by setting the `cascading` property to `false`.
[code]

[2017-11-07 08:07] kaimago commented on #682
thanks for the reply :)
But behaviour is still the same.
Same happens also when I patch the buildconfig.
Any more info which I can provide ?

Now using
kubernetes-client 2.5.7
opensift-version v3.5.5.31

[2017-11-07 09:30] rasheedamir commented on #903
Here is the discussion with @iocanel on the slack

So, this error means that there is a version mismatch. Now looking closer to the devops-step plugin it seems that this occurs due to the presence of okhttp-ws 3.4.1 a module that was later on merged in 3.6 or higher oktthp.jar
so having dublicate classes in your classpath can lead to that
I think that the 3.4.1 version is pulled by the docker-clie

[2017-11-07 09:30] rasheedamir commented on #903
Fixing https://github.com/fabric8io/docker-client/issues/102 should fix this error or maybe this won't be an error anymore then.

[2017-11-07 09:54] ckanner opened #904 "Pod Exec Websocket Error"
When I run the ExecExample，it occurs the error ```io.fabric8.kubernetes.client.KubernetesClientException: Upgrade request required```. I use kubernetes proxy, and set ```--disable-filter=true```.
I debug this problem, and find okhttpclient use HTTP 1.1 to exec watch.
Is there any solution?

[2017-11-07 10:38] iocanel commented on #903
@rasheedamir: I am closing this one, as its not actually a client issue.

It's more a kubernetes-pipeline-plugin one.

[2017-11-07 10:38] #903 closed

[2017-11-07 14:44] kaimago opened #905 "Support ImageStreamImage ?"
Is kubernetes-client supporting openshift ImageStreamImage api ? Couldn't find it :(

[2017-11-07 14:49] rasheedamir commented on #903
makes sense @iocanel !

[2017-11-08 18:32] rishi-anand opened #906 "Support complete app deployment with multiple pods, services using yaml file"
As one can deploy a **complete app from kubernetes dashboard by uploading yaml file** and **based on content of yaml file respective kubernetes resource is created**.

Using _fabric8 kubernetes-client_, I am able to _create a kubernetes resource using yaml file but I have to select the resource I am about to create_. Below is the example of creating pod from yaml file.

Example:
[code]

There shou

[2017-11-08 18:35] rishi-anand commented on #906
@iocanel, @jimmidyson, @fusesource-ci Please help on this. I am trying to create a small project where I will be given a complete yaml file with all tiers defined in it and I have to get all resources up and running.

[2017-11-08 19:18] OmriShiv opened #907 "Thread Safe?"
Looking through the documentation and parts of the code, I'm wondering if it thread safe. I have it declared once in a wrapper and being reused, just want to make sure I don't run into any issues.

[2017-11-08 20:08] jimmidyson commented on #907
Yes the client is thread safe.

[2017-11-08 20:08] #907 closed

[2017-11-09 03:48] raffaelespazzoli opened #908 "is v1.Binding supported?"
I looking for this API:
https://kubernetes.io/docs/api-reference/v1.8/#binding-v1-core
I can't find it and I'm thinking that it is not supported.
can someone advise?

[2017-11-09 07:27] MichaelVoegele opened #909 "How to use TimeBuilder and Time to create events with version 3.x"
Hi
So far, with version 2.x, I used the following to create events:
`Date currentTimestamp = new Date();
String timestamp = currentTimestampAsIso8601(currentTimestamp);
eventBuilder.withFirstTimestamp(timestamp).withLastTimestamp(timestamp).withCount(new Integer(1)).withKind(EVENT_KIND).withType(type).withReason(reason).withMessage(message);
...`
With version 3.x, `io.fabric8.kubernetes.api.model.

[2017-11-09 08:35] iocanel commented on #906
@rishi-anand: You can just use: `client.load(inputstream).create()` or `client.load(inputstream).createOrReplace()`.

[2017-11-13 02:29] duyanghao opened #911 "How to identify proper fabric8io/kubernetes-client version for k8s 1.8?"
I want to update `fabric8io/kubernetes-client` to support our  `k8s cluster`(**1.8 version**).But there seems to be no reference about correspondence between `fabric8io/kubernetes-client` and `k8s` version [here](https://github.com/fabric8io/kubernetes-client).

Addition:
I am using `fabric8io/kubernetes-client` version: 2.2.

[2017-11-13 06:50] #899 closed

[2017-11-13 08:10] hrishin commented on #883
this issue is fixed

[2017-11-13 08:10] #883 closed

[2017-11-13 13:09] cataclyst23 commented on #810
Hi!
Did you manage to slve this on deployments instead of rc-s?

[2017-11-13 22:28] balexx commented on #826
+1

[2017-11-15 01:38] thorbenvh8 opened #914 "Add possibility to change MaxRequests on Dispatcher in HttpClientUtils"
Just an improvement, instead of being only able to update the MaxRequestsPerHost for the dispatcher. You can now update the MaxRequests as well (default otherwise always 64).

Thanks for merging this quickly :)

[2017-11-16 15:10] andreasschramm opened #916 "TemplateOperationsImpl.processLocally fails on replacing template parameters in names (and prob other fields with regex constraints"
implementation tries to build a kubernetesList from template.objects, in order to serialize the resulting list as a string, and do the replacing by String.replace afterwards.
if, however, one of the created objects has a variable in its,name, like "${PREFIX}-account", creating the Kubernetes list fails, since the default constructor of KubernetesListBuilder has validationEnabled=true, and the name

[2017-11-16 19:37] iocanel commented on #909
I don't see that class being part of the model. It seems that its missing from kubernetes-model 2.x. We need to check if it has been replaced or if it somehow slipped.

[2017-11-16 19:41] jimmidyson commented on #909
Although the type in kubernetes API is Time, it is simply a date formatted (rfc3339 iirc) as a string. The time builder probably complicates things from the 2.x way of doing things.

[2017-11-17 07:29] rishi-anand commented on #911
You can use version 3.0.3 to use k8s 1.8 features.
Deployment, replica set etc is supported as extensions.

[code]

[2017-11-17 07:34] Rafaesp commented on #835
Any update on this?

[2017-11-17 13:36] Rafaesp commented on #911
What abot https://kubernetes.io/docs/api-reference/v1.8/#networkpolicy-v1-networking ?

[2017-11-20 03:31] ckanner commented on #914
I also occurs the phenomenon.When there are many websocket's connections, some of them will stay in the executor pool and waiting for to schedule.The reason is the ```maxRequestsPerHost``` and ```maxRequests``` to limit them.

So I use the way to fix this problem
[code]

May be the ```Config``` class can support defines the maxRequests.

[2017-11-20 05:06] thorbenvh8 commented on #914
please see the pull request, I did exactly that :)

[2017-11-20 06:40] ckanner commented on #914
I know. The pull request doesn't merge to the master branch.

[2017-11-20 06:53] MichaelVoegele commented on #909
Hello
Thank you for your answers. I see now with version 3.1.0 that things changed back to as they were with version 2.x. So, no more issue with 3.1.0.
Regards

[2017-11-20 06:53] #909 closed

[2017-11-21 07:58] bouskaJ opened #917 "waitUntilReady does not work for big timeouts"
For example:
[code]
does not work because it timeouts too early.

I think the main problem is on [this](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/DeploymentOperationsImpl.java#L165) line.

[code]

And if I see the documentation of *periodicWatchUntilReady* method it says:
[code]

So if I understand it correc

[2017-11-22 12:11] hemanik opened #918 "Support for different kubernetes and openshift manifest file formats"
Support for Kubernetes and OpenShift manifest file format is restrictive. For instance the following file format for multiple resource definition in a single file is acceptable for Kubernetes deployment but is not recognized by Kubernetes client.

[code]
Kubernetes Client supports such files with multiple resource definitions only when given as a list as below:
[code]
## Expected Behaviour
All fil

[2017-11-22 13:19] hrishin opened #919 "API version support for OpenShift"
Looks like there is a change in API version property for OpenShift 3.7.x and before releases.

e.g.
OpenShift 3.7.X uses : `image.openshift.io/v1`
OpenShift 3.6.X or 3.5.X uses : `images/v1`

Either we should fix it or document supported API versions.

https://github.com/fabric8io/fabric8-maven-plugin/pull/1067

[2017-11-22 16:22] jorgesartori opened #920 "How to create a CronJob?"
To create a deployment, I just invoke the method: KubernetesClient.extensions().deployments().createOrReplace(io.fabric8.kubernetes.api.model.extensions.Deployment);
So, I have a cronjob model created (io.fabric8.kubernetes.api.model.CronJob) but I didn't find a equivalent KubernetesClient method to create (or replace) it.

[2017-11-23 16:02] Ladicek opened #921 "awaiting readiness of a service fails because creating endpoints takes a long time"
We're observing this issue in Arquillian Cube tests running against OpenShift Online Pro.

Arquillian Cube awaits readiness of all resources it creates (https://github.com/arquillian/arquillian-cube/blob/master/kubernetes/kubernetes/src/main/java/org/arquillian/cube/kubernetes/impl/SessionManager.java#L182-L183). One of such resources is often a service. For Fabric8 Kubernetes Client, awaiting rea

[2017-11-23 16:05] Ladicek commented on #921
Here's a "fix" that I put together to investigate the problem: https://github.com/Ladicek/kubernetes-client/commits/retry-waiting-for-missing-resources I don't think it's appropriate for merging, but I believe it's a good proof of concept.

[2017-11-25 10:56] lordofthejars commented on #918
We are so interested on having this issue fixed, we can help on this if you provide some guidelines on where to look at so we can spend the minimum time and providing you ASAP a PR.

[2017-11-27 02:24] Mrwangjinxin commented on #869
Please support it

[2017-11-27 13:41] hrishin commented on #918
Hey @lordofthejars
had word with @hemanik about code places to accommodate this change.

[2017-11-28 03:06] samwelkey commented on #704
the same, missing the class io.fabric8.kubernetes.client.ConfigBuilder...
help qwq///

[2017-11-30 01:44] ttony commented on #770
I Checked the code, somehow there is model for cronjob however, there is no handler for it. When will this feature available? i am vote for it as well.

[2017-11-30 18:42] iocanel opened #923 "Add more CRUD tests"
As of 3.1.0 our https://github.com/fabric8io/kubernetes-client/tree/master/kubernetes-server-mock supports CRUD mode, which means that instead of setting expectations, it acts as a simple crud.

Such example is https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-tests/src/test/java/io/fabric8/kubernetes/client/mock/PodCrudTest.java

This test needs improvements:
- test how update

[2017-11-30 20:23] iocanel opened #924 "The client bom with dependencies should include kubernetes-model"

[2017-11-30 20:33] iocanel commented on #921
I would create a new Runnable exception called something like `KubernetesResourceMissingException` and I would have https://github.com/fabric8io/kubernetes-client/blob/3fb4a2edf71ca1315a2545c540772f8b66eb1067/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/internal/readiness/Readiness.java throw this exception instead.

Then the issue could be easily solved by catching this exception

[2017-12-01 12:31] Ladicek commented on #921
@iocanel I wanna take a stab at this and would like to ask two questions:

By "Runnable exception", you meant `RuntimeException`, right?

But more importantly, I think that catching and ignoring that exception at https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/NamespaceVisitFromServerGetWatchDeleteRecreateWaitAppl

[2017-12-01 13:44] iocanel commented on #921
@Ladicek: RuntimeException yes!

You are right! Maybe this is a better place: https://github.com/fabric8io/kubernetes-client/blob/9599c9a9292f5eb570fa8818ee445c4dec899e56/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/HasMetadataOperation.java#L202-L202

[2017-12-01 13:45] Ladicek commented on #921
Hmm yea, I found that method too. I'll take a crack at it later today and send a PR. We can discuss there, then.

[2017-12-01 13:47] iocanel commented on #921
awesome

[2017-12-01 21:56] Ladicek commented on #921
Sent https://github.com/fabric8io/kubernetes-client/pull/926. Needs discussion and finalizing, but I think the approach is sane.

[2017-12-04 08:48] iocanel opened #929 "Provide equivalent of `oc new-app`"

[2017-12-04 22:02] osoriano opened #931 "Unable to update StatefulSet if spec contains an empty "array" property"
**What happened**:
I made a call to:
[code]
where `statefulSet` is an object without any volumeClaimTemplates.

**What you expected to happen**:
The statefulset should have been updated.

**Anything else we need to know?**:
When Kubernetes stores the StatefulSet object using protobuf encoding, it can't distinguish between null and an empty list. If an empty volumeClaimTemplates list was sent, it w

[2017-12-04 22:04] osoriano commented on #502
Having initializeCollections=true also causes other issues such as https://github.com/fabric8io/kubernetes-client/issues/931

[2017-12-05 16:55] rishi-anand opened #934 "Unable to add commands to kubernetes lifecycle hooks"
As mentioned in [Kubernetes Lifecycle Hooks docs](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/), how can we hook a script or command in container life cycle?

[2017-12-06 07:15] iocanel opened #935 "Add a section in the doc that lists projects using the client"

[2017-12-06 12:27] anderssv opened #936 "OpenShiftServer in CRUD mode returns all objects regardless of query"
I'm writing some tests and wanted to use OpenShiftServer with CRUD mode enabled. It seems to return all the objects regardless of the type/query I give the client.

I did some debugging and I think the culprit is because OpenShiftMockServer is instantiated with a  KubernetesAttributesExtractor which doesn't match the "/oapi/*" URLs (it matches "/api/*") so the query attributes are always blank.

[2017-12-06 16:08] paoloantinori opened #939 "Extend Loggable interface to return java.io.Reader"
Currently `getLog()` only returns `java.lang.String` which is unfortunate considering that logs can grow very large.

[2017-12-07 07:55] #939 closed

[2017-12-07 11:12] frogfrogfrog commented on #868
I see the same thing. Anyone can help?

[2017-12-11 09:55] zhaorendong opened #941 "When fabric8io/kubernetes-client supports StorageClass?"
I had found StorageClass in fabric8io/kubernetes-model, but  I can't create StorageClass by fabric8io/kubernetes-client-3.1.1.

[2017-12-11 10:00] oscerd commented on #941
There is no handler for that. Contributions are welcome.

[2017-12-11 12:44] lordofthejars opened #942 "[Question] Create Istio RouteRule"
Hi, I have a question regarding how to create Istio `RouteRule` resources using Kubernetes client.

I have next Istio resource:

[code]
And next code:

[code]

But then I get:

[code]

So is there any way to just send the yaml to cluster without any parsing?

[2017-12-12 08:01] swarnkarvaibhav opened #944 "Kubernetes Client giving error for on CA Cert file"
I am using kubernetes-client from inside a Docker container and it is giving me the below error while connecting to the Kubernetes master.

``io.fabric8.kubernetes.client.Config      : Error reading service account token from: [/var/run/secrets/kubernetes.io/serviceaccount/token].``

``javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.se

[2017-12-12 08:39] #918 closed

[2017-12-12 09:50] iocanel commented on #942
We can't avoid deserializing the objects. In many ways this is required.

Here are the things that need to be done:

The `KubernetesDeserializer` exposes a static method called `registerCustomKind` which accepts the kind and the class (that extends the KuberentesResource). This will get you through this Exception.

Then you will most probably need implement a ResourceHandler for RouteRule.

I thin

[2017-12-12 14:28] swarnkarvaibhav commented on #944
When I try to connect to Google Kubernetes Engine from the local computer it is successful, however, when I try to do the same from a Docker container running on Google Compute Engine it is giving the above error.

An urgent help is appreciated.

[2017-12-13 09:02] jiaj12 opened #946 "kubernetes version compatability"
I think we should add a section refer to the k8s version compatability.

I work on f8 java client version 3.0.3 but it doesn't support k8s 1.6.2&1.4.9. Return error while update nodes. But it works fine with k8s 1.7.10.

a version compatability on the readme.md would be helpful for new users.

I already built a pull request

[2017-12-13 11:41] readless opened #948 "how to use client.extensions().deployments().createOrReplace correctly"
i use the code
`Config config = new ConfigBuilder()
                .withMasterUrl("*")
                .withUsername("*")
                .withPassword("*")
                .withTrustCerts(true)
                .build();
        KubernetesClient client = new DefaultKubernetesClient(config);
        long s1 =System.currentTimeMillis();
        Deployment deployment = client.extensions().deployment

[2017-12-14 02:40] readless opened #949 "dsl execute too slow"
when i try to update a deployment, it costs much time on Deployment.build ，how can I do

[2017-12-14 04:44] hrishin commented on #923
@iocanel CRUD support looks interesting.
Is it compatible with OpenShift v3.6 and v3.7?

[2017-12-14 04:51] hrishin commented on #949
@readless could you ellaborate more?

[2017-12-14 05:57] smanikim commented on #946
+1 as I am also facing issue with respect to api versioning in 1.8

[2017-12-14 06:16] readless commented on #949
@hrishin i found that it is the hibernate/validator execute too slow , so how can i disable the bean validator

[2017-12-14 09:13] dylqt opened #950 "miss ConfigureBuilder.java under package io.fabric8.kubernetes.client"
in EXAMPLE(kubernetes-client/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/CreatePod.java):
"import io.fabric8.kubernetes.client.ConfigBuilder;" but no ConfigureBuilder.java under package io.fabric8.kubernetes.client

[2017-12-14 09:40] iocanel commented on #923
I expect it to work with openshift too. It should be completely independent of the Openshift version.
Now, if you are talking about api groups, we might need to to some tuning.

[2017-12-14 14:25] metacosm commented on #942
@iocanel @lordofthejars yes, we're working on an extension of kubernetes-model that will handle istio-specific resources.

[2017-12-15 00:52] #950 closed

[2017-12-15 08:37] rohanKanojia opened #955 "Implement Regression/Integration tests for Kubernetes client"
Right now Kubernetes client lacks good test support. There are some unit tests but they are also very few, which use a mocked instance. It would be nice if we could have some real time tests, which would create resources on the fly and validate accordingly.

So in my opinion we should have one more test-suite which would check real time scenarios of using various resources like DeploymentsConfig,

[2017-12-15 08:38] rohanKanojia commented on #955
@hrishin @iocanel  Please share your thoughts on this.

[2017-12-18 07:04] rohanKanojia opened #957 "Failure in update while operating on CRUD mode on Kubernetes mock server"
Here is some code snippet that uses Kubernetes mock server in crud mode:
[code]

Whenever i try to udpdate this, i get a NullPointer exception :
[code]
Ideally Mock server should support such simple update operations.

[2017-12-19 13:07] lordofthejars commented on #929
@iocanel we are interested in this feature to Kube. Do you know if this issue is on the radar of the project, or you might want some collaboration, ...

Also is there any blocker of this feature?

[2017-12-20 04:39] hrishin commented on #955
@rohanKanojia
Few things when it comes to writing integration tests
 - Integration test cases looks similar to what unit tests are right now, it just that instead of mocking server its gonna test with real multiple version of OpenShift instances (v 3.6, 3.7).
 - Could you share the findings of some basic PoC of Arquillian? in terms of ease of writing the test case, overall reliability of assertion

[2017-12-20 06:50] rohanKanojia commented on #955
Hey @hrishin,
[Arquillian](http://arquillian.org/arquillian-cube/#_kubernetes) does a really good job in creating temporary namespaces and applying all Kubernetes resources to create a test environment. We don't need to worry about setting up the resources and cleanup up afterward.

[2017-12-20 11:28] iocanel commented on #955
We can create a `kubernetes-itests` and `openshift-itests` module and use arquillian-cube, to write simple integration tests for it.

What would be really cool is to check if we could spin up different version of minikube or minishift in order to test the client against multiple versions.

[2017-12-20 14:19] rishi-anand commented on #948
@readless, I am performing below operation

[code]
and I am getting below exception:
[code]

[2017-12-21 03:38] ckanner opened #959 "Template doesn't support ${{ }}"
A Template has a number parameter ```PORT```. If i use it with ```${{PORT}}```,  the kubernetes client doesn't support. But When i use it with ```${PORT}```, it success.

[2017-12-22 03:37] ahab94 opened #960 "Close() doesn't immediately close the connection"
So we have a use case where we have to make connection to multiple kubernetes clusters and in quick succession. What i have noticed is the on calling  `close()`  on kubernetes-client it is not releasing the `ok-http-connection-pool` instead it's being timed out. Is that expected?

[2017-12-22 08:06] icereed commented on #957
Experienced the very same with createOrReplace()

[2017-12-22 08:08] icereed commented on #957
This makes CRUD mode almost unusable.

Exception is thrown, when the mockresponse is null:
` java
// class MockWebServer.java
      /**
       * Reads a request and writes its response. Returns true if further calls should be attempted
       * on the socket.
       */
      private boolean processOneRequest(Socket socket, BufferedSource source, BufferedSink sink)
          throws IOException, Int

[2017-12-22 10:45] hrishin commented on #869
Add support for [storage](https://kubernetes.io/docs/concepts/storage/storage-classes/) class operations.
[code]
Add support for following operations:
 - create stoarge class
 - get storage class
 - delete stoarge class
 - update storage class

[2017-12-22 19:02] rohanKanojia opened #962 "Not able to create Security Context Constraints either from yaml or from Security*Builder()"
Here is a simple example of Security Context Constraints as a yaml file:
[code]
I can simply create it using oc binary like this:
[code]
But i'm not able to replicate the same thing in Kubernetes Client. When i try to load the whole yaml file as a resource, it doesn't give me any error.
[code]
When i try to do the same thing using SecurityContextConstraintBuilder(shown in below code snippet). I ge

[2017-12-22 19:06] stheppi opened #963 "Watcher onClose method is not called"
Here is the scenario to reproducer:
 We have a minikube instance running and we have the a watcher set for deployment and pod. We set the retry attempt to a value >= 0 (doesn't matter). Then we stop minikube and the watcher `onClose` is called. At this point we create a new Watcher; since the minikube is down the websocket connection fails and we never get the `onClose` method on this last instanc

[2017-12-22 20:43] iocanel commented on #963
@stheppi: Good catch! Thanks for making it so easy for us!
Would you like to create a pull request for this (since you've done all the heavy lifting)?

[2017-12-26 10:15] hrishin commented on #929
@iocanel @lordofthejars  what is the scope of this issue? Does it require equivalent support in kubernetes as well?

[2017-12-26 11:08] iocanel commented on #929
@lordofthejars: I think that it would make sense to have something like this.
Currently we are really close to that by supporting loading/processing templates or arbitrary resources, so we just need some additional helpers on top of that.

Note, that the client does process templates locally, so in theory this could also work for pure kubernetes.

There are no blockers and should be pretty straigh

[2017-12-26 11:48] hrishin commented on #866
@mojsha here you go for the example https://github.com/fabric8io/kubernetes-client/blob/ef8057f363e2fbe6c28958de98c492be260ac865/kubernetes-examples/src/main/java/io/fabric8/openshift/examples/ImageStreamTagExample.java

[2017-12-27 06:17] hrishin commented on #905
@kaimago here you go for the example https://github.com/fabric8io/kubernetes-client/blob/ef8057f363e2fbe6c28958de98c492be260ac865/kubernetes-examples/src/main/java/io/fabric8/openshift/examples/ImageStreamTagExample.java

[2017-12-27 08:22] hrishin commented on #866
Add support for following Operations [PodDisruptionBudget](https://kubernetes.io/docs/concepts/workloads/pods/disruptions/)
 - Configure (add/create) PodDisruptionBudget
 - Get PodDisruptionBudget
-  List PodDisruptionBudget(s)
 - Delete  PodDisruptionBudget

Tasks:
 - Implement code
 - Unit test

[2017-12-27 09:04] hrishin commented on #851
@podviaznikov it's available now in the recent release :)

[2017-12-27 09:09] #921 closed

[2017-12-27 09:10] hrishin commented on #770
Add support for following operations to handle cron jobs:
 - Create cron job
 - Get/List cron job(s)
 - Delete cron jobs

Tasks:
- Implement feature code
- add unit test

[2017-12-28 13:56] #963 closed

[2017-12-28 15:35] hrishin opened #969 "Support for PodSecurityPolicy resource"
Add support for [PodSecurityPolicy](https://kubernetes.io/docs/concepts/policy/pod-security-policy/) with following set of operations
 - Create
 - Delete
 - Get/List

Tasks:
 - Add java object
 - Implement code
 - Add unit test

[2017-12-28 18:19] #923 closed

[2018-01-02 07:46] kaimago commented on #905
Thanks :)

[2018-01-02 07:46] #905 closed

[2018-01-03 11:34] hrishin opened #973 "Add support for service catalog feature"
Need add DSL API's for Service Catalog resources

- Broker
- ServiceClass
- Instance
- Binding

Need support following set of operations
- Load resource/Create
- Get/List
- Update
- Delete

Tasks:
 - Add java model classes : [model#issue](https://github.com/fabric8io/kubernetes-model/issues/225)
 - Implement feature code
 - Add unit tests
 - Add integration tests

[2018-01-04 00:16] kennyzli commented on #868
me too here.

[2018-01-04 19:53] rohanKanojia opened #975 "Add Support for log() and exec() tests in PodIT"
Please consider this when Pull Request #965 gets merged. When I add log and exec tests in the Pod integration test like this:
[code]
exec() test doesn't work on any of the openshift versions specified in the integration test configuration on CircleCI, and log() test work on all versions except OpenShift 3.7.0. This is how these tests  behave on different versions:

1. On OpenShift 3.6.0:
[code]
2.

[2018-01-05 21:28] graziergeek commented on #850
I pulled in `spring-cloud-starter-kubernetes` v `0.2.0.RELEASE` to read props from ConfigMap in GKE cluster.  We have RBAC turned on in our cluster.  Now this is failing during liveness probe (health check).

Reopen?

`io.fabric8.kubernetes.client.KubernetesClientException: Failure executing: GET at: https://kubernetes.default.svc/api/v1/namespaces/staging/pods/broker-cdf9457f4-h8v2w. Message: For

[2018-01-06 20:52] #906 closed

[2018-01-06 20:53] rishi-anand commented on #906
Thanks @iocanel 👍

[2018-01-06 20:54] rishi-anand commented on #934
It can be done via `container.setLifecycle()`.

Closing this issue.

[2018-01-06 20:54] #934 closed

[2018-01-08 10:34] hrishin commented on #869
All unit tests running again mock server or some way of mocking.
Recently [integration tests suit ](https://github.com/fabric8io/kubernetes-client/pull/965) got in place which runs against Openshift cluster v3.6.0, v3.6.1, v3.7.0

It would be nice if we can add integration test as well :)

[2018-01-09 07:25] iocanel opened #980 "Add contributor guideliness"
Currently the number of contributions is such, that it takes a lot of time to review. Also, it takes a lot of back and forth, which is a burden for the contributors themselves.

If we had a clean contributors, guideline, we could eliminate minor issues like:
- missing tests
- formating
- missing headers
- semantic versioning handling etc.

[2018-01-09 08:45] pradeepto commented on #980
This is definitely required and I wanted to talk to you @iocanel  about this. Thank you for creating this task. I I don't think I can do the whole thing myself but I will help out with this definitely.

[2018-01-09 18:18] nmnellis opened #981 "Support for Job spec.backoffLimit"
Add kubernetes Job spec.backoffLimit
https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#pod-backoff-failure-policy

[2018-01-10 13:47] piyush1594 commented on #962
@hrishin @rohanKanojia @iocanel

`OpenshiftClient client = new OpenshiftClient();
SecurityContextConstraints scc2 = new SecurityContextConstraintsBuilder()
      .withNewMetadata().withName("scc1").endMetadata()
      .withAllowPrivilegedContainer(true)
      .withNewRunAsUser()
      .withType("RunAsAny")
      .endRunAsUser()
      .withNewSeLinuxContext()
      .withType("RunAsAny")
      .endS

[2018-01-11 12:06] nicolaferraro opened #983 "Alert users when using a beta feature (OSFUSE-661)"
Resources in Kubernetes move from `beta` to GA in different releases. Kubernetes usually maintains old resource endpoints for few releases before removing them.

If a user wants to use e.g. a `StatefulSet` now, this client library will use the `v1beta1` endpoint that works with Kubernetes from 1.6 to 1.9. But in 1.9 `StatefulSets` are upgraded to `v1`. Endpoint `v1beta1` still works (I guess), but

[2018-01-11 12:08] oscerd commented on #983
Personally I would go with the second option, lets wait for other points of view by the way.

[2018-01-11 12:27] oscerd opened #985 "Use a Changelog file"
I created a CHANGELOG file with this PR.

https://github.com/fabric8io/kubernetes-client/pull/984

Please lets try to have this file always updated, with each PRs, fix, feature or improvement we did.

This way it will be easier to track changes.

[2018-01-11 12:28] oscerd commented on #941
Done with this

https://github.com/fabric8io/kubernetes-client/pull/978

[2018-01-11 12:28] #941 closed

[2018-01-11 12:28] oscerd commented on #941
It will be released in 3.1.9

[2018-01-11 12:29] oscerd commented on #869
Done here:

https://github.com/fabric8io/kubernetes-client/pull/978

[2018-01-11 12:29] #869 closed

[2018-01-11 12:29] oscerd commented on #764
Done here:

https://github.com/fabric8io/kubernetes-client/pull/978

It will be available in 3.1.9

[2018-01-11 12:29] #764 closed

[2018-01-11 13:03] oscerd commented on #985
@iocanel I merged this file. Maybe in the contributor guidelines (when we will have one) we can add this information. Tracking changes is crucial.

[2018-01-11 13:03] #985 closed

[2018-01-12 13:26] rohanKanojia opened #986 "Not able to trigger build via WebHookTriggerBuilder"
This is a sample yaml of a build config (taken from OpenShift's website):

[code]
I'm using this yaml file to create a buildconfig and then trigger a build like this:
[code]
But when i run this code i get a KubernetesClientException:
[code]
Ideally client should be able to trigger new build from this call.

**My Environment:**
[code]

[2018-01-14 21:32] greenboxal opened #987 "Error when reading PEM certificate with empty lines"
I was setting up a Spinnaker cluster and when the API client was being instantiated, an exception was being thrown inside `CertUtils.createTrustStore`.

After some debugging I found out that my Kubernetes cluster had a CA PEM file with an empty line at the end, and I tracked the bug here: https://github.com/fabric8io/kubernetes-client/blob/5e85f3e8727cdd0f6b47b2e1d416ce6610f715dd/kubernetes-client

[2018-01-15 13:47] iocanel opened #989 "Implement waitUntilCondition"
Currently we have the `waitUntilReady()` functionality, which uses a hybrid approach with polling periodically and watches. This works great but it doesn't cover all our needs. Fro example what about waiting for builds or jobs or anything.

I'd like us to introduce a new method on all resources called `waitUntil` that will accept and argument, possibly something like a `Function<KubernetesResource

[2018-01-17 02:09] huaixichen opened #990 "orphaned pod occasionally lingering around after deployment is deleted"
Currently we use kubernetes-client Java SDK to interact with K8S cluster, and do with following to delete a deployment:

[code]
Occasionally we see orphaned pod is lingering around in the cluster after deployment is deleted. The orphaned pod here is referring to that its relevant deployment and replicaset are both deleted.

Diging into the DeploymentReaper codes, it looks slightly different with t

[2018-01-18 06:11] harryge00 opened #991 "Could not resolve dependencies for project io.fabric8:openshift-client:jar:3.1-SNAPSHOT"
[code]

[2018-01-18 06:11] harryge00 commented on #991
Change the `3.1-SNAPSHOT` to `3.1.8` and the it works

[2018-01-18 06:21] piyush1594 commented on #991
@harryge00

You need to hit `mvn clean install` first. Then 3.1-SNAPSHOT will get available in your local repository. After that, if you hit the `mvn compile`, it will work.

If you are updating it to '3.1.0` it is fetching the respected version from maven central and in case of `3.1-SNAPSHOT` it's not able to find that version on maven central and giving the error.

Can you please try and let us

[2018-01-18 07:00] harryge00 commented on #991
@piyush1594  Thanks for the prompt reply! It works. Just another question, how can I run the code in `kubernetes-example`?

[code]

[2018-01-18 07:20] piyush1594 commented on #991
@harryge00

You need to hit the following command

`mvn exec:java -Dexec.mainClass="io.fabric8.kubernetes.examples.ListExamples" -Dexec.args="your-clister-url"`

We are using [exec-maven-plugin](http://www.mojohaus.org/exec-maven-plugin/) for this purpose.

Please try and revert back if you are not able to do so.

Thanks

[2018-01-18 07:38] harryge00 commented on #991
@piyush1594  It works！ Thanks so much.
I suggest adding how to build through maven in README so beginners can start developping.

[2018-01-18 07:38] #991 closed

[2018-01-18 08:52] piyush1594 commented on #991
@harryge00 Sure, we will do the needful.

Thanks for getting your hands dirty.

[2018-01-19 07:31] huaixichen commented on #990
any help?

[2018-01-22 08:59] fbird opened #993 "Fluent object not container AdditionalProperties map"
Hi,
I found the fluent object not contain the AdditionalProperties object, so when i use builder to build the kubernetes resource, it always miss AdditionalProperties, am i miss something?

wait for your reply, thx

[2018-01-24 07:12] #962 closed

[2018-01-24 07:13] #955 closed

[2018-01-24 10:32] piyush1594 commented on #969
Since #992 is merged, I am closing this.

[2018-01-24 13:41] ahab94 opened #995 "Egress rules feature request"
Is anyone working on integrating Egress rule apis to kubernetes client, if so when can it be expected to be done?

[2018-01-24 19:24] piyush1594 opened #996 "Add CRUD test and Regression Test"
Right now there are no CRUD Tests and Regression Tests for:

 - [x] NetworkPolicy
 - [x] SecurityContextConstraints

We should add them.

[2018-01-24 19:26] piyush1594 commented on #957
@rohanKanojia Are you still facing the issue ?

[2018-01-24 20:09] piyush1594 commented on #981
This issue is already discussed here [model-239](https://github.com/fabric8io/kubernetes-model/issues/239), to have a point of discussion, I am closing this.

Thanks

[2018-01-24 20:09] #981 closed

[2018-01-25 05:35] piyush1594 commented on #996
part of #955

[2018-01-25 07:35] piyush1594 commented on #995
Hi @ahab94

As far as I know, Egress Rule is part of Network Policy. We have added the support for NetworkPolicy here #750

Right now we are supporting till Kubernetes 1.7 and Egress rule feature is available from Kubernetes 1.8. That's the reason it's not available here. As we will add the support for Kubernetes 1.8, it will become available.

Thanks

[2018-01-25 09:03] ahab94 commented on #995
Thanks @piyush1594, closing the issue.

[2018-01-25 09:03] #995 closed

[2018-01-29 15:27] piyush1594 commented on #948
Hi @readless @rishi-anand

If you want to edit some resource object on your cluster. This can be done like this (giving an example of deployment) :

`Deployment deployment = client.extensions().deployments().inNamespace("namespace-name")
      .withName("deployment-name").edit().editSpec().withReplicas(5).endSpec().done(); `

Please try to do in this way. If you still face some problem, revert us

[2018-01-30 10:16] ahab94 commented on #960
@piyush1594 i see you are replying actively, do you happen to anything on this issue?

[2018-01-30 13:43] rishi-anand commented on #948
@piyush1594,
This is how I am doing now and it works.

[code]

[2018-01-30 14:13] piyush1594 commented on #948
Hi @rishi-anand

Thanks for another solution, it looks good. The method I have suggested can be used to do any type of editing in the resource like it's a generalized method to edit a resource.

By the way, Thanks for solution

[2018-02-01 07:33] rohanKanojia opened #998 "Kubernetes/Openshift mock server should be able to take customized config for client"
For now, in order to create a client for any Kubernetes/Openshift mock server, we simply request mock server like this:
[code]
This works fine, but it would be nice if we could pass our own created `Config` object while creating Kubernetes/Openshift client. Right now we're just forced to use a `config`; Have a look at the following file [`KubernetesMockServer.java`](https://github.com/fabric8io/ku

[2018-02-01 09:07] piyush1594 commented on #993
Hi @fbird

Can you please elaborate more like this is specific to any resource or general problem for all resources and which version of Kubernetes client you are using?

Thanks

[2018-02-01 09:10] piyush1594 commented on #960
Hi @ahab94

I never came across this use case and problem. I generally use a single cluster and `client.close()` do my work. I will take a look at the issue and will let you know about my findings.

CC @hrishin @iocanel please help if you have the context for this.

Thanks

[2018-02-01 10:52] ahab94 commented on #960
Hey @piyush1594
Actually in our use case we concurrently connect with multiple clusters and after certain logic close them.
One thing i have noticed is that the okhttp connectionpool stays there even after `instance.close()`.
This is what it looks like after several instances have been created and close;
[code]
Which is extra resources, only being closed on timeout.

[2018-02-01 14:42] piyush1594 commented on #989
Hi @iocanel ,

Right now we have this functionality in client,

[code]
So the requirement is something like

[code]

Or

[code]

Like is the way I am thinking is fine or you have something else as a prototype.

I am assuming that user will provide the condition. This may be wrong also.

Please guide they way this need to be done.

Thanks

cc @hrishin @rohanKanojia @oscerd

[2018-02-02 06:49] piyush1594 commented on #948
Since this is resolved, I am closing this. Thanks

[2018-02-02 06:49] #948 closed

[2018-02-02 13:44] iocanel commented on #989
I would put it slightly different:

At the moment we have:

    public T waitUntilReady(long amount, TimeUnit timeUnit) {
        //do wait until ready and then return resource.
    }

There are people asking to add things like:

    public T waitUntilComplete(long amount, TimeUnit timeUnit) {
        //pretty much do the same thing as waitUntilReady but this time until the state is complete.

[2018-02-02 14:20] ppatierno opened #999 "Why "isAdaptable" doesn't use primitive boolean data type"
Hi,

is there any specific reason why the `isAdaptable` method for the client returns a `Boolean` and not just the related primitive type ? What I mean is that it seems to me that a client instance "is adaptable" or not to be an OpenShift client for example but there is not third choice which could drive to have the return value as `null`.

Thanks,
Paolo

[2018-02-05 09:15] piyush1594 opened #1002 "Update PodSecurityPolicy and SecurityContextConstraint Regression test"
In place of deleting all the pod security policies and SecurityContextConstraints , just delete the one that was created in the test.

[2018-02-05 11:52] piyush1594 commented on #1002
Since #1003 is merged, I am closing this.

[2018-02-05 11:52] #1002 closed

[2018-02-06 13:33] iocanel opened #1004 "Multiple document handling breaks if --- found anywhere in the document."
So, the idea was to support yaml files that contain multiple documents. This works, in most cases, by detecting using `---` as a delimiter to split documents. Problem arises though when `---` is not used as a delimiter but its part of string.

For example: https://github.com/syndesisio/syndesis/blob/master/app/deploy/syndesis-restricted.yml#L355

[2018-02-06 13:34] iocanel commented on #1004
@hrishin: I think that you worked on the initial implementation of this, so could you please have a look?

[2018-02-06 13:36] iocanel opened #1005 "Loading a template from file and processing it locally by passing a parameters map is broken"

[2018-02-07 20:21] piyush1594 commented on #980
@iocanel @pradeepto I have added a contribution.md [here](https://github.com/fabric8io/kubernetes-client/blob/master/CONTRIBUTING.md). Can you please take a look. If all seems fine, we can close this.

[2018-02-08 21:12] gastaldi opened #1006 "Add Location header when deleting a project"
When deleting a project in https://console.engint.openshift.com/console/, using the code below:

[code]
I get the following exception:

[code]

How do I add a Location header using the API?

[2018-02-09 13:56] gastaldi commented on #1006
Just realized this is returned from the response header. This error message should be clarified that it is a 401 error but not caused by the Location header

[2018-02-13 10:11] Mrwangjinxin commented on #868
ExecWatch watch = client.pods()
                    .inNamespace(namespace)
                    .withName(podName)
                    .inContainer(containerName)
                    .redirectingInput()
                    .redirectingError()
                    .exec("tar", "xf", "-", "-C", "/");
TarArchiveEntry entry = new TarArchiveEntry(desFilePath);

try (TarArchiveOutputStream tarOut = new T

[2018-02-13 10:14] Mrwangjinxin opened #1008 "use exec copy file to pod too slow"
My client version is 3.1.8
When i use k8s web socket api directly, every thing is ok.
But when i use your client, the upload speed is only about 1Kb per second.

my code is:

    public void uploadFile(KubernetesClient client,
                           String namespace,
                           String podName,
                           String containerName,
                           String de

[2018-02-13 11:14] Mrwangjinxin commented on #1008
I found the reason!!! Is the PipedInputStream issue:
https://stackoverflow.com/questions/28617175/did-i-find-a-bug-in-java-io-pipedinputstream
I solved it by Reflect set the buffer size!
Can you guys please support set the PipedInputStream's buffer size?

[2018-02-13 19:05] Krishan-Sharma commented on #998
I am not entirely sure about OpenShiftClient but I think KubernetesServer allows you to override default config for mock server.This was done as part of this change (https://github.com/fabric8io/kubernetes-client/commit/8679f337fafeed779f3d6f36c803a0b867afde69).

[2018-02-14 09:48] yybear opened #1009 "there is no ClusterRole operations in OpenShiftClient"
in OpenShiftClient, i find operations for Role, RoleBinding, ClusterRoleBinding, but no operations  of ClusterRole.
the version of jar is 3.1.8.
anyone knows how to create a  ClusterRole by OpenShiftClient? please tell me
tks!

[2018-02-14 19:07] zoujinhe commented on #868
verified, @Mrwangjinxin 's code works.

[2018-02-14 20:17] #868 closed

[2018-02-15 07:12] harshajith commented on #906
However, this still does not work if you have multiple yml resources embedded in one file, it only creates the first resource and ignores the rest.

[2018-02-15 07:13] oscerd commented on #906
@harshajith this is already part of an issue: https://github.com/fabric8io/kubernetes-client/issues/1004

[2018-02-15 11:28] #983 closed

[2018-02-15 16:42] lordofthejars opened #1012 "Authenticating with token in OpenShift Onlune"
I am trying to list all projects from my OpenShift Online account. Look I have gone to OSO interface and I get the oc login command I need to execute to log into the cluster. I can use it and it works, it logs and I can do operations. Then I logout and I try to do the same but in Java world, so I use the same host and the same token, but I get next exception: io.fabric8.kubernetes.client.Kubernete

[2018-02-15 16:53] lordofthejars commented on #1012
The interesting thing is that if I use username/password then it works.

[2018-02-15 17:39] lordofthejars commented on #1012
Great, after refreshing my tenant, it works :) Really good news then : Thanks and sorry

[2018-02-15 17:39] #1012 closed

[2018-02-16 10:09] hemanik opened #1013 "Kubernetes Connection is not closed."
When running tests using OpenShift/Kubernetes the following warning is thrown:
[code]
On setting the level to FINE, the logs shows this coming from [WatchConnectionManager.java#L145](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/WatchConnectionManager.java#L145).

[code]
Just want to ensure if this is because of

[2018-02-16 15:09] jtnord opened #1014 "add support for list *and* watching from a single method call"
Kubernetes supports a list resource and watch for changes, however the kubernetes-client does not expose this.

Currently you have to watch the resource and perform a list and then reconcile differences, which has timing issues and causes client code to be more complicated than it needs to be.

in other words I would like to be able to do the equivalent of the following in Java:

[code]

but I am

[2018-02-16 15:59] jtnord commented on #1014
what would make it slightly easier to work around would be the ability to watch the `resourceList` after a given resource version as documented [here](https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#concurrency-control-and-consistency), but for some undocumented reason this was [deprecated](https://github.com/fabric8io/kubernetes-client/commit/6e89a5a85aaf

[2018-02-16 20:47] ljnelson commented on #1014
It would be nice to have this in the project for sure.  I ended up implementing it in part in my [fledgling controller framework](https://github.com/microbean/microbean-kubernetes-controller) based on the fabric8 Kubernetes client and aping the `tools/cache` package from Kubernetes' `client-go` and, while tracing the code, could find no obvious reason for the deprecation you mention.  You have to,

[2018-02-17 13:30] if6was9 opened #1015 "ConfigBuilder.withClientKeyData() is broken in 3.1.8"
```ConfigBuilder.withClientKeyData()``` is broken in 3.1.8.

```withClientCertData``` and ```withCaCertData``` work just fine.

The following code snippit shows the problem and the workaround.

[code]

The problem manifests as:

[code]

```ConfigBuilder``` appears to be auto-generated so it is not clear to me how to fix this.

[2018-02-21 11:50] cdancy opened #1016 "Shadow/Uber jar with ALL dependencies"
I see you guys publish the `io.fabric8:kubernetes-openshift-uberjar` but that only seems to combine the client jars as one. Do you guys have any plans to create a true shadow/uber jar with all dependencies inside? We've started work on the [gradle-kubernetes-plugin](https://github.com/bmuschko/gradle-kubernetes-plugin), which is built off the work and lessons learned from the [gradle-docker-plugin

[2018-02-22 06:36] ghost opened #1017 "OpenShift 3.5 and apiVersions"
Hi,

Eclipse Che uses fabtic8 client to create workspace objects. Everything works fine with 3.6+ versions. However, a user with 3.5 has hit the below issue:

https://github.com/eclipse/che/issues/8847

Can an engineer comment on it please?

[2018-02-22 06:46] piyush1594 commented on #1017
Hey @eivantsov,

The latest version of Kubernetes-client is not by default compatible with OpenShift 1.5 and below. There is this thing which you can do to make it work with previous OpenShift versions.

[code]

So in case of a route you just need to do this addition.

[code]

This should ideally work. Let us know if this does not resolve your problem. This is because of the changes in ApiVersion

[2018-02-22 18:36] rohanKanojia commented on #975
I observed openshift logs carefully and found out this(it's a snippet from output of `oc get events`):
[code]

I think we're facing some problem on the cluster at CircleCI in terms of resources. That's why it's giving this `insufficient pods` error and simply pods are not coming up, and since these two are the only tests which seem to be verifying the state of pods after their creation; they are g

[2018-02-27 07:31] piyush-garg opened #1018 "Roadmap : A list of prioritised issues."
A list of prioritised for FKC. These issues are part of the [backlog](https://github.com/fabric8io/kubernetes-client/projects/1) and we are prioritising in our following sprints:

## Feature
- [x] Implement waiUntilCondition #989
- [ ] Kubernetes/Openshift mock server should be able to take customized config for client #998
- [ ] Provide equivalent of `oc new-app` #929
- [ ] Template does not supp

[2018-02-28 16:33] edewit opened #1019 "Exception messages are long and contain duplicated information"
For example when one creates a build config with an invalid name the exception message is:

[code]

It's very nice to get this kind of information but how can we transform this into something that is clear for the user.

[2018-03-02 05:11] hrishin opened #1020 "[upgrade] support for Kubernetes/Openshift v1.9/v3.9"
To enabled support for Kubernetes/Openshift v1.9/v3.9, need to upgrade kubernetes-model.

[2018-03-05 08:44] Mrwangjinxin opened #1022 "sometimes, delete deployment get a NullPointerException"
maybe deployment.getStatus().getObservedGeneration() is null ?
{
  "methodName": "reap",
  "fileName": "DeploymentOperationsImpl.java",
  "lineNumber": 167,
  "className": "io.fabric8.kubernetes.client.dsl.internal.DeploymentOperationsImpl$DeploymentReaper",
  "nativeMethod": false
}

[2018-03-05 12:39] piyush1594 commented on #996
As #1000 and #1023 are merged, I am closing this.
cc @hrishin @rohanKanojia @oscerd

[2018-03-05 12:39] #996 closed

[2018-03-05 19:40] cdancy commented on #1016
Closing this and putting together a proper shaded/uber/fat/all jar for the [gradle-kubernetes-plugin](https://github.com/bmuschko/gradle-kubernetes-plugin) we're working on until this project has the time and resources to create a proper one.

[2018-03-06 06:07] piyush1594 opened #1024 "Regression Test does not work on Kubernetes"
All our regression test does not work when we run them on Kubernetes. All the test works fine with Openshift. For Kubernetes, they throw some error of Class Configuration.

The error is `Did not find any kubernetes configuration`

This may be because of some configuration I am missing locally but they all work fine with Openshift

minikube version: v0.23.0
kubernetes version: v1.7.0
arquillian.cub

[2018-03-06 06:32] hrishin commented on #1024
@piyush1594 could you please post error logs here?

[2018-03-06 06:39] piyush1594 commented on #1024
These are the tests which are getting failed
[code]

[2018-03-06 06:41] piyush1594 commented on #1024
Logs are
[code]

[2018-03-07 09:17] bjartek opened #1025 "Support for ImageStreamImport in OpenShiftClient"
OpenShift has an import-image command that imports tags from a given imageStream. Is it possible to get support for this in the client?

[2018-03-07 23:18] bjartek commented on #1025
I tried to create a PR here, but adding the ImageStreamImport in the genrate code in model resulted in generated java files that would not compile.

[2018-03-08 09:47] bjartek commented on #1025
I do not know why this was closed. It should be open.

[2018-03-08 10:01] piyush1594 commented on #1025
Hey @bjartek

Can you explain more, exactly what problem you are facing?

Thanks

[2018-03-08 11:14] bjartek commented on #1025
The OpenShift api exposes an endpoint to import one or more tags in an imageStream. https://docs.openshift.com/container-platform/3.7/rest_api/apis-image.openshift.io/v1.ImageStreamImport.html

There are no functionality to do the same in this client and no Model object to marshal the resource from the server.

Or did you mean what is my problem when I tried to create the PR? I could always just c

[2018-03-08 11:20] bjartek commented on #1025
See linked issue for what we have to do now in order to get this to work. Basically create our own representation of the ImageStreamImport object. Note that in boober we do not use kubernetes-client only kubernetes-model.

[2018-03-09 09:54] schnatterer commented on #850
Similar issue here. Using the kubernetes-client via jenkinsci/kubernetes-cd-plugin (version 0.1.5 of kubernetes-cd-plugin uses kubernetes-client 3.1.7) with kubeconfig file.
The same file works with `kubectl`, e.g. `kubectl --kubeconfig myconf apply -f mydeployment.yaml`.

Jenkinsfile
[code]

Stacktrace:
[code]

[2018-03-12 08:15] dipak-pawar commented on #1024
@piyush1594 How are you starting the k8s cluster before running tests?

[2018-03-12 08:19] piyush1594 commented on #1024
Hey @dipak-pawar

I am hitting `minikube start --vm-driver=kvm --kubernetes-version=v1.7.0`

[2018-03-12 23:00] colemickens opened #1028 "Expose method to create client from existing Kubeconfig"
It looks like the code can only handle a KUBECONFIG when it's pointed to by an environment variable or is at the default location.

The client should permit constructing a client from an existing kubeconfig, either on disk or in memory.

It appears this would be a minor refactoring.

[2018-03-13 09:43] piyush1594 commented on #1024
Closing this as #1027 will fix this.

[2018-03-13 09:43] #1024 closed

[2018-03-13 10:15] #975 closed

[2018-03-13 10:50] #1028 closed

[2018-03-13 20:57] cdancy opened #1031 "New v3.1.9 release?"
Any chance we could get a new point release spun up as you've resolve some critical issues around security that we've been waiting for. Thanks AOT!

[2018-03-14 06:54] oscerd commented on #1031
Yes, I believe it's time for a new release.

[2018-03-14 13:28] cdancy opened #1032 "Running pod as root (OpenShift specifically)"
Do you guys have examples anywhere on how to run a given pod as root? This is mainly when working with OpenShift as they lock things down by default and seemingly make you jump through hoops to do simple things. I poked around online and found [THIS](https://blog.openshift.com/getting-any-docker-image-running-in-your-own-openshift-cluster/) and [THIS](http://appagile.io/2017/03/29/how-to-run-a-pod

[2018-03-14 13:29] cdancy commented on #1031
@oscerd so it's coming soon? :)

[2018-03-14 13:31] oscerd commented on #1031
Probably by the end of week.

[2018-03-14 13:31] cdancy commented on #1031
@oscerd awesome and thanks!

[2018-03-15 12:23] piyush1594 commented on #980
@pradeepto @iocanel I am closing this as the file is already added. Thanks

[2018-03-15 12:23] #980 closed

[2018-03-16 10:26] oscerd commented on #1031
3.1.10 released

http://repo2.maven.org/maven2/io/fabric8/kubernetes-client/3.1.10/

[2018-03-16 11:10] cdancy commented on #1031
@oscerd fantastic and thanks for the quick response/release!

[2018-03-16 11:10] #1031 closed

[2018-03-16 11:40] cdancy commented on #1031
@oscerd random question: do you guys have a "projects that use this library" section or ever thought about creating one? I ask because I'm the current maintainer of the up and coming [gradle-kubernetes-plugin](https://github.com/bmuschko/gradle-kubernetes-plugin) and also the maintainer of the fairly popular, at least in the gradle world, [gradle-docker-plugin](https://github.com/bmuschko/gradle-d

[2018-03-16 11:45] oscerd commented on #1031
I believe is a good idea to have something in the README that list project using kubernetes-client. Lets wait for comments from the team btw :-)

[2018-03-16 11:48] piyush1594 commented on #1031
Hey @cdancy

We already have a plan regarding that, you can see the issue #935. I am not sure about the ETA of this but yaa it's in our list.

Thanks

[2018-03-16 11:52] cdancy commented on #935
Please add the [gradle-kubernetes-plugin](https://github.com/bmuschko/gradle-kubernetes-plugin) when you guys get around to doing this.

[2018-03-16 11:53] cdancy commented on #1031
Commented on the ISSUE. Thanks again guys!

[2018-03-16 12:20] rohanKanojia commented on #1004
@hrishin : Are you working on this? If not, can i pick it up?

[2018-03-17 14:29] cdancy commented on #1031
@piyush1594 @oscerd or any other developer or whomever is releasing and prioritizing things: any chance that #1016 could be taken seriously? You guys currently publish a pseudo uber jar but it doesn't have all dependencies baked in. Any chance you guys could add this functionality as part of your normal releases? As part of work getting our initial `v1.0.0` release out of the door for the [gradle-

[2018-03-18 14:05] titou10titou10 commented on #1020
+1
ie in v1.9, `"Deployments"``  are no more in the extension namespace...

[2018-03-19 08:38] oscerd commented on #1031
cc @iocanel

[2018-03-19 15:08] rohanKanojia commented on #1013
I've been looking into `WatchConnectionManager`'s code and till now I don't have any clear idea. The warning says that response body is not getting closed, but I don't see any condition in the code where body is not getting closed. This warning message is quite intermittent, though I'm not saying this is not a valid bug. Even if i try to ensure that response body gets closed always(by putting `res

[2018-03-19 17:01] rhuss opened #1035 "RejectedExecutionException in WatchHTTPManager"
Just happened to me while using fabric8-maven-plugin 3.5.38:

[code]

[2018-03-19 17:21] rohanKanojia commented on #1035
fabric8io/fabric8-maven-plugin#1159

[2018-03-19 17:21] rhuss commented on #1035
thanks ;-) Closing it then as duplicate.

[2018-03-20 05:10] YangYongZhi opened #1036 "Can not delete a pod with it's name."
Hi:
I have to delete a pod with it's name because I need to restart one of it's container.
the code snippet like this:
    public boolean deletePod(final String podName) throws DeploymentException {
        final MixedOperation<Pod, PodList, DoneablePod, PodResource<Pod, DoneablePod>> operation = client.pods();
        if (StringUtils.isBlank(namespace)) {
            operation.inAnyNamespace();

[2018-03-21 17:00] rimesc opened #1041 "Support cascading delete on custom resources"
The interface returned by `KubernetesClient.customResources(...)` doesn't provide a method to set `cascading=true`.

The object itself (an instance of `CustomResourcesOperationsImpl`) does have a `cascading` flag, and a constructor that allows it to be specified, but it's defaulted to `false` in the only constructor that's actually used.

As a work around, you can construct an instance yourself us

[2018-03-26 08:46] matthyx commented on #853
Good news everyone, the model now supports toleration!
Is anyone interested in adding this support to the client, or should I do it?
Also, can someone mark https://github.com/fabric8io/kubernetes-client/issues/826 as a duplicate?

[2018-03-26 08:47] chirino commented on #853
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  chirino@gmail.com
    Domain hiramchirino.com has exceeded the max emails per hour (164/150 (109%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-03-26 09:07] piyush1594 commented on #826
Hey @mkleint @balexx , You can achieve this by

[code]

[2018-03-26 09:08] piyush1594 commented on #826
I am closing this for the time being

[2018-03-26 09:14] piyush1594 commented on #853
Hey @faceitdev ,

Can you please try this,

`client.pods().withName(podName).patch(pod);`

Thanks

[2018-03-26 09:20] matthyx commented on #826
Thanks @piyush1594 I will try this in my code using the client. I will post errors here if I get any.

[2018-03-27 15:42] #1004 closed

[2018-03-27 16:43] gabemontero opened #1046 "retrieval of imagestreamtags do not appear to work with the v3.x client"
see see https://github.com/fabric8io/jenkins-sync-plugin/pull/12#issuecomment-366088791

and most recently https://github.com/fabric8io/jenkins-sync-plugin/pull/12#issuecomment-366337554

@hrishin @rupalibehera FYI

[2018-03-28 18:44] piyush1594 commented on #1005
@iocanel Can you please provide more details regarding this

[2018-03-28 18:48] piyush1594 commented on #989
@iocanel Thanks for your input.

As explained above, lambda expressions can be used in Java 8 but our client is in Java 7. Either we need to move to Java 8 or we can use Functional Interface, in that case, the user needs to implement the function, that does not seem to be a good way to do that.

@iocanel Can you provide more thoughts on this or Am I proceeding in some wrong direction?

Thanks

[2018-03-28 18:52] iocanel commented on #989
if we want to stick with java7 we can use the Function class that comes with the kubernetes-model (inside the builder package). Of course, in this case there will be no lambda support.

I'd rather see us moving to java8 though.

[2018-03-28 18:53] iocanel commented on #1005
@piyush1594: I think that I've started working on it on a local branch. Let me pick this up.

[2018-03-28 19:00] piyush1594 commented on #1005
@iocanel In that case, its fine, you carry on your work. Thanks

[2018-03-28 19:20] piyush1594 commented on #917
@bouskaJ I think the issue has been fixed now, Can you please check and confirm?

[2018-03-29 06:41] hrishin commented on #1046
@gabemontero Thanks for raising this issue. Which OpenShift version you have used to get `imagestreamtags`?

cc: @piyush1594

[2018-03-29 06:53] piyush1594 commented on #1046
@hrishin This seems like an issue which affected FMP too

[2018-03-29 07:25] hrishin commented on #1046
@piyush1594 could you refer an issue from F8MP for this?

[2018-03-29 08:58] piyush1594 commented on #1046
Hey @hrishin i am talking about this https://github.com/fabric8io/fabric8-maven-plugin/pull/1225

[2018-03-29 12:23] veludurai106 opened #1047 "Watcher not watching continuously."
kubernetes-client version - 3.1.10
Kubernetes version           - 1.9.0

Hi, Currently I am trying to Watch Kubernetes events from a spring boot application using Watcher.

The eventReceived() method returns all the resources but onClose() method called without an exception. So it is not actually watching. I wanted to watch continuously for changes.

Below called is called during Application start

[2018-03-29 12:33] piyush1594 commented on #1046
@gabemontero From the issue comments you mentioned, it seems like an error with client 3.0.3 onwards.

[2018-03-29 13:36] gabemontero commented on #1046
that is correct @piyush1594 ... 3.0.x onward

it works with v2.3.1 of the fabric client

@hrishin - answers to your questions:

1) we were testing against v3.9 of openshift ... the GA of that version just landed earlier this week

2) we produced it running the plugin extended tests we've discussed previously
   a) long term, you guys really need to get to a point where you can run this, if your ar

[2018-04-02 10:29] rohanKanojia commented on #1035
WatchConnectionManager calls `runWatch()` which invokes OkHttpWebSocket for connection to k8/openshift cluster. This runWatch is re-initiated in `onFailure()` and `onClosed()` callbacks of OkHttpWebSocket, the message we're getting usually comes when we don't get any `onFailure()` callback for the error. We schedule reconnect after a certain backoff time limit, it's done in order to reconnect in c

[2018-04-03 07:32] veludurai106 commented on #1047
It because of the "try-with-resources" Statement., which calls the close() method of Watch.

[2018-04-03 07:32] #1047 closed

[2018-04-03 11:41] ArtemZ commented on #704
Same here, can't find it...

[2018-04-03 11:54] piyush1594 commented on #704
Hey, mentioning the steps to located the file

1. `git clone https://github.com/fabric8io/kubernetes-client`
2. `cd kubernetes-client`
3. `mvn clean install -DskipTests`
4. `cd kubernetes-client/target/generated-sources/annotations/io/fabric8/kubernetes/client/`
5. `cat ConfigBuilder.java`

Thanks

[2018-04-03 11:54] #704 closed

[2018-04-03 12:43] gastaldi opened #1048 "Add support for retuning the k8s/openshift version"
If would be nice if the API could provide a method to return the k8s/openshift version running in the server.

As of https://github.com/openshift/origin/issues/19182#issuecomment-378233606

[2018-04-03 12:48] ArtemZ opened #1049 "ConfigBuilder.withCaCertData() results in error in 3.1.8+"
Hello,

I'd prefer to supply CA certificate to kubernetes-client as string instead of a file, so I attempting to use
 ConfigBuilder.withCaCertData("plain text ca.crt content"), but it fails with:

	at io.fabric8.kubernetes.client.KubernetesClientException.launderThrowable(KubernetesClientException.java:62)
	at io.fabric8.kubernetes.client.KubernetesClientException.launderThrowable(KubernetesClient

[2018-04-03 21:55] gastaldi commented on #1048
Here is a sample output of these endpoints:

[code]
[code]

[2018-04-04 11:58] piyush1594 commented on #1046
Hey @gabemontero,

Thanks for the information. I just added a PR of the examples in FKC #1050

This PR contains the example for building the imageStream and imagStreamTags.

What I have figured out is ImageStream is working fine for any version of OpenShift using any version of Client. You can check by running the example which is creating the same imageStream as mentioned in your yaml. Even fetch

[2018-04-04 15:14] gabemontero commented on #1046
Yes @piyush1594 you have reproduced what I have originally encountered.  And to reiterate, we don't see this problem with the 2.3.1 client.

I previously did not get the exception you have noted.  Perhaps you've turned on trace, modified the client to report the error, or are running with an even later version that logs the exception ?

Whatever the answer, certainly that exception would seem to p

[2018-04-04 15:50] nguyenhuuluan434 commented on #1015
I have the same problem. Any help for me to fix this ?

[2018-04-04 19:40] if6was9 commented on #1015
It’s not a bug I learned with trial and error. Although it would make sense that the method would accept the contents of the file (which is already armored plaintext), it wants to see the key/cert data base64 encoded again.

[2018-04-04 19:43] if6was9 commented on #1015
I’ll submit a patch soon that gives a better exception if unexpected input is provided.

[2018-04-04 19:43] #1015 closed

[2018-04-05 04:13] nguyenhuuluan434 commented on #1015
Thank you @if6was9 .

[2018-04-05 19:52] piyush1594 commented on #1046
So after debugging a little bit more,

The problem happens when the request is made to the cluster, it is executed and when you get the response, it is not able to unmarshal that.

The API call that is getting made to the cluster looks fine to me. As I tried to create an imageStream tag, the call is getting made perfectly, the resource is also getting created there and returns the response which i

[2018-04-06 03:54] nguyenhuuluan434 commented on #1015
Hi @if6was9,
I spend 1 day to reproduce problem as below:
#create new client keypair and get private key

			KeyPairGenerator keyPairGenerator = KeyPairGenerator.getInstance("RSA");
			keyPairGenerator.initialize(1024, new SecureRandom());
			KeyPair keyPair = keyPairGenerator.generateKeyPair();
			PrivateKey k = keyPair.getPrivate();

#Using Bouncycastle to get PEM format of privatekey:

			Strin

[2018-04-06 11:01] piyush1594 commented on #957
Please try editing something else in the resource like, change some data value or something else. Also please try to use `.patch()` if that works.

As far as I know, apiVersion, Kind and Name can't be changed, maybe I am wrong. If that's true, then I did not get what you are trying to achieve.

[2018-04-06 11:12] rohanKanojia commented on #957
ah, sorry my bad. I didn't realize that it's not possible to edit the name of a resource. You're right.

[2018-04-06 11:13] #957 closed

[2018-04-09 05:13] swqmaven opened #1052 "About PetSet how to use?"
in fabric8.kubernetes.client 1.4.20 version How to use PetSet create in java client?

[2018-04-09 05:24] piyush1594 commented on #1052
Hey @swqmaven

Can you please elaborate. What is the problem you are facing with this? Thanks

[2018-04-09 05:26] swqmaven commented on #1052
@piyush1594 how to use java client to create a petset resource ? example code?

[2018-04-09 05:57] piyush1594 commented on #1052
Hey @swqmaven

You can import the PetSet class from
[code]

You can create a PetSet object like this
[code]

I think other operations like create, get, list and all will work fine. I just tried creating PetSet Object, it worked fine.

Hope it resolves your problem.

Thanks

[2018-04-09 06:05] swqmaven commented on #1052
@piyush1594  thanks .  I know how to create a PetSet obj  but i cant find interface or service  how to create this obj  in KubernetesClient . or .extensions()?
I used fabric8.kubernetes.client 1.4.20 version

[2018-04-09 06:16] piyush1594 commented on #1052
@swqmaven

I think there may be something like this
[code]
Not sure, as I never used it.

[2018-04-09 06:51] swqmaven commented on #1052
@piyush1594  in my version can't  find this in client extensions() . do you have? what's the version?

[2018-04-09 07:28] rishi-anand opened #1053 "Add IpBlock in ingress and egress for Network policy"
I am unable to add ipBlock information in Network Policy spec as it doesn't has any field to accept ipBlock.

[2018-04-09 07:32] piyush1594 commented on #1046
Hey @gabemontero @hrishin

Just found this on model https://github.com/fabric8io/kubernetes-model/issues/296 Looks relevant to this.

[2018-04-09 07:35] piyush1594 commented on #1053
Hey, @rishi-anand This is still not supported by us. As https://github.com/fabric8io/kubernetes-model/issues/297 will be closed and we will use the next release in client then this will be available. Thanks

[2018-04-09 07:36] piyush1594 commented on #1053
Related issue are https://github.com/fabric8io/kubernetes-model/issues/298

[2018-04-09 07:36] #1053 closed

[2018-04-09 07:43] rishi-anand commented on #1053
@piyush1594, for one POC, I have added that feature and is updated to custom maven repository. I can create a PR if this is not implemented.

[2018-04-09 15:30] gabemontero commented on #1046
Yep I agree @piyush1594 - that is what we are shooting.  And as I noted multiple times when discussing this, fixing the model code that the fabric8 kubernetes/openshfit client code is using is what is required.

What is unclear to me is whether the ImageStreamTag stuff is in kubernetes-model, or this repo. or some other openshift equivalent repo.  `ImageStreamTag` is an openshift api object, not a

[2018-04-09 19:11] piyush1594 commented on #1046
@gabemontero

Kubernetes-model will generate both the openshift and kubernetes API objects. Kubernetes Client uses Kubernetes-model for all the objects.

[2018-04-10 06:45] piyush1594 commented on #1053
Hey @rishi-anand

Sure go for it, would love to have your contributions. Thanks

[2018-04-10 21:59] OmriShiv commented on #826
Is this possible to do with JobBuilder?

[2018-04-11 18:57] piyush1594 commented on #1046
Hey @gabemontero @hrishin

PR is here on model https://github.com/fabric8io/kubernetes-model/pull/302 which will fix this as we support new Model in the client.

I will send a PR soon here as the model is released with new model version and also a test regarding this. I checked this locally and its working.

Thanks

[2018-04-11 19:05] gabemontero commented on #1046
Thanks for the update @piyush1594 - it looks like we are getting closer :-)

[2018-04-11 21:29] MaitreDede commented on #1018
Hi,
I would be pleased to have cronjobs api avaible :)

[2018-04-12 06:15] rishi-anand commented on #1053
Thanks a lot @piyush1594.
I just had few doubts.

1) fork `https://github.com/fabric8io/kubernetes-model`
2) clone https://github.com/<user_id>/kubernetes-model
3) install GO (prerequisite)
4) create java files, model, builder, fluent api change, example, test etc
5) make it using GO and it will generate kube-schema.json

How is entry generated in kube-schema and what things to take care while dev

[2018-04-12 10:16] piyush1594 commented on #853
Hey @matthyx

Have you tried this also? Is this still an issue or we can close this.

[2018-04-12 11:38] dipak-pawar opened #1055 "Unable to log in to cluster when using username and password"
[code]

If you try to run above test, then `k8s_client_username_password` will fail by saying unathourized, whereas `k8s_client_auth_token` tests will pass successfully.

However both tests should pass

[2018-04-13 11:56] jevin36 opened #1057 "Eliptical Curve Keys not working"
Hi,
the official project had the same problem which was recently fixed. Are there any plan on fixing it in the fabric8io project as well?

Please see https://github.com/kubernetes-client/java/issues/135

[2018-04-16 08:56] matthyx commented on #853
@piyush1594 I have tried successfully that on a pod with tolerations:
[code]
So, to me this issue is solved too.

[2018-04-16 09:04] piyush1594 commented on #853
cool, Thanks a lot for trying. I am closing this.

[2018-04-16 09:04] #853 closed

[2018-04-16 09:37] ekoshkin opened #1058 "How to skip autofilling of Config properties while using ConfigBuilder?"
It is not clear how not to auto fill config properties when creating k8s client, e.g.
`new DefaultKubernetesClient(new ConfigBuilder().build())`

[Related issue](https://github.com/JetBrains/teamcity-kubernetes-plugin/issues/29) in TeamCity K8S support plugin.

[2018-04-16 09:40] piyush1594 commented on #1058
@ekoshkin

`Config config = new ConfigBuilder().withNamespace("").withMasterUrl(connectionURL).withUsername(username).withPassword(password).build(); `

In this way, you can override the values, but I think if you don't then default values will be filled. Maybe I am wrong but this I have observed over time.

Thanks

[2018-04-16 09:52] ekoshkin commented on #1058
@piyush1594 You are right. Default values will be used if no values were specified explicitly.
This makes different authentication strategies hard to implement since client code should provide empty values for all autofilled properties to make sure config was built correctly.
One of examples - access to k8s API from application running itself in k8s (as described [here](https://github.com/JetBrain

[2018-04-16 09:56] ekoshkin commented on #1058
Specifically I wonder if there are any plans to actually fix this?
[code]

[2018-04-16 10:40] tangchn opened #1059 "How to disable validation for kubernetes-model？"
When spring-boot and kubernetes-client are used together, write operations via kubernetes-client become slowly(**200ms** -> **6000ms**).

I traced the method and found that validation is executed in the `build()` method(eg. `ReplicationControllerBuilder.java`).

The reason that validation in kubernetes-model is **activated** is that spring-boot-web include the validation jar:

[code]

However, I c

[2018-04-17 19:52] piyush1594 commented on #1046
Hey @gabemontero

PR on the model is merged https://github.com/fabric8io/kubernetes-model/pull/302. Soon we will release the model(which is blocked on https://github.com/openshiftio/openshift.io/issues/2825) and as the new version will get reflected here, this will work. Meanwhile added unit and regression test for ImageStreamTag here #1060 and Example for this has already been added.

Thanks

[2018-04-17 21:41] smilingkracken opened #1061 "Any plans to support OpenId in the java client?"
OIDC authentication is in use at many companies and I'm wondering if you have plans to add support for it into your java clients code base.
thanks!

[2018-04-18 08:08] zhanjiejun opened #1062 "Any plan to support kubernetes 1.10.x？"
Any plan to support kubernetes 1.10.x？

[2018-04-18 11:58] #1035 closed

[2018-04-18 13:35] gabemontero commented on #1046
Thanks for the udpate @piyush1594

We'll try to track those items you listed as well, but certainly please continue to keep us up to speed on things.  As soon as it is ready, we'll try to bump the k8s client in openshift sync plugin and let you know the results.

@bparees @coreydaley fyi ^^

[2018-04-20 05:33] hrishin commented on #1046
:+1:

@gabemontero
we got stucked on release because of some technical issue on fabric8 Jenkins setup. But will get it release as soon as possible.

cc: @jaseemabid

[2018-04-20 10:55] piyush1594 commented on #1013
Hey @rohanKanojia This seems to be like not fixed yet. I am still seeing this error. You can check the logs of my latest PR here https://circleci.com/gh/fabric8io/kubernetes-client/tree/pull%2F1060 You will still see that warning.

[2018-04-20 11:33] rohanKanojia commented on #1013
I fixed this during the watch of any resource and tested it on https://github.com/arquillian-testing-microservices/openshift-deployment-testing. Looking at the logs I'm not sure if it's coming from Watch*Managers. We use Okhttp almost everywhere in this project. Perhaps @hemanik could tell if she is still facing this issue.

[2018-04-25 12:34] Nighthawk22 commented on #1041
Any idea how to work around the issue?

[2018-04-26 02:08] AndyManastorm opened #1064 "How to rollout a Deployment through k8s-client?"
Can not find the api anywhere :(

[2018-04-26 13:28] AndyManastorm commented on #1064
@iocanel sure thing.
Pls show me the way and I will try do it. It won't be easy for me cause i'm not familiar with your project.

[2018-04-26 13:37] iocanel opened #1066 "Add support for missing RBAC model and operation classes"

[2018-04-26 18:59] piyush1594 commented on #1046
@gabemontero @hrishin

Kubernetes Model 2.0.9 got released today, the new version has been reflected here. After reflecting new version #1060 also worked. Hope someone will review and merge that soon.

Will try to do the release of client asap.

Thanks

[2018-04-26 19:03] gabemontero commented on #1046
thanks for the update @piyush1594

[2018-04-27 08:52] piyush1594 commented on #1046
closing this as #1060 is merged. Time to release client

[2018-04-27 08:52] #1046 closed

[2018-04-27 10:03] B0bSapp opened #1067 "Throwing closeEvent while calling close method on WatchConnectionManager"
Hello, can anyone explain why we need to throw closeEvent(null) while closing WatchConnectionManager? I suppose that it is normal call that should not generate any events that should be handled in special way.

[2018-04-27 12:40] gabemontero commented on #1046
What release of the client should we look for?  Or where can you look/monitor to find out when the client version with the fix is released?

[2018-04-27 13:09] piyush1594 commented on #1046
Hey,

We will throw a mail to https://groups.google.com/forum/#!forum/fabric8-devclients google group whenever new release happens and also all the fixes in that. You can join this.

We will update the git tag with release notes.

Thanks

[2018-04-30 04:11] jcantrill opened #1068 "access denied ("java.lang.RuntimePermission" "accessDeclaredMembers")"
Use in versions >=2.0 cause the following exception in the elasticsearch-cloud-kubernetes plugin even though the proper permissions is listed in the security file.
[code]

[2018-05-01 15:35] gabemontero commented on #1046
OK thanks for the heads up @piyush1594

@bparees @coredaley FYI ... we have a new k8s client to try and pull in for https://trello.com/c/9882Gnrt/1488-3-update-fabric-k8s-client-in-jenkins-sync-plugin-jenkinsintegration, confirm it can get ISTs any anything else sync plugin is dealing with

[2018-05-02 10:06] hemanik opened #1070 "Error parsing openshift json template with the latest version."
`RuntimeException` thrown when trying to parse the openshift json template.

Sample json document is as follows:

[code]

Error Log is as follows:

[code]

[2018-05-02 10:10] rohanKanojia commented on #1070
Possible regression of 1399edf . Will take a look soon. Right now mugged up with lots of summit work :persevere:

[2018-05-02 15:39] gastaldi commented on #942
It would be nice if the `KubernetesDeserializer` used the ServiceLoader API to register custom extensions automatically, therefore supporting that would just requiring adding the JAR with the extension to the classpath

[2018-05-05 22:40] kunickiaj opened #1071 "kubernetes-server-mock does not set Deployment status"
It seems that kubernetes-server-mock does not set the status field of a created deployment. This means that .scale() cannot be called in a test and will cause an NPE if scale is called with wait=true.

Not sure if this is intentional, or just functionality that needs to be added.

[2018-05-06 20:16] piyush1594 commented on #1070
@rohanKanojia It is assigned to you but saw a very small fix so sent a PR. If you have done some work on it I can close my PR.

[2018-05-07 06:37] rohanKanojia commented on #1070
No, I haven't done any work on it. Thanks for the heads up :+1:

[2018-05-07 12:16] piyush1594 commented on #1070
Closing as #1072 is merged

[2018-05-07 12:16] #1070 closed

[2018-05-07 14:19] vidhy opened #1073 "ClassCastException while creating configMap"
kubernetes-client - v3.1.11
kubernetes - v1.10

Problem

Creating configMap via kube client works fine when all the value in the Map are of type string.
But it throws exception when value of type Integer (even though it is typecasted to String)
Ex .
// this works fine.
{ elasticsearch.clusterName : "elasticsearch", elasticsearch.nodes : "10.152.121.105:9300" }

// this throws exception
{ rest.logg

[2018-05-08 10:15] vidhy commented on #1073
I got this issue resolved by adding each key value pair separately and using configmap builder (instead of directly passing the Map<String, String> object to configMap.createOrReplace())

Ex.
[code]

[2018-05-08 20:59] zepouet commented on #1062
I wonder the same question. Is it compatible without using news feature of K8S 1.10 ?

Thanks a lot.

[2018-05-14 03:01] chenchun opened #1075 "watch should handle etcd old version exception"
I am running spark on kubernetes. This is the full issue description https://issues.apache.org/jira/browse/SPARK-24266

I think the exception ```too old resource version: 21648111 (21653211)``` should be better handled in kubernetes-client instead of simply throw it to the caller because resource version is cached by kubernetes-client, not by the caller. https://github.com/fabric8io/kubernetes-cli

[2018-05-14 03:02] chenchun commented on #1075
cc @foxish

[2018-05-14 18:29] zhoulu312 opened #1076 "Rolling Update StatefulSet Fail when Updating Spec->Selector"
I have problem when trying to do rolling update on a stateful set. It seems the implementation is trying to update /spec/selector/matchLabels/deployment in statefulset before actually doing the update [code](https://github.com/fabric8io/kubernetes-client/blob/696a7b60f276f3727ea6743495115416aa2ab929/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/RollingUpdater.java#L112)

[2018-05-14 22:46] zhoulu312 commented on #1076
I was able to do rolling update on statefulset by using
`k8client.apps().statefulSets().inNamespace(namespace).withName(name).cascading(false).replace(statefulSet)`
My understanding is this will skip scaling down pods in the client and let kubernetes cluster to totally handle update process. My cluster version is 1.9.7, so it will do rolling update on the statefulset if the update strategy is set

[2018-05-21 06:33] #1073 closed

[2018-05-21 13:20] joy717 opened #1078 "Is it possible to fetch Metrics?"
Can't find any API for Metrics. Is it possible to fetch them?
Thx.

[2018-05-23 06:03] zjjhzx opened #1079 "PATCH did not remove key if value is null (did not match "kubectl patch" behaviour)"
**Problem**

When I use kubectl to patch a secret, key will be removed if value == null.
When I use kubernetes-client to patch, value will be replace by null.

**Demo**

- kubectl test

command
[code]
result - key for 'username' is deleted

[code]

- kubernetes-client test

command
[code]
result - value for key 'username' is null

[code]

**Discussion**

In kubernetes,  [rfc7386](https://github.co

[2018-05-24 09:23] skyline75489 opened #1082 "Perf: exec in PodOperationsImpl repeatly creates Config instance"
https://github.com/fabric8io/kubernetes-client/blob/c78c1a49508b735c1c0d9ca7e3b375753a63952f/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/PodOperationsImpl.java#L266

This significantly reduces performance.

[2018-05-24 12:42] dennis-benzinger-hybris commented on #995
Are egress network policies supported now?

[2018-05-24 12:44] piyush1594 commented on #995
Its WIP right now, you can see #1020

[2018-05-24 14:18] uce commented on #807
This issue still persists for `kubernetes-client:3.1.11` with `kubernetes-model:2.0.9`. For a similar operation as shown by @kkucera for a `ConfigMap`, I get:

[code]

[2018-05-24 22:34] damienjoldersma commented on #1068
Any luck? I just ran in to this as well.

[2018-05-25 01:50] jcantrill commented on #1068
None, I ended up reverting to a previous client as it supported the functionality I needed.  I defer to @iocanel  who may be able to offer a solution.

[2018-05-25 08:26] #1082 closed

[2018-05-27 17:31] stevewolter opened #1083 "Mock Kubernetes server only handles core and extensions API groups"
The K8s API has the concept of "API groups" (https://kubernetes.io/docs/concepts/overview/kubernetes-api/#api-groups), which is encoded in the API path like /apis/GROUP/VERSION/... . For example, there are predefined API groups like "extensions" or "autoscaling". If you define custom resources, they're typically in different groups.

The current regexp in KubernetesAttributesExtractor.java is hard

[2018-05-28 13:17] iocanel commented on #1071
@kunickiaj I assume that you are using kubernetes-server-mock in CRUD mode, right?

Yes, in this case the mock server can't possibly know about status. I am not sure of a strategy we could implement in order to support something like this. I am open to discussion though.

[2018-05-29 14:36] #1083 closed

[2018-05-30 08:17] ibuziuk opened #1085 "Impersonate-User / Impersonate-Group / Impersonate-Extra-* are not configurable for DefaultOpenShiftClient (works fine with DefaultKubernetesClient)"
`Impersonate-User / Impersonate-Group / Impersonate-Extra-` are meant to be supported by both OpenShift & Kubernetes clients via `ImpersonatorInterceptor` [1]. However, the following sample with setting `Impersonate-User` header works only for Kubernetes client:

[code]
If  `KubernetesClient client = new DefaultKubernetesClient(config);` from the sample would be changed to `DefaultOpenShiftClient`

[2018-05-30 09:00] ibuziuk commented on #1085
@lulf hi, could you please comment on this issue since you seem to be most aware of `ImpersonatorInterceptor` details? This issue currently blocks lockdown of che namespaces on openshift.io  - https://github.com/redhat-developer/rh-che/pull/688 The fix seems to be pretty straight-forward (adding support of Impersonate settings in the `RequestConfig` [1] constructor). However, this fix would probab

[2018-05-30 09:55] lulf commented on #1085
@ibuziuk IIRC, the impersonation support was limited to a per-request setting which is why it wasn't added to the RequestConfig constructor itself.

So the intended use is that you can set it per request (with both openshift and in kubernetes) using code like this:

[code]

[2018-05-30 12:36] stevewolter opened #1087 "Mock server can't list custom resources"
List requests on the mock server always return the empty response, even if matching objects exist.

This is because the KubernetesResponseComposer unserializes all items from the list as standard Kubernetes resources, which doesn't work for custom resources. Luckily, this is easy to fix, I'll send a PR.

[2018-05-30 13:48] ibuziuk commented on #1085
@lulf thanks for the input, but unfortunately  adding RequestConfig per request will not work for our use-case. Basically, we are building config per che workspace [1] and than using it for creating custom UnclosableOpenShiftClient [2]. What I think should help in our case is adding `ImpersonatorInterceptor` directly to our OkHttpClient [3] .

[1] https://github.com/redhat-developer/rh-che/blob/ma

[2018-06-01 14:24] ibuziuk opened #1089 "Query parameters are not correctly processed if set in `masterUrl`"
[code]

The sample above fails with the following trace:

Basically, query parameter becomes a url segment and instead of expected `https://oso-master-url/api/v1/namespaces/namespace/serviceaccounts?param=value`, the following url is used while performing requests to oso `https://oso-master-url/?param=value/api/v1/namespaces/namespace/serviceaccounts`. Currently, query parameters are not handled a

[2018-06-04 06:50] yybear commented on #1059
I meet the same problem, Did you solve it?

[2018-06-04 08:09] sleshchenko opened #1090 "Connections are leaked when java.net.ProtocolException occurs while a WebSocket establishing"
Hi folks,

I'm from Eclipse Che Team, we use fabric8-kubernetes client to work with Kubernetes/OpenShift clusters.

I discovered an issue with connections leaks when java.net.ProtocolException occurs while a WebSocket establishing. An example of it is trying to execute a command in a non-existing pod.

It can be stably reproduced on Mock KubernetesServer or real K8s/OS cluster. I have prepared a t

[2018-06-04 08:21] piyush1594 commented on #1090
Hey @sleshchenko

Can you please provide the information about client version you are using,

[2018-06-04 08:26] sleshchenko commented on #1090
@piyush1594 Thanks for really quick response. We use 3.1.0 kubernetes-client, but the test that I provided is based on `master` branch. I guess I'll reproduce it easily on ` 3.1.12`. Let me try.

[2018-06-04 08:38] sleshchenko commented on #1090
@piyush1594 I tried and I confirm that it can be reproduced on Kubernetes client 3.1.12. Here is a branch based on 3.1.12 for testing https://github.com/sleshchenko/kubernetes-client/commits/connectionLeaksTest_v3.1.12

[2018-06-04 08:52] piyush1594 commented on #1090
Thanks @sleshchenko We will take a look at it. cc @rohanKanojia If you can take a look.

[2018-06-04 10:09] jmartisk commented on #685
Is there any solution to this? I'm facing the same issue.

[2018-06-04 19:30] sumangit789 opened #1091 "Rolling update using replica set does not work"
Issue with client.extensions().replicaSets().inNamespace("namespace").withName("replicasetname").rolling().updateImage("new image");

when i try to update the image of a container using above code, the container image remains same as previous image and it almost took ~30 mins to return from the method call.
when debug the code i found issue might be with below line

      oldObj = editable.done();

[2018-06-04 19:55] sumangit789 commented on #283
@parikhyash, may i please know , any blog posted on this issue?
@iocanel,is the same can be done using client.extensions().replicaset()?

[2018-06-05 08:02] elonmia commented on #1062
Any updates on this issue?

Thanks a lot

[2018-06-05 08:40] piyush1594 commented on #1062
Right now, work is going on to support 1.9, which is here #1020

[2018-06-05 08:53] zepouet commented on #1020
Hello,

Just to understand who use it ? Openshift ? It is why you don't need mandatory to update it to the last release. I think it is normal as the usecase.  Thanks about the work !

Best regards,

[2018-06-06 15:12] daald opened #1093 ""unexpected end of stream" when debugging with TRACE"
The following code

    org.apache.log4j.Logger.getRootLogger().setLevel(org.apache.log4j.Level.DEBUG);
    client.buildConfigs()
        .inNamespace("mynamespace")
        .withName("myname")
        .instantiateBinary()
        .asFile("myfile.jar")
        .fromFile(new File("myfile.jar"));

works. But as soon as I set the loglevel to TRACE:

    org.apache.log4j.Logger.getRootLogger().setLeve

[2018-06-08 04:46] hrishin commented on #1090
@sleshchenko can you try close the stream/connection to avoid connection leaks?

[code]

[2018-06-08 05:50] sleshchenko commented on #1090
@hrishin I think that try-with-resources statement should it do for me. But of course, I can try to close it obviously.

[2018-06-08 06:00] sleshchenko commented on #1090
@hrishin Good news, try-with-resources statement works as it supposed to do. So, obviously closing of stream/connection doesn't fix an issue.

[2018-06-08 11:18] howfree opened #1095 "statefulset scale"
I created some pods with Kind "StatefulSet",
how to scale them  by kubernetes-client (Java)  like: kubectl scale --replicas=10  -f koala-decoder.yaml?
I didn't find related Java codes  in its example folder.
Thanks.

[2018-06-09 22:45] hrishin commented on #1089
@ibuziuk its limitation to add query string params to the client request. Possible option to send query params is using OKHttpClient request interceptor. (though its kind of overkill to add query parameters)

[code]

[2018-06-11 06:31] piyush1594 commented on #1087
Closing this.

[2018-06-11 06:31] #1087 closed

[2018-06-11 06:36] piyush1594 commented on #1095
Hey @howfree

It can be achieved using

`client.apps().statefulSets().withName("repl1").scale(5, true);`

Thanks

[2018-06-11 06:37] piyush1594 commented on #1095
Closing it for the time being

[2018-06-11 06:37] #1095 closed

[2018-06-11 10:09] piyush1594 commented on #1055
closing this in #1056

[2018-06-11 10:09] #1055 closed

[2018-06-12 07:34] sutaakar commented on #448
Current OpenShift version seems to support Integer parameters values [1]. Are there some plans to add this feature also here into the client?

[1] https://docs.openshift.org/latest/dev_guide/templates.html#writing-parameters

[2018-06-12 12:27] piyush1594 commented on #1055
Hey, @dipak-pawar fix for this is available in  Kubernetes Client 3.2.0

[2018-06-13 12:51] iocanel commented on #942
The `KubernetesDeserializer` has been updated like @gastaldi  described, so from the client side we are done.

There relevant commit is:

https://github.com/fabric8io/kubernetes-model/commit/16c5203f592726471822cdf598dead2087adabf4

The istio java api now only needs to provide an implementation of `KubernetesResourceMappingProvider` for example:

https://github.com/fabric8io/kubernetes-model/blob/

[2018-06-13 12:51] #942 closed

[2018-06-13 12:55] piyush1594 commented on #942
This feature is in Kubernetes-Client 3.2.0, Thanks

[2018-06-15 12:14] vasilgramov commented on #1078
+1

[2018-06-15 13:04] rohanKanojia commented on #1090
Hm, One more place where the response is not closed properly . This is coming from here:https://github.com/fabric8io/kubernetes-client/blob/3b5c121c95725abfb6c4150c1e60515e2f8c3d1c/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/PodOperationsImpl.java#L265-L268

[2018-06-15 13:35] Sufod opened #1098 "Unable to create LimitRange from yaml"
Hi,

I'm encountering a problem to create LimitRange for a namespace.

Everything is working fine if I create the LimitRange object using the DSL, but when I'm trying to load it from a Yaml, I get this exception:

	at io.fabric8.kubernetes.client.dsl.internal.NamespaceVisitFromServerGetWatchDeleteRecreateWaitApplicableImpl.<init>(NamespaceVisitFromServerGetWatchDeleteRecreateWaitApplicableImpl.jav

[2018-06-15 23:03] ljnelson opened #1099 "CustomResourceDefinitions: withResourceVersion() causes NoSuchMethodError"
I'll work over the next few days to get a reproducer, but I'm following the general example code in [`CRDExample.java`](https://github.com/fabric8io/kubernetes-client/blob/3b5c121c95725abfb6c4150c1e60515e2f8c3d1c/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/CRDExample.java#L78).

I'm using `kubernetes-client` 3.2.0 and `kubernetes-model` 2.1.1.

I have a custom resource definit

[2018-06-16 19:13] ljnelson commented on #1099
FYI I have worked around this issue [using a series of reflection hacks](https://github.com/microbean/microbean-kubernetes-controller/blob/7e3d40e0cc834173b900832faaedd815771e893f/src/main/java/org/microbean/kubernetes/controller/Reflector.java#L547).

[2018-06-17 06:03] ljnelson commented on #1099
My workaround leads to a strange interaction with `KubernetesDeserializer`, where another problem lies.

Briefly, my workaround uses various horrible reflection hacks to call the actually existing constructor in `CustomResourceOperationsImpl`, supplying arguments that would be supplied were the constructor that the code is _trying_ to call to exist.

In so doing, I see that the `registerCustomKind

[2018-06-18 20:58] jcantrill commented on #888
@iocanel This is the issue I originally logged.

[2018-06-18 22:35] brentpearson commented on #1018
+1 for cronjobs!

[2018-06-19 06:51] hrishin commented on #1090
@rohanKanojia  can we address this along with #1067?

[2018-06-19 07:13] iocanel commented on #888
@jcantrill: I debug your example locally and I think I have a better view now.

The client does not add the oauth token, unless its already `cached` **OR** the server responds with 400-ish status code (401 or 403). It seems though, that in the case of SubjectAccessReview the http status code is 200 and thus our interceptor **DOES NOT** add the oauth token.

We will need to check if there will be a

[2018-06-19 10:33] joy717 commented on #1078
@vasilgramov thx bro.
what if pods? and I need some metrics like "usage"/"usage_rate".  :(

[2018-06-21 09:29] zxbu opened #1102 "Do you have plan to support Istio v1alpha3 routing API"
Hi:
Do you have planto support Istio ?
Istio 0.8 is LTS version, It would be wonderful if kubernetes-client will support  Istio v1alpha3 routing API.
This is introducation: https://istio.io/docs/reference/config/istio.networking.v1alpha3/

[2018-06-21 15:20] hrishin commented on #1102
@zxbu [Istio Java API](https://github.com/snowdrop/istio-java-api) could address this need?

[2018-06-22 03:41] zxbu commented on #1102
@hrishin Thanks, It give me a lot of help, I can use it just only little work.
By the way:
Do you have plan to totally  support  Istio in kubernetes-client like Deployment Ingress ?

[2018-06-25 08:03] fbird commented on #993
hi @piyush1594

thanks for your reply,  it is a general problem, all the resource has the same problem, and my kubernetes client version is 3.0.3

[2018-06-26 13:29] lordofthejars opened #1104 "Query parameters are not correctly processed if set in `masterUrl`"
https://github.com/fabric8io/kubernetes-client/issues/1089

[2018-06-26 13:36] piyush1594 commented on #1104
@lordofthejars This is by mistake or any reason for this?

[2018-06-26 13:48] lordofthejars commented on #1104
@piyush1594 Not a mistake it is just to create a branch with the correct issue number.

[2018-06-26 13:55] piyush1594 commented on #1104
Why do you want to create a branch or so? I did not get

[2018-06-26 13:57] lordofthejars commented on #1104
Because I never work on master, so I create a branch from master containing the local issue number. Then I work there and finally I send the PR from my branch to master (upstream).

[2018-06-26 14:00] rohanKanojia commented on #1104
@lordofthejars : that's fine, but I think what @piyush1594 is asking here is why have you created another issue for that. If you just need issue number you can use #1089 , right?

[2018-06-26 14:01] lordofthejars commented on #1104
Ah right I didn't see that it was duplicated.

Duplicated by https://github.com/fabric8io/kubernetes-client/issues/1089

[2018-06-26 14:01] #1104 closed

[2018-06-26 14:05] piyush1594 commented on #1104
@lordofthejars I also follow the same process as you do. But I mean the same Rohan said. You got it and fixed it. Thanks

[2018-06-27 04:28] ljnelson opened #1105 "Nit: pom.xml should have <links> property"
It sure would be helpful for us users of javadoc.io if the `pom.xml` had a `<links>` property in it.  Like this:

    <links>https://static.javadoc.io/io.fabric8/kubernetes-model/2.1.1</links>

(More on the `links` property here: https://maven.apache.org/plugins/maven-javadoc-plugin/javadoc-mojo.html#links.  The fact that the **User Property** is `links` is what allows you to simply set it in a `<

[2018-06-27 07:32] ensonic opened #1106 "what is 'curdMode' in mock/KubernetesServer"
See:
https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-server-mock/src/main/java/io/fabric8/kubernetes/client/server/mock/KubernetesServer.java

There is a constructor arg `boolean curdMode`, which maybe is `crudMode` (create/replace/update/delete).
Anyway it would be awesome to have at least a one-line comment there what it is and when to use which mode.

I am happy to send a

[2018-06-27 07:37] iocanel commented on #1066
Yeah, I think that there are missing stuff.

[2018-06-27 07:52] sta-szek commented on #809
Hi,
I encounter similar issue when using: https://github.com/spring-cloud-incubator/spring-cloud-kubernetes in my spring boot app.

I can build and run app locally, where I have configured kubeconfig.
However when building the application in bamboo agent (which uses docker agent: https://hub.docker.com/r/pojo/docker-bamboo-agent/) I have exception:
[code]

[2018-06-27 08:45] piyush1594 commented on #1066
@iocanel @hrishin Adding the support of Role and RoleBinding then

[2018-06-27 09:01] ensonic commented on #1106
It is probably CRUD mode:
https://github.com/fabric8io/kubernetes-client#mocking-kubernetes

[2018-06-27 10:24] ensonic opened #1109 "something drops '-' from Singular/Plural forms of CustomResources."
I define a CustomResource like this:
[code]
Now a simple test fails:
[code]
and this fails with a 404. I added some more printf
https://github.com/ensonic/kubernetes-client/commit/29d8096a25b961cd88cfeb9b7aafa0476560107d
and what I see is this:
[code]

So, something elmininated the '-' in the kind, when the object was created. When I do this with kubernetes itself it works though. Also
https://kub

[2018-06-27 10:39] zhaoshan86 opened #1110 "A fabric k8s client run in a kubernetes cluster can not receive event from another kubernetes cluster"
Hi,
  I have  two kubernetes cluster ( let's call them  Cluster A and B ), I run a pod with fabric k8s client in 'Cluster A' , and use the client to manage 'Cluster B'. The CRUD operations works fine, but the watcher can not receive any event from 'Cluster B'.

  I try to run the client out of kubernetes cluster to manage 'Cluster B', or use the client to manage the host kubernetes cluster (Cluste

[2018-06-27 12:11] #1106 closed

[2018-06-28 01:52] zhaoshan86 commented on #1110
I made a stupid mistake in my code. Forget this issue. :joy:

[2018-06-28 01:52] #1110 closed

[2018-06-28 05:46] KaiJunYan commented on #916
@andreasschramm
cloud you tell me how to use a KubernetesListbuilder with validationEnabled=false,  thanks

[2018-06-28 08:05] piyush1594 commented on #1089
Closed in #1104

[2018-06-28 08:05] #1089 closed

[2018-06-28 10:54] lordofthejars opened #1112 "Query parameters are not correctly processed if set in `masterUrl` with endpoints with QP"
See https://github.com/fabric8io/kubernetes-client/pull/1108#issuecomment-400949245 where it is explained this error case.

[2018-06-29 12:16] piyush1594 commented on #1053
Hey @rishi-anand Kubernetes-Model 3.0.0 released with OpenShift 3.9 and Kubernetes 1.9 :tada:

[2018-06-29 16:01] rishi-anand commented on #1053
Thanks, @piyush1594. I will take a look at the changes.
I wish if we can have a small phone call, it will help me to understand more about how to start contributing. How is Kubernetes-model related with the kubernetes-client repository and many more small doubts.

I will also add points discussed during the phone call in a wiki and it may help other future contributors. Let me know if it is feasib

[2018-07-02 09:03] lordofthejars commented on #1085
@ibuziuk @lulf I have taken this issue to check if any development is required or not. I have not the deep details about this issue,  but after what both of you discussed It seems that the best way to proceed is that `ImpersonatorInterceptor` is added directly in che OkHttpClient instance. Is it feasible? Do you need anything from kubernetes client to do it? Or a different approach would be better

[2018-07-02 09:41] lulf commented on #1085
@lordofthejars I think the fix is to add the impersonation parameters to the RequestConfig object, i.e impersonateUser, impersonateGroup, Map<String, String> impersonateExtra .

[2018-07-02 10:11] lordofthejars commented on #1085
But @ibuziuk says that it should not be by request

[2018-07-02 10:18] lulf commented on #1085
@lordofthejars I think there is a default RequestConfig, so its not per request. Making sure the impersonate settings  are copied in the same as other settings on the RequestConfig should be sufficient.

[2018-07-02 11:45] lordofthejars commented on #1085
@lulf

`RequestConfig` already contains these parameters. What I have sen is that `Config` objet does not set them to the created `RequestConfig`, so the solution would be add them in `Config` constructor and set them?

[2018-07-02 12:14] lulf commented on #1085
@lordofthejars Yes, you are right, Config is where they should be added.

[2018-07-02 16:01] lordofthejars commented on #1085
@lulf @ibuziuk I have sent this PR https://github.com/fabric8io/kubernetes-client/pull/1117 to fix this problem. Can you review, please? I cannot add you as reviewer of the PR

[2018-07-04 08:38] piyush1594 opened #1119 "Regression Tests Breaking"
Regression Tests are breaking more often because of these 3 tests and are kind of blocking for all the PR's. We should make it work more reliably.

[code]

The error is something like this
[code]

[code]

[2018-07-04 19:37] piyush1594 commented on #1112
Closed in #1114

[2018-07-04 19:37] #1112 closed

[2018-07-04 20:29] piyush1594 commented on #1098
@Sufod

Thanks for opening the issue. Raised PR #1120

[2018-07-04 20:33] piyush1594 commented on #1052
@swqmaven Support of PetSet is not there in client right now.

[2018-07-04 20:47] piyush1594 commented on #1025
@bjartek This issue needs to be in the model. Kubernetes Client uses model for all the objects. Opened issue https://github.com/fabric8io/kubernetes-model/issues/326 and raised PR https://github.com/fabric8io/kubernetes-model/pull/325 to resolve this. Closing this.

[2018-07-04 20:47] #1025 closed

[2018-07-04 20:55] piyush1594 commented on #1085
Closed in #1117

[2018-07-04 20:55] #1085 closed

[2018-07-04 20:58] bjartek commented on #1025
Thanks!

[2018-07-04 21:16] piyush1594 commented on #861
@rjeberhard

Support for this has been added in https://github.com/fabric8io/kubernetes-client/pull/1054 and available in client 3.1.12 Thanks

[2018-07-04 21:16] #861 closed

[2018-07-04 21:18] piyush1594 commented on #849
@roughbits01

Please try

[code]

[2018-07-04 21:18] #849 closed

[2018-07-04 21:19] piyush1594 commented on #946
Now, this is in readme. Closing this.

[2018-07-04 21:19] #946 closed

[2018-07-05 06:50] piyush1594 commented on #1098
Closed in #1120

[2018-07-05 06:50] #1098 closed

[2018-07-06 07:02] valentinabojan opened #1122 "Executing a simple request (e.g. list) results in a 400 Bad Request when using basic authorization"
### Description:
We created an OpenshitClient using basic authorization and tried to use it to execute a simple action like listing all deployments from a specific namespace. This operation resulted in a 400 Bad Request response.
Note: Trying the same deployment listing, but having a client configured with an OAuthToken works perfectly.

### Code to reproduce the bug
[code]

### Result (with stack

[2018-07-06 07:06] piyush1594 commented on #1122
@valentinabojan

Can you provide the details about the kubernetes-client version you are using. Thanks

[2018-07-06 07:09] valentinabojan commented on #1122
We are using io.fabric8:openshift-client:3.2.0

[2018-07-06 09:12] piyush1594 commented on #1122
@dipak-pawar Would you like to take a look at this?

[2018-07-06 09:44] dipak-pawar commented on #1122
@valentinabojan Can you try on `io.fabric8:openshift-client:3.1.0`?

[2018-07-06 09:56] valentinabojan commented on #1122
@dipak-pawar Yes, same behavior with io.fabric8:openshift-client:3.1.0.

[2018-07-06 10:00] dipak-pawar commented on #1122
@valentinabojan Thank for confirmation. As you already know all the details about why it's failing. Would you like to provide a fix for it?

[2018-07-06 10:59] valentinabojan commented on #1122
@dipak-pawar The details that I put in the ticket is what I gathered making a debug to see why our request fails. Lookig at the code, the easiest fix that I could come with is to make the call that gets the token without passing the Authorization header (OpenShiftOAuthInterceptor:121):
[code]
would go into
[code]

But we don't know the internals of this project at all (we barely started using it y

[2018-07-06 18:23] wheleph opened #1125 "ConfigMap labels are ignored when using mock KubernetesServer"
Here's the simple method that fetches list of configmaps with a particular label value:

[code]

In the unit test below one configmap has proper label and the other one has not. So I expect that the method returns 1:

[code]

However the unit test fails because the method return 2 instead of 1.

I'm using `kubernetes-client` and `kubernetes-server-mock` version 3.2.0

Here's the complete source co

[2018-07-07 22:07] scholzj opened #1126 "Add option to disable hostname verification without disabling the certificate validation"
The configuration options `kubernetes.trust.certificates` / `KUBERNETES_TRUST_CERTIFICATES` makes it possible to disable the validation of server certificates and it also disables the validation of the hostname where the client is connecting against the hostnames listed in the certificate.

However in some cases it might be useful to disable the only hostname verification. For example because the

[2018-07-09 08:22] piyush1594 commented on #1119
Closed in #1121

[2018-07-09 08:22] #1119 closed

[2018-07-09 10:29] wenjun93 opened #1128 "should Watcher interface add history obj for "MODIFIED" action?"
In golang client, for each update event, can get both oldObj, newObj, it's convenient to do the comparison. https://github.com/kubernetes/client-go/blob/master/tools/cache/controller.go#L188.

While in java client, for "MODIFIED" action, we can only get the newObj, so need to manually cache the history obj if comparison is needed, it's extra work, can it be done in java client like client-go? http

[2018-07-09 15:16] piyush1594 commented on #1020
Fixed in #1103 Closing this.

[2018-07-09 15:16] #1020 closed

[2018-07-10 10:38] rohanKanojia commented on #920
Duplicate of #770

[2018-07-10 10:38] #920 closed

[2018-07-10 10:56] tremes commented on #448
JBoss templates uses this option - e.g https://github.com/jboss-container-images/datagrid-7-image/blob/datagrid-services-dev/templates/caching-service.json#L149 and so the attempt to load (or access) them is failing.

[2018-07-11 10:08] skonto commented on #1018
Could you also add (unless it already exists) a method to wait on some result/condition from a command executed against a pod (required it here https://github.com/apache/spark/pull/21652#discussion_r200135218).
Timeouts like here: https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/ExecPipesExample.java#L60
look a bit arbitrar

[2018-07-11 10:12] rohanKanojia commented on #1018
@skonto Do you think #989 matches your usecase? It's in our plan for implementation

[2018-07-11 10:39] skonto commented on #993
I see the same, so I dig into the generated Pod.java and it seems the field is ignored during serialization/deserialization:

`    @JsonIgnore
    private Map<String, Object> additionalProperties = new HashMap<String, Object>();`