[2019-04-19 08:49] rohanKanojia commented on #1373
@kunal-kushwaha : Would you like to work on this?

[2019-04-19 09:21] kunal-kushwaha commented on #1373
@rohanKanojia Yes, I'm trying to reproduce this error. What exactly is the use for generateName? Also is it an option to pass some default name rather than throwing an exception?

[2019-04-19 09:58] rohanKanojia commented on #1373
generateName generates a random name like specified in field. Yes, passing default name rather than throwing exception seems like an acceptable solution to me.

[2019-04-19 10:48] GrigorievNick commented on #758
@rohanKanojia I can do it, but after long pause. 1 month.
Sorry but I plan long trip, with out notebook.

I think, thta i find root cause,
`DeploymentReaper` -> line 238
[code]
But i change this, a lot of thing stop work.
I will need much more time to test such fix, then i have.
If it ok, i can come back to this issue at the end of May.

[2019-04-19 11:16] kunal-kushwaha commented on #1373
I was thinking about generating a random name in the method itself incase the name is null.

[2019-04-19 12:54] skonto commented on #1384
@rohanKanojia how hard would be to do this and keep things in sync with the go client. Any thoughts?

[2019-04-19 16:59] ljnelson commented on #1384
In the meantime you can see https://github.com/microbean/microbean-kubernetes-controller.

[2019-04-22 09:44] #1376 closed

[2019-04-22 10:26] rohanKanojia commented on #1497
@sanchitraizada : I tried reproducing your example. I think there is some problem in your custom resource yaml itself, Are you able to create it with plain `kubectl create -f` command? I wasn't able to create it, when I tried I got:
[code]

When I tried some other custom resource example from internet, like [this](https://github.com/coreos/prometheus-operator/blob/master/example/user-guides/alerti

[2019-04-24 05:28] rohanKanojia commented on #1493
Did you face any problem here: https://github.com/fabric8io/kubernetes-client/blob/master/CONTRIBUTING.md#getting-source-code ? Would be awesome if you could share feedback on how it can be improved...

[2019-04-24 05:29] rohanKanojia commented on #1497
@sanchitraizada : Did you get time to check this? I think we can close this issue.

[2019-04-24 05:34] rohanKanojia commented on #1462
@dkc-bitsian : Did you get time to get back on this? As far as I can suspect it looks like there is some problem in your object itself. Are you able to apply same object onto api server using  `kubectl apply -f`?

[2019-04-24 05:39] rohanKanojia commented on #1462
@dkc-bitsian @nikkatalnikov : Sorry, I don't have much idea about what spark is. But I would be able to help if provided a reproducible use case(i.e CRD yaml and code which is creating custom resource(already shared)

[2019-04-24 05:42] rohanKanojia commented on #1464
@jwlai : HI, Have you tried creating this custom resource like this:

https://github.com/fabric8io/kubernetes-client/blob/141668a882ed8e902c045a5cd0a80f14bd17d132/kubernetes-itests/src/test/java/io/fabric8/kubernetes/RawCustomResourceIT.java#L71-L73

[2019-04-24 05:46] rohanKanojia commented on #1458
@GrigorievNick @thousandhu : Hi, now you can create custom resources directly from yaml in Fabric8 Kubernetes client. Here is an example:

https://github.com/fabric8io/kubernetes-client/blob/141668a882ed8e902c045a5cd0a80f14bd17d132/kubernetes-itests/src/test/java/io/fabric8/kubernetes/RawCustomResourceIT.java#L72

[2019-04-24 05:47] rohanKanojia commented on #1458
But creating Pojos is not supported at the moment :-(

[2019-04-24 15:19] traviswinter opened #1502 "Unable to update a Pod using createOrReplace"
We recently upgraded from 4.1.3 to 4.2.2 and there appears that some validation changed occurred that is being hit from createOrReplace() from a kubeClient.load() resource.

Previously if I ran the following Pod yaml through the following code twice, it would create the first time and then update the second time:

`  	Config config;
	try {
		config = Config.fromKubeconfig(contents);

	  	final Kub

[2019-04-24 15:50] traviswinter commented on #1502
After investigating it looks like something changed in the HasMetadataOperation that causes the resourceVersion to be null.

This is the 4.2.2 pod being sent n PodOperationsImpl.handleReplace():

This is the 4.1.3 pod being sent n PodOperationsImpl.handleReplace():

Notice that resourceVersion is missing in the first object

[2019-04-24 16:20] traviswinter commented on #1502
After further investigation it looks like the Kubernetes API does not allow what I was doing with Pods (eg. load in a Pod yaml once for create, then do it again for update). That error does appear in 4.1.3. This is still an issue for updating a service however:

[2019-04-24 21:19] sanchitraizada commented on #1497
Sure - we can close this.

[2019-04-24 21:19] #1497 closed

[2019-04-25 16:33] shahpankil opened #1503 "Edit on Ingress to update LoadBalancerIngress returns HTTP Status 200, but Ingress is not actually updated"
I am developing my own IngressController(like nginx with my service as LoadBalancer). So I watch for Ingress objects and after I have parsed them I try to update the IngressStatus by adding the LoadBalancerIngress of my IngressController.
My test-ingress of a hello_world service which leverages my IngressController is mentioned below:
"
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name

[2019-04-25 17:01] rohanKanojia commented on #1503
Shouldn't you be editing spec instead?

[2019-04-26 12:30] cc19931002 opened #1504 "example code throws NullPointerException"
io.fabric8.kubernetes.examples.ExecPipesExample throws NullPointerException in line 59, becasuse field input is null.
I have read the code and did not find anywhere the field input is initialized。

[2019-04-26 12:59] rohanKanojia commented on #1504
I think you should look at ExecWebSocketListener

[2019-04-29 05:02] mchoma opened #1505 "Unexpected response(403 Forbidden), to the authorization request. Missing header:[Location]!"
With OCP 4.0 / 4.1 (Kubernetes Master Version v1.13.4+81fc896) we are facing problem with fabric8 client authenticating using username/password - `IOException: Unexpected response(403 Forbidden), to the authorization request. Missing header:[Location]!` We have workarounded it by using token. Same code works ok with OCP 3.11

[code]

[2019-04-29 07:09] shahpankil commented on #1503
The API to assign new IP to a service of type ClusterIP is available under editStatus. Also status and LoadBalancerIngress are available under editStatus.
questions :
1. Do you mean to say that object model for fabric8io is different than kubernetes ingress model ?
2. Any specific reason why shall I use editSpec to assign new IP and not editStatus?
3. If I need to use editSpec, then how do I assig

[2019-04-29 21:26] kvangrae commented on #1175
I've encountered the same issue.

[2019-04-30 02:23] l0yu commented on #1279
@rohanKanojia ^^ I run into same issue when switch from 4.0.3 to 4.10
can repo by sample code
https://github.com/fabric8io/kubernetes-client#following-events
[code]

[2019-04-30 06:55] rohanKanojia commented on #1279
okay, let me look into this.

[2019-04-30 10:52] franciscoRdiaz opened #1507 "Impossible copy or read a directory from a pod"
Hi,

When I try to copy or read a directory from a pod to localhost, kubernetes-clien doesn't return any error but the directory is not copied either.

[code]

I've found the problem in your code. There are two errors in the class PodOperationsImpl but they are easy to fix. Is necessary to do the test? At this moment there is no test for this fuctionalities and I have implemented the changes in my

[2019-04-30 10:55] rohanKanojia commented on #1507
we do have a test to check these, see https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-itests/src/test/java/io/fabric8/kubernetes/PodIT.java#L168

[2019-04-30 11:19] shahpankil commented on #1503
I captured the HTTP request/response. I am noting them below.
Request(from fabric8io client):
-------------------------------
PATCH https:Content-Type:application/json-patch+json;charset=utf-8
Content-Length:104
Host:localhost:6445
Connection:Keep-Alive
Accept-Encoding:gzip
User-Agent:okhttp/3.9.1
[{
		"op": "add",
		"path": "/status/loadBalancer/ingress",
		"value": [{
				"hostname": "localhost"

[2019-04-30 11:54] franciscoRdiaz commented on #1507
That test is for reading files, not for reading directories, but it would be very similar. If there was a test for this functionality, someone would have found the problem. The difference is in the following line,:
`InputStream is = client.pods().inNamespace(currentNamespace).withName(pod1.getMetadata().getName()).dir("/msg").read()`
To copy directories you have to change `.file` by `.dir`

[2019-04-30 12:03] rohanKanojia commented on #1507
oh, I see. Could you please raise a PR to fix this if you have time?

[2019-04-30 12:16] franciscoRdiaz commented on #1507
Sure.

[2019-05-02 06:51] #1507 closed

[2019-05-03 11:43] kchrusciel opened #1510 "Is there any way to handle KubernetesClientException?"
Hi,

I have a question, is there any way to handle `KubernetesClientException` when there is problem with connection?

Right now `KubernetesClientException` is handled in the error logs. I want to check this exception on my side (I don't want to log this informations):

[code]

Also result of `loadFromKubeconfig` is ignored:

[code]

[2019-05-04 12:43] roksolana-d opened #1511 "Is it possible to stream Pod logs?"
I am trying to get pod logs in real-time using watchLog method. My application runs about 10 minutes so I need this time to get all the logs. However, to get the whole log I had to set thread sleep which is not the best practice.
So is it possible to stream logs in some way until the application terminates?

Here is the way I tried to do it:

[code]

I tried to get the logs based on the pod status

[2019-05-04 13:29] rohanKanojia commented on #1511
I think there is, see below example(but without passing any parameter to `tailingLines()`: https://github.com/fabric8io/kubernetes-client/blob/94bba0b23effd38992d0219a8aecc2c009989d48/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/PodLogExample.java#L51-L56

[2019-05-04 17:02] roksolana-d commented on #1511
I tried using tailingLines, but it does not work without parameters and I need the whole log of the pod not just part of it. Also, this example shows usage of Thread sleep and it's not what I am looking for.

[2019-05-04 17:37] rohanKanojia commented on #1511
Sorry, I meant without `tailingLines`... Looking at the code, it looks like default is follow option. Have you tried without `tailingLines()` parameter and without `Thread.sleep`?

https://github.com/fabric8io/kubernetes-client/blob/31ddcea6d95cd9a12be6f5ea0aa6285e7ee0d3bf/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/PodOperationsImpl.java#L192

[2019-05-04 18:44] roksolana-d commented on #1511
Yes, I tried without tailingLines method call.  The result is exactly the problem I am asking about. I have to set up Thread sleep because without it the application will terminate after some default time period.

[2019-05-04 19:30] rohanKanojia commented on #1511
Okay, so if you don't want to use `Thread.sleep` maybe you can use `waitUntilCondition` functionality like this:
[code]

But you need to provide wait a timeout period.

[2019-05-05 08:47] zhengzepeng commented on #1474
I face the problem like that,but when i use Thread.sleep to do some delay,it doesn't work~the resource still here,it can't delete!!!!!!
My kubernetes version is 1.11.0,and kubernetes-client is 4.2.2~

[2019-05-05 09:10] iocanel commented on #1474
The tested in the description is not valid, meaning that the API server doesn't guarantee that deletion is going to happen before returning.

This is also the case for kubectl and oc.

Now if we have performance related issues, making things even worse, then we should look into it.

[2019-05-05 11:26] kchrusciel opened #1512 "Change context/cluster programmatically"
Is there any way to change context/cluster using kubernetes client?

[2019-05-05 11:40] rohanKanojia commented on #1512
what kind of context? Are you talking about [config](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/JobExample.java#L41) object?

[2019-05-05 13:52] kchrusciel commented on #1512
I talking about `kubectl config set-context CONTEXT_NAME`

[2019-05-06 10:51] mnovak1 commented on #1505
The issue is that:
`curl -X GET -H "Authorization: Bearer $(echo -n kubeadmin:ivHQv-NM9xd-MtiPW-sejsD | base64)" https://api.eap-qe-ocp41-cluster.eap-qe-ocp41-cluster.fw.rhcloud.com:6443/oauth/authorize?response_type=token&client_id=openshift-challenging-client` gives

[code]
If token is used instead then it works:
[code]

This appears to change in Openshift 4.1 API but it might be bug as well - I

[2019-05-06 10:57] roksolana-d commented on #1511
@rohanKanojia Thank you very much! It works without Thread sleep now.
I have implemented it a bit differently in Scala:

[code]

[2019-05-06 10:57] #1511 closed

[2019-05-06 17:12] rohanKanojia commented on #1373
Please go through my comment [here](https://github.com/fabric8io/kubernetes-client/pull/1498#pullrequestreview-234092169). I think we can close this.

[2019-05-06 17:12] #1373 closed

[2019-05-06 17:18] rohanKanojia commented on #1205
PrometheusRule is a custom resource, it's support was added in #1472 . There is a pending PR in fabric8-maven-plugin in fabric8-maven-plugin regarding this: https://github.com/fabric8io/fabric8-maven-plugin/pull/1626

[2019-05-06 17:18] #1205 closed

[2019-05-06 17:31] rohanKanojia commented on #1461
available in kubernetes client v4.2.2 , for usage please check https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/RawCustomResourceExample.java

[2019-05-06 17:31] #1461 closed

[2019-05-06 17:33] rohanKanojia commented on #1462
Closing this one. Feel free to re-open if facing any problems

[2019-05-06 17:33] #1462 closed

[2019-05-06 17:42] #1321 closed

[2019-05-06 17:49] rohanKanojia commented on #1464
@jwlai : Closing this for now. Please check out v4.2.2 and reopen if facing any issue.

[2019-05-06 17:49] #1464 closed

[2019-05-06 17:50] rohanKanojia commented on #1424
Custom resource support got added in #1472 , you can now create resources without having to provide any Pojos, for more information see: https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/RawCustomResourceExample.java

[2019-05-06 17:50] #1424 closed

[2019-05-06 17:56] rohanKanojia commented on #1061
@smilingkracken : Is this supported in kubernetes?

[2019-05-06 18:02] #706 closed

[2019-05-06 18:03] #534 closed

[2019-05-07 01:18] jsjjdzg commented on #1205
thank you~

[2019-05-07 08:56] sjhnnn commented on #990
1

[2019-05-07 14:36] tombentley commented on #1474
@iocanel can you point to where that's documented? I only found https://github.com/kubernetes/kubernetes/issues/33196, which suggests delete is _usually_ synchronous from the PoV of an apiserver client, and gives specific circumstances where it is async.

[2019-05-07 15:19] iocanel commented on #1474
@tombentley: No, I don't have a pointer to the documentation, I am mostly speaking from experience, what I notice from using the client, kubectl and oc. The most common example that comes to mind is `oc project delete`, which usually takes a while until the resource is actually deleted.

The link you provided makes it a lot clearer on under what conditions an operation is async, but it verifies th

[2019-05-08 11:21] tony-shi opened #1514 "Support client-go cache utils maybe?"
In my opinion, kubernetes-client seems to be the best java library to interact with kubernetes api-server. However, for now, i haven't found there exists a cache module which used frequently in crd development.
For example, java user may want to use Informer, Lister and other useful abstraction utils just like go developer using client-go to achieve more sophisticated CRD reconciler since we no lo

[2019-05-08 11:23] #1514 closed

[2019-05-08 11:23] tony-shi commented on #1514
duplicated to https://github.com/fabric8io/kubernetes-client/issues/1384.

[2019-05-08 11:34] tony-shi commented on #1384
I think [kubernetes-client](https://github.com/kubernetes-client/java) is a pretty good start.  But it seems it lacks the support to CRD.
It would be awesome if this support natively so we no need to handle list and watch loop by ourselves.

[2019-05-09 13:31] fmichielssen opened #1515 "HasMetadataOperation.periodicWatchUntilReady is broken"
Our call to `HasMetadataOperation.waitUntilReady` never returns. A stacktrace suggests that the thread is stuck awaiting the latch at https://github.com/fabric8io/kubernetes-client/blob/5f5d1697839b0b220bf400133a4dbe65a56f797d/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/HasMetadataOperation.java#L192

I believe the cause is https://github.com/fabric8io/kubernetes-client/p

[2019-05-09 21:19] daxgames commented on #1335
Is there any response to this?

[2019-05-10 02:48] ljnelson commented on #1335
Just another user lurking, but a few seconds of banging around in the codebase led me here:

https://github.com/fabric8io/kubernetes-client/blob/9e850ad769134566e32f8c41498e5e64ecf8b799/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/utils/HttpClientUtils.java#L173-L197

Maybe you can figure out what the issue is from there.

[2019-05-10 06:28] carlossg commented on #848
this is a duplicate of https://issues.jenkins-ci.org/browse/JENKINS-55123

[2019-05-10 07:01] carlossg commented on #1335
try `-Dno.proxy=localhost,127.0.0.1,kubernetes.default.svc`

https://github.com/fabric8io/kubernetes-client/blob/9e850ad769134566e32f8c41498e5e64ecf8b799/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Config.java#L109

[2019-05-10 07:02] carlossg commented on #1335
although this should probably use the Java default `-Dhttp.nonProxyHosts="localhost|host.example.com"`

https://docs.oracle.com/javase/8/docs/technotes/guides/net/proxies.html

[2019-05-10 08:36] oscerd commented on #1515
I'm preparing a PR. You're welcome to fix it @fmichielssen if you want

[2019-05-10 11:42] morganridel opened #1517 "Configuring ExecConfig programmatically"
Hello,

I am trying to get a KubernetesClient to connect to an EKS cluster from AWS using a user of my choice. In my use case I will instantiate multiple DefaultKubernetesClient that will connect to different cluster with different user credentials.

Currently I can connect to the cluster without problem with basic code:

[code]

Here is the relevant part of my config:

[code]

However I need to p

[2019-05-10 11:58] daxgames commented on #1335
@carlossg Thanks, I will try that today and let you know, as I said before I am not a java expert.  Just poking around trying to help fix issues and learn something new.

[2019-05-10 18:50] daxgames commented on #1335
I am now running Jenkins using the following java properties:

{code:java}
-Dhttp.proxy=http://x.x.x.x:xxxx -Dhttps.proxy=https://x.x.x.x:xxxx -Dno.Proxy=xxx -Dhttp.proxyHost=x.x.x.x -Dhttp.proxyPort=xxxx -Dhttps.proxyHost=x.x.x.x -Dhttps.proxyPort=xxxx -Dhttp.nonProxyHosts=xxx
{code}

Testing the connection from the Jenkins server running in Kubernetes through the Kubernetes plugin using the 'tes

[2019-05-13 10:36] HudaSoliman opened #1518 "Kubernetes config is not running"
Hi,
I'm trying to run any example and it's failing on the line :
 KubernetesClient client = new DefaultKubernetesClient();

it gives an exception
Exception in thread "main" java.lang.NoSuchMethodError: io.fabric8.kubernetes.client.Config.<init>(Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;ZLjava/lang/String;Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;Ljava/lang

[2019-05-13 11:21] rohanKanojia commented on #1384
@tony-shi : Hmm, for first draft what kind of util methods would we want to have for sharedinformer api?

[2019-05-14 06:06] tony-shi commented on #1384
I'm not a K8S pro, but from my perspective and my current use case, I think the most fundamental needs of using k8s is the caching ability.

It would be better if we have a java Reflector to automatic list the Resources in a loop, and a DeltaFIFO to de-couple the event producer and event consumer which known as cache.
The time we have a useful cache, at least we have no need to query the api-serve

[2019-05-14 06:26] ljnelson commented on #1384
Seriously: have you looked at https://github.com/microbean/microbean-kubernetes-controller? There might be some ideas there. I wrote a blog series on it, too: https://lairdnelson.wordpress.com/2018/01/07/understanding-kubernetes-tools-cache-package-part-0/. Let me just say: it’s not trivial.  It is unclear to me whether it should be part of this project given its otherwise narrow focus.

[2019-05-14 06:28] rohanKanojia commented on #1384
@ljnelson : Hmm, ok. let me go through your blog today and see whether it makes sense to have it here or not.

[2019-05-14 23:22] bmbferreira opened #1522 "Invalid token when reusing the DefaultKubernetesClient to create pods"
I'm reusing a DefaultKubernetesClient to create a namespace and then a pod in that namespace. And I'm doing this multiple times but sometimes I get this error when creating the pod:
[code]

However, if I don't reuse the DefaultKubernetesClient, this never happens. Why? Should I always create a new client before creating a new pod?

Thanks for the help.

[2019-05-15 01:11] 4qing commented on #1374
Hello, I now need this function to implement a web terminal that can dynamically change the size. I want to know if k8s supports this function. Which api is specific, I don’t seem to find this api on the k8s offical document.Thanks! @juju812

[2019-05-15 07:03] rohanKanojia commented on #1374
@4qing : Maybe you can pick it up where @juju812 left.... We still need to implement resizeChannel in ExecWebSocketListener.

[2019-05-15 08:13] nikkatalnikov opened #1523 "Can't apply CRD from raw resource more than one time"
Hello. Having the following code, I have trouble to run
[code]

 twice like:

[code]

Internals:
[code]

All the attempts spit the same error:

[code]

[2019-05-15 10:09] csviri opened #1524 "How to list all events for Custom Resources?"
Hi,
I'm implementing an operator, and watching for events of custom resources. Considering a situation when my operator was not running for a while I would like to list events, for the custom resources. In particular DELETE events, since as I see I always get the last event for all existing custom resource objects, am I right?

So is there a api implemented to list events for custom resources? I c

[2019-05-15 10:52] rohanKanojia commented on #1523
I think we should add a method `createOrReplace()` like we have for other resources.

[2019-05-15 12:35] sudheshpn opened #1525 "Failed to parse the kubeconfig."
When i use jenkins to deploy my application to k8s master node which is on v1.14.1 i get the below exception. I have configured the credentials so that jenkins can log into my k8 master node and parse the file kubeconfig file. I remember the similar set up used to be working in previous version where as its not working in 1.14.1

May 15, 2019 12:04:14 PM io.fabric8.kubernetes.client.Config loadFro

[2019-05-15 12:39] rohanKanojia commented on #1524
@csviri : So basically you want to `watch` your custom resource? Am I right? There is watch functionality in older api for custom resources(not sure that works though) https://github.com/fabric8io/kubernetes-client/blob/12fa0993793baa9ba1835c36f2fa696bd739a1b9/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/CRDExample.java#L164-L170

[2019-05-15 12:40] rohanKanojia commented on #1524
But we have made custom resource operations a bit less typed using this new approach, but this doesn't have watch functionality right now: https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/RawCustomResourceExample.java

[2019-05-15 12:42] rohanKanojia commented on #1525
This client is not fully compatible with Kubernetes 1.14, I hope to get #1442 soon

[2019-05-15 13:04] csviri commented on #1524
Yes, the watch is what I needed, and used. Now I realized that there are no explicet events for this in k8s.
So, thank you.

[2019-05-15 13:24] roksolana-d opened #1526 "Edit custom object name whil creating"
I would like to change the custom object name dynamically in the moment of creation. I tried to edit custom object name but there is an exception on the edit method call:

[code]
I would like to get the name of the custom object from the environment variable in yaml. Is it possible to do that during custom object creation?
Here is the code I used to create crd, custom object and edit the name of t

[2019-05-15 13:48] rohanKanojia commented on #1524
I'll close this if you're able to get that watch working.

[2019-05-15 14:38] rohanKanojia commented on #1523
@nikkatalnikov : Raised a PR to fix this, would be available in next release :-)

[2019-05-15 14:53] csviri commented on #1524
Yes I was, thank you.

[2019-05-15 15:22] rohanKanojia commented on #1526
I'm not sure  whether it's even possible to rename kubernetes resources. Are you able to achieve the same thing via `kubectl edit`??

[2019-05-15 15:59] roksolana-d commented on #1526
No, I was trying to achieve that but it does not work that way.

[2019-05-15 18:23] rohanKanojia commented on #1526
You can't change name of a Kubernetes resource after creating it.

[2019-05-15 19:49] roksolana-d commented on #1526
I understand. But how can I change it while creating a custom object? As I wrote I want to get the name from the environment variable.

[2019-05-15 20:15] rohanKanojia commented on #1526
convert your file into `Map<String, Object>` using jackson and then try changing it's name by casting :
[code]
in next release you would get a method to load your custom resource into a map:
[code]
for now you can use jackson like we're doing internally here:
https://github.com/fabric8io/kubernetes-client/blob/12fa0993793baa9ba1835c36f2fa696bd739a1b9/kubernetes-client/src/main/java/io/fabric8/kube

[2019-05-16 01:46] 4qing commented on #1374
Excuse me, I am bothered again, I looked at the python client implementation,[https://github.com/kubernetes-client/python/pull/515/](https://github.com/kubernetes-client/python/pull/515/),it send message by this way :
[code]

In our project, it seems that the message is sent in the following way:
[code]
Is this function changed the first bit of the array to 4 and then sends the message?
@rohanKano

[2019-05-16 02:41] 4qing opened #1528 "run example and error: java.lang.OutOfMemoryError: GC overhead limit exceeded"
When I run example  in idea , a process 'parsing java... [kubernetes-model]' will take long time and then an error occur java.lang.OutOfMemoryError: GC overhead limit exceeded,how to solve this problem?

[2019-05-16 03:03] 4qing commented on #1528
i Comment this module and run well.

[2019-05-16 03:03] #1528 closed

[2019-05-16 05:53] candyleer commented on #1374
hope for this feature...need resize channel too.

[2019-05-16 05:58] candyleer commented on #1374
@4qing  hi, do you have any idea how to implement this feature?

[2019-05-16 05:59] candyleer commented on #1374
@juju812  can you provide the idea of how to implement or some document about this feature,we can help to implement this

[2019-05-16 06:29] Udbhav30 opened #1529 "watch should reconnect on status code 410 with new resource version"
kubernetes-client/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/WatchConnectionManager.java
`if (status.getCode() == HTTP_GONE) {
   webSocketRef.set(null); // lose the ref: closing in close() would only generate a Broken pipe
                           // exception
   // shut down executor, etc.
   closeEvent(new KubernetesClientException(status));
   close();
   retur

[2019-05-16 07:05] 4qing commented on #1374
Yes, I have some ideas, but it is limited by my low level, it may be ugly, and I have not participated in the open source project before. If you are willing to wait, I can try to contribute this weekend. @candyleer

[2019-05-16 07:11] rohanKanojia commented on #973
Okay, Ioannis got approval for moving service catalog client into our repository. I think we should add that api as another module in our project.

[2019-05-16 08:20] candyleer commented on #1374
@4qing  the resize channel,the streamId is 4?

[2019-05-16 08:21] 4qing commented on #1374
yes

[2019-05-16 08:24] candyleer commented on #1374
@4qing amazing! does anywhere have the specification for this protocol?, eg, 1 for message 2 for err,3 for errorChannel ,4 for resizeChannel

[2019-05-16 08:27] 4qing commented on #1374
I don't know ,I see the python code and try it,and this repo send common data is 0

[2019-05-16 08:29] candyleer commented on #1374
@4qing thanks,recently I need the resize channel too,so I will learn and may make a PR to support this.

[2019-05-16 08:53] candyleer commented on #1374
I know in `io.fabric8.kubernetes.client.dsl.internal.ExecWebSocketListener#send`

[2019-05-16 09:26] candyleer commented on #1374
I  read the kubenetes code and I know how to do in java client,I will make a PR today

[2019-05-16 09:32] 4qing commented on #1374
高山仰止，景行行止，虽不能至，心向往之，阿里就算了，向apache 的commiter致敬！

[2019-05-16 10:12] #1523 closed

[2019-05-16 10:27] #758 closed

[2019-05-16 11:03] iocanel opened #1531 "Deserializing rbac classes fails due to classes being prefixed with `Kubernetes`"
See `KubernetesDeserializer`. It doesn't take into consideration the case described in the subject.

[2019-05-16 11:37] mchoma commented on #1505
From OCP bugzilla there was change of url to get token from

https://api.eap-qe-ocp41-cluster3.eap-qe-ocp41-cluster3.fw.rhcloud.com:6443/oauth/authorize
->
https://openshift-authentication-openshift-authentication.apps.eap-qe-ocp41-cluster3.eap-qe-ocp41-cluster3.fw.rhcloud.com/oauth/authorize

So that mean on [2] there should be instead of masterUrl some new parameter used? Default value can be de

[2019-05-16 14:09] Udbhav30 commented on #1529
cc @foxish

[2019-05-17 03:50] zhanjiejun opened #1534 "Support protocol setting?"
[code]

Can  config support protocol setting?
I have a problem when the network broken and recovery, the protocol would switch from HTTP_1_1 to HTTP_2, and throw exception below:

[code]

So i think if i set the fixed value can solve the problem?

[2019-05-17 06:09] mnovak1 commented on #1505
Based on comments in follow up bugzilla https://bugzilla.redhat.com/show_bug.cgi?id=1710857 Kubernetes client should query:
`https://<cluster-name>/.well-known/oauth-authorization-server` and use authorization endpoint to request token. For example:
https://api.eap-qe-ocp41-cluster.eap-qe-ocp41-cluster.fw.rhcloud.com:6443/.well-known/oauth-authorization-server will return Http response with follow

[2019-05-17 06:22] zhanjiejun commented on #1534
emm.....i get a way to set it.

[2019-05-17 06:22] #1534 closed

[2019-05-17 06:41] cizezsy opened #1535 "Use edit to update resources will remove all field listed in the additionalProperties"
When using edit to update resources, it will use Fluent to build the object. Then it will find the differences with the object retrieved from the server and use the result to send a patch request.

But the object built by Fluent doesn't have the additionalProperties field, so when it will always remove them in patch request.

[2019-05-17 07:31] warrenzhu25 opened #1536 "SecurityContext non filed runAsGroup"
According to https://kubernetes.io/docs/tasks/configure-pod-container/security-context/, we should have runAsGroup

[2019-05-17 11:11] rohanKanojia commented on #1041
@rimesc : Hi, Are you talking about Custom Resource Definition (CRDs) or Custom Resources(CRs). I looked into CustomResourceOperationsImpl and CustomResourceDefinitionOperationsImpl but I could not find the cascading flag you talked about.

We do have cascade deletion of replica sets before deleting deployment. But we do that on our own. So how cascading delete on Custom Resources would work? One

[2019-05-17 12:10] #1374 closed

[2019-05-17 19:14] roksolana-d opened #1537 "Mounting config map into CRD"
I have a CRD and config map that I created. Is this possible to mount a config map into a custom object?

Here is the way I define a custom object:

[code]
The loadYaml method reads yaml file and loads it as an InputSream, processStringFromHocon method - reads application.conf file into String.

[2019-05-17 20:10] roksolana-d commented on #1526
Thanks! It works with a map.

[2019-05-17 20:10] #1526 closed

[2019-05-20 20:00] dabige12 opened #1541 "[Question] Memory and CPU utilization in a namespace"
Currently to see used vs hard utilization of memory and CPU, you have to iterate through resourceQuotaStatus.getUsed() and resourceQuotaStatus.getHard()

One additional wrinkle is that the suffix of memory can be different. The allowed units are E, P, T, G, M, K, Ei, Pi, Ti, Gi, Mi, Ki. Is there an easy converter function to a given unit?

Is there an existing function that already computes utiliz

[2019-05-22 07:05] rohanKanojia commented on #1537
I haven't tried it. Are you able to do it via `kubectl`? Can you share your Custom Resource Definition so that I can see how a custom resource is mounted(it can be a list like [here](https://github.com/coreos/prometheus-operator/blob/master/example/prometheus-operator-crd/prometheus.crd.yaml#L800)?

[2019-05-22 09:24] zhengzepeng opened #1544 "Can't delete service"
I delete the service like that:

But i found the service resource still exist！！！！

So i see the source code,i found if i delete the service like that :

        String serviceName = "demo1";
        OperationContext context = new OperationContext();
        context = context.withOkhttpClient(((DefaultKubernetesClient) client).getHttpClient()).withConfig(client.getConfiguration()).withCascading(tru

[2019-05-22 09:26] zhengzepeng commented on #1544
This time i just test the service,but i remember it cant delete everything if i use the api before~So i think this is a bug~please help！

[2019-05-22 09:35] rohanKanojia commented on #1544
Can you share your service yaml so that we can try to reproduce it on our machine?

[2019-05-22 15:17] boroda4436 opened #1545 "Operation: [list] for kind: [Namespace] with name: [null] in namespace: [null] failed."
**What happened**:
Operation: [list]  for kind: [Namespace]  with name: [null]  in namespace: [null]  failed.

**What you expected to happen**:
Expected to create a namespace and receive next msg on the UI: _Successfully created default namespace with name cbs-namespace_

**How to reproduce it (as minimally and precisely as possible)**:
1. Clone the project: https://github.com/boroda4436/kubernete

[2019-05-22 15:24] rohanKanojia commented on #1545
@boroda4436 : Could you please provide a simple test case using kubernetes client which can reproduce your error?

[2019-05-22 15:35] bchupika commented on #1545
@rohanKanojia Thanks for the reply!
I have created a simple demo app. You may find the URL in the description.
Basic steps are:
1) I am creating a new cluster on the GCP using
`       Container containerService = createContainerService();
        Container.Projects.Zones.Clusters.Create request =
            containerService.projects().zones().clusters().create(projectName, ZONE, requestBody);`
`

[2019-05-22 15:41] boroda4436 commented on #1545
@rohanKanojia Thanks for the reply!
I have created a simple demo app. You may find the URL in the description.
Basic steps are:

1) I am creating a new cluster on the GCP using
`Container containerService = createContainerService(); Container.Projects.Zones.Clusters.Create request = containerService.projects().zones().clusters().create(projectName, ZONE, requestBody);
Operation response = request.

[2019-05-23 02:35] zhengzepeng commented on #1544
I run my api-server in the docker(no k8s environment)，so i found the problem！Today i test the kubernetes-client api in the k8s environment,and i found everything is ok！(same api-server)
So i think i missing to run some dependent images！It is my fault and i will find it out！
Thanks to help!!!!

[2019-05-23 02:36] #1544 closed

[2019-05-23 05:47] wangbin3685 opened #1546 "when patch deployment environments variable, throw error "jsonpatch replace operation does not apply: doc is missing path: ""
when the number of environments variable is lower，the method patch work;
but when the number of  environments variable is more than 14,  the method patch does not work and throw exception:
`{
    "message":"Failure executing: PATCH at: http://10.81.56.134:8001/apis/apps/v1/namespaces/finance/deployments/loan-h5-website-test. Message: jsonpatch replace operation does not apply: doc is missing path:

[2019-05-23 12:29] boroda4436 commented on #1545
updated a demo project https://github.com/boroda4436/kubernetes-demo
Now you can specify cluster version.
Note that everything is ok with 1.11.8-gke.6, but at the same time demo is not working with 1.12.7-gke.10

[2019-05-23 19:25] kolorful opened #1548 "Unable to update status on Custom Resources"
Hello, I was recently work on a CRD, but I was not able to set the Status on the CR. I've tried a couple of things and this is what I find:

* I'm able to create and patch the Spec
* I'm able to get Status (via list) set by my controller written in go
* I'm not able to create a Resource with Status or patch the Resource with Status via my Java client.

I'm clueless right now, and any help would be

[2019-05-23 19:31] rohanKanojia commented on #1548
@kolorful : Have u tried our raw custom resource api? It's somewhat less typed and allows you to get, delete, create and edit custom resources without pojos. Here is an example:

https://github.com/fabric8io/kubernetes-client/blob/c78cc4d6de12309b477b0f3295955c3fd3cd2a26/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/RawCustomResourceExample.java

[2019-05-23 19:32] rohanKanojia commented on #1548
Are you facing problems with creating Custom Resource Definition or Custom Resource?

[2019-05-23 19:34] kolorful commented on #1548
I haven't tried creating the CRD using the this client, I created the CRD via kubectl with a yaml file I wrote.

[2019-05-23 19:35] rohanKanojia commented on #1548
So you're facing problems with creating custom resource. Would you like to try this new raw custom resource api which was added recently

[2019-05-23 19:45] kolorful commented on #1548
I'm able to create the custom resource, but cannot update its status via patch. I'll give the new API a try

[2019-05-23 20:21] kolorful commented on #1548
I converted my pojo to string using `MAPPER.writeValueAsString(anacron)`. And the json seems to be correct.

json:
[code]

But I got an error when trying to create the CR, and it didn't give much details
[code]

[2019-05-23 20:25] kolorful commented on #1548
The status filed I tried to set looks like this in go:
 ```LastScheduleTime *metav1.Time `json:"lastScheduleTime,omitempty" ```

I set it as String "2019-05-23T16:58:00Z" in Java.

I can see the status field when describing the CR but it's empty...

[2019-05-23 21:07] kolorful commented on #1548
Hmm, I tried Cronjob instead my CR and the status still doesn't work for patch. I went back and checked one of my other Go project, and it's updating status using "Update" instead of "Patch".

Does fabric8io/kubernetes-client supports "Update"? I couldn't seem to find it..

[2019-05-24 10:38] adam-sandor commented on #1548
We didn't have problems with setting status on our CR using the typed API. Status isn't a special thing in the Kubernetes API so the same rules should apply to it than any other field. I do see that our classes look quite different from your CR mapping classes:
- We don't specify the JSON mapping, just leave it to defaults.
- Our class mapping Status doesn't implement KubernetesResource.
I'm guess

[2019-05-24 11:40] boroda4436 commented on #1545
@rohanKanojia, hi! Have you any ideas about why this occurs?

[2019-05-24 11:42] rohanKanojia commented on #1545
As far as I know this client only supports till kubernetes 1.12.2

[2019-05-24 12:08] boroda4436 commented on #1545
Thank you, @rohanKanojia!
Do you have any road map to support the newest k8s versions?

[2019-05-24 12:14] kolorful commented on #1548
@adam-sandor thanks for your input. I tried that and doesn't work either. I then did a round a testing and I think the problem lies in my CRD yaml file.

Work:
[code]

Doesn't work
[code]

The only difference appear to be:
[code]

Once I have this set, my status setting no longer works.

[2019-05-24 19:19] hbellomusto opened #1550 "MutatingWebhookConfigurationOperationsImpl should be a NonNamespaceOperation"
Mutating webhooks are non namespaced. When dealing with MutatingWebhook, this java client adds the namespace to the api URL what cause it ends throwing an exception: "the server could not find the requested resource"
A similar situation was fixed in #1387 but only for validating webhooks.

[2019-05-25 08:49] rohanKanojia commented on #1545
There is a PR already for updating schema to 1.14.2 #1543

[2019-05-25 09:03] #1550 closed

[2019-05-25 15:45] roksolana-d commented on #1537
I did not define volume mounting in CRD as I would like to do this using library functionality.
My CRD looks like this:

[code]

[2019-05-25 17:00] rohanKanojia commented on #1537
I'm afraid this kind of functionality is not supported right now. Just to understand, how do you mount a configmap using `kubectl`? Does it provide some kind of mount utility that does so? I thought maybe we have to edit CR's spec in order to mount.

[2019-05-26 06:57] roksolana-d commented on #1537
I would just specify a volume to mount in a custom object definition. I do not know any other utilities to do so.

[2019-05-26 09:16] roksolana-d opened #1552 "ConfigMap class not found"
I needed to define config map from source file instead of the map so I converted file source into the map and passed it to addToData method in ConfigMapFluentImpl class.
I wanted to contribute this functionality so it would be possible to read data from files into config maps, however, I was not able to find ConfigMapFluentImpl class as well as ConfigMap class definition in this repository. Intell

[2019-05-26 15:12] rohanKanojia commented on #1537
Sorry, It's still not so clear to me. Can you share an example with me? Maybe modified spec yaml or some link where it's shown.

[2019-05-26 15:13] rohanKanojia commented on #1552
Our model is generated from kubernetes go source. Have you build your project(`mvn clean install`) before opening up in IntelliJ?

[2019-05-26 17:04] l0yu commented on #1279
Is it handshack (SSL) issue ? seems like k8s server and client does not use the same protocol somehow

[2019-05-26 17:25] rohanKanojia commented on #1279
ah, sorry. I could not find time to look into this. Could you please check and send PR if you're investigating?

[2019-05-26 18:08] roksolana-d commented on #1552
Yes, I have built it with maven. I can view the files by following the source, however, I can not find them in kubernetes-model part of the repo. Also, I get the message - `Generated source files should not be edited. The changes will be lost when sources are regenerated`.

[2019-05-26 18:12] rohanKanojia commented on #1552
These files are generated from json schema(see https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-model/kubernetes-model/src/main/resources/schema/kube-schema.json), they are not supposed to be part of repo since they are generated in `target/` directory after compilation

[2019-05-26 19:25] roksolana-d commented on #1552
Thanks, now I understand. But which sources exactly should I alter in order to extend the functionality in such a way that config map could be created from a file and not only key/value, a map?

[2019-05-27 11:46] mdonkers opened #1553 "Allow setting also field selectors for non-matching fields"
The Kubernetes API spec mentions for field-selectors they support two operators;
- key `=` value
- key `!=` value
https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/

Currently the Kubernetes client provides only the option to specify matching key-value pairs using `withField(s)`. And with a hack its possible to do `withField("key!", "value")` which would result in `

[2019-05-27 11:47] mdonkers commented on #1553
(Started work on a PR to implement exactly this)

[2019-05-28 09:01] Incarnation-p-lee opened #1556 "Statefulset isReady with readiness probe"
If I deployment one statefulSet with readiness probe, from my understanding it will check the readiness probe for isReady validation. But from below, it seems only check on status and spec replicas for isReady. If I understanding correctly, replicas available doesn't mean the pods of statefulset readiness, right ? Please correct me if something misunderstanding, thanks a lot.

https://github.com/f

[2019-05-28 11:48] dodalovic opened #1557 "How to use port-forward feature?"
Hi, I'm trying to figure out how to use port-forwarding. Are there some samples of how to use it? Also - how do I manage connections? Is this done for me, or I need to call something (and when)?

Many thanks for the great tool!

[2019-05-29 14:28] roksolana-d commented on #1537
The example of config map would look like this:

[code]

[2019-05-29 14:47] rohanKanojia commented on #1537
@roksolana-d : Does this work for you?
[code]

[2019-05-29 14:52] boroda4436 commented on #1545
What I have found: the library is working fine with any version of GKE or kubernetes ONLY IF you have obtained credentials like: gcloud container clusters get-credentials ... and performed some action with kubectl, like: _kubectl describe serviceAccount default_.
I guess that this library should works well without such manipulations

[2019-05-30 09:08] roksolana-d commented on #1537
I get this exception on custom resource get spec call:

[code]

I think it should be changed another way as sparkCustomResources is more like a custom resource while it is needed to modify yaml file of the custom object.

[2019-05-30 22:14] zackb commented on #1059
Any luck here? I am facing the same issue. Did upgrading to 4.x fix the problem? It looks like the code in `ValidtionUtils.java` creates the `Validator` only once rather than on each call. This caused Class.forName on each call when using spring/hibernates validator.

[2019-05-31 13:42] FridMehdi opened #1558 "creating new CRD"
@rohanKanojia please some help i went create New CRD by folllowing your example but no result
in this repo https://github.com/FridMehdi/kafka-operator/tree/master/src/main/java/nb/kafka/operator
i have already two classes and models
`KafkaTopicCustomResourceManager KafkaTopicCustomResourceManager.java`
but i need just to know how it organized and how could i consume a CRD.yml

could you please tak

[2019-06-03 07:49] boroda4436 commented on #1545
**SOLVED:** It was required to refresh the Google OAuth2 token and pass to kubeclient. Works fine for all versions.
**IMPLEMENTED** in this [commit](https://github.com/boroda4436/kubernetes-demo/commit/5d67baba0780d58d6bd3d0ce03bad73047112671)

[2019-06-03 07:49] #1545 closed

[2019-06-03 08:41] rohanKanojia commented on #1558
hmm, we've introduced a new way to create custom resources:

https://github.com/fabric8io/kubernetes-client/blob/0e033fdeb116cd45fb4fac17749ba0145a7c213c/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/RawCustomResourceExample.java#L36-L50

[2019-06-03 08:53] FridMehdi commented on #1558
@rohanKanojia  tkyou for your reply ok and how i could load my CRD what is the role of class CRDLoadExample.java https://github.com/fabric8io/kubernetes-client/blob/0e033fdeb116cd45fb4fac17749ba0145a7c213c/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/CRDLoadExample.java
and could you please present any example of CRD.yml file

[2019-06-03 09:09] rohanKanojia commented on #1557
@kunal-kushwaha : Could you please look into it? I think it would be nice if we add an example of port forwarding.

[2019-06-03 09:12] rohanKanojia commented on #1558
this is just an example class demonstrating how to use client to create CRDs

[2019-06-03 09:12] rohanKanojia commented on #1558
I'm saying you can create custom resources easily if you use my suggested approach. This is supported on latest client, v4.2.2

[2019-06-03 09:39] FridMehdi commented on #1558
ok @rohanKanojia tkyou for the clarification
the problem is when i update <version.fabric8.k8s.client>3.0.1</version.fabric8.k8s.client> to 4.2.2 i cannot find class Deployement any more i think it was replaced by another thing io.fabric8.kubernetes.api.model.extensions.Deployment

[2019-06-03 09:48] rohanKanojia commented on #1558
in 4.x deployment can be found in io.fabric8.kubernetes.api.model.apps.Deployment

[2019-06-03 10:35] kunal-kushwaha commented on #1557
@rohanKanojia : Alright 👍

[2019-06-03 11:07] chentging opened #1560 "why i can't find 'ConfigBuild.java' in github resource?"
issue is the title
![image](https://user-images.githubusercontent.com/29357333/58797497-be421780-8632-11e9-9dce-707455e75ba4.png)

[2019-06-03 11:17] rohanKanojia commented on #1560
@chenlein : Umm, were you able to find it before? In what versions?

[2019-06-03 11:30] chentging commented on #1560
@rohanKanojia any version all not find `ConfigBuild.java` file in github repo,  in maven jar can find `ConfigBuild.class` , but no source, i only want to see `ConfigBuild.java` source code
![image](https://user-images.githubusercontent.com/29357333/58798730-f8f97f00-8635-11e9-9826-9f5bab165135.png)

[2019-06-03 12:05] rohanKanojia commented on #1560
Not sure about ConfigBuild, but there is one ConfigBuilder.java which is generated via sundrio, it's not a part of source code. It's generated in your target/ directory after you do `mvn clean install`

[2019-06-03 13:21] chenlein commented on #1560
@rohanKanojia @chentging : I can not find it, just only one ConfigBuilder.class in kubernetes-model-x.x.x.jar！And，kubernetes-model-x.x.x.jar is generated via `mvn clean install`.

[2019-06-03 14:35] rohanKanojia commented on #1560
What is output of this command on top of your directory?
[code]

[2019-06-06 07:11] Zephery commented on #404
+1 anyone can help?

[2019-06-06 08:53] chamhaw commented on #404
+1

[2019-06-06 10:34] dsimansk opened #1565 "CRD's Enums are prefixed with "Raw: " keyword"
`kubernetes-client version: 4.2.2.`

When I try to create CRD with the client via deserializing to object and creating afterwards, the actual resource posted to API contains "Raw: " prefix in some of the enums.

That's not the case when CRD is created with `oc` binary, none of the enums is "enhanced".

Lets take Strimzi Kafka CRD:
https://github.com/strimzi/strimzi-kafka-operator/blob/master/insta

[2019-06-06 15:00] DavidPf94 opened #1566 "Dump config object to yaml-file"
Hi,

is it possible to build up an kubeconfig with io.fabric8.kubernetes.api.model.Config and write the result into an actual kubeconfig file?
I found SerializationUtils to dump objects with Metadata to a yaml-file, but this is not suitable for the Config  class.

Is there someway to get an acutal kubeconfig file from an Config-Object?

[2019-06-06 15:09] DavidPf94 commented on #1566
Ok forget about it.  You can use the Mapper from SerializationUtils .
`Config config = createNewConfig(name, namespaceName, clientKeyData, decodedToken);`
`String yamlRepresentation = SerializationUtils.getMapper().writeValueAsString(config);`

Asked to quickly sorry for that.

[2019-06-07 08:33] bert-laverman opened #1567 "Client does not refresh OAuth token if expired."
I had in my configuration (as stored in "~/.kube/config") three clusters:
1. My "current" cluster, hosted on GCE. (so a GKE cluster)
2. A "previous" cluster which has since been deleted, also hosted on GCE.
3. a Minikube cluster, which still exists but is not currently running.

Running the `listPods` example as a test, I received authentication errors. After removing the deleted cluster, which I

[2019-06-07 09:21] bert-laverman commented on #1567
Sorry, false alarm. I just started getting the same problem again and then noticed kubectl refreshes the token, while the client library doesn't.

[2019-06-07 13:10] ampie commented on #1548
If I can add to this. According to https://blog.openshift.com/kubernetes-custom-resources-grow-up-in-v1-10/, one of the key benefits of defining the status property as the standard '/status' subresource is that updates to the status won't increment the metadata.generation property. This property will only get updated when the spec gets updated. This is extremely useful for cases where the custom c

[2019-06-07 13:41] adam-sandor commented on #1548
Ah that is very interesting @ampie ! @csviri check this out ☝️

[2019-06-07 13:43] #1566 closed

[2019-06-09 21:05] leogps opened #1572 "OpenShift Client -- Images API is missing"
OpenShift client has imageStreams and imageStreamTags methods but does not have the images() method.
However, I see that corresponding model (Image, ImageList, etc) already exists in the library.
Moreover, the imageStreams() API makes use of the Image and ImageList objects. It would be nice to have the images() method in OpenShift Client. Saves us from extending the OpenShift Client.

The REST API

[2019-06-10 02:50] chentging commented on #1560
@rohanKanojia
oh, I'm sorry, I don't correctly write the issue title, I want to say "ConfigBuilder.java" .
My output is the same as you .
![image](https://user-images.githubusercontent.com/29357333/59168588-fa143a00-8b68-11e9-87b6-ac3715a36c64.png)

Is `ConfigBuilder.java` generated via `io.sundr:sundr-codegen:jar` ?

[2019-06-10 05:26] rohanKanojia commented on #1560
yes

[2019-06-10 06:44] Shairam commented on #1203
@WywTed  Will you be able to elaborate on this please ?

[2019-06-10 07:28] WywTed commented on #1203
Maybe you can try to create a package named with one of these below
[code]
and put your crd class file under the package, or even you can follow the resource code and debug it.

[2019-06-10 09:27] rohanKanojia commented on #1203
@WywTed : Is watch for custom resources working for you? If yes, Could you please document how to have watch with Custom resources?

[2019-06-10 09:30] salaboy commented on #1203
Yes, I got it working as well, an example can. be found here: https://github.com/salaboy/k8s-operator

[2019-06-10 09:38] Shairam commented on #1203
@WywTed Thank you so much .

[2019-06-10 09:42] #1442 closed

[2019-06-10 10:09] WywTed commented on #1203
You can see https://github.com/salaboy/k8s-operator/blob/master/src/main/java/org/salaboy/k8s/operator/AppsOperator.java from salaboy's repository.

[2019-06-10 10:11] salaboy commented on #1203
@WywTed not the best code ever.. but I hope that it helps to exemplify the watches in action..
also if you guys give me a "star" to the repo I will appreciate it :)

[2019-06-10 10:12] salaboy commented on #1203
Also.. the CRDs for that repo, and the instructions can be found here: https://github.com/salaboy/extending-k8s-with-spring-cloud

[2019-06-10 10:13] WywTed commented on #1203
No problem.
I don't try the latest version, maybe it doesn't exist in the latest version.
We've change to use [kubernetes-client](https://github.com/kubernetes-client/java) to operate k8s resource.

[2019-06-10 10:16] chentging commented on #1560
@rohanKanojia Thanks a lot, I will close this issuse

[2019-06-10 10:16] #1560 closed

[2019-06-10 10:22] Shairam commented on #1203
This is also helpful. Thank you

[2019-06-10 10:24] Shairam commented on #1203
@WywTed  Btw is [kubernetes-client](https://github.com/kubernetes-client/java) a standard kubernetes client to be used for Java ?

[2019-06-10 10:43] rohanKanojia commented on #1203
@Shairam : Yes, it's the official client. We're discussing to rename our repo to avoid conflict #1452

[2019-06-10 10:44] rohanKanojia commented on #1203
But our client is well adopted  and more popular

[2019-06-10 10:48] WywTed commented on #1203
@Shairam Yes, it is. From the account info(or organization) [kubernetes-client](https://github.com/kubernetes-client) just has been verified by [kubernetes.io]( https://kubernetes.io/docs/reference/using-api/client-libraries/)

[2019-06-11 03:32] Shairam commented on #1203
Alright thank you @WywTed  :) .

[2019-06-11 03:37] Shairam commented on #1203
@rohanKanojia  Btw is there any documentation for [kubernetes-client](https://github.com/kubernetes-client/java) to perform watch operation for Custom Resources? Could you please suggest me if there is one ?

[2019-06-11 07:13] WywTed commented on #1203
![image](https://user-images.githubusercontent.com/12699301/59250635-6d49a900-8c5a-11e9-8e2e-bf0b32b811d0.png)
![image](https://user-images.githubusercontent.com/12699301/59250824-e6e19700-8c5a-11e9-99ad-c57e222b28d2.png)

KubernetesDeserializer.java
![image](https://user-images.githubusercontent.com/12699301/59250935-27d9ab80-8c5b-11e9-8751-4c2b1d87bdb4.png)
![image](https://user-images.githubuse

[2019-06-11 08:41] Zephery opened #1575 "Please support for kubernetes 1.14"
Please support for kubernetes 1.14

[2019-06-11 09:10] intellij-rainbow-brackets opened #1576 "how to get the real name of a pod"
[code]

I tried
[code]

but it returned like "task-mrq2h", but when I use the `kubectl get pod`, it turns out that the real name of the pod is "task-mrq2h-1235138403", can someone show me how to get the real name correctly?

[2019-06-11 09:15] intellij-rainbow-brackets commented on #1576
Or how can I filter the pods by name?

[2019-06-11 10:02] oscerd commented on #1575
https://github.com/fabric8io/kubernetes-client/commit/24b64e0170b8df319bb30d1a740e4856b9ad679b

[2019-06-11 10:02] #1575 closed

[2019-06-11 10:04] intellij-rainbow-brackets commented on #1576
I got it worked with:
1. operate the delete operation on the `crdClient` not on the `k8sClient`
2. delete with a `cascading` operation

Hope this can help someone, but the last question is not answered, and I didn't find it from docs:

How can I filter the pods by name?

[2019-06-11 10:53] rohanKanojia commented on #1203
@WywTed : Thanks a lot for helping. @Shairam there is one example : https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/CRDExample.java#L164

But I think it would be nice if we add one example dedicated to watching custom resources which is well documented. Could anyone please raise a PR please?

[2019-06-11 10:54] rohanKanojia commented on #1575
@Zephery : We added it , please try out v4.3.0 and provide feedback if we missed something.

[2019-06-11 10:56] rohanKanojia commented on #1576
I'm not able to understand your question. Why are you not using labels/match selectors for filtering our pods?

[2019-06-11 12:48] rohanKanojia commented on #1572
Hmm, I think we need to add support for it in dsl.

[2019-06-11 12:49] rohanKanojia commented on #1558
@FridMehdi : Were you able to resolve your issue? If yes, can we close this?

[2019-06-11 13:32] #1558 closed

[2019-06-11 14:41] Zephery opened #1577 "How to use DeploymentRollback ?"
i can't find any example to use DeploymentRollback.........please help

[2019-06-12 05:15] rohanKanojia commented on #1577
Not sure, I think we're missing support there.

[2019-06-12 05:43] Zephery commented on #1577
My project needs it, i don't know how to realize that. Do you know how to use it for temporary?

[2019-06-12 10:04] #1576 closed

[2019-06-12 10:04] rohanKanojia commented on #1576
@intellij-rainbow-brackets : Were you able to resolve your issue?

[2019-06-12 11:01] intellij-rainbow-brackets commented on #1576
Well, not really, I want to fuzzy search with a resource name, but still don't know how to achieve. I think a example would be great.😁

On Jun 12, 2019, at 6:05 PM, Rohan Kumar <notifications@github.com<mailto:notifications@github.com>> wrote:

@intellij-rainbow-brackets<https://github.com/intellij-rainbow-brackets> : Were you able to resolve your issue?

—
You are receiving this because you were

[2019-06-12 15:33] SovitSourav commented on #544
V1ConfigMap apacheConfigmap = null;
apacheConfigmap = api.createNamespacedConfigMap(namespace, apacheConfigmapBody, includeUninitialized,null, null);

After executing the above method in my k8s i'm getting the below error, can anyone please help me out
Exception occured while Creating the Apache ConfigMap	io.kubernetes.client.ApiException: Conflict

[2019-06-12 15:57] SovitSourav opened #1578 "io.kubernetes.client.ApiException: Conflict 403"
Hello everyone,

        I'm executing my K8S code in my local while calling the below method
V1ConfigMap io.kubernetes.client.apis.CoreV1Api.createNamespacedConfigMap(String namespace, V1ConfigMap body, Boolean includeUninitialized, String pretty, String dryRun) throws ApiException

i'm getting the below error

Exception occured while Creating the Apache ConfigMap	io.kubernetes.client.ApiExceptio

[2019-06-13 04:39] wgliang commented on #1477
I have encountered a similar problem:

`Logging error output: "{\"kind\":\"Status\",\"apiVersion\":\"v1\",\"metadata\":{},\"status\":\"Failure\" ,\"message\":\"jsonpatch replace operation does not apply: doc is missing key: /status/availableReplicas\",\"code\":500}\n`

[2019-06-13 04:41] wgliang opened #1580 "patch failed when patch ReplicationController due to missing key: /status/availableReplicas"
`Logging error output: "{\"kind\":\"Status\",\"apiVersion\":\"v1\",\"metadata\":{},\"status\":\"Failure\" ,\"message\":\"jsonpatch replace operation does not apply: doc is missing key: /status/availableReplicas\",\"code\":500}\n`

[2019-06-13 09:37] rohanKanojia commented on #1565
@dsimansk : How are u trying to create CRD? Using old approach usingn Pojos or RAW api?

[2019-06-14 09:39] shahrahul1985 opened #1585 "Unable to update the Rolebindings system:imagepuller"
We are trying to allow Pods to reference Image across Projects - https://docs.openshift.com/container-platform/3.11/dev_guide/managing_images.html#allowing-pods-to-reference-images-across-projects. -  'oc policy add-role-to-user system:image-puller system:serviceaccount:project-a:default  --namespace=project-b'

For this we are trying to update the Rolebinding 'system:imagepuller' by adding the sy

[2019-06-14 11:53] victornoel opened #1586 "Replace of Job should add extra selector property to the resource"
Hi,

I'm trying to use the `createOrReplace` method available on `client.inNamespace(namespace).batch().jobs()`.

I load a job definition from a file and I expect it to be created or replaced in case it already exists. The assumption is that kubernetes will re-run the job in case the replacement is different from the one already deployed.

The problem is that the API of kubernetes answers with 422

[2019-06-14 11:58] rohanKanojia commented on #1586
Hmm, this is a problem, we're facing something similar in https://github.com/fabric8io/fabric8-maven-plugin/issues/1648

[2019-06-14 12:33] rohanKanojia commented on #1586
@victornoel : Do you have time to look into this issue? Would really appreciate if you could raise a PR to fix this. Otherwise, I would try to find some time next weekend

[2019-06-14 12:43] victornoel commented on #1586
@rohanKanojia honestly, I'm pretty sure I won't be able to, both because of time and skills :)

That being said, another (less desirable I think) solution would be to simply say that we should wait for something like https://github.com/kubernetes/enhancements/issues/555 to solve it API-side.

[2019-06-14 13:40] adambkaplan opened #1587 "OpenShiftAdapter uses deprecated APIs to check if cluster is an OpenShift cluster"
The OpenShift DevEx team has identified two issues with the `OpenShiftAdapter.isOpenShift` [1] method used by kubernetes client:

1. It checks the `/oapi/` path, which has been deprecated in 4.1
2. It starts walking from the root path`/` to see if the apiserver supports OpenShift components. The OpenShift auth team wants to prevent discovery at the root level - this blocks their effort [2].

[1] h

[2019-06-14 15:00] gabemontero commented on #1587
according to @enj `the fix would be to just use `/apis` directly
`

[2019-06-14 15:07] gabemontero commented on #1587
hey @akram would opening a corresponding jira somewhere be a good idea wrt getting the appropriate visibility / priority on this ?

[2019-06-14 15:09] rohanKanojia commented on #1587
this doesn't look complicated; Could anyone please raise a PR to fix this? :-)

[2019-06-14 15:32] ricardozanini commented on #1427
Hi! I'm working in a project that would benefit a lot from the Kube client if at least the Config and Authentication features was working OOTB with Quarkus.

The main problem here is in this line:
https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/internal/KubeConfigUtils.java#L40

Is it possible to suggest a PR to parse the file

[2019-06-14 15:35] geoand commented on #1427
Hi, I think @iocanel would agree that the more reflection we can get rid of the better 😎

[2019-06-14 15:37] ricardozanini commented on #1427
@geoand @iocanel if this is a yes, I'll start working on it right now. :stuck_out_tongue_closed_eyes:

[2019-06-14 15:38] geoand commented on #1427
I would say @iocanel has the final say on this 😉

[2019-06-14 15:40] ricardozanini commented on #1427
@geoand many thanks for your help!! Let's wait for @iocanel then. :sunglasses:

[2019-06-14 15:52] ruromero commented on #1427
I had the same experience as @ricardozanini Adding a `@BuildStep` to the BouncyCastle class just raised more errors and I finally had to give up.
So far it seems to be working with the kubernetes-client although I haven't done too fancy things. I must say that depending on how you create the config you must add the flags that @ricardozanini mentioned but that's the magic of GraalVM :smile:

[2019-06-15 07:57] Zephery opened #1589 "HorizontalPodAutoscaler apiVersion v1"
HorizontalPodAutoscaler's apiVersion in kubernetes1.14 change to v1, and HorizontalPodAutoscalerSpec change a lot, please support it

[2019-06-15 19:18] iocanel commented on #1427
Parsing the config without reflection sounds good to me.

[2019-06-17 08:41] #1589 closed

[2019-06-17 11:37] ricardozanini opened #1591 "Parse kube config file without reflection"
As discussed in https://github.com/fabric8io/kubernetes-client/issues/1427#issuecomment-502155141, to increase Quarkus/Native Image compatibility and reducing reflection usage, we're proposing a change in how the kube config file is being parsed.

The suggested change is to use [SnakeYAML](https://bitbucket.org/asomov/snakeyaml/) (library [used by Jackson](https://github.com/FasterXML/jackson-data

[2019-06-17 12:58] Zephery commented on #1577
anyone can help?

[2019-06-17 13:40] rohanKanojia commented on #1577
we need to add it's support I think. I can try next weekend if i get time.

[2019-06-17 17:54] AnthonyWeston opened #1592 "io.fabric8.kubernetes.client.Config.builder().build creates the wrong type of Config object"
- io.fabric8.kubernetes.client.Config.builder() gives you a io.fabric8.kubernetes.api.model.ConfigBuilder object.
- io.fabric8.kubernetes.api.model.ConfigBuilder.build() gives you a io.fabric8.kubernetes.api.model.Config, which is not a io.fabric8.kubernetes.client.Config like you would expect.

Because of this, the following code won't compile because DefaultKubernetesClient expects io.fabric8.ku

[2019-06-17 20:27] xguerin opened #1593 "Binding a Pod to a Node"
Hello,

I am writing a K8S scheduler using this client library. Is binding a node to a pod supported? I could not find any documentation pertaining to that task.

**EDIT** It looks like it should work through either the creation of `bindings` resource or the `bindings` pod sub resource. Neither seem to be supported. I am correct?

Thanks !

[2019-06-18 06:12] #1553 closed

[2019-06-18 11:59] roksolana-d commented on #1537
@rohanKanojia can you help with this issue?

[2019-06-18 12:43] rohanKanojia commented on #1537
Hi, will try to try it myself locally. Otherwise we would have to add support for this.

[2019-06-18 13:38] blublinsky opened #1595 "CustomResourceDefinitionStatus"
It looks like fabric8 now includes CustomResourceDefinitionStatus - https://static.javadoc.io/io.fabric8/kubernetes-model/2.0.2/io/fabric8/kubernetes/api/model/apiextensions/CustomResourceDefinitionStatus.html.
Is there any documentation/examples on usage of this API in the controller. End-to-end example will help people to properly use it

[2019-06-18 16:21] tombentley opened #1596 "Why do list classes implements raw KubernetesResourceList?"
In kubeneteres-model the `*List` classes implement the raw type `KubernetesResourceList`, for example

[code]

But `KubernetesResourceList` is generic in the element type `E`, so oughtn't it be `implements KubernetesResourceList<Deployment>`?

[2019-06-20 09:01] iocanel commented on #1596
What you say seems right! Don't recall if this was by choice or by accident.

[2019-06-20 09:07] tombentley commented on #1596
It's a problem because, for example, it means that javac ends up warning about unchecked casts in our client code. Obviously it's only a warning, so is easily worked around, but it would be nice if we didn't have to `@SupressWarnings("unchecked")`.

[2019-06-20 12:13] rohanKanojia commented on #1537
I tried applying your resource onto cluster using plain `kubectl` but it seems to be failing:
[code]

Are you sure the cr manifest is correct? Or maybe I missed something here?

[2019-06-20 12:16] rohanKanojia commented on #1537
Hm, I added `sparkVersion: 2.4.3` and it got applied. Sorry for the noise :-|

[2019-06-20 13:17] rohanKanojia commented on #1565
I can confirm that this is happening.

[2019-06-20 13:21] rohanKanojia commented on #1537
I started hitting #1565 when I create spark crd. Maybe that's why you were unable to update?

[2019-06-20 14:14] csviri opened #1597 "Watching single Namespace Object"
Hi,
what I try to do is watch changes of a single namespace object (so NOT objects within the namespace):

`openShiftClient.projects().withName(namespaceName).watch(namespaceWatcher);`

but what I see that I got events for every namespace for the whole cluster.

Am I doing something wrong or this is a bug?

[2019-06-20 14:35] kunal-kushwaha commented on #1381
@dev-gaur @rohanKanojia
Aren't tests already provided for SubjectAccessReview in SubjectAccessReviewAuthTest.java?

https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-tests/src/test/java/io/fabric8/kubernetes/client/mock/SubjectAccessReviewAuthTest.java

[2019-06-20 15:28] rohanKanojia commented on #1381
Yeah, but they seem to be testing only basic things. You can add some more tests to that class if you want. I'm also okay if we leave it as it is.

[2019-06-20 15:29] rohanKanojia commented on #1381
You can add a test for [CustomResourceDefinition](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/) resource also

[2019-06-20 15:32] kunal-kushwaha commented on #1381
Alright 👍

[2019-06-21 06:20] #1381 closed

[2019-06-21 11:20] jkremser commented on #1308
probably `WatchHTTPManager` class should be initializing the `mapper` field by calling `Serialization.jsonMapper()`, because that one can be easily customized by something like:

[code]

[2019-06-21 11:22] jkremser commented on #1486
Any progress here?

btw. I hit another similar issue, where I had to change the behavior of the default object mapper, and this helped:

[code]

[2019-06-21 12:48] skonto opened #1598 "Openshift SCC not applied when fabric8io client is used within a container"
This happens when Spark Operator tries to run a spark-submit from within its container.
Spark submit will run inside the container and will try to submit to the K8s api server the Spark driver pod. Spark backend called by Spark Submit creates the fabric8io client (k8s one not openshift one)[here](https://github.com/apache/spark/blob/54da3bbfb2c936827897c52ed6e5f0f428b98e9f/resource-managers/kubern

[2019-06-22 06:46] rohanKanojia commented on #1537
@roksolana-d : I've created #1600 to fix #1565 , when I tried editing spark custom resource for configmap. I was able to do it like this:

[code]
I verified it after running this code:
[code]

You can try out snapshot build of #1600 or wait until next release.

[2019-06-22 07:52] oliviercoma commented on #1247
This issue should get more attention. It can cause security issues!

[2019-06-22 18:33] oliviercoma commented on #1246
@PaulFurtado Thanks for your code, it's exactly what I needed for the exit code.
I noticed a small issue though: onClose will not be called in case onFailure is called. Hence, latch will not count down, and timeout will happen => success = false. Consequently, ExecTimeoutException will be thrown instead of propagating the exception.

[2019-06-22 19:07] daniel-chu commented on #1246
Good catch, thanks @oliviercoma - looks like they're mutually exclusive https://github.com/fabric8io/kubernetes-client/blob/1d09dd8a4d847f1b7811a37a6a746c399856d888/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/ExecWebSocketListener.java#L59

[2019-06-22 23:50] yujiantao commented on #1075
We run to the same issue, any progress on this?

[2019-06-23 17:14] palmerabollo opened #1601 "question: use kubectl with KubernetesServer mock"
Is it possible to start a `KubernetesServer` mock this way:

[code]

and then use a standard `kubectl` client to make requests? Thank you for you help.

[2019-06-24 08:29] dsimansk commented on #1565
@rohanKanojia hey there. Sorry for no reply, I was out for 2 weeks.

Anyway I'm glad you could reproduce the issue. I've used the old POJOs approach as you probably figured.

[2019-06-24 09:28] chechoochoo opened #1602 "AKS - Force closing the watch and stops listening to events"
I face a problem with connection watcher on Azure Kubernetes Services _v1.12.5_; service runs on `adoptopenjdk/openjdk11:jdk-11.0.2.9-alpine-slim` base image, a single instance.

The client runs via `spring-cloud-kubernetes`, managed by
- spring-boot-starter-parent = 2.1.5.RELEASE
- spring-cloud-dependencies = Greenwich.SR1

Relevant configuration snippet:
[code]
(everything else is set as default

[2019-06-24 14:43] FernandoBontorin commented on #778
yes

[2019-06-25 13:15] marekadare commented on #1556
If I understand it correctly the spec object is the specified/desired state and status the current state.
For me the problem is that these ready checks never work, because the current state gets never updated.

[2019-06-25 22:07] skonto commented on #1598
Do I need to switch to the Openshift client?

[2019-06-25 22:43] skonto commented on #1598
@iocanel any ideas?

[2019-06-26 05:31] wikicoo opened #1603 "LoadMultipleDocumentsFromFileExample Can't be executed."
Exception in thread "main" java.lang.ClassCastException: io.fabric8.kubernetes.api.model.IntOrStringBuilder cannot be cast to io.fabric8.kubernetes.api.model.ObjectMetaBuilder
	at io.fabric8.kubernetes.api.builder.BaseFluent.acceptInternal(BaseFluent.java:118)
	at io.fabric8.kubernetes.api.builder.BaseFluent.accept(BaseFluent.java:109)
	at io.fabric8.kubernetes.api.builder.BaseFluent.accept(BaseFl

[2019-06-26 08:41] Zephery commented on #1577
1111

[2019-06-26 14:38] rishi-anand opened #1604 "Checking rollout status after image id of container in deployment is updated with strategy type as rolling update"
Hi,

I have updated image id of a container in deployment and I want to check rollout status. How can I check this given deployment name.

`kubectl rollout status deployment.v1.apps/<deployment_name>`

[2019-06-27 11:50] nevenr commented on #1153
Hi,

We also observed strange behavior while editing kubernetes / openshift objects concurrently with fabric8 client.
In debug mode we noticed that client perform GET request followed by PATCH executing jsonpatch operations such as [{"op":"remove","path":"/userNames/12"}].
Even fact that PATCH request is executed right after GET does not helps / guaranties that concurrent update will not break con

[2019-06-28 13:05] iocanel opened #1607 "WaitUntilReady is currently broken."
Using something like:

      client.resourceList(list).waitUntilReady(config.getReadinessTimeout(), TimeUnit.MILLISECONDS);

This worked great until `4.1.0` but seems broken in `4.2.0` as it seems to return immediately.

[2019-06-30 06:59] franciscoRdiaz opened #1608 "Delete deployment not delete associated pods loaded from a yml file with client.load"
Hi,

I load a deployment with the associated pods from a file with the following lines of code

`` try (InputStream is = IOUtils.toInputStream(project.getYml(),
                CharEncoding.UTF_8)) {
            List<HasMetadata> resourcesMetadata = client.load(is)
                    .inNamespace(projectName)
                    .createOrReplace();``

and when I try to delete them, only the deplo

[2019-06-30 08:07] franciscoRdiaz opened #1609 "How can I edit a container associated with a deployment loaded from a yml file before being deployed?"
Hi,

I want to edit the containes of a deployment described in a yml file before these containers are deployed. Is this possible? How can I do it?
I don't know if this is possible in any way similar to this

``      List<HasMetadata> resourcesMetadata = client.load(is)
                    .inNamespace(projectName)
//                    .accept((Visitor<ContainerBuilder>) item -> item
//

[2019-07-01 10:33] iocanel commented on #1607
For anyone interested in fixing this there are 3 issues:

1. `waitUntilReady` delegates to `waitUntilExists` which is just wrong.
2. The item should be get from server each time the predicate is check.
3. Readiness.isReady() will through Exception if resource doesn't somehow support the concept of readiness and the rest of the code doesn't seem to support it.

All 3 are regressions introducted in

[2019-07-01 13:06] #1592 closed

[2019-07-03 13:00] kunal-kushwaha commented on #1380
@dev-gaur @rohanKanojia
Support for TokenReview has already been provided

[2019-07-03 14:28] dsimansk opened #1614 "Add method to specify DeleteOptions propagationPolicy"
I haven't found a way to specify `propagationPolicy` for the delete operation.

In a log I can see the currently `orphanDependents` is used with boolean value, but in fact that option is already [Deprecated](https://github.com/kubernetes/apimachinery/blob/master/pkg/apis/meta/v1/types.go#L464-L469) in K8s.

Would it be possible to add such config method?

[code]

https://kubernetes.io/docs/concept

[2019-07-03 22:11] kunickiaj opened #1617 "Multiple CA certificates with non-unique Subject DN not loaded"
In the current CertUtils logic, the Subject DN is used for the trust store alias entry. However, this field is not required to be unique per [rfc1422](https://tools.ietf.org/html/rfc1422).

So, with two different certificates with the same subject DN, but different serials/keys, only one is added to the trust store and others are clobbered.

[2019-07-04 04:46] rohanKanojia commented on #1380
@kunal-kushwaha : Are these resources provided in DSL?

[2019-07-04 12:56] skonto commented on #1598
I have verified that this works as expected with kubectl running withing the operator pod and I was able to create a pod with that command and the correct scc was applied. This seems to be fabric8io client specific @iocanel. I will try to debug what fabric does.

[2019-07-05 07:08] kunal-kushwaha commented on #1380
@rohanKanojia: Model classes for those have been generated and resources have usages as well, althought can you please take a look to see if something's missing?

[2019-07-08 15:03] franciscoRdiaz commented on #1608
Fixed!
Finally I just had to add `.cascading(true)`

[2019-07-08 15:03] #1608 closed

[2019-07-10 07:07] chenchun commented on #1075
@yujiantao For a simple fix, you can try comment out these lines https://github.com/fabric8io/kubernetes-client/blob/v4.0.5/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/WatchConnectionManager.java#L141-L143
We've using it for a long time, everything is fine.

[2019-07-10 14:40] paxbit commented on #1515
Please reopen. This is still broken and waits for eternity in `io.fabric8.kubernetes.client.internal.readiness.ReadinessWatcher@58`
because a call like:
`deployableScalableResource.waitUntilReady(30, TimeUnit.SECONDS);`
leads to this stack:
[code]
where it blocks b/c
`io.fabric8.kubernetes.client.dsl.base.HasMetadataOperation@210` treats the numeric value of `System.nanoTime()` as the time unit th

[2019-07-10 16:02] rohanKanojia commented on #1515
@paxbit : apologies for this, will prioritize this for next release

[2019-07-10 16:05] oscerd commented on #1515
No need to apologize @rohanKanojia .

@paxbit you're welcome to work on a fix

[2019-07-10 16:10] rohanKanojia commented on #1515
actually, it was me who didn't test this properly. and I updated your PR for that line.

[2019-07-10 19:33] charlescrookes opened #1621 "Duplicate Authorization header"
I noticed an issue where I kept getting a 400 Bad Request error when doing a ```mvn fabric:build``` in my project.

portion of pom.xml for reference:
[code]

This line creates the duplicate *Authorization* header:
https://github.com/fabric8io/kubernetes-client/blob/ade52962e94113010dbe22544a1945318dc13feb/openshift-client/src/main/java/io/fabric8/openshift/client/internal/OpenShiftOAuthInterceptor

[2019-07-10 19:41] charlescrookes commented on #1621
Versions
**OpenShift Master**: v3.11.0+7f5d53b-195
**Kubernetes Master**: v1.11.0+d4cacc0
**OpenShift Web Console**: v3.11.0+ea42280

[2019-07-11 12:23] #1617 closed

[2019-07-12 09:44] eskuai opened #1625 "User "system:anonymous" cannot lis t"
Using fabric8 4.3.0 spring boot 2.1

I cannot config service account for exec a list of pods

i think that problems is failed by client key data.
``
Config config = new ConfigBuilder().withMasterUrl(master).withClientKeyData(clientKeyData).withCaCertData(caCertData).withNamespace("default")
		.withNamespace("default").withClientKeyPassphrase(clientKeyData).build();
``
Shows

[code]

where system:a

[2019-07-13 06:36] rohanKanojia commented on #1621
@charlescrookes : Could you please share full project in order to reproduce? I was trying to reproduce it but faced this error:
[code]

[2019-07-13 13:16] scholzj opened #1626 "Scaling StatefulSets with waiting seems to fail"
When trying to scale StatefulSet using the `scale(...)` method with the wait parameter set to true, I seem to always get exception similar to this:

[code]

And the scaling seems to always fail (i.e. print the error log message about giving up). I did a little bit of debugging and it seems that the problem is that `rollingTimeout` for which it is supposed to wait for the scaling to happen is alway

[2019-07-15 08:45] eskuai commented on #1625
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: default # your namespace
  name: pod-reader # Role name will be needed for binding to user
rules:
- apiGroups: [""] # "" indicates the core API group
  resources: ["pods"]
  verbs: ["get", "watch", "list"]

Then you need to create RoleBindging to bind this role to system:anonymous user with similar to below yaml

# This rol

[2019-07-15 08:46] #1625 closed

[2019-07-15 08:46] eskuai commented on #1625
Config issue not api

[2019-07-15 08:58] eskuai opened #1627 "java.io.IOException: PEM is invalid: no begin marker"
Hello,
I am trying to read secret using the api.
I am using  k8s 1.14 and kubernetes-client 4.3.0,java 8-181

the code is simple,
It is works ok using windows environment, not problem,  connect

``
10:56:24.877 [main] DEBUG io.fabric8.kubernetes.client.Config - Trying to configure client from Kubernetes config...
10:56:24.892 [main] DEBUG io.fabric8.kubernetes.client.Config - Did not find Kubernet

[2019-07-15 17:00] charlescrookes commented on #1621
@rohanKanojia
Clone the project at https://github.com/spring-projects/spring-petclinic.git and add the snippet below to the pom.xml's <plugins> tag
[code]

[2019-07-16 08:03] rohanKanojia commented on #1621
@charlescrookes : Sorry, still not able to reproduce:
[code]

[2019-07-16 09:07] #1290 closed

[2019-07-16 12:49] jinnatan opened #1630 "Get No resource type found for:admissionregistration.k8s.io/v1beta1#ValidatingWebhookConfiguration When try to deploy a yaml file with kind ValidatingWebhookConfiguration"
Getting this error when loading a yaml file with kind: ValidatingWebhookConfiguration

I called `k8sClient.load()` and it failed in io.fabric8.kubernetes.client.utils.Serialization.unmarshall
`mapper.readerFor(KubernetesResource.class).readValue(bis);`
[code]

yaml file is something like this
[code]

[2019-07-16 15:28] gastaldi opened #1631 "Support OpenShift 4.x"
It seems that OpenShift 4 is not supported,  I get the following error when creating a new project:

Code snippet
==========
[code]

Error
====

[code]

[2019-07-16 15:54] gabemontero commented on #1587
ok @waveywaves and I looked at this a bit today as part of the transfer of openshift/jenkins to the devtools team

I gave him a couple of suggestions of how to switch this, but that was after only looking at the code for the first time while with him

Ultimatlely, we need a masterURL/api http rest invocation in BaseOperation that serializes into a class similar RootPath.class

But of course if @ro

[2019-07-16 16:40] rohanKanojia commented on #1631
Hmm, this is something we would need to provide as soon as possible

[2019-07-16 16:48] gastaldi commented on #1631
@rohanKanojia apparently the endpoint changed. The ProjectRequests Endpoint looks like this:
https://api.cluster-01.devcluster.openshift.com:6443/apis/project.openshift.io/v1/projectrequests

[2019-07-16 17:03] gastaldi commented on #1631
And I may be wrong but I think it works in Openshift 3.11 too

[2019-07-17 04:36] akram commented on #1587
@gabemontero we are now tracking it also as a blocker in under DEVEXP-390 jira

[2019-07-17 06:27] akram opened #1632 "Unable to build kubernetes-model: ERROR] No SupportedSourceVersion annotation found on io.sundr.builder.internal.processor.BuildableProcessor,"
Hi,
this issue is quite similar to #1260 but is related to maven-compiler-plugin this time.
I am trying to run *subsequent* build of kubernetes-model but it fails with the following error:

[code]

Note that this happens after subsequent mvn compile only. mvn clean compile seems to always work. I tried changing the version of the maven-compiler-plugin with no success.

my java version running on O

[2019-07-17 06:35] akram commented on #1632
yes, clean install or clean compile works

[2019-07-17 08:03] ScrapCodes opened #1633 "Error on deploying a horizontal Pod autoscaler on kubernetes 1.15.0 cluster."
### On trying to create a autoscaler as follows
[code]
[code]
### Following error is produced.
 ```io.fabric8.kubernetes.client.KubernetesClientException: Failure executing: POST at: https://<...>:6443/apis/autoscaling/v2beta2/namespaces/default/horizontalpodautoscalers. Message: HorizontalPodAutoscaler.autoscaling "tefd3f-testing" is invalid: [spec.metrics[0].resource.target.type: Required value:

[2019-07-17 08:04] ScrapCodes commented on #1633
Client version used 4.3.0

[2019-07-17 08:23] rohanKanojia commented on #1633
what's your kubernetes  version?

[2019-07-17 08:23] rohanKanojia commented on #1633
ohk, for 1.15.0 this client isn't compatible

[2019-07-17 09:58] k-wall opened #1634 "Thread safety issue in KubernetesDeserializer leading to spurious deserialize exceptions from watches"
Our application makes heavy use of watches of CRDs.  I am investigating a sporadic issue where the processing of watch events is failing whilst deserialising watch events.  It is clear from the exception that KubernetesDeserializer believes that the resource type has not been registered, however, we know this is the case.  We make our calls to registerCustomKind() from a static initialiser block w

[2019-07-17 10:05] k-wall commented on #1634
I believe the issue is thread-safety.  KubernetesDeserializer's map needs to thread-safe (wrapped in a Collections.synchronizedMap(), or a ConcurrentHashMap().

For the watch use-case, KubernetesDeserializer.registerCustomKind is potentially invoked concurrently, from pooled threads like so.  This means that the map is being mutated by multi-threads and without any form of memory barrier.  This is

[2019-07-17 16:05] #1634 closed

[2019-07-18 09:02] gabemontero commented on #1587
We are doing some research here today.

the k8s model in this client does not appear to have an APIGroupList a la https://docs.okd.io/latest/rest_api/apis/v1.APIGroupList.html or an APIGroup a la https://docs.okd.io/latest/rest_api/apis/v1.APIGroup.html

those are the items returned when you hit <master url>/apis

there is a io.fabric8.kubernetes.model.annotation.ApiGroup but that must be related

[2019-07-18 09:40] rohanKanojia commented on #1587
@gabemontero : Hi, I would need to look into this closely. At first look, it seemed like an easy fix, but from your research, it looks more involved. I will prioritize this in my list.

[2019-07-18 12:05] rohanKanojia commented on #1587
@gabemontero: Question, why are you using this client for Openshift 4.x when we haven't provided it's support yet?

[2019-07-18 12:08] gabemontero commented on #1587
@rohanKanojia my recollection was that the api objs for the <master url>/apis endpoint were the same for 3.x vs. 4.x.  The /apis endpoint has existed for several release.  I happened to be in the 4.x documentation and pulled it from there.

You should be able to bring up the REST api documentation for the 3.11 branch and find it as well.

But if you have trouble with that, let us know and I will g

[2019-07-18 12:12] rohanKanojia commented on #1587
yeah, that would be helpful. Thanks!

[2019-07-18 12:14] gabemontero commented on #1587
api group:  https://docs.okd.io/3.11/rest_api/apis/v1.APIGroup.html
api group list: https://docs.okd.io/3.11/rest_api/apis/v1.APIGroupList.html

[2019-07-18 13:00] rohanKanojia commented on #1587
Thanks for the links. I have some doubts. Still, I don't have a clear picture of what your issue is.

 I don't understand why do we need these resources for overriding behavior of `isOpenshift()` method? You said in your first comment that you need to use `/apis` rather than `/oapis` . Wouldn't providing a way to override current behavior solve your problem? Why do we need to have a REST invocatio

[2019-07-18 13:11] gabemontero commented on #1587
I am not sure I know how to elaborate further than what @adambkaplan put in the description at https://github.com/fabric8io/kubernetes-client/issues/1587#issue-456255465

But I'll try:
- /oapis is getting deprecated .... so generally speaking, as a long term option, that is not ideal; it would help your official support for 4.x as you said earlier if you use the 3.x api that is blessed in 4.x as w

[2019-07-18 13:58] rohanKanojia commented on #1587
@gabemontero : I've raised a PR to add APIGroup. What are the next steps? I can go ahead and refactor that method for that REST call implementation if it's a good approach and backward compatible for 3.11 and 3.10.

[2019-07-18 14:07] gabemontero commented on #1587
@rohanKanojia - just to be clear, you technically mean both APIGroup and APIGroupList, right?  Where APIGroupList is literally a list of APIGroup.

Next, once that model change can be made available to the fabric8io/kubernetes-client/openshift-client code, then yes, I think you can refactor the isOpenshift method in however way you see fit so that we can execute a <master api server url>/apis invo

[2019-07-18 17:28] charlescrookes commented on #1621
I'm using an internal docker registry in my OpenShift instance to store the docker images.

[2019-07-19 11:28] rohanKanojia commented on #1621
This test project you provided seems to be specific to your organization. We need something open which we can use to verify bug and provide a fix. Would really appreciate if you could provide some test like that.

[2019-07-19 11:54] rohanKanojia commented on #1603
@kunal-kushwaha : Could you please look into this if you have time?

[2019-07-19 11:56] kunal-kushwaha commented on #1603
Sure, will do

[2019-07-19 11:56] rohanKanojia commented on #1603
much appreciated, Thanks

[2019-07-19 12:22] gastaldi commented on #1631
PR: https://github.com/fabric8io/kubernetes-client/pull/1644

[2019-07-19 13:18] #1587 closed

[2019-07-19 14:22] rohanKanojia commented on #1587
@gabemontero : I've released 4.3.1 which contains that fix, please try it out and share feedback whether it's working for you or not. Feel free to reopen if it doesn't work

[2019-07-19 15:09] akram commented on #1587
@rohanKanojia we have tested it against a 3.11 and 4.2 OpenShift cluster in the jenkins-sync-plugin and it seems to do well.
Thank you for your responsiveness!

[2019-07-19 16:48] saturnism opened #1647 "CustomResourceList<T> should extend KubernetesResourceList<T>"
Current CustomResourceList<T> extends KubernetesResourceList, but doesn't pass the type along:
[code]

Should it be...
[code]

[2019-07-20 07:24] kunal-kushwaha commented on #1603
@rohanKanojia:
https://github.com/fabric8io/kubernetes-client/blob/b3ce511c53ab42151a4d249e61d7bb84f38b1466/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/LoadMultipleDocumentsFromFileExample.java#L47
What is the use for accept()? It's only being used in 2 files (this one and LoadExample) and the multiple documents are loading with no issues without it.
Also String master is unus

[2019-07-20 19:23] saturnism commented on #1486
i ran into the same issue :(

[2019-07-22 14:06] ricardozanini commented on #1591
Closing since we're now relying on Quarkus Extension

[2019-07-22 14:06] #1591 closed

[2019-07-22 18:01] nnordrum opened #1649 "Something sane between Entities and MixedOperation?"
Can we have sane things that Entities implement instead of/in addition to `MixedOperation`?

I have a cleanup method that is called as follows, and looks like this:
[code]

What's there works, it's just _really_ fugly...

I realize we can't use `Pod` and have `PodImpl`, so maybe put them in a different package to have them well-named? I cringe at myself for suggesting it, but `IPod`/`IReplicationC

[2019-07-22 19:41] ricardozanini commented on #1331
Hi @dev-gaur! are you currently working on this? Do you accept contributions? :)

[2019-07-22 22:33] derEisele opened #1650 "Incompatibe with Android"
I'm trying to build a Kubernetes Client for Android using this awesome library. To circumvent automatic file loading from `.kube/config`, I'm using `Config.fromKubeconfig(String kubeconfigContents)` to initialize the configuration. Never the less this method tries to load the file from `.kube/config` which is quite annoying with Androids very restricted file access in mind.

So could someone famil

[2019-07-23 00:18] saturnism commented on #1548
https://github.com/fabric8io/kubernetes-client/issues/417 seems related, i'm also looking for this :)

[2019-07-23 04:35] michaelbcd opened #1651 "How to advertise extended resources for a node using fabric8 API"
I  want to add extended resources for kubernetes nodes, and I can do this by curl command indicated in: https://kubernetes.io/docs/tasks/administer-cluster/extended-resource-node/, that is:
`curl --header "Content-Type: application/json-patch+json" \
--request PATCH \
--data '[{"op": "add", "path": "/status/capacity/example.com~1dongle",
"value": "4"}]' \
http://localhost:8001/api/v1/nodes/<your-n

[2019-07-23 05:55] michaelbcd commented on #1651
The fabric8 jar is kubernetes-model-4.1.3-sources.jar.

[2019-07-23 08:25] rohanKanojia commented on #1331
@dev-gaur @kunal-kushwaha : Are you guys working on it? If not, Could you please unassign issue so that someone else can pick it up?

[2019-07-23 08:37] kunal-kushwaha commented on #1331
@rohanKanojia: Apologies for the delay. I'm working on it currently was just looking into a few other issues. I'll reference this issue in the coming days.

[2019-07-23 11:27] rohanKanojia commented on #1537
@roksolana-d : Hi, Sorry for the delay. Could you please try this again with v4.3.1?

[2019-07-23 11:29] rohanKanojia commented on #1290
@dev-gaur : It's been a week since I merged stale bot PR. Why is it not working? Could you please check what we missed?

[2019-07-23 19:35] msb217 commented on #868
I followed the implementations above, however, found both to be extremely slow and streams would often break. Originally thought it was the cluster I was working on, however, `kubectl cp` worked fine and I then pinpointed it to the use of `ByteArrayOutputStream`.

I then did some digging on how `kubectl cp` was implemented and it turns out it uses the same internal functionality as `kubectl exec`

[2019-07-23 19:51] msb217 commented on #1008
I have a solution for the slow upload https://github.com/fabric8io/kubernetes-client/issues/868#issuecomment-514352742

[2019-07-24 06:40] rohanKanojia commented on #868
@msb217 : We added pod read/copy operations. please have a look at https://github.com/fabric8io/kubernetes-client/blob/b2136a092e9023368ade1a8814a68d27c03fb749/kubernetes-itests/src/test/java/io/fabric8/kubernetes/PodIT.java#L168-L200

[2019-07-24 07:32] rohanKanojia commented on #1650
hmm, need to prioritize this....

[2019-07-24 09:37] kunal-kushwaha commented on #1630
@jinnatan: Can you please share the Java file?

[2019-07-25 08:28] michaelbcd commented on #1651
Finally, I make it work with a workaround:

    import org.apache.http.HttpResponse;
    import org.apache.http.client.methods.HttpPatch;
    import org.apache.http.entity.ContentType;
    import org.apache.http.entity.StringEntity;
    import org.apache.http.impl.client.CloseableHttpClient;
    import org.apache.http.impl.client.HttpClients;
    import org.apache.http.util.EntityUtils;

    priva

[2019-07-25 15:55] gastaldi opened #1660 "Chat room for kubernetes-client?"
Is there a chat room for the kubernetes-client project? I remember that mattermost was used, but that instance is down, where are the people in this project hanging out?

[2019-07-25 15:56] rohanKanojia commented on #1660
we can chat on gitter: https://gitter.im/fabric8io/kubernetes-client

[2019-07-25 15:56] gastaldi commented on #1660
@rohanKanojia awesome! Thank you!

[2019-07-25 15:56] #1660 closed

[2019-07-25 22:24] dev-gaur commented on #1380
@rohanKanojia let's review all these open PRs this sprint!

[2019-07-26 09:57] rohanKanojia commented on #1380
In case we don't miss any resources, also check that we have all resources as shown in `kubectl api-version` command:
[code]

[2019-07-26 11:59] mgorniew opened #1661 "HasMetadata interface should be generic"
HasMetadata interface extends KuberenetesResource which is generic interface. It should be possible to provide generic type for HasMetadata also.

[2019-07-26 16:47] wrbriggs commented on #1462
@dkc-bitsian No idea if this is helpful at this point, since the issue is closed, and my example is in Scala, but after a significant amount of debugging how these things were being translated into the K8s HTTP API, I was able to submit a Spark job with the fabric8 client, using the following code:

[code]

[2019-07-26 16:52] wrbriggs commented on #1462
@rohanKanojia It looks like @dkc-bitsian didn't get back to you with this info, but I'm providing the output of a `kubectl describe customresourcedefinition sparkapplications.sparkoperator.k8s.io` to help with any future debugging this issue might require:
[code]
The official definition can also be found [in the manifest](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/man

[2019-07-26 21:36] kjcjohnson opened #1667 "WatchConnectionManager's websocket Origin header uses port of -1 when no port specified"
For the WatchConnectionManager, the websocket request's Origin header has the port set to -1 if no port was explicitly specified in the URL.

So for a URL of https://example.com/k8s/clusters/etc, the origin header ends up as

`Origin: https://example.com:-1`

instead of just

`Origin: https://example.com`

like would be expected.

This seems to be causing an issue when connecting to a Kubernetes c

[2019-07-27 04:44] #1633 closed

[2019-07-29 10:08] rohanKanojia commented on #1631
So, ProjectRequest and Templates. Are these the only resources which are affected by 4.x endpoint changes? Or are there more resources?

[2019-07-29 10:23] gastaldi commented on #1631
These are the ones I use and tested. It would be nice if we could run the integration tests against a local OS4 (Codeready containers?)

[2019-07-29 13:05] rohanKanojia commented on #1631
I ran tests on my local crc setup, these seem to be failing:

[code]

[2019-07-29 14:27] gastaldi commented on #1631
@rohanKanojia did you run these tests based on master or in my branch? Just asking because I think I have already fixed the TemplateIT test

[2019-07-29 14:52] rohanKanojia commented on #1631
I ran on master

[2019-07-30 05:39] GaneshSPatil opened #1672 "Intermediately seeing java.net.SocketTimeoutException: timeout"
We're using fabric8io/kubernetes-client library to manage kubernetes Pods. In our setup, we nearly have close to 500 pods coming up and going down per second.
Lately, we've started seeing `io.fabric8.kubernetes.client.KubernetesClientException: An error has occurred.` while creating a new pod.

Here is the full stack trace:
[code]

[2019-07-30 07:48] dsimansk opened #1673 "Cascade delete of DC timeouts on scale down of RC"
Version: `4.3.1`

I do have a simple code to invoke resources deletion before/after a test. However in latest version I've started to see the particular exception and error msg in logs. When the DC reaper is invoked to scale down & clean up RC it takes too long (full scale down timeout) and intermittently ends up with `InterruptedException`.

@rohanKanojia @iocanel might be related to #1607?

[cod

[2019-07-30 07:53] dsimansk opened #1674 "Cascade delete can't be overriden"
Version: `4.3.1`

@rohanKanojia
It seems that since this commit https://github.com/fabric8io/kubernetes-client/pull/1620/commits/008d3789d6020b032038e2db415bc334ab83dace was merged and released in `4.3.1`. The following code is always performing cascade delete, even though it shouldn't as I'm overriding the property.

I haven't found the way not to perform cascade delete as I wanted to workaround

[2019-07-30 08:55] rohanKanojia commented on #1674
ah, :disappointed:

[2019-07-30 20:23] SergSlipushenko commented on #1075
We also running in the same issue with Spark, would be great to see the fix eventually

[2019-07-31 10:45] psapozhnikov commented on #1318
I get this error sometimes when trying to watch a custom resource in Openshift 3.11.

[2019-07-31 10:47] rohanKanojia commented on #1318
ah, this needs some priority.

[2019-07-31 11:49] Nancy-Chauhan opened #1675 "Could not find artifact io.fabric8:openshift-client:pom:4.3-SNAPSHOT"
I get the error when I am trying to build the project with clone :
[code]

[2019-07-31 12:25] jorsol commented on #1486
Same issue here :(
[code]

This creates the following yaml:
[code]

And creating the CRD in K8s gives:
[code]

[2019-07-31 13:57] #1675 closed

[2019-07-31 14:10] jkremser commented on #1486
@saturnism, @jorsol check my ugly workaround: https://github.com/jvm-operators/abstract-operator/blob/ddb89ad2b0eda8ec29121fc37a4de24a000588de/src/main/java/io/radanalytics/operator/common/crd/CrdDeployer.java#L71:L74

[2019-07-31 14:24] rohanKanojia commented on #1486
I remember I looked into this few months ago... Maybe there was some bug on model side itself or some problem after deserialization. Need to revisit this again .

[2019-07-31 17:20] gastaldi opened #1676 "ServiceAccount seems to be only read when ~/.kube exists"
By looking at https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Config.java#L216 it seems it only attempts to use it when `~/.kube` exists, which does not exist in an Operator image

Also https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Config.java#L401-L402

[2019-07-31 17:21] #1676 closed

[2019-08-01 07:00] iocanel commented on #1676
Hi @gastaldi,

The intention of the code was:

Try reading `.kube/config` if it doesn't exist try reading the service account and so on.

From a quick glimpse at the code, it seems to me that it's aligned with the intention.

Can you please clarify, what is the expectation and what is actually happening?

[2019-08-01 09:24] gastaldi commented on #1676
@iocanel that's correct, I closed the issue already. I was having a RBAC problem but while debugging I figured out that the authentication code wasn't the problem. Sorry about the noise :)

[2019-08-01 20:25] #1631 closed

[2019-08-01 20:50] ryanlamore commented on #1632
I'm running to the same problem.  It's because we have the compiler option -Werror; ie:

[code]

Anyone figure out a way to fix this without disabling error on warnings?

[2019-08-02 06:34] szbrain opened #1677 "jenkins kubernetes deploy traefik-rbac.yaml throws hudson.remoting.ProxyException: java.lang.NullPointerException"
traefik-rbac.yaml :

---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: traefik-ingress-controller
rules:
  - apiGroups:
      - ""
    resources:
      - services
      - endpoints
      - secrets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - extensions
    resources:
      - ingresses
    verbs:
      - get
      - list
      - watch
  - a

[2019-08-02 10:59] desmax74 opened #1678 "ConfigMapBuilder.build and K8s.replace fails silently"
Hi,
using a the Camel K8s Leader Election the ConfigMaps Builder and the K8s client fail silently

here:
https://github.com/apache/camel/blob/master/components/camel-kubernetes/src/main/java/org/apache/camel/component/kubernetes/cluster/lock/KubernetesLeadershipController.java#L274
here:
https://github.com/apache/camel/blob/master/components/camel-kubernetes/src/main/java/org/apache/camel/componen

[2019-08-03 04:05] szbrain commented on #1675
[WARNING] The POM for io.fabric8:openshift-client:jar:4.3-SNAPSHOT is missing, no dependency information available
Downloading from nexus: http://127.0.0.1:8081/repository/maven-public/io/fabric8/openshift-client/4.3-SNAPSHOT/openshift-client-4.3-SNAPSHOT.jar

[2019-08-03 21:27] #1667 closed

[2019-08-04 13:36] tony-Ma-yami opened #1679 "HTTPIngressRuleValueFluentImpl removeFromPaths can't working"
i want remove HTTPIngressPath from paths used by removeFromPaths(HTTPIngressPath... items), but in this method implement, it will be create a new Object of HTTPIngressPathBuilder every time. is it a bug ?

[2019-08-05 06:20] Nancy-Chauhan opened #1680 "Deprecated Gradle features were used in this build, making it incompatible with Gradle 6.0."
What changes to acquire with Gradle build with following error :
[code]

[2019-08-05 09:36] Nancy-Chauhan opened #1681 "Get Annotations : kubectl describe deployments/$SERVICE -n $Namespace"
I want to get annotations information using kubernetes client for the following command on CLI. When I use the following command on CLI, it generated specific information which contains annotations also :
[code]

 I use the following function to get the deployment list . But I only want the information related to annotations.
[code]

Is there any way to generate this via kubernetes client - java?

[2019-08-05 10:03] rohanKanojia commented on #1681
Are you sure you're on right github repository? Your code is of official kubernetes client. This is fabric8 kubernetes client's github repo. Anyway, you can get annotations like this in our case:
[code]

[2019-08-05 10:24] Nancy-Chauhan commented on #1681
Yes @rohanKanojia  Thank you so much for the help . I am actually trying to list all the namespaces using this client and trying to get annotations of all listed namespaces

[2019-08-05 11:24] rohanKanojia commented on #1681
`client.namespaces().list()` should be able tor return all namespaces to you. You can iterate over `NamespaceList` in order to filter it according to your needs

[2019-08-05 12:00] Nancy-Chauhan commented on #1681
Thank you so much @rohanKanojia

[2019-08-05 12:00] #1681 closed

[2019-08-05 13:58] #1565 closed

[2019-08-05 17:31] #1680 closed

[2019-08-05 18:29] gastaldi opened #1684 "REGRESSION: Processing of OpenShift Templates with apiVersion = v1 no longer works in kubernetes-client 4.4.0"
Eg. the library is requesting the following URL when processing templates: https://dev.rdu2c.fabric8.io:8443/api/v1/namespaces/test-project-1565023015447/processedtemplates.

In 4.3.1, it was
https://dev.rdu2c.fabric8.io:8443/oapi/v1/namespaces/test-project-1565023127814/processedtemplates (notice the oapi in the path)

[2019-08-05 18:42] gastaldi commented on #1684
@rohanKanojia any idea what's wrong?

[2019-08-05 19:09] davidkarlsen opened #1685 "unstable watcher"
I always get disconnected [2] when attempting to create a watcher [1].

[1]
[code]

[2]
[code]

[2019-08-06 03:20] gastaldi commented on #1684
This is the template that fails:

[code]

Curiously enough, this one passes (if we change the `apiVersion`):

[code]

[2019-08-06 03:38] gastaldi commented on #1684
Stacktrace:

[code]

[2019-08-06 09:25] rbaeurle opened #1688 ".withoutLabel() on deployment is not working with mock server"
when filtering deployments by 'withoutLabel()' it seems that the filter is ignored and deployments having the label are returned. Works fine with 'real' k8s API.

[2019-08-06 09:26] rohanKanojia commented on #1688
Could you please provide a test case ?

[2019-08-06 09:31] wangjianxiang opened #1689 "when I user api delete deployment ,but pod cant not delete"
when I user api delete deployment ,but pod cant not delete pod belong to deployment

[2019-08-06 09:32] rohanKanojia commented on #1603
I think it's for modifying list items. that function would be applied to all elements.

[2019-08-06 09:32] rohanKanojia commented on #1689
Which version are you using? Is `cascading()` is set to true?

[2019-08-06 09:46] wangjianxiang commented on #1689
I use kubernetes-client 4.2.1，how to set up cascading()? when create deployment to set up?

[2019-08-06 09:50] rohanKanojia commented on #1689
Try on version 4.4.0 there is cascading (true) in dsl

मंगल, 6 अग॰ 2019, 15:16 को Xtjian <notifications@github.com> ने लिखा:

[2019-08-06 09:55] rbaeurle commented on #1688
[code]
I would expect an empty list but the deployment having this label is returned

[2019-08-06 10:15] wangjianxiang commented on #1689
Can you show me your code  where  to set up  cascading (true)

[2019-08-06 12:21] rohanKanojia commented on #990
@huaixichen : Did you use `cascading()` flag to delete dependents also?

[2019-08-06 12:22] rohanKanojia commented on #737
This issue still makes sense

[2019-08-06 12:22] slandelle commented on #885
No reason to automatically close this issue.

[2019-08-06 12:24] rohanKanojia commented on #885
we recently added a stale bot, it usually removes the label if you comment ;-)

[2019-08-06 12:25] rohanKanojia commented on #1437
starter issue, still valid

[2019-08-06 12:25] rohanKanojia commented on #1340
Is it still an issue?

[2019-08-06 12:27] slandelle commented on #885
Hence my comment

[2019-08-06 12:28] rohanKanojia commented on #1510
hmm, Usually I log it or wrap some other generic exception over it. Do you have any other ideas to handle it better?

[2019-08-06 12:30] rohanKanojia commented on #1189
@cainzhong : Polite ping, is this issue still valid?

[2019-08-06 12:30] rohanKanojia commented on #1328
@wei0313 : Could you please elaborate your use case?

[2019-08-06 12:32] rohanKanojia commented on #1022
Hmm, Issue looks intermittent. Not sure whether to prioritize it or not :confused:

[2019-08-06 12:33] rohanKanojia commented on #1485
@kunal-kushwaha : Would you like to pick this issue? Would appreciate if you could look into this and provide model/dsl support if not present.

[2019-08-06 12:33] rohanKanojia commented on #1445
Duplicate of #885

[2019-08-06 12:33] #1445 closed

[2019-08-06 12:35] rohanKanojia commented on #1502
@traviswinter : Hi, I haven't read the issue completely. Is it still valid? Were you able to resolve it somehow? Or is it still there on 4.4.0 ?

[2019-08-06 12:36] rohanKanojia commented on #1282
@kunal-kushwaha : Could you please take a look into this? It would be nice if have support for kubectl top. Not sure if I have listed right resources, though.

[2019-08-06 12:38] rohanKanojia commented on #1478
seems like a valid bug.

[2019-08-06 12:41] kunal-kushwaha commented on #1485
@rohanKanojia: Sure thing, I'll look into it.

[2019-08-06 13:35] ScrapCodes commented on #1336
Hi, any update on this issue?

[2019-08-06 13:45] nikkatalnikov commented on #552
@cesartl having the same issue with minikube. how did you manage to fix?

[2019-08-06 14:31] rohanKanojia commented on #1336
looks like a valid issue, If you have time feel free to submit a PR

[2019-08-06 14:34] #374 closed

[2019-08-06 14:36] rohanKanojia commented on #1285
I think it won't be a problem if we move it out of internal package.

[2019-08-06 14:37] #773 closed

[2019-08-06 15:28] rohanKanojia commented on #1177
@matthyx @AlainRoy : Is it still an issue?

[2019-08-06 16:30] joshk0 commented on #839
Bump

[2019-08-06 16:46] rohanKanojia commented on #839
Umm, Not sure if this is possible right now because `Pod` resource maps to the go structs in kubernetes. So what you see as returned object is just the deserialized form of kube server response. Although you can do something like this:
[code]

[2019-08-06 16:53] rohanKanojia commented on #847
Is this still an issue? I can see correct plural form here:
https://github.com/fabric8io/kubernetes-client/blob/736ac8df8c64da96b877628fd46b8299b3383e71/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/NodeOperationsImpl.java#L33-L36

[2019-08-06 16:55] rohanKanojia commented on #908
we added support for RBAC during initial 4.x releases. Can we close this if you were looking for that?

[2019-08-06 16:58] rohanKanojia commented on #864
we have added another raw custom resource api which is weakly typed.Have a look at this example:
https://github.com/fabric8io/kubernetes-client/blob/736ac8df8c64da96b877628fd46b8299b3383e71/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/RawCustomResourceExample.java#L36-L50

[2019-08-06 17:56] gastaldi commented on #1650
@derEisele I created https://github.com/fabric8io/kubernetes-client/pull/1693 which allows you to specify a System property (`-Dkubernetes.disable.autoConfig`) to disable auto-configuration in the Config constructor. Can you give it a try before we merge it ? Thanks

[2019-08-06 18:08] gastaldi opened #1694 "Introduce a parse(String) and a toJson() and a toYaml() methods in the generated resources"
It would be nice if you could for example parse a ConfigMap using `ConfigMap.parse(contents)` and output in Json or Yaml easily.

The implementation should call `Serialization.unmarshall()` and `Serialization.toJson()` and `Serialization.toYaml()`

[2019-08-06 18:11] gastaldi commented on #1694
OTOH that would introduce cross-references in `kubernetes-client` and `kubernetes-model`. Closing

[2019-08-06 18:11] #1694 closed

[2019-08-06 18:30] gastaldi commented on #1647
https://github.com/fabric8io/kubernetes-client/pull/1666 removes the generic parameter. Closing

[2019-08-06 18:30] #1647 closed

[2019-08-06 19:13] cdancy commented on #1032
Closing issue. There are proper way of going about this and this initial question was more looking for a "brute force" way to do things across the board.

[2019-08-06 19:13] #1032 closed

[2019-08-06 19:13] joshk0 commented on #839
Thats fine. I don't even work with this project anymore as 2 years have passed. Anyway, if this is by design, I'm not going to push it further. :) Thanks for answering

[2019-08-06 19:13] #839 closed

[2019-08-06 20:57] #1661 closed

[2019-08-07 00:05] #1684 closed

[2019-08-07 01:58] wangjianxiang commented on #1689
Thank you very much for your reminder. I know the problem. I've tried to fix it.

[2019-08-07 02:00] #1689 closed

[2019-08-07 05:44] garo commented on #1672
Have you set any timeouts to the kubernets client? There are kubernetes.request.timeout and kubernetes.connection.timeout -properties which can also be set via environment variables KUBERNETES_REQUEST_TIMEOUT and KUBERNETES_CONNECTION_TIMEOUT.

Just make sure you set these values in **milliseconds** and not seconds!

[2019-08-07 05:53] GaneshSPatil commented on #1672
Hello @garo,

Thanks for the information.

Do we suspect it to be the kubernetes endpoint being slow in the replies?

Looking at [this](https://github.com/fabric8io/kubernetes-client/pull/97/files) piece of code, it looks like the default value for `KUBERNETES_REQUEST_TIMEOUT` System Property is set to 10 secs (10 * 1000), which is a high enough value.

[2019-08-07 05:54] matthyx commented on #1177
@rohanKanojia yes it's still the case today... however it has less impact on my side, as we moved away from OIDC on most of our clusters.

[2019-08-07 06:04] rohanKanojia commented on #477
closed in #1048

[2019-08-07 06:04] #477 closed

[2019-08-07 06:06] rohanKanojia commented on #495
@dsimansk : polite ping, is this still an issue? Shall we close this?

[2019-08-07 06:09] rohanKanojia commented on #507
still looks like a relevant issue

[2019-08-07 06:11] #503 closed

[2019-08-07 06:12] rohanKanojia commented on #521
Closing this one since https://github.com/sundrio/sundrio/issues/69 is closed already

[2019-08-07 06:12] #521 closed

[2019-08-07 06:16] garo commented on #1672
I'm not a fabric8io developer and I'm even not very familiar with this library. I however was just debugging why my Spark driver kubernetes api connections timeouted and I stumbled these timeout settings (and ended up setting them as seconds instead of milliseconds). So that's why I found your ticket and offered some help.

As you are debugging this you can look on the Kubernetes API server Promet

[2019-08-07 06:25] rohanKanojia commented on #510
@rhuss: There is one method `KubernetesListBuilder.addAllToItems(Collection<HasMetadata> items)` that may fulfil your purpose.

[2019-08-07 06:26] GaneshSPatil commented on #1672
@garo -- Many thanks for the above information. I definitely will check out these metrics.

[2019-08-07 06:33] #672 closed

[2019-08-07 06:37] rohanKanojia commented on #695
https://github.com/fabric8io/kubernetes-client#compatibility-matrix

[2019-08-07 06:37] #695 closed

[2019-08-07 06:39] rohanKanojia commented on #703
@carlossg : Is this still an issue with latest versions?

[2019-08-07 06:49] rohanKanojia commented on #887
still looks like a relevant issue to me. It would be nice if we could add something like `client.resourceList().inNamespace("default").withLabels().get()`

[2019-08-07 06:51] dsimansk commented on #495
@rohanKanojia based on the comments from linked Jira the original issue was resolved. Imo this can be closed safely.

[2019-08-07 06:51] #495 closed

[2019-08-07 06:53] rohanKanojia commented on #613
I think it can be closed

[2019-08-07 06:53] #613 closed

[2019-08-07 07:14] #720 closed

[2019-08-07 07:15] rohanKanojia commented on #911
https://www.ndtv.com/offbeat/watch-aircrafts-grand-entrance-through-clouds-is-viral-2081423?pfrom=home-lateststories

[2019-08-07 07:15] #911 closed

[2019-08-07 07:16] rohanKanojia commented on #728
Closed via #729

[2019-08-07 07:16] #728 closed

[2019-08-07 07:17] rohanKanojia commented on #734
@htamas : Is this still an issue?

[2019-08-07 07:22] rohanKanojia commented on #735
@kunal-kushwaha : Could you please take a look into this?

[2019-08-07 07:25] rohanKanojia commented on #711
@MatousJobanek : Polite ping, Is there something left here or everything was covered up in #738

[2019-08-07 07:27] rohanKanojia commented on #835
Closed via #1023

[2019-08-07 07:27] #835 closed

[2019-08-07 07:29] rohanKanojia commented on #765
Closed via #923

[2019-08-07 07:29] #765 closed

[2019-08-07 07:32] rohanKanojia commented on #781
@ahab94 : Is it still an issue in client 4.4.0 ? There was a bug in okhttp, we updated it.

[2019-08-07 07:33] rohanKanojia commented on #784
@alfredo-quiroga : Could you please link the related go source where these enums are?

[2019-08-07 07:35] kunal-kushwaha commented on #1282
@rohanKanojia: Sure, I'll look into it.

[2019-08-07 07:36] rohanKanojia commented on #786
@alfredo-quiroga : Still facing problems with LocalSubjectAccessReview? It's been a while

[2019-08-07 07:39] rohanKanojia commented on #797
CHANGELOGs were introduced since 3.1.10, I don't think we have it.

[2019-08-07 07:39] #797 closed

[2019-08-07 07:41] rohanKanojia commented on #799
Closed via #561

[2019-08-07 07:41] #799 closed

[2019-08-07 07:43] rohanKanojia commented on #834
@yunlzheng : Hi, Is it still an issue? I see the linked issue in kubernetes-model is closed.

[2019-08-07 07:45] rohanKanojia commented on #904
@kunal-kushwaha : Could you please check if this error is still there in ExecExample? Have you tried it before?

[2019-08-07 07:47] rohanKanojia commented on #860
@hykych : Is this issue still there on latest client?

[2019-08-07 07:48] rohanKanojia commented on #881
Could you please provide a test case to reproduce your issue?

[2019-08-07 07:50] rohanKanojia commented on #902
@traviswinter : Polite ping, is this still an issue on the latest version?

[2019-08-07 07:51] #1493 closed

[2019-08-07 08:36] MatousJobanek commented on #711
@rohanKanojia AFAIK everything was covered, so we can close this issue

[2019-08-07 09:11] cesartl commented on #552
Hey @nikkatalnikov, to be honest, I don't remember. It was so long ago.

[2019-08-07 09:48] #711 closed

[2019-08-07 11:51] htamas commented on #734
@rohanKanojia I think we eventually used an other library for our solution, so I can't check, sorry.

[2019-08-07 11:51] #734 closed

[2019-08-07 14:45] amisevsk commented on #1340
@rohanKanojia Sorry this one slipped by me. I've tested the problem code I had when opening this issue on `v4.4.0` and could no longer reproduce the loading issue.

[2019-08-07 14:45] #1340 closed

[2019-08-07 19:25] kunal-kushwaha commented on #904
@rohanKanojia: I just ran this example and it did not show any errors.

[2019-08-07 19:46] #353 closed

[2019-08-07 19:46] #1068 closed

[2019-08-07 21:13] carlossg commented on #703
yes, I still see the null pointer dereference in https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Config.java#L529

[2019-08-08 02:41] #1315 closed

[2019-08-08 06:14] rohanKanojia commented on #703
oh, okay.

[2019-08-08 06:15] rohanKanojia commented on #904
@kunal-kushwaha : Thanks, let's close it then.

[2019-08-08 06:15] #904 closed

[2019-08-08 11:48] errantepiphany commented on #828
Not sure if this has been addressed yet... I will need to look in the jars to see...

[2019-08-08 12:43] #1650 closed

[2019-08-08 13:07] bframke opened #1697 "Quarkus Fabric8 Extension 4.3.0 IntOrString$Serializer has no default (no arg) constructor"
I try to do a rolling update for a deployment. I always get this as a error response:
`io.fabric8.kubernetes.client.KubernetesClientException: Could not calculate MD5 of RC
	at io.fabric8.kubernetes.client.dsl.internal.RollingUpdater.rollUpdate(RollingUpdater.java:169)
	at io.fabric8.kubernetes.client.dsl.internal.RollableScalableResourceOperation.replace(RollableScalableResourceOperation.java:161

[2019-08-08 13:28] Silvakilla commented on #1697
Small update on this issue: my pc had problems with a quarkus and graalvm build, now it build it with the reflect-config.json and it works.

So maybe the Innerclass or the Class itself needs register for reflection for the quarkus extension.

[2019-08-08 13:51] Silvakilla commented on #1697
Small update on this issue: my pc had problems with a quarkus and graalvm build, now it build it with the reflect-config.json and it works.

So maybe the Innerclass or the Class itself needs register for reflection for the quarkus extension.

[2019-08-09 08:44] novakov-alexey commented on #959
Latest release still has this issue, no matter what I use `{{}}` or `{}` braces

Version:
"io.fabric8" % "openshift-client" % "4.4.1"

[code]

my template snippet:

[code]

[code]

[2019-08-09 21:03] varun93 opened #1700 "Retrieve CPU and Memory resource Usage of a Node"
I am trying to retrieve a node's CPU and Memory Resource usage. Similar to what `kubernetes describe node NODE_NAME` would provide.

[code]

These numbers are the totals for all the pod requests/limits in the node. I was hoping to find this information in the [getStatus](https://static.javadoc.io/io.fabric8/kubernetes-model/4.4.1/io/fabric8/kubernetes/api/model/NodeStatus.html) method. But couldn'

[2019-08-09 21:06] kunal-kushwaha commented on #1380
@rohanKanojia @dev-gaur: Can we review the open PRs and merge the approved ones this week? Mainly service-catalog & JUnit5 Migration.

[2019-08-09 21:26] #1700 closed

[2019-08-10 15:52] rohanKanojia commented on #1380
Yes, I would prioritize getting your work reviewed/merged next week.

[2019-08-12 12:23] liketic commented on #450
I met this problem in the latest 4.3.0.

[2019-08-12 12:24] rohanKanojia commented on #450
@liketic : Can you provide a test case?

[2019-08-12 12:27] liketic commented on #450
@rohanKanojia I delete the job as:
[code]
The job has been deleted successfully. However, the pods are still there.

[2019-08-12 12:28] rohanKanojia commented on #450
do you have `cascading()` flag in the dsl in case of jobs? If yes, Can you try again with it set to true?

[2019-08-12 12:29] rohanKanojia commented on #450
I mean something like this:
[code]

[2019-08-12 12:52] liketic commented on #450
Thank you @rohanKanojia , seems that works.

[2019-08-13 12:54] #1196 closed

[2019-08-13 12:54] #1435 closed

[2019-08-13 12:54] #1476 closed

[2019-08-13 12:54] #1454 closed

[2019-08-13 12:54] #1504 closed

[2019-08-13 12:54] #1503 closed

[2019-08-13 13:54] #1295 closed

[2019-08-13 13:54] #1311 closed

[2019-08-13 13:54] #1312 closed

[2019-08-13 13:54] #916 closed

[2019-08-13 13:54] #1219 closed

[2019-08-13 13:54] #1076 closed

[2019-08-13 13:54] #1334 closed

[2019-08-13 13:54] #1341 closed

[2019-08-13 13:54] #1352 closed

[2019-08-13 13:54] #529 closed

[2019-08-13 13:54] #502 closed

[2019-08-13 13:54] #931 closed

[2019-08-13 13:54] #1356 closed

[2019-08-13 13:54] #1357 closed

[2019-08-13 13:54] #635 closed

[2019-08-13 13:54] #1099 closed

[2019-08-13 13:54] #1375 closed

[2019-08-13 13:54] #1378 closed

[2019-08-13 13:54] #1377 closed

[2019-08-13 13:54] #1379 closed

[2019-08-13 13:54] #1368 closed

[2019-08-13 14:54] #1154 closed

[2019-08-13 14:54] #1049 closed

[2019-08-13 14:54] #1163 closed

[2019-08-13 14:54] #1161 closed

[2019-08-13 14:54] #1169 closed

[2019-08-13 14:54] #1148 closed

[2019-08-13 14:54] #1013 closed

[2019-08-13 14:54] #1090 closed

[2019-08-13 14:54] #1014 closed

[2019-08-13 14:54] #1122 closed

[2019-08-13 14:54] #1213 closed

[2019-08-13 14:54] #850 closed

[2019-08-13 14:54] #1245 closed

[2019-08-13 14:54] #1228 closed

[2019-08-13 14:54] #944 closed

[2019-08-13 14:54] #1264 closed

[2019-08-13 14:54] #1258 closed

[2019-08-13 14:54] #1276 closed

[2019-08-13 14:54] #1284 closed

[2019-08-13 14:54] #1289 closed

[2019-08-13 14:54] #1296 closed

[2019-08-13 14:54] #789 closed

[2019-08-13 14:54] #1058 closed

[2019-08-13 15:23] SunithaR commented on #1188
Any update on when getLog will be added for Jobs?

[2019-08-13 15:54] #986 closed

[2019-08-13 15:54] #987 closed

[2019-08-13 15:54] #960 closed

[2019-08-13 15:54] #999 closed

[2019-08-13 15:54] #1006 closed

[2019-08-13 15:54] #998 closed

[2019-08-13 15:54] #1019 closed

[2019-08-13 15:54] #1036 closed

[2019-08-13 15:54] #1016 closed

[2019-08-13 15:54] #917 closed

[2019-08-13 15:54] #1067 closed

[2019-08-13 15:54] #1079 closed

[2019-08-13 15:54] #1071 closed

[2019-08-13 15:54] #685 closed

[2019-08-13 15:54] #1091 closed

[2019-08-13 15:54] #1093 closed

[2019-08-13 15:54] #1078 closed

[2019-08-13 15:54] #1128 closed

[2019-08-13 15:54] #809 closed

[2019-08-13 15:54] #1052 closed

[2019-08-13 15:54] #993 closed

[2019-08-13 15:54] #1102 closed

[2019-08-13 15:54] #1143 closed

[2019-08-13 15:54] #1149 closed

[2019-08-13 15:54] #386 closed

[2019-08-13 15:56] rohanKanojia commented on #1188
will try to add this feature in next release

[2019-08-13 16:54] #822 closed

[2019-08-13 16:54] #824 closed

[2019-08-13 16:54] #836 closed

[2019-08-13 16:54] #845 closed

[2019-08-13 16:54] #497 closed

[2019-08-13 16:54] #854 closed

[2019-08-13 16:54] #859 closed

[2019-08-13 16:54] #867 closed

[2019-08-13 16:54] #870 closed

[2019-08-13 16:54] #793 closed

[2019-08-13 16:54] #889 closed

[2019-08-13 16:54] #914 closed

[2019-08-13 16:54] #919 closed

[2019-08-13 16:54] #949 closed

[2019-08-13 16:54] #851 closed

[2019-08-13 16:54] #796 closed

[2019-08-13 17:54] #689 closed

[2019-08-13 17:54] #694 closed

[2019-08-13 17:54] #699 closed

[2019-08-13 17:54] #705 closed

[2019-08-13 17:54] #710 closed

[2019-08-13 17:54] #712 closed

[2019-08-13 17:54] #708 closed

[2019-08-13 17:54] #718 closed

[2019-08-13 17:54] #741 closed

[2019-08-13 17:54] #749 closed

[2019-08-13 17:54] #776 closed

[2019-08-13 17:54] #798 closed

[2019-08-13 17:54] #815 closed

[2019-08-13 17:54] #818 closed

[2019-08-13 18:54] #329 closed

[2019-08-13 18:54] #289 closed

[2019-08-13 18:54] #382 closed

[2019-08-13 18:54] #390 closed

[2019-08-13 18:54] #392 closed

[2019-08-13 18:54] #399 closed

[2019-08-13 18:54] #415 closed

[2019-08-13 18:54] #451 closed

[2019-08-13 18:54] #506 closed

[2019-08-13 18:54] #496 closed

[2019-08-13 18:54] #299 closed

[2019-08-13 18:54] #548 closed

[2019-08-13 18:54] #578 closed

[2019-08-13 18:54] #580 closed

[2019-08-13 18:54] #585 closed

[2019-08-13 18:54] #592 closed

[2019-08-13 18:54] #595 closed

[2019-08-13 18:54] #630 closed

[2019-08-13 18:54] #661 closed

[2019-08-13 18:54] #665 closed

[2019-08-13 18:54] #668 closed

[2019-08-13 18:54] #583 closed

[2019-08-13 19:54] #278 closed

[2019-08-13 19:54] #290 closed

[2019-08-14 04:40] sunxianchao opened #1707 "with 4.4.1 HorizontalPodAutoscalerSpecBuilder found no metric method"
i can't find method to set metric in HorizontalPodAutoscalerSpecBuilder class
![image](https://user-images.githubusercontent.com/1154766/62994867-a7207100-be90-11e9-9f22-ffaae36ef46a.png)

[2019-08-14 11:36] ensonic commented on #1109
/reopen, this is not fixed, but I don't have the resources to fix it.

[2019-08-14 11:37] rohanKanojia commented on #1707
@sunxianchao : HorizontalPodAutoscaler's spec has changed a bit since past kubernetes releases, which kubernetes version are you using? Is metric supported on latest releases also(like 1.14 or 1.15) ?

[2019-08-14 11:39] rohanKanojia commented on #1109
@ensonic : Could you please provide a test case if you have time so that someone who wants to work on this can get help from that?

[2019-08-15 07:32] #848 closed

[2019-08-15 09:11] stanlyDoge opened #1708 "Websocket connection issue"
I have upgraded from 4.3.0 to 4.4.1 but my operator is failing wit these exceptions: https://pastebin.com/7qAwaavp

I have laso tried 4.4.0 with the same result.
Any idea what went wrong?

[code]

[2019-08-15 09:18] rohanKanojia commented on #1708
which openshift version are you using?

[2019-08-15 09:19] rohanKanojia commented on #1708
Could you please provide some test code which seems to be failing on this new release?

[2019-08-15 09:58] stanlyDoge commented on #1708
I will take a look whether I can, but I may be too complicated to get the malfunctioning part.

[2019-08-15 13:32] #1517 closed

[2019-08-15 15:08] ahab94 commented on #781
Hey @rohanKanojia, we switched client and it worked. Cant confirm if it's still the case.

[2019-08-15 15:09] rohanKanojia commented on #781
oh, cool. Thanks for the feedback. Let's close it then :)

[2019-08-15 15:09] #781 closed

[2019-08-16 10:21] #1331 closed

[2019-08-17 03:26] zhangzerui20 opened #1710 "Create client from client-certificate-data and client-key-data?"
How can I create client from client-certificate-data and client-key-data. Are there any examples?

[2019-08-17 15:51] #1710 closed

[2019-08-17 15:54] zhangzerui20 opened #1712 "Load object from yaml string?"
How can I get Service object from service yaml string. Something like this:

V1Service service = Yaml.loadAs(yamlString, V1Service.class);

[2019-08-18 07:14] dearboll opened #1713 "How can I mount a pvc in my deployment while using fabric8 client"
I cannot find an example when I wanna to mount a pvc in my deployment using fabric8 client

[2019-08-18 07:19] #1713 closed

[2019-08-18 08:42] Alameyo commented on #1627
Instead of \r\n try to use System.getProperty("line.separator") so newline character would depend on OS.

Also I am not sure if you really need there newlines at all, maybe you could get rid off them.

[2019-08-18 11:58] #1518 closed

[2019-08-19 07:42] rohanKanojia opened #1714 "Replace ci.fabric8.io jobs with c̶i̶r̶c̶l̶e̶C̶I̶ other workflows"
![Screenshot from 2019-08-19 13-11-36](https://user-images.githubusercontent.com/13834498/63247541-e4b33e80-c282-11e9-9a20-2a80acbe64d6.png)
We need to replace these jobs as ~ci.fabric8.io is going to shut down soon~

[2019-08-19 07:57] llowinge commented on #1505
Done with https://github.com/fabric8io/kubernetes-client/pull/1659

[2019-08-19 09:13] #973 closed

[2019-08-20 06:43] manlinl opened #1721 "Is there an async interface of the client"
The examples all are synchronous call, e.g.
NamespaceList myNs = client.namespaces().list();

Is there an async interface on the client?

[2019-08-20 15:27] #1524 closed

[2019-08-20 21:50] sbaier1 commented on #1486
I am applying @jkremser 's workaround currently and i am seeing a very strange issue: the CRD `createOrReplace()` is not idempotent anymore with some Kubernetes version.

I tried running my code with Docker's builtin Kubernetes (Version: `Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"

[2019-08-21 11:29] SachithKasthuriarachchi opened #1723 "How can I access the kubernetes cluster using the token?"
I tried to authenticate the k8s API using the **token**.
First of all, I created a service account named "myacc".
![image](https://user-images.githubusercontent.com/44407066/63427699-62b64780-c433-11e9-99f3-002bdb8e6f14.png)

Then, I checked for the associated secret using the following command.
![image](https://user-images.githubusercontent.com/44407066/63427793-9d1fe480-c433-11e9-8081-83ca889930

[2019-08-22 09:08] #1535 closed

[2019-08-22 09:08] #1536 closed

[2019-08-24 08:30] orendain commented on #868
@rohanKanojia While those are operations are useful (and thank you for your work!), those read/copy methods _downloading from_ a pod.  The process the folks here are referring to deals with _uploading to_ a pod.

We've had to implement our own solution following what other people in this thread have done, but it would be super great to have an officially supported operation for this! 🙏 😃

[2019-08-24 09:43] csviri commented on #1318
Do you know some workaround for this I could try?
(Currently having this problem with Openshift 3.11, client version 4.2.2 for reading custom resources. Interesting is that it happens for just one custom resource not all of them. Will try figure out why..)

[2019-08-25 21:36] #1541 closed

[2019-08-26 09:00] abinet opened #1724 "createOrReplace function does not work properly for custom defined resources"
I'm trying to use createOrReplace function for some CDR but it returns HTTP 422 (Unprocessed entity) on second call. This happens because resource version is not provided in metadata: "mycrd.charts.helm.k8s.io "test" is invalid: metadata.resourceVersion: Invalid value: 0x0: must be specified for an update".

Probably it is releated to https://github.com/kubernetes/kubernetes/issues/70674

[2019-08-26 10:29] PoteznyBiceps commented on #1602
I have the same issue.
Can this be addressed @chechoochoo @carlossg ?

[2019-08-27 11:05] sbaier1 commented on #1626
also seeing this issue, are you planning to update your PR? @scholzj

[2019-08-27 12:24] rohanKanojia commented on #1724
Could you please share some code snippet which is causing this? That might help in figuring out whether it's kubernetes issue or client's issue.

[2019-08-27 12:59] abinet commented on #1724
It's hard for me to provide code snippet but here are the steps to reproduce:
- deploy some custom resource definition
- use fabric8 createOrReplace function to deploy some custom defined resource (like mentioned by @doctapp ScheduledSparkApplcation) initially
- use fabric8 createOrReplace function to update CDR
- you get HTTP Error 422 on second call

As I already wrote most probably it is a k8s

[2019-08-28 05:52] FreddyShen opened #1726 "Failure in determining private key algorithm type, defaulting to RSA"
`13:50:31.841 [main] DEBUG io.fabric8.kubernetes.client.Config - Trying to configure client from Kubernetes config...
13:50:31.858 [main] DEBUG io.fabric8.kubernetes.client.Config - Found for Kubernetes config at: [/Users/ws/.kube/config].
13:50:32.202 [main] DEBUG io.fabric8.kubernetes.client.Config - Failure in determining private key algorithm type, defaulting to RSA
Exception in thread "main"

[2019-08-28 07:10] #1546 closed

[2019-08-28 13:15] hufei opened #1727 "io.fabric8.knative.v1.URL Deserialize failed"
client version: 4.4.0
address.json:
{
  "url": "http://nlp-addr.baidu.com"
}
[code]

get error:
[code]

[2019-08-28 22:46] jorgesartori commented on #1688
Hello @rbaeurle , there are warns logged saying the requirement key!=value was ignored. I improved it to allow this call, but you must call .withoutLabel("keepUntil", "12000") with key and value, because the extractor doesn't work only key (even .with() command).

[2019-08-29 07:34] zhangzerui20 commented on #1721
请问你有找到异步的操作方式么？

[2019-08-29 07:35] oscerd commented on #1721
Please post questions in English.

[2019-08-29 07:37] rohanKanojia commented on #1721
@manlinl : I don't think there is any. It's the kubernetes api which is asynchronous by default so we don't have it in our hands. Unless you're watching any resource, you won't receive any sort or events.

[2019-08-29 07:39] rohanKanojia commented on #1721
@zhangzerui20: वास्तव में सराहना करेंगे यदि आप अपने उपयोग के मामले को थोड़ा विस्तृत कर सकते हैं?

[2019-08-29 07:41] zhangzerui20 commented on #1721
Now the client's request is synchronized, the client sends a Kubernetes Http request, waits for the API server to return the result, and the client returns the result.

Is there a timeout for the request here?

[2019-08-29 07:41] rohanKanojia opened #1730 "Build failing on jdk 11.0.2"
When I try to compile project on jdk11, it seems to be breaking giving this error(shown below). Maybe we forgot to accommodate java 11 related changes while adding knative/tekton extensions?

[code]

[2019-08-29 07:42] zhangzerui20 commented on #1721
sorry for that

[2019-08-29 07:44] rohanKanojia commented on #1721
I don't think there is any timeout since Kubernetes server returns the response immediately without waiting for the operation to complete.

[2019-08-29 09:10] regan-xu commented on #1726
![image](https://user-images.githubusercontent.com/36719035/63927164-c1a53d80-ca7f-11e9-92db-16a509314439.png)
![image](https://user-images.githubusercontent.com/36719035/63927242-e1d4fc80-ca7f-11e9-91c0-a6490b5a75b2.png)

[2019-08-29 09:55] cdtft opened #1731 "How can I init the KubernetesClient?"
[code]
But there has been a failure that made me feel bad
[code]

[2019-08-29 10:00] rohanKanojia commented on #1731
Simplest way of using client this this(Zero configuration):

[code]

[2019-08-29 10:01] rohanKanojia commented on #1731
I think there is some problem in your token authentication in your case. Where is this cluster running? Is it minikube where you're trying to test this ?

[2019-08-29 13:24] davidkarlsen opened #1733 "More lenient handling of proxy"
If the proxy var points to hostname/port, but not including protocol, it fails with:
[code]

this could be more lenient and add http if defined w/o protocol.
Also it is debatable if the error should just be logged at error and continue w/o proxy.

[2019-08-29 13:43] cdtft commented on #1731
cluster running on server, but the code running local. i can use the url and token access kubernetes apiserver.

[2019-08-29 13:44] rohanKanojia commented on #1731
Are you sure that your url and token is correct?

[2019-08-29 13:56] #1730 closed

[2019-08-29 13:58] cdtft commented on #1731
it is correct, beacuse i can use it access kubernetes rest api and create resource.

[2019-08-29 16:45] jorgesartori commented on #1733
What version do you use?
At latest version this exception is in line 159 (in your trace is in 160), and does exactly you asked, puts HTTP always:

[code]

[2019-08-29 17:02] davidkarlsen commented on #1733
4.1.1 it seems: https://github.com/jenkinsci/kubernetes-plugin/blob/kubernetes-1.14.3/pom.xml#L56 - I'll see if we can get the plugin (and thus kubernetes-client lib) upgraded - thanks!

[2019-08-29 17:02] #1733 closed

[2019-08-30 02:33] FreddyShen commented on #1726
oc login --token=*********** --server=https://*******:6443
After login with oc, config file will be generated, and then directly refer to it.

[2019-08-30 02:33] #1726 closed

[2019-08-30 03:18] shenhonglei opened #1735 "How to configure multiple instances"
How to configure multiple instances, I have three k8s, can we let kubernetes-client read configuration information from the database. Is there such an example?

[2019-08-30 06:45] rohanKanojia commented on #1735
I'm not sure that's possible using one instance of client, you can have three different instances of client using three different configs.

[2019-08-30 08:33] FreddyShen commented on #1735
Thank you for your advice, but it's not what I want.

I want to use a kubernetes-client instance to switch between different k8s or openshift.

[2019-08-30 09:31] chamhaw commented on #1589
Are you sure? In kubernetes 1.14, HorizontalPodAutoscaler model has nothing changed, But you simply removed all Metrics options in beta apis.

[2019-08-30 09:36] chamhaw commented on #1707
What has it changed?
in v1 apis, HorizontalPodAutoscalerSpec still has 4 fields as before. (scaleTargetRef, minReplicas, maxReplicas, targetCPUUtilizationPercentage).
After your fix [#1590](https://github.com/fabric8io/kubernetes-client/pull/1590) we can not use extension hpa metrics anymore.

[2019-08-30 09:40] rohanKanojia commented on #1707
What? But I have updated HorizontalPodAutoscalerSpec to align with v1 apis.

[2019-08-30 09:42] rohanKanojia commented on #1707
Have they been changed again in 1.15 release? These specs are parsed from kubernetes source itself.

[2019-08-30 10:02] chamhaw commented on #1707
@rohanKanojia
No, nothing changed in 1.15 release.
and yes, Kubernetes v1 apis never have supported extra hpa metrics.
But Fabric8-client users have been using extra hpa metrics via the HorizontalPodAutoscalerSpec model. Your aligning break the client compatible.

[2019-08-30 10:05] rohanKanojia commented on #1707
ah, sorry for that. I wonder if we can accommodate both of these somehow to keep everyone happy. I'll fix this before next release.

[2019-08-30 12:31] rohanKanojia commented on #1318
@csviri : Thanks for the info. Let me look into this in coming days.

[2019-08-31 20:56] #1552 closed

[2019-09-01 15:25] rohanKanojia commented on #1552
@roksolana-d : polite ping, were you able to resolve your issue? It should work on 4.4.2 I think.

[2019-09-02 06:27] PascalKu opened #1737 "How to create pull secrets?"
Hey there,

is it possible to create k8s pull secrets using this api equivalent to this command line?

```kubectl create secret docker-registry --dry-run=true test --docker-server=null --docker-username=test --docker-password=lol -o yaml > docker-secret.yaml```

Thanks for each contribution!

[2019-09-02 08:40] Silvakilla commented on #1724
I have the same issue with edit. We try client.customResource(context).edit(namespace,name,stream) and it runs directly into an HTTP 422. With createOrReplace it works just fine, not sure whats wrong here.

[2019-09-02 14:14] sbaier1 commented on #1486
@rohanKanojia are you still aware of this? can't really find a workaround for this issue on new k8s versions anymore

[2019-09-02 14:52] wangjianwen opened #1738 "Why Pod's portForward only can keep websocket connection one minutes?"
My demo is as following:

[code]
By testing, the websocket connnection can be keeped one minutes,  then the client receive the code 1000 for close websocket . According to my understanding，It is the server that actively closes the websocket connection. Why? The logs is as follow:

[code]

[2019-09-02 20:35] doctapp commented on #1724
Seems for CRDs, and most k8s resources, you need to first do a GET to read metadata.resourceVersion and then add it to the PUT request. If both match the PUT will succeed, otherwise it's a 422.

[2019-09-03 07:06] rohanKanojia commented on #1486
ah, Yes. I forgot to take a look at this again.

[2019-09-03 07:09] rohanKanojia commented on #1738
@kunal-kushwaha : Did you face this problem while adding #1562 ? If yes, maybe we can add some way to override this behavior.

[2019-09-03 07:11] rohanKanojia commented on #1724
Just wondering if we should modify our `createOrReplace` for this. Or it is a bug in kubernetes?

[2019-09-03 08:37] Silvakilla commented on #1724
@doctapp
It works, just getting the existing resource and then adding the resourceVersion to the edited resource.

@rohanKanojia
Not sure if it is really a bug of more of a "security feature". Normally you  can get the resource via its name, but you can only change it with the current got resourceVersion. To make life easier, atleast for now, you could add that to edit and createOrReplace or leave

[2019-09-03 10:58] dev-dsp opened #1741 "Dump Config to its kubeconfig representation"
Hi! Is there any way to dump io.fabric8.kubernetes.client.Config as kubeconfig content?

[2019-09-03 10:59] rohanKanojia commented on #1741
try `SerializationUtils.dumpAsYaml(configObj)`

[2019-09-03 11:05] dev-dsp commented on #1741
@rohanKanojia dumpAsYaml(io.fabric8.kubernetes.api.model.HasMetadata) in SerializationUtils cannot be applied to io.fabric8.kubernetes.client.Config

[2019-09-03 11:06] rohanKanojia commented on #1741
hmm, looks like it only works for resources extending `HasMetadata`

[2019-09-03 12:56] yuwzho commented on #1195
Can we delete one more pods?

[2019-09-03 13:02] rohanKanojia commented on #1195
@yuwzho : Could you please elaborate what you're saying?

[2019-09-03 13:12] yuwzho commented on #1195
@rohanKanojia I have some pods to force delete (no specific label set, just names), can I make it in one(as less as possible) api call to save network overhead.

[2019-09-03 13:14] rohanKanojia commented on #1195
umm, just names. I don't think so. But if you have full objects then you can do something like:

[code]

[2019-09-03 13:28] dev-dsp commented on #1741
Found #1566 to be about the same problem, but this code won't return correct kubeconfig, it would be just yaml representation of io.fabric8.kubernetes.client.Config class:

[code]

[2019-09-03 13:30] dev-dsp commented on #1741
Also not clear about createNewConfig() method, which is not defined anywhere

[2019-09-03 13:38] rohanKanojia commented on #1741
@dev-dsp : What is it that is missing in generated yaml file and expected kubeconfig file? Could you please share diff if possible? that might help.

[2019-09-03 13:45] dev-dsp commented on #1741
@rohanKanojia here is what I get by running above code (removed some sensitive data):

[code]

It is YAML representation of io.fabric8.kubernetes.client.Config, and I don't see any way to convert io.fabric8.kubernetes.client.Config to io.fabric8.kubernetes.api.model.Config

[2019-09-03 16:26] kunal-kushwaha commented on #1738
@rohanKanojia: I just tested this example and did not face this issue. Were you able to reproduce this error?

[2019-09-03 16:29] rohanKanojia commented on #1738
Sorry, but I haven't tried this so far. Since you played with port-forwarding for some time; I thought maybe you knew about this.

[2019-09-04 00:41] wangjianwen commented on #1738
@rohanKanojia @kunal-kushwaha: Thanks for you very much! I find that this error is not occurred if the program is running on the kubernetes node. But if I deploy the program on the other machine (not kubernetes cluster node), this error will be reproduced just after one minutes. Maybe this issuse can be closed.

[2019-09-04 02:13] yuwzho commented on #1195
Thank you very much! It solves my problem!

[2019-09-04 10:11] #1674 closed

[2019-09-04 13:02] cj102xjtu opened #1744 "Host verification failed when KUBERNETES_SERVICE_HOST is IPv6 address containing double-colon"
Hi,
I am using the kubernetes client to list CustomResource.
I get "Hostname 2001:db8:10a:c6a1::ffff:1 not verified" exceptions, when KUBERNETES_SERVICE_HOST is configured as 2001:db8:10a:c6a1::ffff:1 (doule-colon address). This is because subjectAltNames in the apiserver's certificate is interpreted to 2001:db8:10a:c6a1:0:0:ffff:1 (normalized address). So the double-colon does not match 0:0. even

[2019-09-04 22:46] #1059 closed

[2019-09-05 11:12] JiechengHe commented on #1679
我遇到了和你一样的问题，而且通过debug我觉得是一个bug。你有没有别的解决办法？

[2019-09-05 11:13] JiechengHe commented on #1679
I have encountered the same problem as you, and I think it is a bug through debug. Do you have any other solutions?

[2019-09-05 12:17] stanlyDoge commented on #1708
I did take a look again at this and there is little bit more of desciption.

So when my operator starts, fabric8 does open a websocket
[code]
but each time I want to pull data about crd (e.g. `client.services().inNamespace(namespace).withName("service").get()`)
the socket connection fails with
[code]

Might this be an issue with reusing a websocket? Not much changed there since 4.3.0 where everyth

[2019-09-05 13:10] rohanKanojia commented on #1708
Hmm, I see. Would try to reproduce your error using this.

[2019-09-06 07:34] coki230 commented on #1328
i get the same confuse, if i use "kubectl describe node xxxx",i can get the info of request and limit about cpu and memory. the info is:

Allocated resources:
  (Total limits may be over 100 percent, i.e., overcommitted.)
  Resource           Requests       Limits
  --------           --------       ------
  cpu                3900m (24%)    58300m (364%)
  memory             26772Mi (83%)  34712M

[2019-09-06 07:37] coki230 commented on #1700
@varun93 how do you fix it, i have the same confuse with you.

[2019-09-07 23:32] varun93 commented on #1700
The resource requests and limits of a node from kubectl is aggregated by querying from the containers in the node. So essentially you need to query resource requests and limits from the underlying containers in the node and aggregate them yourself.

[2019-09-08 11:16] #1557 closed

[2019-09-09 02:51] coki230 commented on #1700
@varun93 thank you

[2019-09-09 10:09] #1567 closed

[2019-09-09 11:31] kesyu opened #1745 "CertUtils.getInputStreamFromDataOrFile wrong parameter order"
In https://github.com/fabric8io/kubernetes-client/blob/8072213af9f04132eb27169472dd239f2b21ca3e/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Config.java#L679 the function getInputStreamFromDataOrFile is called with parameters file and data, but the function expects it the other way around: https://github.com/fabric8io/kubernetes-client/blob/8072213af9f04132eb27169472dd239f2b21ca3e/

[2019-09-09 11:33] rohanKanojia commented on #1745
@kesyu : oh, Could you please raise a quick PR to fix this?

[2019-09-09 11:34] kesyu commented on #1745
Sure

[2019-09-09 11:34] rohanKanojia commented on #1745
@kesyu : much appreciated, Thanks.

[2019-09-09 12:33] kesyu commented on #1745
@rohanKanojia Can't raise the PR, I only have read permission to the repository.

[2019-09-09 12:33] oscerd commented on #1745
You need to fork the repository, create the branch on your fork and then open a PR against the original one.

[2019-09-09 12:35] kesyu commented on #1745
@oscerd Ah, I see, thanks.

[2019-09-09 14:02] liketic opened #1748 "Got wired exception when creating job"
I got the following error when trying to create job:
[code]

So there is a retry logic when calling the job api ?  Thank you!

[2019-09-09 18:20] kunal-kushwaha commented on #1748
@liketic: Looks like the resource that you're trying to create already exists.

[2019-09-10 00:51] liketic commented on #1748
@kunal-kushwaha Thank you for your reply. Actually, that's what I'm trying to say, the job is not exist absolutely, because I always create job with a random name. I thought maybe this SDK will auto retry if the create API response a failure, for example, caused by network issue.

[2019-09-10 10:37] walnut-tom opened #1751 "How can i cache DefaultOpenShiftClient？"
### I have a Test:
[code]
### but i got some Exception:
[code]

[2019-09-11 13:14] XciD commented on #417
Any update ?

[2019-09-11 13:16] rohanKanojia commented on #417
@XciD : Unfortunately I haven't been able to find time to fix this. Could you please create a PR to support these if you have bandwidth?

[2019-09-12 02:05] hsamgle opened #1755 "java.lang.ClassNotFoundException: io.fabric8.kubernetes.api.model.ExecEnvVar"
plz check about io.fabric8.kubernetes.client.Config.java

i can't import io.fabric8.kubernetes.api.model.ExecEnvVar etc

i have checked kubernetes-model-4.1.0.jar but not found this class file

maven version is

        <dependency>
            <groupId>io.fabric8</groupId>
            <artifactId>kubernetes-client</artifactId>
            <version>4.4.2</version>
        </dependency>

[2019-09-12 02:25] coki230 commented on #1328
@rohanKanojia how can i get the info of the bottom cmd "kubectl describe node xxxx" use fabric8io the info like this:

Allocated resources:
  (Total limits may be over 100 percent, i.e., overcommitted.)
  Resource           Requests       Limits
  --------           --------       ------
  cpu                4 (25%)        57300m (358%)
  memory             28250Mi (88%)  36120Mi (112%)
  ephemera

[2019-09-13 19:36] iocanel opened #1759 "Portforwarding is broken"
It fails consistnently in openshift 3.x, with an error like:

    Caused by: java.util.concurrent.RejectedExecutionException: Task io.dekorate.deps.okhttp3.RealCall$AsyncCall@5e20ab3f rejected from java.util.concurrent.ThreadPoolExecutor@4846507f[Terminated, pool size = 0, active threads = 0, queued tasks = 0, completed tasks = 0]

Noticed that when I tried to upgrade decorate to 4.5.1.

Used git

[2019-09-13 19:39] rohanKanojia commented on #1759
@iocanel : Sorry for this. Are you working on fixing this? Shall I pick it up instead?

[2019-09-13 19:39] iocanel commented on #1759
@rohanKanojia FYI

[2019-09-13 19:40] iocanel commented on #1759
No need to apologize. It happens :-D
I am done for tonight! I could have a second look tommorow. Feel free to pick it up if you want.

[2019-09-13 19:42] rohanKanojia commented on #1759
I'm aware of this. @stanlyDoge pointed this out in #1709 . I would take a look into this in tomorrow evening.

[2019-09-13 19:45] #1427 closed

[2019-09-13 23:48] kzhang-dsg opened #1760 "The bundle version of kubernetes-client v4.5.1 is missing ServiceLoader files"
The bundle version of kubernetes-client v4.5.1 is missing ServiceLoader files:

Download the jar from maven repo: https://repo1.maven.org/maven2/io/fabric8/kubernetes-client/4.5.1/kubernetes-client-4.5.1-bundle.jar

Open the jar file -> META-INF/services, the following two files are missing from the folder:
io.fabric8.kubernetes.client.ExtensionAdapter
io.fabric8.kubernetes.client.ServiceToURLProv

[2019-09-14 08:09] iocanel commented on #1759
From the top of my mind and just by looking at the code it seems that the issue is that we internally open and close an instance of the client. Why is that a problem? Because when we close the client we also close the underlying http client and its thread pools. So, if we reuse those thread pools (e.g. watch, websockets etc) we are getting an error.

Now, on top of that we have a secondary issue,

[2019-09-14 09:55] walnut-tom opened #1762 "At OpenShiftOperation.java:47 will close the context.getClient()"
### At OpenShiftOperation.java:47-56 end the try block will close the ConnectionPool in context.getClient(), but it's not created by DefaultOpenShiftClient at OpenShiftOperation.java:47.
#### The OpenShiftClient extends AutoCloseable, so it's will be close
[code]

[2019-09-14 10:41] rohanKanojia commented on #1762
There is a PR #1761 to fix it.

[2019-09-14 11:46] #1759 closed

[2019-09-14 14:41] xaoo commented on #868
Can someone turn this into python code pls?

[2019-09-14 16:05] rohanKanojia commented on #868
@xaoo : Sorry but I couldn't since I have never coded in python. Plus fabric8 client is very different syntax from the official.

@orendain : Sorry, I missed your comment somehow. I think it's a valid use case and it would be great if we support it. I'm not sure we should reopen this issue and continue from here. Could you please file a new issue as a feature request for uploading data to pod(so t

[2019-09-14 18:49] rohanKanojia commented on #1762
@walnut-tom : We've fixed this and released 4.5.2, please try it out and share feedback. Closing this issue now, feel free to re-open if you still face this.

[2019-09-14 18:49] #1762 closed

[2019-09-14 18:50] rohanKanojia commented on #1708
@stanlyDoge: Hi,

@walnut-tom : We've fixed this and released 4.5.2, please try it out and share feedback. Closing this issue now, feel free to re-open if you still face this.

[2019-09-14 18:50] #1708 closed

[2019-09-15 02:39] walnut-tom commented on #1735
#### This is my experience, you can try.
[code]

[2019-09-15 02:49] walnut-tom commented on #1712
use util class io.fabric8.kubernetes.client.utils.Serialization, it support json and yaml, and support parameters too.
V1Service service = Serialization.unmarshal(yamlString, V1Service.class);

[2019-09-16 06:49] gitzl opened #1764 "support kubernetes v1.15"
When will support kubernetes v1.15 ?

[2019-09-16 07:20] rohanKanojia commented on #1764
@gitzl : Thanks for reminding. I would upgrade mode to 1.15 withinthis week.

[2019-09-16 07:36] orendain opened #1765 "[Feature Request] Ability to upload files to a pod."
**Feature Requested:**
A method for **_uploading_** files to a pod.

**Context:**
There was some discussion in a different thread (#868) about how to go about achieving this.  @rohanKanojia mentioned that read/copy operations were added.  However, what is missing is the ability to _upload_ files to pods.

There have been a number of discussions around the need for this, and a few of us have implem

[2019-09-16 08:02] rohanKanojia commented on #1765
@dev-gaur : Would this be something you would like to work on?

[2019-09-16 08:15] stanlyDoge commented on #1708
Works perfectly. Thank you for such a fast solution!

[2019-09-16 13:51] #1572 closed

[2019-09-16 16:36] igorcalabria opened #1767 "WatchConnectionManager does not respect user specified pingInterval"
Hi everyone, is there a reason why https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/WatchConnectionManager.java#L85 overrides user's specified `pingInterval` with a fixed value of 30 seconds? Is this a specific requirement of kubernetes? If that's not the case I could provide a PR that reverts this

[2019-09-16 16:43] rohanKanojia commented on #1767
@igorcalabria : oops, I did it in order to deal with `ping not received within x seconds`. Yeah, it would be great if you could raise a PR to override this default value. But if value is not specified, `pingInterval` should be kept to 30 seconds only.

[2019-09-16 22:06] igorcalabria commented on #1767
@rohanKanojia I have provided the PR

[2019-09-17 10:08] #1767 closed

[2019-09-17 10:39] walnut-tom commented on #1751
test pass 4.5.2.
There is a PR #1761 to fix it.

[2019-09-17 10:39] #1751 closed

[2019-09-17 11:21] rohanKanojia commented on #1760
strange, I'm able to see these files in https://repo1.maven.org/maven2/io/fabric8/kubernetes-client/4.5.1/kubernetes-client-4.5.1.jar

[2019-09-17 11:49] rohanKanojia commented on #1764
@gitzl : Are there any specific new api resources corresponding to 1.15 you're looking to get added in client?

[2019-09-17 20:14] rohtakdev opened #1772 "io.fabric8.kubernetes.client.KubernetesClient - Missing Javadoc"
Javadocs are necessary for developers to understand the interfaces and start consuming them. It will really great to have Javadoc at least on KubernetesClient.

[2019-09-17 20:48] #1578 closed

[2019-09-18 00:16] brentpearson opened #1773 "WatchConnectionManager - Exec Failure - java.io.EOFException: null"
I've got a Java application that uses kubernetes-client to create a job, and then set a watch on it. I recently started seeing a new warning msg in the application log.

I'm using K8s 1.15.3 (which I don't think is officially supported by the client yet, but still wanted to see if anyone could help out with this issue), and kubernetes-client 4.5.2.

I have a K8s cluster with 3 master nodes and 1 w

[2019-09-18 05:48] #1477 closed

[2019-09-18 05:48] #1580 closed

[2019-09-18 06:28] rohanKanojia commented on #1772
@rohtakdev : Hi, I agree with you on this. It would be nice to provide at least 60% javadoc coverage across the project. Would you like to create a PR to add some docs, just to get started?

[2019-09-18 10:14] tombentley commented on #1596
This is still a problem, AFAIK.

[2019-09-18 14:15] kunal-kushwaha commented on #1748
@rohanKanojia: Can you please look into this and provide your feedback if you get time?

[2019-09-18 14:19] rohanKanojia commented on #1748
as far as I know we don't have any retry logic in our api. @liketic : Could you please share your job resource yaml so that we can try to reproduce this?

[2019-09-19 09:40] #863 closed

[2019-09-19 10:27] #1585 closed

[2019-09-19 10:35] petergood commented on #1456
I am experiencing the same issue when watching a custom resource.

[2019-09-19 11:46] SachithKasthuriarachchi commented on #1723
Found the answer. To find the access token for your cluster you need to run the `kubectl config view` command. It would be easy to look at if we use `kubectl config view -o json` command. Let's say the access token for the cluster is `TOKEN`, then you can access the cluster using `ConfigBuilder().withMasterUrl(master_url).withOauthToken(TOKEN).build()`

[2019-09-19 11:47] SachithKasthuriarachchi commented on #1723
``

[2019-09-19 11:47] #1723 closed

[2019-09-19 15:50] k-wall opened #1775 "KubernetesList.list().delete(resources) orphanDependents semantics change between 4.1.3 and 4.5.2"
We upgraded our application from 4.1.3 to 4.5.2 and notice a behavioural change in the API.

In 4.1.3 `KubernetesList.list().delete(resources)` sent the following for each resource:

`{"apiVersion":"v1","kind":"DeleteOptions","orphanDependents":false} `

whereas in 4.5.2 the same code results in:

`{"apiVersion":"v1","kind":"DeleteOptions","gracePeriodSeconds":0,"orphanDependents":true}`

so the s

[2019-09-19 16:13] rohanKanojia commented on #1775
so, you're saying list deletion is not `cascading=true` by default? I remember I changed deletion to be `cascading=true` by default in order to align api behavior with `kubectl`'s.

[2019-09-19 16:19] #1384 closed

[2019-09-19 16:41] k-wall commented on #1775
@rohanKanojia exactly, I am saying  KubernetesList.list().delete(resources) no longer sends a cascading deleted.  At 4.1.3 it did send a cascading delete.    We changed our code to adapt to the new behaviour so it is no longer an issue for us, but I wanted to flag up in case it helps others.

[2019-09-19 16:44] rohanKanojia commented on #1775
crap, this is not desired behavior.

[2019-09-19 17:24] #1626 closed

[2019-09-20 02:19] stephen-harlow opened #1776 "Tekton Extension "nodeSelector""
I'm currently trying to use the Tekton extension code examples [(something like this)](https://github.com/fabric8io/kubernetes-client/blob/master/extensions/tekton/examples/src/main/java/io/fabric8/tekton/api/examples/PipelineResourceCreate.java), but I'm running into some issues. When I try to recreate the pipeline example from [here](https://github.com/tektoncd/pipeline/blob/master/docs/tutorial

[2019-09-20 07:23] #1380 closed

[2019-09-20 17:09] PaulFurtado commented on #1247
Bump

[2019-09-20 18:48] rohanKanojia commented on #1247
@oliviercoma @PaulFurtado : I would be more than happy to integrate a PR in order to fix this issue. Could anyone of you please raise a PR to fix this if you have some time? Otherwise I would try to fix this before next major release.

[2019-09-20 20:39] stephen-harlow commented on #1776
I have modified the pom to use the most recent version of the kubernetes-model/client and the tekton-client and I still receive the same error.
[code]

[2019-09-21 20:12] novakov-alexey commented on #685
Looks like I have the same problem:
[code]

[2019-09-21 21:17] iocanel commented on #685
I think 5his is fixed in the latest release

On Sat, Sep 21, 2019, 23:12 Alexey Novakov <notifications@github.com> wrote:

[2019-09-22 09:17] novakov-alexey commented on #685
Indeed, it is fixed with version `4.6.0`

[2019-09-22 23:42] #1593 closed

[2019-09-23 08:00] palmerabollo commented on #1601
Not stale.

[2019-09-23 14:42] #1595 closed

[2019-09-24 18:53] stephen-harlow commented on #1776
After further research, I discovered that the most recent version of Tekton (0.7.0) "removed podSpec in favor of podTemplate" [(See Here)](https://github.com/tektoncd/pipeline/releases/tag/v0.7.0). Is there a timeline on when the tekton-client will be compatible with 0.7.0?

[2019-09-25 08:31] rohanKanojia commented on #1745
closed via #1747

[2019-09-25 08:31] #1745 closed

[2019-09-26 04:33] dongbintop opened #1782 "informer deadlock"
version:V4.6.0

SharedProcessor.java
shouldResync()
lock.readLock().unLock() -> lock.writeLock().unLock()

![image](https://user-images.githubusercontent.com/20614772/65658323-cac30380-e059-11e9-9fd7-250360dfaba4.png)

[2019-09-26 04:33] dongbintop commented on #1782
@rohanKanojia

[2019-09-26 06:20] rohanKanojia commented on #1782
@dongbintop : Thanks a lot for noticing :+1: Let me fix this.

[2019-09-26 07:19] #1782 closed

[2019-09-26 07:23] udit0612 commented on #1328
How to get status of allocated resources ? like in this command
 **kubectl describe nodes** nodename

Allocated resources:
 ****
![image](https://user-images.githubusercontent.com/33015983/65666933-5b9ade80-e05c-11e9-876b-54be5fa4bb33.png)

I tried with every option but couldn't find **cpu and memory usage percentage** .

[2019-09-26 09:48] rohanKanojia commented on #1328
I'm not sure how `kubectl` is fetching this from the api server. Maybe it's calculating it. I checked and it seems to be hitting these apis, but I could not find data in any of it's responses:
[code]

[2019-09-26 09:53] rohanKanojia commented on #1328
looks like it's calculating these from this api response:
**/api/v1/pods?fieldSelector=spec.nodeName%3Dminikube%2Cstatus.phase%21%3DFailed%2Cstatus.phase%21%3DSucceeded**
[code]

[2019-09-26 17:44] iocanel commented on #1776
@stephen-harlow: Hi Stephen, it seems that both tekton and knative are moving really fast :-D and we do have a hard time catching up! Having said that any kind of contribution is more than welcome!

Note, that most stuff are generated so it should require too much effort.

Now, I intended to bump knative soon so I may as well try to bump tekton too, if I have the time.

[2019-09-27 11:01] #1724 closed

[2019-09-28 08:07] iocanel opened #1789 "Create or replace on operation seems broken"
In some cases it seems that:

     client.resourceList(generated).createOrReplace()

Is not working as expected.

See:  https://github.com/dekorateio/dekorate/issues/345

[2019-09-28 08:10] rohanKanojia commented on #1789
@iocanel : Could you please share contents of the generated which might help in debugging?

[2019-09-28 08:11] rohanKanojia commented on #1789
If you were getting 422, then this might be related https://github.com/kubernetes/kubernetes/issues/70674 .

[2019-09-28 09:14] iocanel commented on #1789
@rohanKanojia: Can we make sure that `deleteExisting()` works as expected?

  I'll update dekorate to always use `deleteExisting()` if this it works fine.

[2019-09-29 08:54] rohanKanojia commented on #1789
I would test this and report on Monday

[2019-09-29 14:59] #778 closed

[2019-09-30 07:37] tombentley commented on #1607
Not stale. I see @rohanKanojia is working on a fix, which is great.

[2019-09-30 10:18] iocanel opened #1790 "Provide the ability to select knative version as we select api groups."
Once #1788 goes in, we will have 3 apiVersion available for knative:

- v1alpha1
- v1beta1
- v1

This means 3x Hanlders and 3x Operations.

The default knative client will be using v1 but maybe it makes sense to be able to fallback to a v1beta1 client or v1alpha one. The process could be similar to what we currently have for apiGroups via `adapt`.

[2019-09-30 11:49] #1597 closed

[2019-09-30 13:49] #1556 closed

[2019-10-01 09:07] Surykat commented on #1291
Hello. I'm facing issue related to this one I guess:

My deployment is using `apiVersion:extensions/v1beta1` at Kubernetes v1.12

client.apps().deployments().inNamespace(DEFAULT_NAMESPACE).create(deployment) works fine, but createOrReplace returns error mentioned in this thread.

I'm using v4.2 client.

[2019-10-01 09:13] rohanKanojia commented on #1291
try `client.extensions().deployments.inNamespace(DEFAULT_NAMESPACE).createOrreplace(yourDeployment)`

[2019-10-01 09:30] Surykat commented on #1291
I did, behaviour is exactly the same.

[2019-10-01 09:37] rohanKanojia commented on #1291
Could you please share full stacktrace and code(along with your deployment spec) which reproduced this error?

[2019-10-01 09:57] PoteznyBiceps commented on #1602
Sorry, but I need to bump it due to no answer, while we're still facing the problem. @iocanel @rohanKanojia

[2019-10-01 10:11] rohanKanojia commented on #1602
I'm not sure if I got full picture of your issue. Do you want to have feature of killing watch somehow? Or are you saying there is a bug in watch that it should not have closed on `onClose` event? How much websocket  timeout/ping intervals are you using? Do increasing them change anything?

[2019-10-01 10:20] iocanel commented on #1602
The watch being closed forcefully means that someone explicitly called `close()` on the Watch instance. This is either the `kubernetes-client`, `spring-cloud-kubernetes` or the client code.

The kubernetes-client is not meant to close the watch once it's created and handed over to the user. Any case that contradicts that is definitely a bug in the `kubernetes-client`. With a quick glimpse, this do

[2019-10-01 12:15] iocanel commented on #1731
When having issues with certificates setting

    KUBERNETES_TRUST_CERTIFICATES=true

usually helps.

[2019-10-01 14:35] cdtft commented on #1731
thank you for your reply. I solved this problem earlier. i setting caCertData when i init kubernetes client. like this:
[code]
I will try your suggestion.

[2019-10-01 15:07] Surykat commented on #1291
[code]

Deployment DSL:

`DeploymentBuilder()
                .withApiVersion("extensions/v1beta1")
                .withKind("Deployment")
                .withNewMetadata()
                    .withName("somename")
                    .withNamespace("somenamespace")
                .endMetadata()
                .withNewSpec()
                    .withNewStrategy()
                        .withT

[2019-10-01 15:19] #1604 closed

[2019-10-01 15:59] rohanKanojia commented on #1614
I think #1742 would solve this

[2019-10-01 18:10] DarshanMurthy opened #1795 "! is not required in the example"
It seems like "!" is recognized as a logical operator.

https://github.com/fabric8io/kubernetes-client/blob/0f83674fbd7b7f748e4afb995f47eecc4f1a342e/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/WaitUntilReadyExample.java#L41

[2019-10-02 10:41] #1731 closed

[2019-10-02 13:10] #1153 closed

[2019-10-03 09:22] rohanKanojia commented on #1795
@DarshanMurthy : Could you please create a PR to fix it?

[2019-10-04 10:17] #1789 closed

[2019-10-04 18:28] torrescd opened #1796 "Issue on EC client cert (BouncyCastle)"
KubernetesClientException("JcaPEMKeyConverter is provided by BouncyCastle, an optional dependency. To use support for EC Keys you must explicitly add this dependency to classpath.");

I have no clue to how do that.

Shouldn't be managed by bouncycastle-api like in kubernetes-plugin?

Regards!

[2019-10-04 18:29] rohanKanojia commented on #1796
It's a heavy dependency that's why we didn't add it to main jar. You can add it in your project like done here: https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-tests/pom.xml#L109

[2019-10-04 18:34] torrescd commented on #1796
Great, thanks!

It would be nice to have some mechanism to achieve that without rebuilding the plugin anyway.

Regards.

[2019-10-05 09:07] #1609 closed

[2019-10-05 16:47] torrescd commented on #1796
I have done a pull request regarding this topic.

https://github.com/fabric8io/kubernetes-client/pull/1798

[2019-10-07 17:28] novakov-alexey commented on #1775
I think I hit this issue in `4.6.0` version as well :-(
Also, I have weird behaviour when trying to remove resources one by one: first resources is removed from Kubernetes all others are still alive.

[2019-10-08 15:58] Fabian-K opened #1801 "Tekton Extension fails to deserialize parameter values"
Hi,

first of all, thanks for the tekton extension! Since Tekton 0.6.0, param values now also support Arrays in addition to Strings (https://github.com/tektoncd/pipeline/pull/1080). This seems to break the usage of `tknClient().pipelines().load(is).createOrReplace()` with the following input (simplified)

[code]
The load method throws
[code]

As I understand, the tekton extension is generated from

[2019-10-09 07:40] LegendJ opened #1803 "Missing "/" in request url while using customresource client"
## Problem
- while using `client.customResource(csvContext).create()` for creating customresource, I'm running into this Exception below, my client is initialized from a kubeconfig file whose apiserver endpoint is https://x.x.x.x:7443.
[code]
## Cause
- After debuging the source code ,I find code lines below.
https://github.com/fabric8io/kubernetes-client/blob/90dfe6443d0caf1dbd015a32e6a635f0a96ce

[2019-10-09 10:06] rohanKanojia commented on #1803
@LegendJ : Strange, my minikube also has apiserver endpoint like yours but I don't face this error:

[code]

But I think appending a `/` explicitly does no harm

[2019-10-09 10:12] rohanKanojia commented on #1803
@LegendJ : Hi, I've created a PR for fixing this. Could you please build a snapshot and test it whether it's working for you or not?

[code]

[2019-10-09 10:14] mchoma opened #1805 "Unable to create Template on OCP4"
I am getting

[code]
With 4.1.1 it was OK.

Template is version `v1`
[code]
Creating with
[code]

I understand this is somehow related to [1] and [2]. As this  worked with `4.1.1` is this regression?

But I am not sure what is now correct solution for this. Correct Update templates objects to `template.openshift.io/v1`? Templates are not ours, so there may be some resistance to do so argumenting c

[2019-10-09 13:14] mchoma commented on #1805
@gastaldi ^^^ could you have a look please?

[2019-10-09 13:28] gastaldi commented on #1805
Yes, this is a fix that was introduced in 4.4.2 AFAIK. Because the `oapi` endpoint no longer exists in OpenShift 4.x, it's necessary to change the `apiVersion` in the template to `template.openshift.io/v1`) (explicitly call `template.setApiVersion("template.openshift.io/v1")` may also work)

There are other resources that may need this change, see https://issues.jboss.org/browse/RHOAR-124 for more

[2019-10-09 13:31] mchoma commented on #1805
@gastaldi how do you explain we run Templates in version `v1` with client version `4.1.1` with no problem on OCP4?

[2019-10-09 13:37] gastaldi commented on #1805
Initial support for OpenShift 4 was introduced in 4.1.0, but there are cases where it would still hit the `oapi` endpoint.

Can you confirm 4.1.1 hits `/apis/template.openshift.io/v1/namespaces/{namespace}`?

[2019-10-09 13:41] gastaldi commented on #1805
Also worth mentioning that changing the template does not impact OpenShift 3.x

[2019-10-09 13:47] k-wall commented on #1775
@novakov-alexey yes, I'm seeing other problems too with this upgrade in our project which I would characterise as weird problems removing resources.  Unfortunately, I don't have the capacity at the moment to dig deeper and find root cause.

[2019-10-09 14:52] gastaldi commented on #1805
Ok, then this seems to be a regression

[2019-10-10 12:48] rohanKanojia commented on #1803
@LegendJ : polite ping, Did you get time to try it out?

[2019-10-10 14:32] rohanKanojia commented on #1486
@sbaier1: I think your issue is related to #1789 , now kubernetes api requires `metadata.resourceVersion` to be passed in updated object for patching. You should get it fixed in next release.

[2019-10-11 01:40] LegendJ commented on #1803
@rohanKanojia sorry for the delay, I've test it just now and it worked fine. you can close the issue now

[2019-10-11 05:19] rohanKanojia commented on #1803
@LegendJ : You mean you tested my PR or you were unable to reproduce the issue itself?

[2019-10-11 05:36] LegendJ commented on #1803
@rohanKanojia using the new, PR verision

[2019-10-11 06:59] rohanKanojia commented on #1803
oh, okay. I would merge it and notify you on next release

[2019-10-11 09:07] rohanKanojia commented on #1775
This seems to be introduced from #1742

[2019-10-14 07:40] mchoma opened #1808 "Deleting DeploymentConfig takes ~ 1 minute"
profiler data for `4.6.0` client
![Screenshot from 2019-10-14 09-19-53](https://user-images.githubusercontent.com/10402702/66735367-6e881e00-ee66-11e9-9f0d-331528925eb6.png)

For comparision profiler data for `4.1.1` client
![Screenshot from 2019-10-14 08-31-15](https://user-images.githubusercontent.com/10402702/66735408-8f507380-ee66-11e9-82ee-5321bf0f0120.png)

[2019-10-14 07:42] rohanKanojia commented on #1808
maybe because it's now deletion is  `cascading=true` now? Does `cascading(false)` help in reducing deletion time.

[2019-10-14 07:51] mchoma commented on #1808
We use `.cascading(false)` by default `resource(hasMetadata).withGracePeriod(0).cascading(false).delete();`

[2019-10-14 08:32] dsimansk commented on #1808
Well, we started to mess with parameters after client upgrade. However, I'm pretty sure order wasn't changed though.

[2019-10-14 09:41] #1803 closed

[2019-10-14 10:49] #1775 closed

[2019-10-14 11:36] #1607 closed

[2019-10-15 01:25] darewreck54 opened #1811 "KubernetesPolicyRule & KubernetesSubject removed since 4.0.4"
I was using 4.0.4 and was trying to upgrade to 4.6.0 and notice that

[code]

no longer exist.  Any idea why this was removed or if it got replaced with something else?

Thanks,
Derek

[2019-10-15 01:28] darewreck54 commented on #1811
This was referenced in https://github.com/fabric8io/kubernetes-client/issues/1185 but that was last year

[2019-10-15 01:34] darewreck54 commented on #1811
https://github.com/fabric8io/kubernetes-client/commit/c21458eefa774ec9cdf91a884a60896cea370324#diff-04198e9cf38a75eef105811ca8c29a76  Looks it was renamed.

[2019-10-15 01:34] #1811 closed

[2019-10-15 11:25] #1801 closed

[2019-10-15 13:02] zhangzerui20 opened #1812 "call method task 3~4 seconds"
client version is 3.2.0.

            long be = System.currentTimeMillis();
            Config config = new ConfigBuilder().withMasterUrl("https://100.98.109.15:11229").
                    withTrustCerts(true).withUsername("admin").withPassword("Hnvlam9UaGesAlFEkXfkkDW6HHKH4xUt").build();

            client.extensions().deployments().inNamespace("default").
                    withName("alon-doc

[2019-10-15 13:08] zhangzerui20 commented on #1812
At the same time, the CPU occupancy rate has reached 100.

[2019-10-15 13:15] rohanKanojia commented on #1812
@zhangzerui20 : 3.2.0 is obsolete, please migrate to 4.x versions.

[2019-10-16 15:25] lalithsuresh opened #1816 "V1Binding API equivalent?"
Using the kubernetes-java client (https://github.com/kubernetes-client/java/), I can implement my own scheduling logic to assign pods to nodes by doing something like this:

[code]
How can I do the same thing using the fabric8io client? I'd love to avoid using another client in my system only to support the above code snippet.

Thanks!

[2019-10-16 15:36] rohanKanojia commented on #1816
Umm, `Binding` should be equivalent resource to `V1Binding`, but I'm not sure about the dsl equivalent. Could you please elaborate your use case? What endpioint does `createnamespacedBinding` trigger? We have rolebinding support, but not sure about namespaced binding.

Do you have `kubectl` equivalent of this code snippet? that also might help.

[2019-10-16 16:07] lalithsuresh commented on #1816
I'm still new to the Kubernetes APIs, so apologies if I'm slow here. My use case is to mimic in Java what the Kubernetes default scheduler does internally in this specific line: https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/scheduler.go#L559

[2019-10-16 16:17] lalithsuresh commented on #1816
From what I can tell, createNamespacedBinding() creates a POST to "/api/v1/namespaces/{namespace}/bindings/", if that's what you meant by the endpoint being triggered?

[2019-10-16 16:27] rohanKanojia commented on #1816
Yeah, that's what I asked for. I would look into this. For now, could you please check if you are able to create binding like this?

[code]

[2019-10-16 16:35] lalithsuresh commented on #1816
When trying that, it triggers the following exception because there is no handler that can process Binding objects:

[code]

[2019-10-16 16:39] rohanKanojia commented on #1816
ah, I suspected this. We need to add handler for binding.

[2019-10-16 20:35] lalithsuresh opened #1818 "NPE when using mock Kubernetes Server"
Following what I could find in kubernetes-tests, I'm running into the following NPE when using the Kubernetes mock server.

[code]

NPE:
[code]

The dependencies I used were:

[code]

I've tried different variants of the KubernetesServer constructors to no avail. What am I missing?

[2019-10-16 20:55] lalithsuresh commented on #1818
It appears that server.before() isn't being invoked by the @Rule. Invoking it manually works.

[2019-10-17 09:49] rohanKanojia commented on #1816
@lalithsuresh : I've raised a PR for this. Would appreciate if you could try it out and share feedback ;-)

[2019-10-17 09:50] rohanKanojia commented on #1818
@lalithsuresh : ah, I see. Would it be possible for you to raise a PR to fix this behavior(if you have some time ;-) )?

[2019-10-17 17:17] lalithsuresh commented on #1816
Will do, thanks!

[2019-10-17 18:06] lalithsuresh commented on #1818
I'll have a look sometime in the coming days.

[2019-10-18 12:36] noamichael commented on #959
This is a pretty big issue. The entire point of using templates is that they can be parameterized, and the client library needs to support that. The issue is twofold: [the parsing code](https://github.com/fabric8io/kubernetes-client/blob/4bd34d757dd365b82f38efb00814c94f00b340b5/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/utils/ReplaceValueStream.java#L61 ) assumes only a single cu

[2019-10-18 12:50] rohanKanojia commented on #959
@noamichael : Hi, Thanks for noticing. I can prioritize it for 4.7.0 if you can give me some test cases which are reproducing this, and what use cases in template context are still unsupported.

[2019-10-18 14:18] tombentley commented on #1596
Actually, it looks this like has been fixed.

[2019-10-18 14:18] #1596 closed

[2019-10-18 14:24] tombentley opened #1820 "Override Createable.create(T) to avoid generic array creation"
`Createable.create(T...)` being varargs means that I get compiler warnings about generic array creation when I'm calling it with a single argument (which is pretty much always) and the type of the Creatable is a type parameter.

Would it be possible to add an override `Createable.create(T)` to avoid this?

[2019-10-19 06:06] wxl86697716 opened #1821 "How to set timeoutSeconds parameter for the watch method"
![image](https://user-images.githubusercontent.com/13344339/67138534-5570da00-f277-11e9-8589-dcaab476a5b1.png)
![image](https://user-images.githubusercontent.com/13344339/67138576-3fafe480-f278-11e9-8a53-ce10acbe502d.png)
![image](https://user-images.githubusercontent.com/13344339/67138674-89e59580-f279-11e9-81a9-bce7871b0f5d.png)

[2019-10-19 07:19] rohanKanojia commented on #1821
I think you can do it via setting `KUBERNETES_WEBSOCKET_TIMEOUT_SYSTEM_PROPERTY` in your project

[2019-10-19 08:14] wxl86697716 commented on #1821
@rohanKanojia   Thank you for your reply.
I don't think `KUBERNETES_WEBSOCKET_TIMEOUT_SYSTEM_PROPERTY` works the same way as `timeoutSeconds`.
I tried to configure the WebsocketTimeout parameter, but did not stop watch after the specified time.
![image](https://user-images.githubusercontent.com/13344339/67140190-96261e80-f28a-11e9-8857-5eae5fe00379.png)

[2019-10-19 19:36] rohanKanojia commented on #1821
oh, I see. You can also try setting it in config object during initializing client(not sure whether you've already tried it or not):
[code]

[2019-10-19 19:38] rohanKanojia commented on #1821
oh, I see that you already tried it(sorry, just noticed the screenshot). It should work ideally. Could you please share more details? A test case (in code) and openshift version which you're testing against.

[2019-10-20 02:22] wxl86697716 commented on #1821
I can confirm that the account used has access rights.
I want to use the Java SDK to do the same thing as curl, which automatically stops when the watch API is called after a period of time.

I tried the following version：
Openshift version: `OKD_3.11` and `OCP_3.11`
fabric8.openshift-client: `4.6.1` and `4.1.1 `

#get token
`curl -u admin:xxxxxxxxx -kv -H "X-CSRF-Token: 1" "https://my-osc.yzh.com

[2019-10-21 09:35] #1796 closed

[2019-10-21 11:38] udit0612 opened #1822 "Is there any API corresponding to top command?"
I wants to  run a top command

` kubectl top nodes`

My output should be like this
[code]

How can i achieve these i didn't see any option of top command in the api

[2019-10-21 15:14] xskerik opened #1823 "client.resourceList() bug"
I used **client.load()** for loading external configs.
These configs are in yaml format and contains several items seperated with **---**
It worked pretty good. When configs contains 3 parts, then 3 parts were returned.

Since I need to hold my configs in memory (due to generating unique name on the fly) I switched to **client.resourceList()**.
The error has occured,  now, the method returns only

[2019-10-22 09:03] xskerik commented on #1823
Example of my k8s config
`
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: app-SANDHASH
  labels:
    app: app-SANDHASH
  namespace: dev
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: app-SANDHASH
    spec:
      initContainers:
        - name: init-wait-mong

[2019-10-22 09:15] #1816 closed

[2019-10-22 09:36] sbaier1 commented on #1548
this is still relevant, is it not? there still is no proper subresource support

[2019-10-22 09:39] sbaier1 commented on #1486
The error i described still happens with 4.6.1. It is pretty simple to reproduce, create a CRD using an openAPI validation schema, set dependencies to null and run `createOrReplace` twice. The error will occur in any recent Kubernetes version.

[2019-10-22 09:48] rohanKanojia commented on #1486
Have you tried creating CRD with the workaround I specified?

[2019-10-22 10:13] sbaier1 commented on #1486
Yes, it shows the same behavior. Here's a quick and dirty reproducer:

[code]

[2019-10-22 14:09] zhangzerui20 opened #1826 "How to get results similar to `kubectl get pod`"
Can sdk get results similar to kubectl get pod?

like command :
`kubectl get pod`

NAME                                                READY     STATUS    RESTARTS   AGE
xxx-xxx-provider-689df7b7c8-fn9zr   1/2         Error           1               25s
test-xxx-5c48b54979-857db              2/2         Running     0              14m

[2019-10-22 14:09] zhangzerui20 commented on #1826
I want to get the status of pod.

[2019-10-24 11:45] #1621 closed

[2019-10-24 15:09] Laggar opened #1829 "can not rolling updateImage fro deployments"
when I use below code to roll update the deployments ,then throw exception . (can not modify the selector)
"
 client.apps().deployments().inNamespace(namespace)
                    .withName(deployName)
                    .rolling()
                    .updateImage(imageName);
"
exception is:

Message: Deployment.apps "kmsp-deployment-nginx" is invalid: spec.selector: Invalid value: v1.LabelSelec

[2019-10-25 09:38] rohanKanojia commented on #1515
@paxbit @fmichielssen: Polite ping, Is this still an issue? I was trying to reproduce it but could not. Here is the code I used to reproduce it:
[code]

But for me, it returned just after pod got ready. Could you please check if it's working for you on 4.6.1? If still facing problems while waiting, Could you guys please provide a simple test case to reproduce?

I've created a small gif:
![Peek 201

[2019-10-27 19:40] #1649 closed

[2019-10-28 03:04] majian159 opened #1834 "autoscaling().horizontalPodAutoscalers().createOrReplaceWithNew() "already exists""
createOrReplaceWithNew Should be used PUT instead of POST.
code:
[code]
error info:
Caused by: io.fabric8.kubernetes.client.KubernetesClientException: Failure executing: POST at: https://127.0.0.1:6443/apis/autoscaling/v1/namespaces/test/horizontalpodautoscalers. Message: horizontalpodautoscalers.autoscaling "hpa" already exists. Received status: Status(apiVersion=v1, code=409, details=StatusDetai

[2019-10-28 03:16] majian159 opened #1835 "KubernetesClientException: Namespace mismatch. Item namespace:a. Operation namespace:b."
When I call the client in the pod to create HPA, an exception will occur.
I observed when  KubernetesClient.getNamespace() is current pod namespace.
[code]
Set the namespace to null in Config, the problem is solved.
create hpa code:
[code]

old config code:
[code]
new config code:
[code]

[2019-10-28 11:07] rohanKanojia commented on #1835
Which version of k8s-client are you using?

[2019-10-28 11:49] rohanKanojia commented on #1826
Does `client.pods().inNamespace("default").withName("my-pod").get().getStatus()` doesn't give the information you require? I'm not you would get information in pretty much the same format as kubectl provides. Could you please check?

[2019-10-28 11:56] rohanKanojia commented on #1829
which version of k8s-client are you using?

[2019-10-28 12:00] #1537 closed

[2019-10-29 04:45] majian159 commented on #1835
@rohanKanojia sorry.I am using version 4.6.1, k8s master is v1.16.

[2019-10-29 04:45] majian159 commented on #1834
client version: 4.6.1

[2019-10-29 08:04] zhangxingdeppon opened #1837 "what‘s the Kubernetes 1.13.X 's Compatibility Matri?it didn't write it in readme.txt"
hi.buddies,I did read the document readme.txt,but I don't find the Compatibility Matri about  Kubernetes 1.13.X.just read this information.but not 1.13.x :
![image](https://user-images.githubusercontent.com/16789841/67748632-51f30500-fa66-11e9-9ccc-f743a24758cb.png)

[2019-10-29 08:46] rohanKanojia commented on #1837
We usually update compatibility matrix during kubernetes-model upgrade. I would say current version is fully compatible with Kubernetes 1.13.x versions.

[2019-10-29 08:48] zhangxingdeppon commented on #1837
@rohanKanojia ok,I got it ,thanks

[2019-10-29 09:48] iocanel opened #1838 "KnativeResourceMappingsProvider uses wrong apiGroup"
Uses `knative.dev` while it should be using `serving.knative.dev` etc.

[2019-10-29 10:16] #1630 closed

[2019-10-29 13:53] k-wall opened #1840 "More orphanDependents changes between 4.1.3 and 4.6.1"
Following on from #1775 which reported an API change in `list().delete()`, I notice other places where the semantics of the `delete()` have changed since 4.1.3.

Running [this](https://github.com/k-wall/kctest) simple Main which calls `client.configMaps().delete()` with OkHttp tracing turned on:

against 4.1.3 I see:

[code]

against 4.6.1:

[code]

Bisecting, I see that the change was introduced

[2019-10-29 13:56] rohanKanojia commented on #1840
We changed deletion policy in order to align with `kubectl` defaults. I haven't checked for `ConfigMap` but isn't it the same when done using `kubectl`?

[2019-10-29 14:16] k-wall commented on #1840
Not for me.  kubectl v1.14.1 sends `Background` which I believe corresponds to a cascading delete.  This tallies with what I [read](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#setting-the-cascading-deletion-policy).

[code]
If the intent was to change the API, it should be called out in the release notes.  I don't think I see it.

[2019-10-29 16:14] SergSlipushenko commented on #1075
It is still relevant for people using k8s-as-a-service on Azure. We applied the workaround mentioned by @chenchun and it works fine so far...

[2019-10-29 16:40] kunal-kushwaha commented on #1282
@rohanKanojia : Can you please make sure that the resources you have listed are the right ones to be implemented? I'll start working on adding those asap.

[2019-10-30 02:23] chakpongchung commented on #1598
@skonto
same problem here:

spark-2.4.4-bin-hadoop2.7 $ ./run.sh
log4j:WARN No appenders could be found for logger (io.fabric8.kubernetes.client.Config).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Exception in thread "main"

[2019-10-30 07:33] rohanKanojia commented on #1282
I'm not sure about adding this support since this doesn't seem to be supported by default Kubernetes. We need to check how to interact with this heapster service:
[code]

[2019-10-30 07:42] rohanKanojia commented on #1840
@k-wall : ah, you're right. It's a mistake on our side that we haven't provided API change information in release notes. Apologies for that. I'll update the release note whenever I get time.

[2019-10-30 09:08] k-wall commented on #1840
Ok, our project will make a change to make explicit use of `cascading(true)` or `withPropagationPolicy()` so we get the behaviour it needs.

[2019-10-30 09:52] #1651 closed

[2019-10-30 14:14] iocanel opened #1844 "KubernetesDeserializer doesn't handle well arrays."
[INFO] java.lang.ClassCastException:
    com.fasterxml.jackson.databind.node.ArrayNode cannot be cast to
    com.fasterxml.jackson.databind.node.ObjectNode

This happens because KubernetesDeserializer:73 assume `ObjectNode`.

[2019-10-31 13:36] #1826 closed

[2019-10-31 16:13] zregvart opened #1847 "Duplicate resources on classpath"
The `kubernetes-client-*.jar` and `openshift-client-*.jar` both ship with `resource-*.vm` within them. I don't know if these files are loaded at runtime, they seem to be a part of code generation, so perhaps not.

If they're loaded at runtime there is no guarantee on what file will be read, it might depend on the order of jars on the classpath or on some heuristic of the class loader being used. I

[2019-11-01 04:05] jdfrozen opened #1848 "How to support sysctls in version 1.13+？"
After version 1.13, it is modified as follows，SecurityContext.class not support ？

apiVersion: v1
kind: Pod
metadata:
  name: sysctl-example
spec:
  securityContext:
    sysctls:
    - name: kernel.shm_rmid_forced
      value: "0"
    - name: net.core.somaxconn
      value: "1024"
    - name: kernel.msgmax
      value: "65536"
  ...

[2019-11-02 01:39] tony-Ma-yami commented on #1679
Yes, you can create one or more new paths add in paths override the old path, hope can help you

[2019-11-04 02:52] majian159 commented on #1834
i added `.inNamespace(namespace)` to solve the problem.
but I don’t think it should
new code:
[code]

[2019-11-04 02:53] majian159 commented on #1835
i added `.inNamespace(namespace)` to solve the problem.
but I don’t think it should
new code:
[code]
@rohanKanojia

[2019-11-04 02:54] majian159 commented on #1835
Similar problem #1834

[2019-11-04 08:27] #1673 closed

[2019-11-04 10:03] mchoma opened #1850 "Build log is populated by timestamps"
After upgrading openshift client we start to experience on OpenShift 4 that timestamps are injected also into middle of line, which breaks looking for specific pattern

Log in openshift console:
[code]

Log in test:
[code]

I believe it has something to do with https://github.com/fabric8io/kubernetes-client/issues/579. How can we turn off this behaviour?

This is how we get log
[code]

[2019-11-04 10:07] mchoma commented on #1850
@rohanKanojia @pmcq FYI

[2019-11-04 10:10] rohanKanojia commented on #1850
ah, this doesn't look good. Let me try to fix this as soon as possible.

[2019-11-04 13:43] GrigorievNick commented on #1458
@rohanKanojia But this API does not have some features like `awaitUtilReady`.

[2019-11-04 13:54] rohanKanojia commented on #1458
@GrigorievNick : oh, Yeah. Does typed api support `awaitUntilReady` functionality? I think we can add this functionality in typeless api also.

[2019-11-05 06:02] rohanKanojia commented on #908
Duplicate of #1816

[2019-11-05 06:02] #908 closed

[2019-11-05 06:24] rohanKanojia commented on #864
Closing this as we seem to have this support

[2019-11-05 06:39] #1672 closed

[2019-11-05 06:49] #864 closed

[2019-11-05 07:00] akvishwakarma27 commented on #1247
@rohanKanojia I want to fix this issue

[2019-11-05 07:06] rohanKanojia commented on #1247
@akvishwakarma27 : cool, Would you like to create a PR to fix this?

[2019-11-05 07:11] akvishwakarma27 commented on #1247
@rohanKanojia Sure give me sometime i will create PR and post it here

[2019-11-05 08:59] k-wall commented on #1840
@rohanKanojia from our perspective, this issue can be closed.  We changed our code to adapt to the new behaviour.

[2019-11-05 13:10] kunal-kushwaha commented on #735
@rohanKanojia : I just checked and this issue has been resolved. We can close this issue.

[2019-11-05 13:19] rohanKanojia commented on #735
@kunal-kushwaha : Thanks a lot for taking time to look into this :+1: . I'll close this then ;-)

[2019-11-05 13:19] #735 closed