[2021-05-20 10:30] manusa commented on #3144
From your initial message, for some reason I understood that there was a failing operation, not that the resource was missing the update. OK, got it now, thx.

[2021-05-20 10:30] shawkins commented on #3144
@Fabian-K can you clarify does your crd have /status as a subresource?

Sorry I'm probably not being clear either.  The mock server does not look at crds.  It therefore doesn't actually know if /status is a subresource or not.  With https://github.com/fabric8io/kubernetes-client/pull/3092#issuecomment-836395303 the mock server is always assuming that /status is a subresource.  This means that with

[2021-05-20 10:38] Fabian-K commented on #3144
No it does not have the status subresource, just like the Star example does not have it. When only considering the no status subresource case, the behavior of patch was correct (-> matching with a real k8s cluster) with 5.3.1 but is wrong with 5.4.

[2021-05-20 10:43] manusa commented on #3144
![image](https://user-images.githubusercontent.com/488391/118965450-fe5a4c00-b968-11eb-909b-d87a4c9eb95f.png)

The removeStatus method seems to be causing problems.

[2021-05-20 10:43] shawkins commented on #3144
Yes the old patch behavior was correct for /status when not a subresource, but incorrect otherwise.  The new assumption is that /status is a subresource.

For this not to be an assumption an enhancement is needed.

[2021-05-20 10:45] shawkins commented on #3144
Yes that was an intentional change as per https://github.com/fabric8io/kubernetes-client/pull/3092#issuecomment-836395303

[2021-05-20 10:54] manusa commented on #3144
Yes, I think I got that :)

What I can translate from " It would take an enhancement of mock server consulting the crd to understand the difference." is that from the client perspective:
- when we are patching a standard resource to modify the status we use the `/resource/${name}/status` endpoint
- when we are patching a custom resource, we check the CRD to see if it has a status subresource enabl

[2021-05-20 11:05] shawkins commented on #3144
Yes, that is why an enhancement is required.

I don't follow what you are saying here.  If the status is a subresource, then the patch won't affect it.

Generally that would not be expected.  Even if it's modifiable in a real scenario the respective controller owns the status, so if you make a change it would quickly get change back.

[2021-05-20 11:15] manusa commented on #3144
**true**

From https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#status-subresource
_"When the status subresource is enabled,... ... PUT/POST/PATCH requests to the custom resource ignore changes to the status stanza."_

This is what logic and common-sense say, but I'm not sure some real (probably dated) resources will follow this assumption. It's a ba

[2021-05-20 11:24] shawkins commented on #3144
I just want to clarify that I'm absolutely not opposed to requiring a crd to determine the subresource handling - it was just a lot easier to push that out of scope if we could assume that it was always a subresource.

[2021-05-20 12:54] shawkins opened #3149 "replace(item) should use the resourceVersion from the item if possible"
When not specifically locked on a version, replace(item) should see if the item has a resourceVersion set before retrieving the latest.  If the replace fails, it can then get the latest on the next retry.

[2021-05-20 12:58] shawkins commented on #3127
I actually ended up putting the change in the existing pr, but have opened #3149 for better tracking.

[2021-05-20 15:30] wind57 commented on #3145
@rohanKanojia [sure thing](https://github.com/fabric8io/kubernetes-client/pull/3151/files)

[2021-05-20 15:53] rohanKanojia opened #3152 "Mock Tests failing in `kubernetes-tests/` regarding `authorization.openshift.io` resources"
Not sure if anyone noticed, but I'm seeing consistent failures of these tests on master in `kubernetes-tests/` module:
[code]

I've even tried deleting my repository and rebuilding from scratch but I'm still seeing these failures. Surprisingly, I'm not able to see these failures on CI

[2021-05-20 16:33] lburgazzoli opened #3153 "Ordering of additional printer columns in the CRD"
I noticed that the order for which the `additionalPrinterColumns` in the CRD definition is created sometimes changes which leads to different output and also to necessary changes to the files (which I check in into to the repository).

Would it be possible to either set an "order" field on the annotation or keep the ordering stable across builds ?

[2021-05-20 18:18] rohanKanojia commented on #3152
Looks like I was getting these failures because I had my crc OpenShift cluster running locally. When I stopped the cluster, the tests started passing.

[2021-05-20 19:02] iocanel commented on #3153
I'm 5.4 they should be sorted by name.
If this is not enough we can introduce an order field in the annotation.

[2021-05-20 20:55] shawkins commented on #3144
@manusa @rohanKanojia https://github.com/shawkins/kubernetes-client/pull/4 is my best guess as to what this fix could look like.  If it seems reasonable, I can open it after #3138

[2021-05-21 05:17] manusa commented on #3135
Does #3138 cover all of the above? shall we close this issue?

[2021-05-21 05:24] manusa commented on #3152
My OpenShift tests fail whenever my `~ /.kube/config` context is pointing to an OpenShift cluster, local or external.

This is really bad, and we should provide a fix, tests in `kubernetes-tests` module should **always** run in the MockServer, this is critical.

[2021-05-21 07:03] metacosm commented on #3153
I think the only thing that matters here is that the order is stable across builds, which it should now. This was addressed in #3071 (and subsequent fixes). Duplicates #3040.

[2021-05-21 07:03] #3153 closed

[2021-05-21 07:12] lburgazzoli commented on #3153
sorry I didn't notice there were an issue already

[2021-05-21 07:21] arsenalliu123 opened #3154 "LeaderElector renewal doesn't count down latch for exception other than LockException"
LeaderElector::renew has a try-catch but only catches LockException, if there's any other exception thrown, `renewSignal.countDown();` won't be executed and cause renewSignal to timeout instead of fail fast and retry: https://github.com/fabric8io/kubernetes-client/blob/02826311061aa15633f7482397ae3ce11e26d34e/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/extended/leaderelection/Lead

[2021-05-21 08:37] yangjinlogic commented on #2940
@rohanKanojia  yes,I want to see the file and file directory inside pod,but I want to through
 this way ：  kubernetesClientContainer.getClient().pods().inNamespace(namespace)   // <- Namespace of Pod
                .withName(pod) ...，but not  “ docker exec -it containerId ”  and cat or ls

[2021-05-21 10:05] Lutonite commented on #3144
I'm having some issues with statuses as well.

I have a method which gets an OpenShift by name and then ensures the status phase is "Active".
So in my UT I created the following:
[code]

Pre-5.4.0 this wouldn't be an issue, but now the project's status is always null when getting it on the mock server.

[2021-05-21 11:01] rohanKanojia opened #3155 "ClusterRole and ClusterRoleBinding should be NonNamespacedOperation in RbacAPIGroupClient"
ClusterRole and ClusterRoleBinding are Cluster scoped Kubernetes resources:
[code]

But we're right now using[ `MixedOperation` ](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/MixedOperation.java)for these which also exposes `inNamespace` method. It doesn't make sense to have this method for a Cluster Scoped resource. We

[2021-05-21 11:10] shawkins commented on #3135
It covers all that will be done for now.  There wasn't a quick way to add handling for merge and strategic merge.

[2021-05-21 11:10] #3135 closed

[2021-05-21 12:33] shawkins commented on #3144
I've converted https://github.com/shawkins/kubernetes-client/pull/4 to #3156

[2021-05-21 13:32] metacosm commented on #3153
No problems! I've been known to re-create tickets for issues I already created tickets for but forgot about… 😅

[2021-05-21 17:09] MUzairS15 commented on #3155
I would like to try.

[2021-05-21 18:10] rohanKanojia commented on #3155
@MUzairS15 : Shall I assign issue to you then?

[2021-05-21 20:50] sourabhkumar45 commented on #3155
ready to work on this issue, Assign if possible.

[2021-05-22 00:46] MUzairS15 commented on #3155
yes sure

[2021-05-22 03:01] wind57 commented on #3032
@dlafreniere can you provide an actual sample of what you mean? You have the annotation `@EnableKubernetesMockClient(crud = true)` on the `@Nested` class, but you do not have neither the `KubernetesMockServer` nor the `KubernetesClient` in that nested class, so this is a bit confusing.

A sample of your exact use-case would help debug this further.

[2021-05-23 07:46] MUzairS15 commented on #3155
How do i check if i had been successfull, running which test can help?

[2021-05-23 07:51] sourabhkumar45 commented on #3086
ready to work on this issue, Assign if possible.

[2021-05-23 12:45] shawkins opened #3159 "Simplify the informer resync logic"
In reviewing the informer resync logic it seems a little complicated and it's also imprecise.

For example try starting an informer with a resync of 1 second and adding a handler with the default resync and another with a value of 1.1 seconds.  You'll notice that the latter handler is called much less often than expected.  That's because the logic is driven by the shortest interval, rather than by

[2021-05-24 09:05] manusa commented on #2801
I'm closing this issue since it seems to be fixed in our latest releases. Please, feel free to reopen in case the issue persists.

[2021-05-24 09:05] #2801 closed

[2021-05-24 09:09] manusa commented on #3143
Relates to: #2010

[2021-05-24 09:18] #2526 closed

[2021-05-24 09:31] manusa commented on #3159
I'm a little confused by this statement. I'll try to figure out on [your PR](https://github.com/shawkins/kubernetes-client/pull/5).

[2021-05-24 09:33] manusa commented on #3154
We need to check.

[2021-05-24 09:46] manusa commented on #3101
Hi @paulgeiger-eng , [5.4.0](https://github.com/fabric8io/kubernetes-client/releases/tag/v5.4.0) was released last week, could you please confirm if the issue persists or it was fixed?

[2021-05-24 09:52] manusa commented on #3124
Relates to #3087

[2021-05-24 10:22] manusa commented on #3152
Same as #3064

[2021-05-24 11:19] thomasdevos69 opened #3161 "System Namespaces"
Hello,

This is just a query / no issue.

How can I recognise a system namespace i.e. kube-system. using Fabric?

Thanks
Thomas

[2021-05-24 12:06] rohanKanojia commented on #3161
I'm not able to see any difference in namespaces created by system and namespaces created by users. Is it possible for you to add `system=true` label in system namespaces like `kube-system`, `kube-public`?
[code]
Then you might be able to list like this:
[code]

[2021-05-24 12:12] thomasdevos69 commented on #3161
@rohanKanojia Yeah that would work, but how would we want to support this on K8s, GKE, AKS, EKS, OCP etc - The API-Server needs to support this out of the box.

[2021-05-24 12:18] shawkins commented on #3159
Suppose you have a resync of 1 second for handler 1 and and 1.2 seconds for handler 2.  The resync interval will be the min value of 1 second, and at each interval the resync runner will check which handlers are syncing for that period.  At the first interval (1 second) handler 1 will report that it is syncing, while handler 2 will report that it is not (we have not reached 1.2 seconds).  At the s

[2021-05-24 12:38] rohanKanojia opened #3162 "Anonymous inner classes containing only one method should be converted to lambdas"
We have got some places in code where we're using anonymous inner classes. Most of them could easily be refactored to lambdas. We should convert to lambdas wherever possible.

For more information see this sonar rule[0].
You can find various occurrences where anonymous classes are being used here[1]

[0] https://sonarcloud.io/organizations/fabric8io/rules?open=java%3AS1604&rule_key=java%3AS1604
[1

[2021-05-24 12:43] rohanKanojia opened #3163 "Use diamond operator (`<>`) wherever possible"
We're already on Java 8 and we can use this diamond operator which was introduced in Java 7. Yet, there are lots of occurrences in code where we're still not using it. For more information about this, see this Sonar rule[0]

In case anyone is interested in fixing this, you can check all the occurrences where diamond operator could be used here[1]

[0] https://sonarcloud.io/organizations/fabric8io/

[2021-05-24 12:46] rohanKanojia commented on #3155
@MUzairS15 : Are you working on this issue? Running `mvn clean install` in `kubernetes-client/` module might help. Or running `mvn clean install -DskipTests` on top of the module might help too to make sure you haven't introduced any compilation failures. We have mock tests in `kubernetes-tests/` module which you can run. We have also got tests in `kubernetes-itests/` module which you can run agai

[2021-05-24 12:48] rohanKanojia commented on #3155
@sourabhkumar45  : I've created two more good first issues. Could you please check if you can pick any one of these instead?

https://github.com/fabric8io/kubernetes-client/issues/3162
https://github.com/fabric8io/kubernetes-client/issues/3163

[2021-05-24 12:59] theexplorist commented on #3162
@rohanKanojia Kindly assign me this issue!

[2021-05-24 13:01] theexplorist commented on #3163
@rohanKanojia Assign me this please!

[2021-05-24 18:14] #3143 closed

[2021-05-24 18:14] krishadvani commented on #3115
Hi @manusa thanks a lot for your insight, I implemented watchers while handling concurrency in the microservices, thanks a lot for your assistance, really appreciate it.

[2021-05-24 18:14] #3115 closed

[2021-05-24 18:15] manusa commented on #3072
Should be fixed addressed in #3108

[2021-05-24 18:15] #3072 closed

[2021-05-24 19:54] shawkins commented on #3159
Here's my answer from the go client source: https://github.com/kubernetes/client-go/blob/da281643cfad72bc8c4565b197ec23b557e30446/tools/cache/shared_informer.go#L203  - this is the expected behavior.

You have to know the relationship between the informer resyncPeriodInMillis, addEventHandler (with and without resync period) and the notion of period rounding, whether already started, or that the m

[2021-05-24 22:21] paulgeiger-eng commented on #3101
Thanks @manusa. We will try it out.

I'm a bit confused by the earlier comments on this issue. Currently we are using the hasSynced method as a pre-check when accessing the informer cache. There is some discussion above about using isRunning but then @shawkins mentioned some doubt about whether it would check the health of the watch itself. I believe that it is precisely an error on the watch conn

[2021-05-24 23:57] shawkins commented on #3101
The 5.3 code will return hasSynced=false when a relist is performed, and would flip back to true once those items were processed by the deltafifo.

The 5.4 code removed the deltafifo, so there is an even smaller window of time in which hasSynced is false.

I would like to refine things further with #3167

With the changes in that pr hasSynced will return true after the first time the list operatio

[2021-05-25 00:59] paulgeiger-eng commented on #3101
Thanks @shawkins. It sounds like the isWatching method would be the thing that we need.

The change you mentioned that the watch will indefinitely try to re-connect sounds like it will benefit to us. However, I understand that until we have a way to detect when the watch is down the main issue here is still unresolved, i.e. the potential still exists that we will retrieve stale data from the infor

[2021-05-25 05:27] #3064 closed

[2021-05-25 06:22] victornoel commented on #3064
Thanks @rohanKanojia :)

[2021-05-25 06:50] rohanKanojia commented on #3152
Since https://github.com/fabric8io/kubernetes-client/pull/3158 is merged. Why did we reopen this? Or Are failures still happening o master?

[2021-05-25 07:37] manusa commented on #3152
https://github.com/fabric8io/kubernetes-client/pull/3157

[2021-05-25 11:53] chenwenjun-github opened #3168 "crd yaml generate java class"
sorry, this is a issue to ask for help, not a problem.
I want to know can I use crd yaml to generate java class via use this project, I don't find documentation about this.
Can someone give me some advice, thanks.

[2021-05-25 12:11] rohanKanojia commented on #3168
We don't support generating POJOs from CRD Yaml manifests at the moment. We have this [crd-generator](https://github.com/fabric8io/kubernetes-client/tree/master/crd-generator) which does the opposite (POJOs -> CRD Yaml manifests)

[2021-05-25 12:13] rohanKanojia commented on #3168
If you have go structs for the CustomResource, you can take a look at our [go generator scripts](https://github.com/fabric8io/kubernetes-client/blob/master/extensions/chaosmesh/generator/cmd/generate/generate.go) which can help you generate POJOs

[2021-05-25 12:41] #3168 closed

[2021-05-25 12:48] AvineshTripathi commented on #3163
@rohanKanojia i wanna work on this issue, being a newbie can you help me in this ?

[2021-05-25 12:49] rohanKanojia commented on #3163
@AvineshTripathi : oh, unfortunately someone else picked up this issue. Shall I create another one for you?

[2021-05-25 12:58] davinchia commented on #2403
@wanglijie95 this is work for you? I think I'm also running into the same issue.

[2021-05-25 12:58] shawkins commented on #3101
It should be.  If anyone objects to the refinements of the Store interface, I'll separate those changes from the pr.

[2021-05-25 12:59] #3067 closed

[2021-05-25 13:48] #3121 closed

[2021-05-25 14:13] AvineshTripathi commented on #3163
@rohanKanojia sure i would love to work but thing is I m a newbie with knowledge of java and a very little about docker and kubernetes so if you can help me get into contributions  that would be really appreciated ..

[2021-05-25 18:53] maxandersen commented on #2632
Still relevant

[2021-05-25 22:17] paulgeiger-eng commented on #3101
Thanks very much @shawkins. We will take it up when it's available.

[2021-05-26 02:25] jrhizor opened #3170 "allow overriding custom http client properties"
I would like to be able to customize client-level settings for the underlying `OkHttpClient` while still using the majority of defaults in `HttpClientUtils.createHttpClient`.

The specific use case I'm interested in is customizing the connection pool used by the client because we're running into an issue where it blocks program closure by taking 5 min to give up an idle connection. If this was mod

[2021-05-26 09:41] rohanKanojia commented on #1328
Kubectl calculates this percentage on it's own by checking resource status and metric API response. You can check this stackoverflow answer[0] to see how we can calculate

[0] https://stackoverflow.com/a/67690146/2830116

[2021-05-26 12:14] shawkins commented on #3013
I've updated the javadocs with #3167

[2021-05-26 15:13] #3149 closed

[2021-05-26 15:23] jeffmaury opened #3174 "OpenShiftClient.getVersion returns incorrect version for non released clusters"
When working against a non released version where the version string is something like `4.8.0-0.nightly-2021-05-26-071911` the minor and major field are returned as null.

[2021-05-26 15:29] manusa commented on #3174
Related code:
https://github.com/fabric8io/kubernetes-client/blob/c65b4547d47d075c2d403e9a475d3d3f40b274b7/openshift-client/src/main/java/io/fabric8/openshift/client/internal/OpenShiftClusterOperationsImpl.java#L66-L75

[2021-05-26 17:28] shawkins commented on #3127
Closed via #3136

[2021-05-26 17:28] #3127 closed

[2021-05-26 17:57] maxandersen commented on #2632
One issue is having a dependency that requires a full kotlin build to rebuild from source. (Afaik)

Other is that by using vert.x we can share and optimize http stacks with frameworks like vert.x itself and quarkus.

Optimally the http client layer would be pluggable but not sure how feasible that is.

[2021-05-26 18:53] rohanKanojia commented on #3140
@tlawrie : Sorry for late reply, I think we would need to update other modules as per[ tekton pipeline ](https://github.com/tektoncd/pipeline/blob/main/go.mod#L36)too :-)

[code]

However, I'm facing issues with the jsonschema2pojo plugin now. Somehow the generated schema has a duplicate field:
[code]

[2021-05-26 19:13] rohanKanojia commented on #3140
Seems like this duplicate field has been removed in [0.24.1](https://github.com/tektoncd/pipeline/blob/v0.24.1/pkg/apis/pipeline/v1beta1/when_types.go#L26) .

You should be able to update tekton model with just changing the two files I specified above

[2021-05-26 19:28] peppe77 opened #3176 "fabric8.kubernetes.client.KubernetesClientException - Detection of Kubernetes version failed."
K8S: v1.18

Strimzi Kafka Operator was v0.18 - operational
Kafka Cluster  v2.5.0 - operational

In order for us to get to Kafka cluster 2.7.0, we first need to upgrade operator to v0.22 though came across problem.

Upgraded operator from 0.18 to 0.22 and got following:
[code]

This could have been caused by different number of reasons (not necessarily client release) though most obvious ones we ru

[2021-05-26 21:06] shawkins opened #3177 "Service watch silently stops receiving events"
I have yet to track down a root cause.

Starting a watch in a straight-forward way:
[code]
There are no abnormal onClose events yet we simply stop receiving Service events after approximately 110 minutes in the latest occurrence.  We have seen this behavior in the Watches used by informers as well.

I cannot find any existing bug reference for this behavior and it does seem related to Service even

[2021-05-26 21:36] FuyaoLi2017 opened #3178 "How to create custom event for CRD?"
I am using Fabric8io version 4.9.2 and I am trying to create a customize event for a CRD I created. Is it possible to do this with the Fabric8IO library? Could anyone share an example?

As a workaround, I also tried to create some event for the deployment.
I am following the example here: https://github.com/fabric8io/kubernetes-client/blob/74cc63df9b6333d083ee24a6ff3455eaad0a6da8/kubernetes-itests

[2021-05-26 22:08] yschimke commented on #2632
What do you mean about full Kotlin build? And from source? OkHttp itself is near 100% Kotlin. But it's just a java jar when you use it as a dependency.

[2021-05-27 01:23] shawkins opened #3179 "Functional differences between DefaultOpenShift and DefaultKubernetes clients"
What are the expected functional differences between these clients?

We're seeing that at least custom resource handling differs because the defaultkubernetes client specifies a default delete propagation of background, while the openshift client does not so it default to orphan.

cc @rohanKanojia @manusa

[2021-05-27 05:19] tlawrie commented on #3140
Thanks @rohanKanojia extremely helpful. Question for you though. I kind of follow how you got the versions for the changes in `go.mod`

but how did you know what to change in `generate.go`

[2021-05-27 05:22] tlawrie commented on #3140
I have created a draft PR above but not certain on how to do tests etc to make sure it works. Any guidance there would be appreciated as well. Thanks for the time to walk me through this.

[2021-05-27 07:34] metacosm commented on #3179
My point of view on this is that there shouldn't be any functional differences between both clients i.e. the OpenShift client should be a strict superset of the Kubernetes one. If it isn't, then that is a bug, in my opinion.

[2021-05-27 08:00] manusa commented on #3179
+1

I'm not sure about this, but I think that this might be the result of duplicate implementations not being updated in both places.

IMHO OpenShiftClient should be a superset of the KubernetesClient with DSLs for OpenShift specific resources, period. The core behavior for resource management should be the same regardless of the target cluster. Maybe we should put some effort into unifying implem

[2021-05-27 08:29] lburgazzoli opened #3182 "io.fabric8.kubernetes.api.model.apiextensions.v1.JSONSchemaProps does not retain extensions"
i.e. there's no way to get the value of `x-descriptors`

[code]

Looking at the `JSONSchemaProps` class, it looks like it handle a [specific set of json extensions](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-model-generator/kubernetes-model-apiextensions/src/generated/java/io/fabric8/kubernetes/api/model/apiextensions/v1/JSONSchemaProps.java#L172-L184).

Would be nice to

[2021-05-27 08:30] lburgazzoli commented on #3182
Original issue: https://github.com/apache/camel-kamelets/issues/284

[2021-05-27 09:39] #1328 closed

[2021-05-27 11:13] borissmidt opened #3183 "configMaps.withName doesn't return any configmap but list does on mock server"
version :5.4.0

I'm writing test code with the fabric8io api. My tests fail because it cannot find the config map i'm creating for it. For some reason the list() shows the config map but the get does not.

note that client uses an `inNamespace`
[code]

[2021-05-27 11:34] r00ta opened #3184 "OpenshiftExtensionAdapter not working when KubernetesClient is a mock"
Hi!

In my application I'm trying to use the `KubernetesClient` in some classes and the `OpenshiftClient` in some others when the underlying platform is Openshift. In my code I have something like
[code]

And it works like a charm. But in the tests I have the following mock of the `KubernetesClient`

[code]

And it crashes when I try to run the test suite with the Openshift client

[code]

I think

[2021-05-27 11:53] metacosm commented on #3179
Not sure how easy it is to do but, imo, the `OpenShift` client should simply extend the `KubernetesClient` and simply add access to OpenShift-specific resources. This way, both implementations would be kept in sync.

[2021-05-27 15:13] MUzairS15 commented on #3155
Hello, i am having one problem, I made changes but i messed up so i reverted back, but then also it showing me error, I also tried cloning it again, If i change something and then i revert back to same thing then also it shows errors WHY?
Sorry If i sound dumb? But pls point out.

[2021-05-27 15:17] shawkins opened #3186 "Old WebSockets are not explicitly closed on HTTP_GONE"
The expectation in the code seems to be that on HTTP_GONE the api server will kill the websocket connection: https://github.com/fabric8io/kubernetes-client/blob/74cc63df9b6333d083ee24a6ff3455eaad0a6da8/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/WatchConnectionManager.java#L100

However we have a log / threaddump confirming a lingering websocket 2 hours after that eve

[2021-05-27 17:26] shawkins commented on #3177
Just running against minikube, I'm starting a watcher as above and then just creating service events:

[code]

After an hour there were no more service events, but create/deletes kept happening.

The debug level was set for io.fabric8.kubernetes.client.dsl.internal.WatcherWebSocketListener and confirmed that no reconnect attempts were made - implying that kubernetes did not apply an expected min t

[2021-05-27 17:56] shawkins commented on #3177
Setting a timeout just seems to get this into a bad state sooner.  With other Watches and a timeout I can see the expected behavior of a reconnect sometime after the min timeout.

[2021-05-27 23:51] shawkins commented on #3177
@manusa @metacosm any idea of what to look for here in terms of a fix?  As far as WatchConnectionManager or even OkHttp is concerned the websocket seems valid, but there are no events.

[2021-05-28 12:10] MUzairS15 commented on #3155
![image](https://user-images.githubusercontent.com/79860504/119981853-bcba4880-bfdb-11eb-9b01-6d72f6b0772f.png)

Why is this happening what's wrong? i am setting up the project.

[2021-05-28 14:36] shawkins commented on #3177
There is definitely a behavioral difference compared with the go client.  If I do:

[code]
The Watch is terminated at the timeout.  With the fabric8 client the Watch will continue to run, but receive no events.

[2021-05-28 16:52] vsevel opened #3188 "Getting 409 when creating a new RoleBinding"
This issue has been found in `5.4.0`, which is used in Quarkus `2.0.0.CR1`. And it is a regression compared to `5.3.1`, which was used in Quarkus `2.0.0.Alpha3`.

When running this test:

[code]

In `5.3.1` This is working fine.

In `5.4.0`, it is failing with:

[code]

In `5.4.0` I see that the `POST /apis/rbac.authorization.k8s.io/v1/namespaces/test/rolebindings HTTP/1.1` request is played twice

[2021-05-28 17:24] shawkins commented on #3177
On the timeout, the difference with the go client: https://github.com/kubernetes/client-go/blob/ccac4151908b528bbe1a9881da437e1a0576de82/rest/request.go#L396 - is it interprets the timeout as both a parameter and a hard timeout for the request.  In practice this means that the hard timeout will always supersede the timeout parameter, which is interpreted as a min.  Simply adding a callTimeout to t

[2021-05-28 18:33] vsevel opened #3189 "VersionInfo contains null data in OpenShift 4.6"
This issue has been found in `5.4.0`, which is used in Quarkus `2.0.0.CR1`. And it is a regression compared to `5.3.1`, which was used in Quarkus `2.0.0.Alpha3`.

With the following code:

[code]

In `5.3.1` I see:

[code]

In `5.4.0` I see:
[code]

[2021-05-28 19:19] ryantse opened #3190 "CRD Schema Generator - Ignore Non-Exported Fields"
In certain CRD structs in Go, a developer may choose to not to have a field be part of the schema by using "-" as the JSON field name. Currently, the generator does not handle this case and improperly generates a JSON Schema that has this as a field name, this subsequently fails during JSON Schema to POJO generation as a field should not be called "-".

A concrete example of this use can be found

[2021-05-28 20:32] geoand commented on #3188
Would it be possible to have a release with this fix that we could have in Quarkus the few days so it can be in `2.0.0.Final`?

[2021-05-30 02:42] shawkins commented on #3177
The differences are:

* The go client always uses an http GET for a Watch.  fabric8 is using a websocket which will simply stop receiving events when you reach the timeout (at the one determined by the server if it's not specified with the ListOptions) for Services.  For other resources that I tried, you do see a close control frame.  If I switch fabric8 to use just a http GET everything works as

[2021-05-30 20:09] ps-19 commented on #3163
@rohanKanojia is this resolved?
Can i work on this issue? If no can you assign one for me.

[2021-05-30 23:26] LiamClarkeNZ commented on #3178
Hi @FuyaoLi2017 ,

I am using ` kubernetesClient.events().v1().events()` to access the v1 API.

[2021-05-30 23:37] FuyaoLi2017 commented on #3178
I am not able to resolve this v1 API. I am using version 4.9.2, may be it is not available in 4.9.2?

[2021-05-31 00:30] LiamClarkeNZ commented on #3178
Kia ora @FuyaoLi2017,

You'd be correct, looking at the [changelog](https://github.com/fabric8io/kubernetes-client/blob/master/CHANGELOG.md), support for the "events.k8s.io" API was added to the DSL in 5.3.0.

[2021-05-31 08:18] matthyx commented on #3189
possibly fixed by https://github.com/fabric8io/kubernetes-client/pull/3175 ?

[2021-05-31 08:22] theexplorist commented on #3163
I am working on it, you can check the assigned tag above!

[2021-05-31 09:48] rohanKanojia commented on #3188
I can confirm that the above test works with the fix cherry-picked on [5.4.x branch](https://github.com/fabric8io/kubernetes-client/tree/5.4.x). We'll do a patch release very soon.

[2021-05-31 09:51] rohanKanojia commented on #3189
Not 100% sure since #3175 seems to fix non release OpenShift versions `4.8.0-0.nightly-2021-05-26-071911`

[2021-05-31 09:55] matthyx commented on #3189
I have started a huge comparison between 5.3.1 and 5.4.0 trying to see what's changed regarding the versions but no success so far :(

[2021-05-31 10:14] ps-19 commented on #3163
@theexplorist thank you for you response, if you need any help in completion i can help you as a friend.

[2021-05-31 10:15] rohanKanojia commented on #3163
@ps-19 : You can pick some other issue if you want https://github.com/fabric8io/kubernetes-client/issues/3086

[2021-05-31 10:20] ps-19 commented on #3086
ready to work on this issue, Assign if possible.

[2021-05-31 13:28] lburgazzoli opened #3194 "mocking kubernetes: namespace not set when creating resources"
I've created the following basic application based on one of the examples from the k8s client README:

[code]

When this test runs, it prints:

[code]

As you note, the `ns` is `null` instead of the expected `my-ns`.
When executing the same code against a real k8s cluster, the code works as expected.

[2021-05-31 13:33] shawkins commented on #3194
This is addressed as part of #3156

There was an earlier attempt at addressing this, but it relied upon https://github.com/fabric8io/mockwebserver/pull/59 - which may not be available anytime soon.

[2021-05-31 13:51] sknot-rh opened #3195 "[Question] Why parsing yaml to the resource duplicates kind property?"
Hi.
I am using the vsion 5.4.0.I have a custom resource defined as
[code]
In my test, I am trying to parse yaml into the object of this class. So I am doing similar
[code]
However, the mapper writes an object with a duplicate `kind` property. For example:
[code]
I think kubernetes API does cope with duplicities in the resource yaml, however I do have issues in my test suite. Do you have any idea w

[2021-05-31 15:22] lburgazzoli commented on #3194
@shawkins for my understanding, why https://github.com/fabric8io/mockwebserver/pull/59 may not be available anytime soon ?

I'm rely upon the CRUD functionalities for testing operators based on the java operator sdk and CRD, makes things a lot easier that writing expectations.

[2021-05-31 16:08] shawkins commented on #3194
It requires a new release of the mockwebserver, which doesn't appear like it will happen anytime soon.

#3156 should be picked up as part of 5.5

[2021-05-31 17:44] rohanKanojia commented on #3177
+1 to this from my side, I think it would be safer to add some flag `kubernetes.watch.type`(defaults to `websocket`) with which user can switch to HTTP get watch

[2021-05-31 23:10] shawkins commented on #3159
I went ahead and closed that pr.  It's probably not worth changes in this regard.

[2021-05-31 23:11] #3159 closed

[2021-06-01 04:37] rohanKanojia commented on #3189
ohk, I tried reproducing this and I was able to reproduce this. it's happening on my 4.7.2 cluster as well

[2021-06-01 05:17] matthyx commented on #3189
Awesome, did you try with master as well ?

At first I thought it was permission issues with the service account, but I'm able to curl "apis/config.openshift.io/v1/clusterversions" within a container... and of course unit tests are working well.

It's not so easy for me to play with different versions, as our app now uses Quarkus and it's a bit of #dependencyhell to force the framework using my cu

[2021-06-01 06:56] rohanKanojia commented on #3189
I think this behavior was introduced by https://github.com/fabric8io/kubernetes-client/pull/3049 .

We seem to have minor problem in our code which was exposed by this PR. We are calculating openshift 4 version as a fallback when old openshift version apicall fails:

https://github.com/fabric8io/kubernetes-client/blob/1a61f0c83b681d06482e6f5af919f46e8a73e188/openshift-client/src/main/java/io/fabri

[2021-06-01 07:01] matthyx commented on #3189
ahah, I knew it was related to NPE somehow, just couldn't verify it, good job @rohanKanojia !!!!!

Will you be able to include this as well into the patch release 5.4.1 in time for Quarkus release, please?

[2021-06-01 09:17] metacosm commented on #3177
It'd be interesting to know why this happens only for some resources, though that does seem like a kubernetes issue. Did you already create a kubernetes ticket?

Another aspect to take into account is that while, obviously, watches should keep working until stopped, mimicking the go client behavior is not a particular desiderata (though, that helps migrating from one client to the other, of course

[2021-06-01 10:10] #3189 closed

[2021-06-01 11:58] manusa commented on #3177
I find that the current approach of using websockets and falling-back to a standard HTTP request is not really great since we might get into many non-deterministic problems based on the environment and network.

Rohan's proposal seems something reasonable to me. However, I'd go for a different path, which would basically be able to set the way the Watcher was to be connected (3 modes), maybe with

[2021-06-01 12:10] shawkins commented on #3177
https://github.com/kubernetes/kubernetes/issues/102464

That addresses the third bullet point - meaning it's preferable to have the auto-reconnect behavior at the base Watch layer, rather than just in the Informer or higher-level style Watches.

[2021-06-01 14:35] shawkins commented on #3177
No, effectively just in 1.20.

That is effectively what the api server is supposed to do now - it's just that we're relying on the server side default / handling,  rather client side handling.  The only issue with introducing our own default is that

I'll wait a bit to get more feedback on the upstream issue, so that the scope of the problem is more understood, before adding a pr for a workaround

[2021-06-01 15:03] manusa commented on #3189
https://github.com/quarkusio/quarkus/pull/17598

[2021-06-01 18:11] #2139 closed

[2021-06-01 18:53] #3178 closed

[2021-06-02 05:54] AdrianFarmadin opened #3202 "Configurable PodUpload timeouts"
The timeouts for PodUpload are hardcoded to 10s per connection and 120s for a request. This will cause problems for a large file transfer on slow network. It will be great to have these timeouts configurable.

[code]

https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/uploadable/PodUpload.java#L54
https://github.com/

[2021-06-02 06:59] sknot-rh commented on #3195
I have created a minimal reproducer.
[reproducer.zip](https://github.com/fabric8io/kubernetes-client/files/6582590/reproducer.zip)

[2021-06-02 10:02] #3190 closed

[2021-06-02 10:21] sknot-rh commented on #3195
With previous version (5.3.1) it worked :( I think the project is overriding the methods because of some historical context and maybe some additional annotations to provide data for auto-generated documentation. I have removed the overrides and it gets even worse as the apiversion is duplicated too :(

Updated reproducer
[reproducer.zip](https://github.com/fabric8io/kubernetes-client/files/6583705

[2021-06-02 12:11] metacosm commented on #3195
For some reason, `kind` and `apiVersion` get added to the additional properties… Not sure why at this point.

[2021-06-02 13:17] sknot-rh commented on #3195
addind this method did remove kind from additional properties
[code]

[2021-06-02 13:26] sknot-rh commented on #3195
Declaring the `kind` property in the resource did fix the problem. I know it is rather a workaround. I should clean up my code :open_mouth:

[2021-06-02 14:53] #3087 closed

[2021-06-02 16:26] shawkins commented on #3078
Now that the dust has settled a bit from other prs, I think it's possible to move forward here.

Specific to this issue I'll look to remove the possibility that a passed in item or the context item gets modified as a side effect of an operation - that will use the clone logic that has already been added.

With some other recent changes, we will now first check the item for a resourceVersion.  Howe

[2021-06-02 18:44] shawkins commented on #3078
After looking things over it seems simpler to just update the javadocs to this possibility - more than likely these modifications aren't meaningful.

[2021-06-02 22:37] shawkins commented on #3177
It appears from the upstream issue that this is a regression in 1.20 specifically for Service websocket watches, so the workaround can be pretty narrow if desired.

[2021-06-03 04:19] peppe77 commented on #3176
Just update here - enabled additional log in K8S Api Server and as you can see below, it TCP RST the client attempts with the following:

kube-apiserver-ip-10-64-1-194.ec2.internal kube-apiserver I0603 04:10:09.138948       1 log.go:172] http2: server rejecting conn: INADEQUATE_SECURITY, Prohibited TLS 1.2 Cipher Suite: 9d
kube-apiserver-ip-10-64-1-194.ec2.internal kube-apiserver I0603 04:10:09.13

[2021-06-03 05:05] manusa commented on #3176
That issue should have already been fixed [for any 5.x version](https://github.com/fabric8io/kubernetes-client/commit/0e3af776095f0d68811f754cc0c9b14b3e84a7c8).

![image](https://user-images.githubusercontent.com/488391/120589927-f3f48380-c439-11eb-9c68-2d390a12b00b.png)

But you could further rule this out by using a >8 Java version.

[2021-06-03 07:31] #2741 closed

[2021-06-03 10:07] #3174 closed

[2021-06-03 11:18] peppe77 commented on #3176
@manusa the Strimzi kafka operator v0.22 is on Java11. Could this be caused due to the cipher proposed that is not allowed in TLS v1.2 (there is a long list that is not supported) ? Any suggestions on how to better understand and isolate the problem? thanks in advance

[2021-06-03 14:31] peppe77 commented on #3176
@manusa i know what is going on. Check this out...

1. Based on -> https://www.ibm.com/docs/en/zos/2.3.0?topic=programming-cipher-suite-definitions   , 9d => TLS_RSA_WITH_AES_256_GCM_SHA384 which based on -> https://httpwg.org/specs/rfc7540.html#BadCipherSuites is considered weak and should not be proposed.
2. We have "forced" our K8S 1.18/API-Server to accept this specific cipher and problem disa

[2021-06-03 14:39] shawkins commented on #3177
My first thought was to try putting ``` Watchable<W> withWatchConnectionType(ConnectionType type); ``` on the Watchable interface.  That works fine, except for the NamespaceVisitFromServerGetWatchDeleteRecreateWaitApplicableImpl requires updating all ResourceHandler logic to accept an additional watch parameter.

Given the scope of the problem I don't like the idea of addressing this with a config

[2021-06-03 15:17] manusa commented on #3176
As a workaround, maybe the changes contributed in #3171(#3170) can be used to create an OkHttpClient with an overridden list of protocols, and then pass this client to the DefaultKubernetsClient constructor.

[2021-06-03 15:50] #3078 closed

[2021-06-03 18:02] shawkins commented on #3179
I may have gleaned the rationale for the delegate approach, so one possible alternative approach would be to make a generic version of the DefaultKubernetesClient - #3212

Let me know if that seems reasonable.

[2021-06-04 10:09] Fabian-K opened #3216 "KubernetesMockServer mixes CRD for list requests"
Hi,

when there are multiple CRD with the same kind but from different groups, the mock server will mix those for list requests.

[code]

If you create an instance of Tekton Trigger and then list all Knative Triggers, it will return the Tekton Trigger. Looks like this is because the KubernetesAttributesExtractor only extracts the kind as an attribute and ignores apiVersion.

https://github.com/fab

[2021-06-04 13:47] manusa commented on #3179
So why do you think we originally followed the delegate approach?

[2021-06-04 13:52] manusa commented on #3177
I guess the issue will affect any other client "implementation". I don't know how we could "capture this as a known issue", do you mean a FAQ/troubleshooting entry?

[2021-06-04 16:12] shawkins commented on #3177
Yes any client using a websocket for a Service watch.

Exactly.  Unless it's simple task to update the ResourceHandler logic, that's all I would do at this point.

[2021-06-04 16:19] shawkins commented on #3179
Because of the circular nature of NamespacedKubernetesClient - for methods that returned something including that type you couldn't then extend the class and return a NamespacedOpenshiftClient.  Delegation was one approach to address that.

[2021-06-05 06:58] #3179 closed

[2021-06-05 23:02] shawkins commented on #3098
I opened #3221 after reviewing this issue - the changes are just to make the operation logic as consistent as possible.  I saw that openshift operations should override the builder method and the other logic dealing with special case or modifying the item should better account for the patch logic.

[2021-06-06 11:38] pingsutw commented on #2168
I got the same error.  The steps to reproduce
[code]
- Spark: Clone from GitHub
- Kubernetes: 1.14.2, 1.15.11
- Ubuntu: 18.04

[2021-06-07 05:24] #3086 closed

[2021-06-07 06:47] rohanKanojia commented on #3188
@vsevel : Fix for this issue is available in v5.4.1 . Could you please confirm if v5.4.1 is working for you. If yes, Shall we close this issue?

[2021-06-07 07:08] vsevel commented on #3188
hello @rohanKanojia
yes. I had given some feedback in the [quarkus dev gourp](https://groups.google.com/g/quarkus-dev/c/18Ocz1wtKjo)
thanks for your reactivity!

[2021-06-07 07:08] #3188 closed

[2021-06-07 11:02] rohanKanojia commented on #2849
Although most of the tests were updated to get rid of this annotation. I still see some tests in `extensions/` and `uberjar/` module using this annotation. We should apply the same fix in these modules too

[code]

[2021-06-07 11:05] rohanKanojia commented on #2849
We would also need to implement Junit5 extensions for mocks for extensions (see example [here](https://github.com/fabric8io/kubernetes-client/blob/master/openshift-server-mock/src/main/java/io/fabric8/openshift/client/server/mock/EnableOpenShiftMockClient.java))

[2021-06-07 15:30] #3155 closed

[2021-06-08 04:00] #2565 closed

[2021-06-08 08:14] stevefan1999-personal opened #3225 "pod metric does not have corresponding label selector variant"
https://github.com/fabric8io/kubernetes-client/pull/2091/files#diff-a6467663e5e1a2cbb5550f6696989a6e52e601bacb1ccb0dc7a6e489dafc4d90R102-R119

It is possible to filter node by using label selector, but it doesn't have the equivalent of what could be done with pod metrics

[2021-06-08 09:21] #3144 closed

[2021-06-08 09:38] LiamClarkeNZ commented on #3178
Hi @FuyaoLi2017 I've actually just encountered the same issue you had, across all event APIS -  this looks to be a bug in fabric8's representation of a `MicroTime`. When serialised, it becomes an object with a field called `Time`, but this is incorrect, and rejected by Kubernetes.

My error message:

[code]

When I take the JSON representation of my event created by fabric8 and use it directly wit

[2021-06-08 12:15] shawkins commented on #3194
Fixed in #3156

[2021-06-08 12:15] #3194 closed

[2021-06-08 19:08] rohanKanojia opened #3227 "Move `config.openshift.io` apiGroup resources out of openshift-model/"
Right now we have `config.openshift.io/v1` resources in `openshift-model/` module:

https://github.com/fabric8io/kubernetes-client/blob/f05049393bf5fb3b73ca75d0129a8a583e474dcf/kubernetes-model-generator/openshift-model/cmd/generate/generate.go#L151-L160

All resources in openshift-model go to this package `io.fabric8.openshift.api.model` due to which we can't add resources with same name but diff

[2021-06-08 19:09] rohanKanojia commented on #2949
Regarding the resources which are still not supported:

- `config.openshift.io/v1`: These couldn't be added since I didn't want to do a major breaking changes in openshift-model. I've created this issue to address this https://github.com/fabric8io/kubernetes-client/issues/3227
  - Build
  - Image
  - Project

- `metal3.io` `Provisioning`: I couldn't find this struct in [baremetal operator](https:/

[2021-06-08 19:17] rohanKanojia commented on #3225
You're right. We seem to have inconsistency with `client.top()` here. We should try to make this consistent just like standard API.

[2021-06-08 19:42] rohanKanojia opened #3228 "Add support for dynamic informers to kubernetes client"
With introduction of GenericKuberntesResource(equivalent of [Unstructured](https://pkg.go.dev/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured)[0] in golang client), we should now able to support dynamic informers[1] with[ `SharedIndexInformer.sharedIndexInformerForCustomResource`](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/cli

[2021-06-09 10:10] LeonardAukea commented on #2145
Facing similar issues. Not sure how to proceed https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/1277

[2021-06-09 10:33] #3013 closed

[2021-06-09 10:33] #3090 closed

[2021-06-09 12:10] shawkins commented on #3091
Closed via #3167

[2021-06-09 12:10] #3091 closed

[2021-06-09 12:49] shawkins commented on #3177
I assumed that a document like that existed, but I don't see anything.  I'll just close this issue - between this entry and the upstream issue a user should be able to find more on the root cause and see that the only workaround is to restart the watches / informers.

[2021-06-09 12:49] #3177 closed

[2021-06-09 13:16] shawkins commented on #3076
Captured upstream as https://github.com/sundrio/sundrio/issues/248

[2021-06-09 14:46] #2870 closed

[2021-06-09 15:35] shawkins commented on #3001
Closed via #3197

[2021-06-09 15:35] #3001 closed

[2021-06-09 15:36] shawkins commented on #3186
Closed via #3197

[2021-06-09 15:46] #3186 closed

[2021-06-10 01:09] pingsutw commented on #2168
@it seems like that spark can't connect to the master URL. I think we should check the client and k8s connection when we initializing the `kubernetesClient`. If we can successfully create the `kubernetesClient`, it means we could connect to the API server.

[2021-06-10 06:13] carlosgodoytrapero opened #3234 "Port-forward feature is failing when it runs inside a Docker container"
The library (5.3.0 version) fails because it doesn’t determine the localhost correctly inside the Docker container.

You can see the ports which are exposed when it is launched by the library getting an incorrect state:

[code]

and by the kubectl port-forward command when everything works:

[code]

So, taking a look in your kubectl-api library, you have the next code:

[code]

Where the defaultKu

[2021-06-10 06:21] rohanKanojia commented on #3234
Umm, we do have a `portForward(int port, int localPort)` method? Have you tried that out?

[2021-06-10 06:39] #2800 closed

[2021-06-10 07:09] #3140 closed

[2021-06-10 07:45] manusa commented on #3076
#3232, closing issue as the rest should be addressed upstream (if possible).

[2021-06-10 07:45] #3076 closed

[2021-06-10 10:29] carlosgodoytrapero commented on #3234
Hi, the problem is related to the IP address really, because it must be set to 0.0.0.0 in order to be accessed outside the container.
Thanks!

[2021-06-10 10:50] rohanKanojia commented on #3234
ohk, I see.

[2021-06-10 11:21] FqqCS opened #3235 "getExistingSharedIndexInformer may Incorrect"
https://github.com/fabric8io/kubernetes-client/blob/b0dbeef2f6795934ea0a0c57b2d4ed3748aa0a18/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/informers/SharedInformerFactory.java#L282

[code]

this may incorrect： return key.contains(plural);
for example： virtualservice and service

[2021-06-10 12:22] rohanKanojia commented on #3235
yes, you're right. I'm trying to remove this string key creation logic in https://github.com/fabric8io/kubernetes-client/pull/3230

[2021-06-11 05:35] #3202 closed

[2021-06-11 07:52] rohanKanojia commented on #3235
@FqqCS : I've added a test case for your use case in https://github.com/fabric8io/kubernetes-client/pull/3230/files#diff-775882ab5373e4fd32c8a42e81a80feabcc3e699f7346f3c171b5cd940516a59R123 .

Would be awesome if you could review

[2021-06-11 14:53] #3216 closed

[2021-06-11 19:51] brimworks commented on #1858
This seems pretty useful, I'm not sure why this got closed. How are you supposed to implement atomic operations in Kubernetes?

[2021-06-12 04:38] nhoughto commented on #1858
yep atomic operations is why i needed it, my hack is a bit fragile but supporting it properly shouldn't be that hard i'd think

[2021-06-12 06:54] rohanKanojia commented on #1858
@brimworks: Hello, as per the latest improvements in Patch API, you can also provide your own raw Patch string like this:

[code]
Do you think this is something which can help your use case?

[2021-06-14 02:23] nhoughto commented on #1858
seems like it would solve for my usecase as described in the issue

[2021-06-14 04:53] LiamClarkeNZ opened #3240 "MicroTime serialises incorrectly"
As per my investigation recorded on [this ticket here](https://github.com/fabric8io/kubernetes-client/issues/3178#issuecomment-856621169),  `io.fabric8.kubernetes.api.model.MicroTime` serialises incorrectly.

When creating an `Event`, fabric8 serialises `MicroTime`  as an `object`  but the k8s server is expecting it as a `string` (in RFC-3339 format).

Looking into how the generated models are der

[2021-06-14 11:13] manusa commented on #3225
The k8s metrics-server doesn't follow the standard implementation as the rest of K8s resources. We have a specific implementation to query the endpoints provided.
In this case, the implementation for Pods is missing the filter. We could try to unify both implementations (Pods, and Nodes) and fix your issue.

[2021-06-14 11:14] manusa commented on #3184
There's an OpenShift specific MockServer implmentation, why aren't you using that one?

[2021-06-14 11:16] manusa commented on #3183
Does this return your ConfigMap:
[code]

[2021-06-14 11:22] manusa commented on #3182
That's a generated class, is your field be available in the additionalProperties?

[2021-06-14 11:24] manusa commented on #3170
Should have been fix by #3171

[2021-06-14 11:24] #3170 closed

[2021-06-14 11:53] lburgazzoli commented on #3182
I've tried with this:

[code]
Exception in thread "main" io.fabric8.kubernetes.client.KubernetesClientException: An error has occurred.
	at io.fabric8.kubernetes.client.KubernetesClientException.launderThrowable(KubernetesClientException.java:64)
	at io.fabric8.kubernetes.client.KubernetesClientException.launderThrowable(KubernetesClientException.java:53)
	at io.fabric8.kubernetes.client.utils.Ser

[2021-06-14 12:07] rohanKanojia commented on #3182
I'm not able to find `x-descriptors` field in equivalent go struct: https://github.com/kubernetes/apiextensions-apiserver/blob/master/pkg/apis/apiextensions/v1/types_jsonschema.go#L20

[2021-06-14 12:09] lburgazzoli commented on #3182
It is a our own JSON Schema extension, is not part of k8s

[2021-06-14 12:20] iocanel commented on #3182
We can probably configure jackson to be more relax. I think that in this case the `x-descriptors` will end up under `addtionalProperties`. How would that work for you @lburgazzoli ?

[2021-06-14 12:28] lburgazzoli commented on #3182
that would be perfectly fine with me

[2021-06-14 12:31] rohanKanojia commented on #2619
@jonathanvila @michaeljohnalbers : Is this still an issue with latest release of client?

[2021-06-14 14:09] westernemergency opened #3242 "Kubernetes v1.21.x Support"
Good morning,

This is a question, not an issue.

The 5.4.0 release notes of fabric8 start to mention support for Kubernetes clusters v1.21.0. Does this release support Kubernetes clusters of version 1.21.x? I do not see this mentioned on the compatibility matrix but I just wanted to make sure this wasn't an oversight.

Thanks!

[2021-06-14 14:15] rohanKanojia commented on #3242
Sorry, looks like we forgot to update the compatibility matrix after release. Would you like to submit a PR for this?

[2021-06-14 14:17] rohanKanojia commented on #2915
Marking this as help wanted. In case anyone is interested they can look into how other extensions were contributed. For example, cert-manager extension contributed recently[0]

[0] https://github.com/fabric8io/kubernetes-client/pull/2930

[2021-06-15 06:26] pdudits opened #3243 "Provided PipedInputStream should not be closed"
As reported in #2497 and #1896 utilizing `readingOut` and `readingErr` to capture execution output looses last chunk of data.

This is caused by `ExecWebSocketListener` closing both provided `PipedInputStream` as well as producing `PipedOutputStream`.

When `PipedOutputStream` is closed, it only notifies connected `PipedInputStream` that no more data will be transferred.
`PipedInputStream` would s

[2021-06-15 06:28] rohanKanojia commented on #3243
@pdudits : Thanks for reporting this, Would it be possible for you to contribute a fix for this issue?

[2021-06-15 06:55] rohanKanojia commented on #3243
@shawkins : Do you think we can take care of this issue in https://github.com/fabric8io/kubernetes-client/pull/3169 ?

[2021-06-15 07:13] pdudits commented on #3243
I can try, should be ok as long as I don't hit major obstacles in building (for example, master doesn't seem to compile on `1.8.0_292` at first attempt).

Also in `ExecWebSocketListener#inputStreamOrPipe` a `connect` call seems to be missing that would connect the provided `PipeOutputStream` to input.

[2021-06-15 07:53] pdudits opened #3244 "ConfigTest.honorClientAuthenticatorCommands fails on Windows"
The test fails with parsing error

[code]
Because the output from `cmd /c ./token-generator-win` is `'.' is not recognized as an internal or external command,
operable program or batch file.`

The config file needs to use platform's path separator, which is backslash.
Issue will be fixed alongside #3243

[2021-06-15 11:17] sknot-rh commented on #3195
Hi, I did further debugging of this issue.
The `kind` and `apiVersion` properties have been annotated by `@JsonProperty(access = Access.READ_ONLY)` in the latest release.
That has an effect in jackson dependency in `com.fasterxml.jackson.databind.deser.BeanDeserializerFactory#addBeanProps`
this condition is evaluated to be false `if (propDef.hasSetter()) {...}`
so this properties are not added to

[2021-06-15 14:27] #3228 closed

[2021-06-15 16:24] rohanKanojia commented on #3244
Does the client compile successfully on windows after fixing this test? Should we add a [GitHub windows workflow ](https://github.com/fabric8io/docker-maven-plugin/blob/master/.github/workflows/windows-build.yml)so that we don't break build on windows again in future?

[2021-06-15 16:38] AndrewGotz commented on #3038
Hey I do believe we would want this backpatched if possible @manusa. I'm willing to wait whenever.

[2021-06-16 05:21] rohanKanojia commented on #2742
Closed via https://github.com/fabric8io/kubernetes-client/pull/3180

[2021-06-16 05:21] #2742 closed

[2021-06-16 06:07] pdudits commented on #3244
It needed one more fix that is present in #3245 but then `mvn clean install` passed.

[2021-06-16 06:09] rohanKanojia commented on #3244
@pdudits : Thanks a lot!

[2021-06-16 09:04] victornoel opened #3246 "ensure delete returns only when the delete operation is fully finished"
Hi,

If I'm calling delete on a job for example, it takes time for the operation to really finish, but the delete call returns early, even if I used the FOREGROUND DeletionPropagation (not sure it's really linked to the matter ^^).

It would make sense to add an option so that the call only returns when everything is deleted as expected. A bit like the `--wait` parameter of kubectl works in that c

[2021-06-16 09:49] metacosm commented on #3195
I'm re-opening this issue because we need to address this in some way, either by providing a clean work-around or by documenting the issue.

[2021-06-16 11:36] shawkins commented on #2939
I'd say this can be marked as resolved based upon all of the informer related changes in 5.3 - 5.5.

[2021-06-16 11:39] shawkins commented on #2528
Mostly resolved based upon all of the informer related changes in 5.3 - 5.5 in particular #3001

[2021-06-16 11:39] #2528 closed

[2021-06-16 12:23] #3098 closed

[2021-06-16 12:53] Lutonite opened #3250 "Openshift mock server does not save project statuses anymore"
Hello,

I've recently tried to upgrade to 5.4.1 because of the recent Java TLS changes.

But I'm struggling with the upgrade because the statuses are not stored anymore on the object when I create it.

I have a method which gets an OpenShift project by name and then ensures the status phase is "Active".
So in my UT I created the following:
[code]

Pre-5.4.0 this wouldn't be an issue, but now the p

[2021-06-16 12:56] shawkins commented on #3250
Duplicate of #3144

[2021-06-16 12:56] #3250 closed

[2021-06-16 12:59] Lutonite commented on #3250
@shawkins

Then when can I expect a release containing the fix? This has blocked my project's upgrade for a while now.

[2021-06-16 13:39] shawkins commented on #3250
The current fix is targeted to 5.5 which I believe is due in about a month.

[2021-06-16 13:43] rohanKanojia commented on #3250
Releasing 5.5.0 is already in our sprint plan[0], it should be before 7th July(sprint end)

[0] https://github.com/eclipse/jkube/projects/22

[2021-06-16 14:03] #2798 closed

[2021-06-16 14:44] hanikesn commented on #2939
I agree, will test everything with the new changes at a later point in time.

[2021-06-16 14:44] #2939 closed

[2021-06-16 16:26] Zephery opened #3251 "why not support for the workqueue ?"
like client-go

[2021-06-16 16:31] rohanKanojia commented on #3251
@Zephery : Could you please provide some more details of your use case? It looks like you're talking about workqueue in terms of Operators. Do you think this makes more sense in Java Operator SDK[0] ?

[0] https://github.com/java-operator-sdk/java-operator-sdk

[2021-06-16 16:56] rohanKanojia commented on #3251
Looks like you're talking about this client-go util workqueue[0] [1]. How different is this queue from standard queue implementations java offers(`LinkedBlockingQueue`)?

[0] https://pkg.go.dev/k8s.io/client-go/util/workqueue
[1] https://github.com/kubernetes/client-go/blob/master/util/workqueue/queue.go

[2021-06-16 18:06] shawkins commented on #2874
@rohanKanojia asked me about this issue.  I would say this is not needed yet in fabric8.  It is pretty straight-forward to create an informer per namespace and aggregate however you need.

[2021-06-17 03:10] Zephery commented on #3251
Sorry, my fault. I thought workqueue can have distribute capacity just like redis list.

My use cases is
1.Project A(Deployment): Put some tasks in a queue, and then create  some Jobs from the queue.(Looks like i have touse redis.)
2.Project B(Job): running, and then complete.
3.Project A(Deployment): Fine parallel processing using informer to handle jobs number, If it get the complete event from

[2021-06-17 09:12] skabashnyuk opened #3253 "Invalid header field name "Impersonate-Extra-authentication.kubernetes.io/pod-uid" on OpenShift 4.8"
During testing of Eclipse Che on  OpenShift 4.8 discovered such an issue https://github.com/eclipse/che/issues/19988
[code]
The issue happened during the execution of such a code
[code]
which is trying to grant necessary role binding after project/namespace creation.
This error might be related to the latest changes https://github.com/eclipse-che/che-server/pull/7 or to the upgrade of the client t

[2021-06-18 01:19] davinchia commented on #2217
Running into this too. Interestingly this was fine when testing on Docker For Desktop and only started erroring out on GKE.

It actually succeeds the first time, then errors out all subsequent times until the client is restarted.

My docker desktop version
[code]

My GKE version:
[code]

[2021-06-18 10:13] scootafew opened #3255 "KubernetesServer in CRUD mode does not handle resourceVersion properly"
I'm currently writing an Operator, and have the following logic on my event handler to prevent doing pointless reconciliation when there are no changes.

[code]

However when writing my tests with KubernetesServer in CRUD mode this does not work as the server never increments the resourceVersion on updates - it is always "1".

[2021-06-18 10:21] rohanKanojia commented on #3255
We're not handling resourceVersion properly. It is hardcoded to 1 as you mentioned already:
https://github.com/fabric8io/kubernetes-client/blob/5bfcac2d8a144f66b1323df5988dd2761fc7e561/kubernetes-server-mock/src/main/java/io/fabric8/kubernetes/client/server/mock/KubernetesCrudDispatcher.java#L444

Do you have some approach in mind to handle this? I haven't really investigated but maybe it's possib

[2021-06-18 10:34] scootafew commented on #3255
Yes, I was thinking a random value should work to ensure an equals check fails. However, I wasn't sure if there is ever a case where the value's are compared as integers, e.g.

[code]

It's also possible that it could be left up to the user to increment the resource version when updating a resource, but even that doesn't seem to work at the moment, as no matter what I manually set it to before the

[2021-06-18 12:02] shawkins commented on #3255
It looks like you are using an Informer / ResourceEventHandler - if that's the case are you also specifying a resync?  If you don't otherwise have a need for it, just turn the resync off and you'll stop getting events like these - resync events are updates where nothing has actually changed.

It's a todo of mine to eventually support the resource version in the mock crud server, but it should also

[2021-06-18 12:37] #2937 closed

[2021-06-18 12:37] #3235 closed

[2021-06-18 14:03] #3225 closed

[2021-06-18 15:52] WywTed opened #3257 "There is no inline chain invokation in 5.3.0"
How to edit comfigmap inline builder such as below with 5.3.0 version
[code]

[2021-06-18 16:02] dhananjay12 opened #3258 "NoClassDefFoundError okhttp3/TlsVersion when using MockWebserver in tests"
I have a spring app that has `spring-cloud-starter-kubernetes-fabric8-all` as a dependency for service discovery when running in K8s.
Spring boot - 2.4.5
Spring cloud - 2020.0.2

This is disabled by default (because the default is eureka) using the following properties in bootstrap.yml:
[code]

We wanted to use [mockwebserver](https://github.com/square/okhttp#mockwebserver) for writing IT and adde

[2021-06-18 16:10] rohanKanojia commented on #3257
Have you tried out edit method with builder as mentioned in [v5 migration guide](https://github.com/fabric8io/kubernetes-client/blob/master/doc/MIGRATION-v5.md#editable)? I think you should be able to do it with something like this:

[code]

[2021-06-19 01:05] dhananjay12 commented on #3258
Checking dependency:Tree it seems okhttp is compile dependency for kubernetes-client. So if you have a IT with mockwebserver and you are adding spring-cloud-kubernetes dependencies, you  will have to remove the `test` scope.
Maybe remove the dependency altogether as it anyways comes from Kubernetes-client.

[2021-06-19 01:05] #3258 closed

[2021-06-19 03:21] gewei2000 opened #3259 "Add support for client-side dry runs"
Add support for client-side dry runs when operate resources.

An example with kubectl:

[code]

[2021-06-19 06:59] WywTed commented on #3257
Thanks very much. It really  helps me.

[2021-06-19 06:59] #3257 closed

[2021-06-19 07:56] #3251 closed

[2021-06-19 10:06] gewei2000 opened #3260 "request help: How do I validate k8s resource before submit?"
How do I validate k8s resource only use client?
I want validate deployment json data before submit to server.

[2021-06-20 09:29] #2738 closed

[2021-06-20 21:07] #2244 closed

[2021-06-21 05:32] manusa commented on #3259
I'm not sure how'd you'd expect this to work.

From `kubectl` perspective it's easy because it changes the behavior of the CLI to print the YAML that is sent to the server.

However, from a Java client library, I don't know what'd the expected output of that invocation would be. I would only understand this in the terms of an extra method `clientDryRun()` that would return an instance of `T`  for

[2021-06-21 05:33] manusa commented on #3260
Relates to #3259

[2021-06-21 05:58] gewei2000 commented on #3259
@manusa I want to get the same server error, such as mismatched namespace or incorrect label selector

[code]

yaml
[code]

[2021-06-21 06:00] #3260 closed

[2021-06-21 08:12] scootafew commented on #3255
Yep that's right, I have specified a resync as I was under the impression that would help to ensure no events are missed, or rather that the state is eventually consistent. But it's a good point thanks, for now I will dig a bit deeper to see if I do need the resync, or if there is some other workaround I can do.

[2021-06-21 12:47] shawkins commented on #3255
I had the same initial impression based upon the older fabric8 code, 5.1.1, our project started working with - there the resync was also causing a new list/watch.  However subsequently that has been removed as it was found to be problematic and not consistent with the go client.  Now resync is just a about creating those non-update update events on a periodic basic - it doesn't do anything to the

[2021-06-21 15:06] #3243 closed

[2021-06-21 15:06] #3244 closed

[2021-06-21 16:31] rohanKanojia commented on #3251
@Zephery : Do you think your use case is similar to https://github.com/fabric8io/kubernetes-client/issues/3115 ?

[2021-06-21 18:12] rohanKanojia commented on #2887
`kubectl` does provide a way to create secret for [docker credentials](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-secret-by-providing-credentials-on-the-command-line). I think maybe we can provide a helper method in [KubernetesResourceUtil](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kuber

[2021-06-22 08:08] scootafew commented on #3255
Ah ok that's very useful to know, thanks @shawkins!

[2021-06-22 18:43] shawkins commented on #2010
After the Informable change I think this can be resolved.  The only thing I don't like about the remaining impl is how the resync logic functions - but it matches the go client so it's probably not worth tweaking further.

[2021-06-22 18:47] shawkins commented on #2489
I think this can be resolved with #3239 and the preceding changes #3230 and #3233

[2021-06-22 19:00] shawkins commented on #2619
This can be marked as out of date based upon #3239 - we don't want direct usage of the OperationContext for the factory. In this specific issue there was likely some problem with needing to also set withNamespaceFromGlobalConfig(false).

[2021-06-22 19:30] benediktwetzel opened #3264 "Cannot delete CR with spec field on Kubernetes server in CRUD mode"
I can create a CR with `spec` field, but when I try to delete this CR, I get a `404 client error`. It works correctly for CRs without spec field.

I read something about the `@JsonIgnoreProperties(ignoreUnknown = true)` annotations, but it does not work as expected.

For reproducibility, a simple example test function:

[code]

Error messages:
* `INFO: MockWebServer[58277] received request: DELETE

[2021-06-23 02:05] shawkins commented on #3264
What version are you using?  This works as expected against master, which uses a generic representation for the cr, and I suspect it should work in 5.4 as well as I made a change there to ignore unknown properties.

[2021-06-23 06:46] benediktwetzel commented on #3264
We had transitivite Gradle dependencies which caused us to use an old version of the mock server. With version 5.4.1 it works correctly. Thanks you!

[2021-06-23 06:46] #3264 closed

[2021-06-23 06:59] victornoel opened #3265 "KubernetesServer mock should set the namespace of a resource being added"
Hi,

When running tests using `KubernetesServer`, and then with the client doing something like:
[code]

If `job` didn't have the namespace set, then actualJob does not have its namespace set, while with an actual k8s API server, I believe it would be set.
I think the same happen if you fetch the jobs from the mock API server.

[2021-06-23 08:09] victornoel opened #3266 "Deletion propagation support in KubernetesServer"
Hi,

I'm not sure if this is desired to go that far in mocking the API Server, but it would be really great if `KubernetesServer` was honoring the `PropagationPolicy` during delete with respect to owned resources.

Maybe as a starter, it would be enough to have it implemented by always behaving as if it's a foreground policy (since a background one would need to do things in multiple threads…).

[2021-06-23 08:32] victornoel opened #3267 "Mock KubernetesServer in 5.4.x does not allow to update status anymore"
Hi,

Since 5.4 it's not possible to update the status of a resource when using `KubernetesServer`.

I see this has been fixed for 5.5 though in #3138 but until 5.5 is released (maybe it's soon?), it's difficult to use v5.4.

I may be missing something obvious and it's actually possible tough… I'm using the following in my tests to simulate that a job has started:
[code]

The status is simply ignor

[2021-06-23 09:02] skabashnyuk commented on #3253
Thanks to https://github.com/eclipse/che/issues/19988#issuecomment-866660008  we found an already known bug https://bugzilla.redhat.com/show_bug.cgi?id=1972687 in OpenShift 4.8 that should be fixed  by https://github.com/openshift/openshift-apiserver/pull/219

[2021-06-23 09:02] #3253 closed

[2021-06-23 11:05] shawkins commented on #3265
Duplicate of #3194

[2021-06-23 11:05] #3265 closed

[2021-06-23 11:51] victornoel commented on #3265
@shawkins nice, thx!

[2021-06-23 11:52] victornoel commented on #3265
@shawkins also, any way to get it in 5.4.2 maybe? Or will 5.5 be released soon?

[2021-06-23 12:42] victornoel commented on #3246
Related to #1474

[2021-06-23 12:55] victornoel commented on #1474
I've opened #3246 that is related to this.
I'm thinking maybe the  following is a good workaround (I haven't tested it yet):
[code]

See also https://github.com/kubernetes/kubernetes/issues/42594 for the corresponding behaviour in kubectl.

[2021-06-23 12:55] victornoel commented on #3246
Potential workaround:
[code]

[2021-06-23 13:20] manusa commented on #2937
Relates to: #2010

[2021-06-23 13:20] manusa commented on #3235
Relates to: #2010

[2021-06-23 13:21] manusa commented on #2746
Relates to: #2010

[2021-06-23 13:42] shawkins commented on #3267
https://github.com/fabric8io/kubernetes-client/milestone/27 should be in about a week or so.

[2021-06-23 13:43] victornoel commented on #3267
@shawkins thx, I can just wait in that case, I let you close the ticket if you don't plan to do it for 5.4.x?

[2021-06-23 13:54] shawkins commented on #3101
Marking as resolved for 5.5.  The expectations for 5.5 are:

isRunning - will be true after a successful run call, and will stay true until stop is called.  Informer watches are allowed unlimited attempts to resolve an http gone onClose(Exception).  There is only one corner case in the code https://github.com/fabric8io/kubernetes-client/blob/1f5061f1f04b046ed0fb40b2a9a7432b72b452cb/kubernetes-clie

[2021-06-23 14:00] shawkins commented on #3265
There's been a lot of changes to the mock server in 5.5, so it's not a quick hit to pull this into 5.4.2.  Since it seems like you are already looking for other things that are in 5.5 it would be simplest to just pick up that release.

[2021-06-23 14:03] victornoel commented on #3265
@shawkins yep, totally agree, thx again :)

[2021-06-23 16:13] shawkins commented on #3267
I have no plans, @manusa please reopen if this seems needed for 5.4.x.

[2021-06-23 16:13] #3267 closed

[2021-06-24 11:15] rohanKanojia commented on #3234
@carlosgodoytrapero : Hi, You're right we always seem to be passing localhost as `null` in PortForwardWebsocket, so server always gets initialized to `ServerSocketChannel.open().bind(new InetSocketAddress(localPort))`

https://github.com/fabric8io/kubernetes-client/blob/1f5061f1f04b046ed0fb40b2a9a7432b72b452cb/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/PortForwarderW

[2021-06-24 16:05] shawkins opened #3271 "waitUntilCondition resource too old exception"
I tried to do a waitUntilCondition call, that eventually errorred out with a resource too old exception.  This seems to come from WatcherException isShouldRetry - it explicitly is false when there's an http gone exception.

It should either be the other way around, or to retry no matter what the exception is.

[2021-06-25 07:52] FqqCS opened #3272 "Cache NPE issue"
In Class：io.fabric8.kubernetes.client.informers.cache.Cache

In method "replace" , if  arg "list" is empty; this.indices will be set to an empty hashmap.  in method "byIndex",object  "index" used without check NPE, so when watch a kind without any resource, and then using byIndex to get, NPE happened.  maybe should return an empty object instead of throw NPE.

// In byIndex
**Map<String, Set<Strin

[2021-06-25 10:16] rohanKanojia commented on #3234
@carlosgodoytrapero : Right now we're always binding ServerSocketChannel to `new InetSocketAddress(localPort)`, doesn't it create socket address with IP address as wildcard address(`0.0.0.0`)?

I tried doing port-forward from within a Pod in Kubernetes and I was able to do it with KubernetesClient v5.4.1. I copied [PortForwardExample.java](https://github.com/fabric8io/kubernetes-client/blob/master

[2021-06-25 21:34] shawkins opened #3275 "Filterable modifies the current context"
All of the Filterable methods modify then return the current context.  Should they be creating new instances?

cc @rohanKanojia @manusa

[2021-06-27 09:55] lfabriko opened #3276 "AMQ - classes generated from CRD"
Hello, wouldn't it be possible to generate classes for AMQ CRD https://github.com/strimzi/strimzi-kafka-operator/blob/main/install/cluster-operator/040-Crd-kafka.yaml? (I can see in https://github.com/fabric8io/kubernetes-client/tree/master/extensions are e.g. for Camel-K...) thanks for info

[2021-06-27 15:52] #2904 closed

[2021-06-28 08:07] ps-19 commented on #3242
@rohanKanojia will you assign me this issue??

[2021-06-28 08:11] ps-19 commented on #3163
Anyone need any help??

[2021-06-28 08:56] rohanKanojia commented on #3242
@ps-19 : You'll need to add one more row for Kubernetes 1.21.1 in README.md Kubernetes compatibility matrix

https://github.com/fabric8io/kubernetes-client/blob/master/README.md#kubernetes-compatibility-matrix

[2021-06-28 09:13] carlosgodoytrapero commented on #3234
Hi @rohanKanojia,
sure, it could be enough for us. How can we try it? Which version/black-build/commit can contain your fix?
Many thanks in advance.
Carlos G.

[2021-06-28 09:29] rohanKanojia commented on #3234
@carlosgodoytrapero : I haven't created a PR yet. But I wasn't able to reproduce your issue, I wanted to reproduce and test fix before creating PR. I created a sample project which creates a pod and port forwards it inside the pod and it is working with v5.4.1 https://github.com/r0haaaan/kubernetes-port-forward-inside-pod-java.git

Could you please review my previous comment? Did I reproduce your

[2021-06-28 12:18] ps-19 commented on #3242
you mean one more column at left position K8 1.21.1??

[2021-06-28 12:28] shawkins opened #3278 "WatchListDeletable does not properly implement Waitable"
The current expectation, and even after the proposed changes for #3271, a list is not waitable - only a single resource.

This can be addressed by changing
[code]
to
[code]
Or I can generalize the logic in #3274 to support waiting on a list.

[2021-06-28 13:25] rohanKanojia commented on #3242
oh, yeah. Sorry, you're right you have to add a column

[2021-06-28 13:28] ps-19 commented on #3242
https://github.com/fabric8io/kubernetes-client/pull/3279

[2021-06-28 14:37] #3272 closed

[2021-06-28 14:43] #3242 closed

[2021-06-28 15:31] #2933 closed

[2021-06-28 15:31] #2927 closed

[2021-06-28 18:17] rohanKanojia commented on #3276
@lfabriko : Hello, Doesn't strimzi contain Java classes for these CRDs already? If I'm not wrong isn't Kafka.java[0] class for your CRD?

[0] https://github.com/strimzi/strimzi-kafka-operator/blob/main/api/src/main/java/io/strimzi/api/kafka/model/Kafka.java

[2021-06-28 18:34] rohanKanojia commented on #2712
@ccidral: were you using a Deployment with more than 1 replicas along with multiple containers? Looks like our code was showing wrong error message; it fails due to multiple pods found for the provided labels and complains for multiple containers.

In Kubectl, the behavior is to pick up the first pod and show logs. I'm going to add same behavior here in KubernetesClient as well.

For Deployment wi

[2021-06-28 20:49] shawkins commented on #3271
After this change the internal wait code can be mostly cleaned up:  https://github.com/fabric8io/kubernetes-client/commit/63d555d13b1ac9e683d7eb8cc159d9ba93c35490 (not all of the tests were updated yet)

However that code shows there is inconsistent handling of the interrupted exception.  At least for our own internal usage it would be better to not throw it directly from waitUntilCondition and in

[2021-06-29 04:49] rohanKanojia commented on #2712
This command using label selectors is similar to what Marc proposed I think you can watch logs for all pod replicas with something like this:

[code]

Or perhaps you're suggesting that you would like to have these Deployment logs based on the label selector feature available in KubernetesClient?

[2021-06-29 04:53] rohanKanojia commented on #3234
@carlosgodoytrapero : In case you want to try it this is reference to my branch: https://github.com/rohankanojia/kubernetes-client/tree/pr/issue3234

But what I observed is that this won't be necessary and you should be able to port forward from within a pod and access from outside without any explicit configuration(since default InetAddress is a wildcard one). I would really appreciate if you cou

[2021-06-29 05:44] manusa commented on #3271
I guess that now that the underlying behavior has changed, it no longer makes sense to have it as part of the method signature.

The change should not be breaking (strictly speaking) since KubernetesClientException is unchecked

[2021-06-29 06:23] lfabriko commented on #3276
Hello, yes, it does. thanks for info.

[2021-06-29 06:23] #3276 closed

[2021-06-29 07:04] #2944 closed

[2021-06-29 07:50] carlosgodoytrapero commented on #3234
Hi,
sure, I will try it. I would need a while along these busy weeks.
Thanks for your patience.
Carlos G.

[2021-06-29 10:09] #3101 closed

[2021-06-29 11:29] git-abhijit opened #3281 "OpenShift Java client supports which version of OpenShift?"
Hi,
I want to develop a sample orchestrator in Java + Spring Boot for deploying applications on a Openshift Cluster, can I use the OpenShift  Java client ? Also which version of OpenShift API's are currently supported ?

Is there any sample application which is invoking OpenShift API's ?

Thanks and Regards
Abhijit

[2021-06-29 11:41] rohanKanojia commented on #3281
Umm, I think we have tested OpenShiftClient till OpenShift v4.5.x, see compatibility matrix[0]. We should probably update it with recent OpenShift versions.

You can find OpenShift related examples here[1].

Bdw, shouldn't you be using something like Eclipse JKube OpenShift Maven Plugin for deploying your applications to OpenShift : https://www.eclipse.org/jkube/docs/openshift-maven-plugin

[0] ht

[2021-06-29 11:41] #2942 closed

[2021-06-29 11:53] git-abhijit commented on #3281
Hi Rohan,

Thanks for your quick and details response. I will go through the details shared.

Bdw, shouldn't you be using something like Eclipse JKube OpenShift Maven Plugin for deploying your applications to OpenShift --> Yes. I forgot to mention in my previous post, we are having Maven Pugin ?

I had earlier worked with Kubernetes java client (had added the maven dependency in the pom.xml) , so

[2021-06-29 12:00] rohanKanojia commented on #3281
OpenShift-Maven-Plugin is a maven plugin based on Fabric8 Kubenretes Client.

Yes, I think you're looking for https://search.maven.org/artifact/io.fabric8/openshift-client/5.4.1/jar

[2021-06-29 13:14] #3275 closed

[2021-06-29 14:46] #3271 closed

[2021-06-29 16:54] shawkins opened #3284 "HasMetadataOperation createVisitableBuilder"
I added that method for edit operations - but I can see that it's possibly not needed given we should be able to lookup the Handler does that seem reasonable?  Related to this there are apiVersion members/methods on both BaseOperation and HasMetadataOperation - should those be consolidated?

I'm also thinking it may not be a good idea to use the builder for cloning - just in case there are issues,

[2021-06-29 17:55] shawkins opened #3285 "Implement waiting for lists"
Related to #3278 it would be good if wait methods were available off of the list context.

I propose:

```List<T> waitUntilListCondition(Predicate<List<T>> condition, long amount, TimeUnit timeUnit);```

In addition it would be good if there were versions of the wait methods that also returned futures so that dependent code, like the NamespaceVisitFromServerGetWatchDeleteRecreateWaitApplicableList

[2021-06-30 02:18] shawkins commented on #3285
A concrete proposal is #3286

@rohanKanojia @manusa let me know your thoughts.

[2021-06-30 04:25] manusa commented on #2956
The underlying implementation for waitUntilReady and waitUntilCondition has been recently changed (#3274 #3271).
The new implementation uses Shared Informers as the means to observe the resources. Shared Informers should automatically handle Watchers that are unhealthy, so this issue might be solved in 5.5.0.

[2021-06-30 06:52] manusa commented on #3284
Context #3070

[2021-06-30 07:16] manusa commented on #3284
I'm a little bit lost here.

I only see the `apiVersion` member in BaseOperation:
https://github.com/fabric8io/kubernetes-client/blob/5751f31c5f5c4f711d19e8d2325db66d5ab3d277/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/BaseOperation.java#L109

I can't find that in the HasMetadataOperation class. Maybe you are referring to the static methods in the HasMetadata class? If th

[2021-06-30 09:15] vmuzikar opened #3287 "CRD Generator: Support for fields descriptions"
CRDs support `description` for custom fields. However, the CRD Generator doesn't support this at the moment (unlike the Go Operator SDK). Descriptions could be taken either from some annotation or Javadoc.

[2021-06-30 09:32] #3278 closed

[2021-06-30 11:37] shawkins commented on #3284
https://github.com/fabric8io/kubernetes-client/blob/289a1eceba5bf23f350ea07ace240c79506aa5e1/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/HasMetadataOperation.java#L81

Used in

https://github.com/fabric8io/kubernetes-client/blob/289a1eceba5bf23f350ea07ace240c79506aa5e1/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/HasMetadataOperation.java#L89

and

[2021-06-30 14:06] rohanKanojia commented on #2929
@shawkins @manusa : Shall we close this issue?

[2021-06-30 14:10] shawkins commented on #2929
There may need to be more docs.   And there was some discussion about the CustomResourceDefinitionContext class name in this scenario - it may be better to have a base ResourceDefinitionContext.

[2021-06-30 15:01] shawkins commented on #744
Marking this as out-of-date / not needed.  The only places that need watchers will already be appropriately typed.  The casting needed in AbstractWatchManager is more related to the typing of WatchEvent - which can be a KubernetesResource.

[2021-06-30 15:01] #744 closed

[2021-06-30 16:18] shawkins commented on #1318
Marking as resolved - to not introduce additional Watcher logic, the suggestion is to use an informer instead.

[2021-06-30 16:18] #1318 closed

[2021-06-30 16:19] #2619 closed

[2021-06-30 18:44] AndrewGotz commented on #3038
Bumping this. @manusa @rohanKanojia Could we potentially get this backpatched if its not to much work? We temporarily downgraded java version to run these tests for one of our projects which is not ideal. Updating to the latest 5.x would also be a big undertaking at this time for our team.

[2021-06-30 18:55] rohanKanojia commented on #3038
@AndrewGotz : In 5.x major changes are only related to removal of Doneable and CustomResources. If you're not using these then migrating to 5.x might not be that involved effort.

[2021-07-01 14:14] geoand opened #3291 "Retry setting should be applied when an IOException is thrown"
https://github.com/fabric8io/kubernetes-client/pull/3164 introduced support for retry setting when certain HTTP 5XX responses are received from the client in order to deal with transient failures.
In the same spirit, it makes sense to use the same settings to handle IOExceptions that can be thrown for example when an application tries to contact the API server via a sidecar that has not come up ye

[2021-07-01 14:35] manusa commented on #2489
Hi @FWiesner
Do you think this is still applicable in 5.5.0? Most of the problems you highlight should no longer be an issue.

[2021-07-02 05:55] attilapiros commented on #3291
Today I have a few hours at my computer and started to working on this.
Thanks @geoand for creating the issue!

[2021-07-02 05:56] geoand commented on #3291
Great, thanks 👌

[2021-07-02 08:03] fabriziofortino commented on #2112
This is quite an annoying issue. To work this around, I have created a utility function that makes a `kubectl version` call on each context I need to interact with:

[code]

[2021-07-02 09:30] git-abhijit commented on #3281
Thanks Rohan.

[2021-07-02 09:41] #3259 closed

[2021-07-02 11:04] gewei2000 opened #3294 "how to get apiGroupList use kubernetes-client?"
how to get apiGroupList use kubernetes-client?

[2021-07-02 11:21] rohanKanojia commented on #3294
Do you mean `ApiService`? If yes, you can get them like this:
[code]

[2021-07-02 11:32] gewei2000 commented on #3294
io.fabric8.kubernetes.api.model.APIGroupList，this model

[2021-07-02 11:37] gewei2000 commented on #3294
I want to get preferred version, but I don't how to get APIGroupList use this client

[2021-07-02 12:02] asardaes opened #3295 "Custom resource informer's event handler's onUpdate stops working after pod is restarted"
Hello, I am currently trying to write a Kubernetes controller using `io.fabric8:kubernetes-client:5.5.0`. As of now, I have only tested basic logic with an informer:

[code]

The handler does nothing except log what it received.

After initial deployment, everything works as expected. But if I manually restart the pod where my controller is running after I already created some custom resources, I

[2021-07-02 12:46] shawkins commented on #3295
No, that seems odd.

What needs to happen for this to occur is that the deserializer for FlinkJobCustomResource is not getting registered.  That is supposed to happen automatically prior to any list/watch operation by calls in SharedInformerFactory.

If it is not registered, that will cause the parsing of the list operation to return GenericKubernetesResource instances instead.  Those values then

[2021-07-02 13:26] rohanKanojia commented on #3294
@gewei2000 : ohk, we're missing support for this.

[2021-07-02 13:31] rohanKanojia commented on #3295
strange, I'm not sure right now what might be causing this. I'll try to reproduce this. So you're saying I can reproduce it after restarting the controller pod, right?

[2021-07-02 14:09] asardaes commented on #3295
Yes, I can consistently reproduce this if I install my controller, create a custom resource, and then restart the controller's pod.

[2021-07-02 14:42] #3291 closed

[2021-07-02 15:08] asardaes commented on #3295
And for completeness, here's an overview of my CR class

[code]

[2021-07-02 16:30] asardaes commented on #3295
I was looking for ways to make the informer namespace-specific (in the future) and I changed the code to the following:

[code]

I don't see the issue after restarting the pod in this case.

[2021-07-03 08:59] asardaes commented on #3295
Kind is `FlinkJob`, and yes, I think you're right about the issue. Thanks for looking into this.

[2021-07-03 14:00] shawkins commented on #3295
Great it will be a simple fix.  For now you can either change the class name to match the kind, or just use the inform approach - it is available at any context where a list is available, the namespace is not required.

[2021-07-03 21:31] asardaes opened #3296 "Lease deletion doesn't work"
Hello, I am testing lease-based leader election for a temporary task. After the task is done, I'd like to cancel lease renewal and delete the lease. I can do the former by interrupting the thread running `LeaderElector#run`, but I can't seem to delete the lease from Kubernetes with this code:

[code]

Is there special logic needed for this? My first thought was that maybe it cannot be done while t

[2021-07-05 07:02] rohanKanojia commented on #3083
@sonicloong : Thanks a lot for reporting this issue. I tested with your PEM string and I can reproduce this issue. I think if [`java.util.Base64`](https://docs.oracle.com/javase/8/docs/api/java/util/Base64.Decoder.html) instead of `okio.ByteString`, it will solve our issue:
[code]
I will create a PR to replace `okio.ByteString` to `java.util.Base64` here.

[2021-07-05 07:32] #2712 closed

[2021-07-05 10:30] manusa commented on #3294
This would be really useful to get the cluster available API groups and API resources:

[code]
The response for the `APIResourceList` provides the required information to interact with any group/resource in K8s. This is really useful when we need to deal with Custom Resources and we don't have a definition (CRD) for them.
An improvement for the GenericKubernetesResource operations DSL method, migh

[2021-07-05 10:47] manusa commented on #3266
I'm guessing you're talking about the CRUD mode.

I'm not sure if you're only considering how this affects to the provided resource, or if it should also consider dependent resources.

If we are to consider the dependent resources (e.g. a Deployment is deleted, any dependent resources (ReplicaSet, Pod, etc.) will be deleted too), the first question should be go are those dependent resources create

[2021-07-05 11:00] manusa commented on #3246
There's a different behavior between what the REST API does when performing a deletion with the foreground propagation policy and what `kubectl` does.

When you perform a `kubectl delete ... --cascade='foreground`, the command waits until every dependent resource is deleted to complete the execution.

However, when you perform the same operation using the REST API (with `foreground` PropagationPol

[2021-07-05 11:50] victornoel commented on #3266
@manusa good points, all of them!

My use case: I'm implementing an operator that creates jobs and secrets. I manually specify the job as the owner of the secret, so that when I delete the job, the secret is deleted by the deletion propagation. I want to test this behaviour and also rely on it for testing other aspects of the operator.

So it's indeed for CRUD mode, and for deleting dependent reso

[2021-07-05 11:51] victornoel commented on #3246
@manusa I understand. It makes sense indeed, thank you for the explanation, I will continue with my solution then!

[2021-07-05 11:51] #3246 closed

[2021-07-05 12:32] manusa commented on #3266
Given this use case, it does make sense indeed to implement this functionality.

You can read more about how this works here: https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#controlling-how-the-garbage-collector-deletes-dependents

So the owner object is deleted last, and only if all the dependent objects are deleted. I don't think there's any scenario where Kubernete

[2021-07-05 12:39] ccidral commented on #2712
Thanks, this should work for me.

[2021-07-05 12:43] victornoel commented on #3266
Indeed, thank you again for the explanation, it makes more sense now to me :)

I don't think we would really need to implement like this in the Mock server though. At least for my use case I suppose.

[2021-07-05 12:47] manusa commented on #3266
So an initial implementation would be to delete dependent Objects, despite the DeletionPropagation.
Anyway, I think that with the initial complexity this enhancement requires, taking into consideration the propagation policy would be just a minor additional problem.

[2021-07-05 13:21] #3083 closed

[2021-07-05 13:45] rohanKanojia commented on #3063
This issue is not just with V1APIGroupClient but with any Client whose Adapter is discovered via ServiceLoader:

https://github.com/fabric8io/kubernetes-client/blob/e580fe4dc18828d1995648f390409243353cb1ba/kubernetes-client/src/main/resources/META-INF/services/io.fabric8.kubernetes.client.ExtensionAdapter#L17-L40

[2021-07-05 14:01] manusa commented on #3063
https://github.com/fabric8io/kubernetes-client/issues/2218

[2021-07-05 15:26] rohanKanojia commented on #3063
@yeikel : Hello, I think `maven-shade-plugin` needs to be configured to avoid service entry declaration collision in `kubernetes-client` and `openshift-client` modules. If you add [ServiceResourceTransformer](http://maven.apache.org/plugins/maven-shade-plugin/examples/resource-transformers.html#ServicesResourceTransformer) in your `maven-shade-plugin` configuration you should get merged service en

[2021-07-06 06:24] rohanKanojia commented on #3240
@LiamClarkeNZ : Thanks a lot for your detailed bug report!

You're right we can easily fix this issue by providing a hand-crafted copy of MicroTime with custom Serializers/Deserializers. When I was reading your bug report this was the solution I wanted to go forward with. We've done this in past too for classes like [IntOrString](https://github.com/fabric8io/kubernetes-client/blob/master/kubernete

[2021-07-06 14:21] rohanKanojia opened #3300 "Fix intermittent failures of WatchTest"
I've noticed WatchTest failing intermittently on CI sometimes, for example [here](https://github.com/fabric8io/kubernetes-client/pull/3299/checks?check_run_id=2999313896). We should fix these intermittent failures whenever we get some time:
[code]

[2021-07-06 14:47] yeikel commented on #3063
Confirmed to be the solution. Thank you @rohanKanojia

[2021-07-06 14:47] #3063 closed

[2021-07-07 00:41] mattrpav opened #3302 "Add implements Serializable to model classes"
.. title just about covers it. Having the models be serializable is super handy

[2021-07-07 00:42] mattrpav commented on #3302
jsonschema2pojo has support

https://joelittlejohn.github.io/jsonschema2pojo/site/0.4.34/generate-mojo.html#serializable

[2021-07-07 04:07] LiamClarkeNZ commented on #3240
@rohanKanojia Yep, I think using `OpenAPISchemaType()` is a far more wide-ranging change in type generation, so needs more investigation. Thanks for the PR!

[2021-07-07 08:10] webskin commented on #2171
Any news ?

[2021-07-07 08:32] rohanKanojia opened #3303 "Support for fetching APIResourceList"
Similar to APIGroup which is accessible via `/apis` endpoint(see https://github.com/fabric8io/kubernetes-client/issues/3294), there is another NON-Restful endpoint in Kubernetes related to all available resources in a particular API group. It specifies information regarding a resource like the name of a resource and whether it is namespaced and supported operations.

Here is how it's used:
[code]

[2021-07-07 08:48] manusa commented on #3303
This is what is mentioned in https://github.com/fabric8io/kubernetes-client/issues/3294#issuecomment-874002876.

I think this might be exposable through our DSL, but I really think this would be very useful internally for the #2929 implementation.

[2021-07-07 11:05] coderzc opened #3304 "Occur NullPointerException when using SharedInformers.stopAllRegisteredInformers() and the KubernetesClient.close()"
Occur NullPointerException when using SharedInformers.stopAllRegisteredInformers() and the KubernetesClient.close()
[code]

The exception information:
[code]

[2021-07-07 11:12] rohanKanojia commented on #3304
How can we reproduce this error? What kind of informers did you register into SharedInformerFactory which caused this NPE?

[2021-07-07 11:23] coderzc commented on #3304
It is an occasional error, kind of register into SharedInformerFactory include Job、ConfigMap、CustomResource

[2021-07-07 11:24] coderzc commented on #3304
It is an occasional error, kind of register into SharedInformerFactory include Job、ConfigMap、CustomResource

[2021-07-07 11:35] coderzc commented on #3304
@rohanKanojia I have a question the `SharedInformerFactory.stopAllRegisteredInformers()` whether is blocking until sharedInformer complete shutdown.

[2021-07-07 12:14] manusa commented on #3302
This is a topic that has been discussed several times.
All models should already implement Serializable since they implement the KubernetesResource interface which extends Serializable.
So it's the opposite #2402 (remove the Serializable interface) what has been requested and discussed on several occasions.
It would be good to know what your take is on this topic in case it's readdressed in the fu

[2021-07-07 13:58] shawkins opened #3307 "isReady logs a warning when null"
If I do something like: pods().inNamespace...withName...isReady() - I'll see a warning log and a false result when null.

Should isReady return null when the resource is null?

[2021-07-07 14:47] rohanKanojia commented on #3307
I'm not sure about this, since this method is named `isReady()` user's expectations are set to be a boolean value. I'm not sure if we should return null in this case.

[2021-07-07 15:02] shawkins commented on #3307
The interface is already defined as Boolean isReady - if a null result is not possible, it should just be boolean.

[2021-07-07 15:19] shawkins commented on #3307
The two proposals would be:

1. return isReady null when the resource is null, with no associated logging.  This could be seen by some users as a breaking change, but does conform to the existing interface.
2. Change the interface to boolean isReady and throw a ResourceNotFoundException when the resource is null.  This also would be a breaking change, but it would force the caller to handle the nu

[2021-07-08 00:22] shawkins commented on #2010
Marking as resolved based upon the last comment.

[2021-07-08 00:22] #2010 closed

[2021-07-08 00:35] shawkins commented on #2327
Is this just looking for a utility method based upon https://github.com/fabric8io/kubernetes-client/blob/6bb55ee2ae2ad25d477f5c1b083e04255987163c/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/OperationSupport.java#L370 or could it be resolved based upon the various patch methods that have been added?

[2021-07-08 06:49] git-abhijit commented on #3281
Hi Rohan ,

One more help, similar to Java , are we have for GoLang too ? Package in Golang which can invoke Openshift API's

Thanks and Regards
Abhijit

[2021-07-08 06:51] rohanKanojia commented on #3281
https://github.com/openshift/client-go

[2021-07-08 07:00] git-abhijit commented on #3281
Thanks. This also supports the same version as for Java Client ?

[2021-07-08 07:02] rohanKanojia commented on #3281
I don't know. It's not aligned with our project. Since it's in OpenShift org, it's releases are aligned with OpenShift releases.

[2021-07-08 07:27] git-abhijit commented on #3281
Ok. Thanks Rohan.

[2021-07-08 07:27] #3281 closed

[2021-07-08 07:52] rohanKanojia commented on #2171
Sorry for late reply, We have taken this issue in our current sprint: https://github.com/eclipse/jkube/projects/23

[2021-07-08 17:54] rohanKanojia commented on #3295
Hello, I'm trying to reproduce your issue with this reproducer https://github.com/r0haaaan/flinkjobinformer-controller. I can reproduce your issue but I'm not even able to get factory's informer working with v5.5.0 with your setup. I can verify that the fix suggested by Steven works.

[2021-07-08 18:25] asardaes commented on #3295
@rohanKanojia maybe it's because you're using a lambda? (i.e. `new ResourceEventHandler<>() { ... }`). I don't know if type erasure affects that.

[2021-07-09 08:28] #3284 closed

[2021-07-09 08:29] #2849 closed

[2021-07-09 08:53] #3304 closed

[2021-07-09 09:17] #3295 closed

[2021-07-09 14:39] manusa commented on #3307
I don't like the null return value, especially with your depicted scenario.

Users implementing (for whatever reason) a manual version of `client.pods().inNamespace...withName...waitUntilReady(...)`, are probably expecting that statement to return false, since there is no resource available+ready matching that name+namespace.

So (IMHO) I see option 2 as the valid way, but excluding the ResourceNo

[2021-07-09 15:29] shawkins commented on #3307
The root of the problem is: https://github.com/fabric8io/kubernetes-client/blob/74cc63df9b6333d083ee24a6ff3455eaad0a6da8/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/internal/readiness/Readiness.java#L123

waitUntilReady does a null check before calling isReady(resource)

https://github.com/fabric8io/kubernetes-client/blob/b9c54190073c5c099036806af7c92a9fde66e738/kubernetes-client/

[2021-07-09 18:44] cstaykov opened #3309 ".jobs() is Deprecated"
I am using the latest version 5.5.0 from maven and I am attempting to create a Job using:

[code]

And then doing `job = client.batch().jobs().create(job);` but my IDE is warning me that jobs() is deprecated. Upon checking

[code]
I see the annotation. However, all the documentation on how to work with Jobs on Github says to use `client.batch().jobs().` What am I supposed to use now that it is dep

[2021-07-10 14:04] pumoica opened #3310 "Deployment from multiple document yml template"
Hello,
My task at hand is to load a k8s template file that has multiple kinds (in k8s speak), deploy each kind into a k8s cluster, and monitor the deployment progress.

Speaking specifically of the deployment step, I've looked through available examples and have found so far only a method client.load().get() to load a list of HasMetadata items.

But how do I exactly deploy each kind, ideally, in o

[2021-07-10 16:15] pumoica commented on #3310
Found the solution.
List<HasMetadata> deployedList = k8s.load(bpDeployment).inNamespace("whatever-space").createOrReplace();
Also, need to ensure that at least version 4.13.3 is used.

[2021-07-10 16:15] #3310 closed

[2021-07-11 01:46] asardaes commented on #3296
After some testing, I do think I have to wait a bit before attempting deletion after interrupting the elector's thread, otherwise another contender becomes the leader and recreates the lease. I suppose that's working as expected.

[2021-07-11 01:46] #3296 closed

[2021-07-11 16:26] #2934 closed

[2021-07-12 05:04] rohanKanojia commented on #3309
@cstaykov : Thanks for reporting. `client.batch().jobs()` was deprecated in favor of `client.batch().v1().jobs()`:
[code]
By documentation are you mentioning CHEATSHEET[0]. I think we should update it with the new job DSL method. Would it be possible for you to submit a PR to fix this?

[0] https://github.com/fabric8io/kubernetes-client/blob/master/doc/CHEATSHEET.md#job

[2021-07-12 09:34] manusa commented on #3307
I specifically mentioned the `waitUntilReady` method because I'm aware that some users from 4.x versions might have a downstream implementation relying on the isReady method. But yes, my opinion is that both methods should be consistent.

I don't know why a `Boolean` was chosen as the return value instead of `boolean` in the first place. For me this is semantically confusing (thing are either read

[2021-07-12 13:57] manusa commented on #2934
There's a new [`clone(T resource)`](https://github.com/fabric8io/kubernetes-client/blob/1093d5bea6b9396bf5697306a1ca7dc61330104c/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/utils/Serialization.java#L335) method as part of the Serialization utility class.

[2021-07-13 07:37] laxmikantbpandhare commented on #3309
/assign

[2021-07-13 07:37] laxmikantbpandhare commented on #2887
/assign

[2021-07-13 07:41] rohanKanojia commented on #2887
In order to complete this task, you need to follow these steps:
- Add a utility method `createDockerRegistrySecret` in KuberntesResourceUtil
- Add a test

[2021-07-13 07:43] laxmikantbpandhare commented on #2887
thank you for then information @rohanKanojia. I will look into it.

[2021-07-13 08:09] PeterPerter opened #3312 "reload token when kube config file does not exist, errors shows"
we ran into a problem when the token is refreshed :
[code]

We checked the environment and found that the /.kube/config file not exist, so in function intercept() it throws out  an exception in KubeConfigUtils.parseConfig, and codes in else{} would not execute.

[code]

While in autoConfigure() function, error is ignored if /.kube/config not exist, so it will continue to tryServiceAccount.

[code]

[2021-07-13 09:35] #2945 closed

[2021-07-13 13:07] cstaykov commented on #3309
Yes, I was referring to the CHEATSHEET as well as: https://github.com/fabric8io/kubernetes-client#working-with-extensions.

I could do this, but it seems like someone else already picked it up.

[2021-07-13 13:10] rohanKanojia commented on #3309
@laxmikantbpandhare : Since you're also planning to work on https://github.com/fabric8io/kubernetes-client/issues/2887 . Is it okay if I assign this issue to Chris?

[2021-07-13 17:06] metacosm opened #3314 "Provide more detailed information about what is being generated during CRD generation"
Calling code currently only has access to the number of generated CRDs when it usually is interesting to know which files were generated and where. While retrieving that information was possible, it wasn't straightforward and required to know how the CRD generation process worked. It should be easier to figure out more detailed information about what was generated and what was taken into account t

[2021-07-13 18:07] laxmikantbpandhare commented on #3309
Yes, that will be fine. No issues at all.

[2021-07-13 18:56] rohanKanojia commented on #3309
@cstaykov: You can take this up now :-) . I think it would be better since you found out outdated documentation

[2021-07-13 19:06] cstaykov commented on #3309
Thanks, can you assign me, as I don't have permission to?

[2021-07-13 20:28] FuyaoLi2017 opened #3315 "Error during using networking.k8s.io/v1 apiVersion to create Ingress with Fabric8io 4.9.2"
I am using Fabric8io 4.9.2 version and can't update the version for now due to limitation. (Apache Flink version)

I want to create a Ingress using Fabric8io API, when using `networking.k8s.io/v1beta1` apiVersion. I am good. However, when I switched to `networking.k8s.io/v1`. I saw the errors below.

[code]

If I don't specify the apiVersion explicitly, it will default to v1beta1 and gives me the

[2021-07-13 20:52] thiagoarrais opened #3316 "Resource delete with optimistic lock"
This is maybe a feature request? Anyway, I'd like to be able to issue a DELETE request to some resource with _delete options_ locking the resource version as [allowed by the Kubernetes API](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#delete-deployment-v1-apps).

I don't see how can I do that using `kubernetes-client`. I've tried this:

[code]

But `delete` isn't usable aft

[2021-07-14 02:18] shawkins opened #3318 "Missing events from relist"
Something that was in the original implementation was treating relist add/updates as synchronization:

https://github.com/fabric8io/kubernetes-client/blob/c112f2d63c2d6ad9906c822fe80eec3dcbc1bb0d/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/informers/cache/DeltaFIFO.java#L167

https://github.com/fabric8io/kubernetes-client/blob/e9ea28eb554e0a2507e60a3e85f1a2d51839fcda/kubernetes-cl

[2021-07-14 02:43] shawkins commented on #3312
We hit this too a while back. @rohanKanojia WDYT?

[2021-07-14 03:59] gewei2000 opened #3320 "do we have any util to convert java schema to yaml schema?"
do we have any util to convert java schema to yaml schema?

[2021-07-14 05:45] PeterPerter commented on #3312
Do you have any workaround for this problem ? :)

[2021-07-14 06:22] rohanKanojia commented on #3320
Could you please elaborate? Are you talking about Kubernetes resource schema? Or you just want to convert a json string to yaml. I do see some methods in IOHelper utility class for this purpose:

https://github.com/fabric8io/kubernetes-client/blob/ad080a660eefd0742b48253088d601ab66cc2313/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/utils/IOHelpers.java#L70-L78

[2021-07-14 06:55] rohanKanojia commented on #3312
Are you facing this problem when kubernetes-cilent is running inside a pod? We use KubeConfig file to extract things like currentContext and current auth info (like auth server URL for refresh token):

[code]

If it's possible to extract these things from ServiceAccount. I think it might be possible handle case when kube config file doesn't exist and use service account instead.

[2021-07-14 07:34] #3314 closed

[2021-07-14 07:48] #2888 closed

[2021-07-14 08:27] laxmikantbpandhare commented on #2887
Raised PR #3321 which will fix this issue.

[2021-07-14 09:06] gewei2000 commented on #3320
I want to convert k8s resource object to a yaml template file, such as comfigmap
[code]

[2021-07-14 09:24] rohanKanojia commented on #3320
We have `SerializationUtils.dumpAsYaml(yourConfigMap)` do you think this can fit your use case?

[2021-07-14 10:02] PeterPerter commented on #3312
@rohanKanojia  Thanks for your comments!
_Are you facing this problem when kubernetes-cilent is running inside a pod?_
Yes we had this problem when we use kubernetes-client in a pod and kubeconfig file does not exist.

_If it's possible to extract these things from ServiceAccount. I think it might be possible handle case when kube config file doesn't exist and use service account instead._
Actuall

[2021-07-14 11:11] #3320 closed

[2021-07-14 11:34] shawkins commented on #3312
In our case I believe this error was just masking another problem.  During an operator upgrade the new version failed to report as ready so olm was attempting to roll it back - it removed the necessary accounts/secrets but left the pod running.

[2021-07-14 11:53] #2641 closed

[2021-07-14 14:54] #2650 closed

[2021-07-14 17:48] rohanKanojia commented on #2632
@ppatierno: Hello, I'm looking into this issue. I reproduced your issue by using KubernetesClient with a kind cluster with ipv6 configuration specified in kind docs[0]. Are you able to resolve your issue by excluding okhttp3 dependencies introduced by kubernetes-client jar and adding direct okhttp 4 dependencies?

I tested this on a simple reproducer project[1] on a ipv6 kind cluster and it seems

[2021-07-15 06:20] ChandrashekarAppaji opened #3324 "io.fabric8.kubernetes.client.KubernetesClientException: not ready after 10000 MILLISECONDS"
Hi ,

I'm getting the below error continuously even after increasing the socket wait time to 10000 MS. (default=5000).
any hint here please  what is missing:

[code]

 ---------------------------------
openjdk version "1.8.0_292"
OpenJDK Runtime Environment (build 1.8.0_292-b10)
OpenJDK 64-Bit Server VM (build 25.292-b10, mixed mode)
Kubernetes client-5.5.0

[2021-07-15 07:56] #3318 closed

[2021-07-15 09:11] PeterPerter commented on #3312
In our case we need to load token successfully, otherwise it will stuck.
So should the logic in intercept() be changed to similar with autoconfigure() ?

[2021-07-15 09:17] rohanKanojia opened #3325 "All Cluster Scoped Kubernetes resources should use NonNamespacedOperation"
Kubernetes Cluster resources don't require the namespace. For these methods, we should use NonNamespacedOperation instead of MixedOperation. MixedOperation interface introduces a `inNamespace` method which is not required for these cluster scoped resources:

ComponentStatus
https://github.com/fabric8io/kubernetes-client/blob/8fe5c8c4b7709105117f916a37ed1fbb80b02ea8/kubernetes-client/src/main/java/

[2021-07-15 10:39] #2454 closed

[2021-07-15 15:04] laxmikantbpandhare commented on #3325
/assign

[2021-07-15 20:12] fhcarter opened #3326 "Update APIs for Kubernetes 1.22"
Kubernetes 1.22 (purportedly due out mid-late August 2021) is removing a number of APIs which are currently used in the Kubernetes-client.  The one I use the most is the Ingress & ingress builder, part of the extensions, which are  currently based on the extensions/v1beta1 and networking.k8s.io/v1beta1 API versions.  As of 1.22, these will no longer work.

The changes necessary & steps required ar

[2021-07-16 08:02] #2887 closed

[2021-07-16 19:48] mattrpav commented on #3302
@manusa thanks for the pointer to KubernetesResource. We use Apache Wicket which takes advantage of Serializable, and I agree that it is a good practice to keep it around and does not incur any real cost to users.

We have never run across any problems with using Serializable across other frameworks. We create single model objects that support JAXB, JSON, Serializable and JPA and they all work as

[2021-07-16 19:51] #3302 closed

[2021-07-17 11:04] Shatakshi0805 commented on #3163
Can I work on this?

[2021-07-17 13:27] lburgazzoli opened #3328 "ClassCastException: class io.fabric8.kubernetes.api.model.Secret cannot be cast to class io.fabric8.kubernetes.api.model.GenericKubernetesResource"
I have an operator where I set up watcher using the `customResource` to be able to watch any kind of resource, something like:

[code]

When an event happen on a secret, the following exception is thrown:

[code]

[2021-07-17 13:28] lburgazzoli commented on #3328
@manusa unfortunately I didn't spot this issue when you originally asked me to check the PR where `GenericKubernetesResource` has been introduced.

[2021-07-17 17:09] shawkins commented on #3328
There's handling for this in the ReflectorWatcher that needs moved up into
the AbstractWatchManager.

On Sat, Jul 17, 2021 at 9:29 AM Luca Burgazzoli ***@***.***>
wrote:

[2021-07-19 03:20] louygan commented on #3312
@rohanKanojia I think this is bug, as BoundServiceAccountTokenVolume is a Beta feature in k8s 1.21,  the service account admission controller will add a projected service account token volume instead of a secret volume. The service account token will expire after 1 hour by default or the pod is deleted.

So support ServiceAccount Refreshment is mandatory.

[2021-07-19 05:14] manusa commented on #3302
:)
Funny you mention Apache Wicket. I was a heavy user 10 years ago. I suffered the Serializable pain too, and that's why even when using Jackson or other libraries I tend to declare classes that are being _serialized_ in one way or another Serializable.

[2021-07-19 09:24] vsevel commented on #2954
I think there should be an exception when you are trying to call this endpoint, and the suthenticated user does not have the right permissions.

[2021-07-19 12:13] ChandrashekarAppaji commented on #3324
Any input here please

[2021-07-19 13:33] manusa commented on #3324
Could you include the portion of code that is throwing this exception?

[2021-07-19 13:42] manusa commented on #3328
I wouldn't agree 100% on this being a bug.

If you are dealing with a known type, why do you want to handle this as a Raw/Unstructured/CustomResource type?
I mean, the runtime error is really bad and it would be much better to prevent this, but my point is that you should be using `kubernetesClient.secrets()` instead.

What's the main reason you are using a CRD definition and the extra hassle inst

[2021-07-19 13:46] ChandrashekarAppaji commented on #3324
Hi @manusa ,
I'm just trying to print the pod list in using the default client :
======================================
import io.fabric8.kubernetes.client.DefaultKubernetesClient;
import io.fabric8.kubernetes.client.KubernetesClient;
import java.io.File;
import java.nio.file.Path;

public class DownloadFileFromPod {
    public static void main(String[] args) {
            System.setProperty("kube

[2021-07-19 14:04] manusa commented on #3324
Cluster information?

[2021-07-19 14:18] ChandrashekarAppaji commented on #3324
Cluster is having 3 master nodes with 4 worker nodes

[2021-07-19 15:47] mattrpav commented on #3302
Always excited to come across a fellow Wicket user (even past ones). Apache Wicket has been amazing for us. Upgrades since v1.4 have been very smooth and server-side render has been a great fit for us.

Re Serializable-- agreed. It has a lot of practical benefits and sometimes you just want to write down a collection of objects and having access to a json or jaxb marshaller isn't the best fit. It

[2021-07-19 15:54] lburgazzoli commented on #3328
I can't because my operator does not know the type of the resources as they are retrieved from another service, then the operator set-up a watcher on them and reacts upon changes in a generic way.

Of course I can eventually come up with something like a switch case to check if it is a know resource, but since the operator does not care about the type, I think that it would just make the code hard

[2021-07-19 16:37] shawkins commented on #3328
Since it's just a small fix and makes the unstructured logic work with anything, I'll produce a pr for this.

[2021-07-19 16:53] shawkins opened #3329 "resource(String) does not parse the item"
The string value is passed directly as the item, which does not work with the the NamespaceVisitFromServerGetWatchDeleteRecreateWaitApplicableImpl

[2021-07-19 16:56] shawkins opened #3330 "OpenShiftNamespaceVisitFromServerGetWatchDeleteRecreateWaitApplicableImpl is not used"
The openshift client does not reference the OpenShiftNamespaceVisitFromServerGetWatchDeleteRecreateWaitApplicableImpl

This was the case before and after the refactoring to use a common base client: https://github.com/fabric8io/kubernetes-client/blob/v5.3.0/openshift-client/src/main/java/io/fabric8/openshift/client/DefaultOpenShiftClient.java#L351

[2021-07-20 03:29] manusa commented on #3328
OK, this is what I imagined. In your snippet you provided a hard-coded "v1"+"Secret" group-version + kind combination, I understand that in your operator these values are dynamic.

One of the next steps for the GenericKubernetesResource is to be able to use this with resource with DSL methods such as `resouce` or `resourceList` without the need to provide additional context. This should eventually

[2021-07-20 09:06] #3328 closed

[2021-07-20 09:26] alfonzjanfrithz commented on #2904
I bumped and search to this question because I have the same problem. What my case was pretty much similar, I need to know what is the current `Deployment` status in more simplified manner, whether it is `Failed`, `Progressing`, or `Complete`.

It is not very straightforward apparently with the way kubernetes describe the statuses of the deployment, because it has several conditions described [her

[2021-07-20 09:46] ChandrashekarAppaji commented on #3324
Sorry its working fine
it was proxy issue. :)
Thanks for all the support

[2021-07-20 09:46] #3324 closed

[2021-07-20 15:16] manusa opened #3332 "5.7.0"

[2021-07-20 15:17] #3332 closed

[2021-07-20 15:22] #2842 closed

[2021-07-20 15:24] metacosm commented on #2842
This issue was mostly about the Java Operator SDK work so that CRDs could be generated in the same spot as the files that the Quarkus Kubernetes extension. This was worked around in the Quarkus extension for the Java Operator SDK. While the underlying issue is still valid, there's no more need for this at the moment so closing it for now.

[2021-07-20 15:34] metacosm commented on #2806
Can we close this issue, @iocanel ?

[2021-07-20 15:56] jorsol commented on #2454
The Server-Side Apply needs more than just a plain PATCH, I'm not fully clear with all the details but the `metadata.managedFields` must be set to `null` or you will get a
[code]

Actually, the [apply and update](https://kubernetes.io/docs/reference/using-api/server-side-apply/#apply-and-update) must be considered, so the apply operation is that must set the `managedFields` to null:

Not quite sur

[2021-07-20 19:51] xaviersierra opened #3334 "Add support for Server Side Apply"
# Server Side Apply

Starting from kubernetes 1.16, [Server Side Apply](https://kubernetes.io/docs/reference/using-api/server-side-apply/) it's enabled by default.

This feature is very useful from a operator development point of view,
 since it would require fewer requests to the Kubernetes API during the reconciliation cycle.

Using Server Side Apply has also the advantage that inform to users

[2021-07-21 04:52] rohanKanojia commented on #3334
Related to https://github.com/fabric8io/kubernetes-client/issues/2454

[2021-07-21 06:28] gewei2000 opened #3335 "how to create user account use client api?"
how to create user account use client api?

[2021-07-21 06:35] #3335 closed

[2021-07-21 08:50] #3285 closed

[2021-07-21 09:19] #3240 closed

[2021-07-21 10:25] #3307 closed

[2021-07-21 11:02] rohanKanojia opened #3336 "Add ConversionReview to Kubernetes ApiExtensions Model"
ConversionReview, ConversionRequest and ConversionResponse might be used by users who are interested in writing a conversion webhook in order to handle CustomResource conversions from one version to other.

You can find equivalent go struct here: https://github.com/kubernetes/apiextensions-apiserver/blob/master/pkg/apis/apiextensions/v1/types.go#L457

[2021-07-21 11:21] rohanKanojia opened #3338 "Deprecate DSL Methods/Kubernetes Resources which are going to be removed in Kubernetes 1.22"
We need to deprecate these methods in upcoming release so that we can safely delete them in next to next release. These types are no longer available in Kubernetes 1.22, see https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/#api-changes

- `client.admissionRegistration().v1beta1()`
- `client.apiextensions().v1beta1()`
- ` client.authorization().v1beta1()`
- `client.certific

[2021-07-21 11:27] manusa commented on #3338
Why would we want to delete them?

Consider the case of someone using the latest Kubernetes Client version to access an older cluster.

The good thing about having DSL accessors with versions is that we can keep them and have a broader compatibility matrix.

The question is if keeping this is compatible with the current golang generator project.

[2021-07-21 11:28] manusa commented on #3338
OK, I read delete instead of deprecate. Deprecate with message makes sense.

[2021-07-21 11:33] rohanKanojia commented on #3338
ohk, we will need to split kubernetes-model-generator into smaller version-specific generators with their own `go.mod` in order to keep both new and old versions

[2021-07-21 11:36] manusa commented on #3338
Then we need to check which of the types makes sense to keep. Resources which have had a non-beta/alpha release for more than a year might not be worth the extra-effort + module cost.

[2021-07-21 12:01] jorsol commented on #3338
The problem with deprecating is that it might confuse users, the difficult part is that it actually depends on the server version at runtime while the client still supports older clients.

It's a chicken-egg problem... if you run on K8s v1.18 `client.certificates().v1beta1()` is perfectly fine and actually is the only valid option since `client.certificates().v1()` is available since v1.19, and if

[2021-07-21 12:27] #3329 closed

[2021-07-21 12:27] #3330 closed

[2021-07-21 13:30] rohanKanojia opened #3339 "Add Private Constructors to Utility classes to hide implicit ones"
As per the Sonar rule[0], Utility classes, which are collections of static members, are not meant to be instantiated. Even abstract utility classes, which can be extended, should not have public constructors.

Java adds an implicit public constructor to every class which does not define at least one explicitly. Hence, at least one non-public constructor should be defined.

You can find all classes

[2021-07-21 14:41] Teramaks opened #3340 "How to upload MultipartFile into pod's persistent volume?"
I was looking for solution to upload file into pod's volume, but pods().withName().file().upload() supports only the way with path, is there any way to upload using InputStream?

[2021-07-21 15:19] rohanKanojia opened #3342 "Remove useless curly braces around lambda statements"
As per this Sonar rule[0], there is no need to have curly braces around single-line lambda statements. We can simply remove it. For example this code:

https://github.com/fabric8io/kubernetes-client/blob/d70d021b5c7dbbf7a94c2821164f67459500d2f5/extensions/service-catalog/examples/src/main/java/io/fabric8/servicecatalog/examples/ListServiceClassesByBroker.java#L32-L34

can be rewritten as:
[code]

[2021-07-21 15:20] rohanKanojia commented on #3163
@Shatakshi0805 : I'm sorry for the late reply. I was on PTO. I have created some extra issues. Could you please check if you can pick one of these:

https://github.com/fabric8io/kubernetes-client/labels/good%20first%20issue

[2021-07-21 16:11] Shatakshi0805 commented on #3163
That's not a problem. yes, I will definitely check these issues. Thanks!

[2021-07-21 16:14] Shatakshi0805 commented on #3342
could you please assign this to me.

[2021-07-21 17:37] MUzairS15 commented on #3339
/assign

[2021-07-21 17:37] MUzairS15 commented on #3339
Pls assign me.

[2021-07-22 03:53] WywTed opened #3345 "status in MixedOperation.inNamespace().withName().get() returned data is null"
CustomResource
Framework f = Frameworks.ops(client).inNamespace(namespace).withName(name).get();
f.getStatus() returned null;

[2021-07-22 05:00] rohanKanojia commented on #3345
Client usually returns whatever response it gets from Kubernetes APIServer. Do you get some different result when you use `kubectl` to fetch this object

[code]

[2021-07-22 05:58] rohanKanojia commented on #3154
@arsenalliu123 : Hello, have you faced a scenario where you see some other runtime exception being thrown? If yes, which exception was it? I think catching all exceptions with a generic `Exception` block doesn't look so clean:
[code]
Or Are you suggesting to move renewSignal CountDownLatch countDown() to `finally` block?

[code]

[2021-07-22 09:55] #3340 closed

[2021-07-22 09:57] rohanKanojia commented on #3340
@Teramaks : Were you able to resolve this issue?

[2021-07-22 13:13] Teramaks commented on #3340
@rohanKanojia yes, thank you

[2021-07-22 13:40] WywTed commented on #3345
result from kubectl is normal. It has data in status.
![image](https://user-images.githubusercontent.com/12699301/126648659-81960ae5-28ee-4e7e-b82f-626186e6c72c.png)

[2021-07-22 13:41] rohanKanojia commented on #3345
Is it possible to share a reproducer project? I would like to see contents of `Framework` class

[2021-07-22 14:29] WywTed commented on #3345
![image](https://user-images.githubusercontent.com/12699301/126655895-ef12e03a-3c85-4f32-a5b6-1e90a38d21c2.png)
![image](https://user-images.githubusercontent.com/12699301/126656127-0046d687-75b0-42a3-9d28-fc1d40b3e005.png)
![image](https://user-images.githubusercontent.com/12699301/126656240-be4d39d9-f404-4749-b9d4-91c7b37a2997.png)
![image](https://user-images.githubusercontent.com/12699301/1266

[2021-07-22 14:30] WywTed commented on #3345
from list-watch event, i can receive the status data normally.

[2021-07-23 14:14] shawkins opened #3349 "Design of methods with XXXOptions"
This topic originated on #3316.  list/watch both support ListOptions as an argument.  Delete does not, but does support quite a few context methods.

It is not clear if delete should also support delete(DeleteOptions) for consistency with the list/watch methods.

There is also a consideration of what passing options directly makes sense given the usage of conflicting context values.

For example i

[2021-07-23 16:08] shawkins opened #3350 "Remove or refine CreateOnlyResourceOperationsImpl"
The usage of CreateOnlyResourceOperationsImpl creates a parallel set of logic for HasMetadata resources that is not needed to just satisfy the dsl.

After the commit of #3327 this could be done with:

Create
[code]
and
[code]
To replace references to NamespacedCreateOnlyResourceOperationsImpl and ImageStreamXXXOperationsImpl in the dsl api.

Handlers.getCreateOnlyOperation(Class<T> type, OkHttpCli

[2021-07-23 22:20] emrealpogunc opened #3352 "Exception in thread "main" java.lang.NoClassDefFoundError: io/fabric8/kubernetes/api/builder/Visitable"
Hello and Greetings,
I'm new to k8s and for my tasks I have to use Fabric8. To do that I downloaded and added the .jar file to the eclipse IDE as a external .jar file but unfortunately, whenever I try to create a client I face with an issue like this:

[code]

What could be the reason behind of this? I tried to make some changes to the **"pom.xml"** file but nothing has changed. It's still giving

[2021-07-24 13:21] MUzairS15 commented on #3336
Can I try on this?

[2021-07-24 17:59] #3316 closed

[2021-07-26 03:24] KamalSinghKhanna commented on #3339
Hey is this issue still open I would like to give it a try.

[2021-07-26 05:52] rohanKanojia commented on #3339
@MUzairS15 : Are you still working on this? If not, can we assign this to @KamalSinghKhanna ?

[2021-07-26 05:54] rohanKanojia commented on #3336
Yes, sure. Here are the steps you need to follow in order to complete this:

1. Add ConversionReview in Kubernetes Model APIExtension generator:
   https://github.com/fabric8io/kubernetes-client/blob/9f0ce58d159d818a89ca0b330467fa57dd2b9c05/kubernetes-model-generator/kubernetes-model-apiextensions/cmd/generate/generate.go#L80
2. If you have golang installed run `make` to generate model.
3. Verify

[2021-07-26 07:31] manusa commented on #3315
Changing the ApiVersion of a provided type won't work in most cases.

Your best bet is to use a CustomResource or Raw types to achieve what you want.

[2021-07-26 07:55] manusa commented on #3352
You're missing some transitive dependencies.

Do you have a Maven project? have you tried adding the maven dependency (instead of adding a Jar package to your Eclipse IDE)?

[2021-07-26 08:16] emrealpogunc commented on #3352
That was exactly the problem. Just solved it mere minutes ago, thank you so much for your help!

[2021-07-26 08:16] #3352 closed

[2021-07-26 08:27] MUzairS15 commented on #3336
Pls assign me

[2021-07-26 09:41] manusa commented on #3350
Blocked on #3327

So I guess that what you are suggesting is that instead of returning xxxOperationsImpl in the method signatures we return a specific interface. The DSL will then be limited by the scope of these interfaces despite the underlying xxxOperationsImpl we use.

So the purpose of the issue is to implement interfaces that combine the required operations, right? I think this is a good imp

[2021-07-26 10:08] manusa commented on #3325
Fixed in #3348

[2021-07-26 10:08] #3325 closed

[2021-07-26 11:35] shawkins commented on #3350
Yes.  For example on the Handler utility class creating a NamespacedInOutCreateable would look like:

[code]

Of course you don't necessarily need these wrappers defined in Handlers.

[2021-07-26 12:47] aleboulanger opened #3353 "Serialization unmarshal: wrong resources limit parsing"
The values from the limits resources definition are double quoted even if I already put a quote on it

for example:
[code]

with the java client:

[code]

I will have values like

[code]

instead of

[code]

[2021-07-26 13:13] aleboulanger commented on #3353
don't have the issue with this kind of definition

[code]

[2021-07-27 03:37] CaseCy opened #3354 "How to describe node?"
I want to get the info about the reuquests and limits in node , in kubectl ,I use `kubectl describe node` , but I can not find in fabric8io

[2021-07-27 04:24] aadityasinha-dotcom commented on #3342
Is this issue open?

[2021-07-27 05:22] rohanKanojia commented on #3354
I think `kubectl` calculates it on its own by fetching data from APIServer. I saw a similar question on StackOverflow[0] a few months ago. Could you please check if this helps your use case?

[0] https://stackoverflow.com/questions/67673662/how-to-get-the-node-cpu-and-memory-value-using-java-io-fabric8-kubernetes-clie

[2021-07-27 05:26] MUzairS15 commented on #3339
ok, you can assign to @KamalSinghKhanna

[2021-07-27 05:29] rohanKanojia commented on #3339
When I wrote this comment yesterday, I didn't notice you already had a PR open https://github.com/fabric8io/kubernetes-client/pull/3351 . Do you think there is still more work to be done in scope of this issue which is not covered by your PR?

[2021-07-27 05:35] MUzairS15 commented on #3339
I don't think so, but I saw your comment so I thought there is something more to do that I am missing.
@KamalSinghKhanna you can go through #3351 and  https://sonarcloud.io/organizations/fabric8io/issues?resolved=false&rules=java%3AS1118 and check is there something more required.

[2021-07-27 05:39] rohanKanojia commented on #3339
I think you updated all files in your PR. I'll create some other good first issues.

[2021-07-27 06:56] CaseCy commented on #3354
thanks for that ，I am coding for a project that create job with limit cpu core , I need to know the node's requests and limits that remain to decide whether created automatically,the top way can get the usaged of node(it's real usage) ,but it can't help for commit job to k8s, I think I can only caculate it manually

[2021-07-27 09:31] #3339 closed

[2021-07-27 10:12] akram commented on #2982
@rohanKanojia what do we suggest for this then?
it seems that it is a configuration issue: We need to make users aware by documentation that the maximum number of resources that can be "Watched" using informers is limited by the maximum number of underlying conccurent requests of the client. So, it should be exposed in docs and maybe there should be a warning somewhere telling the user that the ma

[2021-07-27 13:53] rohanKanojia opened #3355 "Improve `io.fabric8.kubernetes.client.mock.ErrorMessageTest` to use assertThrows"
Right now ErrorMessageTest.testCustomMessage is written in a strange way.
- Instead of using `assertThrows` we're catching an exception.
- There is a custom `fail()` method that does nothing.
- We're not asserting anything, see sonar smell here[0]

https://github.com/fabric8io/kubernetes-client/blob/d1740ffeaa624bd63b6d929b25d764a477c1c17e/kubernetes-tests/src/test/java/io/fabric8/kubernetes/clien

[2021-07-27 13:58] rohanKanojia commented on #3339
@KamalSinghKhanna : Hi, I've created https://github.com/fabric8io/kubernetes-client/issues/3355 . Feel free to pick it up in case you're interested.

[2021-07-27 14:10] KamalSinghKhanna commented on #3355
/assign

[2021-07-27 14:21] rohanKanojia commented on #2982
Sounds good. We do have mention of this property in client configuration section[0] but I'm not sure if it's clear enough. Maybe we can add an FAQ about it..

Adding a warn/debug level message when number of concurrent connections approach maximum value also is very good idea.

[0] https://github.com/fabric8io/kubernetes-client#configuring-the-client

[2021-07-27 15:48] shawkins commented on #3349
After some discussion it seems preferred not to further complicate the context (with) methods.

Another option is to use methods similar to edit:

[code]

The options passed into the function will be populated already with values from the context.  Anything done to manipulate them further will be what is passed to the api call.  We can optionally consider using the signature:

[code]
Which would b

[2021-07-27 17:33] emrealpogunc opened #3356 "When I try to run my operator, nothing is happening."
Hello,
I'm having an issue right now and pretty much don't know the reason behind it So, you can find how it displays on my screen at the end of this message. Basically I tried to do everything exactly as how it seemed but unfortunately neither the pods get created nor I can see any changes whatsoever. I tried many things and yet nothing has changed. You can also find my **"pom.xml"** file down be

[2021-07-27 18:00] shawkins opened #3357 "Access all OperationsImpl through Handlers"
For consistency with #3327 we should move away from the direct usage of operationimpl constructors.

[2021-07-27 18:09] rohanKanojia commented on #3356
@emrealpogunc: Hi, a Kubernetes Operator usually reacts on a Custom Resource. Are you creating a CustomResource(PodSet) in this case(`kubectl apply -f src/main/resources/cr.yaml`? The expected behavior is:
1. User creates a PodSet
2. Operator detects a PodSet is created and it creates child pods with specified number of replicas

[2021-07-28 04:04] alfonzjanfrithz commented on #2904
This doesnt work very well. The reason why is because when there is an update of the deployment, the state of the conditions will be Available: True and Progressing: True.

So my solution now was adapted from the kubectl itself. https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/polymorphichelpers/rollout_status.go

[code]

[2021-07-28 09:20] manusa commented on #3300
https://github.com/fabric8io/kubernetes-client/blob/d1740ffeaa624bd63b6d929b25d764a477c1c17e/kubernetes-tests/src/test/java/io/fabric8/kubernetes/client/mock/WatchTest.java#L192

[2021-07-28 10:14] emrealpogunc commented on #3356
I've found the mistake! My "cr.yaml" file had a small issue (I'm the sole responsible of this issue) so I rewrote the whole "cr. yaml" file which was fairly short and now it's working perfectly! Thank you so much I'm really relieved now ^_^ Just got the notification, thank you once again!

[2021-07-28 10:14] #3356 closed

[2021-07-28 11:29] KamalSinghKhanna commented on #3355
so if I am not wrong, I have to change  this
`Assertions.assertThat(e.getMessage().startsWith("Failure executing: DELETE"));
   Assertions.assertThat(e.getMessage().contains("Message: MSG"));
   Assertions.assertThat(not(e.getMessage().contains("Received status"))); `
to this
`assertThat(k8sException.getMessage())
    .contains("Message: MSG")
    .startsWith("Failure executing: DELETE")
    .does

[2021-07-28 11:33] rohanKanojia commented on #3355
Yeah, you're right.

[2021-07-28 14:43] KamalSinghKhanna commented on #3355
You mean

`// When
  NonNamespaceOperation<Event, EventList, Resource<Event>> eventOp = client.v1().events().inNamespace("test");
  KubernetesClientException k8sException = assertThrows(KubernetesClientException.class, eventOp::delete);

  // Then
  assertThat(k8sException.getMessage())
    .contains("Message: MSG")
    .startsWith("Failure executing: DELETE")
    .doesNotContain("Received status"

[2021-07-28 14:49] rohanKanojia commented on #3355
Yeah, looks right :+1:

[2021-07-29 17:17] saurabrana opened #3360 "Issue while using client inside cluster with service account"
My application is running as a daemon set on the **windows node** in **EKS cluster**
Following is the client config :

                .withCaCertData(eksKubernetesCluster.getClusterCAData())
                .withMasterUrl(eksKubernetesCluster.getClusterEndpoint())
                .withApiVersion("v1")
                .withTrustCerts(true)
                .withOauthTokenProvider(eksKubernetesClust

[2021-07-29 17:39] metacosm commented on #3069
/remote status/stale

[2021-07-29 18:21] rohanKanojia commented on #3360
I think this is related to https://github.com/fabric8io/kubernetes-client/issues/3312 . We need to fix this.  We had added support for token refresh a few months ago. Our TokenRefreshInterceptor is not handling in-cluster case

https://github.com/fabric8io/kubernetes-client/blob/8d380a350231c7d26710b68f02731659418aa999/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/utils/TokenRefresh

[2021-07-29 18:30] saurabrana commented on #3360
@rohanKanojia  My Application works fine within cluster if I don't give any Service account.
In that case, I think k8s applies  the default service account.
I was wondering if this works with the default service then why is it not working with my service account.

![image](https://user-images.githubusercontent.com/77790151/127546182-0b172a2c-e734-4b15-aa39-b42efd32bddc.png)

Also is there any othe

[2021-07-30 12:11] ZviMints opened #3362 "Kubernetes Context reset to the default one"
Hey
I'm using `fabric8io` to create `k8sClient` as follows:
[code]
and then when I'm calling the following function:
[code]
I want to make sure that I'm operation only on the specific context if exists, any reason why its not happening? is that issue on `fabric8io` client?

[2021-07-30 15:05] manusa commented on #3300
_WIP_
I'm not able to force a local failure:
- Ran individual test >100 times continuously. :heavy_check_mark:

[2021-08-01 14:09] shawkins opened #3364 "resource and resourceList methods"
resource method offers quite a bit more logic stemming from NamespaceVisitFromServerGetWatchDeleteRecreateWaitApplicable over the regular HasMetadataOperation - deletingExisting, acceptVisitors, createOrReplaceAnd, the VisitFromServerWritable/CascadingDeletable interface, etc.

With the refactorings related to #3327 it would be straight-forward to express resource(item) as resources(item.getClass(

[2021-08-02 09:10] #3354 closed

[2021-08-02 13:49] metacosm opened #3366 "Let CRDGenerator API clients decide what should be output and how"
The CRD generation process currently automatically outputs information that might not be interesting to clients of the API and/or might interfere with their own logging. It would be better to provide the currently output information as part of the `detailedGenerate` method result so that clients can decide what should be output and how.

[2021-08-02 14:29] metacosm opened #3368 "Support `x-kubernetes-preserve-unknown-fields` for CRD generation"
See https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#controlling-pruning

Relates to java-operator-sdk/java-operator-sdk#458

[2021-08-02 19:03] lburgazzoli opened #3369 "Warning about split package"
Running on Quarkus 2.1, I've noticed the following warning:

[code]

It should be harmful but may be better to avoid split package

[2021-08-02 19:06] lburgazzoli opened #3370 "Type is mapped to a string to string mapping because of CRD schemas limitations"
I've noticed the following warning while building an operator using the java-operator-sdk:

[code]

I do not know where it comes from as the message does not report any information about the source of the issue.

[2021-08-02 21:55] metacosm opened #3371 "`CRDInfo` doesn't properly support multiple CR versions"
If you have multiple versions of a given CR, represented by different classes, one CRD is generated per CRD **spec** version but this CRD contains multiple versions. In this situation, the set of returned dependent classes is incorrect as the `ClassDependenciesVisitor` only records one CR class name per CRD name.

[2021-08-03 01:22] shawkins commented on #3364
The preliminary changes I have for this look like https://github.com/fabric8io/kubernetes-client/compare/master...shawkins:afteroptions?expand=1 - which are layered on #3365

The idea is that we can simplify a lot of logic if we can more universally rely on the OperationContext for manipulating the operation returned from a resource handler.  To do this I split apart the derived a context state fr

[2021-08-03 01:53] shawkins commented on #3364
@manusa @rohanKanojia a related question to this topic - currently the resources(Class) method returns the basic ResourceOperationsImpl, but resource/resourceList will use the registered operation if possible.  Should resources do the same?

[2021-08-03 06:14] rohanKanojia opened #3372 "Remove hardcoded check in schema generator to resolve types"
During JSONSchema2Pojo upgrade, generators were updated to generate two different kind of fields `javaType` and `existingJavaType`. Right now I see a hardcoded check to distinguish a type (whether it's `javaType`(to be generated) or `existingJavaType`(already existing)):

https://github.com/fabric8io/kubernetes-client/blob/fca47f8950f60617db32e66c70c59c34807ffb7d/generator/pkg/schemagen/generate.g

[2021-08-03 11:22] rohanKanojia commented on #3300
Maybe we can run this test only on linux/unix platforms?
[code]

[2021-08-03 14:17] manusa commented on #3300
I don't like this, but we'll probably need to do it.

[2021-08-03 14:39] #3349 closed

[2021-08-03 15:19] kenfinnigan opened #3374 "Generating default values for CRD"
When defining an Operator `Spec`, it would be super convenient to have a way to generate default values in the CRD for the fields in the `Spec`.

At present default values require hand modification to generated CRDs.

[2021-08-03 17:34] kenfinnigan opened #3376 "Why `ServiceMonitor` is only on OpenShiftClient"
`ServiceMonitor` is a valid Resource type in Kubernetes, so I wanted to ask why retrieving, creating, deleting, etc of a `ServiceMonitor` is only possible through the `OpenShiftClient` and not the `KubernetesClient`?

[2021-08-03 17:36] rohanKanojia commented on #3376
@kenfinnigan : I wasn't aware of this resource. Are you able to see `ServiceMonitor` in standard Kubernetes resources?
[code]

[2021-08-03 17:41] rohanKanojia commented on #3376
Related to https://github.com/fabric8io/kubernetes-client/issues/2740 https://github.com/fabric8io/kubernetes-client/issues/2915

[2021-08-03 18:35] kenfinnigan commented on #3376
Ah ok, see what you mean @rohanKanojia.

So you're correct that the `ServiceMonitor` resource is not part of vanilla Kubernetes at present.

However, it's also not OpenShift specific, which is where my head was with thinking about the separation. My understanding was `OpenShiftClient` was for OpenShift specific bits, as opposed to everything that isn't vanilla Kubernetes.

[2021-08-03 19:26] rohanKanojia commented on #3376
I think since OpenShift 4.x, OpenShift started coming with pre-installed operators. This ServiceMonitor[0] resource becomes available by prometheus-operator[1].

I checked with a fresh CRC installation and ServiceMonitor is available :
[code]

[0] https://docs.openshift.com/container-platform/4.4/rest_api/monitoring_apis/servicemonitor-monitoring-coreos-com-v1.html
[1] https://github.com/prometheu

[2021-08-03 19:30] kenfinnigan commented on #3376
Right, I guess my point is that `ServiceMonitor` might be by default available in OpenShift, but it's not specific to OpenShift. I can install the Prometheus operator in vanilla Kubernetes and the `ServiceMonitor` is available.

Fine with closing if this is how it needs to be, it just seemed odd to have non OpenShift specific APIs only available in `OpenShiftClient`

[2021-08-03 19:36] rohanKanojia commented on #3376
I think you should still be able to use `ServiceMonitor` using KuberntesClient customResource DSL methods. There is also an option to use dynamic client (GenericKubernetesResource) for this as well.

https://github.com/fabric8io/kubernetes-client/blob/master/doc/CHEATSHEET.md#customresource-typed-api
https://github.com/fabric8io/kubernetes-client/blob/master/doc/CHEATSHEET.md#customresource-typele

[2021-08-04 01:52] shawkins opened #3378 "resources should return the registered operation when possible"
The implementation of resources/customResources after #3327 is to return a general ResourceOperationsImpl.   This should instead provide the registered operation if possible.

[2021-08-04 08:15] #3366 closed

[2021-08-04 08:15] #3371 closed

[2021-08-04 09:42] #3350 closed

[2021-08-04 10:03] #3342 closed

[2021-08-04 12:49] lburgazzoli opened #3379 "http 415 when patching the status of an un-typed resource"
in my integration tests (against the k8s mock web server), I have to update the status of an unstructured object, so I'm doing something like:

[code]

this was working on fabric8 client 5.4.x (with a different dsl) but now, I'm getting HTTP 415
And a message that says:

[code]

[2021-08-04 12:55] #3372 closed

[2021-08-04 12:58] shawkins commented on #3379
To avoid a deprecated method call the RawCustomResourceOperationsImpl updateStatus method is now calling patchStatus - but that defaults to a json merge patch, which is not yet supported by the mock logic.  The RawCustomResourceOperationsImpl should probably go back to calling the deprecated updateStatus method.

[2021-08-04 13:00] lburgazzoli commented on #3379
@shawkins thx for digging into it, is there a workaround for this ?

[2021-08-04 13:03] shawkins commented on #3379
Not through RawCustomResourceOperationsImpl and the mock server, no.  The genericKubernetesResource will work and it also exposes the newer patch methods.

[2021-08-04 13:30] lburgazzoli commented on #3379
@shawkins that's great so yes, using `genericKubernetesResource` works.

[2021-08-04 16:02] ovolynets commented on #2632
Hello community!

I would also be interested in either upgrading okhttp or the migration to Vert.x - whatever is decided upon. Reason: [CVE-2021-0341](https://nvd.nist.gov/vuln/detail/CVE-2021-0341#VulnChangeHistorySection) reported by NexusIQ in okhttp in versions prior to 4.9.1, see https://github.com/square/okhttp/issues/6724 for details.

The upgrade of okhttp to `4.9.1` or the most recent `5.

[2021-08-04 16:59] rohanKanojia commented on #2647
@shawkins : Could you please share your thoughts on this? Do you think it's a good idea?

[2021-08-04 18:32] yschimke commented on #2632
@ovolynets the CVE isn't exploitable unless you take the HostnameVerifier from OkHttp and use it for other purposes.  Unless you are doing something like that which would be really strange, it isn't exploitable at all.

[2021-08-04 19:29] kenfinnigan commented on #3376
Thanks for the links @rohanKanojia.

Happy for this to be closed

[2021-08-04 19:29] #3376 closed

[2021-08-04 19:32] rohanKanojia commented on #3376
@kenfinnigan : Do you think providing a Fabric8 Prometheus extension for all resources in `monitoring.coreos.com` apiGroup makes sense? (#2915) . We already have extensions for Knative, Tekton, Service Catalog, CertManager etc.

[2021-08-04 19:34] kenfinnigan commented on #3376
If there's already groups for other non vanilla Kubernetes bits, it probably makes sense to have one for Prometheus as it's a common piece now

[2021-08-05 00:25] cstaykov commented on #2526
How come the logs using okhttp logging-interceptor do not follow the same logging configuration as logs from the kubernetes-client itself?

For example, In this comment https://github.com/fabric8io/kubernetes-client/issues/2526#issuecomment-706910918, the first two logs follow the intended pattern of:
[code]
But then all the okhttp logs don't follow `[main] DEBUG <classname> - <log>` but instead h

[2021-08-05 03:13] rohanKanojia commented on #3338
Kubernetes 1.22 got released last night. We should prioritise deprecating these methods so that we can get this in v5.7.0

[2021-08-05 03:18] rohanKanojia commented on #3338
@jorsol : sorry, i didn't see your comment. Right now our model seems to reflect a specific version of kubernetes.

If we don't want to deprecate we may need to split java and go modules to maintain different versions.

[2021-08-05 04:55] joyliu329 commented on #2171
any news for :

11.26.98.32
1628138594
logback
__tag__:__client_ip__:106.11.218.18
level:ERROR
location:io.fabric8.kubernetes.client.dsl.internal.AbstractWatchManager.onMessage(AbstractWatchManager.java:256)
message:Invalid event type
thread:OkHttp https://11.186.78.31:6443/...
throwable:java.lang.IllegalArgumentException: No enum constant io.fabric8.kubernetes.client.Watcher.Action.BOOKMARK
	at j

[2021-08-05 05:01] rohanKanojia commented on #2526
I'm not sure how to change the format for okhttp logs. Do you think there is some configuration option in HttpLoggingInterceptor[0] to tweak network log output?

[0] https://square.github.io/okhttp/4.x/okhttp-logging-interceptor/okhttp3.logging/-http-logging-interceptor/

[2021-08-05 05:03] rohanKanojia commented on #2171
Sorry, we haven't been able to deliver it in the previous sprint due to some other priorities. We'll be happy to integrate a PR for this in case anyone is interested.

[2021-08-05 08:12] jorsol commented on #3338
Yes, that's what I thought, but in that case, the compatibility matrix might not be valid: https://github.com/fabric8io/kubernetes-client#kubernetes-compatibility-matrix

Yet, if deprecating doesn't mean removal, it may be ok, as I said, it's a chicken-egg problem, `kubectl` and k8s components handle this by following a [Version Skew Policy](https://kubernetes.io/releases/version-skew-policy/) of

[2021-08-05 09:58] #2670 closed

[2021-08-05 15:36] shawkins commented on #3364
The current pr preserves the functionality of NamespaceVisit... classes.  As for the api the dfferences with other logic:

- they default to the item namespace.   If you specify withNamespace it overrides the item.  This is different than the other dsl handling of the namespace.  Could this be made more uniform?

- they support createOrReplaceAnd, deletingExisting, apply (which is deprecated), and

[2021-08-05 17:01] laxmikantbpandhare commented on #2171
assign - @laxmikantbpandhare

[2021-08-05 17:13] rohanKanojia commented on #2171
I think we need to add BOOKMARK field to this enum to get rid of this IllegalArgumentException:
https://github.com/fabric8io/kubernetes-client/blob/7e747ca61c0097562622eb53b9f008cc6d5e82fb/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Watcher.java#L46-L48

We also need to check if the current implementation supports allowing watch bookmarks via `watch(ListOptions, Watcher<T>)` imple

[2021-08-06 08:07] gentaliti opened #3381 "Exec failure due to timeout"
I am getting TimeoutException while trying to run a command with exec into Pod. This is only happening for a few moments per day but it is causing some of our jobs to fail. I still wasn't able to reproduce it.

Also I am getting these logs whenever the timeout is happening (while running exec):

[code]

Are timeouts related to this stacktrace? What may be causing this timeout?

EDIT: it is importa

[2021-08-06 08:14] rohanKanojia commented on #3381
@gentaliti : strange, Could you please review our exec implementation[0] and see what could be causing this issue?

https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/core/v1/PodOperationsImpl.java#L321

[2021-08-06 09:24] gentaliti commented on #3381
Looks like this is related to Kubernetes and not to the client. It is happening while nodes are scaling up/down even though these nodes are not the ones on which the pod is. It seems that scaling is affecting communication between existing nodes and api-server.

See:
https://issuetracker.google.com/issues/156556218
https://issuetracker.google.com/issues/174499379

Closing this as is not related to

[2021-08-06 09:25] #3381 closed

[2021-08-06 09:48] blockjon opened #3382 "Why does this library hang my program when used in a kotlin coroutine? (Newbie kotlin question)"
I'm learning kotlin and I've created a coroutine that creates a kuberntes pod with fabric8io/kubernetes-client. In my coroutine, I have logic that uses this call:

[code]

The good news is that the kuberntes pod does get created.

For some reason I do not fully understand, something about that line causes my program to ultimately hang. My program does not exit normally. I think it might be hanging

[2021-08-06 15:26] gdauchet opened #3383 "updateStatus() to no longer work as with mock server in CRUD mode"
updateStatus() to no longer work as with mock server in CRUD mode as it generates a JSON_MERGE_PATCH patch type which is not handled

[2021-08-06 16:12] ttbadr opened #3384 "throw NPE when copy file from pod to local"
I got an NPE when I try to copy a file from pod to local, here is my code:
[code]

exception:
[code]

fabric8 version is 5.6.0

**Update:**
I tried it again use the same params, I found that the file copied from the pod successfully, but I still got the same NPE

[2021-08-06 16:49] rohanKanojia commented on #3384
Are valid values being passed to `dir()` and  `copy` methods? Do you have some simple reproducer project which we can use?

[2021-08-06 16:56] shawkins commented on #3383
This is a duplicate of #3379

[2021-08-06 17:10] shawkins commented on #3384
If it's possible that there can be no in nor inputPipe, then this npe could occur - the old code wasn't doing an explicit null check before starting the pumper, so there's not one in the new code.  This is simply logged, not actually thrown, correct?  I'm guessing it was swallowed before.

[2021-08-06 17:41] shawkins opened #3386 "deprecate KubernetesClient.customResource"
Given the support for genericKubernetesResources, customResources should now be deprecated.

[2021-08-07 03:30] ttbadr commented on #3384
the values are valid I confirmed

[2021-08-07 03:39] ttbadr commented on #3384
**Update:**
I tried it again use the same params, I found that the file copied from the pod successfully, but I still got the same NPE

[2021-08-07 14:25] shawkins commented on #3364
On the namespacing I would eventually expect resource(item) to return an interface that extends Namespaceable<Resource<T>> and Resource<T> - that would require a minimal amount of logic to handle the explicit namespacing.

I've updated the pr with the initially proposed deprecations.

However VisitFromServerGetWatchDeleteRecreateWaitApplicable cannot implement Resource yet due to conflicts with Dr

[2021-08-09 11:56] armisz opened #3389 "Watching Pod resources ignores label filters"
Hi,
Starting with Kubernetes client version 5.5.0 watching Pods ignores the labels set as filter.

My code is:
[code]

The produced logs reveal that the filter set is not considered when building the request:
[code]

In fact, I receive all pods in my namespace, not only the ones having the label set. For some reason using filters work for watching ConfigSets and Secrets, only watching Pods seem to

[2021-08-09 12:11] rohanKanojia commented on #3389
Could this be a regression due to https://github.com/fabric8io/kubernetes-client/issues/3275 ? Are you able to filter using the new `.withNewFilter().withoutLabels(labels).endFilter()` DSL method?

[2021-08-09 12:18] shawkins commented on #3389
This is not a regression.  It was a correction to the behavior of the api.  pods.withLabels(labels); - should not modify the current context, it returns a new one - pods = pods.withLabels(labels);

[2021-08-09 12:22] #3383 closed

[2021-08-09 12:22] gdauchet commented on #3383
Clsoed as duplicate to 3379

[2021-08-09 12:30] gdauchet commented on #3379
I have a question in https://github.com/fabric8io/kubernetes-client/pull/3385 you commented that it would be better to go back to the deprecated method but my PR is trying to support json merge patch in the mock, is not it the good solution ?

[2021-08-09 12:34] shawkins commented on #2647
@rohanKanojia I've added editable to resource(HasMetadata) in #3364 - the intention would be to eventually make that return a Resource, which would be patchable as well.  I haven't yet added that for resourceList, but it could certainly be done as well.  Alternatively you can now do things more generically using the resources method:

[code]

[2021-08-09 12:35] shawkins commented on #3379
As mentioned on the pr it's more like a separate enhancement, not a specific fix for this issue.  patchStatus is sementically different than updateStatus, so the direct fix is change the raw calls back to updateStatus.

[2021-08-09 12:51] gdauchet commented on #3379
Oki thanks so I will create an issue about supporting json merge patch in the mock and do a corresponding issue. And it will also solve this one

[2021-08-09 13:03] gdauchet opened #3390 "Make the mock supports json merge patch"

[2021-08-09 13:21] maxwellknoxx commented on #3116
Hi,

I would like to know if the snippet above also works for upload a file to a Persistent Volume.

Thanks

[2021-08-09 13:23] armisz commented on #3389
Thanks for the heads up. But why does it work for Secrets and ConfigMaps?

[2021-08-09 13:35] shawkins commented on #3389
It shouldn't.

[2021-08-09 14:09] armisz commented on #3389
Just for the record: For some reason it does, I have logs for it.

I have now adopted my code to the proposed ` xyz = xyz.withLabels(labels)` pattern. Works fine, thx again!

[2021-08-09 14:21] shawkins commented on #3389
If you get a chance, please review the other scenarios - it's the same code path for Pods, Secrets, and ConfigMaps - so it would be surprising if they have different behavior.

[2021-08-09 16:13] arturk9 opened #3392 "NullPointerException for CustomResource - (missing default handler for GenericKubernetesResource)"
Hello!

I would like to ask you if it would be possible to implement default handler for GenericKubernetesResource?

For example, resource [:](https://www.consul.io/docs/connect/config-entries/service-defaults)

`
apiVersion: consul.hashicorp.com/v1alpha1
kind: ServiceDefaults
metadata:
  name: web
spec:
  protocol: http
`

when loaded by:

`
var contentsInputStream = MethodHandles.lookup().lookup

[2021-08-09 17:56] shawkins commented on #3392
The NPE has been replaced with a KubernetesClientException.  I don't think you can do this generically as the item does not provide if it's namespaced nor what the plural is.

Try instead:
kubernetesClient.genericKubernetesResource(context).load(stream)

[2021-08-10 05:21] manusa commented on #3386
I'm not sure I would fully agree on this one in case it refers to the class `CustomResource` and **not** the method [`KubernetesClient#customResources`](https://github.com/fabric8io/kubernetes-client/blob/8d380a350231c7d26710b68f02731659418aa999/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/KubernetesClient.java#L116). (I recall having discussed this elsewhere, but I can't find the

[2021-08-10 06:37] stupid-yu commented on #3116
may be it works for pod mount that volume，cause the api works for pod

[2021-08-10 07:06] #3077 closed

[2021-08-10 07:12] manusa commented on #3392
Being able to do this is part of the Generic Resource next steps and should be possible after implementing:
- #3294
- #3303
- https://github.com/fabric8io/kubernetes-client/issues/3294#issuecomment-874002876

So for those (valid) resources for which we don't have enough information to interact with the API server, we could perform (and cache) a request to the ApiGroupList and ApiResourceList endpo

[2021-08-10 07:47] manusa commented on #3382
Could you provide a reproducible example?

Where is the client created? OkHttp has a thread pool that is shutdown whenever the client is [closed](https://github.com/fabric8io/kubernetes-client/blob/750faafb50506c1d444409958dec0aca8407dd5c/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/BaseClient.java#L72). This process might take some time to complete.

[2021-08-10 10:21] BertrandNOEL opened #3394 "Informer watching not-existing CRD does not fail, and does not receive event after it has been created"
Hello,

I am using Informer to watch CRD creation/update/deletion.
If I start the Informer before creating the CRD, the informer starts correctly, but when I create the CRD, the informer does not receive any event
I would expect: either get an error or warning if the informer starts and does not find the CRD. Or that it would be able to pick the CRD creation

## Context
kubernetes-client version 5

[2021-08-10 12:19] shawkins commented on #3386
Sorry, I wasn't specific - KubernetesClient.customResource https://github.com/fabric8io/kubernetes-client/blob/47efc3d7fa473cc2cbe40fe689fe368d4983e18d/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/KubernetesClient.java#L260 is not yet deprecated, it's what I'm referring to here.

[2021-08-10 12:22] shawkins commented on #3392
There is a placeholder method for that in Handlers https://github.com/fabric8io/kubernetes-client/blob/8d380a350231c7d26710b68f02731659418aa999/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Handlers.java#L49 which can eventually be expanded to support this.  For now passing in the context is the only option.

[2021-08-10 12:29] manusa commented on #3386
There's a subtle difference with RawCustomResourceX and GenericKubernetesResource. I'm all in for deprecating, but I would wait for feedback before completely removing it.

[2021-08-10 12:37] #3075 closed

[2021-08-10 12:37] #3043 closed

[2021-08-10 12:37] #3042 closed

[2021-08-10 12:47] shawkins commented on #3394
Due to the async nature of start all, you are supposed to register a listener to receive errors on start.  This has been refined a bit upstream to log the exception even if you haven't registered a listener https://github.com/fabric8io/kubernetes-client/blob/dcbd7dcb0d9a9e38f48099b0db8abcb198da4d29/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/informers/SharedInformerFactory.java#L3

[2021-08-10 12:59] manusa commented on #3338
Personally I believe that as long as we can we should provide full backwards compatibility, given the versioned nature of the Kubernetes HTTP API, it should be possible.
However, since we have this Go->JsonSchema->Java->APTprocessedJava process, it might be hard to keep compatibility with every resource. Also our current module organization doesn't help much in that area.
So, as long as it's not v

[2021-08-10 14:14] BertrandNOEL commented on #3394
Thanks! Both ways work

It was in the example, but I missed it
https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/CustomResourceInformerExample.java#L60

[2021-08-10 14:14] #3394 closed

[2021-08-10 14:36] manusa commented on #2670
This should already be possible right?

[2021-08-10 17:41] shawkins commented on #3364
@manusa I've now tried to take what I was describing above to completion - and it won't work the way I'd like.  It would need to also be invasive the other direction into things like EditReplacePatchDeletable, so I think the current set of deprecations is as much as I would do for now.  The only open question would be whether to update the change log to warn resource(item) and resourceList(item) w

[2021-08-10 17:44] shawkins commented on #2670
That is now possible as client.resources(MyCustomResource.class) - it will look at the Group, Version, and Plural annotations, and if it implements Namespaced.

[2021-08-11 05:53] rohanKanojia opened #3396 "Add Integration tests for Admission and Conversion Controllers written using KubernetesClient"
As suggested by @jorsol in https://github.com/fabric8io/kubernetes-client/pull/3363#issuecomment-892806386 , We should test admission and conversion webhooks written using Fabric8 Kubernetes Client. I'm not sure if anyone has done it yet in Java. We need to check if a user is able to write an admission controller using Fabric8 Kubernetes Client. You can check Kubernetes documentation[0] on how to

[2021-08-11 05:55] manusa commented on #3336
There's no clear path to use these new types from [CustomResourceDefinitionSpec#conversion](https://github.com/fabric8io/kubernetes-client/blob/13387c759e7144d0c879b0903442a572ad54b030/kubernetes-model-generator/kubernetes-model-apiextensions/src/generated/java/io/fabric8/kubernetes/api/model/apiextensions/v1/CustomResourceDefinitionSpec.java#L60) ->
[CustomResourceConversion#webhook](https://gith

[2021-08-11 05:56] #3336 closed

[2021-08-11 05:59] manusa commented on #3396
Relates to: #3388, https://github.com/fabric8io/kubernetes-client/issues/3336#issuecomment-896523954

[2021-08-11 06:06] rohanKanojia commented on #3336
Conversion webhooks for CRDs are launched in the cluster and put behind a Service object, and that service object is referenced by the conversion webhook specification in the CRD manifest.

I don't have any concrete example. I found this by a quick search on web(written using client-go): https://github.com/madorn/crd-conversion-webhook

[2021-08-11 06:32] #3364 closed

[2021-08-11 06:33] #3378 closed

[2021-08-11 06:50] carlosgodoytrapero commented on #3234
Hi again,
I will have fewer busy weeks on the second/third week of September.
Many thanks for your patience.
Carlos G.

[2021-08-11 08:53] manusa commented on #3364
If I'm getting this right, the "will evolve" statement is just a speculation as of now. Since there are going to be more breaking changes and we don't have a clear time-frame, I don't thing that sending an uncertain warning is a very good idea, IMHO.

[2021-08-11 14:36] #2516 closed

[2021-08-11 15:40] shawkins commented on #3294
I could take this for 5.8.  ApiGroup is not annotated appropriately, so it will just take a couple of other changes to expose it via the dsl.

[2021-08-11 15:49] manusa commented on #3294
Take into account that this is not really a resource, just an additional HTTP endpoint exposed by Kubernetes.

So not the same operations that apply to the rest of resources apply for this. It makes sense in the scope of an API group (e.g. client.apps() or client.network()).

So if API groups and versions could be interfaced appropriately should be easy.

[2021-08-11 16:37] shawkins commented on #3294
Sure, I was initially thinking that it would be something like getting a handler for the ApiGroup / ApiGroupList and exposing only the list operation.  But looking at it more, that doesn't work so well with the expectations in base operation.  It would be simpler to move the isAdaptable logic into a
ApiGroupLIst KubernetesClient.getApiGroups() method.  and/or support getting a single one as well.

[2021-08-11 19:43] shawkins opened #3398 "wait logic on RollableScalableResource<Deployment>"
If I do something like:

[code]

The second wait is only checking the replicas, not the available/unavailable replicas.  Is that by design - such that I need to also do deployment.waitUntilReady or should that be handled in the scale call?

[2021-08-12 05:31] manusa commented on #3294
Yes, so basically we are looking at what was exposed in my [comment](https://github.com/fabric8io/kubernetes-client/issues/3294#issuecomment-874002876), get a list of the available groups and then for each group, be able to retrieve the available resources with their required info (plural, scope, etc.)

These new methods can be then used by the GenericResource loader to perform operations on **any

[2021-08-12 10:07] #2988 closed

[2021-08-12 10:27] manusa commented on #3379
Fixed by #3395

[2021-08-12 10:27] #3379 closed

[2021-08-12 10:27] manusa commented on #3386
Fixed by #3395

[2021-08-12 10:27] #3386 closed

[2021-08-12 16:11] kumarav1nash commented on #3162
@rohanKanojia is this issue still open, can I work on this?

[2021-08-12 16:23] rohanKanojia commented on #3162
@kumarav1nash : Sorry, this issue seems to have been fixed but not updated. Is it okay if create some new good first issue?

[2021-08-12 16:36] kumarav1nash commented on #3162
yeah sure, that would be great help :)

[2021-08-12 16:58] rohanKanojia opened #3399 "Use format specifiers for Slf4j logger instead of String concatenation wherever possible"
We have some places in code where we're using string concatenation in logging statements. For example here:

https://github.com/fabric8io/kubernetes-client/blob/7d20990da82829dfbc62f9023e2e9ec4541b280d/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Config.java#L475

Instead of string concatenation, we should use format specifiers instead:
[code]
This is reported as a code smell[0] by

[2021-08-12 16:58] rohanKanojia commented on #3162
@kumarav1nash : I've created https://github.com/fabric8io/kubernetes-client/issues/3399 . Please review it and add a comment if you're interested.

[2021-08-12 17:09] rohanKanojia opened #3400 "Replace C-style array declaration with Java-style array declaration across codebase"
We have a few places in code with C-Style array declaration:

https://github.com/fabric8io/kubernetes-client/blob/7d20990da82829dfbc62f9023e2e9ec4541b280d/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/KubernetesVersionExample.java#L26

This is reported as a code smell by sonar. This should be updated to Java-style array declarations for better readability:
[code]

You can read m

[2021-08-12 17:15] rohanKanojia opened #3401 "AbstractCustomResourceHandler: Replace lambda with a method reference."
We have this lambda in AbstractCustomResourceHandler:
https://github.com/fabric8io/kubernetes-client/blob/7d20990da82829dfbc62f9023e2e9ec4541b280d/crd-generator/api/src/main/java/io/fabric8/crd/generator/AbstractCustomResourceHandler.java#L74-L78
This can be updated to use method reference instead for better readability:
[code]

[2021-08-12 17:32] shayaan-absar commented on #3400
@rohanKanojia
Hi, I'm new to opensource and would like to contribute if that's okay.

[2021-08-12 18:12] shayaan-absar commented on #3400
@rohanKanojia
Hi, I'm new to opensource and would like to contribute.

[2021-08-12 18:49] kumarav1nash commented on #3399
@rohanKanojia you can assign this issue to me, I will work on this issue.

[2021-08-12 18:49] shayaan-absar commented on #3400
@rohanKanojia Which one do I select for type of change?

[2021-08-12 19:05] rohanKanojia commented on #3400
@shayaan-absar : Sorry, I don't understand. Could you please elaborate your question?

[2021-08-12 19:07] shayaan-absar commented on #3400
@rohanKanojia When I am opening a pull a request it asks me to select a 'type of change' e.g. Bug fix, feature. I am unsure which one to select.

[2021-08-12 19:09] rohanKanojia commented on #3400
Umm, this usually counts as a cleanup task. Maybe you can leave box unchecked and check chore box.

[2021-08-12 23:53] param-thakker commented on #3401
Hi @rohanKanojia, can you please assign this to me? I would love to work on it!

[2021-08-12 23:56] param-thakker commented on #3399
@rohanKanojia is this still open to work?

[2021-08-13 07:28] kumarav1nash commented on #3399
@param-thakker I'm working on this

[2021-08-13 10:25] lburgazzoli opened #3404 "generic kubernetes resource improvements"
To make it easy to deal with generic kubernetes resources, it would be nice to have:
- support for HasMetadata resources out of the box
- support for automatic creation of the related ResourceDefinitionContext

As today to implement such logic, I have the following utility method in place:

[code]

It would be nice to be able to do something like:

[code]

[2021-08-13 10:44] shawkins commented on #3404
If your HasMetadata is properly annotated you can now do:

[code]

Or

[code]

The latter one though is a slightly different set of apis, which I'm trying to align with Resource.

[2021-08-13 10:52] lburgazzoli commented on #3404
Does this work also if the HasMetadata is an instance of GenericKubernetesResource ?

[2021-08-13 11:15] shawkins commented on #3404
With just the base type, no.  The longer answer is that it's eventually possible for kubernetesClient.resource(resource) to use the resource to get the groupVersion and lookup the additional metadata if needed.  I was going to try and start that with #3294

[2021-08-14 11:15] shayaan-absar commented on #3400
@rohanKanojia I've finished the pull request. Is there anything else I need to do?

[2021-08-14 14:51] rohanKanojia commented on #3400
@shayaan-absar : No, it just needs to be reviewed and merged.

[2021-08-14 17:44] shawkins commented on #3357
Resolve via #3387

[2021-08-14 17:44] #3357 closed

[2021-08-14 17:58] shawkins commented on #3184
Even with the openshift MockServer, it will not pass the isAdaptable check.  The only workaround currently is not use isAdaptable/adapt and start off with an OpenShiftClient.  It may be good to address in some way with changes related to #3294

[2021-08-16 06:28] lburgazzoli commented on #3069
@metacosm @iocanel this is how it is implemented din strimzi: https://github.com/strimzi/strimzi-kafka-operator/blob/a89f9b466a79b36d49b6b7fcdd120ad9b1c6cec4/api/src/main/java/io/strimzi/api/kafka/model/KafkaConnector.java#L53-L78

[2021-08-16 11:06] pananqi opened #3406 "How to approve csr?"
Hi,

May I know how to approve/reject the CertificateSigningRequest?
FYI, I was able to create the CSR with the sample below
https://github.com/fabric8io/kubernetes-client/blob/master/doc/CHEATSHEET.md#certificatesigningrequest

But I didn't find any api that implements 'kubectl certificate approve <certificate-signing-request-name>',
appreciate your advice on this, thank you.

Regards,
TK

[2021-08-16 11:17] rohanKanojia commented on #3406
Looks like for`kubectl certificate approve` client hits an additional subresource endpoint:
[code]
We don't seem to support this `/approval` endpoint. I see this updates the status of CSR:
[code]

Does it work when you try to update status using `updateStatus()` call?

[2021-08-16 11:44] pananqi commented on #3406
I tried to use updateStatus() call, but it didn’t work, the content under status was automatically cleared

[2021-08-16 12:10] rohanKanojia commented on #3406
@pananqi : ohk, I see. We need to add support for `approve()/deny()` DSL methods. Do you think it would be possible for you to contribute a PR to add support for these :pray: ?

[2021-08-16 13:05] shawkins opened #3407 "design of resource and resourceList methods"
After #3364 the implementation logic for these methods aligns well with everything else.  However they are still not aligned completely with the rest of the api.

There are several possibilities:
1. Deprecate the methods fully.  Advise users to use resources instead:

[code]
Would be
[code]
The interface for resourceList would be minimized to just a handful of operations, as any operation could be

[2021-08-17 08:10] ttbadr opened #3408 "upload file throw exception when file name contains special char"
when I upload a file with a special file name, it will throw exception.
the file name is `001_special_!@#\$^&(.mp4`

I do some research, in the `PodUpload.uploadFile`:
[code]
I think the `file` should be escaped for special char with commons-text `StringEscapeUtils::escapeXSI`

[2021-08-17 09:01] rohanKanojia commented on #3408
@ttbadr : Thanks for your bug report. Would you like to submit a PR to fix this?

[2021-08-17 09:52] ttbadr commented on #3408
@rohanKanojia OK

[2021-08-17 12:41] aadityasinha-dotcom commented on #3401
Is this issue open?
@rohanKanojia Can I work on this issue?

[2021-08-17 14:08] cstaykov commented on #3364
The CHEATSHEET still has the following entry:
### Resource API
- Create And Wait until resource is ready:
[code]
However, `createOrReplaceAnd()` is now deprecated. Can you provide an alternative usage that mimics the command above?

[2021-08-17 15:07] rohanKanojia commented on #3364
I think you should be able to do it by using intermediate variables as stated in javadoc:
[code]

[2021-08-17 16:00] cstaykov commented on #3364
Thanks.

What is the difference between
[code]
and
[code]

[2021-08-18 07:24] #2762 closed

[2021-08-18 16:21] wind57 commented on #3145
90 days and that PR has not been reviewed :| is there a way for me to accelerate that? @rohanKanojia

[2021-08-18 19:20] rohanKanojia commented on #3145
@wind57 : I'm really sorry for the delayed response :pray: . I really shouldn't have asked you to create PR straight-away before reviewing [CoreTest](https://github.com/spring-cloud/spring-cloud-kubernetes/blob/main/spring-cloud-kubernetes-fabric8-config/src/test/java/org/springframework/cloud/kubernetes/fabric8/config/CoreTest.java).

I had a discussion with Marc about your PR at the time after P

[2021-08-18 19:24] wind57 commented on #3145
no worries at all! literally. I will get some time next week and will get back to you - as long this moves forward, I am good. thank you for getting back to me.

[2021-08-19 08:03] metacosm commented on #2807
@iocanel is this still relevant with the latest sundrio changes?

[2021-08-19 10:41] ppatierno opened #3411 "Allow to specify POJO enum values for the corresponding generated CRD enum"
When a POJO contains an enum, I would like to serialize it into the corresponding CRD with a specific name instead of the field one.
For example, if an enum is defined this way:

[code]

The corresponding CRD will be the following:

[code]

while I would like to have:

[code]

or anyway any other name (i.e. if for any crazy reason I want `Foo` to be `aaa` in the CRD).
I tried the `JsonProperty("fo

[2021-08-19 12:10] cassar1 commented on #3312
Any updates on this please? I have a similar problem, and cannot use kube config file as I have an application with multiple client instances interacting with different kubernetes cluster in a multi tenant way. The kubernetes parameters are being obtained dynamically.

[2021-08-20 09:22] Sgitario opened #3413 "Unable to get resources from `Handlers.get(kind, apiVersion)`"
Before `fabric8:kubernetes-client:5.7.0`, we were getting some useful information doing:

[code]

More info in: https://github.com/quarkus-qe/quarkus-openshift-test-suite/blob/03313df3b33a2b4e0f1b2725bd207ec5a6414cc2/common/src/main/java/io/quarkus/ts/openshift/common/util/AwaitUtil.java#L72

After 5.7.0, as part of this PR: https://github.com/fabric8io/kubernetes-client/pull/3327, this is no long

[2021-08-20 10:29] ahus1 opened #3414 "CustomResource should implement equals/hashCode to enable child classes to implement it as well"
The current implementation of CustomResource doesn't implement equals/hashCode. Due to this it is difficult to implement classes that support equals/hashCode like all other built-in resource classes like for example Ingress.

Given the following code:

[code]

the "equals()" method will always return "false", as CustomResource doesn't implement "equals()". Instead the "equals()" implementation of

[2021-08-20 11:58] shawkins commented on #3413
You are looking for cases where the api version of the resource doesn't match the handler?

The handlers are all class based, you can use HasMetadata.getApiVersion(clazz) to know what the api version is expected to be.

Under what circumstances were things not matching?

[2021-08-20 12:11] shawkins commented on #3364
The difference currently is in the namespace handling.

client.resource(pod1).createOrReplace() - will assume that the resource should be created in the namespace specified on the resource.  While the other assumes that it is the namespace associated with the context.

[2021-08-20 15:03] ps-19 commented on #3400
Is this issue resolved?

[2021-08-20 15:11] ps-19 commented on #3401
is this issue resolved?

[2021-08-20 16:30] aadityasinha-dotcom commented on #3401
@ps-19 I am working on it right now.

[2021-08-20 17:02] ps-19 commented on #3401
I'm always ready to help you. Feel free to ask.

On Fri, 20 Aug 2021 22:00 Aaditya Sinha, ***@***.***> wrote:

[2021-08-20 17:03] aadityasinha-dotcom commented on #3401
Sure!!

[2021-08-22 08:20] #3117 closed

[2021-08-23 07:26] benediktwetzel opened #3419 "load deplyoment adds additional `additionalProperties` field"
I am trying to load a deployment from a JSON string via the fabric8 Kubernetes client.

[code]

The result is almost unchanged, but the loaded resource nests the `additionalProperties` further. For example, if the `additionalProperties` field is empty, the loaded resource has the following field: `additionalProperties={additionalProperties={}}`. I  expect this: `additionalProperties={}`.

The full

[2021-08-23 10:19] DimoDonchev opened #3420 "createOrReplace is used as a replacement for apply, but does not work when replacing"
Should createOrReplace work similar to kubectl apply or kubectl create?

When i try to modify a service with createOrReplace which already exists i get an error:
Message: Service "gateway-external" is invalid: spec.ports[0].nodePort: Invalid value: 32005: provided port is already allocated.
This is the exact same output when I use kubectl create.
Is it possible to simulate kubectl apply via code w

[2021-08-23 10:24] rohanKanojia commented on #3420
Relates to #2454 https://github.com/fabric8io/kubernetes-client/issues/3334

[2021-08-25 00:00] #2963 closed

[2021-08-25 12:31] gy09535 opened #3425 "help: resize method can not work in my project"
Base  issue https://github.com/fabric8io/kubernetes-client/issues/1374 .I use the resize  method to change my channel size ,but  it dose not work.
As I check the  kubenetes code on https://github.com/fabric8io/kubernetes-client/pull/1533 , I find the link of kubenetes code is missing(https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/remotecommand/websocket.go).
I confused is

[2021-08-27 16:43] rnorth opened #3429 "Additional ConcurrentModificationException in KubernetesCrudDispatcher"
Similar to #2592

We've observed another `ConcurrentModificationException` coming out of `KubernetesCrudDispatcher`, this time coming out of the `handleWatch` method. Specifically, the lambda provided to the `WatchEventsListener`:

[code]

We're seeing intermittent failures with `io.fabric8:kubernetes-server-mock:5.7.0`, in tests/code that make use of watches.

[2021-08-29 06:21] KamalSinghKhanna commented on #3355
Hi @rohanKanojia  in order to make tests I tried to run mvn clean install but it is showing error.

`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:3.0.0-M5:test (default-test) on project kubernetes-client: There are test failures.
[ERROR]
[ERROR] Please refer to /home/kamal/Desktop/Java-project/kubernetes-client/kubernetes-client/target/surefire-reports for the indi

[2021-08-29 06:22] KamalSinghKhanna commented on #3355
Hi @rohanKanojia in order to make tests I tried to run mvn clean install but it is showing error.

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:3.0.0-M5:test (default-test) on project kubernetes-client: There are test failures.
[ERROR]
[ERROR] Please refer to /home/kamal/Desktop/Java-project/kubernetes-client/kubernetes-client/target/surefire-reports for the indivi

[2021-08-29 10:31] #3104 closed

[2021-08-29 10:31] #3124 closed

[2021-08-30 05:00] mpapply11 commented on #868
Thanks you for the sample code, here is the issue I met, and hopeful get some others some hint.
I have immutable container(i.e, not able to write for all folders except the ones mounted)
and the above similar code runs into the error:
bash: cannot create temp file for here-document: Read-only file system.

The issue seems related to the  cat <<EOF here document trying to write to some temp file be

[2021-08-30 07:03] #3161 closed

[2021-08-30 12:51] #3400 closed

[2021-08-30 13:00] #3399 closed

[2021-08-30 13:05] matthyx opened #3430 "Add support for VPA (vertical pod autoscaler)"
Do you think it would make sense to add support for https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler or is it just enough to let people use the [Resource Typed API](https://github.com/fabric8io/kubernetes-client/blob/master/doc/CHEATSHEET.md#resource-typed-api) and create their POJOs?

[2021-08-30 13:06] matthyx commented on #3430
@rohanKanojia what do you think?

[2021-08-30 13:46] #2403 closed

[2021-08-30 14:12] #3414 closed

[2021-08-30 18:53] #3287 closed

[2021-08-30 22:31] metacosm opened #3431 "CRD generator doesn't properly add renamed properties to `required` list"
The CRD generator currently doesn't account for renamed properties when checking for required field: the field will always be added with the original name without taking any potential overrides.

[2021-08-31 04:57] rohanKanojia commented on #3430
@matthyx : Sorry I was on PTO yesterday. I'm not able to find VerticalPodAutoscaler on fresh minikube based kubernetes setup
[code]

In the repository you linked, I see [vpa-crd.yaml](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/deploy/vpa-crd.yaml#L13) looks like it's a CustomResource.

Do you know if in the future these are going to be moved to [kubernetes/api/aut

[2021-08-31 05:54] matthyx commented on #3430
Indeed it's still an external CR... but documented in [OpenShift](https://docs.openshift.com/container-platform/4.8/nodes/pods/nodes-pods-vertical-autoscaler.html) so an extension it would be.
If nobody else is interested, I can take a look.

[2021-08-31 05:56] #3401 closed

[2021-08-31 13:10] Fabian-K opened #3433 "Issue with Editable* Resources since 5.7.0"
Hi,

with the release 5.7.0, there is an issue with Resources where Editable* are generated for. I think this is basically everything using the model-annotator - e.g. tekton.

Whenever a API URL is constructed, e.g. `io.fabric8.kubernetes.client.dsl.base.OperationSupport.getNamespacedUrl`, the necessary parts are extracted from the annotations like `@Version` or `@Group`. These annotations are par

[2021-09-01 05:05] Sgitario commented on #3413
Thanks for your reply @shawkins ! Closing

[2021-09-01 05:05] #3413 closed

[2021-09-01 07:17] #3411 closed

[2021-09-01 07:17] #3431 closed

[2021-09-01 13:16] manusa commented on #3429
Fixed by #3434

[2021-09-01 13:16] #3429 closed

[2021-09-01 23:16] paulgeiger-eng commented on #3101
Thanks for providing the fix. We finally had time to take up a new kubernetes-client version and we are now on 5.7.0. Our health check is implemented as follows:

    public boolean isHealthy() {
        final var resourceInformer = resourceHandler.getResourceInformer();
        if (!resourceInformer.isRunning()) {
            return false;
        }
        try {
            if (!resourceInformer

[2021-09-01 23:24] paulgeiger-eng commented on #3101
Per my understanding we have still been experiencing the issue since taking up 5.4.0. As mentioned in my previous comment we have now taken up 5.7.0 and incorporated isWatching into our health check.

[2021-09-02 02:43] yanjia92 commented on #1685
encoutered similar issue. Can anyone take a look at this?

[2021-09-02 05:20] unlucky opened #3436 "kubernetes-model-* version in kubernetes-client 5.7.1 is incorrect"
I try to upgrade kubernetes-client from 4.13.3 to 5.7.1. But the version of kubernetes-model-* introduced by kubernetes-client is incorrect. They should be 5.7.1, however, they are 4.13.3. Should I do any other operation when I upgrade kubernetes-client to reflect kubernetes-model-* libs' version?
Snippet of my `pom.xml`
[code]
Dependency tree. No other libraries include io.fabric8 libs.
[code]

[2021-09-02 05:24] manusa commented on #3436
Some of the GAV coordinates were changed (kuberentes-model modules were reorganized a while ago).
Can you show us the <dependencies> section of your pom.xml? do you have any explicit dependency to something else rather than `io.fabric8:kubernetes-client`?

[2021-09-02 05:35] flavioschuindt opened #3437 "SharedInformer Unhandled exception encountered in watcher event handler"
Hi, guys.

I have something weird happening here and would like some direction. I wrote an operator using [Java Operator SDK](https://github.com/java-operator-sdk/java-operator-sdk) that does basically these steps:

1. Start a Job in the cluster;
2. Register a shared informer to receive events for this job;
3. Wait for Job completion event (regardless of job success or failure);
4. Receive event f

[2021-09-02 05:55] unlucky commented on #3436
pom.xml
[code]

[2021-09-02 05:57] unlucky commented on #3436
I only have `io.fabric8:kubernetes-client`, `kubernetes-model` and `kubernetes-server-mock` in project related to `kubernetes-model-*`

[2021-09-02 07:20] manusa commented on #3436
Yes, but that's the dependency management section, I don't see any explicit dependency to any `io.fabric8` group modules in the `<dependencies>` section.

So probably in one of your modules, your dependencies are not set right.

[2021-09-02 12:02] shawkins commented on #1685
@yanjia92 this issue is out of date.  If you have are experiencing something similar it would be best to open a new issue an link to this one.

[2021-09-02 12:09] shawkins commented on #3437
Ideally you would move to a later fabric8 release there were a lot of changes refining the informers and related logging in 5.4 and at least one in 5.6 - #3318

[2021-09-02 19:37] metacosm opened #3442 "CRD generator holds onto outdated class information"
If some classes are reloaded and CRD generation is requested again, it's possible that the associated information held in the `DefinitionRepository` will be outdated thus leading in improper CRD generation. The solution is to be able to request the `DefinitionRepository` to clear its held data when needed from the `CRDGenerator`. Note that this also requires a fix in sundrio since right now, the `

[2021-09-03 02:20] unlucky commented on #3436
The root cause is `spring-cloud-dependencies` includes `spring-cloud-kubernetes-dependencies` which import io.fabric8 4.13.3.
I have put
[code]
before
[code]
seems the issue can be resolved.

[2021-09-03 04:01] flavioschuindt commented on #3437
Hi, @shawkins, thanks a lot for the updates.

So, I was following your advice and checking the releases and indeed has a lot of changes for the informer. Therefore, I am trying to update it to 5.7.0 (I used the java operator SDK and can't go beyond this). However, I am having a super hard time with all these changes and the [examples in the fabric8 repo](https://github.com/fabric8io/kubernetes-cli

[2021-09-03 07:05] metacosm commented on #3436
Closing this as the issue seems resolved. Please re-open if you're still encountering problems.

[2021-09-03 07:05] #3436 closed

[2021-09-03 11:26] shawkins commented on #3437
That's because the example isn't doing any other work on the main thread, so it just sleeps until the informer has demonstrated what it's supposed to do.  Once an informer is started it will continue to run asynchronously the starting thread is free to do whatever it wants after that.

Informers should be thought of as a more heavy weight watch.  They will currently use at least two threads based

[2021-09-05 00:18] z0mb1ek opened #3446 "Pod logs for all containers like --all-containers in kubectl"
Hi. How can I get all logs for pod? For example pod with init container and main container.
May be I can get logs for list of containers in each, but I cannot find any methods to get all containers in pod

[2021-09-06 07:25] manusa commented on #3446
Relates to #2712

[2021-09-06 11:25] manusa commented on #3419
Are you using the Fabric8 provided Serializer??

[2021-09-06 11:46] manusa commented on #3398
The problem now is that if we change the behavior, it might affect any user who is actually depending on the current behavior.

If used in combination with deployment#isReady, it should work as you expect, since Readiness **does** check for replica availability.

[2021-09-06 11:47] manusa commented on #3398
Methods added in #25

[2021-09-06 11:51] shawkins commented on #3398
Ok, I'll add a javadoc clarifying the meaning of wait.

[2021-09-06 11:57] manusa commented on #3382
https://gitter.im/fabric8io/kubernetes-client?at=61118632025d436054bfb22b

[2021-09-06 11:57] #3382 closed

[2021-09-06 12:09] manusa commented on #3362
The config.autoConfigure(...) method tries to provide a valid configuration on a best-effort basis with the provided values and some opinionated defaults.

In your case, it tries to use the provided argument as a context, but since it's not found, it will fail-over and use the default context. If it fails, it will even try some further approaches until it finds one suitable.

If you want to make s

[2021-09-06 13:47] matthyx commented on #3430
btw I have started... you can assign me

[2021-09-07 08:42] manusa commented on #3433
Caused by #3327

[2021-09-07 10:07] adietish opened #3448 "Openshift client: should be able to retrieve kubernetes version"
For a given OpenShift client, if one wants to retrieve the kubernetes version of the cluster, one has to create a new Kubernetes client:
[code]
This is clueless given that the OpenShift client has it's own Kubernetes client already (instance var `delegate`)

[2021-09-07 11:29] csumutaskin opened #3449 "okhttp3 StreamResetException: stream was reset: NO_ERROR"
`
    Note that: io.fabric8.openshift.client.OpenShiftClient client and Map<String, String> data  are initialized above successfully.

    io.fabric8.kubernetes.api.model.ConfigMap configMap = new io.fabric8.kubernetes.api.model.ConfigMap();
    ObjectMeta objectMeta = new ObjectMeta();
    objectMeta.setNamespace("a namespace value here...");
    objectMeta.setName("a config map name here...");