[2022-06-16 06:10] fastrunner commented on #4210
sorry, client version is 5.12.2

[2022-06-16 07:58] fastrunner commented on #4210
It was solved in the following way, but another problem occurred，

CustomResourceDefinition customPro = Serialization.unmarshal(resourceLoader.getResource("classpath:profile.yaml").getInputStream(), CustomResourceDefinition.class);
client.apiextensions().v1beta1().customResourceDefinitions().createOrReplace(customPro);

----------------------------------------------------------------------------
t

[2022-06-16 08:06] rohanKanojia commented on #4210
@fastrunner : I think you're misunderstanding. Profile is a Custom Resource not a Custom Resource Definition

[2022-06-16 08:08] rohanKanojia commented on #4210
Please check this[0] in order to get an idea of how to create CustomResource without type.

[0] https://github.com/fabric8io/kubernetes-client/blob/master/doc/CHEATSHEET.md#resource-typeless-api

[2022-06-16 10:59] fastrunner commented on #4210
@rohanKanojia tks very much

[2022-06-16 10:59] #4210 closed

[2022-06-16 22:20] scholzj opened #4216 "Predicate not called after resource status is updated with `replaceStatus()` on KubernetesMock in CRUD mode"
### Describe the bug

In Strimzi we are using the Kubernetes Mock server in the CRUD mode to run mock tests. In some of the tests, we create a resource and wait for the operator to update it with certain status fields. We use for it the `waitUntilCondition(...)`, where we pass the condition predicate and timeout and wait for it to complete. The expectation is that the predicate will be called ever

[2022-06-17 07:52] #4006 closed

[2022-06-17 09:14] scholzj opened #4217 "Kubernetes Mock Server is incrementing `.metadata.generation` when `patchStatus()`is used"
### Describe the bug

When a status of a resource is updated, the generation of the reource (`.metadata.generation`) should not change and should remain the same. In #4199, it looks like this was fixed for `editStatus(...)` and `replaceStatus(...)`. But `patchStatus(...)` seems to still increment it. I think it should be fixed like with the other methods.

### Fabric8 Kubernetes Client version

6.

[2022-06-17 09:32] andreaTP commented on #4209
@manusa I think that this issue shows that we are lacking documentation:
 - the [readme of the java-generator](https://github.com/fabric8io/kubernetes-client/blob/master/java-generator/README.md) is outdated and incomplete
 - it's hard for the users to grasp how to use the tool

 Maybe we should add a page to the [doc folder](https://github.com/fabric8io/kubernetes-client/tree/master/doc), wdyt?

[2022-06-17 09:45] manusa commented on #4209
Yes, please :pray:

I will probably blog about this feature before 6.0 GA is out too.

[2022-06-17 09:51] andreaTP commented on #4209
@manusa I'll take the docs and am happy to collaborate on a Blog if you want 🙂 (for reference I have written something [here](https://andreaperuffo.com/posts/java-shell-4-kube/) )

[2022-06-17 10:00] manusa commented on #4209
Thx :raised_hands:

I think I read your blog entry when you published it, definitely something to reference.

The goals is to spread the word about the new release as much as possible. So the more articles, posts, videos, and so on that we manage to publish, the better to get the word out about this new awesome release.

[2022-06-19 21:03] #3900 closed

[2022-06-19 21:03] #3903 closed

[2022-06-19 21:04] #3914 closed

[2022-06-19 21:11] #4216 closed

[2022-06-21 12:48] manusa commented on #3731
Added in https://github.com/fabric8io/kubernetes-client/pull/3732 and https://github.com/fabric8io/kubernetes-client/pull/3797

[2022-06-21 12:48] #3731 closed

[2022-06-21 13:07] manusa opened #4222 "back-port informOnCondition should not test initial add events #4082"
### Description

Back-port #4082 (back-port informOnCondition should not test initial add events)

[2022-06-21 13:43] #2811 closed

[2022-06-21 15:09] #3227 closed

[2022-06-22 04:57] #3938 closed

[2022-06-22 07:21] aleboulanger opened #4223 "Unable to use waitUntilCondition"
### Is your task related to a problem? Please describe

I can't find a way to use an example of waitUntilCondition described in your readme file
https://github.com/fabric8io/kubernetes-client/blob/master/doc/CHEATSHEET.md#kubernetes-client-dsl-usage

### Describe the solution you'd like

this example from the readme should compile

`Pod pod = client.pods().inNamespace("default").withName("nginx").

[2022-06-22 07:23] manusa commented on #4223
Could you please share the Kubernetes client version you're using?

[2022-06-22 10:22] manusa commented on #3938
Hi @cr-moriluz
We released 6.0.0-RC1 last week. I'm not sure if you could give it a try and see if some of the new options suit your needs. Also if the overall performance and thread handling improvements are working for you.
It'd be great to have your feedback ;)

[2022-06-22 15:57] leoandrea7 commented on #3870
Hi, any news about this annotations support?

[2022-06-22 18:07] andreaTP commented on #3870
Hi @leoandrea7 , this is not supported yet, although it might be relatively straightforward to implement it.

Let's see if @fabiobrz gets intrigued enough 😏 , but, in general, would you mind sharing your use case?

[2022-06-22 18:30] leoandrea7 commented on #3870
I have a CRD with openAPIV3Schema like this:
[code]
The problem is that crd-generator does not generate the fields minimum, maximum and pattern.
I see that nullable will be introduced in the next release.  [Issue-3975](https://github.com/fabric8io/kubernetes-client/issues/3975)

Thanks a lot @andreaTP!

[2022-06-22 19:43] andreaTP commented on #3870
@leoandrea7 quick sanity check, you mentioned `crd-generator` but you meant instead the Java generator, is it correct?

Also nullable is already integrated in the current implementation (i.e. 6.0.0-RC1) when you are experiencing any issue with it, please, file an issue 🙏

[2022-06-22 19:53] OneCricketeer commented on #3870
I assume that comes from Strimzi? Last I heard, they do use Java operator SDK, so might already have models you would need instead of generating them?

[2022-06-22 20:05] andreaTP commented on #3870
AFAIK Strimzi doesn't use JOSDK (so far) but straight  client

[2022-06-22 20:07] leoandrea7 commented on #3870
No it is a custom CRD. The "kafka" field has nothing to do with Strimzi.

[2022-06-22 20:14] leoandrea7 commented on #3870
There is need of a new issue for crd-gen? Thanks

[2022-06-22 20:34] andreaTP commented on #3870
@leoandrea7 the CRD and Java generators should possibly eventually converge, but they are, ATM two separate tools, so please, file a separate issue (and, possibly, the one on Nullable)

[2022-06-22 22:07] leoandrea7 opened #4224 "[crd-gen] Support openAPIV3Schema fields: minimum, maximum, pattern, nullable"
### Is your enhancement related to a problem? Please describe

_(duplicate of #2959)_

At the moment there is no way to auto generate a crd (with crd-gen tool) that contains properties with validation fields like **_minimum_**, **_maximum_**, **_pattern_**, **_nullable_**.

CRD example:

[code]

### Describe the solution you'd like

I'd like to use javax annotation (like `@min @max @pattern`) on a

[2022-06-22 23:00] leoandrea7 opened #4225 "[crd-gen] Enum fields written in generated crd yaml"
### Describe the bug

When the crd-gen tool tries to generate schema properties from an enum, both values and fields are written in the generated crd yaml.

### Fabric8 Kubernetes Client version

5.12.2

### Steps to reproduce

Create an enum with values and at least a field and put it into Spec.
Example:

[code]

Exec `mvn clean compile`

the generated file target/classes/META-INF/fabric8/mycrds.

[2022-06-22 23:47] shawkins commented on #4222
We'll probably need a more targeted solution as there some intervening changes.

[2022-06-23 04:10] cainzhong opened #4226 "Want to confirm, for backward compatibility, the GET calls will use 'rbac.authorization.k8s.io/v1beta1' instead of 'rbac.authorization.k8s.io/v1'?"
### Is your enhancement related to a problem? Please describe

I got a warning from GKE that tell me I am using some deprecated APIs.
[code]
I checked all my YAML files and I can confirm that I am using the v1 version. Also, I confirmed with GKE support, and he told me that all the k8s resources are created in the v1 version, but the GET calls are using v1beta1. It is a little confusing.

![image]

[2022-06-23 05:03] manusa commented on #4226
Hi @cainzhong,

I assume that you're using the right DSL methods to perform your calls:

[code]

These methods perform the call to the **v1** resource **always**.

The `BackwardsCompatibility` interceptor is kicking in in your case, probably because you perform a `GET` request to a non-existent resource and the interceptor retries using other resource versions (for Role Bindings v1beta1).

In v6 t

[2022-06-23 05:24] manusa commented on #3998
Relates to #2112 and #2271

[2022-06-23 12:30] OneCricketeer commented on #3870
That seems to be written as a duplicate. I think the ask was to make a ticket only for any issues you're having with the nullable fields

[2022-06-23 12:36] OneCricketeer commented on #4224
Is the pattern in your model example correct? The `^` and parentheses should not be literals, for example. The only change from the yaml should be escaping the one `\\.`

[2022-06-23 13:10] leoandrea7 commented on #4224
Yes you are right but is not important the regex value now...The problem here is that crd-gen not have the featuare to read `@Pattern @Max @Min` and to generate corresponding fields(pattern, maximum and minimum) into the generated crd yaml file.
I think that the logic to handle this annotations should be into [AbstractJsonSchema](https://github.com/fabric8io/kubernetes-client/blob/master/crd-gener

[2022-06-23 14:03] leoandrea7 commented on #4225
I think that the problem is here:

https://github.com/fabric8io/kubernetes-client/blob/b90ee77091e50826f1c21f3c518483a5299f77b9/crd-generator/api/src/main/java/io/fabric8/crd/generator/AbstractJsonSchema.java#L592

def.getProperties() return both fields and values...We are need of something like getValues().

[2022-06-24 22:30] andreaTP commented on #4225
Can reproduce the bug and is valid indeed.

[2022-06-24 22:33] andreaTP commented on #4209
@flashpixx can you check https://github.com/fabric8io/kubernetes-client/blob/master/doc/java-generation-from-CRD.md

it should be covering, at least, the maven part of this issue.

[2022-06-24 23:11] flashpixx commented on #4209
Great thanks, I have it configured in this way and everything works fine

[2022-06-24 23:11] #4209 closed

[2022-06-25 08:07] hschoefer opened #4233 "Mocking client#getApiResources(string)"
### Is your enhancement related to a problem? Please describe

In a @SpringBootTest I inject the KubernetesClient by using the annotation @EnableKubernetesMockClient with mock server in mode crud. This allows me to register a CustomResourceDefinition (e.g. kafka.strimzi.io/v1beta2) with an injected KubernetesClient.

If I want to look up API resources with kubernetesClient.genericKubernetesResourc

[2022-06-27 02:30] lidajia commented on #3987
keep active

[2022-06-27 06:51] cainzhong commented on #4226
Trying now...

[2022-06-27 07:23] karthickm512 commented on #4047
Hi, Any updates or progress on this ticket? @abstractj @manusa

[2022-06-27 07:45] rohanKanojia commented on #4047
We had upgraded to Jackson v2.13.3  in https://github.com/fabric8io/kubernetes-client/pull/4153 . It should be available in v6.0.0-RC1

[2022-06-27 08:12] tchiotludo opened #4234 "Corrupted TAR archive using PodResource.copy"
### Describe the bug

While copying file from a pod, I received a `Corrupted TAR archive.` exception with `Invalid byte 3 at offset 0`

### Fabric8 Kubernetes Client version

6.0.0-RC1

### Steps to reproduce

1. clone [this](https://github.com/kestra-io/plugin-kubernetes)
2. install [kind](https://github.com/kestra-io/plugin-kubernetes/blob/36fad084ec9b53c68ff7582c76fa88c84d7af8fe/.github/workflo

[2022-06-27 08:13] rohanKanojia commented on #4234
@tchiotludo : Do you face this error only in 6.0.0-RC1 or in earlier versions as well?

[2022-06-27 08:16] tchiotludo commented on #4234
Earlier also, I've seen that there is update on the main branch about that, so I decided to postpone the issue with the last version.
On 5.x.x also I've the also issue, but can't remember the [timeline](https://github.com/kestra-io/plugin-kubernetes/commits/8845f918dd091a06d6a735358f188d463b024400/src/test/java/io/kestra/plugin/kubernetes/PodCreateTest.java)

[2022-06-27 09:43] sunix commented on #4196
Thanks @dcoliversun, would you like to create a PR for that? Let us know. Thanks

[2022-06-27 09:45] dcoliversun commented on #4196
@sunix OK :)  please assign this issue to me

[2022-06-27 09:47] sunix commented on #4196
Thanks a lot !

[2022-06-27 09:52] sunix commented on #4223
Also what is the compilation error ?

[2022-06-27 09:56] sunix commented on #4224
@andreaTP could you have a look at this issue?

[2022-06-27 10:01] sunix commented on #4225
@andreaTP should I assign this to you?

[2022-06-27 10:04] sunix commented on #4233
@shawkins do you have any ideas for that issue?

[2022-06-27 12:42] abstractj commented on #4047
Closing this issue, considering that it was fixed on https://github.com/fabric8io/kubernetes-client/pull/4153

[2022-06-27 12:42] #4047 closed

[2022-06-27 17:44] andreaTP commented on #4224
I'm about to go on vacation, but if no one picks it up earlier I might eventually take a look at this.

[2022-06-28 01:41] PettitWesley commented on #2271
Change is here: https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter/pull/337

It is already released in the plugin version 2.11.1

Though I am still working on doing final testing actually... but as far as we can tell it works. I will post an update if it actually doesn't.

[2022-06-28 06:44] qmyflame opened #4236 "Is there a function for monitoring the progress of pod upload files"
### Is your task related to a problem? Please describe

When I upload a file to the pod, I don't know how long to wait

### Describe the solution you'd like

Add a monitor, you can get the size of the uploaded file from the status of this monitor

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-06-28 07:13] PettitWesley commented on #2271
(It works don't worry)

[2022-06-28 12:48] shawkins commented on #4233
@sunix @hschoefer the comments on #3960 and the linked Q/A post which has sample code for creating the expected mock endpoints.

[2022-06-29 01:48] #3991 closed

[2022-06-29 02:03] #4096 closed

[2022-06-29 02:16] jingjing0921 opened #4239 "WebSocket output issue"
### Describe the bug

In a springboot(2.6.6) maven project, I try to execute command on pod with Fabric8 Java Kubernetes client, then send the output with WebSocket, but the output is alway same with the input command, not the result of the command, see the screenshot of the postman. The kubernetes API server version is Kubernetes v1.22.2.
**Code:**
**1. TestServerEndpoint**
@Component
@ServerEndp

[2022-06-29 05:03] cainzhong commented on #4226
Tried with 6.0.0-RC1. No warning message again. Thanks. BTW, any plan, when will the GA version released?

[2022-06-29 05:09] rohanKanojia commented on #4226
If everything goes as expected, It's scheduled for release next week.

[2022-06-29 14:07] shawkins opened #4241 "Logging by informers"
### Is your enhancement related to a problem? Please describe

Because multiple informers may be running, it can be unclear which informer(s) are making the logs.

### Describe the solution you'd like

It would be good to include the resource type or url in the informer logs to distinguish which one is logging.  It would also be good to review in general logs around the relevant events - such as a

[2022-07-01 07:07] faust64 opened #4243 "Tekton Triggers, v1beta1 API & EventListeners"
### Describe the bug

As of last upgrading my clusters and Tekton operator, I'm now stuck with a broken controller.
Involves: tekton-pipelines 0.33.0, tekton-triggers 0.19.0 (and kubernetes 1.23.5)

We use fabric8 in a controller that watches for existing EventListeners. It relies on some v1alpha1 API version. While this was still valid in previous versions, this is no longer the case today: Event

[2022-07-01 11:33] #4233 closed

[2022-07-01 12:57] shawkins commented on #4243
No, this is simply missing.  The tekton-model-triggers generates only the v1alpha1 model.  I'm not sure why a corresponding tekton-model-triggers-v1beta1 was not added when the base v1beta1 tekton model was added.

It should be straight-forward to clone / modify what is there for v1alpha1 support to provide the beta1 support.  Or you could try the java generator on the tekton crds and see if you a

[2022-07-01 13:16] rohanKanojia commented on #4243
I guess our tekton model has gone a bit outdated (since tekton world has been moving so fast). Since we're providing explicit extension, we should add v1beta1 model as well. As Steven suggested it shouldn't be that hard, we're willing to provide code pointers if you're interested in fixing this.

[2022-07-01 16:38] vgaddavcg commented on #2271
@PettitWesley Any update on this? Are you changes merged to kubernetes-client.

[2022-07-01 17:05] andreaTP commented on #4243
Since this extension is outdated and we are going to release version 6.0, would it be worth exploring substituting the extension with the java-gen output?

@faust64 using the Java generator should be a viable option for you at the moment. I encourage you to try it out and give some feedback around it 🙁

[2022-07-03 06:06] faust64 commented on #4243
I'll let my colleagues know about that Java generator option.
We're still looking to fix this, a coworker took over as I have no experience with Java myself. So far, he commented out the bits where we interact with EventListeners. We'll give it another shot. Thanks for following up!

[2022-07-03 23:33] shawkins commented on #4239
@jingjing0921 the behavior I see is that your input commands need to be terminated with a new line to be executed.  Also the withTTY option seems to echo the input.

[2022-07-04 06:56] wangyang0918 opened #4246 "KubernetesClientException is swallowed in LeaderElector"
### Describe the bug

![image](https://user-images.githubusercontent.com/15904523/177097031-8f16eef0-95c5-4978-ab51-63a23356e6fb.png)

The above implementation will swallow the following `KubernetesClientException` and then cause the next renew could not work properly until reach the deadline. This will be a serious problem when the K8s has multiple APIServer and the renewing one crashed. It seems

[2022-07-04 08:00] #3987 closed

[2022-07-04 09:51] #4196 closed

[2022-07-04 10:04] brubrz opened #4247 "Openshift Client ignores NO_PROXY setting"
### Describe the bug

The ConfigBuilder ignores .withNoProxy() Setting. I must set the HttpProxy to null in order to connect to my PaaS.

### Fabric8 Kubernetes Client version

6.0.0-RC1

### Steps to reproduce

Does not work:

        Config config = new ConfigBuilder()
                .withNoProxy("*.my.domain.com") // does not work: Socket Exception: "read timed out"
                .build();

[2022-07-04 16:47] shawkins commented on #4236
This seems doable, but to be non-breaking would need to introduce another DSL method - withUploadMonitor(monitor).upload(...)  - or new upload methods - .monitoredUpload(...) - as the return value from upload is currently just a boolean.

Is this something that you can contribute?

[2022-07-05 00:10] QAInsights opened #4248 "No httpclient implementations found on the context classloader in Groovy 3.0.11 in JMeter 5.5"
### Describe the bug

Below is my code where I am trying to get the list of pods from the `default` namespace in Groovy 3.0.11 in JMeter 5.5.

But it is throwing the `No httpclient implementations found on the context classloader, please ensure your classpath includes an implementation jar` error. Please see the below error for more details.

[code]

Error
[code]

### Fabric8 Kubernetes Client ver

[2022-07-05 02:42] shawkins commented on #4234
@tchiotludo @rohanKanojia there appears to be some problem with ustar support in the apache commons library.  The trailing entry padding is not being discarded, but instead is being read as part of the next entry's header - which is then seen as an invalid entry.  If you switch to a posix tar format, then everything works fine through the commons library - but trying that in the integration test I

[2022-07-05 04:16] #4217 closed

[2022-07-05 06:31] neuropaddy opened #4249 "Upload InputStream To Pod with java.io.InterruptedIOException: interrupted (6.0.0-RC1)"
### Describe the bug

An unexpected ERROR InterruptedIOException occurred while using 'upload' API in kubernetesClient 6.0.0-RC1, but, this exception does not occur in v5.12.2.

### Fabric8 Kubernetes Client version

6.0.0-RC1

### Steps to reproduce

1. In 6.0.0-RC1, run the following code
 try (KubernetesClient client = new KubernetesClientBuilder().build()) {
      client.pods().inNamespace(nam

[2022-07-05 07:31] manusa commented on #4248
It seems like JMeter's Groovy engine is not loading the kubernetes-client module. Could you try removing the `kubernetes-client-api` dependency?

[2022-07-05 09:28] huaryliu opened #4250 "istio-client query virtualservice get error: Could not resolve subtype of [simple type, class io.fabric8.istio.api.networking.v1beta1.IsHTTPRedirectRedirectPort]:"
### Describe the bug

[code]

When virtualService has HTTPRedirect ,use istio-client query virtualservice list get a error:

Caused by: com.fasterxml.jackson.databind.exc.InvalidTypeIdException: Could not resolve subtype of [simple type, class io.fabric8.istio.api.networking.v1beta1.IsHTTPRedirectRedirectPort]: Cannot deduce unique subtype of `io.fabric8.istio.api.networking.v1beta1.IsHTTPRedirect

[2022-07-05 11:09] PulLa1 opened #4251 "KubernetesClientException: JcaPEMKeyConverter is provided by BouncyCastle, an optional dependency."
### Describe the bug

Exception in thread "main" io.fabric8.kubernetes.client.KubernetesClientException: JcaPEMKeyConverter is provided by BouncyCastle, an optional dependency. To use support for EC Keys you must explicitly add this dependency to classpath.
	at io.fabric8.kubernetes.client.internal.CertUtils.handleECKey(CertUtils.java:164)
	at io.fabric8.kubernetes.client.internal.CertUtils.loadKe

[2022-07-05 11:41] PulLa1 commented on #4251
Ok I found the bug：java.lang.NoClassDefFoundError: org/bouncycastle/jce/provider/BouncyCastleProvider
append maven to solve the problem：

        <dependency>
            <groupId>org.bouncycastle</groupId>
            <artifactId>bcprov-jdk15on</artifactId>
            <version>1.59</version>
        </dependency>

        <dependency>
            <groupId>org.bouncycastle</groupId>
            <

[2022-07-05 12:36] shawkins opened #4254 "Log or expose standard error from internal exec"
### Is your enhancement related to a problem? Please describe

If you use pod file operations, such as copy, the stdErr is not requested / captured.

### Describe the solution you'd like

We may not simply be able to use terminateOnError because a command like tar will report things on stdErr such as "stripping leading /" - although we may be able to workaround that in other ways like using -C.

A

[2022-07-05 13:04] shawkins commented on #4234
Narrowing in a bit more.  The problem seems to be introduced via the base64 encoding / decoding.  The apache library works fine against a fileinputstream of the tar contents.

[2022-07-05 14:07] QAInsights commented on #4248
@manusa removing `kubernetes-client-api` throwing the below error.

[code]

[2022-07-05 17:46] shawkins commented on #4249
@neuropaddy  I haven't reproduced this yet.  From what I can see, this exception is just being logged - it's not causing the upload to fail, is that correct?

This looks like a timing issue with websocket resources not being fully closed by the time the client is closing.  However the ExecWatch should have already been closed at that point.

[2022-07-05 20:39] QAInsights commented on #4248
@manusa I was able to fix it by adding all the fabric8 jars in one folder and associate it with JMeter. Not sure, why `Grab` is not working :(

`Grab` is downloading all the jars and keep it in the `home` directory, but somehow Groovy is not loading them.

[2022-07-06 00:36] shawkins commented on #4247
The implementation https://github.com/fabric8io/kubernetes-client/blob/10e9f188911ef00e66d3b5731e073ccc6d38f8da/kubernetes-client-api/src/main/java/io/fabric8/kubernetes/client/utils/HttpClientUtils.java#L72 does not expect wildcards.  It's looking only for an exact match to the ip or host.

[2022-07-06 01:49] neuropaddy commented on #4249
Yes, the upload operation is success, the content can be written to the pod.
As I observed the log is appeared before the socket close, I wonder if there is a async effect.

[2022-07-06 05:06] manusa commented on #4248
I will try to reproduce. It seems that it's skipping the `kubernetes-client` module for some reason.
Since there's no explicit class loading in your script (which is how it should be) for any of its provided classes, this might be causing some issues.

[2022-07-06 07:55] #4234 closed

[2022-07-06 09:04] csviri opened #4256 "CRD Generator Annotation Issues with v6 RC1"
### Describe the bug

When tried to use version v6 R1, got an error for annotation processor that generates CRD-s:

[code]

### Fabric8 Kubernetes Client version

6.0.0-RC1

### Steps to reproduce

Check out this build:
https://github.com/java-operator-sdk/admission-controller-framework/runs/7211447592?check_suite_focus=true

it's very simple project where a minimalist custom resource is defined.

[2022-07-06 09:06] Devamparikh commented on #3949
Can someone review #4237 please?

[2022-07-06 09:10] brubrz commented on #4247
In that case, I would really appreciate an error msg. It appears to me as if the code is passing an IP that could not be parsed along to another component to let it fail there? I think an uparsable ip should result in an error:

[code]

[2022-07-06 12:42] shawkins commented on #4250
It looks like Jackson has known issues when dealing with unwrapped polymorphic deserialization.  If port or derivedPort is included it does appropriately deduce the type, but when missing you get an exception.  For it to be optional it looks like we need another jackson setting in Serialization.java:

JSON_MAPPER.disable(DeserializationFeature.FAIL_ON_INVALID_SUBTYPE);

@manusa @rohanKanojia any q

[2022-07-06 18:20] grossws opened #4259 "Lombok's `EqualsAndHashCode` for CR should have `callSuper=true`"
### Describe the bug

CRD to Java generator with `Config#objectExtraAnnotations` set should generate `@lombok.EqualsAndHashCode(callSuper = true)` for CR classes since generated class has no fields and spec is accessible via `CustomResource` superclass.

Since it doesn't have `callSuper = true` lombok produces something like this:

[code]

### Fabric8 Kubernetes Client version

6.0.0-RC1

### Step

[2022-07-06 21:09] rktechie commented on #2323
@rohanKanojia @flavioschuindt

Related to the comment https://github.com/fabric8io/kubernetes-client/issues/2323#issuecomment-666761790, will informer also receive notifications of "delete" requests which happened when the informer was not running?

[2022-07-06 21:54] PettitWesley commented on #2271
@vgaddavcg Changes are merged here: https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter/pull/337

And released in plugin version 2.11.1 from what I saw. Anything else beyond that is up to you folks to handle

[2022-07-06 22:03] scholzj commented on #2271
@PettitWesley I'm a bit confused how does an issue in Java based Kubernetes client related to PR in Ruby based Fluentd plugin.

[2022-07-07 00:03] shawkins commented on #2323
If an informer watch goes down for a while, when the informer reestablishes it it will first obtain a full list of the existing resources.  Anything in the cache that no longer exists will get removed and a delete event produced - with the final state unknown flag as true.

[2022-07-07 07:00] iocanel commented on #4248
With a quick glimpse at the code I am seeing that we are not consistent with the way we are loading classes and services (spi).

The safest approach IMHO is to always follow the chain:

1. Load class / service with no class loader reference.
2. Fall back to the current class class loader
3. Fall back to TCCL

This used to be encapsulated in the logic of `Adapters` and should be used as a reference

[2022-07-07 08:31] manusa commented on #4248
^^^ @shawkins

But do you think this is related to this error?
https://github.com/fabric8io/kubernetes-client/issues/4248#issuecomment-1175104075 seems to highlight that for some reason Groovy is not loading the `kubernetes-client` module or its transitive dependencies.

[2022-07-07 08:52] iocanel commented on #4248
The GroovyScriptEngine is using it's own class loader. I would assume that dependencies are loaded through that class loader.
Java SPI on the other hand most probably is not using that class loader, so falling back to TCL or the class loader that loaded the KubernetesClient.class most probably would sovle this.

[2022-07-07 11:45] shawkins commented on #4248
The code already does use the TCCL: https://github.com/fabric8io/kubernetes-client/blob/10e9f188911ef00e66d3b5731e073ccc6d38f8da/kubernetes-client-api/src/main/java/io/fabric8/kubernetes/client/utils/HttpClientUtils.java#L157

See https://docs.oracle.com/javase/8/docs/api/java/util/ServiceLoader.html#load-java.lang.Class- that clarifies that 1 and 3 on your list are the same.

As for falling back

[2022-07-08 08:11] iocanel commented on #4248
touché

Then maybe the issue is that the TCL is not set ? Or not being set to something that has not visibility to the class. In this case using (2) could solve the issue.

Let's do that. But do you really feel that `@Grab` is not bringing in transitives?

[2022-07-08 11:44] shawkins commented on #4248
Yes, that is what I'd infer from: https://github.com/fabric8io/kubernetes-client/issues/4248#issuecomment-1175104075

There he should be grapping kubernetes-client but classes from kubernetes-client-api aren't loading - that implies it's not grabbing transitive dependencies.

[2022-07-09 04:56] manusa commented on #3984
I'd personally dislike this since it interferes a lot with the work done when figuring out bugs and "bisecting" them. It's much easier for me to reformat a contributor's (who might struggle with formatting) active PR in a subsequent commit. Maybe we can further discuss

[2022-07-09 16:03] Ananya2001-an opened #4267 "Missing Kubectl Equivalents"
### Is your enhancement related to a problem? Please describe

I found that some equivalents are missing in kubernetes-examples/kubectl/equivalents as shown below:

- [x] create resource quota yaml
- [x] create namespace
- [ ] delete namespace
- [ ] get namespace by label
- [ ] ..more

### Describe the solution you'd like

I have already started working on this and will raise a PR soon. Please ass

[2022-07-10 12:40] Ananya2001-an commented on #4236
@shawkins for knowing the waiting time of file upload can't we add a timer and log it ?

[2022-07-10 13:33] Ananya2001-an commented on #4168
@deod when we call the command
[code]
It returns all the current pods with their restart count information as one of the columns. This restart count tells us the number of times the container inside the respective pod has failed.
Means if for some reason a pod fails and and comes back to running state again then its restart count gets incremented by one.
This process of starting, crashing and star

[2022-07-10 13:52] Ananya2001-an commented on #4168
@deod @shawkins @rohanKanojia
Moreover instead of pod restart count we can maybe count the number of times it has gone into the Error state.
Whenever it goes back into the ready state then we can increment count by one.

[2022-07-11 02:31] wangyang0918 commented on #4246
It will be great if we could have the bug fix version `5.12.3`. Since the `LeaderElector` is refactored in the master branch, I lean to simply catch the `KubernetesClientException` in the coming `5.12.3`.

[code]

[2022-07-11 05:19] manusa commented on #4168
Whenever it goes back into the ready state then we can increment count by one.

The client doesn't hold a state of the Pod (or any K8s resource). These fields are calculated from what the Pod status reports.

AFAIK, usually this field reports the total sum of container restarts.

[2022-07-11 21:32] #4004 closed

[2022-07-11 21:32] #3985 closed

[2022-07-11 21:32] #3974 closed

[2022-07-12 07:35] brinst07 opened #4269 "PodLog with websocket"
hello.
I want to create a function that uses watchLog() and websocket to deliver a log of a pod to the user in real time. The function works normally, but there is a problem in the part where the user disconnects the connection. AfterConnectionClosed is executed when the websocket connection is closed, but the problem is that the method is not executed while watchLog() is running.

This part recei

[2022-07-12 07:43] #4269 closed

[2022-07-12 10:45] manusa commented on #4248
I'm testing this with Groovy (4.0.3 ), and it works for me.

Tested Script:
[code]

The same script on JMeter fails. However, note that JMeter is using Groovy 3.0.11. I'm not sure if the classloader issues are caused by the groovy engine or JMeter itself when invoking the scripts.

[2022-07-12 13:15] manusa opened #4271 "Rename master to main"
### Is your task related to a problem? Please describe

Remove any inappropriate language from our repo**s** (white, black, master, slave...)

### Describe the solution you'd like

`master` branch should be renamed to `main`

### Additional context

- https://www.redhat.com/en/blog/making-open-source-more-inclusive-eradicating-problematic-language
- https://blogs.eclipse.org/post/mike-milinkovich/

[2022-07-13 05:45] manusa opened #4272 "Removal of deprecated extension xxx-server-mock modules"
### Is your task related to a problem? Please describe

The usage of these modules are no longer required since the generic Kubernetes Mock Server can be used instead (is preferred).

https://github.com/fabric8io/kubernetes-client/blob/43af167c663031dac37f08dda36e35e512462071/doc/MIGRATION-v6.md#L238

### Describe the solution you'd like

Removal of the extensions/xxx-server-mock

### Describe alt

[2022-07-13 11:37] shawkins commented on #4272
This duplicates #3924 do you want to close the other one?

[2022-07-13 13:24] shawkins commented on #4236
The request seems to be more for a programmatic monitor.  It could provide bytes sent, total bytes (for files, input streams will have unknown sizes), and even the std error stream - #4254

[2022-07-13 13:34] #4272 closed

[2022-07-13 13:44] manusa commented on #3984
I hope you're right with this :sweat_smile: :wink:

[2022-07-13 15:09] aleboulanger commented on #2379
any update about this topic ?

[2022-07-13 18:04] shawkins commented on #4246
@wangyang0918 can you contribute a pr for this?

[2022-07-13 18:29] shawkins commented on #2379
@aleboulanger with 6.0 the core of the client and 2 of the http client implementations (jdk and jetty) are mostly reactive and make conservative use of threads - the okhttp client of course still does not.  So with 6.0 and the jdk client you can for example create as many informers as you want and they will all share the same jdk client worker pool, rather than holding multiple threads per informe

[2022-07-14 13:31] raeballz commented on #3795
Similar issues being found on a k8s helm deployment of jenkins for my company also.

We've hit a stack trace like below:

[code]

This started happening out of the blue after deploying a firewall rule to block some k8s ports, but none of which are pertinent (as far as I am aware) to jenkins running.

[code]

Any advice appreciated.

[2022-07-14 15:17] shawkins commented on #887
Looked at the above again - it's not really worth the effort vs just using lambdas against a list of types.

A more concrete proposal is https://github.com/fabric8io/kubernetes-client/compare/master...shawkins:search?expand=1 - this just assumes that it will be a while before we have reactive versions of the relevant operations available (we kind of do for list, but submitList is not exposed).  Th

[2022-07-14 19:54] PettitWesley commented on #2271
@scholzj @vgaddavcg Sorry yea it seems that I got confused and thought this repo was also related to Fluentd... apologies, I have not fixed anything in this repo.

[2022-07-15 00:07] yimoucao opened #4277 "empty subtype data can't be unmarshalled into unwrapped class"
### Describe the bug

for istio extension model VirtualService, deserializing it with empty uri `uri: {}` throws Exception
[code]

the same can be true for DestinationRule if `IsLoadBalancerSettingsLbPolicy` receives empty data
[code]

### Fabric8 Kubernetes Client version

5.12.2

### Steps to reproduce

1. add new yaml as a file in test
[code]
2. run test case
[code]

for `DestinationRule` test

[2022-07-15 01:17] #4277 closed

[2022-07-15 11:12] Dohbedoh commented on #3795
I have been trying to troubleshoot this for some time. There are a few things to note:

* Jenkins users started to see this exception in Jenkins Kubernetes plugin after upgrading it to 1.31.0 or later. That's where we bump k8s client from 5.4.1 to 5.10.2. A big jump that in particular contains several refactoring including the the move to CompletableFuture https://github.com/fabric8io/kubernetes-c

[2022-07-15 17:23] yimoucao commented on #4277
thx @shawkins . may I know when that fix will be released? by any chance it can be a patch release for 5.12.x ?

[2022-07-15 17:41] shawkins commented on #4277
It's currently just targeted to 6.1, but you can certainly tag it for 5.12.x as well.  Can you check if it will cherry-pick cleanly, if not could you open a pr with the backport?

[2022-07-15 19:57] shawkins commented on #4164
A full proposal would look like:

[code]
This would also mean deprecating the Namespaced interface - it won't be needed once this annotation is required.

The only sticking point are how this meshes with the crd related annotations - in particular Version can accept storage and served for that purpose.  The simplest thing is that you could just flatten these attributes into the Resource annotation

[2022-07-15 22:52] yimoucao commented on #4277
@shawkins I tried cherry-pick. no good for me because Serialization was moved from kubenetes-client to kubenertes-client-api.
I'll file a backport PR.
if backport is ok and good, what date you think it can be targeted for releasing to public?

[2022-07-16 11:32] shawkins commented on #4277
It's @manusa that handles the releases.  I'd assume that it would be in the next month - well before a 6.1 was available.

[2022-07-16 13:05] sanyarnd commented on #4256
Same issue with 6.0.0

[2022-07-18 05:31] manusa commented on #4224
Relates to:
- https://github.com/fabric8io/kubernetes-client/issues/2611#issuecomment-745088459
- https://github.com/fabric8io/kubernetes-client/issues/2959 (duplicate)

[2022-07-18 05:46] #4041 closed

[2022-07-18 19:17] yimoucao commented on #4277
sorry for bothering @shawkins . I'm trying to build locally `mvn clean install` from branch `5.12` but always get
[code]
tried `./generateMode.sh`. same error pops up. could you please help? I'm trying to backport your fix to 5.12

[2022-07-18 20:41] shawkins commented on #4277
That seems odd.  The KubernetesListBuilder should be created by the sundrio annotation processor - that should run even without doing generateModel.sh.  If you think you have the code correctly backported, try just opening a pr and then we'll see what the build results look like from the github run.

[2022-07-19 00:30] yimoucao commented on #4277
@shawkins filed PR here: https://github.com/fabric8io/kubernetes-client/pull/4282
let's see what results look like

[2022-07-19 07:47] yimoucao commented on #4277
Hi @manusa I found https://github.com/sundrio/sundrio/issues/164 to be related here. Could you help me get local builds pass?

[2022-07-19 09:26] rohanKanojia commented on #4251
We need to add documentation about it. There is a pull request open that adds an FAQ about it https://github.com/fabric8io/kubernetes-client/pull/4237 .

Could you please review this and see if it's okay?

[2022-07-19 10:20] manusa commented on #4247
The NO_PROXY env var support was added in #209 to fix an issue with Fabric8 Maven Plugin (https://github.com/fabric8io/fabric8/issues/5178).

The spec was taken from http://www.gnu.org/software/wget/manual/html_node/Proxies.html

However, the GNU emacs spec does support wildcards https://www.gnu.org/software/emacs/manual/html_node/url/Proxies.html

The one for OpenShift doesn't accept wildcard cha

[2022-07-19 11:07] #4241 closed

[2022-07-19 12:14] shawkins commented on #4277
Looks good.  The test error is due to a flaky test that has since been fixed on master.

[2022-07-19 14:17] manusa commented on #4206
@shawkins addresses this issue in #4263 where the `KubernetesDeserializer` is modified so that invalid resources are deserialized into `GenericKubernetesResource` regardless of the missing  GVK **required** fields.

In his PR, the check for a non-null key is removed:

https://github.com/fabric8io/kubernetes-client/blob/a98fda9c876194adfa3bce520cb53446fa1f8f1e/kubernetes-model-generator/kubernetes-

[2022-07-19 19:04] metacosm commented on #4206
Indeed, the proposed solution of returning a `GenericKubernetesResource` might not be that helpful to diagnose any potential issue…

[2022-07-19 23:39] shawkins commented on #4277
It was brought up in a gitter chat that he's using Apache Maven 3.8.6 on mac with JDK 1.8.292.

Is there anyone else on mac that can verify this setup?

[2022-07-20 03:58] #4063 closed

[2022-07-20 23:27] yimoucao opened #4287 "istio WorkloadGroup is missed out"
### Is your enhancement related to a problem? Please describe

no

### Describe the solution you'd like

add it to istio's generators

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-07-21 15:17] shawkins opened #4289 "Raw handling"
### Is your enhancement related to a problem? Please describe

The mapping of raw values is inconsistent, and leads to other issues such as the loss of non-HasMetadata values when parsing as noted on #4263 and the need to use an unmatched type handlers for templates - #4034 as the objects are actually typed as raw.

A possible semantic issue - KubernetesResource is a root interface that could serv

[2022-07-21 20:55] jbusche opened #4290 "okhttp High Security Vulnerability in kubernetes-client 5.12.2"
### Describe the bug

We're utilizing the Fabric8 kubernetes-client 5.12.2 in our Flink Kubernetes Operator [here](https://github.com/apache/flink-kubernetes-operator/blob/main/pom.xml#L74)
But we've found a vulnerability in the okhttp version:
[code]
@mbalassi noticed that even your latest v6.0.0-RC1 still has the older okhttp version here:
https://github.com/fabric8io/kubernetes-client/blob/v6.0

[2022-07-22 05:22] manusa commented on #4290
### Context

The client uses OkHttp version `3.12.12` both in `5.12` and in the newer `6.0.0 version by default.

We've had many discussions about bumping the OkHttp client to 4 (#2764, #2632), but due to the introduction of Kotlin specific dependencies, we decided to remain on version 3. However, you can configure your project to use a different OkHttp version that the one we provide. In the _Usi

[2022-07-22 07:38] manusa commented on #3960
I've missed this issue. Last month I spent some time refactoring the Mock Server **CRUD mode** and I was thinking that we were missing something related to what's requested here.

Please check the following list of properties **for the CRUD mode** to see if we're aligned and can we establish some sort of spec to implement the missing features:
- :heavy_check_mark: Mock server supports Custom Resou

[2022-07-22 08:35] manusa opened #4291 "Create Behavioral tests for TokenRefershInterceptor provided features"
### Is your task related to a problem? Please describe

Missing tests

### Describe the solution you'd like

Tests should verify the features provided by the interceptor.
- Token reload
- ...

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-07-22 09:37] #4250 closed

[2022-07-22 11:41] shawkins commented on #3960
2. Limited support exists.  See the handling in KubernetesAttributesExtractor.  Currently the crd information is only used to determine if the resource has a status sub-resource and to determine the plural from the resource (I can't remember why that's needed).
3. Limited support exists in KubernetesServer, but not KuberenetesMockServer - you can pass a list of CustomResourceDefinitionContext.
4.

[2022-07-22 12:15] csviri commented on #4290
For Java Operator SDK created PR:
https://github.com/java-operator-sdk/java-operator-sdk/pull/1361

This is fixing the issues, in terms that all `okhttp` dependencies are now on version `4.10.0`.

[2022-07-22 13:04] manusa opened #4297 "Release Fabric8 Kubernetes Client 5.12.3"
### Tasks
- [x] Verify 5.12 branch is up to date (has the v5.12.2 tag as latest)
- [x] Merge PRs targeting this branch
  - https://github.com/fabric8io/kubernetes-client/pull/4229
  - https://github.com/fabric8io/kubernetes-client/pull/4276
  - https://github.com/fabric8io/kubernetes-client/pull/4282
- [x] Backport any outstanding issue
  - https://github.com/fabric8io/kubernetes-client/pull/4050

[2022-07-25 08:10] #3949 closed

[2022-07-25 10:07] wangyang0918 commented on #4297
Big +1 for this patch release. Apache Flink will bump the fabric8 kubernetes-client version after the release.

[2022-07-25 10:12] manusa commented on #4297
We'll try to release this week or the next.

What are your plans regarding v 6.0?

[2022-07-25 10:25] wangyang0918 commented on #4297
It seems that a lot of dependencies have changed in the v6.0. And the leader elector is also refactored. I am afraid we might need more testing on this major release. I hope it could be done in Flink 1.17 or 1.18(the release 1.16 is on the way).

[2022-07-25 12:38] csviri commented on #4256
As a workaround, adding this dependency solves the problem:
[code]

[2022-07-25 13:34] andreaTP commented on #4256
@csviri would you mind to elaborate?
`crd-generator-api` is a transitive dependency of [`crd-generator-apt`](https://github.com/fabric8io/kubernetes-client/blob/d260748304e4d282f656f650f1e055ff5b808e8f/crd-generator/apt/pom.xml#L35) and, the only reason (I can think about) why a direct dependency would fix something is because of a misconfiguration of the [shading](https://github.com/fabric8io/kub

[2022-07-25 14:14] csviri commented on #4256
Maybe @iocanel could tell more. But afik that was the conclusion at the end, that is probably something with shading.

[2022-07-25 22:09] leonz opened #4301 "v1CRDFromCustomResourceType doesn't add short name"
### Describe the bug

Hi,

I am currently using [v1CRDFromCustomResourceType](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client-api/src/main/java/io/fabric8/kubernetes/client/dsl/base/CustomResourceDefinitionContext.java#L83) to create a CRD using a class that has annotated names.

I noticed that this method does not attach the short names though it does all of the other

[2022-07-26 05:34] manusa commented on #4256
Issue might be caused by the version bump in maven-shade-plugin (#4020)

The generated `dependency-reduced-pom.xml` doesn't show dependencies for the `crd-generator-api` module.

I understand that providing a more detailed configuration would solve the issue:

https://github.com/fabric8io/kubernetes-client/blob/97c68b9d213773edb281fa873a7659b4f943bd2a/crd-generator/apt/pom.xml#L60-L73

[2022-07-26 05:37] manusa commented on #4256
Anyone knows why was a shading configuration provided in the first place?

[2022-07-26 10:14] andreaTP commented on #4256
I can reproduce and the bump of the shading plugin is really causing this issue.

I "think" that shading was added because the `crd-generator` itself depends on `kubernetes-model-common` but the shading configuration was added in the first place (it's been there since the `pom.xml` was created in this repository).

Entierly [removing the shading configuration](https://github.com/fabric8io/kubernet

[2022-07-26 10:19] iocanel commented on #4256
The shading configuration was there originally when the generator was part of dekorate.

In dekorate we decided to optionally split `annotations` and `processors` to make things more gradle friendly (which from a certain version onwards adopts some weird restrictions related to apt).

[2022-07-26 10:19] iocanel commented on #4256
BTW, dekorate uses shading plugin version 3.0.0 and we don't have this issue.

[2022-07-26 10:27] manusa commented on #4256
Yup, the bump is from 3.2 to 3.3, so I assume 3.0 shouldn't be affected.

If there's no real purpose of adding shading (I can't think of any), I would remove it.

There's also shading configuration for `java-generator-cli`, but I think this shouldn't be necessary either (assuming that `really-executable-jar-maven-plugin` takes care of making the fat jar).

My understanding is that the deploy phase

[2022-07-26 10:40] andreaTP commented on #4256
@manusa unfortunately the `really-executable-jar-maven-plugin` doesn't take care of building the uber jar.
I followed the instructions for Picocli: https://picocli.info/#_really_executable_jar

[2022-07-26 10:41] manusa commented on #4256
:+1: This means that in this case the usage of the shade plugin is justified.

[2022-07-27 09:30] #4256 closed, assigned to nobody

[2022-07-27 10:00] #4049 closed

[2022-07-27 13:37] #4246 closed

[2022-07-27 13:44] manusa commented on #4222
fixed by #4229

[2022-07-27 13:44] #4222 closed

[2022-07-27 13:58] #4297 closed

[2022-07-28 03:31] cutiechi opened #4307 "Can not generator java class from crd files"
### Describe the bug

class io.fabric8.kubernetes.api.model.apiextensions.v1beta1.CustomResourceDefinition cannot be cast to class io.fabric8.kubernetes.api.model.apiextensions.v1.CustomResourceDefinition (io.fabric8.kubernetes.api.model.apiextensions.v1beta1.CustomResourceDefinition and io.fabric8.kubernetes.api.model.apiextensions.v1.CustomResourceDefinition are in unnamed module of loader org.c

[2022-07-28 04:53] manusa commented on #4307
Unfortunately, I don't think we support v1beta1 `CustomResourceDefinition`s.

You can try to use a compatible cluster to perform a conversion for you and then use the updated CRD.

The following references might help:
- https://github.com/kubernetes/kubernetes/issues/87231
- https://redhat-connect.gitbook.io/certified-operator-guide/ocp-deployment/operator-metadata/update-crds-from-v1beta1

[2022-07-28 05:22] manusa commented on #2829
As discussed during our triage meeting, `CustomResource` was already moved to the `kuberentes-client-api` module which satisfies one of the main concerns about pulling in the full client when all you need is a dependency to this class.

Since the `CustomResource` class seems to be completely redundant and (without further analysis) only brings in the `spec` and `status` fields (to enforce/encourag

[2022-07-28 09:13] andreaTP commented on #4307
Correct, the `java-generator` doesn't currently support `v1beta1`, can you try following @manusa 's suggestions?

Out of curiosity, is the CRD you are using available? I'm wondering how many Operators are unable to generate a `v1` version of the CRD nowadays.

[2022-07-28 09:17] cutiechi commented on #4307
@manusa @andreaTP Mainly want to be compatible with k8s 1.13

[2022-07-28 09:21] andreaTP commented on #4259
I completely missed this one 😓 , looks reasonable, @rohanKanojia let me know if have any trouble picking this up 👍 the relevant line of code is this:
https://github.com/fabric8io/kubernetes-client/blob/e28f569f1552845615c4425def484edb937883cb/java-generator/core/src/main/java/io/fabric8/java/generator/nodes/JObjectExtraAnnotations.java#L27

[2022-07-28 09:24] andreaTP commented on #4307
K8s 1.13 is [EOL since 2019-10-15](https://kubernetes.io/releases/_print/#non-active-branch-history), unless there is a very very compelling motivation this is not something we can afford to support, unfortunately.

[2022-07-28 09:30] manusa commented on #4307
Try to run post your CRD to a 1.16 cluster (minikube or whatever), and download its v1beta1 version.

[2022-07-28 09:31] cutiechi commented on #4307
I successfully built with v1 version, testing compatibility with 1.13

[2022-07-28 10:31] manusa opened #4309 "Port-forward for UDP"
Mirror issue for https://github.com/kubernetes/kubernetes/issues/47862

https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/

[2022-07-28 18:43] yimoucao commented on #4287
@manusa how can I assign this issue to myself?

[2022-07-29 00:00] yimoucao opened #4312 "istio Timestamp type should be mapped to String type in java"
### Describe the bug

in istio generators, there's such code block that converts istio Timestamp to Long
[code]

according to istio doc, it will be marshaled to string in RFC-3339 string
and one example is `lastTransitionTime` on [istio offical site](https://istio.io/latest/docs/reference/config/config-status/#the-conditions-field:~:text=%3A%0A%20%20%2D%20lastProbeTime%3A%20null-,lastTransitionTim

[2022-07-29 06:36] yimoucao commented on #4287
PR https://github.com/fabric8io/kubernetes-client/pull/4311

[2022-07-29 12:00] #4259 closed

[2022-08-01 10:09] renannprado opened #4313 "JsonSubTypes not properly handled while generating CRD from Java annotated class"
### Describe the bug

**Disclaimer:** I've tried to check whether that's a limitation on the CRD spec, but I don't know for sure whether it's the case or not, so I decided to create a bug anyway.

I'm trying to generate the CRD from a Java class, but I need to use a generic type and while generating the CRD, it comes out as `object` instead of having the actual properties. Both for a `List<T>` and

[2022-08-02 01:59] #4086 closed

[2022-08-02 01:59] #4074 closed

[2022-08-02 03:12] Encounter77 opened #4315 "When I get istio resources object (Gateway, VirtualService), found ValueInstantiationException"
### Describe the bug

version info:
- fabric kubernates client version: 5.11.2
- fabric istio client version: 5.11.2
- kubernates version: 1.18.10
- istiod version: 1.11.8

### Fabric8 Kubernetes Client version

5.11.2

### Steps to reproduce

1. call fabric istio client
[code]
2. found AnalysisMessageBaseLevel null exception, value is 3
[code]

### Expected behavior

1. get istio resource success

[2022-08-02 03:15] Encounter77 commented on #4315
- jackson.version: 2.13.3

[2022-08-02 05:55] Encounter77 commented on #4315
See the enumeration contains only the property

[code]
i use `kubectl get vs xxx -n xxx -o json`, find `level` return `3`, is different from the value defined by the enumeration
[code]

[2022-08-02 16:12] #4042 closed

[2022-08-04 17:53] ChaddFrasier commented on #3795
I was getting this error recently on a corporate server. I have no access to the jenkins configurations because of that fact but I was able to get my builds to work using an additional CPU and a little extra memory. Probably not a solution to the issue but definitely a workaround for me. You may want to consider this if you need to get your builds around this issue.

Although if this fixes the iss

[2022-08-05 08:14] csviri opened #4318 "Better Lease Object Handling on Leader Election Cancel"
### Is your enhancement related to a problem? Please describe

Will describe the problem in context of operators, considering the following situation:

The controllers are deployed in a way that there are multiple instances running with leader election on. Let's say a new version of the controller is released, in this case the old ones needs to be stopped and one of the new controllers becomes the

[2022-08-05 08:19] fbi007130 opened #4319 "Exception while execute cmd in pod"
### Describe the bug

I follow the guild by https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/ExecuteCommandOnPodExample.java to execute cmd in my pod.But there is a exception.
Exception
`Exception in thread "main" io.fabric8.kubernetes.client.KubernetesClientException: An error has occurred.
	at io.fabric8.kubernetes.client

[2022-08-05 08:48] #4247 closed

[2022-08-05 12:29] shawkins commented on #4318
Makes sense.

[2022-08-05 12:49] shawkins opened #4320 "LeaderElection leader transitions"
LeaderTransitions is resetting on a change of leadership, and incrementing while holding the lock.  I think this should instead be to increment on a change and to leave the value alone will renewing.

[2022-08-05 17:43] shawkins commented on #4319
This is the root issue, when there are multiple containers it looks like the exec call needs the container name.  If you add inContainer(xxx) to the execCmd, it should work.

What mechanism are you using for that?

I see that kubectl will default to the first container if none is provided.

Looking this example over, it's also probably time to revamp it to use the exit code logic instead.

[2022-08-08 02:26] #4239 closed

[2022-08-08 02:26] jingjing0921 commented on #4239
close

[2022-08-08 02:37] fbi007130 commented on #4319
Thanks，it seems work while the inContainerner was add.
I has try it before issue raised,and it was  not worked.The reason is parameter  name in the method is 'id' but not 'name',so I just put the container id in it.Thanks.

[2022-08-08 08:32] fbi007130 commented on #4319
I try to recur the request in curl, a message was return.If the message also print in console,I think is very helpful.
`{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"a container name must be specified for pod podnamehere choose one of: [istio-init istio-proxy bbbp]","reason":"BadRequest","code":400}`
In my log of code ,there is no response body print.

[2022-08-08 08:36] andreaTP commented on #4307
Hi @cutiechi , any update on this? would you consider this issue solved?

[2022-08-08 08:39] cutiechi commented on #4307
Only use it for now

[2022-08-08 08:43] metacosm commented on #4313
I'm not sure if polymorphic lists are supported by the OpenAPI schemas either… Just a quick question, though, shouldn't the name of the sub-type in the `@JsonSubTypes.Type` annotation match what's returned by `MyImpl.getType`?

[2022-08-08 08:44] andreaTP commented on #4313
Hi @renannprado , thanks for opening this issue!
Unfortunately, at the moment, generic types are not translated into the CRD, and is probably some major piece of work to actually support them.

The best workaround you have at the moment is to specify a concrete type annotating the field with [SchemaFrom](https://github.com/fabric8io/kubernetes-client/blob/master/doc/CRD-generator.md#iofabric8crdge

[2022-08-08 08:47] andreaTP commented on #4313
Example:

[code]

[2022-08-08 08:49] #4319 closed

[2022-08-08 08:55] andreaTP commented on #4307
Please re-open or just comment if you have additional questions!

[2022-08-08 08:55] #4307 closed

[2022-08-08 11:13] shawkins commented on #4319
OkHttp is not passing that in the exception.  You'd probably have to enable debug/trace logging at the okhttp level.

[2022-08-08 13:17] metacosm commented on #4224
I have to admit that I'm a little lost on the subtleties of `required` and `nullable`… if something is not marked as `required`, shouldn't it be `nullable` by default? Conversely, if something is marked `required`, it cannot be `nullable` so I'm not sure why we need to support both… especially because then there might be conflicts i.e. what is the generator supposed to do (apart from throwing an e

[2022-08-08 15:03] pierreyvesv opened #4323 "update compatibility-matrix for kubernetes 1.24"
### Is your task related to a problem? Please describe

Hello,
Kubernetes 1.24 is not listed in the compatibility list, and it list compatibility up to Kubernetes 1.23.3
https://github.com/fabric8io/kubernetes-client#compatibility-matrix

### Describe the solution you'd like

I see that the task " Upgrade Fabric8 Kubernetes Model to Kubernetes v1.24.0 #4031 " has been done.
https://github.com/fabr

[2022-08-09 09:47] rohanKanojia commented on #4323
@pierreyvesv : Thanks for noticing! Would appreciate if you could create a PR to fix this

[2022-08-09 09:49] manusa commented on #4315
Hi @Sgitario,
Do you know what might be causing this?

[2022-08-09 10:28] manusa commented on #4320
The leader election record leaderTransitions field should only increment after a **change** of leadership.

Related client-go code in [leaderelection.go](https://github.com/kubernetes/kubernetes/blob/f0bd02ca5e1773396288149f4faab25d2f9c6dfe/staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go#L358-L363):
[code]

[2022-08-09 10:33] manusa commented on #4318
The [release](https://github.com/kubernetes/kubernetes/blob/f0bd02ca5e1773396288149f4faab25d2f9c6dfe/staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go#L287-L290) + [releaseOnCancel](https://github.com/kubernetes/kubernetes/blob/f0bd02ca5e1773396288149f4faab25d2f9c6dfe/staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go#L149-L154) feature is missing and needs to be

[2022-08-09 10:41] Sgitario commented on #4315
For some reason, the transformer didn't find the enum values for AnalysisMessageBase.Level. I will take a deeper look during this week.

[2022-08-09 10:55] shawkins commented on #4320
Yes the pr has https://github.com/fabric8io/kubernetes-client/pull/4322/files#diff-46850c90b4117631201b452d6d1b2bc5cc7de7270ccda4d69e5ac2c829938419R200

[2022-08-09 10:57] #4254 closed

[2022-08-09 11:01] shawkins commented on #4318
The pr has https://github.com/fabric8io/kubernetes-client/pull/4322/files#diff-46850c90b4117631201b452d6d1b2bc5cc7de7270ccda4d69e5ac2c829938419R120 - which takes the current record and sets the duration to 0.  It can of course be made to look like the go code, but I'm not sure why they would leave a 1 second duration or reset the acquireTime as the current is already the leader.

[2022-08-09 11:05] manusa commented on #4318
I'm not sure either, `0` might be interpreted as indefinite duration :shrug:?

In any case, I think we should port the exact behavior to avoid errors or future bugs due to inconsistent behaviors.

[2022-08-09 11:23] shawkins commented on #4318
No, the time comparison is based upon "time + duration > now" in both the go client and java client.

The go implementation must have changed a good bit - for example they are no longer relying on timestamps in the record, rather there is a local observedTime instead.

It seems like we'll need a substancial update to this code to keep in sync.

[2022-08-09 11:28] manusa commented on #4318
The following is what the OpenAPI spec says about the field.

`leaseDurationSeconds is a duration that candidates for a lease need to wait to force acquire it. This is measure against time of last observed RenewTime.`

Which does clarify how this field is intended to be used.

I was just referring to the provision of the replacement record (for the scope of this issue), and in scope of the new val

[2022-08-09 13:12] manusa commented on #4313
We're not planning on providing support for this at the moment. Does the suggested workaround work for you?

[2022-08-10 07:10] manusa opened #4327 "Fix Dependabot reported alerts in go modules"
### Describe the bug

Dependabot has reported a few alerts on our internal go module tooling

https://github.com/fabric8io/kubernetes-client/security/dependabot

### Fabric8 Kubernetes Client version

SNAPSHOT

### Steps to reproduce

n/a

### Expected behavior

No issues should be reported

### Runtime

other (please specify in additional context)

### Kubernetes API Server version

other (please

[2022-08-10 08:48] Sgitario commented on #4315
fyi https://github.com/fabric8io/kubernetes-client/pull/4328

[2022-08-10 09:06] pierreyvesv commented on #4323
Hi @rohanKanojia ,

here it is https://github.com/fabric8io/kubernetes-client/pull/4329

Regards,

[2022-08-10 09:58] metacosm commented on #3816
Would like to re-open this as this should still be addressed, imo.

[2022-08-10 10:38] renannprado commented on #4313
@manusa I didn't try to use this workaround yet, but what I did was to _manually_ add `x-kubernetes-preserve-unknown-fields` to the relevant part of the CRD definition.

How can I add `x-kubernetes-preserve-unknown-fields` in this situation?

I also don't see how this annotation would help as there are multiple implementations of `MyInterface` in my case.

[2022-08-10 10:58] andreaTP commented on #4313
@renannprado you are right, in the case of multiple implementations, it's not going to work.
[Here](https://github.com/fabric8io/kubernetes-client/blob/master/doc/CRD-generator.md#generating-x-kubernetes-preserve-unknown-fields-true) you can find the documentation on how to automatically generate `x-kubernetes-preserve-unknown-fields`

[2022-08-10 12:18] mkdev0101 opened #4331 "CVE PRISMA-2022-0239 fix required in kubernetes-client 5.4.x"
### Describe the bug

There is a CVE reported in okhttp-3.14.9.jar which is packaged in kubernetes-client 5.4.2 .

Details mentioned here : https://github.com/square/okhttp/issues/6738

This CVE is fixed in okhttp 4.10.x and need to be adopted in k8 client.
Do we have a plan to fix this CVE on kubernetes client 5.4.x ?

### Fabric8 Kubernetes Client version

5.4.2

### Steps to reproduce

https://

[2022-08-10 13:58] #4323 closed

[2022-08-10 14:03] #4320 closed

[2022-08-10 14:05] #887 closed

[2022-08-10 17:01] yimoucao commented on #4312
yes I'd love to. so you confirmed it is indeed a bug? I am no expert in istio and don't know what was considered to map it to Long by original author

[2022-08-10 22:15] renannprado commented on #4313
@andreaTP thanks for the hint.

Maybe that's out of scope and should have it's own feature, but don't you think that the `x-kubernetes-preserve-unknown-fields` should be added automatically for fields that use `JsonSubTypes` and/or `JsonTypeInfo`? IMHO that already implies `x-kubernetes-preserve-unknown-fields`.
There could be some situations where you don't want to add the `x-kubernetes-preserve-

[2022-08-11 08:10] #4206 closed

[2022-08-11 08:54] meileinb commented on #4141
try this
<dependency>
  <groupId>io.fabric8</groupId>
  <artifactId>kubernetes-client</artifactId>
  <version>6.0.0</version>
  <exclusions>
      <exclusion>
          <groupId>io.fabric8</groupId>
          <artifactId>kubernetes-model-common</artifactId>
      </exclusion>
  </exclusions>
</dependency>

<dependency>
  <groupId>io.fabric8</groupId>
  <artifactId>kubernetes-model-common</artifact

[2022-08-11 13:18] shawkins commented on #4318
closed via #4322

[2022-08-11 13:18] #4318 closed

[2022-08-11 14:20] #4315 closed

[2022-08-11 17:52] andreaTP commented on #4313
Adding `x-kubernetes-preserve-unknown-fields` is basically a workaround and I'm reluctant to automate it.

In various edge cases (e.g. `JsonSubTypes` with only one implementation) adding `x-kubernetes-preserve-unknown-fields` might mask other serialization issues and not be the correct thing to do.

@renannprado do you have a concrete proposal that can cover all the invariants? Or, would you like

[2022-08-11 18:00] renannprado commented on #4313
@andreaTP Fair enough. If you say it's not that easy, I believe in you.

But I'm intrigued by your response. If the `x-kubernetes-preserve-unknown-fields` is a workaround, what would be a proper solution here in your opinion?

[2022-08-11 19:41] andreaTP commented on #4313
This not what I'm saying 😃 I haven't looked carefully at this, it might be easier or harder than expected.

I'm not sure, but I can share my thoughts.
Since this feature is not supported by the CRD definition I'm tempted to say that it should be completely unsupported (e.g. throwing an exception) even by the generator.
Adding `x-kubernetes-preserve-unknown-fields` is a workaround as it allows any

[2022-08-12 08:11] uklance opened #4332 "KubernetesClient sends volumeName as empty string for PersistentVolumeClaim causing Forbidden: spec is immutable after creation"
I want to apply the following yaml multiple times with the [fabric8 kubernetes-client](https://github.com/fabric8io/kubernetes-client)

[code]

I apply the yaml using `createOrReplace()`
[code]

**This works the first time** (when the PVC does not exist in the namespace) **but fails the second time** that `createOrReplace()` is called for the same yaml with the following error
[code]

Notice how *

[2022-08-12 11:53] shawkins commented on #4332
The problem is the replace operation.  It is not a substitute for apply / patch.  Instead of createOrReplace you can use the new support for server side apply - https://github.com/fabric8io/kubernetes-client/blob/master/doc/CHEATSHEET.md#server-side-apply

Or you can use separate create and patch calls.

[2022-08-12 11:56] shawkins commented on #4141
@meileinb the project in question is using gradle.  If it were using maven the above is not necessary - the 5.12 and 6.0 intra-project dependencies are correct.

[2022-08-12 14:34] shawkins commented on #4289
Primarily the KubernetesResource interface exists to associate the KubernetesDeserializer annotation.  We could just as easily associated that directly with the generated model classes, rather then using a base / marker interface.

Before we more generally use the KubernetesResource interface, there is some question about generally should be a "resource" - if it really is just synonymous with HasM

[2022-08-14 10:41] renannprado commented on #4313
The validation that is built-in is not enough from my POV.
For example, I have a field where you can input a URL, which is a string. But not any string is a valid URL, so even though the type is correct, the value might still be wrong.

Moreover,

Are you suggesting to squash all fields under the same object? I mean, that could work, but at this point I would favor your last suggestion.

If I unde

[2022-08-14 13:26] ortex commented on #4113
Hi @rohanKanojia
I've made a PR https://github.com/fabric8io/mockwebserver/pull/74. Maybe you could make a code review or ask someone to do it?

[2022-08-15 10:02] kuzznya opened #4333 "Attach to pod feature"
### Is your enhancement related to a problem? Please describe

For our current project, we need the ability to attach to the container in a pod to send stdin and read stdout. If I understood correctly, currently there is no way to do it.

### Describe the solution you'd like

Implement `kubectl attach` equivalent the same way as `kubectl exec` is implemented. The main concern regarding the impleme

[2022-08-15 15:00] shawkins commented on #4333
On the ExecWatch you can access the redirected streams, which will be attached to the running process.  If you execute something like ls, that will of course terminate quickly - see also the exit code completable future.  If you for example start a shell as the exec command, that will remain open and you can continue to interact with it via the streams.

[2022-08-15 17:53] kuzznya commented on #4333
Actually this is exactly the task that I'm trying to solve. You are right and this is the way how I tried to implement this feature, but I faced one major problem with this approach: the connection can be lost (due to app failure / rescheduling / client websocket reconnection / some other problems). In that case I am unable to re-attach to the same shell, so I'm losing its context and history. Thi

[2022-08-15 18:13] shawkins commented on #4333
It may help to clarify - do you want a new process, or are you trying to attach to the main process of the pod?  It looked like in your initial description that you may have been simply wanting to open a new process/shell, which is supported.

However attach is not supported. The dsl for that would look like ...attach() - there would be no arguments for the command.

App failure or rescheduling re

[2022-08-15 18:17] kuzznya commented on #4333
I'm trying to attach to the main process (that is actually a shell) of the pod. In that case I can reconnect to the same process (with same previously defined env vars, for example).

Sorry, I didn't clarify that in my previous message - I meant rescheduling or failure of my app with k8s client, not of a pod with a shell.

[2022-08-15 18:36] shawkins commented on #4333
Sounds good.

Try adding ExecWatch attach() as a method on https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client-api/src/main/java/io/fabric8/kubernetes/client/dsl/Execable.java

Then add the attach implementation on PodOperationsImpl - you should be able to reuse most of the exec logic.

[2022-08-16 09:23] andreaTP commented on #4313
I agree that the "built-in" validation is not going to cover a lot of cases, but I just wanna mention that simple validation like URL is supported using the built-in `pattern`.

Let me say that my thoughts are not settled here, but I'm looking for something like:
[code]

Enjoy the journey!!! 🎉

no problem at all, thanks for the discussion, for the moment I would prefer to close this issue as it se

[2022-08-16 09:23] #4313 closed

[2022-08-16 11:16] uklance commented on #4332
Currently I have multiple entities in a single yaml file (seperated by "---") and I can `createOrReplace(...)` them all in a single operation.

[code]

I don't seem to have this option with serverside apply. I was hoping I could do
[code]

But I can't . What are my options for doing a server side apply for multiple entities (deployment, service, PVC etc) in a single yaml?

[2022-08-16 11:36] shawkins commented on #4332
There isn't a top level operation on a resource list for patching, but 6.0 has added the resources method to help process composite operations:

[code]

[2022-08-16 12:59] uklance commented on #4332
That sounded like it would work but unfortunately `resources()` method is not available.

[KubernetesClient.load(InputStream)](https://javadoc.io/doc/io.fabric8/kubernetes-client/5.12.3/io/fabric8/kubernetes/client/KubernetesClient.html#load-java.io.InputStream-) returns [ParameterNamespaceListVisitFromServerGetDeleteRecreateWaitApplicable](https://javadoc.io/doc/io.fabric8/kubernetes-client/5.12.

[2022-08-16 14:09] uklance commented on #4332
Ah, I hadn't realized that 6.0 was released (last time I checked it was RC). Thanks for the info, there seem to be a few changes in 6.0 so I will need to fix my compile errors with 6.0 before verifying this works

[2022-08-16 20:46] shawkins commented on #4289
There is also io.fabric8.openshift.api.model.runtime.RawExtension in the mix, which matches what was mentioned above about a specific Raw type.

Here's a refined proposal:
- Change the mapping of RawExtension to just java.lang.Object with the field marked as using KubernetesDeserializer.  That is similar to the IntOrString handling.
- introduce io.fabric8.kubernetes.api.model.runtime.RawExtension,

[2022-08-20 00:15] hkbuddy opened #4340 "KubernetesClient informer stopped silently after running couple weeks"
### Describe the bug

After running KubernetesClient informers for couple weeks, it just stopped working silently until the pod being restarted.  No logs were found related the this issue.  Or let me know how can I debug this issue. Thanks.

### Fabric8 Kubernetes Client version

5.12.3

### Steps to reproduce

run KubernetesClient informers for couple weeks

### Expected behavior

informers shoul

[2022-08-22 13:16] henrik242 opened #4342 "spring-cloud-kubernetes-fabric8-leader v2.1.3 does not refresh k8s auth tokens"
### Describe the bug

When using spring-cloud-kubernetes-fabric8-leader v2.1.3, the auth tokens against k8s aren't refreshed automatically.

### Fabric8 Kubernetes Client version

5.10.2 (according to the spring-cloud-kubernetes-fabric8-autoconfig v2.1.3 POM)

### Steps to reproduce

We are getting warnings in our GCP audit logs from our usage of spring leader election:
[code]
spring-cloud-kuberne

[2022-08-22 13:52] shawkins commented on #4340
We have informers running for weeks at a time as well and have not experienced any issue.  You can check the informer isWatching method as part of a health check and turn on debug logging if you didn't see anything at info / warn.  If the informer thinks that it's watching, but you are not getting events, then you are hitting an issue similar to https://github.com/kubernetes/kubernetes/issues/1024

[2022-08-23 05:23] hkbuddy commented on #4340
ok thanks @shawkins!  Let us add isWatching method as part of a health check and see how it goes.

[2022-08-23 08:45] andreaTP commented on #4340
I would say that it should be part of the "Ready" check, but, apart from this detail, I think this is something that can be provided by the SDK itself cc. @csviri @metacosm

[2022-08-23 12:15] manusa commented on #4109
Fixed by #4292

[2022-08-23 12:19] #4109 closed

[2022-08-23 14:04] rohanKanojia opened #4347 "Upgrade Fabric8 Kubernetes Model to Kubernetes 1.25.0"
### Is your task related to a problem? Please describe

Kubernetes 1.25.0 just got released[0]. We should update our Kubernetes Model to the latest release[1].

[0] https://github.com/kubernetes/kubernetes/releases/tag/v1.25.0
[1] https://kubernetes.io/blog/2022/08/04/upcoming-changes-in-kubernetes-1-25/

### Describe the solution you'd like

- [ ] Update Kubernetes Model to v1.25.0 release of Kub

[2022-08-23 14:07] manusa commented on #4289
As a major breaking change, in a future major release (7.x) all of the classes that currently implement `KubernetesResource` could extend `RawExtension`.

[2022-08-23 14:35] derlin commented on #3805
Any news on this ? As Red Hat announced a Java Operator SDK preview, testing finalizers and dependent resources deletion will become a common use case: [Write Kubernetes with the Java Operator SDK | Red Hat Developer](https://developers.redhat.com/articles/2022/02/15/write-kubernetes-java-java-operator-sdk#why_write_operators_in_java_)

[2022-08-24 04:38] manusa commented on #3952
https://github.com/fabric8io/kubernetes-client/pull/2788/files#r571887528

[2022-08-24 12:07] xRodney opened #4350 "@SchemaSwap can only be used once"
### Describe the bug

In the [documentation](https://github.com/fabric8io/kubernetes-client/blob/master/doc/CRD-generator.md), it is written that it is "Same as SchemaFrom, but can be applied at any point in the class hierarchy"

I also found in [this PR](https://github.com/fabric8io/kubernetes-client/pull/3797): "The annotation serves to enable the use-case where you want to generate a valid CRD

[2022-08-24 12:19] andreaTP commented on #4350
Hi @xRodney !
Thanks a lot for rising this issue, I can confirm that you are experiencing bugs that I never found the time to fix (e.g. [ref](https://github.com/keycloak/keycloak/issues/10736#issuecomment-1099295052) )
I would like to share some very very initial work I have started in the area [here](https://github.com/andreaTP/kubernetes-client/commit/f1a4132a180a994623968fc6591ac3255041eb1d), b

[2022-08-24 14:26] honnix opened #4351 "Double generation from CRD to Java and back to CRD"
### Describe the bug

I have the use case that I need to both generate CDR from Java, as well as generating Java from CDR. So I have both the annotation processor and maven plugin configured.

From what I can see, the maven plugin runs first and it generates Java code, and then the annotation processor kicks in, which totally makes sense because before compilation code needs to be generated.

The

[2022-08-25 10:23] manstis commented on #3266
+1 for this (one day)..

[2022-08-25 10:35] manstis commented on #3266
BTW, I assume (or so it appears) that this also affects `io.fabric8.openshift.client.server.mock.OpenShiftServer`.

[2022-08-25 15:38] scottmarlow opened #4353 "Improve onFailure to ignore/log RuntimeException so that all onFailure handling completes"
### Is your enhancement related to a problem? Please describe

https://issues.jenkins.io/browse/JENKINS-68234 reports a `io.fabric8.kubernetes.client.http.WebSocketHandshakeException at io.fabric8.kubernetes.client.okhttp.OkHttpWebSocketImpl$BuilderImpl$1.onFailure(OkHttpWebSocketImpl.java:66)` that is occurring that no one yet understands why it is happening.  We are seeing this same problem in [

[2022-08-25 16:12] shawkins commented on #4353
@scottmarlow I think there is a version mix up here.  The current master is likely not what is referenced in the Jenkin issue.  There's a reference to the 5.12 plugin in a comment and in the stack trace that shows PodOperationsImpl.java:332 - which lines up to the 5.12 waiting for the websocket to become ready.

Based upon the stacktrace it looks like the initial websocket request is getting a 500

[2022-08-25 16:35] scottmarlow commented on #4353
The driving issue for us using the Eclipse CI environment is that we are seeing more frequent failures like https://ci.eclipse.org/kuksa/job/build-and-publish-website-staging/2287/console (reported from https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1676 + other similar failures reported from https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1685).

A part of the https://ci.eclipse.

[2022-08-25 16:40] shawkins commented on #4353
I'm assuming that the Jenkins plugin version lines up to the fabric version.  If so, you can use tags to browse the corresponding fabric8 client source https://github.com/fabric8io/kubernetes-client/tree/v5.12.1

[2022-08-25 17:08] scottmarlow commented on #4353
Thanks, line 66 contains the `future.completeExceptionally(new WebSocketHandshakeException(new OkHttpResponseImpl<>(response, null)).initCause(t))` which looks correct.  Thanks for the help!  I'll close this now.

[2022-08-25 17:08] #4353 closed

[2022-08-25 17:20] shawkins commented on #4353
@scottmarlow in the referenced jenkins issue it looks like this is occurring with multiple containers in a single pod. The fabric8 client does not have a concept of a default container, so it's not choosing one when one is not specified - that differs from the behavior of kubectl and could be opened as an issue.  Without specifying a container that would typically lead to a "bad request" response

[2022-08-26 09:19] #4287 closed

[2022-08-26 10:19] manusa commented on #4351
Maybe you want to separate the Java Generation into a separate module. AFAIK you cannot disable an annotation processor for specific parts of the code.

So considering `yourproject` you may be able to create a:
- `yourproject-api`: Has a crd.yaml file that is processed by the plugin
- `yourproject-core`: Has whatever else that needs the crd generator APT, and a dependency to `yourproject-api`
- `y

[2022-08-26 11:43] honnix commented on #4351
@manusa Thanks for replying! Yeah that's indeed a good workaround, although it may feel slightly overcomplicated for a small code base. I think I will be fine to live with the fact that there are duplicates, which doesn't do any harm.

Please feel free to close this issue or keep it open if you plan to document this type of things.

[2022-08-26 12:03] manusa commented on #4351
We should either document this, or work on something code-wise to prevent this from happening. Maybe the CRD generator can be tuned to detect if a Java Class was generated by the client Java-Generator.

/cc @andreaTP @metacosm

[2022-08-26 13:15] shawkins opened #4355 "exec and other operations should support a default container"
### Is your enhancement related to a problem? Please describe

kubectl if you don't specify the container argument will assume the first container for operations like exec.  This may be leading to confusion / errors such as #4353 and #4319

### Describe the solution you'd like

Similar to kubectl the fabric8 client should default to the first container when working with a multi-container pod.

###

[2022-08-26 13:21] honnix commented on #4351
Right that is a possible solution. So for generated code, it is usually a good practice to use `@Generated` annotation, so something like:

[code]

So the CRD generator could look at the annotation to skip a file.

[2022-08-26 13:23] honnix commented on #4351
I guess, better to have some identity so it won't skip other generated files, `@Generated(value="io.facric8....")`.

[2022-08-26 15:58] andreaTP commented on #4351
I checked and there is, at the moment, no easy way to disable the CRD generator on a particular CRD and the separation @manusa suggested is the only viable option.

That said I'm all in for adding `javax.annotation.processing.Generated` which is indeed good practice, thanks for the suggestion @honnix 👍 .

The only suggestion(if it's not me going to implement it) is to make it configurable (even a

[2022-08-26 18:16] scottmarlow commented on #4355
Is the idea to change all calls to io.fabric8.kubernetes.client.dsl.internal.PodOperationContext#withContainerId(String containerId) to use the first containerId from an internal collection containers?  I don't know any of the internals and likely wouldn't be helpful in creating a pr but still am curious.  Thanks for opening the issue!

[2022-08-26 18:37] shawkins commented on #4355
The logic would roughly be - if a containerId is not set, get the deployment and use the first container name as the id.

If there's a concern about backwards compatibility with how we're currently doing things, then we'll only use the first container when there are multiple - probably just need to check the kubectl logic for consistency.

[2022-08-26 19:43] scottmarlow commented on #4355
:+1:

What are the possible user cases to be handled?  Perhaps something like:

1. multiple containers in a single pod.
2. single container in a single pod.
3. Something else?

[2022-08-26 21:38] shawkins commented on #4355
Just the first one is what is currently problematic wrt user expectations.  kubectl defaults to the first container, the fabric8 client does not.

However a narrow fix just for exec may not be the most appropriate - there are a lot of locations where a container may be specified so we'll need to determine all the places were defaulting is applicable.

[2022-08-27 09:29] harryyann commented on #3927
Hello, is your problem finally resolved? I encountered the same problem,  wish to hear your experience，谢谢。

[2022-08-27 13:30] SwimSweet commented on #3927
@harryyann you have a two way to solve this problem.
 1.you can add CA configuration in client.
2,add a configuration insecure-skip-tls-verify: true in kube_config like
[code]

[2022-08-29 05:52] manusa commented on #4355
I thought this was already implemented (we do have something like this on JKube for Watch and Log operations).

Summary of `exec` and other `Pod` operations proposed behaviors with regards to containers:
1. `Pod` has no `Container`s, should _&lt;blank>_
2. `Pod` has a single `Container`, the single `Container` should be used by default (no need to call `inContainer`)
3. `Pod` has a single `Contain

[2022-08-29 06:41] #3960 closed

[2022-08-29 07:27] xRodney opened #4357 "Stack overflow on multi maps (and other non-trivial generic classes)"
### Describe the bug

Hi,

while I was testing my other work (#4354) against Keycloak operator schema, I noticed another issue. The schema generation fails with StackOverflowError.

Upon closer inspection, it looks that the problematic part is their usage of concrete multi maps like so:
[code]

[code]

### Fabric8 Kubernetes Client version

6.0.0

### Steps to reproduce

Here's a minimal failing e

[2022-08-29 07:28] xRodney commented on #4357
I forgot to mention, this only happens on 6.x version, for 5.x it does not fail

[2022-08-29 07:48] xRodney commented on #4357
Here's PoC fix: https://github.com/fabric8io/kubernetes-client/commit/d62cba1f842b1603409b1f915b238d0bd6480f48

[2022-08-29 09:16] andreaTP commented on #4357
Hi @xRodney ! thanks a lot for looking into this!
Just in case you don't know about it, currently, the Keycloak operator is generating the CRD using this `crd-generator` and those are the necessary substitutions:
https://github.com/keycloak/keycloak/blob/bf1382728284c95a283c2850f34a428bcb2e7f22/operator/patch-sources.sh#L23

Regarding this issue:

This sounds like a regression in `sundrio` that sh

[2022-08-29 09:54] xRodney commented on #4357
Hi @andreaTP,
yes I know about substitutions the Keycloak team needed to implement to fix their model.
The problem is that when they upgrade to 6.0.0, their model will not compile, with or without substitutions.

At the moment, I don't see a bug in `sundrio` (regarding this issue). The faulty logic is implemented in this project.

It is possible that there was a change of behavior between versions

[2022-08-29 10:40] andreaTP commented on #4357
From what you said, it sounds like an issue with `sundrio` which should not continue to expand the value type. But I might be wrong, I'll look into this better in the next days , let me know if you have any progress on this investigation.

[2022-08-29 11:13] #4333 closed

[2022-08-29 11:22] manusa opened #4359 "Remove manual model classes with fields name `class`"
### Is your task related to a problem? Please describe

We have persisted manually generated classes because they have a property/field named with a reserved `class` name.

### Describe the solution you'd like

As a follow-up on #4358, model modules that follow this approach should be refactored

List of affected classes:
[code]

### Describe alternatives you've considered

_No response_

### Addi

[2022-08-29 14:33] Xylaant opened #4360 "HttpClient Jetty depends on JUnit - JUnit dependencyManagement is incomplete"
### Is your task related to a problem? Please describe

The HttpClient Jetty package leaks its dependencies on junit-jupiter-engine and junit-jupiter-params to downstream users.  This is because the scope tag isn't properly provided in the pom.xml  For example, see the httpclient-jdk pom.xml, which sets the scope to test, as expected.

### Describe the solution you'd like

The junit dependencies s

[2022-08-29 14:35] rohanKanojia commented on #4360
@Xylaant : Could you please raise a PR to fix this?

[2022-08-29 19:26] shawkins opened #4363 "Api methods related to patch generation"
### Is your enhancement related to a problem? Please describe

Currently PatchUtils is in the impl, so you can't normally directly call jsonDiff or the related withoutRuntimeState methods.  We may want to expose that.  Additionally there is a related problem - detecting when a resource has changed.  The ResourceCompare utility is in the api, but it currently just looks at all fields in the metadat

[2022-08-30 09:04] #4360 closed

[2022-08-30 09:13] manusa commented on #4342
Duplicate of #2112 #2271

[2022-08-30 11:12] henrik242 commented on #4342
@manusa Thanks! Am I right to assume that #4264 is the fix for this?

[2022-08-30 11:23] manusa commented on #4342
Maybe not for all cluster flavors, but for most of them yes.

It'll be part of 6.1.0 which I'm currently preparing to release.

[2022-08-30 11:30] henrik242 commented on #4342
@manusa Great work! Will there be an accompanying `spring-cloud-kubernetes-fabric8-leader` in the near future too?

[2022-08-30 11:38] manusa commented on #4342
We're not involved with that project, but I hope so.

I recall @wind57 was interested on upgrading https://github.com/spring-cloud/spring-cloud-kubernetes/issues/1048, maybe he can provide more details.

[2022-08-31 01:17] #4127 closed

[2022-08-31 07:19] brainwang opened #4367 "Support CRD Validation Expression Language (CEL)"
### Is your enhancement related to a problem? Please describe

No.

### Describe the solution you'd like

Support CRD Validation Expression Language (CEL), which was introduced in https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/2876-crd-validation-expression-language/README.md

### Describe alternatives you've considered

_No response_

### Additional context

_No res

[2022-08-31 13:57] csviri opened #4369 "Handling Forbidden (403) HTTP Status Related Shutdowns is Informers"
### Is your enhancement related to a problem? Please describe

In Java Operator SDK there is a related issue where we would like to handle the situation when an RBAC permission is either not present or in the more pressing case (related to this issue) is removed while the informer is running.
https://github.com/java-operator-sdk/java-operator-sdk/issues/1422

In the first iteration we would like t

[2022-09-01 05:08] houssem009 commented on #4246
Hello, for the feedback.
 We had problem when running our flink application cluster on kubernetes with flink HA enabled. we tried all versions (1.12, 1.13   ...)

The cluster starts normally but after one hour roughly the jobmanager pod starts to crash and when i see the logs i always find  this message "renew deadline reached after .. sec"  just before the crash.

We tried to increase the lease-d

[2022-09-01 07:59] manusa opened #4373 "Regression in NO_PROXY environment variable handling"
### Describe the bug

URIs such as `circleci-internal-outer-build-agent` are now considered illegal, configuring the NO_PROXY variable with entries such as this one will throw a (_invalid_) `KubernetesClientException`.

### Fabric8 Kubernetes Client version

6.1.0

### Steps to reproduce

1. Configure the `NO_PROXY` environment variable with `circleci-internal-outer-build-agent`
2. Execute an oper

[2022-09-01 08:35] sunix commented on #3896
is this fixed with https://github.com/fabric8io/kubernetes-client/pull/3937 ?

[2022-09-01 08:40] manusa commented on #3896
No, see https://github.com/fabric8io/kubernetes-client/issues/3896#issuecomment-1066739461.

It would be nice to have a DSL method to perform the Server Side Apply logic, instead of manually configuring the patch.

[2022-09-01 09:22] #4373 closed

[2022-09-01 10:52] iocanel commented on #4357
@xRodney @andreaTP: It does seem like a sundrio issue. Can you please raise an issue there? Meanwhile, you may be able to work around the issue by moving the spec to its own class.

[2022-09-01 10:53] Sparker0i opened #4375 "Alternative to oc whoami --show-token"
When I login to my cluster using a username+password combo in the OC CLI tool, I am able to do `oc whoami --show-token` and it displays the OAuth Bearer token with which I am logged in and which is used by the tool to make requests to the cluster.

Using this Openshift-Client library v5, I write a code like this to login to the cluster:

[code]

Is there a way we can programatically get access to

[2022-09-01 10:55] stupid-yu opened #4376 "How Can I Use URL to Files to Create The Resource"
Hello，Is there any Implementation for this api

[2022-09-01 11:13] rohanKanojia commented on #4376
@stupid-yu : You mean download a file and then create resource?

[2022-09-01 13:12] scottmarlow commented on #4355
What is the impact of this issue if I have two (Jenkins pipeline defined) containers, the first is called `[jakartaeetck-ci](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/Jenkinsfile#L44)` and the second is called `[james-mail](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/Jenkinsfile#L35)`.  Please assume that my first container `jakartaeetck-ci` is considered the main (te

[2022-09-01 13:37] stupid-yu commented on #4376
@rohanKanojia yes，just like the case as follow
`kubectl apply -f https://raw.githubusercontent.com/flannel-io/flannel/master/Documentation/kube-flannel.yml`

[2022-09-01 15:14] rohanKanojia commented on #4367
Umm, we already seem to have this in our model:

https://github.com/fabric8io/kubernetes-client/blob/d6e6cc35c689f5dd1920d95a73aa77174a645f43/kubernetes-model-generator/kubernetes-model-apiextensions/src/generated/java/io/fabric8/kubernetes/api/model/apiextensions/v1/JSONSchemaProps.java#L198-L199

Have you tried this on Kubernetes 1.25.0 cluster?

[2022-09-02 00:53] stupid-yu commented on #4376
Agree with u,Thanks a lot.

[2022-09-02 00:53] #4376 closed

[2022-09-02 01:48] hboutemy opened #4380 "generate Reproducible output for model-generator"
### Is your task related to a problem? Please describe

Kubernetes Client output is not Reproducible: https://github.com/jvm-repo-rebuild/reproducible-central/blob/master/content/io/fabric8/kubernetes-client/README.md
there are multiple root causes, some have already been fixed, here I'm focusing on generated source code for models

### Describe the solution you'd like

code seems to be generated

[2022-09-02 02:22] wangyang0918 commented on #4246
@houssem009 Thanks for your feedback. I think the description of this PR has explained why your issue could happen. Imagine that some network problems happened and threw a `KubernetesClientException` when executing `tryAcquireOrRenew`, the `timeoutExecutorService` will swallow the exception. Then `renewSignal` will never be counted down and then timed out.

I am not sure whether we could release a

[2022-09-02 08:25] sunix commented on #3733
Hi @hossman,
I managed to reproduce the issue in a unit test and I am proposing this fix https://github.com/fabric8io/kubernetes-client/pull/4381
Let me know if it works for you.

[2022-09-02 10:30] houssem009 commented on #4246
@wangyang0918 thanks for the response , but i was wandering how did this become an issue just until now, because i tested all previous versions (prior to the 1.16-snapshot) and they all have the same problem that i mentioned in my previous post.
 As far as i know  this feature is used in production environment since the 1.12 Flink version , so am i the only who had faced this problem? i just want

[2022-09-02 17:39] hossman commented on #3733
I haven't tried out either PR, because frankly I didn't feel like it was worth my time to help test out any solution that continues to use `String.join(...)` on arguments passed to `ProcessBuilder`.  It's terribly bad smelling code, and any "fix" that keeps it around is almost certainly just a bandaid over the larger problem of how this code is invoking sub-processes with (or w/o) arguments.

If y

[2022-09-03 20:48] markusheiden commented on #3733
@sunix I didn't test your code (no time yet) but it looks very similar to my patch. Thus I assume it should fix the problem.

@hossman I agree that the code quality of the ProcessBuilder-related stuff could be better: Instead of joining strings, one could simply add the args to the `argv` list after the command. I don't understand your issue about the bug report though. The problem is described cl

[2022-09-05 02:39] wangyang0918 commented on #4246
@houssem009 I think it should be related with your network environment. Actually, we(alibaba cloud) have more than 500 Serverless Flink customers who are using the community Flink K8s HA and this issue only happened once in the past one year. And it is caused by the network instability issue.

If you start a Flink job on the AWS EKS cluster, you will also find it could run smoothly for more than o

[2022-09-05 06:26] karthickm512 opened #4383 "Snakeyaml version should be updated to mitigate CVE-2022-28857"
### Describe the bug

Snakeyaml is impacted by DoS vulnerability as described in CVE-2022-25857 and fabric8 kubernetes-client uses the impacted version of snakeyaml. It should be updated to latest 1.31.

### Fabric8 Kubernetes Client version

6.1.1

### Steps to reproduce

Check the pom file for version :)

### Expected behavior

Stepup the dependent 3pp version

### Runtime

Kubernetes (vanilla)

[2022-09-05 07:14] houssem009 commented on #4246
@wangyang0918 hopefully this issue fixed the problem. We will wait for the 1.16.0 version to be released and tested on production in order to be assured once for all.

Thanks.

[2022-09-05 07:18] fabiobrz opened #4384 "[java-gen] - Generated Java model should include new specific annotations (min, max, etc.)"
### Is your enhancement related to a problem? Please describe

[Support for specific annotations](https://github.com/fabric8io/kubernetes-client/pull/4348) (e.g.: `@Max`, `@Min`, `@Pattern`, etc.), was added recently but the Java generator doesn't generate any of such annotations.

### Describe the solution you'd like

The Java generator should take the related keywords into account when they appe

[2022-09-05 08:41] fabiobrz opened #4385 "Building the master branch fails due to generator-annotations 6.1-SNAPSHOT version"
### Describe the bug

After https://github.com/fabric8io/kubernetes-client/pull/4348 was merged, the `master` branch doesn't build anymore, being the module version (6.1-SNAPSHOT) different from the default one required by depending modules (e.g.: crd-generator), i.e. 6.2-SNAPSHOT.

### Fabric8 Kubernetes Client version

SNAPSHOT

### Steps to reproduce

1. git clone git@github.com:fabric8io/kuber

[2022-09-05 09:54] karthickm512 commented on #4383
@manusa

[2022-09-05 10:13] #4385 closed

[2022-09-05 12:26] andreaTP opened #4388 "SharedInformer failure on reconnect can kill the watcher"
### Describe the bug

@lburgazzoli reproduced an issue where a `SharedInformer` fails to restart.

From the logs, I think that this sequence of events is happening:
- a `SharedInformer` lose connection with the API server
- the retry mechanism kicks in but it triggers Rate Limiting
- the Rate Limiting kills definitely the SharedInformer

Note that this error happens using the Quarkus extension for

[2022-09-05 13:23] sunix commented on #3733
@hossman I think it is worth creating a separate issue. IMHO, it is not that straight forward, the process builder is invoking already `sh`, `-c`, and the subcommand + args as one argument.

[2022-09-05 15:03] shawkins commented on #4388
This is described in and addressed by #4365

[2022-09-06 05:32] own-idea opened #4391 "Config.fromKubeconfig does not respect the result of method loadFromKubeconfig"
### Is your enhancement related to a problem? Please describe

the method `fromKubeconfig` in Config class ignore the method `loadFromKubeconfig` result, it maybe inappropriate.
[code]

### Describe the solution you'd like

we should throw exception when the method `loadFromKubeconfig`  return false. Absolutely, the change is breaking.

### Describe alternatives you've considered

_No response_

#

[2022-09-06 06:42] Jatinkhatri-hub commented on #4391
Hi, I am new to open source and would like to work on this issue. Can you help me how to get started?

[2022-09-06 06:55] own-idea commented on #4391
you may see [the comment](https://github.com/fabric8io/kubernetes-client/issues/2404#issuecomment-674806565)

[2022-09-06 07:32] Jatinkhatri-hub commented on #4391
Thanks for your help.

[2022-09-06 09:00] fabiobrz opened #4394 "[crd-gen] - AbstractJsonSchema.SchemaPropsOptions.getRequired returns the wrong filed value"
### Describe the bug

By looking at the [sources](https://github.com/fabric8io/kubernetes-client/blob/master/crd-generator/api/src/main/java/io/fabric8/crd/generator/AbstractJsonSchema.java#L160), it seems the `getRequired()` getter is wrongly implemented, since it currently returns the value of the `nullable` field rather than the one of `required`.

### Fabric8 Kubernetes Client version

other (

[2022-09-06 09:45] iocanel commented on #4357
It seems that for some reason, sundrio has a hard time dealing with:

[code]

Still investigating.

[2022-09-06 10:38] Jatinkhatri-hub commented on #4391
@own-idea  I am not fully able to understand what the issue is can you describe the issue a little bit more?

[2022-09-06 12:32] metacosm opened #4396 "`HasMetadata.getFullResourceName` should provide more information if it fails"
### Is your enhancement related to a problem? Please describe

If you forget to annotate your custom resources with `@Group` or `@Version`, calling `getFullResourceName` will probably fail with an NPE, however not much information is provided about what's wrong and it's not obvious without looking at the code.

### Describe the solution you'd like

Just provide more details about why the call fail

[2022-09-06 14:40] shawkins commented on #4388
Sorry I was mis-remembering the state of the code.  In 5.12 it's still the watch manager that is handling this retry.  Do you see the watch / informer completely stopping? Or is it just that you keep getting the too many requests responses for a while?  The informer watcher should get unlimited reconnect attempts.

I can't seem to find the existing issue, but in general the client does not handle

[2022-09-06 16:28] xRodney commented on #4357
There really is a bug in sundrio. It took me a while to simulate it, but I was successful in the end.
Interestingly, kubernetes-client does not directly use the code that causes the error. Instead, it copy/pastes the relevant parts (including the bug).
Of course, we'll see what the sundrio maintainers have to say about it, but right now I think the best course of action would be to fix it in sundr

[2022-09-07 09:36] #4394 closed

[2022-09-07 14:11] #4243 closed

[2022-09-08 00:38] OneCricketeer commented on #3870
@fabiobrz

No, this issue was requesting to add POJO annotations, unrelated to YAML/OpenAPI spec/schema validation, but POJO's created from those YAML files.

[2022-09-08 07:47] own-idea opened #4400 "BackwardsCompatibilityInterceptor add support for cronJob batch/v1"
### Is your enhancement related to a problem? Please describe

when i use `client.batch().v1().cronjobs().inNamespace("demo").withName("demo").`, but kube-apiserver don't have batch/v1 version only v1/beta1. I think we may add the support.

### Describe the solution you'd like

add the code below in class `BackwardsCompatibilityInterceptor`
[code]

### Describe alternatives you've considered

_No

[2022-09-08 08:25] heesuk-ahn opened #4401 "[refactor] refactoring `TokenRefreshInterceptor`"
### Is your enhancement related to a problem? Please describe

I want to improve the TokenRefreshInterceptor code. :)

* Code improvements
  * `setLastRefresh` written for testing only
  * code readability

### Describe the solution you'd like

* refactoring purpose
  * should remove `setLastRefresh` method for testing only
  * should improve code readability

### Describe alternatives you've cons

[2022-09-08 08:55] #4350 closed

[2022-09-08 09:01] heesuk-ahn commented on #4401
I opend pull-request (https://github.com/fabric8io/kubernetes-client/pull/4402) :)

[2022-09-08 09:34] andreaTP commented on #4357
@xRodney can you please test everything out on top of this PR: #4403 ?

[2022-09-08 09:52] #4359 closed

[2022-09-08 10:44] fabiobrz commented on #3870
Thanks @OneCricketeer - I think I just worded my question badly, sorry about that.
Yes, what I meant is this issue is about generating validation related annotations on generated POJOs. I added a reference to a YAML as an example for the related OpenAPI schema properties.

[2022-09-08 13:31] OneCricketeer commented on #3870
@fabiobrz  Sorry, I still don't understand.

Look at the links in the original issue description. The min max and pattern fields **are** part of the openapiv3 schema section of those crds

[2022-09-08 13:41] OneCricketeer commented on #3870
Relates to

- #4348
- #4384

[2022-09-08 14:25] fabiobrz commented on #3870
Hi @OneCricketeer - I think we're on the same page. I've looked at the links in the description already. This issue is for tracking the work needed to make java-gen support the generation of "validation" annotations, like for instance `@Pattern`.

Solving the two issues that you linked above (#4348 and #4384) _will not_ solve this very issue, because they will support the generation of Fabric8 ann

[2022-09-08 15:00] OneCricketeer commented on #3870
@fabiobrz One of the linked tickets discussed doing away with JavaEE annotation dependency (I recall someone called them deprecated or abandoned, or bloat...?) and thus why the new annotation module was created to keep external dependencies at a minimum.

[2022-09-08 15:12] OneCricketeer commented on #3870
Fine by me. Moving discussion to https://github.com/fabric8io/kubernetes-client/issues/4384

[2022-09-08 15:12] #3870 closed

[2022-09-08 16:59] #4369 closed

[2022-09-08 17:12] manusa commented on #4357
I'm confused, does #4403 fix this one (as the PR description says), or are there some pending tasks to complete the fix?

[2022-09-08 17:27] #4380 closed

[2022-09-08 17:32] andreaTP commented on #4357
@manusa it "should" fix the issue, but it has not been tested against a complex scenario like the Keycloak `RealmRepresentation`, let's wait a few days if @xRodney is available to provide feedback on the current status.

[2022-09-08 17:35] manusa commented on #4400
Although the interceptor covers similar cases for other resources such as Deployment, DaemonSet, and so on, it's main purpose is/was to provide compatibility with older OpenShift clusters.

I'm or very fond of the other intercepts where we _"desperately"_ try to operate with resource structured using a new version schema, with an older one.

That said, have you compered the structure/schema of Cro

[2022-09-08 17:36] manusa commented on #4357
:+1: We'll wait for his feedback then. Tonight's SNAPSHOT should contain the new dependency.

[2022-09-08 18:03] #4396 closed

[2022-09-08 20:46] shawkins opened #4408 "Informer initial start exception handling"
### Is your enhancement related to a problem? Please describe

The startup of an informer is treated differently than exception handling once it is running.  On startup any problem with the initial list or watch will be treated as a hard failure, while later on it will keep retrying.  See also #4365

### Describe the solution you'd like

To conform with the go client we should let the informer sim

[2022-09-09 09:23] xRodney commented on #4357
No, it's not fixed.

The fix in sundrio only applies to their `TypeArguments` util. It is not used in `crd-generator`, I wrote that it is a duplicate of code from this repo.
So either crd-generator should migrate to `TypeArguments`, or apply the fix to its own code.

To complicate thigs ever further, I am not fully convinced that the fix sundrio#333 is, in fact, correct. What they did was to repla

[2022-09-09 09:29] andreaTP commented on #4357
Thanks a lot, @xRodney for getting back to this!
Let me know your findings and, next week, I will try to better assess myself what's going on here.

Meanwhile cc. @iocanel for some additional help 🙏

[2022-09-09 09:34] own-idea commented on #4400
thank for your reply. I compared CronJob `v1` and `v1beta1` , it seems compatible.

[2022-09-12 07:33] #4162 closed

[2022-09-12 07:33] #4157 closed

[2022-09-12 08:34] #4177 closed

[2022-09-12 10:48] derlin commented on #4367
How can you add this annotation in generated CRDs using CRDGenerator ?

[2022-09-12 10:57] rohanKanojia commented on #4367
I'm not sure we have support for this in java or crd generator. @andreaTP @metacosm Do you have some idea about this?

[2022-09-12 12:36] fabiobrz opened #4411 "Comment based CI checks"
### Is your task related to a problem? Please describe

Currently there's no way to trigger the project CI checks for PRs other than pushing changes or closing/reopening a PR.

Both the solutions above seem not to fit properly since:
1. pushing changes might be undesirable and confusing, once a PR has been reviewed and approved already
2. closing/reopening allows for running the CI checks as many

[2022-09-12 13:28] Anusha-Kolli commented on #3795
Hi, we are facing same issue.  We are using
kubernetes pluging: 1.31.3
Jenkins server: 2.319.3

Our pipelines are failing with above error.

- Tried updating plugins to recent versions.
- Updating jenkins to 3.346.3
- downgrading plugins as mentioned above
- completely destroying and recreating
Nothing seems working here. Please suggest

[2022-09-12 14:05] manusa commented on #4411
I'm not sure if there's a built-in way for GH Actions to react to PR comments or something similar. If there is, then certainly this can be a good addition (also as long as the 'approve test run' action has been performed by maintainers -> crypto mining, etc.)

If it's not possible, then creating this could be done, but would require hosting a webhook listener with the required repo permissions el

[2022-09-12 14:30] fabiobrz commented on #4411
Thanks for your feedback @manusa

+1, thanks. I'll have a look around since I am collecting some knowledge for a similar issue elsewhere.

+1, at such point closing/reopening would be one acceptable tradeoff.

Correct, although I found myself in this situation in the morning after I had green CI checks, the PR reviewed and approved, but pushed to squash commits.

[2022-09-12 14:39] fabiobrz commented on #4411
BTW - this looks promising, the job could discriminate based on the actual comment phrase, and quit if not matching any of the allowed values: https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#issue_comment-on-issues-only-or-pull-requests-only

I could report after I experiment on a fork that I own, since it seems this would only work on the default branch.
FYI @manu

[2022-09-12 19:26] bradbm commented on #4331
This looks like a duplicate of
https://github.com/fabric8io/kubernetes-client/issues/4290

[2022-09-13 10:02] xRodney commented on #4357
Update: I have made a PR to sundrio, fixing the issue (sundrio/sundrio#340). I have also made a PR here, which however relies on the changed code, so it won't compile for you. But locally it seems to be working.

[2022-09-14 05:33] #4130 closed

[2022-09-14 05:33] #2806 closed

[2022-09-14 05:33] #3765 closed

[2022-09-14 05:33] #3704 closed

[2022-09-14 08:55] howshit opened #4416 "informer not invoking the event callbacks anymore"
### Describe the bug

Hi there,

we are using io.fabric8:kubernetes-client:5.10.2 to connect to kubernetes clusters.
we've defined some CRDs, and use the informer from fabric8 to attach callbacks to the add, update and delete events of the CRs.
and we've encountered some issues recently, the callbacks are not invoked anymore after the api server gets restarted(sometime the reconnect is successfull

[2022-09-14 22:35] shawkins commented on #4416
This bug is specific to 5.10.2.  It was introduced by some refinements to the general requestFailure handling.  I believe any version starting with 5.11 addresses this.

[2022-09-15 03:32] pratapgowda007 opened #4418 "KubernetesClientException if Wildcard (*) in NO_PROXY environment variable"
### Describe the bug

If the NO_PROXY environment variable contains wildcards, a KubernetesClientException is thrown when attempting to create a KubernetesClient. 

`KubernetesClient kubernetesClient = new KubernetesClientBuilder().build();`

If the NO_PROXY environment variable has wildcards, for example ***.domain.com**, then client creation is failing with the below exception.

`io.fabric8.kube

[2022-09-15 03:34] pratapgowda007 commented on #4418
Similar to [Wildcard (*) in NO_PROXY environment variable is not honored](https://github.com/fabric8io/kubernetes-client/issues/2506)

[2022-09-15 06:47] foxinmy opened #4419 "【BUG】Builder class will loss some propertys when use annotation"
### Describe the bug

model class（fabric8 maven plugin generated）：
[code]
builder class（sundrio maven plugin generated）
[code]

crd file:
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/manifest/crds/sparkoperator.k8s.io_sparkapplications.yaml

maven pom(important section)：
[code]

### Fabric8 Kubernetes Client version

6.1.1

### Steps to reproduce

[untitled1.zip](https:

[2022-09-15 09:58] #4384 closed

[2022-09-15 13:44] shawkins commented on #4418
@pratapgowda007 see #4247 - the outcome there was to keep the no proxy matching as simple as possible and not support any meta characters.

[2022-09-15 13:57] manusa commented on #4418
This is the expected behavior and honors the spec in https://www.gnu.org/software/wget/manual/html_node/Proxies.html

[2022-09-15 16:00] #4416 closed

[2022-09-15 18:09] jeesmon commented on #4383
@manusa Will this fix be backported to 5.12 branch? Thanks.

[2022-09-15 18:29] andreaTP opened #4423 "[java-generator] Support custom transformations on the code emitted"
### Is your enhancement related to a problem? Please describe

The `java-generator` seems to be stable enough to produce a useful output for most use cases.

Still, we started to entertain discussions on how the output can be improved and tweaked e.g.:
from @manusa :
[code]
also requested ( @OneCricketeer IIRC):
[code]

### Describe the solution you'd like

To support those specific transformation

[2022-09-15 18:43] OneCricketeer commented on #4423
You recall correctly 😊

I'm doing JS/TS code now (gross, I know), so my time doing Java things is very minimal anymore. 😢

[2022-09-15 20:13] andreaTP commented on #4419
Hi @foxinmy !
Thanks for filing this issue! As you already narrowed down the issue to be `sundrio` specific, I would propose to close this issue as duplicate. Do you see anything we should do about it in this very project? (Considering we are constantly upgrading `sundrio` versions)

[2022-09-15 20:13] andreaTP commented on #4419
cc. @iocanel

[2022-09-15 20:19] andreaTP commented on #4423
@OneCricketeer your input is still very valuable and welcome! 🙂

[2022-09-16 04:38] pratapgowda007 commented on #4418
Thanks, @shawkins and @manusa, for the quick response. So the GNU Emacs Spec was not considered to keep no_proxy matching as simple as possible and not to support any meta characters.

I'll change my NO_PROXY settings to not have any wildcards and proceed.

[2022-09-16 06:44] manusa commented on #4383
Yes, it should be

[2022-09-16 07:08] manusa commented on #4331
Closing as duplicate

[2022-09-16 07:08] #4331 closed

[2022-09-16 09:24] ido2021 opened #4426 "how to deal with the crd field x-kubernetes-preserve-unknown-fields"
### Describe the bug

I followed the instructions of [Generating Java from CRD](https://github.com/fabric8io/kubernetes-client/blob/master/doc/java-generation-from-CRD.md) and used Dapr's [Component CRD](https://github.com/dapr/dapr/blob/master/charts/dapr/crds/components.yaml)  to generate Java source code.

The CRD has a `value` field that uses `x-kubernetes-preserve-unknown-fields: true`, and t

[2022-09-16 20:05] andreaTP commented on #4426
Hi @ido2021 , thanks a lot for this bug report!
From a first look this seems like a legit bug in the generator, I'll take a closer look next week.

[2022-09-16 20:05] ido2021 commented on #4426
来信已收到，我看到后会尽快答复你的

[2022-09-16 20:14] andreaTP commented on #4419
Looking again at this issue and there is nothing we can do about it in this project.

More specifically you are using the `sundrio` Maven plugin and not the generated annotations.

I'll close this one, feel free to re-open or file another one if we can act upon in this repo.
Thanks!

[2022-09-16 20:14] #4419 closed

[2022-09-17 09:12] ido2021 commented on #4426
@andreaTP  thank you for your reply, I look forward to your results

[2022-09-19 02:00] foxinmy commented on #4419
@andreaTP       this  config   <extraAnnotations>true</extraAnnotations>  is **true** ， please see the complete project ：）

[2022-09-19 09:52] rohanKanojia commented on #3700
@mattrpav : I have a question in the context of https://github.com/fabric8io/kubernetes-client/issues/3864 . Do you have some reproducer project which I can try out and reproduce for ManagedOpenShiftClient?

[2022-09-19 10:05] andreaTP commented on #4419
@foxinmy I took a look at the attached project and everything looks consistent to me.

E.g. this code compiles:
[code]

Can you please elaborate on your use-case and the code that you wanna write but is not allowed?

[2022-09-19 11:07] foxinmy commented on #4419
@andreaTP
fabric8 maven plugin generate java class from crd file:
[code]
but expect like this:
[code]

throw exception when use kubernetesClient create resources
[code]
debugging code found that this SparkApplicationBuilder(SparkApplication instance)  constructor will be invoking by reflection

:） thanks.

[2022-09-19 12:02] andreaTP commented on #4419
@foxinmy I am sorry to say that this is not clear to me.

What is the use case?
What's the error/stack trace?
Why is reflection an issue?
Can you, please, attach a reproducer that throws the mentioned error?
Why do you think that there are missing instructions?

In addition, I want to notice that the `Builder` interface is generated by `sundrio` and there is very little we can do about it in this

[2022-09-19 14:38] rohanKanojia commented on #3700
@mattrpav : I wanted to ask another question, Have you upgraded to Fabric8 Kubernetes Client 6.x version and checked whether this fix is working for you?

I'm trying to prepare a reproducer for https://github.com/fabric8io/kubernetes-client/issues/3864 but at the moment I'm getting this exception with ManagedKubernetesClient:
[code]

I'm not sure whether I'm using `ManagedKubernetesClient` correct

[2022-09-19 15:48] mattrpav commented on #3700
@rohanKanojia I don't use OpenShift, so not sure how it'll behave.

I'm happy to test out 6.x-- it'll be a bit later this week. I've got 3 other oss fixes in the queue.

[2022-09-19 16:06] rohanKanojia commented on #3700
@mattrpav : You don't have to worry about OpenShift. I will fix that as part of #3864

My question is regarding your OSGI project setup in ManagedKubernetesClient (any rough code snippet would be super helpful). I can replicate that onto OpenShift. Could you please review my reproducer to see if's trying to reproduce correctly?

[2022-09-20 09:14] manusa commented on #4418
To close the issue, we need to add a note in the CHANGELOG.md file and in the GitHub release indicating the behavioral breaking change.

[2022-09-20 09:24] manusa commented on #4400
Would you like to create a PR with this change?

[2022-09-20 09:31] manusa commented on #4375
Have you tried this:
[code]

Maybe the token is accessible in one of those.

[2022-09-20 09:35] manusa commented on #4367
Relates to https://github.com/fabric8io/kubernetes-client/pull/4348

[2022-09-20 09:38] own-idea commented on #4400
yes

[2022-09-20 10:21] AbdelrhmanHamouda commented on #2271
Hello,
Any update on this? critical parts of our operations are impacted and the 90 days grace period allowed by EKS to ensure compatibility is running out.
Thanks in advance,

[2022-09-20 13:06] rohanKanojia commented on #470
@lburgazzoli : Do you still have this project available https://github.com/lburgazzoli/fabric8-karaf-k8s locally or maybe something similar to it? I'm trying to use ManagedKuberntesClient in an osgi project but I keep getting NPE.

[2022-09-20 13:11] lburgazzoli commented on #470
@rohanKanojia unfortunately not :(

[2022-09-20 13:12] rohanKanojia commented on #470
oh, okay. Thanks for quick reply

[2022-09-20 15:43] victornoel commented on #2271
@AbdelrhmanHamouda I believe it was fixed in https://github.com/fabric8io/kubernetes-client/pull/4264 and shipped with 6.1.0.

[2022-09-20 17:03] AbdelrhmanHamouda commented on #2271
thanks @victornoel, this is a great help.

[2022-09-21 02:59] aiman-alsari commented on #2271
Thanks Victor, I'll close the issue seeing as it has been fixed and merged.

[2022-09-21 02:59] #2271 closed

[2022-09-21 07:06] manusa opened #4434 "Update CronJobIT integration test to use CronJob v1 instead"
Follow-up update this test to use CronJob v1 instead

_Originally posted by @manusa in https://github.com/fabric8io/kubernetes-client/pull/4377#discussion_r976121200_

[2022-09-21 07:19] #4347 closed

[2022-09-21 07:20] manusa commented on #4327
[Dependabot alerts](https://github.com/fabric8io/kubernetes-client/security/dependabot) are clear now :heavy_check_mark:

[2022-09-21 07:20] #4327 closed

[2022-09-21 07:55] rohanKanojia opened #4435 "Update Compatibility Matrix to add support for Kubernetes 1.25"
### Is your task related to a problem? Please describe

https://github.com/fabric8io/kubernetes-client/pull/4377 added support for Kubernetes 1.25 to Kubernetes Model. We should update the compatibility matrix while making the next minor release.

### Describe the solution you'd like

- [x] After 6.2.0 is released, update [Kubernetes Client Compatibility matrix](https://github.com/fabric8io/kubern

[2022-09-21 07:58] manusa opened #4436 "Update PodEvictIT integration test to use PodDisruptionBudget v1 instead"
Follow-up: update this test to use PodDisruptionBudget v1 instead

_Originally posted by @manusa in https://github.com/fabric8io/kubernetes-client/pull/4377#discussion_r976168572_

[2022-09-21 09:30] WishTimeLe opened #4437 "Pod execWatch exec method shell execution result is incorrect"
### Describe  Problem
The scenario is to perform shell conditional filtering by grep, but the effect is not satisfactory.
I suspect the request param is forcibly overwritten by single quotes.

### Fabric8 Kubernetes Client version
5.1.1

### Results show
![image](https://user-images.githubusercontent.com/59165885/191467691-3f0d4587-ab27-4546-9a41-c02723d5dbf1.png)
![image](https://user-images.gith

[2022-09-21 10:28] rohanKanojia commented on #4437
@WishTimeLe : We have improved our exec a lot in 6.x versions of client. Is it possible for you to migrate to latest version?

[2022-09-21 15:57] #4167 closed

[2022-09-22 02:08] WishTimeLe commented on #4437
@rohanKanojia：I just tried to upgrade the Client version to 6.1.1 with the same result

[2022-09-22 10:54] rohanKanojia commented on #3700
@mattrpav : polite ping, Did you manage to find time to look into this? It would be really helpful if you could provide a simple reproducer .

The [reproducer](https://github.com/rohankanojia-forks/kubernetes-client-osgi-demo) I prepared doesn't seem to be calling `ManagedKubernetesClient.activate()` method which results in NPE

[2022-09-22 11:23] #3733 closed

[2022-09-22 11:25] shawkins commented on #4437
@WishTimeLe the current logic treats each string after the first as an argument to that command - not as part of a separate shell command.  I believe you have to do this as an argument to sh: exec("sh", "-c", "df -h | grep tmpfs")

[2022-09-22 14:04] rohanKanojia commented on #2829
@manusa : Why is this reopened?

[2022-09-22 14:06] manusa commented on #2829
https://github.com/fabric8io/kubernetes-client/issues/2829#issuecomment-1197676790
Needs to be addressed.

This issue is open in the interim while creating a proper issue to address what was agreed upon.

[2022-09-22 14:55] wind57 commented on #2445
sure! If I see it again, will create a reproducible example.

[2022-09-22 17:43] danpfe opened #4441 "Patching of a Custom Resource does not work in v6.1.1"
Have a custom resource, defined as:

[code]

When I do `client.resource(some_Default_Resource_Such_As_A_Pod).patch();` it works just fine, doing the same on the above custom resource simply does nothing.

Doing it the old and deprecated way `client.customResource(Sample.class).inNamespace("default").withName("something").patch(myCustomResource);` works, however.

Is this a bug or am I misunderstan

[2022-09-22 18:35] danpfe commented on #4441
Don't know if that helps but here is the "sample-operator" that I updated to 6.1.1 and that I used as template to build other operators (that worked with the legacy API): https://github.com/codelair-io/example-k8s-operator-java/blob/master/src/main/java/io/codelair/examples/kubernetesoperator/model/Sample.java

[2022-09-22 19:57] apiwoni commented on #2271
I think provided solution is more of a brute force approach to refresh service account token every minute. Could we attempt to test for recommended `expires_in` before preemptively refreshing token or just let it fail and then refresh access token and retry?

[2022-09-22 20:11] andreaTP commented on #2271
@apiwoni I haven't looked at the current implementation but your question does make sense to me. Would you be able to get a PR together for this improvement?

[2022-09-22 20:12] mikebell90 commented on #2271
I believe that will break the metrics . Please read the kep. There may be extended tokens for a year but not reareading and reapplying every minute violates the kep

[2022-09-22 20:13] mikebell90 commented on #2271
It is very similar to the original “let’s wait for a 403 approach” already demonstrated to be incorrect

[2022-09-22 21:57] shawkins commented on #4441
@danpfe @rohanKanojia the logic is the same either way.  I think there's a problem no matter which resource type you use.

This is a regression with #4142 I think the intent of the change was so that patch(item) methods would be against the current item, rather than what was from the server - resource(item1).patch(item2) will create a diff between item1 and item2, which is also consistent with how

[2022-09-22 22:01] apiwoni commented on #2271
@mikebell90 Does any of this really applies in cases where client provides access token without using KUBECONFIG but rather by getting it via custom API? I know duration of my access tokens.
Microsoft Azure Ad does not provide refresh tokens for Oauth client credentials flow so I need to generate new token when it expires.  It does not seem I can use OpenIDConnectionUtils#resolveOIDCTokenFromAuthC

[2022-09-22 22:04] mikebell90 commented on #2271
Only to serviceaccount tokens AFAIK. What I would suggest is making the default remain 1 minute but allow configuration in a. builder somewhere.

[2022-09-22 23:34] precompiler opened #4442 "TokenRefreshInterceptor overwrites Oauth token to empty string"
### Describe the bug

If no auth provider config found or auth provider is not OIDC, the new Config should inherit the oauth token from the old Config, but with currently logic, it'll always be empty.

    if (newestConfig.getAuthProvider() != null && newestConfig.getAuthProvider().getName().equalsIgnoreCase("oidc")) {
      newAccessToken = OpenIDConnectionUtils.resolveOIDCTokenFromAuthConfig(new

[2022-09-23 02:30] WishTimeLe commented on #4437
@shawkins Thank you. That's what I want to know and use

[2022-09-23 02:30] #4437 closed

[2022-09-23 08:28] manusa commented on #4441
I'm not sure if this would apply to all patch strategies.

[2022-09-23 08:31] danpfe commented on #4441
Hi @shawkins. I can retest this. I have a private operator that I can't share here where I believe patch() worked on another resource but maybe I just confused it with other modifier-methods.

[2022-09-23 10:57] shawkins commented on #4441
@manusa this issue only affects JSON patches when there is a context item and no item passed in - that's only the patch() or the patch(context) methods.

[2022-09-23 13:52] rohanKanojia opened #4445 "Consider Migrating deprecated Felix Annotations to OSGi component Annotations"
### Is your task related to a problem? Please describe

At the moment in Fabric8 Kubernetes Client we're using [Apache Felix SCR annotations](https://felix.apache.org/documentation/subprojects/apache-felix-dependency-manager/guides/annotations.html):

https://github.com/fabric8io/kubernetes-client/blob/485695094f1b60ab659d348e6de51f6e4bc632af/kubernetes-client/src/main/java/io/fabric8/kubernetes/c

[2022-09-23 15:12] manusa opened #4447 "KnativeClient.isSupported doesn't check all of the applicable API Groups"
### Describe the bug

Initially reported: https://github.com/quarkusio/quarkus/issues/28171
With fix: https://github.com/quarkusio/quarkus/pull/28172

The current implementation of `isSupported()` for `KnativeClient` is:
[code]

This is not taking into consideration all of the API groups our models support:
* serving.knative.dev
* flows.knative.dev
* networking.internal.knative.dev
* etc.

### Fab

[2022-09-23 18:08] shawkins commented on #4447
This change should be applied to DefaultServiceCatalogClient as well.

[2022-09-26 05:26] manusa commented on #4445
I'd say to keep both and add a deprecation warning/note

[2022-09-26 09:52] umutcann opened #4448 "Task okhttp3.RealCall$AsyncCall@635f40ba rejected from java.util.concurrent.ThreadPoolExecutor@7899bb30[Terminated, pool size = 0, active threads = 0, queued tasks = 0, completed tasks = 0]"
### Describe the bug

Hi,

I build Kubernetes Client like below
[code]

I experience issues when call the kubernetes apis.

[code]

I debug the KubernetesClientBuilder.build() method. I think problem is related with `clazz.getConstructor(Config.class).newInstance(config);` line. It doesn't configure ThreadPoolExecuter properly.

java.util.concurrent.ThreadPoolExecutor@3cfab340[Running, pool size =

[2022-09-26 10:39] shawkins commented on #4448
It's likely that you are attempting to use the client after closing it.

[2022-09-26 11:06] #4401 closed

[2022-09-26 11:10] umutcann commented on #4448
Actually first request is getting error.

client.configMaps()
        .inNamespace(projectName).withName(configMapName).get();

[2022-09-26 11:15] #4400 closed

[2022-09-26 12:10] shawkins commented on #4448
You'll need to post a full example of your code.  The only reason for that threadpool to reject is if it has been shutdown.

[2022-09-26 12:15] umutcann commented on #4448
Client creation part:

@Override
  public OpenShiftClient createOpenshiftClient(String masterUrl, String authToken) {

  return new KubernetesClientBuilder()
      .withConfig(new OpenShiftConfigBuilder().withMasterUrl(masterUrl)
      .withOauthToken(authToken)
      .withDisableHostnameVerification(true)
      .withNamespace(null).build()).build().adapt(OpenShiftClient.class);

  }

Exception th

[2022-09-26 12:19] shawkins commented on #4448
Unfortunately that's not quite complete.  You can try the configMap call in your createOpenshiftClient method to confirm that the client is usable at that point or put a breakpoint in OkHttpClientImpl.close to see where it is being closed.

[2022-09-26 12:35] umutcann commented on #4448
I debug it.

There was a try block at point that I call createOpenshiftClient method. At end of the try block,  I saw that close method call. After remove try block, I could receive the configmap.

[2022-09-26 12:35] #4448 closed

[2022-09-26 12:40] #3864 closed

[2022-09-26 16:10] danpfe commented on #4441
So I checked, you're right. patch() doesn't work no matter the resource, patchStatus() seems to works though :)

[2022-09-26 16:20] shawkins commented on #4441
Yes that is a json merge, not a json patch, so no diff is needed.

[2022-09-27 04:24] Dyuzz opened #4451 "[get] for kind: [Pod] with name: [spark-pi-driver] in namespace: [default] failed."
### Describe the bug

Hello, I have install spark-operator by helm on my  K8S 1.25.2 deployed on 6 bare metal servers.
There is no problem for runing Spark on K8s (Apache version) by spark-submit, but running official emaples _spark-pi.yaml_ by spark-operator-k8s fails.

I have created serviceaccout with rolebinding.

Any helps will be appriciated.

### Fabric8 Kubernetes Client version

6.1.1

##

[2022-09-27 09:02] #4441 closed

[2022-09-27 09:58] manusa commented on #4451
It seems like the Pod where the operator is running can't access the Kubernetes API server.

However, maybe you should report this in the Spark Operator project

[2022-09-27 10:32] andreaTP commented on #4451
@Dyuzz there are a couple of open issues with the Spark Operator with almost your StackTrace:
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues?q=is%3Aissue+%22External+scheduler+cannot+be+instantiated%22+is%3Aopen

I encourage you to follow up on those.
@manusa my opinion is close this issue as duplicate.

[2022-09-27 10:42] manusa commented on #4451
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/1509#issuecomment-1176098404

[2022-09-27 10:42] #4451 closed

[2022-09-27 10:59] manusa commented on #4357
I guess we need to wait on Sundrio release to complete this fix

[2022-09-28 09:50] manusa opened #4454 "Release Fabric8 Kubernetes Client 5.12.4"
### Description

Issue to track the required tasks to release Fabric8 Kubernetes Client 5.12.4.

- https://github.com/fabric8io/kubernetes-client/milestone/49

### Tasks
- [x] Verify 5.12 branch is up to date (has the v5.12.3 tag as latest)
- [x] Backport any [outstanding issue](https://github.com/fabric8io/kubernetes-client/labels/5.12.x)
  - [x] https://github.com/fabric8io/kubernetes-client/pul

[2022-09-28 16:46] andreaTP commented on #4423
Update regarding the "class-deduplication" subject.

I have quickly hacked around an external Maven plugin to perform the deduplication as a post-processing phase on the generated sources, you can find the sources here:
https://github.com/andreaTP/poc-class-dedup

I tested it with the Spark CRD and the result seems to be consistent with the expectations.
The downside of this approach is the fact t

[2022-09-29 08:41] pratapgowda007 opened #4460 "java.lang.ClassNotFoundException: io.fabric8.kubernetes.client.DefaultKubernetesClient"
### Describe the bug

I'm using io.fabric8:kubernetes-client:6.1.1 and am running a simple client creation code:
[code]

module-info.java
[code]

Error:
[code]

In module-info.java, if I use `kubernetes.client` instead of `kubernetes.client.api`, then I'mgetting the below error
[code]
[code]

Since DefaultKubernetesClient is deprecated in 6.1.1, I'm using KubernetesClientBuilder.

### Fabric8 Kube

[2022-09-29 16:20] shawkins commented on #4460
I don't think the kubernetes client will currently work with Java modules due to the split packages.  Can you see if #4464 will work for your usage?

[2022-09-29 16:58] mikebell90 commented on #2271
It's a good question and I don't know. TBH I think this is a leaky abstraction design flaw of the client. It really shouldn't leak low level okhttp specific details.

[2022-09-29 21:35] apiwoni commented on #2271
@shawkins First of all, I should not have to create Kubernetes client first so that I can get http client builder to replace interceptor and then get http client factory and finally create Kubernetes clients from builder using that http client factory. This is pretty bad builder pattern implementation.

Now as far as what doesn't work.

kubernetesClient.getHttpClient.newBuilder().addOrReplaceInter

[2022-09-30 02:44] shawkins commented on #2271
That's obviously not intended.  There are really two issues here.  The first is that there's no current way exposed for getting the default HttpClient Factory.  A method for that can easily be extracted from HttpClientUtils.createHttpClient.  The second is that the factory logic assumes customization via sub-classing (see the XXXClientFactory.additionalConfig methods).  There wasn't a mechanism en

[2022-09-30 03:14] liziwl commented on #2729
how to use `kubectl proxy` in this client?

[2022-09-30 04:57] liziwl opened #4465 "How to use `kubectl proxy` in this client?"
How to use `kubectl proxy` in this client?

I want to setup a apiserver proxy like `kubectl proxy` do. I checked example in this repo but I don't find one can be used.

[2022-09-30 07:00] rohanKanojia commented on #4465
Umm, Do you know how does `kubectl proxy` work? I'm checking `kubectl proxy -v=9` but I'm not able to see any REST API calls. I'm not sure whether there is any REST API exposed for it.

[2022-09-30 07:54] #4351 closed

[2022-09-30 11:44] pratapgowda007 commented on #4460
Thanks for the quick response, @shawkins. [#4464](https://github.com/fabric8io/kubernetes-client/pull/4464) may work for my use case. I'll wait for the next release.

[2022-09-30 12:46] #4454 closed

[2022-09-30 13:45] DobromirM opened #4470 "Timestamps for deployment logs"
### Is your enhancement related to a problem? Please describe

It should be possible to get timestamps for deployment logs the same way that you can get timestamps for pod logs.

[code]

### Describe the solution you'd like

It should be possible to do:

[code]

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-09-30 14:55] shawkins opened #4471 "KubernetesClientBuilder enhancements for common HttpClient customizations"
That's obviously not intended.  There are really two issues here.  The first is that there's no current way exposed for getting the default HttpClient Factory.  A method for that can easily be extracted from HttpClientUtils.createHttpClient.  The second is that the factory logic assumes customization via sub-classing (see the XXXClientFactory.additionalConfig methods).  There wasn't a mechanism en

[2022-09-30 20:03] shawkins opened #4472 "withRequestConfig support needs refined"
### Is your enhancement related to a problem? Please describe

The implementation is currently based upon creating entirely new client instances.  The old implementation was based upon the assumption that of threadlocal access to config properties is no longer valid with sync clients.

### Describe the solution you'd like

Separate the requestconfig into values that are truly applicable on a per r

[2022-10-02 10:47] #4195 closed

[2022-10-02 10:47] #4223 closed

[2022-10-03 02:26] yimoucao commented on #4312
@manusa I can fix it using Strings fairly quick. If we use a Java Timestamp type, will it require serializer/deserializer change? I'm assuming something has to be done like registering JavaTimeModule and configuring feature flags. To accommodate RFC-3339, extra logic I think has to be written. In sum to fix with a right approach, it's worthwhile to open a new issue and fix all the timestamps not j

[2022-10-03 08:00] manusa commented on #4460
Hi @pratapgowda007
Once we merge the PR it would be great if you could confirm if the 6.2-SNAPSHOT **nightly** build resolves your issue.

[2022-10-03 11:24] pratapgowda007 commented on #4460
@manusa Sure, please let me know once it's merged and how to get 6.2-SNAPSHOT.

[2022-10-04 10:06] manusa commented on #4312
Despite not being the most Java friendly way (OffsetDateTime, or other Java Time API types would be much better suited), we're currently mapping Tiemestamps to Strings:
https://github.com/fabric8io/kubernetes-client/blob/711482cf7b75081693883d1fc538e65dd8f8043b/kubernetes-model-generator/kubernetes-model-core/src/generated/java/io/fabric8/kubernetes/api/model/ObjectMeta.java#L58-L59

https://githu

[2022-10-04 14:43] andreaTP commented on #4367
There is a `cel` implementation for Java:
https://github.com/projectnessie/cel-java

it would be interesting to receive proposals on how this can play with the current API in the different cases(`crd-generator`, `java-generator`, CR validations on the client side).

[2022-10-05 08:19] #4289 closed

[2022-10-05 12:24] shawkins commented on #4289
With #4289 committed the only follow on I can think to consider is if RawExtension is added as a buildable target (either to all or selectively to classes using a relevant mapping), that would allow for methods like:

[code]

vs

[code]

That provides a better hint about how to create a raw KubernetesResources, but otherwise don't save the user much typing / mental load.

[2022-10-05 15:42] shreemaan-abhishek opened #4477 "A way to enforce leadership loss/switch."
### Is your enhancement related to a problem? Please describe

In the scope of leader election in a distributed environment. One of the best practices is that a given instance should not be the leader forever. After a certain interval of time, the leader instance should give up leadership so that the election happens again and a new leader is chosen.

Using fabric8 kubernetes client to implement l

[2022-10-05 16:32] shawkins commented on #4477
With #4318 you can do:

[code]

[2022-10-05 17:39] jmformenti opened #4478 "Received extra event after patch a CR using KubernetesMockServer"
### Describe the bug

When we `patch` the status for a custom resource using `KubernetesMockOperator`, we are receiving a new event for that custom resource but that is not the expected behaviour. We don't receive any new event in a real Kubernetes cluster for the same action.

This behaviour was found using JOSDK, see: https://github.com/java-operator-sdk/operator-framework-spring-boot-starter/is

[2022-10-06 04:23] shreemaan-abhishek commented on #4477
@shawkins - Thank you so much for the response.

We tried this out, the idea was to switch the leadership periodically from one instance to another by making the leader instance lose the leadership. We observed being passed on to other instances a couple of times after this, `theFuture.cancel();` did not yield leadership loss.

This is why I am looking for an appropriate way to do this using an AP

[2022-10-06 07:02] orange-buffalo opened #4479 "Portforward for statefulset"
### Is your enhancement related to a problem? Please describe

With `kubectl`, it is possible to forward the port to a statefulset:
[code]
However, `io.fabric8.kubernetes.api.model.apps.StatefulSet` does not implement `io.fabric8.kubernetes.client.dsl.PortForwardable` and so it is not possible to portfoward via `kubernetes-client`.

### Describe the solution you'd like

Implement `PortForwardable`

[2022-10-06 11:37] shawkins commented on #4477
Yes it will only release if the current instance is the leader.  That means you can get the behavior you want by using the onStartLeading callback to create a timer task or similar to cancel the current leader after whatever interval you see fit.  Something like:

[code]

Obviously that's not very elegant, but I don't see that the go client implementation is designed for this either.

Enhancements

[2022-10-06 18:00] derlin commented on #4384
Those new annotations look great !
I see you did a release of the kubernetes-client, but the `generator-annotations` module still isn't available on maven central. Given the doc has been updated, it is quite confusing ^^'. Do you plan to release the annotations soon ?

[2022-10-06 18:02] andreaTP commented on #4384
@derlin which version are you using?
The Java generator is available only 6+

[2022-10-06 18:05] derlin commented on #4384
I am using 5.13.3 and tried the latest version (5.13.4). Maybe this is where I am confused, then. Could you explain the difference between the 5.x and 6.x tracks ?

[2022-10-06 18:17] andreaTP commented on #4384
I actually cannot find `generator-annotations` even for version `6.1.1` : https://repo1.maven.org/maven2/io/fabric8/ ( `crd-generator` is fine instead)
@manusa was it ever shipped?

Regarding the difference you can read more here: https://developers.redhat.com/articles/2022/07/15/new-http-clients-java-generator-and-more-fabric8-600

[2022-10-06 21:26] wolandmaster opened #4482 "Pod/container watchLog faulty in 6.x.x"
### Describe the bug

The PodOperationsImpl [watchLog](https://javadoc.io/static/io.fabric8/kubernetes-client/6.0.0/io/fabric8/kubernetes/client/dsl/internal/core/v1/PodOperationsImpl.html#watchLog-java.io.OutputStream-) method does not write anything to the OutputStream as of version 6.0.0.
When the Pod is deleted, all the missing container logs are sent to the OutputStream at once.

### Fabric8

[2022-10-07 04:59] manusa commented on #4384
This is part of the 6.2.0 milestone, it will be available once we cut this release.

[2022-10-07 16:02] DobromirM opened #4484 "testSerializeYamlWithAlias failing"
### Is your task related to a problem? Please describe

`testSerializeYamlWithAlias` in `SerializationTest` is failing due to incorrect assertion.

### Describe the solution you'd like

Change the assertion.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-10-07 16:07] DobromirM commented on #4484
Fixes #4484

[2022-10-08 04:11] jmformenti commented on #4478
Thanks a lot @shawkins, maybe we are not affected by the explicit null issue because in our real tests we are using always the status filled

[2022-10-08 06:02] liziwl commented on #4465
Proxying feature seems for debug, and I agree that it probably doesn't need to be implemented in the Java client.

[2022-10-08 06:02] #4465 closed

[2022-10-09 09:33] andreaTP commented on #4484
The test is correctly passing on `master` in CI.
Where is the failure occurring? Is is a reproducible environment?

[2022-10-10 10:42] xRodney opened #4487 "Schema for multimaps is wrong"
### Describe the bug

Hello again,

after #4413 will have been merged, crd generator will no longer fail on multimaps, which are present in keycloak-operator crds.

Unfortunately, they will still be generated wrong.

### Fabric8 Kubernetes Client version

SNAPSHOT

### Steps to reproduce

(same as in #4357)

[code]

The field `test3` is treated as if it was `Map<String, String>`:

[code]

### Expe

[2022-10-10 10:43] andreaTP commented on #4357
ping @iocanel would you have the time to cut a release of `sundrio` 🙏  ?

[2022-10-11 09:18] manusa commented on #4484
This is already covered by https://github.com/fabric8io/kubernetes-client/pull/3612/files

[2022-10-11 09:21] #4482 closed

[2022-10-11 13:49] shawkins commented on #3924
@anurag-rajawat or any other community user interested in picking up an issue, we are ready for this.  It is mostly removing the modules, but it will also require cleaning up any tests and examples that still reference them.

[2022-10-12 03:26] anurag-rajawat commented on #3924
@shawkins I would love to work on this, assign this to me.
Thanks!

[2022-10-12 06:35] pratapgowda007 commented on #4460
@manusa
I just cloned PR [#4460](https://github.com/fabric8io/kubernetes-client/pull/4464) and tested. I can confirm 6.2-SNAPSHOT resolves my issue.

[2022-10-12 06:35] #4460 closed

[2022-10-12 07:09] pratapgowda007 commented on #4460
@rohanKanojia May I know the tentative release date for 6.2.x?

[2022-10-12 10:20] pratapgowda007 commented on #4460
Thank you

[2022-10-12 11:29] fedinskiy opened #4491 "RejectedExecutionException when checking status of removed operator through BaseOperation.get"
### Describe the bug

I have a code, which uses kubernetes client to deploy OpenShift operator and application and to check its status. After deleting a project and doing a final check, what everything was deleted properly, I receive a cryptic exception: `java.util.concurrent.RejectedExecutionException: Task okhttp3.RealCall$AsyncCall@553d2579 rejected from java.util.concurrent.ThreadPoolExecutor@

[2022-10-12 11:37] shawkins commented on #4491
This means that the client/httpclient has been closed - we probably need a higher level check for that to make it clear.  Can you find in your code where the client is being closed early?

[2022-10-12 14:11] fedinskiy commented on #4491
We closing the client twice, once as a part of Junit cleaning after all tests and once as a part of Junit cleaning on closing. But we have this problem only with strimzi operator and not, for example, with strimzi deployed in a separate container(test `OpenShiftStrimziKafkaWithoutRegistryMessagingIT` in the same module).

[2022-10-12 14:17] shawkins commented on #4491
This is unrelated to the functional part of the test, it's just related to when it's being closed - this operation is being performed after it's closed.  Can you put a breakpoint on the client close to see where it is happening early?

[2022-10-13 09:20] fedinskiy commented on #4491
Yes, we call `close` on DefaultOpenShiftClient during project deletion(method `deleteProject` in `OpenShiftClient` in the reporducer) and then we call some methods on related NamespacedOpenShiftClient (method `isCustomResourceReady` in `OpenShiftClient` ).

That surprises me, that the same process works flawlessly with non-operator workload.

[2022-10-13 11:47] StupidScience opened #4496 "KubernetesResourceList resources are not handled properly by AbstractWatchManager"
### Describe the bug

In #4365 was introduced [change](https://github.com/fabric8io/kubernetes-client/pull/4365/files?diff=unified&w=1#diff-7ca5806d751b9d76ce33e1adbef2dabd2ef3c10d499aeb66215451bd8bbff802L285-R295) that in a nutshell changed from this:
[code]
to
[code]

But AFAIU KubernetesResourceList doesn't implement HasMetadata so any event will end up with error `io.fabric8.kubernetes.client.

[2022-10-13 13:21] shawkins commented on #4496
@StupidScience what watch is this happening with specifically?  I can see in the history that the list handling was added for api group watches - and I don't see that a mock or a integration test was ever specifically added.

[2022-10-13 15:23] StupidScience commented on #4496
@shawkins not sure that I get your question. Do you mean what specific resource watcher? If yes then in our case it is for Endpoints.

[2022-10-13 16:07] shawkins commented on #4496
@StupidScience what kubernetes version are you on?

[2022-10-13 16:50] StupidScience commented on #4496
@shawkins it occurred in our tests actually with mock KubernetesServer after update to 5.12.4. Rollback to 5.12.3 fix the issue.

[2022-10-13 16:59] shawkins commented on #4496
@StupidScience from what I can see the api server does not (at least with v1.22.2) respond with a list object when you watch Endpoints.  It would be great to capture definitively where this is still happening.

[2022-10-14 11:07] shawkins commented on #3795
This may be related to #4319 and #4355 - if the exec is against a container with multiple pods and no container name is supplied the exception handling is very unclear for okhttp.

[2022-10-16 03:47] HuangZhenQiu opened #4502 "kubernates client should be able to use customized ObjectMapper for deserialize response"
### Is your enhancement related to a problem? Please describe

For new K8 operator in development, it is easy for developers in community to change the CRD with new fields. It is also common that platform services talk with api server for CR deployment or update. If operator is upgraded with such breaking changes, the backend service will fail to create CR due the the deserialization issue. The re

[2022-10-16 07:02] #4168 closed

[2022-10-16 15:50] HuangZhenQiu commented on #4502
It is handled in  https://github.com/fabric8io/kubernetes-client/issues/1308.

[2022-10-16 15:50] #4502 closed

[2022-10-17 02:42] jiangjian0920 opened #4503 "Exception in thread "main" java.lang.NoClassDefFoundError: io/fabric8/kubernetes/client/KubernetesClient"
### Describe the bug

After I change the user in the Spark image, the running program reports an error. What is the problem
++ id -u
+ myuid=2023
++ id -g
+ mygid=2023
+ set +e
++ getent passwd 2023
+ uidentry=zndw:x:2023:2023::/home/zndw:/bin/sh
+ set -e
+ '[' -z zndw:x:2023:2023::/home/zndw:/bin/sh ']'
+ SPARK_K8S_CMD=driver
+ case "$SPARK_K8S_CMD" in
+ shift 1
+ SPARK_CLASSPATH=':/opt/spark/jar

[2022-10-17 07:09] #4312 closed

[2022-10-17 11:09] shawkins commented on #4502
@HuangZhenQiu another thing to consider rather than doing this at the mapper level is the approach of adding an additionalProperties map to your model objects.  That provides more flexibility - as you can optionally retain those fields, or detect / handle api mismatches.

[2022-10-17 13:33] szopal commented on #4503
I have the same problem - this error occurs in version 6.1.0, 6.1.1 - in 6.0.0 everything works fine.
[code]

[2022-10-17 13:39] shawkins commented on #4503
@jiangjian0920 it's not immediately clear from what you posted what the effective classpath is for you spark application.  It will need to see kubernetes-client and all of its transitive dependencies.  The exception makes it seem like kuberentes-client-api is part of the classpath, but kubernetes-client is not.

@szopal that is a different problem.  It should mean that you have a mismatch in your

[2022-10-17 13:51] szopal commented on #4503
@shawkins only change what I did is upgrade kubernetes-client version

<dependency>
    <groupId>io.fabric8</groupId>
    <artifactId>kubernetes-client</artifactId>
    <version>6.1.1</version>
</dependency>

It's simple SpringBoot app to test some things like this:

https://blog.marcnuri.com/fabric8-kubernetes-client-6-1

I did like above but unfortunately it's not working.

[2022-10-17 14:28] shawkins commented on #4503
@szopal please use some appropriate mechanism to check your dependency hierarchy, such as mvn depedendency:tree.  That should highlight where there is a problem.

[2022-10-17 20:00] shawkins commented on #4388
I was going to use this issue to work the 429 logic, but that doesn't seem like it's worth the effort yet.  The api server still uses 1 second as the backoff - https://github.com/kubernetes/apiserver/blob/master/pkg/server/filters/maxinflight.go#L38 and https://github.com/kubernetes/kubernetes/issues/79805

[2022-10-18 05:02] manusa commented on #1996
Now that #4464 / #4460 has been tackled, we should be able to complete this issue.

#2110 should now be closed or recreated from scratch (@rohanKanojia).

[2022-10-18 06:39] szopal commented on #4503
[code]

I don't see any reason of this error.

[2022-10-18 07:14] jiangjian0920 commented on #4503
@shawkins OK, I'll try to replace the required dependency package

[2022-10-18 09:27] #3924 closed

[2022-10-18 09:52] xRodney commented on #4357
ping @andreaTP, sundrio has been released and the linked PR is ready for review

[2022-10-18 11:19] shawkins commented on #4503
@szopal see io.fabric8:kubernetes-model-core:jar:5.10.2:compile and all of the other dependencies still referencing 5.10.2.  Please search your project source for that version.

[2022-10-18 13:13] manusa commented on #4496
I agree with Steven, the following code:
https://github.com/fabric8io/kubernetes-client/blob/0394a0e3d9c2fe4afd0aaa7098b140553b371af3/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/AbstractWatchManager.java#L292-L308

should be simply replaced to:

[code]

[2022-10-18 17:14] #4472 closed

[2022-10-18 17:14] #4471 closed

[2022-10-18 19:25] shawkins opened #4507 "Improve test stability"
### Is your task related to a problem? Please describe

Both the regular and integration tests are routinely failing.

### Describe the solution you'd like

Diagnose and update the test logic - from some of the recent prs:

Timeout is too short:
https://github.com/fabric8io/kubernetes-client/actions/runs/3272864707/jobs/5384383421#step:4:30639
https://github.com/fabric8io/kubernetes-client/actions

[2022-10-18 20:34] sfc-gh-jkowalski opened #4509 "Resource leak when creating private keys"
### Describe the bug

We're frequently creating and closing `KubernetesClient` instances in our code, but it appears there's some kind of resource leak associated with private keys, leading to:

[code]

Stack trace:

[code]

### Fabric8 Kubernetes Client version

6.0.0

### Steps to reproduce

1. Use CaviumRSAKeyFactory
2. Run on EC2 instance with CloudHSM
3. In a loop: create then close Kubernete

[2022-10-18 21:50] shawkins commented on #4509
@sfc-gh-jkowalski I'm not sure this is a resource leak on the part of the client.  The issue seems to be with how the cavium provider works.  The KeyFactory.generatePrivate call goes to importRSAPrivateKey, which seems to have a stateful side-effect.  That does not happen with other providers, such as BouncyCastle.

Also the java.security.KeyFactory interface does not provide any mechanism to "des

[2022-10-18 21:55] sfc-gh-jkowalski commented on #4509
`java.security.PrivateKey` extends `Destroyable` which has `destroy()` method. Is there a chance the client is not calling that?

[2022-10-18 22:05] shawkins commented on #4509
It is not.  For other providers that would be just a in-memory operation to clear sensitive fields.  Can you confirm for cavium that it allows for more generate calls?

[2022-10-18 22:37] sfc-gh-jkowalski commented on #4509
Hmm, looks like CaviumRSAPrivateKey has default implementation of `destroy()` which throws `DestroyFailedException`

[2022-10-19 06:58] jiangjian0920 commented on #4503
@shawkins I have replaced the dependent packages in the image, including（kubernetes-client-4.6.1.jar，kubernetes-model-4.6.1.jar，kubernetes-model-common-4.6.1.jar，okhttp-3.12.0.jar，okio-1.15.0.jar）
Now the error is：22/10/18 15:46:26 INFO BlockManager: Initialized BlockManager: BlockManagerId(driver, spark-pi-1666107979581-driver-svc.spark.svc, 7079, None)
Exception in thread "kubernetes-dispatcher-

[2022-10-19 09:14] #4357 closed

[2022-10-19 09:14] #4487 closed

[2022-10-19 09:15] #3906 closed

[2022-10-19 09:31] #4470 closed, assigned to DobromirM

[2022-10-19 10:59] #4408 closed

[2022-10-19 11:16] shawkins commented on #4503
@jiangjian0920 that exception suggests you still have a mismatch with at least kubernetes-model-core

[2022-10-19 11:21] shawkins commented on #4509
Without their code / docs, I'm not sure how to make progress.

Is it possible to come at this problem by reducing the number of times you open / close clients?

[2022-10-19 12:43] #4496 closed

[2022-10-19 17:58] xRodney opened #4510 "Stack overflow on recursive types (again)"
### Describe the bug

Hi,

Unfortunately, even after the recent fixes for multimaps, keycloak-operator CRD still does not compile, it still fails with StackOverflowError.
But the stack trace is different this time, and is not connected with multimaps.

This can be reproduced on current master (to be 6.2)

### Fabric8 Kubernetes Client version

SNAPSHOT

### Steps to reproduce

I have been able to

[2022-10-20 06:42] bachmanity1 commented on #4384
This is actually a little confusing because [documentation](https://github.com/fabric8io/kubernetes-client/blob/master/doc/CRD-generator.md) has already been updated but release is not out yet. I've spent last couple of hours figuring out why imports related to this feature are not working in my project only to realize that this feature is not available yet.

[2022-10-20 07:57] #4435 closed

[2022-10-20 09:33] andreaTP commented on #4384
Hi @bachmanity1 , sorry for the confusion and trouble, `fabric8` `6.2.0` is out now and since we don't have it properly "versioned" I encourage you to browse the docs using the appropriate `tag` e.g.:
https://github.com/fabric8io/kubernetes-client/tree/v6.2.0/doc

[2022-10-20 12:36] shawkins opened #4515 "Remove model properties"
It's been so long that I can't really recall the need for model properties. I would assume though that it was added to serve code generation purposes in the client. Possibly, at some point it was needed to generate `ResourceHandlers` or `OperationImpl`.

_Originally posted by @iocanel in https://github.com/fabric8io/kubernetes-client/issues/4511#issuecomment-1285086837_

[2022-10-20 12:38] shawkins commented on #4515
cc @rohanKanojia @manusa any object to removing the legacy model.properties files?  We will still need the manifest.vm if we move forward with #4511

[2022-10-20 14:43] shawkins opened #4516 "Replacement for deleteExisting behavior."
### Is your enhancement related to a problem? Please describe

deletingExisting was removed to help streamline the api interfaces (it wasn't universally available for Resource) and because the implementation wasn't based upon exact deletion tracking - which is now possible that delete can return the deletion list.

### Describe the solution you'd like

In kubectl apply and replace have a force opt

[2022-10-21 13:53] vanjadardic opened #4519 "TokenRefreshInterceptor doesn't respect kubernetes.disable.autoConfig flag"
### Describe the bug

TokenRefreshInterceptor doesn't respect kubernetes.disable.autoConfig flag.

### Fabric8 Kubernetes Client version

6.2.0

### Steps to reproduce

Instantiate client using
[code]
but also have a file at `/var/run/secrets/kubernetes.io/serviceaccount/token` with some different token than in `someconfig`.
After 1 minute my calls start failing with `"Unauthorized! Token may have

[2022-10-22 06:41] Tariqs commented on #3309
If you are using fabrica8  kubernetes-client version 6.0.0 or above then please use the following code to create job

`Job myjob = client.batch().v1().jobs().inNamespace("default").resource(job).create();`

[2022-10-23 07:39] #2959 closed

[2022-10-24 08:40] manusa commented on #2959
Hi @andreaTP,
Do you think we should reopen this one?
AFAIR, this functionality was implemented already (needs link to PRs/issue).

[2022-10-24 09:01] manusa commented on #3309
the deprecation on this issue is not related with the deprecation of the `create(Resource)` method.

[2022-10-24 18:40] shawkins commented on #4519
kubernetes.disable.autoConfig is currently only used by the Config() constructor.  It is not used for any other purpose.

Presumably your problem stems from https://github.com/fabric8io/kubernetes-client/blob/43b67939fde91046ab7fb0c362f500c2b46eb59e/kubernetes-client-api/src/main/java/io/fabric8/kubernetes/client/utils/TokenRefreshInterceptor.java#L76

It seems like this logic should be handling 3

[2022-10-25 06:39] vanjadardic commented on #4519
Yes, that would make the configuration/refresh logic behave according to my expectations.

[2022-10-25 12:16] csviri opened #4527 "`SharedIndexInformer` should not stop on missing rbac permissions when calling `start()`"
### Describe the bug

Currently when I `start()`   `SharedIndexInformer` and the informer does not have sufficient permissions for the resources, the informer is stopped.

This is inconsistent with the behavior, that when I start the informer and remove rbac permissions for the resource, the informer will try to reconnect over and over again.

### Fabric8 Kubernetes Client version

6.2.0

### Step

[2022-10-25 12:22] shawkins commented on #4527
This duplicates #4408

[2022-10-25 13:27] shawkins opened #4529 "CompletionState vs CompletableFuture"
### Is your task related to a problem? Please describe

Returning a CompletableFuture allows for the user to complete or cancel the future - for some methods neither of these are expected.  Generally it's been documented as to whether cancel is supported.

* ExecWatch.exitCode - cancel not support (there's ExecWatch.close), and user completion not expected.  Should be a CompletionState instead.
*

[2022-10-25 13:30] csviri commented on #4527
Ahh, see it now, thx, will close this issue.

[2022-10-25 13:30] #4527 closed

[2022-10-25 14:27] mteubner opened #4530 "Primitive default values in specifications break the object instantiation"
### Describe the bug

Requested situation of Issue https://github.com/fabric8io/kubernetes-client/issues/3869 and fix on Task
https://github.com/fabric8io/kubernetes-client/pull/3817 lead to a situation where primitive default values in specs lead to generated classes which can't be istantiated.

Caused by: java.lang.ClassCastException: class java.lang.String cannot be cast to class java.util.Map

[2022-10-26 07:46] pagenotfound4o4 opened #4532 "How can I add customized interceptor in `KubernetesClientBuilder`"
In `5.x` SDK, I have a customized interceptor which implements `okhttp3.Interceptor`
[code]

After upgrade to `6.2.0`, all interceptors should implement `io.fabric8.kubernetes.client.http.Interceptor` instead, and seems its implementation doesn't support doing operation around `chain.process()`. It only contains `before()` and `after()` methods.

So how can I add my original custom interceptor to

[2022-10-26 09:56] Sparker0i commented on #4375
Sorry for the late response, `getPassword` works, but it just prints the same `apiPassword` that I had passed. Doing with `getOauthToken()` is returning null unfortunately.

But surprisingly I'm able to perform other operations on the cluster, so surprising how the oauthtoken is returning null..

[2022-10-26 10:56] shawkins commented on #4532
It is not required - you may continue to use the specific client implementations if you want:

[code]

If you don't want the direct dependency to okhttp and/or you want to use the other httpclient implementations, then you would switch to using the new interface.

However it was not designed to handle the scenario you have shown - the other clients lack interceptor frameworks especially for websoc

[2022-10-26 11:25] andreaTP commented on #4530
Hi @mteubner , thanks for the report, I will look into this, cc. @fabiobrz FYI

[2022-10-26 11:41] andreaTP commented on #2959
@manusa correct closed in #4348

[2022-10-26 11:41] andreaTP commented on #4224
Closed in #4348

[2022-10-26 11:41] #4224 closed

[2022-10-26 11:42] andreaTP commented on #4225
ping to @iocanel on this.

[2022-10-26 12:38] shawkins commented on #4530
@andreaTP see if #4533 works for you to address this.  It allows the serialization logic to handle primitives with or without a type specified.

[2022-10-26 13:27] Sparker0i commented on #4375
Sorry I've got to open this up again. So we have two kinds of clusters. One where we can login with a service account token directly and another one where we have to give a user name and password.

When we login to both kind of clusters using this library, we are able to perform operations.
However when we try to run the `getOauthToken()` for the second cluster, it shows `null`, despite being able

[2022-10-26 13:32] manusa commented on #4507
The Karaf tests were already refactored a while back, we managed to improve their stability, but with newer versions of Karaf, it seems to have degraded again.

For the timeouts, we should really try to make the tests run quicker. We already did a few iterations on this in the past. We should probably spend again some time on this. Many of the new tests should also be split into multiple, more gra

[2022-10-26 14:48] mteubner commented on #4530
@shawkins the change looks promising but I can'z get the master to be build with all Tests. So I can't proof the correctness.

Failures:
[ERROR]   SerializationTest.testSerializeYamlWithAlias:184

Expecting
  Pod(apiVersion=v1, kind=Pod, metadata=ObjectMeta(annotations={}, creationTimestamp=null, deletionGracePeriodSeconds=null, deletionTimestamp=null, finalizers=[], generateName=null, generation=

[2022-10-26 14:50] shawkins commented on #4530
That shouldn't be related to this pr, there's #4485 to address that test error - I'm not sure why that was closed though.

[2022-10-26 15:08] andreaTP opened #4534 "Null pointer exception executing `java-generator-cli`"
### Describe the bug

`java-generator-cli` artifact is causing a `NullPointerException` when executed via `jbang` (I haven't tested yet other configurations).

### Fabric8 Kubernetes Client version

6.2.0

### Steps to reproduce

[code]

### Expected behavior

The java classes are correctly generated.

### Runtime

other (please specify in additional context)

### Kubernetes API Server version

1.

[2022-10-26 15:12] andreaTP commented on #4534
cc. @manusa if something in the dependencies might have caused this to happen ...

[2022-10-26 15:19] mteubner commented on #4530
@shawkins okay build complete project with skipTest and afterwards just build test of java-generator test worked for me.

[2022-10-26 15:21] mteubner commented on #4530
private String duration = io.fabric8.kubernetes.client.utils.Serialization.unmarshal("\"100\"", String.class);

is able to be executed.

[2022-10-26 15:49] andreaTP commented on #4534
cc. @remkop if you have something on top of your head, but the `picocli` version remained stable ...

[2022-10-26 15:52] BrianDevC opened #4535 "File upload unusual behaviour on a ' character"
### Describe the bug

A file or folder with the single quote ' character in the path name will exhibit unusual behaviour on the upload.

For example if uploading to /data/te'st/file.txt

The following two folders will be created. All square brackets[] added here to emphasize individual folders, they do not show up in the test.

**Empty folder:**
/[data]/[te'st]/

**Folder with empty file.txt**
/[d

[2022-10-26 16:39] shawkins commented on #4535
Yes, that's unfortunately adding an extra escape.  Are you interested in submitting a fix?

[2022-10-26 16:51] BrianDevC commented on #4535
I am actually, just pulling everything down to give it a go. Probably should have specified to avoid duplication of efforts!

[2022-10-27 06:24] remkop commented on #4534
Perhaps You can get more details with picocli's tracing function.

https://picocli.info/#_tracing

[2022-10-27 07:01] manusa commented on #4534
I need to check, I didn't even remember we had this (running cli through JBang) as a feature.
We should probably create an IT to make sure it doesn't beak again once we fix it.

[2022-10-27 16:33] shawkins opened #4540 "Builder methods expecting HasMetadata/KubernetesResource are not correct"
When the builder logic generates the handling for a method like IngressControllerSpec.unsupportedProperties it creates a method impl for withUnsupportedProperties that does an instanceOf check for the known buildable types.  If you use something like GenericKubernetesResource, or RawExtension that is not an explicitly known type - it is silently ignored.  At the very least an exception should be t

[2022-10-27 17:24] iocanel commented on #4540
The first part needs to be addressed in sundrio.

For the second part I need to refresh my memory as I don't recall by heart how GenericKubernetesResource and RawExtension work.

[2022-10-27 17:51] #4290 closed

[2022-10-27 19:48] shawkins commented on #4540
@iocanel do you want me to copy the first part over to sundrio?

[2022-10-29 01:25] adriansuarez opened #4541 "Java generator generates unusable code when default values are defined for CRD fields"
### Describe the bug

If a CustomResourceDefinition defines a default value for a field, the generated code fails to inject that value, generating a ClassCastException whenever the generated class is instantiated.

For example, if the CRD has the following snippet:

[code]

then this will generate the following Java code snippet:

[code]

The call to `Serialization.unmarshal()` always generates th

[2022-10-30 09:51] yoavgeva opened #4542 "Cannot cast VirtualService to Resource in Istio-client extension"
### Describe the bug

Trying to create Istio resource VirtualService, by using the istio-client extension.

[code]

### Fabric8 Kubernetes Client version

6.2.0

### Steps to reproduce

1. run code above with 6.2.0 istio and mockito

### Expected behavior

error "class io.fabric8.istio.api.networking.v1beta1.VirtualService cannot be cast to class io.fabric8.kubernetes.client.dsl.Resource"

to not

[2022-10-30 14:37] shawkins commented on #4541
Duplicate of #4530

[2022-10-30 14:37] #4541 closed

[2022-10-30 14:40] shawkins commented on #4542
The exception is correct:

when(nonNamespaceOperation.resource(EXAMPLE_RESOURCE_ISTIO_V1BETA1)).thenReturn(EXAMPLE_RESOURCE_ISTIO_V1BETA1);

the resource method returns an instance / subclass of Resource<VirtualService>, not the VirtualService.

[2022-10-30 14:50] yoavgeva commented on #4542
@shawkins I agree the exception is correct, I am saying VirtualService was suppose to implement Resource, I am using the virtualServices API to create a VirtualService, what other item should I give if not a VirtualService? is there an other item ?

[2022-10-30 15:04] #4542 closed

[2022-10-31 11:03] doxic012 commented on #4503
This exception occurs, when calling a KubernetesClientBuilder like this:

[code]

When trying to parse a config file using Serialization.yamlMapper() inside the package io.fabric8.kubernetes.client.Config:653
[code]
the mapper uses the  io.fabric8.kubernetes.model.jackson.UnmatchedFieldTypeModule class which is not provided using only the kubernetes-client dependency.

This is (part of) our pom.xm

[2022-10-31 11:04] mteubner opened #4543 "Additional Attributes are generated to be ignored, because of wrong setting of JsonAnySetter annotation"
### Describe the bug

Component : java-generator

The generation of additionalProperties out of a CRD is not creating the access methods as expected. If there is an object in the CRD defined with configuration:
                            type: object
                            x-kubernetes-preserve-unknown-fields: true

It will generate a java class for that configuration, but the mapper will no

[2022-10-31 11:08] doxic012 commented on #4503
Can be solved by explicitly adding a dependency to kuberntes-model-common in the pom.xml:

[code]

[2022-10-31 11:21] doxic012 commented on #4503
Yes that seems to solve the issue.
Maybe put the minimum dependencies in the readme for kubernetes-client? I was searching for the imports on the start page, since we are migrating from version 4.x to 6.0.0 and we only imported kubernetes-client from maven which was working fine until upgrading to 6.2.0

[2022-10-31 11:32] shawkins commented on #4503
There's a section in the FAQ https://github.com/fabric8io/kubernetes-client/blob/master/doc/FAQ.md#what-artifacts-should-my-project-depend-on - can you suggest a change to the README or other docs?

That will still work - but only if you stick to just a single version.  By mixing in the 5.10.2 dependencies there will be issues some classes and packages have been refactored.

Please search your pro

[2022-10-31 11:38] doxic012 commented on #4503
No idea where it's coming from, we do not have any references to kubernetes-client/kubernetes-client-api besides this project (and no dependency-management that indicates a different version).

Whats also interesting in the dependency tree is the
[INFO] | +- io.fabric8:kubernetes-model-gatewayapi:jar:6.2.0:compile

which seems to be the only correct reference to 6.2.0

[2022-10-31 12:24] mteubner opened #4546 ""description" is a protected keyword and is ignored on generation, can we somehow allow this for the content"
### Component java-generator ignores "description" field definition in content

I don't understand how to use CustomRessourceDefinitions containing "description" as field in the content. Due to the fact that it is part of the IGNORED_FIELDS in JObject.

I get that "description" is a protected keyword somehow to actually also describe an object in open API and that is therefore put to javadoccommen

[2022-10-31 12:32] shawkins commented on #4503
Is your project importing kubernetes-client-project as a bom?  Have you searched for any reference to a 5.10.2 version?

Probably because that module did not exist in 5.10.2.

[2022-10-31 14:32] shawkins commented on #4503
@doxic012 ah, good catch.

Can you try overriding with your own bom:

[code]

The client is largely compatible between 5.10 and 6.2, however if spring is relying on anything that is no longer there, then it seems like you'll be forced to stay at 5.10.2 until spring updates their dependency.

[2022-10-31 15:06] doxic012 commented on #4503
Thanks, that did actually work. Forgot to write, that spring-cloud-dependencies imports the bom with <scope>import and <type>pom, which does not allow transitive property version overrides from the project pom.

[2022-10-31 17:35] shawkins opened #4547 "Timing issue with leader elector cancel (stop)"
As reported by https://github.com/java-operator-sdk/java-operator-sdk/issues/1585 there's a potential for the stop on cancel to conflict with the current renewal.

[2022-10-31 19:38] adriansuarez commented on #4530
Is there a workaround for this until a fix is delivered?

[2022-11-01 07:14] JianhangLin43 opened #4549 "Log watch request has not been opened within: 10000 millis"
### Describe the bug

When I call watchlog, Log watch request has not been opened within: 10000 millis is prompted, but no data output。

### Fabric8 Kubernetes Client version

5.12.4

### Steps to reproduce

k8sClient.pods().inNamespace(namespace).withName(podName).tailingLines(100).withPrettyOutput().watchLog();

### Expected behavior

Logs are generated.

### Runtime

Kubernetes (vanilla)

### K

[2022-11-01 07:15] JianhangLin43 commented on #4549
watchlog usage problem

[2022-11-01 16:51] shawkins commented on #4549
Can you provide a thread dump?  This could be related to #4482 in that we're unexpectedly blocking on more input - but it won't be exactly the same issue as the code changed substantially since 5.12.

[2022-11-02 08:07] #4503 closed

[2022-11-02 13:20] gyfora opened #4555 "ObjectMeta breaking change in 6.2.0"
### Describe the bug

In https://github.com/fabric8io/kubernetes-client/commit/711482cf7b75081693883d1fc538e65dd8f8043b there was a breaking change to the `ObjectMeta` object.

The `clusterName` field was removed.

This also makes CRD-s generated using the generator that contain any ObjectMetadata field to be non backward compatible.

### Fabric8 Kubernetes Client version

6.2.0

### Steps to repr

[2022-11-02 13:41] manusa commented on #4555
I'm not sure I'm following this point here. How do your generated CRDs end up having a `clusterName` entry with a value?

[2022-11-02 13:49] gyfora commented on #4555
We have a spec object that contains a `Pod` field to define a podTemplate. You can find it here:
https://github.com/apache/flink-kubernetes-operator/blob/main/flink-kubernetes-operator-api/src/main/java/org/apache/flink/kubernetes/operator/api/spec/FlinkDeploymentSpec.java#L60

Now when we generate the CRD from the spec class the resulting CRD is incompatible after 6.2.0

[2022-11-02 13:58] manusa commented on #4555
Could you please share the differences between the CRD generated before 6.2.0 and the one generated now. I still don't understand how your CRD ends up with a:
[code]

[2022-11-02 14:03] gyfora commented on #4555
Well the point is that it ends up **without** the `clusterName`. You generate the CRD with 6.1.0, you have clusterName there, with 6.2.0 you dont have it.

Removing a field is a breaking change.

[2022-11-02 14:05] gyfora commented on #4555
this is the diff compared to the CRD that was generated with fabric8 before 6.2.0

[2022-11-02 14:10] shawkins commented on #4555
@gyfora cluster name was deprecated in kubernetes 1.24, and removed in 1.25.  Prior to 1.24 the docs seemed to imply it was unused - https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/#objectmeta-v1-meta

Can you describe how you were using this field?

[2022-11-02 14:12] gyfora commented on #4555
I am personally not using the field but we are publishing the generated CRD.
Now if we generate it with the new fabric8 version, that field is removed, so if we update the CRD based on this, it leads to a breaking change. (you cannot simply remove a field)

This means that every CRD generated with fabric8 that contains a field that has metadata results in a breaking change after 6.2.0.

Users migh

[2022-11-02 14:13] gyfora commented on #4555
It seems like kubernetes itself broke the objectmetadata api? They kept version v1 but removed a field?

[2022-11-02 14:14] manusa commented on #4555
OK, I understand now :worried:

They aren't using this field, but the field is described in their custom resource definitions.

They shouldn't do that.

I'm not really sure how we should fix this one. My best guess is that the CR deserializer should be tweaked to ignore this field.

[2022-11-02 14:16] manusa commented on #4555
That field has been marked as unused for a while

Relates to https://github.com/kubernetes/kubernetes/issues/65885

[2022-11-02 14:19] gyfora commented on #4555
The problem here is even though that meta field for the Pod object doesn't do anything, it is still possible to have it in the CR.

We cannot simply drop it from the CRD because it can theoretically break the upgrades and cause some serious issues. I think best would be to re-add it in `fabric8` and maybe disregard it during serialization.

[2022-11-02 14:20] gyfora commented on #4555
I understand that this is a weird situation but it's already pretty strange that they would just remove a field from a v1 object...

[2022-11-02 14:23] manusa commented on #4555
The main issue is that `ObjectMeta` is a generated class.

The field (as advertised by K8s) is completely ignored by the Kube API server.
My assumption is that your code breaks whenever a user deserializes a CR using our client (probably from Flink?). I still think the best option is to simply ignore this field (just like Kubernetes does) from the client side by tweaking the deserializer. Although

[2022-11-02 14:24] shawkins commented on #4555
It already does.

I'm not sure how this change could be breaking - or at least it shouldn't be under normal circumstances.  If you are using explicitly setting the clusterName field for create / update - which the docs tell you will be ignored - then with this updated api that direction option will be removed.

You could set the clusterName via additionalProperties, again documented as ignored / d

[2022-11-02 14:32] gyfora commented on #4555
Thanks I will test this locally :)

[2022-11-02 22:45] sfc-gh-jkowalski commented on #4509
We found a very surprising fix for this issue, which ends up being caused by reusing `KeyFactory` inside `handleOtherCerts` method. See PR #4556.

[2022-11-02 22:49] sfc-gh-dbrown commented on #4509
Here is a repro showing that re-using the KeyFactory after an exception results in a different Provider than using a fresh KeyFactory:

[code]

[2022-11-03 16:03] andreaTP commented on #4530
@adriansuarez I cannot think about any, unfortunately ... as we start to merge PRs you might be able to use the `SNAPSHOT` versions.
But we have 2 PRs open for fixing it, so, it will for sure be available in the next version.

[2022-11-03 16:12] andreaTP commented on #4546
Hi @mteubner , would you be able to provide a minimal reproduction for this issue?

The `description` field is already explicitly handled so that it will end up in the relevant `JsonPropertyDescription` annotation and in the JavaDoc:

https://github.com/fabric8io/kubernetes-client/blob/2ee77a00f40c8a2cf43350e1e377b843cac45a46/java-generator/core/src/test/resources/keycloak-crd.yml#L53

https://git

[2022-11-03 17:48] andreaTP commented on #4546
Unfortunately no, there is no available workaround with the current implementation.

Thanks a lot for sharing the example, the `IGNORED_FIELDS` might be a shortcoming used in the first prototype, I would need to check the consequences of completely removing it ...

But this is a legit bug and I will look into it, thanks a lot for filing it 👍

[2022-11-04 08:16] #4484 closed

[2022-11-04 10:50] #4547 closed

[2022-11-04 10:55] #4534 closed

[2022-11-04 13:30] #4535 closed

[2022-11-04 13:49] manusa commented on #4136
https://kubernetes.io/docs/reference/using-api/api-concepts/#field-validation

[2022-11-04 14:15] manusa commented on #4543
cc @andreaTP

[2022-11-04 14:27] andreaTP commented on #4543
yup, looking into it, I'm 100% sure I tested this manually when implementing the support.
Now that we have proper integration tests we can fix it properly.
Apparently, some serialization/deserialization behaviors have been slightly changed.

[2022-11-04 14:27] #4491 closed

[2022-11-04 14:35] manusa commented on #4515
please go ahead

[2022-11-04 14:59] adriansuarez commented on #4530
@andreaTP: Thank you.

I've actually been working off of [51c3be8beb7a6d59beade631c912a26c18277ee4](https://github.com/fabric8io/kubernetes-client/commit/51c3be8beb7a6d59beade631c912a26c18277ee4) and using the java-gen tool directly, which also works. I guess I can update the commit we're pinned at when your PR is merged, and wait for the next release if we want to use the Maven plugin to do code

[2022-11-04 15:10] shawkins commented on #4515
Let's first decide on #4511

[2022-11-04 15:12] manusa commented on #4515
Noted. For some reason I'm reviewing my pending tasks/emails/notifications in a very random order :sweat_smile:

[2022-11-05 16:39] infiniteregrets commented on #4248
facing the same issue with gradle:

[code]

just added the dependency like so:

[code]

Would really appreciate any solutions, thanks

[2022-11-07 01:49] simake2017 opened #4562 "okhttp stackoverflow error"
### Describe the bug

<img width="1068" alt="image" src="https://user-images.githubusercontent.com/31234273/200209887-1f0ecee6-05e7-453f-8c01-896b22251110.png">
<img width="1090" alt="image" src="https://user-images.githubusercontent.com/31234273/200209928-d0f6c7c3-7102-4e68-a3f5-55d4086a0f21.png">

use fabric8-kubernetes-client:6.0, when I restart , it has chance to  trigger the question above.

[2022-11-07 11:05] #4136 closed

[2022-11-07 12:30] shawkins opened #4563 "facing classloader issue with gradle"
[code]

just added the dependency like so:

[code]

Would really appreciate any solutions, thanks

_Originally posted by @infiniteregrets in https://github.com/fabric8io/kubernetes-client/issues/4248#issuecomment-1304583337_

[2022-11-07 12:34] shawkins commented on #4563
@infiniteregrets it's best to start this as a separate thread.  As @manusa showed on the other issue there seems to be something specifically that JMeter is doing to cause groovy to handle transitive dependencies in a different way.  For your situation, please post the dependency tree - it would appear that the default okhttp dependency is not in your runtime classpath.

[2022-11-07 12:53] infiniteregrets commented on #4563
it worked for when i did
[code]
on init and added `implementation("io.fabric8:kubernetes-httpclient-jdk:6.2.0")` as a dependency

[2022-11-07 13:04] shawkins commented on #4563
@infiniteregrets in your first example it appeared that you trying to use the default okhttp implementation.  Now you have included the jdk http client, and explicitly set the context class loader.  In theory you should not have to explicitly set the contextClassLoader - is your runtime / application setting a context classloader by default that does not include the fabric8 http client dependencie

[2022-11-07 13:59] Fabian-K opened #4564 "IOException when reading response body is swallowed by OkHttp based implementation"
### Describe the bug

When there is an IOException while reading the response body, the exception is swallowed and never propagated to the client/caller.

Reading the response body takes place in the constructor of OkHttpResponseImpl. When something goes wrong, the exception is not propagated in sendAsync to the client/caller

https://github.com/fabric8io/kubernetes-client/blob/ba04a46bf369f3b56f0

[2022-11-07 18:55] #4355 closed

[2022-11-08 13:35] #4519 closed

[2022-11-08 13:49] #4546 closed

[2022-11-08 13:57] egvili opened #4569 "Fabric8 builds JdkHttpClientImpl with 0 as timeout, and that leads to "Invalid duration: PT0S""
### Describe the bug

When using fabric8 with `JDKHttpClient`, as recommended by RedHat and as means to workaround https://github.com/fabric8io/kubernetes-client/issues/4562 , we get the error: _Invalid duration: PT0S_
From a short debugging it appears that when `PodOperationsImpl` builds `HttpClient` in `setupConnectionToPod()` it uses 0 as `readTimeout`. But `JDKHttpClient` doesn't handle this w

[2022-11-08 15:14] shawkins commented on #4569
This is a regression from #4490 - the new configuration logic is effectively omitting the 0 duration check.  I'm not sure why there wasn't coverage for that.

[2022-11-08 22:48] adietish commented on #4448
@umutcann can you please elaborate a bit how you fixed your problem? I'd appreciate a lot. I could face something similar, with cient 5.x though.

[2022-11-09 03:22] smartkuk opened #4571 "how to avoid 1 second timeout when createorreplace with dryrun"
https://github.com/fabric8io/kubernetes-client/blob/ba04a46bf369f3b56f041d3bd87774e484374137/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/BaseOperation.java#L293

hi I use createorreplace method with dryrun option for validate.
but I can execute successfully createorreplace method, cause by timeout

How to avoid 1 second timeout

[code]

[2022-11-09 08:56] umutcann commented on #4448
@adietish before client 5.x version, I was calling my createOpenshiftClient method(I shared above) in try block

[2022-11-09 11:56] shawkins commented on #4516
Based upon the initial team call feedback the force() method option was the favorite - it's the closest to kubectl, it's the simplest for users, and we'll have a server side apply dsl with #4531.  That outweighs the blocking nature.  The assumption is that later we'll offer non-blocking variants of the operation methods, like create.

[2022-11-09 13:59] gyfora opened #4572 "Support PatchContext for patchStatus method"
### Is your enhancement related to a problem? Please describe

Currently the patchStatus method does not expose the PatchContext which makes it impossible to define PatchType which could be very useful in many cases.

In the current way it is for instance impossible to set `null` values in the status using the `patchStatus` as those are ignored in the default strategy.

### Describe the solution y

[2022-11-09 14:04] shawkins commented on #4572
@gyfora last I checked patching status with anything other than json merge was not supported.  Do you have an example of a resource and alternative patch type that is supported?

[2022-11-09 14:07] gyfora commented on #4572
I don't really know what is supported, personally I would love to be able to set `null` values in the status using patch :)

[2022-11-09 14:30] adietish commented on #4448
@umutcann: thanks for the details. Try with resource, unfortunately different from my issue. Will file a new one

[2022-11-09 17:55] shawkins commented on #4562
Not sure there is much here that is related to the kubernetes client project.  This is largely an interaction between okhttp and spring reloading.  The only thing that looks odd is the kotlin-stdlib dependency - it's neither the one referenced by the 4.0.1 release, nor is it the most up-to-date one - https://mvnrepository.com/artifact/com.squareup.okhttp3/okhttp/4.0.1

If trying a different depend

[2022-11-10 10:21] gyfora opened #4573 "MockClient / Server does not respect `lockResourceVersion()`"
### Describe the bug

When using the KubernetesMockServer and KubernetesMockClient I am trying to test locking on a resource version before doing a status update.

Seems like no matter what version I lock on the update goes through (when it should fail if I understand correctly).

Am I missing something here?

### Fabric8 Kubernetes Client version

6.2.0

### Steps to reproduce

When using the Kub

[2022-11-10 11:57] shawkins commented on #4573
The crud mock server is very far from a complete replacement for a real kubernetes instance.  Issues like this are treated as enhancements - the behavior will keep getting more robust but there's no expectation that it will be a full / drop-in replacement.

The workaround is to register a non-crud style expectation with the server specifically for behavior that is not covered.

[2022-11-10 12:28] shawkins commented on #4363
@manusa @rohanKanojia in looking at doing this work it seems best to deprecate ResourceCompare:
- it is not used internally in the codebase.  I gather it used to be used by createOrReplace logic
- equals is not descriptive of what it is doing.  It's checking instead if any of the non-null fields in the right entity have been changed in the left entity.  That is a very specific type of check.

Any

[2022-11-10 13:05] gyfora commented on #4573
The problem I am facing is that I cannot seem to be able to register custom resources with the mock server (non-crud style)

[code]

I get:
[code]

[2022-11-10 13:18] shawkins commented on #4573
non-crud requires registering explicit expectations, see https://github.com/fabric8io/kubernetes-client/blob/2b735ba6932f6dc7b92c4fe8cbd6781fcd45e55a/kubernetes-tests/src/test/java/io/fabric8/kubernetes/client/mock/ConfigMapTest.java

calls like server.expect().withPath...

Also keep in mind there are also no stateful side-effects when using non-crud expectations.

[2022-11-10 13:20] gyfora commented on #4573
ah I see, so it's basically impossible to write a test for locking like using the mockserver

[2022-11-10 13:50] shawkins commented on #4573
Not impossible, just more difficult.  Many of test classes in that mock kuberenetes-tests module are written against the non-crud server.  Also when you use EnableKubernetesMockClient(crud = true) the resulting server is in a hybrid mode - it will first check the expectations, before consulting the crud logic.

[2022-11-10 13:56] gyfora commented on #4573
Ok thank you for the explanation! I will try to work with what we have now :)

[2022-11-10 14:10] iocanel commented on #4225
Sundrio does not treat enums differently. This means for sundrio enums are regular classes with `kind == ENUM`.
This means that if you want to just grab the values of the enum, you'll have to chech if `kind == ENUM` and then return `static final` fields that have the same type as the declaring class.

[2022-11-10 15:19] gyfora opened #4574 "Client.resource(resource).get() does not return latest resource"
### Describe the bug

I have been trying to use the following code snippet to get the latest version of a given custom resource:
[code]

However it seems that this does not actually return the latest version but simply the resource I passed to the call...

On the contrary when I do:
[code]
it works and gives the latest resource.

This seems to be an inconsitency in the api.

### Fabric8 Kubernetes

[2022-11-10 15:25] shawkins commented on #4574
You need to use fromServer() to force the fetch for a get when using resource(foo).  When the docs refer to the "current item" that does include the one passed into the resource method.

[2022-11-10 15:28] gyfora commented on #4574
Maybe I just don't understand the design here but I find it extremely odd that a call to a client with a get returns the exact object that you passed to it.

I am sure many people will intuitively misunderstand this

[2022-11-10 15:42] shawkins commented on #4574
I'm not sure what the rationale was for having this naming / functioning.  Feel free to capture something if want to propose different signatures.

Sure, feel free to open a pr for any missing javadocs.

[2022-11-10 15:50] shawkins commented on #4574
This behavior was already how the client functioned for the existing resource and resourceList methods, so it carried forward once the resource method was generalized - as such existing usage wouldn't change.  I don't think it was spelled out in the release notes that you need to call fromServer when switching to the resource api from the other style - that was an over site.

As for changing the d

[2022-11-11 10:12] manusa commented on #4574
Considering #4533 this might be a problem, since users might actually want to use `kubernetesClient.load(InputStream)`, `kubernetesClient.resource(InputStream)`, and others to deserialize the streams.

However, I do agree that the current default behavior is misleading and is error-prone. So I think it does make sense to change the default behavior (always fromServer), but as long as we provide a

[2022-11-11 10:17] gyfora commented on #4574
It feels like if the user calls
[code]
and expect to get the deserialized value, then we are a little bit mixing two very different functionalities.

One is a simple deserialization problem (why not just use the Jackson ObjectMapper?) and one is the kubernetes client getting the resource which as you point out should always get `fromServer` to be consistent.

[2022-11-11 10:28] manusa commented on #4574
Yep, but the functionality is there (just like the `fromServer()` modifier) since the beginning and some users might be relying on it.

As I said, I'm not against changing the default behavior, especially because the semantics of the `resource().get()` are more unclear than `load().fromServer().get`. But we should deprecate `fromServer` and provide a clear notice of the behavioral change.