[2021-09-07 12:25] maxwellknoxx commented on #3116
Hi, it's me again.

I have tried to upload a .csv file to my PV but it does not upload.

this is the snippet:
`private final Path root = Paths.get("/apps/data");

    public String uploadFile(MultipartFile file) throws IOException {
        String fileName = save(file); // saves the file on /apps/data

        List<String> podList = getPodsName();

        String podName = getPodName(podList);

[2021-09-07 18:27] z0mb1ek commented on #3446
I don't see where I can get containers names for .inContainer() call

[2021-09-07 23:48] deepsan opened #3450 "CRD generator fails with `ClassCastException` in some cases"
With some annotated classes, `mvn` failed compilation with an abstract
[code]
error

On further investigation, this is failing in the CRD generator and is a regression in 5.7.1 from https://github.com/fabric8io/kubernetes-client/issues/3431: if fields have any annotations with non-string `value` attributes, it will fail since the code always tries to cast it to a `String`

[2021-09-08 02:41] qian0205 commented on #2449
I  want to keep getting logs and print it using system.out.println  when new logs come. How can I do it?

[2021-09-08 02:59] stupid-yu commented on #3116
cuz this upload api works for me，if directory "/mnt/data/processor/" in pod which you want to upload exists，check  your Path parameter.
Only two parameters need attention, wish you success!

[2021-09-08 03:14] rohanKanojia commented on #2449
@qian0205 : Hi, Could you please check if this works?

[code]

[2021-09-08 04:52] #3442 closed

[2021-09-08 05:54] #2863 closed

[2021-09-08 06:33] rohanKanojia commented on #3326
These resources have been dropped in Kubernetes. But their model(go structs) still seems to be present in Kubernetes 1.22.1 source:

- admissionregistration.k8s.io/v1beta1
https://github.com/kubernetes/api/blob/v0.22.1/admissionregistration/v1beta1/types.go
- authorization.k8s.io/v1beta1
https://github.com/kubernetes/api/blob/v0.22.1/authorization/v1beta1/types.go
- apiextensions.k8s.io/v1beta1
ht

[2021-09-08 08:53] #3450 closed

[2021-09-08 12:02] dzwicker commented on #1502
Ping

[2021-09-09 04:42] flavioschuindt commented on #3437
Hi, @shawkins.

Thanks again. So, trying to follow what you are saying, but having trouble to understand what the informer is doing:

* Yes, I could validate the async behavior of the SharedInformer. Starts on the main thread and free it;
* I have two fake jobs:

[code]

Using the DSL, If I start the informer like this  (1) ```kubernetesClient.batch().v1().jobs().inform``` I don't receive the ADD

[2021-09-09 10:24] kanedafromparis opened #3456 "io.fabric8:crd-generator need kubernetes-client-5.2.1"
Hello,

I am sorry for the noise, and thanks you for yours great job.

I tried to use `io.fabric8:crd-generator` and encounter a strange issue.

if I build my project with the latest client (aka 5.7.3) i have a compilation error :

[code]

after a few investigation I manage to make it works with `kubernetes-client-5.2.1`

I also notice (which explain the issue):
[code]

My guess would be that it i

[2021-09-09 10:46] kanedafromparis commented on #3456
I create a sample project
https://github.com/kanedafromparis/fabric8-crd-generator-issue-3456

[2021-09-09 12:08] shawkins commented on #3437
This will use whatever is configured as your default namespace.  You can use kubernetesClient.getNamespace() to confirm what namespace the client is using.

This is explicitly using the default namespace.

I don't completely follow what you are describing.  The underlying watch will either be specific to a namespace, or follow all namespaces if you use jobs().inAnyNamespace().  Unless you do some

[2021-09-09 14:58] metacosm commented on #3456
The artifact is different: it got split into `crd-generator-api`, which allows you to generate the CRDs programmatically and `crd-generator-apt`, which is using an annotation processor to generate the CRDs. If you want a simple replacement of the old `crd-generator` artifact, then you need to use `crd-generator-apt` instead.

[2021-09-09 16:28] kanedafromparis commented on #3456
OK, thanks for the feedback.

I propose a PR (https://github.com/fabric8io/kubernetes-client/compare/master...kanedafromparis:patch-1) to match this.

[2021-09-09 16:28] #3456 closed

[2021-09-09 17:11] metacosm commented on #3456
Please open a PR for that change.

[2021-09-09 18:30] kanedafromparis commented on #3456
There : https://github.com/fabric8io/kubernetes-client/pull/3457

[2021-09-10 02:08] flavioschuindt commented on #3437
Cool, @shawkins. Your explanation is very clear, I was missing the label filtering and the ```inAnyNamespace ```, now I am receiving the proper events. With this new approach then I went ahead and did some performance test. Created one CR every 40 seconds. All good, until around in iteration number 40, I get this:

[code]

After it, no more events received because looks like from the above logs th

[2021-09-10 11:24] shawkins commented on #3437
That is expected.  The resource version the watch was started against is now too old for kubernetes to track changes from.  The informer logic will automatically re-establish the watch off of a fresh listing and emit the appropriate events.

It appears that your code is calling close on the informer at some point.  After this it will stop watching and cannot be restarted.

[2021-09-10 12:36] eliasnogueira opened #3459 "[Question] Ways to wait for pod or deployment conditions"
Hi guys!
I'm playing with the API and I have the following scenario I can't achieve giving my temporary lack of knowledge in the client API.

**Scenario**
For a specific reason, I need to delete a pod and wait for it until it's ready again.
The usage of `client.pods().inNamespace(namespace).withName(podName).waitUntilReady(5, TimeUnit.MINUTES);` does not works becausethe pod status is always ready

[2021-09-10 13:28] jeromedemangel opened #3460 "Openshift InvalidFormatException Cannot deserialize value for Kind Template"
Hello,

With the openshift-client library

[code]

I try to get a template :

[code]
The template contains an object with :

[code]

And a parameter :

[code]

When executing the Java code, the error is thrown

[code]

The runAsUser is effectivly a long in the destination object, but in the template It's a string refered by the parameter

[2021-09-10 13:35] kenfinnigan opened #3461 "Mock KubernetesServer not performing cleanup"
When creating pods in the mock server with `mockServer.getClient().pods().create(pod1)`, deleting them at the end of a test with `mockServer.getClient().pods().delete()` does not result in the pods being removed in subsequent tests.

[2021-09-10 13:55] sknot-rh commented on #1712
Is there any workaround for loading `Template` objects? I am trying to load such an object with the `Integer` placeholder however, it is failing. Minimal reproducer:

Run this test in `io.fabric8.openshift.client.server.mock.LoadAsTemplateTest`
[code]
It fails with `Cannot deserialize value of type `java.lang.Integer` from String "${{CONTAINER_PORT}}": not a valid Integer value` as the validator e

[2021-09-10 15:34] shawkins commented on #1712
@sknot-rh can you move this comment onto #3460

[2021-09-11 03:55] gastaldi opened #3462 "Bump the minimum required JDK to 11"
JDK 11 introduces several improvements to the language (including `java.net.http.HttpClient`, which could be useful in case there are plans to change the HTTP implementation - see https://github.com/fabric8io/kubernetes-client/issues/2764), among other nice-to-have features.

[2021-09-11 07:41] aadityasinha-dotcom commented on #3163
Can I work on this issue?

[2021-09-11 13:37] shawkins commented on #3461
What version is this on?  Older versions of the mock logic had an issue with inferring the namespace of the object created.  That was addressed by #3156.  This works fine on latest from what I can tell.

[2021-09-13 05:22] manusa commented on #3462
In earlier discussions some of the team members had discrepancies with the migration (at least, myself and I think @iocanel were against it). So it would be good to see if any of the members of the community would have any problem with this and the reasons why.

+1 In my case, given the fact that JDK 17 (LTS) should be GA in a few days, it makes sense to drop support for JDK 8 and encourage users

[2021-09-13 07:46] sknot-rh commented on #3460
Hello, I am having a similar issue. I am trying to load an object with the `Integer` placeholder however, it is failing. Minimal reproducer:

Run this test in `io.fabric8.openshift.client.server.mock.LoadAsTemplateTest`
[code]
It fails with `Cannot deserialize value of type java.lang.Integer from String "${{CONTAINER_PORT}}": not a valid Integer value` as the validator expects `Integer` value but

[2021-09-13 13:50] shawkins commented on #3460
The current logic seems to only support string value parameters.  It will fail otherwise because it's using strongly typed instances when parsing the objects.  @rohanKanojia @manusa the quickest change that I can think of here would be to change HasMetadata to GenericKubernetesResource:

[code]

There is logic in OpenShiftNamespaceVisitFromServerGetWatchDeleteRecreateWaitApplicableListImpl related

[2021-09-13 13:51] ZviMints commented on #3362
Thanks @manusa
I though there some already implemented client which will not fall over to the default context
I used ensuring as follows:
[code]
Thanks!
I'm closing this ticket

[2021-09-13 13:51] #3362 closed

[2021-09-13 18:29] kenfinnigan commented on #3461
5.6.0 of the fabric8 client

[2021-09-14 08:21] Vlatombe commented on #3176
According to https://github.com/square/okhttp/blob/998633be00d1b2952d068ea04b376fd83bc05c3f/okhttp/src/main/kotlin/okhttp3/ConnectionSpec.kt#L302-L310, these ciphers are forbidden when using TLS1.2 and http/2, so the server rejects them.
Kubernetes-client defaults to [MODERN_TLS](https://github.com/fabric8io/kubernetes-client/blob/b5ef58c714450672a429a2edb5fdcdf562b1199b/kubernetes-client/src/main

[2021-09-14 13:09] kenfinnigan opened #3467 "How to mock pod metrics?"
Is there a way to mock the data for pod metrics such that calling:
[code]

will return valid metrics?

I've tried this:
[code]

but it fails with:
[code]

[2021-09-14 14:45] rohanKanojia commented on #3461
I'm not able to reproduce this. I tried adding a new test case to PodCrudTest like this but it is passing for me:
[code]

Would appreciate it if we could get some more information.

[2021-09-14 14:49] kenfinnigan commented on #3461
@rohanKanojia does your example use the mock server? It looks like it's using the actual client

[2021-09-14 14:54] rohanKanojia commented on #3461
PodCrudTest is using `@EnableKubernetesMockClient` annotation which initializes mock server and client automatically:

https://github.com/fabric8io/kubernetes-client/blob/2dbfe29926cf25285ad1fb3bda2318afdf2d0f31/kubernetes-tests/src/test/java/io/fabric8/kubernetes/client/mock/PodCrudTest.java#L41-L45

[2021-09-14 14:58] manusa commented on #3467
I'd doubt if this could be mocked using CRUD (which is what I assume you're trying to accomplish here). This could be implemented as an extra-feature in the mockserver by providing some additional handlers (I think).

The metrics are obtained querying the metrics-server's custom HTTP endpoints (i.e. they are not resources->~~REST~~).

However, it should be possible  to do using the non-CRUD mode.

[2021-09-14 15:05] kenfinnigan commented on #3467
So there's no way to "fake" metrics in a mock situation to verify internals read metrics properly?

If so, that's fine, just want to make sure I'm not doing something wrong and it should work

[2021-09-14 15:07] kenfinnigan commented on #3461
Thanks @rohanKanojia

The main difference I see is that I didn't delete a specific pod, but all pods with:
[code]

Is that the problem? I need to delete the pods by name?

[2021-09-14 15:37] shawkins commented on #3461
Under the covers pods().delete() will perform a list and delete each individually.

[2021-09-14 15:42] kenfinnigan commented on #3461
Is there a problem with how I create the pod?

I've used `mockServer.getClient().pods().create(pod1);`

[2021-09-14 16:20] rohanKanojia commented on #3461
If you don't specify namespace Kubernetes Mock Server assumes namespace to be test(This is done in order to mock default context behavior we have in `.kube/config` files):

https://github.com/fabric8io/kubernetes-client/blob/2dbfe29926cf25285ad1fb3bda2318afdf2d0f31/kubernetes-client/src/test/java/io/fabric8/kubernetes/server/mock/KubernetesMockServer.java#L77-L85

Anyway, even if I trim namespace

[2021-09-14 18:04] shawkins commented on #3460
Discussed with @manusa an alternative that would somehow redirect the parser to use something like additionalProperties to track any value that doesn't parse.

There are some possible facilities in jackson for this, such as a DeserializationProblemHandler implementing handleWeirdStringValue - but that can only change the value.  It cannot redirect the value to additionalProperties as the context d

[2021-09-15 02:37] #2168 closed

[2021-09-16 06:58] lburgazzoli opened #3472 "Make it possible to customize Informer Cache key function"
The `Cache` class - which is  one of the implementation of the Store interface - has an options to configure the key and index function:

https://github.com/fabric8io/kubernetes-client/blob/04e0b2e2530751c90aeb9c0465ad3219c46a636f/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/informers/cache/Cache.java#L61

Which by default are based on metadata name and namespace:

https://github.c

[2021-09-16 12:31] Sgitario opened #3473 "Regression issue using ExecWatch: Getting forbidden spite of being authenticated"
In previous versions of fabric8, we were doing:

[code]

This is now returning:

[code]

Note that we are authenticated using the token: `oc login ... `

This is not working in 5.7.3 or 5.7.2, but it worked in the past.

[2021-09-16 13:08] shawkins commented on #3472
A proposal would be to add Informable.withKeyFunction(function) and Informable.withNamespaceIndex(boolean)

[2021-09-17 02:03] soham283 commented on #3163
it this issue has been solved ??

[2021-09-17 05:17] rohanKanojia commented on #3163
@soham283 : I think all places are still not updated: https://sonarcloud.io/organizations/fabric8io/issues?projects=fabric8io_kubernetes-client&resolved=false&rules=java%3AS2293

[2021-09-17 06:34] rohanKanojia commented on #3461
ohk, I am able to reproduce this issue with the test shown below. I've prepared a reproducer project https://github.com/rohankanojia-forks/fabric8-k8s-client-mockwebserver-issue3461-reproducer (which is based on v5.6.0). I'm also able to reproduce this on master.

[code]

[2021-09-17 07:10] tombentley opened #3474 "Readiness doesn't account for metadata.observedGeneration"
[`Readiness`](`https://github.com/fabric8io/kubernetes-client/blob/04e0b2e2530751c90aeb9c0465ad3219c46a636f/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/internal/readiness/Readiness.java`) and `OpenshiftReadiness` don't check, when using the `status` of resources, whether the `status.observedGeneration==metadata.generation`. Therefore there is the risk that, if the resource is upda

[2021-09-17 07:22] rohanKanojia commented on #3461
Sorry, false alarm. `client.pods().delete()` would delete pods in all namespaces only when there is no namespace set in Config(In case of mockwebserver, it's always `test`. It's done to mock having namespace set in current context of `.kube/config`:
[code]

In the case of mockwebserver, the namespace set would be always `test`. In order to delete pods in all namespaces, this should always work:
[c

[2021-09-17 08:48] pmbsa opened #3475 "Version 5.7 transitive dependency issue"
Hi, I just uplifted to version 5.7(3) from 5.6. I Appear to have a problem with the common-model dependency that is coming through the transitive dependencies  is on 4.4.1 which doesnt have all the required classes for the new version of the api. I am not sure if there is something specific to my environment that is causing this, it seems strange that it isnt causing everybody an issue but I thoug

[2021-09-17 09:00] rohanKanojia commented on #3475
Do you think your issue is similar to https://github.com/fabric8io/kubernetes-client/issues/3436 ?

[2021-09-17 09:01] manusa commented on #3475
The model module structure has changed since 4.4.1, please review that the artifacts you depend on still exist or have been renamed.

[2021-09-17 09:12] pmbsa commented on #3475
I can see the model structures have changes yes. thats why I am querying what is happening. The issue sound similar to  #3436 BUT I can confirm that there are NO fabric8 dependencies in the project until I add the kubernetes-client. There is no spring-cloud usage at all for sure and if I remove the kubernetes-client from the pom I can see all fabric8 resources removed.

Its easy enough to fix with

[2021-09-17 11:01] rolandpickl opened #3476 "Default truststore load on openJDK"
The default keystore format is set to pkcs12 in all current versions of openJDK since version 9, but the cacerts keystore format is still  jks. Therefore when using the kubernetes client it prints this error message into the log:

[2021-09-17 12:06] soham283 commented on #3163
Then İ would like to work on this issue

[2021-09-17 12:09] shawkins commented on #3459
What version are you on?

At least for 5.6+ waitUntilReady must pass the readiness check - pod has ready condition = true - before it will succeed.

[2021-09-17 14:37] wwulfric opened #3477 "throw NPE when upload file from local to pod"
version: 5.7.3

[code]

Any suggestion to find out the reason?

similar issues: #2217 https://github.com/airbytehq/airbyte/pull/4214

[2021-09-17 14:41] wwulfric commented on #3477
It seems happening in some specific pods. But I don't know why. Bad pods do not have bash inside, while normal pods do.

[2021-09-17 14:44] shawkins commented on #3477
See #3384

[2021-09-17 14:47] wwulfric commented on #3477
@shawkins Yes I found it and gave  a similar title. The file is not uploaded successfully in my case.

[2021-09-17 14:57] shawkins commented on #3477
Okay, so ignoring the logging of the npes, you are asking more about the exception:

[code]

That appears to be an issue PodUploadWebSocketListener.onMessage - any message larger than a single byte is assumed to be an error.  It would be good it include the relevant code and your kubernetes version.  I'm not familiar enough to say offhand what the expectation here is - @rohanKanojia any idea?

[2021-09-17 15:00] rohanKanojia commented on #3477
I'm sorry I don't know about it. I think @manusa  can provide better insight since he implemented upload funtionality.

[2021-09-17 15:10] wwulfric commented on #3477
@shawkins What's the kubectl command of sdk upload? Maybe I can try upload from kubectl

[2021-09-17 15:25] shawkins commented on #3477
https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#cp

[2021-09-17 17:58] kenfinnigan commented on #3461
@rohanKanojia that seems to work for most tests, but I did hit one error.

I happened to notice that any watcher I installed with `client.pods().inAnyNamespace().watch(podWatcher)` is not removed with the delete.

Is there a way to remove a watcher?

[2021-09-17 18:47] shawkins commented on #3472
@lburgazzoli see if #3472 is roughly what you need.

It might be a good idea to capture what else you may be looking for in terms of control over the cache - such as locking, using a disk backed store, etc.?  Or do you think that the current simple ConcurrentHashMap implementation will suffice?

[2021-09-17 20:40] shawkins commented on #3461
Watches require an explicit close.  If the client is closed that should do it as well.

[2021-09-18 01:48] aadityasinha-dotcom commented on #3163
I had already made a pr for this. Can anyone review that?

[2021-09-18 02:43] wwulfric commented on #3477
I write a simple demo jar
[code]
It runs normal in my mac, but fails in my business pod with exception:

[code]

Notice that the file is uploaded successfully.

[2021-09-19 03:33] #1858 closed

[2021-09-19 12:18] #3183 closed

[2021-09-19 13:18] #3182 closed

[2021-09-20 07:26] lburgazzoli commented on #3472
It seems to be what I need. Thank you very much

I don't have yet an idea but as you suggested, having some locking mechanism (maybe provided as a decorated cache/store) seems reasonable and useful. An off-heap backed-store would probably also be something to explore.

[2021-09-20 12:04] shawkins commented on #3472
What I'm thinking is that if you need even more customization, then the Cache or a Store should be pluggable rather than focusing on the individual options.

[2021-09-20 12:21] kenfinnigan commented on #3461
By "explicit close", do you mean calling `onClose()` for the watcher? Or another way to close the watcher, as I can't find anything obvious?

[2021-09-20 12:24] rohanKanojia commented on #3461
I think he's referring to watcher.close() method. Something like this:

https://github.com/fabric8io/kubernetes-client/blob/04e0b2e2530751c90aeb9c0465ad3219c46a636f/kubernetes-tests/src/test/java/io/fabric8/kubernetes/client/mock/WatchTest.java#L148-L158

[2021-09-20 12:33] kenfinnigan commented on #3461
Thank you!

I'd completely missed there was a `Watch` instance I could capture that had the `close()` on it!

All seems good now, thanks again for the help

[2021-09-20 12:33] #3461 closed

[2021-09-21 08:53] metacosm opened #3482 "`KubernetesResourceUtil.sanitizeName` doesn't account for name length"

[2021-09-21 11:01] #3312 closed

[2021-09-21 12:52] #3326 closed

[2021-09-21 14:36] #3398 closed

[2021-09-21 15:17] shawkins opened #3484 "informer isWatching returns false, when it is watching"
It appears that both onClose methods are being called which results in the Reflector/Informer logic interprets the second call as watching = false

[2021-09-21 15:18] shawkins commented on #3101
I think there is still an issue with isWatching.  Testing in 5.7 isWatching is not working as expected #3484

[2021-09-22 04:44] #3384 closed

[2021-09-22 05:10] manusa commented on #3473
I'm not sure if this is related to recent changes in the Pod Exec feature related code or to Config and cluster authentication (#3445).

I assume that you have tested the same code with the different client versions on the same cluster (same environment | different client).

[2021-09-22 05:15] Sgitario commented on #3473
Yep, this was working on the Fabric8 dependencies being used by Quarkus 1.13

[2021-09-22 08:36] #3484 closed

[2021-09-22 10:23] manusa opened #3486 "Annotator code for main model and extension model modules should be merged"
### Description

Currently there are 2 ways that generated model types get annotated (+further generated) depending on their parent module.

For regular/main model modules (those located in [kubernetes-model-generator](https://github.com/fabric8io/kubernetes-client/tree/9e8ae39711143648158f555757296c613175c819/kubernetes-model-generator)), the annotators defined in [kubernetes-model-generator/kube

[2021-09-22 10:24] #3433 closed

[2021-09-22 12:59] shawkins commented on #3407
2 - is not a simple change.  BaseOperation/HasMetadataOperation can't implement two Namespaceable interfaces.

The simplest thing we could do is change resource to return Resource<T>, so

client.resource(resource)

would be implemented by something like:
[code]
However that means you would loose the ability to later call inNamespace as that is not provided on the Resource interface.  The only draw

[2021-09-22 13:36] shawkins commented on #3184
Now that we have made progress with #3487 we should revisit this - either by adding support in the mock, or by changing the isAdaptable logic further.

[2021-09-22 14:44] tsaarni commented on #3473
I doubt it could be #3445 since it was just merged yesterday and this issue is found in previous releases.

[2021-09-22 15:43] shawkins commented on #448
Logged more recently as #3460

[2021-09-22 15:47] shawkins commented on #2972
@metacosm can this be closed based upon the changes for #3327

[2021-09-22 15:56] metacosm commented on #2972
Possibly… :)
The linked PR doesn't really affect the generated classes from the go model, though, iirc. This issue is about making sure that all generated classes have the `Group` and `Version` annotations properly set, so that we could also remove a bunch of code from the generated classes like all the stuff that deals with `kind`, `apiVersion`, etc. in a second/further step.

[2021-09-22 16:38] manusa commented on #3473
Yep, wrong PR linked, but there were recent changes to the TokenRefresjInterceptor and the Config retrieval. The question was more about if with a constant environment, the issue was present only in the recent versions of the client.

[2021-09-23 01:55] #2217 closed

[2021-09-23 08:45] Black-Pi opened #3489 "Critical CVE CVE-2017-7525 in zjsonpatch-0.3.0.jar"
The kubernetes-client uses the zjsonpatch-0.3.0.jar library which has a critical vulnerability: https://nvd.nist.gov/vuln/detail/CVE-2017-7525
Please upgrade to an newer version of zjsonpatch.

[2021-09-23 09:00] manusa commented on #3477
Can it be a networking error? Did you manage to make it work with kubectl (in you business pod)?

[2021-09-23 11:34] manusa commented on #3460
Thanks for documenting this @shawkins

We have a similar problem for this when trying to deserialize and serialize YAML resources intended to be used with Helm.
These YAMLs contain placeholders that will alter on be replaced by Helm provided values.

The overall idea would be to improve the default deserializer (+ serializer) so that values that can't be deserialized due to type conflicts (e.g. a

[2021-09-23 12:01] metacosm opened #3491 "Make KubernetesClientException more detailed so that we can get information about what went wrong"
It would be interesting to have the detail of the resource(s) that caused a `KubernetesClientException` so that more accurate decisions can be made in client code.

[2021-09-23 12:08] oscerd commented on #3489
We are using a library from the old day of fabric8. We need to switch to something else if we want to upgrade.

[2021-09-23 12:14] manusa commented on #3489
Yes, I discussed this with @rohanKanojia  the other day. That library is based in a fork of another repo. We might just depend on the original library.

Also the  CVE is related to Jackson. I don't think there's a transitive dependency and the Client's Jackson dependency should be the applicable one. But we definitely need to tackle this.

[2021-09-23 12:16] oscerd commented on #3489
The latest version of https://github.com/flipkart-incubator/zjsonpatch is using jackson 2.10.3, which is not affected by the CVE

[2021-09-23 16:04] #3491 closed

[2021-09-24 09:36] rohanKanojia opened #3493 "Move Snowdrop Istio extension to Fabric8 Kubernetes Client Extensions"
We have Istio Java Client Extension which is based on Fabric8 Kubernetes Client hosted here: https://github.com/snowdrop/istio-java-api

This was created by @metacosm and @iocanel due to their teaming requiring working with Istio API at the time of creation. Since now we have got Fabric8 Kubernetes Client Extensions for Knative, Tekton, Service Catalog, CertManager, VolumeSnapshot in extensions/ m

[2021-09-24 09:36] rohanKanojia opened #3494 "Move Kubernetes Assertions to Fabric8 Kubernetes Client"
I would like to propose moving Kubernetes Assertions(https://github.com/fabric8io/kubernetes-assertions) module into Fabric8 Kubernetes Client.

This module was earlier located in Fabric8 Platform repository: https://github.com/fabric8io/fabric8/tree/v3.0.12/components/kubernetes-assertions . I found out about this due to a [twitter conversation](https://twitter.com/jvanzyl/status/1230476204353970

[2021-09-26 10:24] ttbadr commented on #3408
create #3496  to resolve this issue

[2021-09-26 12:11] wwulfric commented on #3477
@manusa I've tried many times. It works from my laptop with kubectl and jar. It fails from my business pod with jar.  It works from one master node with kubectl.

[2021-09-27 08:59] longzhixin commented on #1942
could you share more detail？I have the same problem

[2021-09-27 09:07] rohanKanojia commented on #1942
@longzhixin : Could you please provide some reproducer so that we can reproduce this issue?

[2021-09-27 10:43] manusa commented on #3449
Could you try to reproduce with the most recent release? (I recall we did some changes to the createOrReplace method since 5.0.0)

[2021-09-27 10:46] manusa commented on #3448
I guess the problem is that with OpenShiftClient what you get is the OpenShiftVersion instead of the K8s version, right?

Solution might be to add an extra method in OpenShiftClient to retrieve the kuberentes version.

[2021-09-27 10:51] vmasyagin opened #3497 "Error when upload file to container"
Good afternoon.
[code]
Good afternoon, trying to upload a file to a container like this:
[code]
Please tell me what could be the cause of the following error:
[code]

[2021-09-27 10:56] manusa commented on #3497
The stacktrace seems to report that there's something wrong with your dependencies.

Please check if you have any additional k8s client dependency that was forgotten. You might also want to clear your local .m2 repo for the client (io/fabric8/...)

[2021-09-27 10:59] vmasyagin commented on #3497
Yes, I also have the following dependencies connected:
<code>
<dependency>
	<groupId>io.kubernetes</groupId>
	<artifactId>client-java</artifactId>
	<version>13.0.0</version>
</dependency>
<dependency>
	<groupId>io.fabric8</groupId>
	<artifactId>openshift-client</artifactId>
	<version>5.8.0</version>
</dependency>
<code>

[2021-09-27 11:29] vmasyagin commented on #3497
Clearing of local .m2 repo for the client (io/fabric8/...) didn't help. Removed from dependencies openshift-client, the result is the same. Is there a way to make both clients friends in one project?

[2021-09-27 12:00] rohanKanojia commented on #3497
Does it work when you try having all `io.fabric8:kubernetes-client`, `io.fabric8:openshift-client` and official client dependencies? I don't remember if I also tried with openshift-client but I was able to get both clients working in same project for some demo project[0]

[0] https://github.com/rohanKanojia/fabric8-official-java-client-comparison/blob/master/pom.xml

[2021-09-27 12:14] rohanKanojia commented on #3449
@csumutaskin: If I omit `objectMeta.setNamespace("a namespace value here...");` line your code works for me. Note that namespace is set in my current context:

[code]

If I set namespace to some other namespace(let's say `rokumar-stage`), I get namespace mismatch error:
[code]

[2021-09-27 13:25] rohanKanojia commented on #3446
I checked and looks like `inContainer` works for both regular containers and initContainers. You can easily get a list of all container names and init container names like this:
[code]

[2021-09-27 13:29] #3482 closed

[2021-09-27 13:32] #2171 closed

[2021-09-27 14:34] #3294 closed

[2021-09-27 14:34] #3303 closed

[2021-09-27 14:34] #3184 closed

[2021-09-28 07:40] vmasyagin commented on #3497
The problem is that one of the libraries had a dependency on io.fabric8:openshift-client version 4.9.1. I changed the version to 4.9.1 in my project and the problem went away. But there is one peculiarity. If I upload a text file with the content "My file", then a file with the content "My fil" arrives in the container. That is, the last letter disappears. Is this a known bug of version 4.9.1 or a

[2021-09-28 09:47] DanielKastner-Baloise opened #3498 "RejectedExecutionException / LogWatchCallback"
We're having troubles getting the log from our pod/container. Usually the first time it works fine. But the second time it fails with root cause RejectedExecutionException:
[code]
This is the code I'm using for doing this:
[code]
I noticed that there has been a similar issue (#2299) which has been resolved last year and we're using version 5.7.3 of Kubernetes Client.

[2021-09-28 09:52] ctron opened #3499 "Support IPv6 based clusters"
According to issue #2632, there seems not to be any support for IPv6 based clusters.

I think there should be. Simply to kill the argument of "Java can't work Kubernetes properly, let's use Go for operators".

Issue #2632 proposes do switch to okhttp4, which seems to have some implication. However, I think there be some solution to this issue. If this is #2632, or  #2764, some something else! Mayb

[2021-09-28 09:55] rohanKanojia commented on #3499
In past, we had submitted PR[0] for hostname fix to okhttp3 but it wasn't accepted(https://github.com/fabric8io/kubernetes-client/issues/2632#issuecomment-748434878). I think our only option is to move away from okhttp to some other library.

[0] https://github.com/square/okhttp/pull/6483

[2021-09-28 09:57] manusa commented on #3499
You can replace the OkHttp 3 dependency with OkHttp 4 and it should do the trick.

[2021-09-28 09:59] manusa commented on #3499
In any case, yes we need to move away from OkHttp and provide a robust, open, and sutainable solution.

[2021-09-28 10:29] vmasyagin commented on #3497
I raised the io.fabric8:openshift-client version in the library to version 5.8.0, raised the io.fabric8:kubernetes-client version in the program to 5.8.0 and again I get the problem described at the very beginning. The fabric8 local repository cleaned up, re-downloaded. Any thoughts what might be wrong now?

[2021-09-28 10:33] rohanKanojia commented on #3497
It's a bit difficult to find out just from the error. Would it be possible for you to share some public project which has the same configuration and reproduces issue?

[2021-09-28 15:38] #2874 closed

[2021-09-28 21:02] caramelomartins commented on #3038
I believe I have submitted a PR a few months ago to resolve this. Can we close this issue?

[2021-09-29 01:29] #3038 closed

[2021-09-29 11:02] joshiste opened #3500 "java.lang.NoClassDefFoundError: io/fabric8/kubernetes/internal/KubernetesDeserializer"
With 5.8.0 running on OSGI we get a NoClassDefFoundError.

The `io.fabric8.kubernetes.client.dsl.internal.HasMetadataOperationsImpl` from the `kubernetes-client` module is referencing the `io.fabric8.kubernetes.internal.KubernetesDeserializer` class from the `kubernetes-model-core` module which declares the package `io.fabric8.kubernetes.internal` as private and doesn't export it.

[code]

[2021-09-29 14:42] simkam opened #3501 "NPE in BuildConfigOperationsImpl.submitToApiServerWithRequestBody"
We have a code like
[code]
which started throwing NPE after upgrade to 5.7.x
[code]

The same code worked with 4.13.3.

[2021-09-30 09:15] joshiste opened #3503 "kubernetes-client-5.8.0.jar has /OSGI-INF with osgi data but the META-INF/MANISFEST.MF file is almost empty"
For me it looks like the kubernetes-client-5.8.0.jar should be an OSGI compatible jar (as it has some services in /OSGI) but its manifest is almost empty:

[code]

[2021-09-30 09:58] yougogirl commented on #3475
I have this issue with 5.8.0 as well. If there are no other dependencies in the project, all the kubernetes-model-* jars are all on 5.8.0 whereas when there are many other dependencies, the kubernetes-model-* dependencies fall back to 4.13.3

As you say, when I remove the kubernetes-client dependency from the pom, none of these are imported. The moment I bring in 5.8.0 in one particular project, s

[2021-10-01 03:59] soham283 commented on #3163
/assign soham283

[2021-10-01 06:16] xlf12 commented on #2959
I would also be happy about such a functionality. We have learned from the Spring framework that the documentation for so-called configuration properties is generated from the Java doc. I don't know how the generation is done here. The use of Java-Doc would of course be interesting.
If the code is only generated on the compiled classes, this would of course not be possible.

[2021-10-01 13:25] AbrahamArellano opened #3505 "OpenShift >4.8 model update and compatibility matrix update"
Hi team,

I would like to request the upgrade of the openshift-client to support OpenShift 4.8 and the upcoming 4.9 API model.

We tested successfully (only basic object creation) the current library with **OpenShift 4.7**, however, the documented **supportability matrix** only confirms the tests until **OpenShift 4.5**.

Thanks

[2021-10-01 13:37] AbrahamArellano opened #3506 "Request to extend model to cover ACM"
Hi team,

I would like to request the extension of the model to cover also Advanced Cluster Management. Currently our team is using the library in order to deploy clusters with ACM and it was required to extend the model to some of the following objects:
- ClusterDeployment
- ClusterDeploymentControlPlaneConfig
- ClusterDeploymentPlatform
- InstallConfig
- ManagedCluster
- etc.

In addition, would

[2021-10-01 18:42] flavioschuindt commented on #3437
Hi, @shawkins.

I was investigating more and last stacktrace is an issue with the javaoperatorsdk, not the informer. So, we are good in this case. I have one last question though: I see that the ```inform``` method is overloaded:

[code]

[code]
What is exactly the significance of the resync parameter? Looking at the java docs seems to be just a periodic interval where the informer will go in the

[2021-10-01 19:46] shawkins commented on #3437
A relist is not performed on a resync.  Relists are performed automatically when needed by the informer.  There is currently no mechanism to trigger them.

A resync simply produces an update event for each resource in the cache and supplies that update to interested handlers.

There are two resync values.  The one for the informer and the one for each event handler.

The one for the informer is ge

[2021-10-03 13:35] victornoel commented on #3266
This is still an active subject :)

[2021-10-04 07:17] soham283 commented on #3163
/assign

[2021-10-04 14:20] adietish commented on #3448
@manusa awesomeness, looking forward to it :)

[2021-10-04 18:50] pgandhap opened #3507 "Need examples on Openshift client"
Hi everyone ,

In the Kubernetes-client code there are many examples for kubernetes-client ( like pods , services , replication controller , jobs etc., )  . But coming to openshift there are only few examples (i.e, to create deployment and one more example for replication controller ) . Iam looking more examples under openshift like to create Jobs under namespaces , HorizontalPodAutoscaler ,Persis

[2021-10-04 23:45] flavioschuindt commented on #3437
Got it, @shawkins. Your explanation is very useful and I learned a lot here. For now, I am closing this ticket as all my questions are answered and seems that the stack trace is related to the java operator sdk. I will opend this ticket if more information is needed. Once again, thank you!

[2021-10-04 23:45] #3437 closed

[2021-10-05 06:31] #2956 closed

[2021-10-05 11:53] metacosm commented on #3437
Thanks @shawkins for the explanations! That was indeed interesting.

[2021-10-05 14:07] shawkins commented on #3437
No problem.  It sounds like we need more javadocs on resync.

[2021-10-05 16:04] #2936 closed

[2021-10-05 21:01] shawkins commented on #3498
openShiftClient.close(); - will close the threadpool used by the okhttp client.  That should cause the subsequent rejected executions.

[2021-10-05 21:14] shawkins commented on #3501
Please call withTimeout or withTimeoutInMilliseconds as a workaround. This is a regression from #3364 changes - since there's nothing calling a method that alters the BuildConfigOperationContext, the timeout field is being left as null.  I'll open a pr with a fix.

[2021-10-05 22:52] shawkins commented on #3501
Seems strange.  Those calls make this work locally for me.  In any case, see #3508

[2021-10-06 03:40] #3353 closed

[2021-10-06 06:25] DanielKastner-Baloise commented on #3498
Sounds like you could be right 😄 I'll check that out

[2021-10-06 13:16] lstocchi opened #3509 "Terminal lagging when allowing users interact with pod container using ExecWebSocketListener"
Hi guys,
this is a problem we faced in IntelliJ Tekton by using the new tekton debug feature.
With our plugin, users can interact with a pod container (where the tekton task step is run) directly from the IDE's terminal. We are using ExecWebSocketListener to achieve this.

Something like
[code]
Then connect the execWatch input/output streams to the terminal.

The issue is that when the user starts

[2021-10-07 01:28] ho-yasla opened #3512 "I am using a different kubernetes-client, but how can I see the same result as when using the RESTAPI url?"
I am using a different kubernetes-client, but how can I see the same result as when using the  RESTAPI url?
I'm wasting a lot of time on this issue. Help
================================================================================
use code
podSpec = oClient.pods().inNamespace(npName).withName(podName).get().getSpec();
yaml = new Yaml(opts).dump(pod);

==========================================

[2021-10-07 01:40] #3512 closed

[2021-10-07 01:40] ho-yasla opened #3513 "I am using a kubernetes-client, but how can I see the same result as when using the RESTAPI url?"
I'm wasting a lot of time on this issue. Help

use code

[code]
=================================================================================

[code]
=================================================================================

use kubernetes-client

spec.livenessPrkbe

[code]

[2021-10-07 07:38] ho-yasla opened #3515 "SerializationUtils.dumpAsYaml error"
[code]
 How can I solve this?
[code]

[2021-10-07 13:28] #3509 closed

[2021-10-07 23:28] #3513 closed

[2021-10-07 23:28] #3515 closed, assigned to nobody

[2021-10-09 01:12] ho-yasla opened #3521 "Jackson serializer format"
use code
`yaml = SerializationUtils.dumpAsYaml(pod);`

Current output value
[code]

Expected output value
[code]

Is there any way to get the expected output with a Jackson serializer?

[2021-10-09 06:25] #3521 closed

[2021-10-11 10:07] QiAnXinCodeSafe opened #3523 "There is a vulnerability in Apache Felix 1.12.0,upgrade recommended"
https://github.com/fabric8io/kubernetes-client/blob/c48ecf84a0a87631b32b1e164a80cfa202f277a1/openshift-client/pom.xml#L116-L118

CVE-2017-5641

Recommended upgrade version：
2.2.0-RC1

[2021-10-11 10:10] QiAnXinCodeSafe opened #3524 "There is a vulnerability in containerd v1.4.4,upgrade recommended"
https://github.com/fabric8io/kubernetes-client/blob/c48ecf84a0a87631b32b1e164a80cfa202f277a1/kubernetes-model-generator/go.mod#L8

CVE-2021-32760

Recommended upgrade version：
v1.4.11

[2021-10-11 18:07] shawkins commented on #3474
@tombentley and others, I don't quite follow what is needed here.  The current Readiness check is just a point in time check - there's no expectation that it will wait for a controller to act.  Can you provide additional context about where you are using the readiness - and if you need that to act over time could that be satisfied instead with waitUntilReady or waitUntilCondition?

[2021-10-13 16:58] #3390 closed

[2021-10-18 12:53] manusa commented on #3507
There are lot's of examples here:

https://github.com/fabric8io/kubernetes-client/tree/master/kubernetes-examples/src/main/java/io/fabric8/openshift/examples

[2021-10-18 18:14] rnorth opened #3535 "Not identifying ECDSA client key when configured with `Config.fromKubeconfig`"
I'm wondering if I might be using the library wrong, but I'm encountering an issue:

* When obtaining a `Config` object using `Config.fromKubeconfig`, where the config data is sourced from a YAML string; and
* when the config YAML data includes an ECDSA client key

It appears that the client key is being misidentified as RSA by the fabric8 client. A repro example may be informative: https://github

[2021-10-19 13:23] manusa opened #3536 "KubernetesServerMock CRUD mode doesn't provide valid responses for client.getXxxxVersion"
### Description

When running the MockServer in CRUD mode, some client method invocations to K8s specific _meta_ endpoints (such as [getVersion](https://github.com/fabric8io/kubernetes-client/blob/405ee7195c677e0596fe53e913b747d983945bc1/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/KubernetesClient.java#L259)) fail.

The KubernetesServerMock CRUD mode is used by applications that m

[2021-10-20 09:15] #2954 closed

[2021-10-21 07:22] nautiam opened #3538 "Prometheus API doesn't work"
I installed Prometheus-Operator on Openshift server v4.8, then I created an Openshift client and call Prometheus API to generate a Prometheus server on Openshift project.

[code]
It doesn't work and return an exception.

`
Resolved [io.fabric8.kubernetes.client.KubernetesClientException: Failure executing: POST at: https://api.openshift.example.com:6443/apis/monitoring.coreos.com/v1/namespaces/tes

[2021-10-22 23:32] barryzhounb opened #3540 "Could not find any document or implemetatiion code of CertManagerClient"
I am working on CertManagerClient, then I import the following library, it works.
[code]

But, from document and repo, I haven't found any Java source code and library API related to CertManagerClient. I am using import
[code]
But I could not find any document to introduce them.

I am wondering if CertManagerClient hasn't  been supported now? Or could anybody share the link about their implementat

[2021-10-23 01:45] barryzhounb opened #3541 "Hit error when get CertificateRequest"
I am working on certmanager-client, I am using version 5.5.0. I can create CertificateRequest succesfully, but II could not get an existing CertificateRequest. When I call "certManagerClient.v1().certificateRequests().inNamespace("barry").withName(certReqName).get()", it failed.

[code]

When I run the above snippet of code, I get error

[code]

Any ideas?

[2021-10-24 00:43] barryzhounb opened #3543 "java.lang.IllegalStateException: No adapter available for type:class io.fabric8.certmanager.client.V1APIGroupClient"
This is our dependency
[code]

This is my Java code
[code]

When I run my fat jar, I got this error
[code]

[2021-10-24 01:01] ho-yasla opened #3544 "How to provide values ​​like api using kubernetes-client prometheus?"
`/api/prometheus/api/v1/query_range?start=1635033473.383&end=1635037073.383&step=60&query=cluster:cpu_usage_cores:sum
`

`{"status":"success","data":{"resultType":"matrix","result":[{"metric":{"__name__":"cluster:cpu_usage_cores:sum","prometheus":"openshift-monitoring/k8s"},"values":[[1635033473.383,"22.852095238066156"],[1635033533.383,"23.565238095247853"],[1635033593.383,"23.967999999974648"],[

[2021-10-24 16:47] #3540 closed, assigned to nobody

[2021-10-25 16:04] heesuk-ahn opened #3546 "Minor Code Refactor Issue) Using `Math.max` ​​instead of the ternary operator"
## Refactoring Suggestions

Looking at the code, there is a very small refactorable issue, so I suggest the following. :)

If we use `Math.max` instead of the `ternary operator`, we can express this code more intuitively.

https://github.com/fabric8io/kubernetes-client/blob/04e0b2e2530751c90aeb9c0465ad3219c46a636f/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/informers/impl/DefaultS

[2021-10-26 14:12] shawkins opened #3547 "Create an abstraction layer for okhttp usage"
In order to eventually do #2764 and related issues we should isolate the direct usage of okhttp.  My proposal is to introduce a JDK like set of interfaces that we can further align to the built-in ones once fabric8's min version is bumped to 11.

There will be some breakage / deprecations in doing this, including:
- client constructors that take OkHttpClient
- OperationContext withOkHttpClient
- P

[2021-10-26 19:45] shawkins opened #3548 "URLUtils.isValidURL"
In this method there's a check of if the string form contains the string null, presumably to guard against null concatenation.  However in general it's quite possible for the string "null" to appear in a valid URL.

https://github.com/fabric8io/kubernetes-client/blob/d1740ffeaa624bd63b6d929b25d764a477c1c17e/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/utils/URLUtils.java#L151

[2021-10-27 01:10] ho-yasla opened #3550 "How to send query to Prometheus using Openshift client?"
How to send query to Prometheus using Openshift client?
I used the top to print the metric. However, it does not result in temporary storage usage. Is there any way to get it?

[2021-10-27 01:27] ho-yasla opened #3551 "When I run the Prometheus command, I get a 404."
![image](https://user-images.githubusercontent.com/92026433/138984323-ef23b7f7-41b1-499a-b24b-904615ad77e8.png)

![image](https://user-images.githubusercontent.com/92026433/138984382-e690415b-46ca-44ca-9fd0-d8a441537fe1.png)

When I run the Prometheus command, I get a 404.

[2021-10-27 09:33] kkkkun opened #3552 "How to resolve "Timeout: Too large resource version" In Java client ?"
We has a problem. It has fixed in kubernetes https://github.com/kubernetes/kubernetes/issues/91073
How to fix same question In Java

[2021-10-27 11:50] Nick-0723 opened #3553 "Cannot deserialize instance of `io.fabric8.kubernetes.api.model.EnvVar` out of START_ARRAY token"
kubernets-client  version：5.7.3

io.fabric8.kubernetes.client.KubernetesClientException: An error has occurred.
	at io.fabric8.kubernetes.client.KubernetesClientException.launderThrowable(KubernetesClientException.java:64)
	at io.fabric8.kubernetes.client.KubernetesClientException.launderThrowable(KubernetesClientException.java:53)
	at io.fabric8.kubernetes.client.utils.Serialization.unmarshal(Ser

[2021-10-28 09:19] ayu-programer opened #3554 "java.net.ConnectException: Connection refused (Connection refused)"
when i run the api of  ‘ Pod pod = client.pods().inNamespace(namespace).withName(podName).get();’
 it will  throw the exception
[code]

[2021-10-28 15:46] tacf opened #3555 "NamespacedKubernetesClient createOrReplace() not being able to fetch CRD details"
Hi,

I've bumped into an issue where i'm unable to understand if this is happening due to misunderstanding of the library of actually an issue.

The basic gist is that i'm trying to apply a manifest which has two objects (service and a custom object - a vault controller object) and from debugging it seems that the code flow reach a point where the operation of finding the handler of the object is

[2021-10-30 00:34] wind57 commented on #3145
This will still have to be looked at, in jdk-17, when the hack done inside the extension will not work anymore. I am closing this one for the time being, let's see what other people say when they hit this. I might be the wrong person here.

[2021-10-30 00:34] #3145 closed

[2021-10-30 03:20] rohanKanojia commented on #3145
I'm not sure if the suggestion (https://github.com/fabric8io/kubernetes-client/issues/3145#issuecomment-901368065) is a band-aid. This was originally suggested by @manusa, we had a look at the test you linked in the issue and felt the test is checking more than one stuff and should be split. Of course, we don't have the full context of why it's written this way and can't be sure of its purpose.

[2021-10-30 03:37] wind57 commented on #3145
I see. This is not really about that test. I was sort of objecting ( I hope in a polite manner ), the overall idea of overriding a user provided field, in general. But again, this is my limited view on a project that I am not involved in. We do have a solution, no doubt, so either way, are are good.

Of course, since I have provided that PR, my view and desired direction is obvious :) nevertheless

[2021-10-30 03:54] rohanKanojia commented on #3145
Yes, As you already see in the comments in the beginning I was in support of your approach. But after discussion, I realized maybe it's not worth it. The annotation's purpose is to initialize KubernetesClient and KubernetesMockServer. If the user doesn't want to initialize fields, he can always opt out of using the Junit5 annotation. Adding a configuration option to undo what it's doing didn't loo

[2021-10-30 12:45] wind57 commented on #3145
@rohanKanojia

this! A single comment from you made me get my morning coffee and realize that you are completely right. Thank you!

Thus [the PR that agrees with you](https://github.com/spring-cloud/spring-cloud-kubernetes/pull/897)

[2021-11-01 06:55] szsuyuji opened #3557 "how to remove readinessProbe"
withReadinessProbe(null)  not work

client version 5.9.0

[2021-11-01 09:09] tombentley commented on #3474
@shawkins I guess I'm wondering why, for those resource kinds where `Readiness` and `OpenshiftReadiness` apply and where the status has an `observedGeneration` (I think that's `Deployment`, `ReplicationController`, `StatefulSet`, `ReplicaSet` and `DeploymentConfig`, but not, for example, `Pod` or `Endpoints`), this check isn't being done already. I.e. how do you know `Readiness` and `OpenshiftRead

[2021-11-01 12:15] #3553 closed

[2021-11-01 12:22] shawkins commented on #3474
It's not a false positive - readiness in general is independent of spec generations.  For example when a resource provides a status condition for readiness, there is no guideline that a user should also update that status condition when they modify the spec.  The resource remains in it's given readiness state until the controller determines a change is needed - and just because there is a spec mod

[2021-11-01 12:41] tombentley commented on #3474
In our use case we've just updated the resource and we want to know that the change has taken effect, and the resource is still ready after the change has been applied, before proceeding with our operator logic. We initially just checked for the ready status, but that was racy for precisely the reasons discussed here, so we added our own check against the observed generation (e.g. https://github.c

[2021-11-01 15:21] #2982 closed

[2021-11-01 18:33] Nolaan commented on #1356
I'm always baffled by guys in the Open Source community and their obscure unorthodox, antisocial choices.
We use for ages binary of hex representation, yet some dudes decides to use the octal just because why not!

[2021-11-01 19:44] metacosm commented on #3025
Is there anything we can do @iocanel?

[2021-11-02 02:27] MUzairS15 commented on #3535
@manusa I am able to reproduce the problem by creating a kubeconfig yaml with EC as key algorithm and also figured out that if in https://github.com/fabric8io/kubernetes-client/blob/9c766ffd82248a861845a0d36f2116b91f1221b8/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Config.java#L589
along with assignig details such as `setCaCertFile` `setClientCertFile` `setClientCertData` and oth

[2021-11-02 05:31] lburgazzoli commented on #3369
Still relevant

[2021-11-02 05:33] manusa commented on #3369
Partial relation to https://github.com/fabric8io/kubernetes-client/issues/3500#issuecomment-947721072
And issues related with Java modules

[2021-11-02 06:07] manusa commented on #3548
To be clear, the only thing you should remove is the `url.contains("null")` check, the rest should stay.

[2021-11-02 09:48] MUzairS15 commented on #3535
Can anyone assign me this issue?

[2021-11-02 15:50] manusa commented on #3474
From my point of view I agree with this statement:

**I'm not sure about this**, but it's my understanding that there's no standard defining the "readiness" of a specific resource. This is a subjective concept.

So IMHO a resource is ready when the _subjective_ condition is matched and the status where that condition is checked is consistent with the current generation/version/lock of the resource

[2021-11-02 16:53] manusa commented on #3474
After a meeting with @shawkins the following point was clarified:

A spec change will imply a status change once the controller processes the resource. As stated, the fact that the spec has changed doesn't imply that the resource is unready (maybe the change doesn't affect the readiness condition for that given resource). It's only after the controller has acted that we should then verify the read

[2021-11-02 17:12] csviri commented on #3474
@manusa pls take a look on this, it's been implemented in JOSDK recently, will be released with v2:
https://github.com/java-operator-sdk/java-operator-sdk/issues/563
Is this how you mean it?

[2021-11-03 06:12] #3406 closed

[2021-11-03 08:22] #448 closed

[2021-11-03 08:22] #3460 closed

[2021-11-03 10:30] ahus1 opened #3561 "OkHttp connection leak on retries within OperationSupport.retryWithExponentialBackoff"
I received the following log messages in my current project, after enabling `kubernetes.request.retry.backoffLimit`. Before that, I saw 500 responses from the Kubernetes API while I was overloading it with requests.

[code]

I tracked this down to the following code snippet in [OperationSupport.java](https://github.com/fabric8io/kubernetes-client/blob/51475cd8e5ce997211dda223ac9cb782205ce4be/kuber

[2021-11-03 10:44] #3430 closed

[2021-11-03 13:04] shawkins commented on #3561
Given that @manusa will be cutting a release soon, it would be best to just open a PR with this fix and not worry about the test, so it can be included in 5.10.

I had come to the same conclusion about this in the refactoring to support replacing okhttp - https://github.com/shawkins/kubernetes-client/blob/okhttp/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/OperationSupport

[2021-11-03 14:43] ahus1 commented on #3561
I double checked with the current employer/project setup; will be difficult to check all the boxes in the PR template regarding license.

Will have a different setup next year, I can then backport your changes, and check all the other relevant boxes in the PR template. Sorry for that.

[2021-11-03 15:09] shawkins commented on #3561
Here's the backport of just the code changes - https://github.com/fabric8io/kubernetes-client/pull/3565

@manusa can you see about including that in 5.10?

[2021-11-03 16:39] manusa commented on #3561
This was reported in other sections.
Any Response should be accessed in a try-with-resources block to make sure it gets closed even if the body is never accessed:
[code]

[2021-11-03 16:53] shawkins commented on #3561
The way the code is structured means that there isn't a single try block for this - you can end up retrying the request multiple times, then finally returning the one that succeeds.  If we want something that looks more like a try / catch we'll need to refactor.

With the okhttp refactoring I see that the Java client does not seem to share a similar concern about how resources are held.  The code

[2021-11-03 19:47] leonz opened #3566 "createOrReplace Service Account leaks secret tokens"
Hi,

We are facing an issue that our code is regularly calling `createOrReplace` on a service account to make sure that it stays up to date, but it seems that on each call we are generating a new token without clearing out the old:

[code]

Is this expected behavior? I would expect that createOrReplace also deletes this service account token when deleting the service account?  Or is there an alter

[2021-11-03 20:41] shawkins commented on #3566
There is no delete happening under the covers from the client perspective.  It's just doing a POST, then a PUT if that fails.  The controller for service accounts should have the responsibility for cleanup on a PUT - did you see if there's already a kubernetes issue for that?

Could you do your update as a patch instead?  From what I can see that will not automatically trigger the generation of a

[2021-11-03 21:48] #3360 closed

[2021-11-03 22:20] leonz commented on #3566
The [Kubernetes docs](https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#to-delete-invalidate-a-serviceaccount-token-secret) seem to imply that it's expected that a secret should be deleted separately from the service account.

We can certainly patch instead of createOrReplace within our code, but we end up with a somewhat un-elegant solution where we need to perform d

[2021-11-03 23:13] leonz commented on #3566
I've filed https://github.com/kubernetes/kubernetes/issues/106131 with some more information that I've uncovered.  I suspect that this issue will be closed as "working as expected", but either way this is a weird behavior that discourages me from wanting to use `createOrReplace` altogether.

[2021-11-03 23:13] shawkins commented on #3566
The yaml you are using to create the service account does not have the secrets specified correct?  This is a similar issue to #3122 - the kubernetes logic acts upon the PUT independently of the existing item.  My guess is that to workaround you need to use a patch, or that some logic - either in your application, or through an enhancement here - would need to check for the existence of the service

[2021-11-04 11:19] carlosgodoytrapero commented on #3234
Hi @rohanKanojia, seems to be fine! Sorry for the delay in my answers.
How do you deliver the patch in order to use it?
Many thanks,
Carlos G.

[2021-11-04 11:26] yaojiqunaer opened #3568 "upload file failed if the path is "/""
### Description
If my file is uploaded to the root path of the container like "/" it will give an error, like "/var" it will not
### Dependency

[code]
### My code
[code]
### Exception
[code]
### Reason maybe here
mehtod in io.fabric8.kubernetes.client.dsl.internal.uploadable.PodUpload#uploadFile
![image](https://user-images.githubusercontent.com/51068902/140303659-c83875f7-ffa1-44c7-a950-a9d4a591

[2021-11-04 12:53] metacosm commented on #3474
Readiness is a tricky issue and I have been trying to figure out what the best practices are around the topic at some point and promptly gave up because the information I could find was contradictory or outdated… I have read https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#typical-status-properties but these have changed over time so it's d

[2021-11-04 13:48] manusa commented on #3561
I didn't understand the "backport" part, I get it now. OK, let's merge your patch.

[2021-11-04 18:25] shawkins opened #3569 "Parent issue for removal of deprecated items from fabric8 6"
Just wanted to capture some proposals of what could be removed in 6.  Items will be spawned off as separate issues as needed.

- Any method dealing with OperationContext on SharedInformerFactory.  This will also for additional cleanup of the OperationContext, such as encapsulating the filter logic.
- At a lower priority any of the other deprecated on SharedInformerFactory
- RawCustomResourceOperat

[2021-11-04 18:42] shawkins opened #3570 "Builders do not preserve additionalProperties"
When using a builder and you use a withXXX to associate another object - under the covers the a copy is made via a constructor that omits the additional properties.

[2021-11-05 11:07] manusa commented on #3570
Is this something that needs to be fixed here or in Sundrio?

A reproducer example, or ignored test would be useful.

[2021-11-05 11:49] #3561 closed

[2021-11-05 13:28] shawkins commented on #3570
I think here.  There's no constructor nor setter for the building logic to use to convey the additionalProperties.  If I modify Pod.java to have a setter, the the fluent / builder is updated appropriately.

[2021-11-05 22:51] shawkins commented on #3570
@manusa @iocanel or do you want an upstream issue about understanding the existing setAdditionalProperty?  A possible issue with that is that it's not symmetric - there's only getAdditionalProperties,

[2021-11-07 09:43] MUzairS15 opened #3572 "Missing documentation and examples on how to approve or deny CertificateSigningRequests"
Currently, there is no documentation on how we can use `/approval` endpoint, which was added in #3537  to approve or deny certificates.

[2021-11-08 08:38] hanneshofmann opened #3573 "Field selector is not applied even when resource fields are matching"
After upgrading from 4.9.2 to 5.9.0, I have observed that one of our unit tests (which is using `KubernetesServer`) is failing. It seems that object are not returned when using the Event API with field selectors. I did not yet checked other API's neither whether it's limited to the `KubernetesServer`.

Following a small reproduction unit test which illustrates the problem:
[code]

Logs from the te

[2021-11-08 08:53] manusa commented on #3573
Could you please quickly check if this is still reproducible in #3562 :pray: ?

Maybe we can tackle the issue in scope of that PR.

[2021-11-08 12:25] manusa commented on #3573
Further support can be included in the MockServer to support additional fields, but this would be still kind of complex and limitless.

e.g. for the Event we could use reflection to infer the top level fields and add attributes for those (if they represent primitive types)

[2021-11-08 12:27] #3536 closed

[2021-11-08 12:56] hanneshofmann commented on #3573
@manusa Thanks for confirming. I also did some tests with https://github.com/fabric8io/kubernetes-client/pull/3562 and I have observed the same.

I am sure that _our_ unit test was working with 4.9 but you are right: we did not check the opposite and field selectors were not considered at all (i.e. all events in the requested namespace were returned and our test did simply only use events matching

[2021-11-08 13:47] manusa commented on #3573
This is what I suspected after checking the code. TL;DR field selector was not supported in 4.9, and now it's only partially supported.

We can keep this open to explore the addition of attribute computation/extraction for resources handled by the CRUD dispatcher. However, I really don't see a proper way to move forward with this.

[2021-11-08 13:53] hanneshofmann commented on #3573
I understand that adding support for field selectors (and maybe other features as well) to the mock server might be really complex and limitless (and perhaps even harder to maintain..).

What do you think about to at least extend the [documentation](https://github.com/fabric8io/kubernetes-client#mocking-kubernetes) so that such limitations are listed there? Once documented, this issue could be clo

[2021-11-08 13:58] manusa commented on #3573
That'd be great :)

[2021-11-08 14:09] manusa commented on #3570
I think jsonschema2pojo is in charge of generating the additionalProperties field and related methods (property setter, and getter).

I'm not sure if this can  be tweaked to be able to add a normal setter too and prevent the problem. But if there's no option, it seems like a hard problem to tackle then.

And I think the issue is similar for the constructor.

[2021-11-09 10:11] manusa commented on #3572
Would you be willing to contribute this?

[2021-11-09 10:19] manusa commented on #3555
Could  you provide the content of you manifest?

[2021-11-09 10:29] manusa commented on #3548
@MUzairS15  are you working on this and going to provide a PR?

[2021-11-09 11:04] rohanKanojia commented on #3548
Looks like @MUzairS15 had created PR but didn't link the issue https://github.com/fabric8io/kubernetes-client/pull/3558

[2021-11-09 16:08] MUzairS15 commented on #3572
Yes, sure

[2021-11-10 03:31] MUzairS15 commented on #3548
Sorry @manusa I didn't mention the issue, thankyou @rohanKanojia for mentioning

[2021-11-10 04:37] soham283 commented on #3163
any updates is this issue has been solved or not ?

[2021-11-10 05:00] rohanKanojia commented on #3163
There are still places where this needs to be fixed. You can see files affected here:

https://sonarcloud.io/issues?severities=MINOR
(Ctrl + F diamond) and you'll see highlighted places

[2021-11-10 05:18] #3548 closed

[2021-11-10 13:37] rohanKanojia commented on #3557
I was able to remove readiness probe from a Deployment with a simple PATCH request like this:

[code]

[2021-11-10 14:40] imalik8088 opened #3578 ".NullPointerException: Cannot invoke "java.io.InputStream.available()" because "this.val$is" is null"
Hi there, I've got the the following error using the following example in https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/kubectl/equivalents/PodExecEquivalent.java

[code]

Here is my code:

[code]

[2021-11-10 14:50] shawkins commented on #3578
Should be a duplicate of #3384

[2021-11-10 14:59] imalik8088 commented on #3578
muchas gracias for the support that helped. Was using Qarkus 2.3.1 which included `5.7.3` and the mentioned fix is included in `5.8.0` which ist included in Quarkus `2.4.1`.

[2021-11-10 15:27] Yikun opened #3579 "Add support for Volcano extension"
Volcano is a Kubernetes native system for high-performance workloads, which has been accepted by Cloud Native Computing Foundation (CNCF) as its first and only official container batch scheduling project.

There were some initial discussion on https://github.com/fabric8io/kubernetes-client/issues/3043 .

This issue would be a start and help to track the process on Volcano extension.

[1] https://v

[2021-11-10 15:47] rohanKanojia commented on #3579
Related to #3043 #2920

[2021-11-10 16:38] imalik8088 commented on #3578
Perhaps something related to this topic, If I call the endpoint/method. At first run it shows the output in afterwards it doesnt:

[code]

[2021-11-10 16:50] shawkins commented on #3578
I don't follow why this was reopened - are you running on a later version and still seeing the log of the npe?

[2021-11-10 16:52] imalik8088 commented on #3578
I dont the NPE but and unexpected behavior, In the first call it gives me the right output `Exec Output: 9.7M	` after then without an output

[2021-11-10 17:16] shawkins commented on #3578
It's not related to the NPE.  I'm not sure if there is a trace level for websocket traffic, if you can't seem to get a log can you put breakpoints in ExecWebSocketListener.onMessage and cleanUpOnce to see if you are getting a message prior to the websocket being closed?

[2021-11-10 17:23] #3578 closed

[2021-11-11 08:52] #3570 closed

[2021-11-11 14:36] scholzj opened #3582 "Client fails to connect to the Kubernetes API on FIPS enabled OpenShift cluster"
In Strimzi, we use the Fabric8 Kubernetes Client 5.9.0 in a container image with OpenJDK 11 on Red Hat UBI8 minimal container image. When trying to use it on FIPS enabled cluster with the Java 11.0.13, it seems to fail with the following exception:

[code]

There do not seem to be any problems with using it without FIPS => either on OpenShift cluster which is not FIPS enabled or when I disable FIP

[2021-11-12 07:57] nautiam opened #3585 "Use SharedIndexInformer with CustomResource"
Hello,

I wrote the watching for CustomResource. At first, I used Watcher, but I got the error "Kubernetes too old resource version". Then, I referred this thread https://stackoverflow.com/questions/61409596/kubernetes-too-old-resource-version to use **SharedIndexInformer**, but the method _**sharedIndexInformerForCustomResource()**_ is deprecated in openshift-client 5.9.0. Can anyone show me an e

[2021-11-12 12:39] prathi-adeptia commented on #3477
I have the same problem. I tried the official library from Kubernetes and it worked fine without any problems. The file is created but the content in file is missing. Throughs an exception as well: `io.fabric8.kubernetes.client.KubernetesClientException: [text={"metadata":{},"status":"Success"}]`

[2021-11-12 13:04] shawkins commented on #3585
You will either use SharedInformerFactory.sharedIndexInformerFor(clazz ...

Or if you are customizing the context, instead use Informable.inform - which is available off of the regular dsl:

client.resources(clazz)...inform

[2021-11-12 13:42] rohanKanojia commented on #3585
From user's @nautiam snippet, it doesn't look like he is using any POJO for his custom resource. I think he is using [sharedIndexInformerForCustomResource(ResourceDefinitionContext genericResourceContext, long resyncPeriodInMillis)](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/informers/SharedInformerFactory.java#L174)

Why

[2021-11-12 13:50] #3538 closed

[2021-11-12 13:51] csviri opened #3586 "Create and Add `HasStatus` interface on Objects which Actually have Status"
Some of the standard Kuberentes objects like ConfigMaps don't use status sub-resource, others like (Deployments, Pods, ...) do.

It would be very useful to have a `HasStatus` interface similar to `HasMetadata` to differentiate between those resource. So all the k8s objects would implement `HasStatus` (with a getter and setter), that use status sub-resource. Other don't.

This would help to impleme

[2021-11-12 13:53] manusa commented on #3551
Can this be closed (#3538 was fixed)?

[2021-11-12 13:57] shawkins commented on #3585
Sorry, I should have included:

client.genericKubernetesResources(context)...inform

We don't want to expose the OperationContext for direct usage.  It also gets confusing in terms of keeping track of existing informers.

[2021-11-12 14:05] manusa commented on #3585
If this is not in the cheatsheet, maybe we should update it.

[2021-11-12 14:06] manusa commented on #3586
Relates to https://github.com/fabric8io/kubernetes-client/issues/3474#issuecomment-957940971

[2021-11-12 14:26] nautiam commented on #3585
I used SharedInformer in order to update events happening to my resource after a certain interval of time. But it always get  the status of all resources, I just want to see the status of changed resources since the last time. For example, if a resource is deleted or added, it will be shown, but if it unchanged in the interval, it will be skipped. Is there anyway to do it?

[2021-11-12 14:33] manusa commented on #3145
Hi @wind57
Really sorry for the late (or maybe non-existent) review and comment on this issue. I discussed the issue with Rohan internally and never got back to you (the notification got buried in my mailbox) :pray:

I think Rohan already provided all of the context and explanations, thx.

I'm glad the split test PR went forward and everything finally worked out.

[2021-11-12 14:38] manusa commented on #3315
I don't have any example for that.
In the end, the Java types and builders match whatever you have in a YAML manifest. If you can get hold of a valid YAML example for your configuration, it should be trivial to convert it to the Java DSL-builder syntax.

[2021-11-12 14:39] manusa commented on #3546
Fixed in #3556

[2021-11-12 14:39] #3546 closed

[2021-11-12 14:53] shawkins opened #3587 "Add a construct in between a Watch and an Informer"
The fabric8 built-in watch support is similar to a retrywatcher in the go client - until http gone it will maintain the watch automatically.  Because the watch is restarted at an exact resourceVersion, there are no duplicate add events.

The next option is to use an informer, but in some circumstances there may be a concern about the size of an informer cache.  Either we need to offer additional c

[2021-11-12 14:55] nautiam commented on #3585
The answer is set resync to 0L. Thanks @rohanKanojia for your help.
[code]

[2021-11-12 14:55] #3585 closed

[2021-11-12 15:22] ahus1 opened #3588 "openshift-server-mock not listed in dependencyManagement in main pom"
The main pom.xml (in the root folder of the project, with `<artifactId>kubernetes-client-project</artifactId>` contains in almost all modules provided by this project. In our setup we use this for the dependency management:

[code]

I found that this doesn't work for getting the right version of `openshift-server-mock` as this is not listed in the `dependencyManagement` section of the `kubernetes-

[2021-11-12 16:28] shawkins opened #3589 "Add the plural annotation during model generation"
At a minimum that plural annotation should be added based upon the existing pluralize logic.  It does not appear there is a good way to extract the plural from the go classes - the plural seems to only be referenced in the client.

_Originally posted by @manusa in https://github.com/fabric8io/kubernetes-client/issues/3539#issuecomment-967131909_

[2021-11-12 16:29] metacosm commented on #3586
While this is definitely true, it should be noted that this isn't recommended and I'd argue that the default behavior should be for Custom Resources to have a status. I'm not sure there's a need to implement something that currently doesn't exist, that users haven't asked for (so far) and that goes against recommendations/good practices.

We should also strive to make the `HasStatus` backward comp

[2021-11-12 17:47] shawkins commented on #3587
The only issue is that there is no way currently to retrieve just a list of the identifiers and resource versions to process the removals after a "relist".  You would still end up pulling the entire list into memory, albeit for a small amount of time.

[2021-11-13 09:10] MUzairS15 commented on #3535
Can anyone review PR raised for this issue https://github.com/fabric8io/kubernetes-client/pull/3581#issue-1050900951

[2021-11-14 02:46] wind57 commented on #3145
yup! thank you for your feedback anyway!

[2021-11-14 02:51] wind57 opened #3590 "secrets question"
Basically I did some refactoring for our secrets implementation in `spring-cloud-kubernetes`. As part of that refactoring, instead of doing:

[code]

I started doing:

[code]

without the `if`. My thought process was : "I ma passing an empty map, meaning there will be no match for labels". It felt so natural to me, that I did not even bother to reason too much about it. Until [today in the evening

[2021-11-14 13:52] #2647 closed

[2021-11-14 14:42] Ashyum commented on #3163
can I work on this issue?

[2021-11-14 15:29] soham283 commented on #3163
@Ashyum issue is assigned to me it will be great if you can find another issue to work on, since I am following this issue from 2-3 months approx

[2021-11-15 06:05] manusa commented on #3589
I recall I tried to check that information once, but couldn't find it.
However, it must be somewhere. The Swagger/OpenAPI generator **does** get this information from some place, and sometimes it doesn't even fall into any kind of pluralize logic. Maybe someone from the ~~dark~~Go side knows where. We can also try to allocate some time to figure this out.

[2021-11-15 06:16] Sgitario opened #3591 "Golang generator does not support interfaces"
The golang generator for extensions used to map Golang model to Java model is not working when Golang model contains interfaces. For example, given the Golang model:

Go type `Tracing_CustomTag` that uses a field `Type` which is an interface `isTracing_CustomTag_Type`:
[code]

Where the interface is defined in:

[code]

The implementations of this interface are defined in:

[code]

When running th

[2021-11-15 07:22] Sgitario opened #3592 "Golang generator does not support Enumerators"
The golang generator for extensions used to map Golang model to Java model does not work properly when the Golang model contains consts (or enums). For example, given the Golang model:

Golang type `PeerAuthentication_MutualTLS` that uses a const:
[code]

Where the const is:

[code]

The resulting Java model contains:

[code]

And the expected output should be:
[code]

[code]

[2021-11-15 07:56] lburgazzoli commented on #3069
still relevant

[2021-11-15 08:51] manusa commented on #3586
This is a discussion that also came up in the scope of CRs having a mandatory Spec field. Just like with status, this is not a hard requirement (although it's recommended). I think the agreement was that we want to prescribe the good practice (which is include the default structure ---> spec + status fields) to whomever was using our CR abstractions.

[2021-11-15 08:59] metacosm commented on #3591
Note that both this issue and #3592 are addressed by the generator used by https://github.com/snowdrop/istio-java-api

[2021-11-15 09:00] csviri commented on #3586
Agree, so basically I don't have strong opinion on this, just was an idea. When I saw that basically status is always there in some form (even if its Void). While with this change we want to differentiate resources which has status or not with an interface.
But agree that on custom resources usually you want to have it, it's a good practice, also we want to be backwards compatible.

[2021-11-15 09:29] tacf commented on #3555
Here's the somewhat redacted manifest

[code]

and the CRD related with the first object (which is already applied when applying the manifset)

[code]

Following the trace above you'll find that the flow follows a code path where the K8s client is set at some point to null (by not being passed any client to the function being called) this is actually what confuses me a bit in this case. Hence me w

[2021-11-15 13:05] #3389 closed

[2021-11-15 13:17] Sgitario opened #3593 "Support of Istio Client API"
Solution should be based on https://github.com/snowdrop/istio-java-api
++ It should use https://pkg.go.dev/istio.io/client-go#section-readme

[2021-11-15 13:18] Sgitario commented on #3593
@iocanel I'm working on this issue, can you assign the issue to me? Thanks.

[2021-11-15 13:19] Sgitario commented on #3593
This depends on:
- Golang generator does not support interfaces: https://github.com/fabric8io/kubernetes-client/issues/3591
- Golang generator does not support Enumerators: https://github.com/fabric8io/kubernetes-client/issues/3592

[2021-11-15 14:27] shawkins commented on #3590
The current logic does not differentiate between the null and empty cases - it will only apply the filter when there are entries in the map.  https://github.com/fabric8io/kubernetes-client/blob/34f37509a37cbc156ed1a458cf7e03ec55d2639b/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/OperationContext.java#L253

I think your only recourse currently would be to construct your own

[2021-11-15 15:05] #3338 closed

[2021-11-15 15:48] shawkins commented on #3555
What version of fabric8 are you using?  Also what the actual exception you are hitting?

[2021-11-15 17:58] shawkins commented on #3555
It's not really missing the handler in this case.  The issue is that the call is coming through a path that is looking for the builder which would normally be provided by the handler - in 5.9 however there is no builder for GenericKubernetesResources.  It looks like that has been added for 5.10, so this logic could use that builder now - see #3584

You can use client.resource("apiVersion: vaultpro

[2021-11-15 18:10] wind57 commented on #3590
let me see if I understood what you mean exactly here:

otherwise it will take all secrets? I was under the impression that it should work in reverse. It seems that reverting that check for emptiness on our side is the way to go.

[2021-11-15 18:19] shawkins commented on #3590
Looking further at https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#list-and-watch-filtering - I don't think it's even possible to construct a search string for "no labels", so the fabric8 behavior here is correct.

[2021-11-16 01:37] 794300698 opened #3596 "how to pull docker image from private server with fabric8io ？？"
when i pull  docker image from  private server  ，log show ：no basic auth credentials

[2021-11-16 01:56] #3596 closed

[2021-11-16 09:22] tacf commented on #3555
I really though that 5.9 already had this in (i bumped from 5.6 specifically for that), thanks for the clarification, and prompt response.

[2021-11-16 12:25] shawkins commented on #3555
Unfortunately the 5.9 changes mostly support resource and resourceList.

[2021-11-16 14:39] rnorth opened #3598 "`waitUntilReady` leaves watches/websocket open upon timeout"
It appears that `waitUntilReady` for a Pod will leave a Watch, and therefore websocket connection, open if the Pod fails to become ready in time. This can lead to a buildup of open websocket connections to the k8s API, and eventually resource exhaustion.

We've not dug into every nuance, but in our usage we are deleting the pod after the timeout occurs. The watch seems to remain open despite both

[2021-11-16 15:11] #2726 closed

[2021-11-16 16:22] shawkins commented on #3598
What version of fabric8 is this on?

[2021-11-16 16:48] rnorth commented on #3598
We've observed this with 5.9.0 and 5.7.2.

[2021-11-16 17:53] shawkins commented on #3598
Under the covers the logic should terminate the informer / watch when the future completes - https://github.com/fabric8io/kubernetes-client/blob/278ca235dc4ab5653e82dbe2960004ab62f021e4/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/BaseOperation.java#L881

However I do see that the cancel is being applied to the wrong future.  I've opened a pr for this.

[2021-11-16 21:31] metacosm opened #3600 "`HasMetadata` should provide utility method to deal with owner references"
In particular to create and add owner references directly from another `HasMetadata` object.

[2021-11-17 00:06] #3557 closed

[2021-11-17 08:55] rnorth commented on #3598
Aha, great, thank you @shawkins

[2021-11-18 08:40] manusa commented on #3591
Can this one be closed now?

[2021-11-18 09:07] Sgitario commented on #3591
Yes, sorry. The PR was not linked.

[2021-11-18 09:07] #3591 closed

[2021-11-18 09:20] sauravmndl opened #3604 "describe pod equivalent code"
Hi,
What is the equivalent java code using this library for following command
[code]

[2021-11-20 13:41] ovaldi commented on #1079
This problem still exists, why is this issue closed?

[2021-11-20 13:55] rohanKanojia commented on #1079
@ovaldi : Fabric8 Kubernetes Client Patch API has improved quite a lot. We now support providing explicit patch types and providing raw Patch strings in DSL. I also wrote a blogpost about this few months ago[0]. In OP's case, we can delete `username` from Secret data like this:
[code]

[0] https://itnext.io/patch-kubernetes-resources-in-java-using-fabric8-kubernetes-client-25e0c68b9cb5

[2021-11-21 14:41] shawkins commented on #3547
1, 2, and 5 are complete

I've updated the pr for review to complete 3.

4 is no longer a priority - we are talking about making these changes for 5.11, not 6, such that the initial incarnation will still only offer the okhttp implementation.

6 is nearly ready - https://github.com/shawkins/httpclient - there's just 1 issue left to resolve around expect continue behavior.

I started looking at wha

[2021-11-21 16:07] wind57 commented on #1291
is there an equivalent for ingress? I am trying :

[code]

and getting the same:

[code]

I am on version 5.5.0

[2021-11-21 16:24] wind57 commented on #1291
nvm, sorry, the API is diff slightly:

[code]

[2021-11-22 13:30] #3572 closed

[2021-11-22 14:49] #3579 closed

[2021-11-22 17:10] #3555 closed

[2021-11-23 06:38] #3535 closed

[2021-11-23 08:40] #3598 closed

[2021-11-23 14:22] jorsol commented on #3462
I also vote for Java 11+, it would be nice to have a version using `java.net.http.HttpClient` (aka zero-dep) but my guess is that some features might need to be "reimplemented".

There might be users stuck in JDK8, but my guess is that applications that call K8s APIs are fairly recent, so there might not be a "real" reason beyond bureaucratic companies.

IMHO, prolonging the agony of enduring old

[2021-11-23 15:18] #3592 closed

[2021-11-23 17:12] shawkins commented on #3449
How big is the configmap?  I get the same error when creating an object where the json size over 500KB.

[2021-11-23 22:10] shawkins opened #3609 "Better handling for long-running dsl watcher methods"
### Is your task related to a problem? Please describe

Informable.inform or any Watchers use the okhttp websocket thread for handling event processing.  If the user has a long running method (greater than several seconds), which they are advised not to, that will trigger an exception due to not handling the pong.  However the exception handling currently just triggers the watch to be restarted, w

[2021-11-24 08:47] Yikun opened #3610 "Add Volcano related dependency to root pom"
### Describe the bug

Volcano extension have been introduced In https://github.com/fabric8io/kubernetes-client/pull/3580 , but didn't add dependcy to kubernetes-client to root pom.

That means user still need do a extra volcano-client/model dependency in thier application pom besides kubernetes-client.

We should add the Volcano dependency like other extension.
[1] https://github.com/fabric8io/kub

[2021-11-24 19:14] shawkins commented on #3609
Part of what contributes to this issue is that the integration tests rely on ClientResourceProvider to create the injected KubernetesClient.  It passes the existing uber/shaded v4 Config to the instance be constructed.  Since that has a different default for websocket ping interval the integration tests will use 1 second rather than 30 seconds - which makes it very likely for debugging to trigger

[2021-11-24 19:17] shawkins opened #3615 "Watch behavior with http gone"
Just like the automatic re-connection logic supported by AbstractWatchManager and the retrywatcher https://github.com/kubernetes/client-go/blob/v0.22.3/tools/watch/retrywatcher.go it seems that we should be able to safely re-establish the watch at the last seen resource version if it's different than where we started the watch even after getting a 410 status.

Other than some logic that users have

[2021-11-24 21:54] shawkins commented on #3615
After working with this a bit more, I think the behavior is different than I expected.  It appears that you likely only get http gone on after other events on a watch connection has somehow fallen behind.  Otherwise you will see 410 after a timeout or other reconnection with an out-of-date resourceVersion.  There's nothing we can do in the first case.  However in the latter case we should be using

[2021-11-25 11:22] #3610 closed

[2021-11-26 11:02] lordofthejars opened #3620 "Throw a meanful exception error instead of NPE when no plurals are set"
### Is your enhancement related to a problem? Please describe

When you create manually a `ResourceDefinitionContext` and you don't set the plurals field a NPE exception is thrown  when you get it using the Kubernetes client

[code]

[code]

### Describe the solution you'd like

Inform why it is failing.

### Describe alternatives you've considered

_No response_

### Additional context

_No respo

[2021-11-26 15:47] lion7 commented on #3462
I'd love if moving to JDK 11 also means that OkHttp will be replaced with zero-dep `java.net.http.HttpClient`.
Currently I'm trying to create a native image of my project using GraalVM, but it fails because OkHttp added support for GraalVM in their 5.x release and onwards. Since this (awesome!) client is still stuck at OkHttp 3.x, it just won't work.

[2021-11-26 15:53] gastaldi commented on #3462
@lion7 have you used Quarkus? You can use Kubernetes-client and package into a native application without any problems: https://quarkus.io/guides/kubernetes-client

[2021-11-26 15:56] lion7 commented on #3462
Cool! Thanks for the tip, this is exactly what I was looking for 😄

[2021-11-27 12:40] himanshumps opened #3621 "Query: Openshift client: Get pod list for a particular deployment or app"
There are APIs available to get pod from particular namespace/project or from any namespace. If I want to iterate through the projects, then iterate through deployment / apps and get the pod list for that particular deployment / app, how can I do that?

[2021-11-28 10:05] CWL-1688 opened #3622 "How to update a Knative Service?"
[code]

[2021-11-28 13:16] shawkins commented on #3462
There will hopefully be movement on https://github.com/fabric8io/kubernetes-client/pull/3549 which isolates the okhttp client - a summary of where things are at: https://github.com/fabric8io/kubernetes-client/issues/3547#issuecomment-974829390 - that includes a draft of the alternate jdk client.

The thinking now is to get the ball rolling on this feature in 5.11.  That means it's likely we won't

[2021-11-28 22:11] #3420 closed

[2021-11-29 05:46] rohanKanojia commented on #3622
Do you mean you want to update the annotation value? Could you please try this:
[code]

[2021-11-29 07:21] CWL-1688 commented on #3622
Sorry that I  didn't make myself clear.

What I want is
update the  annotation value under **spec.template.metadata.annotations**
 Or put a new annotation "autoscaling.knative.dev/minScale","1" , to set the min Pod of Service

Following your advice

[code]

I got this

invalid key name "autoscaling.knative.dev/minScale": metadata.annotations
autoscaling annotations must be put under "spec.template

[2021-11-29 07:33] #3622 closed

[2021-11-29 14:12] manusa commented on #3588
https://github.com/fabric8io/kubernetes-client/blob/865e0ddf67b99f954aa55ab14e5806d53ae149ec/pom.xml#L369

[2021-11-29 14:54] #3609 closed

[2021-11-29 15:16] carlosgodoytrapero commented on #3234
Hi again @rohanKanojia, any update? Any plan to merge in master?

[2021-11-29 15:36] rohanKanojia commented on #3234
oh, I thought my commit wasn't necessary. Have you tested your project by bulding kubernetes-client based on my branch? Do you want me to create PR?

[2021-11-29 16:15] shawkins commented on #3620
Let's make sure that kind is required, then default to default to pluralizing the kind if plural is not specified.

[2021-11-29 20:12] carlosgodoytrapero commented on #3234
Sorry, it was tried by my team. I thought the shot was with your branch, but let me share with them how they did.

[2021-11-30 17:11] #3425 closed

[2021-11-30 19:55] shawkins opened #3625 "HasMetadata should have convenience methods for annotations and labels"
### Is your enhancement related to a problem? Please describe

Similar to #3600 if we are adding utility methods for owner references it would be good to have similar methods for labels and annotations.

### Describe the solution you'd like

This would cover at least for getting:

resource.getLabel("key");
resource.getOrDefaultLabel("key", "default");
etc.

It could also include setting labels/ann

[2021-12-01 09:37] SaturnWorld opened #3626 "How does withPath() match a regular link?"
Hi! I'm using KubernetesMockServer,like this:

`KubernetesMockServer server = new KubernetesMockServer(false);`
`server.expect().get().withPath("/api/v1/users/user_id").andReturn(200, "admin").once();`

But user_id is a variable value, what am I supposed to do with it?

Does the withPath() method support passing regularity like this?

`server.expect().get().withPath("/api/v1/users/.*").andReturn(2

[2021-12-01 15:55] speedfl opened #3627 "Cannot get Output status code"
### Describe the bug

Hello,

First thanks a lot for your work!
Currently fabric8 does not support Exec Status code.

Here is an example providing the status code:
https://github.com/kubernetes-client/java/blob/master/examples/examples-release-12/src/main/java/io/kubernetes/client/examples/ExecExample.java

### Fabric8 Kubernetes Client version

5.10.1@latest

### Steps to reproduce

1. Create fol

[2021-12-01 16:34] #3627 closed

[2021-12-02 11:40] manusa opened #3628 "Remove sorting from Template#getObjects"
Template sorts objects in when retrieved through the getter using `HasMetadataComparator`.

_Originally posted by @shawkins in https://github.com/fabric8io/kubernetes-client/issues/3606#issuecomment-976753173_

[2021-12-02 16:47] rohanKanojia commented on #3506
@AbrahamArellano : The resource URL doesn't look like it follows standard Kubernetes API (`/apis/{group}/{version}/{plural}`) convention:
[code]

Are the abovementioned objects custom resources? I installed Cluster manager and klusterlet on my OpenShift cluster but these were the only additional resources in `operator.open-cluster-management.io/v1` apigroup:
[code]

[2021-12-02 17:03] rohanKanojia commented on #3505
I'm using OpenShift 4.9.8 and I was only able to see these two additional resources which were not mentioned in #2949:
[code]

I'll submit a PR for updating existing OpenShift Model deps to latest version and add support for these new resources to OpenShiftClient DSL

[2021-12-03 10:26] JoergSiebahn opened #3629 "WatcherWebSocketListener causes NullPointerException in OperationSupport"
### Describe the bug

When `WatcherWebSocketListener` pushes an Exception in `onFailure` [for 200 or 503](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/WatcherWebSocketListener.java#L74) it passes `null` as `status` to `OperationSupport#requestFailure`.

The parameter `status` [is not checked for `null`](https:/

[2021-12-04 09:21] #3355 closed

[2021-12-06 11:29] youngbo89 opened #3633 "Cannot instantiate DefaultKubernetesClient due to NoSuchMethodError"
### Describe the bug

When create DefaultKubernetesClient(), there is a java exception

### Fabric8 Kubernetes Client version

5.9.0

### Steps to reproduce

1. Create DefaultKubernetesClient
[code]
2. See the exception

### Expected behavior

DefaultKubernetesClient() should be instantiated like version `5.4.1`

### Runtime

Kubernetes (vanilla)

### Kubernetes API Server version

other (please s

[2021-12-06 12:57] rohanKanojia commented on #3633
@KHU-YoungBo : Could you please share some reproducer project? Is there any `<exclusion>` in your project regarding Kubernetes model dependencies ?

[2021-12-06 13:55] KHU-YoungBo commented on #3633
1. I'm using gradle, so here is gradle configuration and there is no `exclusion`:
[code]

There is the same error exceptions -
[code]

The code behave depending on lib ver:
- 5.4.1: WORK
- 5.9.0 : NOT WORK
- 5.10.1: NOT WORK, too.

[2021-12-07 15:39] mbuccini opened #3635 "5.10.x: KubernetesAttributesExtractor does not define or inherit extract(String) method"
### Describe the bug

Hello everyone,

I get the following error:

[code]
when I try to execute:

[code]

The version affected is 5.10.x. It works with 5.4 until 5.9.

It seems that the method was implemented: https://github.com/fabric8io/kubernetes-client/blob/v5.9.0/kubernetes-server-mock/src/main/java/io/fabric8/kubernetes/client/server/mock/KubernetesAttributesExtractor.java#L164

while it's n

[2021-12-07 16:57] cmdjulian opened #3636 "LogWatch throws IOException"
### Describe the bug

In versions prior to version `5.0.0` especially `4.13.3` the following code works fine collecting and printing logs:

[code]

After the latest update from Spring which is now using `KubernetesClient 5.9.0` under the hood I'm getting the error attached at the bottom

The problem is not the Exception, the problem lays in when the Exception occurs. it is thrown very unpredictabl

[2021-12-07 17:33] shawkins commented on #3636
If no output is provided to watchLog, the inputstream created will get auto-closed https://github.com/fabric8io/kubernetes-client/blob/67f04df4d9225f536c540b960b08c05b48ee7f33/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/LogWatchCallback.java#L67

In the closure logic there is a flush - but that flush does not ensure the read side fully consumes the buffer, just that i

[2021-12-07 17:49] cmdjulian commented on #3636
Thank you for the fast reply, is there something I can do right now to work around this? I also read the issue you linked and tried to adapt it for me but unfortunately I couldn't make it work.

[2021-12-07 19:18] shawkins commented on #3636
@cmdjulian I was thinking that you could take responsibility for the pipes:

[code]
Then it won't close the output.  However I don't see that the LogWatch logic will call close on out at any point then - which seems like you'd have no good way to know if things failed prematurely.  I think this implies we should close the output stream regardless of whether it is passed in or not.

[2021-12-07 23:05] cmdjulian commented on #3636
Yep it's like you said, when using the solution you propose I get an `java.io.IOException: Write end dead`, however all log lines are then already arrived.
From my understanding this arises because `output` is not properly closed. I'm therefore with you in closing the `output`. This should fix it. Do you want me to submit a PR or how do we proceed?

[2021-12-07 23:25] shawkins commented on #3636
Yes, if you have the time, please open a pr.

This is what I was thinking locally about simplifying the LogWatchCallback constructor to:

[code]

[2021-12-08 06:08] rohanKanojia opened #3637 "Upgrade Fabric8 Kubernetes Model to Kubernetes v1.23.0"
### Is your task related to a problem? Please describe

Kubernetes v1.23.0 just got released[0]. We should upgrade our model to the latest release whenever we find some time.

[0] https://github.com/kubernetes/kubernetes/releases/tag/v1.23.0

### Describe the solution you'd like

- [ ] Upgrade Kubernetes Model modules to Kubernetes v1.23.0
- [ ] Add support for new resources added in the release (

[2021-12-08 15:58] mortenbirkelund commented on #3324
@ChandrashekarAppaji Could you tell what kind of proxy issue it was? I am facing the same thing.

[2021-12-09 08:47] manusa commented on #2010
@shawkins Thank you very much for your tremendous effort making this happen.

I'm sure that our Shared Informer implementation and all the extra-features around it are some of the main differentiating traits that make the Fabric8 client special and maybe better as compared to its competition.

:raised_hands:

[2021-12-09 09:28] vegoutha opened #3639 "Cannot create informers to capture the pod metrics"
Tried to create informer with resource object `PodMetrics` and observed the below error:

**Code Snippet:**
[code]

**Error message:**
[code]

Listed the api-resources with APIVERSION "metrics.k8s.io/v1beta1":
[code]

GET URL is supposed to be `https://localhost:5125/apis/metrics.k8s.io/v1beta1/namespaces/default/pods`

@rohanKanojia Please let me know how to capture the pod metrics using informer

[2021-12-09 13:48] shawkins commented on #3639
@vegoutha it looks like the metadata for pod and node metrics is not correct as it's just using the default plural.  The workaround would be to use generic logic:

client.genericKubernetesResources(new ResourceDefintionContext.Builder().withGroup("metrics.k8s.io").withVersion("v1beta1").withPlural("pods").withNamespaced(true).build()).inform

You can convert between a GenericKubernetesResource and

[2021-12-09 14:27] shawkins opened #3640 "Integration tests will use defaults from the 4.x client"
The integration tests are using Arquillian logic based upon a 4.x uber jar.  The logic to construct a client will construct the Config off of the Config from the 4.x client, meaning that defaults from that version will be used instead - in particular I noticed that during integration tests the watch ping interval is 1 second rather than 30 seconds.

[2021-12-09 14:31] rohanKanojia commented on #3640
I think we need to refactor integration tests out of arquillian since they make us dependent on Junit4 and require cluster level access (they create a new namespace on each execution). This also prevents us from testing on OpenShift 4.x clusters since it's not possible to run OpenShift 4 on Github Action VM.

[2021-12-09 16:21] #3620 closed

[2021-12-09 19:45] shawkins commented on #3589
Tracing this back a few steps.  The docs are built from a swagger https://github.com/kubernetes-sigs/reference-docs/tree/master/gen-apidocs/config/v1_23

The swagger comes from the main build https://github.com/kubernetes/kubernetes/tree/v1.23.0/api

I think this file is updated from the server itself - https://github.com/kubernetes/kubernetes/blob/0d3f2ca371d03cc58c36d3ee3523b719e987fc35/hack/upd

[2021-12-09 23:05] shawkins commented on #3636
@cmdjulian let me know if you want me to submit a pr instead.

@rohanKanojia are you okay with closing the passed in OutputStream?  At the very least that would need a javadoc and probably called out in the changelog.  Or do you want that to be specific to only when out is an instanceof PipedOutputStream?

[2021-12-10 08:33] cmdjulian commented on #3636
Would be nice if you could open the pr @shawkins, thanks

[2021-12-10 09:03] AbrahamArellano commented on #3506
Hi @rohanKanojia , the challenge here is to use the library to operate with the ACM API, and in order to create managed clusters, delete them and so on, we need the capabilities to create those entities in OpenShift.
For that the ACM API describes the objects we would need.
https://access.redhat.com/documentation/en-us/red_hat_advanced_cluster_management_for_kubernetes/2.3/html-single/apis/index#r

[2021-12-10 11:38] rohanKanojia commented on #3506
@AbrahamArellano : Thanks for your reply. I have created a draft PR(https://github.com/fabric8io/kubernetes-client/pull/3641) for [Open Cluster Management](https://open-cluster-management.io/) extension which provides support for the following resources provided in https://access.redhat.com/documentation/en-us/red_hat_advanced_cluster_management_for_kubernetes/2.3/html/apis/apis

- ManagedCluster

[2021-12-10 13:17] andreaTP opened #3642 "Consider Java generation from CRD"
### Is your enhancement related to a problem? Please describe

In K8s Custom Resource Definitions are a contract defined by the developers.

There are two different approaches to "generation":
  - __code first__
  - __contract first__

---
Definition:

__code first:__
you add, along with the code, informations (e.g. usually annotations in Java world) about the desired final result for your contrac

[2021-12-10 15:44] benediktwetzel opened #3644 "How to mock `writingErrorChannel`?"
For testing, we need to mock the exec command like this:

[code]

But we also need to mock the result of the `.writingErrorChannel()` and `.writingOutput()` functions to be able to mock the exit code of a command. How is this possible?

In the following code example only the ByteArrayOutputStream `out` is not empty.

[code]

[2021-12-10 17:47] shawkins commented on #2829
For fabric8 6 CustomResource won't even be required in kubernetes-model - all of the entry points that dealt with it have been deprecated and can be removed.

[2021-12-10 18:22] metacosm commented on #2829
Yea but the idea here is to be able to use what's in `CustomResource` without having to import the full client dependencies. That said, it might make sense to completely remove the `CustomResource` class.

[2021-12-10 18:29] manusa commented on #3635
You might have a transitive dependency problem.
The dependency version of MockWebServer was updated to [`0.2.2`](https://github.com/manusa/kubernetes-client/blob/7c41f118eb48c5b73ba017583feac917453b2602/pom.xml#L88) in #3562
Given the context of the error you get, it's possible that you have defined a specific dependency for `io.fabric8:mockwebserver` in your project and it's taking precedence ove

[2021-12-10 18:35] shawkins opened #3645 "split kubernetes-client-project into an api and an impl"
### Is your task related to a problem? Please describe

Rather than just creating an api module specific to the http api, we can consider splitting the whole kubernetes-client into a separate api module.

### Describe the solution you'd like

This is related to #3549 and #2829 - beyond CustomResource and CustomResourceList, it would be a good idea for the dsl, client package interfaces, etc. to be

[2021-12-10 18:37] shawkins commented on #2829
@metacosm yes, I'd like to consider that more broadly #3645

[2021-12-12 12:12] z-dian commented on #3467
hello,i'm doing the saming things like you , i want to get the pods metrics in java, to use it in other ways ,can you tell me ,what should i do?

[2021-12-12 12:41] #3419 closed

[2021-12-12 13:42] #3370 closed

[2021-12-12 13:42] #3374 closed

[2021-12-13 11:08] yusanshui opened #3647 "how to use command"
I want to create a pod with command

[code]
I wrote like this in java

[code]
but I got this
[code]
then it remindered me crashloopbackoff
what should I do ?

[2021-12-13 13:42] manusa commented on #3589
:sob: For me this is the worst possible outcome, since it will require both processing swagger and go.

The issue is even worst for some of the extensions. The swagger OpenAPI docs are incomplete and for them. I really can't understand how this might actually work for Tekton etc. (e.g. dealing with Tekton resources from kubectl, how does kubectl know where the endpoint is if the OpenAPI is incompl

[2021-12-13 14:13] shawkins commented on #3589
Wouldn't tekton be installed via crds?  My understanding is that processing would install the endpoint handler for the plural and thus update the swagger.

[2021-12-13 14:44] davinkevin commented on #3644
I have almost the same requirement, but only for exit code. I didn't found in the codebase example or code allowing to provide an `exec` returned-code to the mock-server.

[2021-12-13 14:58] ParriePierre opened #3648 "Expected a single document in the stream"
### Describe the bug

Hello,

Kubernetes-client cannot read documents that contains one ressource and end with "---", snakeyaml throws exception "expected a single document in the stream".
It used to work with kubernetes-client 4.13.3.

Using Kubernetes-client:4.13.0, this used to work.

### Fabric8 Kubernetes Client version

5.10.1@latest

### Steps to reproduce

Using example LoadMultipleDocumen

[2021-12-13 16:52] manusa commented on #3589
The generated swagger docs are wrong/incomplete for Tekton.

I forgot about the APIResource endpoint(s). Kubectl was using this, so it's no problem (just like for us after the GenericResource enhancements).

But then, how is this endpoint getting the info for the plural, etc?

[2021-12-13 17:36] shawkins commented on #3589
For built-in types the plural is coming from the storage keys.

For crds, it's being built here https://github.com/kubernetes/kubernetes/blob/07d3a92ce6bc6d25f66a15a4f19294a729bcb90b/staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/builder/builder.go#L142

[2021-12-13 18:02] manusa commented on #3589
So it all sums up to what you said before:

If we want to implement this, for the core APIs we can rely on the hardcoded swagger.json file.

For the extensions (+OpenShift) it would be much harder.

Is it still worth exploring this?
There were also a few KEPs/issues related to this (I don't have the references now). Maybe this can be blocked until a better alternative is implemented upstream.

[2021-12-13 18:06] rohanKanojia commented on #3473
Hello, I tried reproducing this issue but I'm not able to reproduce this. For me, exec seems to be working okay and I don't get 403. I prepared a reproducer based on the code you shared: https://github.com/rohankanojia-forks/kubernetes-client-execwatch-test
and checked these scenarios (I've logged into all clusters via `oc login`) :
1. CRC 1.35.0 OpenShift 4.9.5 OpenShiftClient 5.7.3: Run locally

[2021-12-13 18:25] shawkins commented on #3589
Probably not.  The simplest thing we could do otherwise would be to add a validation as part of a test - for whatever resources are exposed by the openshift/minikube that's running, use logic similar to
[code]

[2021-12-14 05:04] #3116 closed

[2021-12-14 05:49] Sgitario commented on #3473
I've checked the code that was failing and with the latest version, it's working fine. Closing.

[2021-12-14 05:49] #3473 closed

[2021-12-14 05:52] manusa commented on #3195
Should be fixed by #3574.

I'm closing the issue, please reopen or create a new one in case the issue persists.

[2021-12-14 05:52] #3195 closed

[2021-12-14 06:16] manusa commented on #3639
https://github.com/fabric8io/kubernetes-client/issues/3639#issuecomment-989868438

Does this actually work?

Metrics HTTP API is not standard, I wasn't sure that this could actually work.

[2021-12-14 10:35] andreaTP commented on #3642
@rohanKanojia , @manusa any take on this proposal? Would you accept contributions in this direction?

[2021-12-14 10:39] rohanKanojia commented on #3642
I like this idea and I'm in support of adding this to the client. However, we need to check with senior members @manusa @iocanel @metacosm @shawkins on what they think about this.

[2021-12-14 11:04] andreaTP commented on #3642
Thanks a lot for the context and for pinging the right people @rohanKanojia !

I touched base with @metacosm and I got the impression he was on-board.
I'm forward to have more feedback 🙂  !

[2021-12-14 16:19] #3493 closed

[2021-12-14 16:19] #3593 closed

[2021-12-14 22:00] shawkins commented on #3645
Changes (some breaking) that are needed for this:

- separation of dsl and other interfaces from io.fabric8.kubernetes.client from *Client impls, *ExtensionAdapters, and other logic.  This will require a new package to avoid a split package warning.
- " io.fabric8.kubernetes.client.dsl.base
- Some of the io.fabric8.kubernetes.client.internal is still needed on the api side with the current incarna

[2021-12-15 11:12] andreaTP opened #3651 "CRD generation fails with StackOverflow in case of cyclic references"
### Describe the bug

Using the CRD generation preview module and having cyclic references in the POJOs breaks the generator.

Discovered trying to produce a CRD from the Keycloak Real Representation:
https://github.com/andreaTP/repro_crd_gen_stackoverflow/blob/e398e95c265c9bd2fe992e517b6b554382ae863b/src/main/java/org/keycloak/operator/crds/KeycloakRealmSpec.java#L23

### Fabric8 Kubernetes Clien

[2021-12-15 11:22] hakontro commented on #3500
@manusa did you investigate this? I'm seeing a similar issue when trying to run a Spark 3.2.0 cluster on Openshift.
[code]

[2021-12-15 11:35] andreaTP commented on #3651
Additional considerations:

 - `$ref` is not supported https://github.com/kubernetes/kubernetes/issues/62872 yet
 - a possible "workaround" for the encoding might be to produce "untyped" objects when a cycle is found, e.g. (based on the provided repro):

[code]

[2021-12-15 13:39] ahus1 commented on #3588
After #2108 being implemented, the code has changed, and I wonder if using `kubernetes-client-project` for dependency management was intended in the first place.

There doesn't seem to be a true `bom` dependency (at least not any more).

Closing this issue.

[2021-12-16 08:48] manusa commented on #3642
The extensions and the way we generate them are part of what you defined here as contract first.

So I guess that discussion should flow more around if we are willing to take some approach to support YAML CRDs (or deployed CRDs+OpenAPI) as input to generate extensions.

[2021-12-16 10:17] manusa commented on #3642
After checking your PoC's code, this can be something really good to replace the way we are generating extensions, and to offer a way for users to generate their own.

Being able to go from YAML CRDs to Java classes would allow us to generate and persist the extensions really quickly and without the need to deal with Go code. It would improve compilation time and allow for the quick maintenance an

[2021-12-16 10:21] manusa commented on #3642
BTW, just to be clear on what I think about this statement ;).

I don't think that the official client provides something that could be called as a feature for this "contract first" approach.
It requires you to deploy the CRD on the cluster and then generate a "dirty" client from the OpenAPI.
This has at least two issues:
- The generated client contains duplicate classes of the official model.
- T

[2021-12-16 11:24] andreaTP commented on #3642
@manusa I'm not sure I'm completely following:

Can you provide a link to the piece of code you are referring to? And one to the generated output so that we can compare?
( from the POC you can directly look how the current output looks like from the approval tests output e.g.: https://github.com/andreaTP/crd2j/blob/main/src/test/java/org/crd2j/ApprovalTest.testCrontabCrd.approved.txt ).

Regarding

[2021-12-16 11:58] manusa commented on #3642
I'm not saying that the feature is not useful, I'm saying that what the official Kubernetes Client has is a workaround and not really a feature.

The possibilities of this and the relevant use cases (even more outside the world of operators) is something that I agree. And this brings me to the point of the extensions, which might be where I'm not be explaining OK.

Our [extensions](https://github.

[2021-12-16 12:10] #3600 closed

[2021-12-16 12:23] #3505 closed

[2021-12-16 13:36] #3636 closed

[2021-12-16 14:12] #3615 closed

[2021-12-16 14:21] manusa commented on #3588
I'm reopening because so far this is the only bom-like module we have.

[2021-12-16 15:03] jordyv opened #3653 "Security issue in kubernetes-client"
### Describe the bug

Hi team,

I think I found a security issue in the kubernetes-client library which can cause code execution depending on where the input is coming from. If a malicious config string or Kubernetes resource string is passed to a specific function in the library, this will execute arbitrary Java code on the machine which parses the resources.

I didn't found a proper way to repor

[2021-12-16 15:06] manusa commented on #3653
Hi @jordyv
Please report to secalert@redhat.com

[2021-12-16 16:35] shawkins commented on #3645
Opened a pr #3654 to show what this module would look like - which addresses the interface related questions above, but does not yet make the kubernetes-client module use the new one, so split packages have not been addressed.

Additional thoughts after working through this:

- also requires splitting the openshift module into a client and impl
- a big sticking point is how clients are created - t

[2021-12-16 18:57] shawkins commented on #3645
Some things to move out of utils and other api packages:
WatcherToggle
SyncableStore
ResyncRunnable
ExponentialBackoffIntervalCalculator
DeleteAndCreateHelper
CreateOrReplaceHelper
SerialExecutor?

UnmatchedFieldTypeModule is effectively part of the public api.
The interceptors would be good to move out of the api (they also have dependencies on the internal utils), but would require additional re

[2021-12-17 07:01] Hugo-Ho opened #3655 "Doc:Update CHEATSHEET.md"
### Is your task related to a problem? Please describe

Add the usage document content of clusterrole

### Describe the solution you'd like

Add the usage document content of clusterrole

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-12-17 07:16] rohanKanojia commented on #3655
@Hugo-Ho : Thanks a lot for your PR :+1: . I see we don't have any docs for any other RBAC Kubernetes resource as well. Would it be possible for you to add docs for those too? It shouldn't be different from ClusterRole.

- Role
- RoleBinding
- ClusterRoleBinding

[2021-12-17 08:26] manusa commented on #3629
Fixed by #3631

[2021-12-17 08:26] #3629 closed

[2021-12-17 11:44] betonetotbo opened #3661 "Camel-k-model : mapping deprecated field kit, the new one is "IntegrationKit""
### Describe the bug

This version is mapping the deprecated field `kit` from [IntegrationStatus](https://camel.apache.org/camel-k/1.7.x/apis/camel.html#camel.apache.org/v1.IntegrationStatus).

The new field is `integrationKit`.

I think the problem is the generator version based on camel 1.3.1 -> https://github.com/fabric8io/kubernetes-client/blob/6d75738a9d56918b77d369198a6d8defa987b8d9/extensio

[2021-12-17 13:51] shawkins commented on #3639
It should, or at least it will hit the endpoint he is wanting to.

There reason that informers don't work here is that they are pulling the plural from the class.  Regular node/pod metric operations are working because the plural is being passed via the *OperationImpl.

[2021-12-17 14:10] vegoutha commented on #3639
Thanks @shawkins . Workaround provided in the above comment https://github.com/fabric8io/kubernetes-client/issues/3639#issuecomment-989868438 works for me.

[2021-12-17 14:14] shawkins commented on #3639
Also related to this is that NodeMetrics is currently marked as Namespaced, and it should not be.

[2021-12-17 16:50] manusa opened #3662 "NodeMetrics is currently marked as Namespaced should be cluster scoped"
Also related to this is that NodeMetrics is currently marked as Namespaced, and it should not be.

_Originally posted by @shawkins in https://github.com/fabric8io/kubernetes-client/issues/3639#issuecomment-996754527_

[2021-12-17 18:14] andreaTP commented on #3642
I took a peek on your indication @manusa and tested out the POC against the `kamelet` CRD, trying to add most of the `lombok` and `sundrio` annotations too:
https://github.com/andreaTP/crd2j/tree/kamelet-lombok-more

You can check the result in the `generated` folder while the output of the current fabric8 machinery is in the `kamelet-target` folder.

There are, as expected, a bunch of differences

[2021-12-18 04:13] Yikun opened #3663 "Couldn't create client with custom dispatcher after v5.11"
### Describe the bug

[code]

Before v5.11, we can set dispatcher using below code, in v5.11 we do [feactor on okhttp usage](https://github.com/fabric8io/kubernetes-client/issues/3547) in https://github.com/fabric8io/kubernetes-client/pull/3549.

Looks like we should add new interface to set custom dispatcher in `io.fabric8.kubernetes.client.http.HttpClient.Builder` to keep compatibility？

### Fab

[2021-12-18 04:24] Yikun commented on #3663
maybe cc @rohanKanojia @manusa

[2021-12-18 07:33] Hugo-Ho commented on #3655
OK, but I need some time, because I've been using RBAC related methods recently. When I finish the development at hand, I'll add the corresponding document content

[2021-12-18 15:00] shawkins commented on #3663
There are several ways to still do this.  The best should be to use OkHttpClientFactory and override the additionalConfig method:

[code]

[2021-12-19 02:44] Yikun commented on #3663
@shawkins Thanks for your reply and suggestion, it works.

BTW, have we decided which httpclient would be mainly used to replace `OkHttpClient`? It would be helpful to do some investegations on potenial upgrade.

[2021-12-19 14:35] shawkins commented on #3663
The likely plan will be to support both the okhttpclient and a jdk based https://github.com/shawkins/httpclient simultaneous for a while.

Before that new httpclient is supported there is also some additional refatoring needed to create either an httpclient api or a full client api module - #3645 has a draft pr of what a full client api would look like.  Then we'll likely want to bump the minimum

[2021-12-20 02:57] KHU-YoungBo commented on #3633
I found something.. I think there is a conflict with `Spring-Cloud`

## Without Spring cloud
In `build.gradle`:
[code]

Result:
[code]

## with spring-cloud configuration

In `build.gradle`:
[code]

Result:
[code]

## Compatibility table
Just for creating test of `DefaultKubernetesClient` Object.

The result is depends on the version of `spring-cloud` and  `fabric8-kubernetes`

| version

[2021-12-20 06:11] manusa commented on #3633
Thanks for this, I think that this issue might be affecting others, since we are seeing similar reports of classes clashing.

I'm not sure what version Spring Cloud is running on, but it might be worthy to spend some of our time updating the dependency there.

[2021-12-20 07:47] Yikun commented on #3663
@shawkins Thanks for reply

[2021-12-20 10:15] SoerenHenning commented on #3644
I haven't tested this, but when looking at this blog post by Red Hat [Executing commands in Pods using K8s API (Communication protocol)](https://cloud.redhat.com/blog/executing-commands-in-pods-using-k8s-api) and the source code of [ExecWebSocketListener#onMessage](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/E

[2021-12-20 11:42] manusa opened #3668 "APIServiceIT breaks the cluster's API server"
### Is your task related to a problem? Please describe

When running the [APIServiceIT](https://github.com/fabric8io/kubernetes-client/blob/5596fce44f55235bade1f4c7c5798972b191911d/kubernetes-itests/src/test/java/io/fabric8/kubernetes/APIServiceIT.java) we are performing write operations to the API server that, **although allowed by the REST API**, shouldn't be performed and break the cluster.

Yo

[2021-12-20 15:34] andreaTP commented on #3651
another alternative might be to create "virtual" references:

as soon as we detect a cycle we convert the property to a "Ref" type (e.g. backed by a plain `string`?) and we create an additional synthetic field at the top level of the `Spec` that will be a `Map<String, Object>` where the structure of the values is checked against the property involved in the cycle.
This way we break the cycles and

[2021-12-20 23:02] tacf opened #3669 "Behaviour of resource .list() when filtered"
Hello,

I'm currently migrating from 5.6 to 5.11 and bumped into a single failing test on our end. The basic gist of the test is to create a pod, associate an event with it and then validate some internal logic that gets the pod status, we're using the mocked kubernetes server (autowired). The weird behaviour that we've found is that when trying to fetch the events (in our get pod status function)

[2021-12-21 09:23] oscerd opened #3670 "Camel-K Extension: Point latest released version 1.7.0"
### Is your task related to a problem? Please describe

It's still pointing 1.3.0

### Describe the solution you'd like

Pointing to 1.7.0

### Describe alternatives you've considered

_No response_

### Additional context

First iteration fails with

[code]

[2021-12-21 14:05] manusa commented on #3669
MockServer provides only field selector support for a few fields (name and namespace, I think).

[2021-12-21 14:08] manusa commented on #3663
Thanks for taking care of this Steven.
Closing the issue because I think that your problem was solved. Please feel free to open a new one if you problem persists.

[2021-12-21 14:08] #3663 closed

[2021-12-21 14:11] manusa commented on #3661
Relates to #3670

[2021-12-21 14:18] manusa commented on #3647
Shouldn't both YAMLs be equivalent (despite one is using a scalar value and the other a String)

[2021-12-21 14:23] manusa commented on #3644
Yes.

You need to mock the WebSocket communication for this to work. It would be great if someone finally implements the test and they could share it in our cheatsheet or examples.

[2021-12-21 14:28] manusa commented on #3640
Just to put things clear:
- Arquillian has a dependency towards Kubernetes Client 4.x
- The fact that we are depending on Arquillian to bootstrap our cluster scenarios, makes us consume the Config from the Kubernetes Client 4.x version provided by Arquillian.

I don't really think that Arquillian is adding too much value right now, it could be easily replaced by a JUnit Extension that created and

[2021-12-21 14:38] manusa commented on #3626
Could you share more details about your test?

If you are testing something concrete, I don't understand why you would need a variable there.

[2021-12-21 17:15] andreaTP commented on #3651
The current path forward is to explore adding an annotation that enable users to specify an alternative CRD implementation instead of using the one automatically derived from the Java object.

cc. @metacosm

[2021-12-21 19:56] andrewm-aero opened #3671 "HTTP(S) Proxy Port is not Defaulted or Validated"
### Describe the bug

In https://github.com/fabric8io/kubernetes-client/blob/v5.10.1/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/utils/HttpClientUtils.java#L201 , the proxy port is not assigned a default, if not provided in the URL, resulting in `java.lang.IllegalArgumentException: port out of range:-1`.

### Fabric8 Kubernetes Client version

5.10.1@latest

### Steps to reproduce

[2021-12-22 00:49] yusanshui commented on #3647
I knew. Remove `\"` in [[ -f \"/opt/bitnami/scripts/git/entrypoint.sh\" ]]

[2021-12-22 00:49] #3647 closed

[2021-12-22 09:15] qhh0205 commented on #3604
+1

[2021-12-22 09:54] rohanKanojia commented on #3604
You need to be more specific on which field you're trying to fetch from describe output. there is no REST API for  `kubectl describe` . `kubectl` get fetches object from API server and prints summary on it's own.

[2021-12-22 12:18] vijitgosain commented on #3324
Faced the same issue, there were http_proxy and https_proxy set in the pod.
After resetting these proxies the error was resolved.

[2021-12-22 14:51] metacosm opened #3672 "Native build fails because it considers optional `commons-codec` dependency"
### Describe the bug

See https://github.com/quarkiverse/quarkus-operator-sdk/issues/175#issuecomment-999158762 for more details.

### Fabric8 Kubernetes Client version

5.10.1@latest

### Steps to reproduce

1. Clone https://github.com/quarkiverse/quarkus-operator-sdk
2. mvn clean install
3. cd integration-tests
4. mvn verify -Dnative

### Expected behavior

Native build should work correctly.

#

[2021-12-23 08:09] Hugo-Ho opened #3675 "Doc:Added missing documentation and examples for Role、RoleBinding and ClusterRoleBinding"
### Is your task related to a problem? Please describe

Added missing documentation and examples for Role、RoleBinding and ClusterRoleBinding

### Describe the solution you'd like

Added missing documentation and examples for Role、RoleBinding and ClusterRoleBinding

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-12-23 09:25] Hugo-Ho opened #3677 "add kubernetes-client example for secret"
### Is your task related to a problem? Please describe

add kubernetes-client example for secret

### Describe the solution you'd like

add kubernetes-client example for secret

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2021-12-23 10:45] andreaTP opened #3679 "CRD generator emit an incorrect signature for Maps"
### Describe the bug

Having a Java object that define a `Map` property such as:

[code]

The crd-generator emits:

[code]

This signature force the user to create corresponding CRs like the following:

[code]

But, trying to read it back from Kubernetes using the client fails with the following exception:

[code]

### Fabric8 Kubernetes Client version

5.10.1@latest

### Steps to reproduce

- Cre

[2021-12-23 10:46] andreaTP commented on #3679
cc. @metacosm

[2021-12-23 11:11] andreaTP opened #3681 "CRD generator doesn't respect Jackson serialization/deserialization"
### Describe the bug

Having a Java class that defines:

[code]

generates a CRD with the following:

[code]

But when trying to read a corresponding CR from Kubernetes fails with the following:

[code]

### Fabric8 Kubernetes Client version

5.10.1@latest

### Steps to reproduce

Try to read a CR using the `kubernetes-client` where the Jackson serialization have a mismatch with the name of the fi

[2021-12-23 11:12] andreaTP commented on #3681
cc. @metacosm

[2021-12-23 11:24] andreaTP commented on #3681
Maybe a good start would be to respect the following properties: https://github.com/strimzi/strimzi-kafka-operator/blob/399eb729201576e54367eb47a0cf07a1fd70c806/crd-generator/src/main/java/io/strimzi/crdgenerator/CrdGenerator.java#L120-L138

[2021-12-23 12:06] metacosm commented on #3681
Hmm, I don't think that the use case you mention is supposed to work… even in Jackson or, at least, it's relying on implicit behavior that should be avoided. With your example, it's not obvious for a human what the intent is: are you supposed to want a `myTest` property or a `test` one, or both? If you annotate your field with `JsonProperty` then the intent is clearer, though, I guess in that exam

[2021-12-23 13:03] andreaTP commented on #3681
It only creates one property.
I agree that using `JsonProperty` annotation makes the intent much clearer.

I think that the available workaround make this issue pretty low in priority, I opened it mostly for tracking purposes.

I believe that we should somehow document what the generator takes in consideration (currently `JsonProperty`, `JsonPropertyDescription` and `NotNull`) so that we settle th

[2021-12-23 14:27] andreaTP opened #3683 "CRD generator doesn't handle correctly JsonNode type"
### Describe the bug

The CRD generator produce an empty object for fields with type `JsonNode`.

### Fabric8 Kubernetes Client version

next (development version)

### Steps to reproduce

Generate the CRD for a class containing a field like:

[code]

the output is:

[code]

### Expected behavior

the expected output should be:

[code]

### Runtime

Kubernetes (vanilla), other (please specify in a

[2021-12-23 15:10] andreaTP opened #3686 "CRD generator doesn't respect JsonIgnore annotation"
### Describe the bug

The CRD generated from a Java class containing `JsonIgnore`d fields still include those properties.

### Fabric8 Kubernetes Client version

next (development version)

### Steps to reproduce

Define a property like:

[code]

in a Java CR class.

Generate the corresponding CRD.

The generated CRD contains:

[code]

### Expected behavior

Fields marked with `JsonIgnore` should

[2021-12-23 17:54] #3672 closed

[2021-12-24 04:38] #3662 closed

[2021-12-24 04:39] #3639 closed

[2021-12-24 04:39] #3668 closed

[2021-12-24 06:23] #3686 closed

[2021-12-24 07:05] qhh0205 commented on #3604
Are there kubectl describe implementations in java？Such as related utils...

[2021-12-24 07:09] rohanKanojia commented on #3604
@qhh0205 : Right now I don't think we have anything like this. What are you specifically looking for in `kubectl describe` output?

[2021-12-24 07:35] qhh0205 commented on #3604
@rohanKanojia hi，i want to get `kubect describe node <nodeName> output`.

[2021-12-24 09:05] metacosm commented on #3681
Agreed.

[2021-12-24 10:13] rohanKanojia commented on #3604
Sorry for not being clear. `kubectl describe node <nodeName>` has quite large output. My question was whether is there something specific inside the output you're looking for.

[2021-12-24 15:31] shawkins commented on #3569
Linking #3628

#3645 already proposes to handle the first and the third points

[2021-12-24 15:39] shawkins commented on #3589
Marking as closed based upon #3664 - that's as much as we can do for now.

[2021-12-24 15:39] #3589 closed

[2021-12-26 05:11] qhh0205 commented on #3604
@rohanKanojia hello, i am looking for how to get cpu and memory request and limit usage and percentage. Such as following output data from `kubectl describe node <nodeName>`:
[code]

[2021-12-26 06:39] sauravmndl commented on #3604
I was primarily looking for events. But what are the different components combined in `describe pod`? And is there any SLA in responding ticket ?

[2021-12-27 05:40] rohanKanojia commented on #3604
@qhh0205 : I think you should be able to get cpu/memory usage via using `client.top().nodes().metrics()`. You'll need to calculate percentage on your own. There is a StackOverflow answer related to this: https://stackoverflow.com/questions/67673662/how-to-get-the-node-cpu-and-memory-value-using-java-io-fabric8-kubernetes-clie

[2021-12-27 05:47] rohanKanojia commented on #3604
@sauravmndl : I think you can get events by applying fieldselectors like this;
[code]

[2021-12-27 05:49] S-Dragon0302 commented on #1672
@garo I also met for this problem

[2021-12-27 05:49] S-Dragon0302 commented on #1672
@garo I also met for this problem

[2021-12-27 19:15] subnetmarco commented on #2112
Any update on this issue?

[2021-12-28 06:44] qhh0205 commented on #3604
@rohanKanojia hi, my solution is similar to what you said. It can be calculated by myself. The calculation method is as follows:

1. Find all pods on the node, and get the node's total cpu and memory amount;
2. Iterate the pods and get the sum of the container's request  and limit cpu and memory, this is equivalent to the allocated;
3. Calculate percentage, just use the step 2 result divide the st

[2021-12-28 07:21] walnut-tom opened #3696 "Did you forget to close aresponse body?"
### Describe the bug

[code]

### Fabric8 Kubernetes Client version

next (development version)

### Steps to reproduce

1、upgrade to 5.11.1
2、call client.apps().deployments().withName(name).get();
3 IllegalStateException

### Expected behavior

close the response body

### Runtime

Kubernetes (vanilla)

### Kubernetes API Server version

1.22.3@latest

### Environment

Linux

### Fabric8 Kubernet

[2021-12-28 11:42] scholzj opened #3697 "`get()` seems to be leaking OkHttp connections in 5.11"
### Discussed in https://github.com/fabric8io/kubernetes-client/discussions/3694

### Describe the bug

It seems that in some cases, when the `get()` method is called, the OkHttp responses are not closed properly. As a result, the application logs might be full of following messages:

[code]

This happens for example when `MixedOperation.inNamespace(...).withName(...).get()` or `NonNamespaceOperat

[2021-12-28 11:43] scholzj opened #3698 "How to close HTTP response with the new HTTP Client abstraction"
### Discussed in https://github.com/fabric8io/kubernetes-client/discussions/3694

<div type='discussions-op-text'>

<sup>Originally posted by **scholzj** December 27, 2021</sup>
In 5.11, the new HTTP abstraction was introduced which abstracts the OkHttp client with Fabric8's own classes. However, the HttpResponse class does not seem to have any method to close the response. When the response is no

[2021-12-28 11:43] #3698 closed

[2021-12-28 12:51] shawkins commented on #3696
This should be a duplicate of #3697 Can you confirm if the #3699 fix works for this as well?

[2021-12-28 15:11] walnut-tom commented on #3697
just revert the [https://github.com/fabric8io/kubernetes-client/pull/3549](https://github.com/fabric8io/kubernetes-client/commit/7ef49cd34e2de0d68422e17ce24fe15e48b63f17#diff-0e6e2c9f596eeae87b095556eee9e42ff3a8485b10d02525602fa96fe8c187d2) removed 4 line code(**the finally clause**), it's works ok

OperationSupport.java

[code]

[2021-12-28 15:31] rohanKanojia commented on #3697
@walnut-tom : Could you please review https://github.com/fabric8io/kubernetes-client/pull/3699 ?

[2021-12-28 15:59] mattrpav opened #3700 "ManagedKubernetesClient configuration policy should be REQUIRE"
### Describe the bug

ManagedKubernetesClient does not handle activate( ) method being called with null properties. The Configuration policy should be set to 'REQUIRE' in order to only activate when a config is present.

### Fabric8 Kubernetes Client version

5.5.0

### Steps to reproduce

1. Deploy kubernetes-client in osgi w/o a config file
2. Observe NPE

[code]

### Expected behavior

Do not t

[2021-12-28 16:44] tacf commented on #3669
Hi,

Yes, just confirmed you info. Think we can close this (i'll try to do so better search next time)

Thanks

Happy Holidays

[2021-12-28 16:44] #3669 closed

[2021-12-28 18:01] joschi commented on #3547
@shawkins After running into a few issues with the new HTTP client abstraction in https://github.com/dropwizard/dropwizard-kubernetes/pull/147, I think it would be useful to customize the `OkHttpClient` (not `OkHttpClient.Builder`) instance.

Specifically the ability to add a wrapper around the actual `OkHttpClient` instance would be great, for example for adding instrumentation to the OkHttp clie

[2021-12-29 06:16] szsuyuji opened #3702 "NodeAffinity cant not set RequiredDuringSchedulingRequiredDuringExecution"
Client version 5.11.1

how to set RequiredDuringScheduling**RequiredDuringExecution**
![image](https://user-images.githubusercontent.com/1931764/147632736-a34cdecb-a2db-47d6-8a34-8155d50565e4.png)
the current api model only support IgnoredDuringExecution

[2021-12-29 07:08] #3702 closed

[2021-12-29 08:42] rohanKanojia commented on #3702
@szsuyuji : Were you able to resolve this? I can see setters `setPreferredDuringSchedulingIgnoredDuringExecution` and `setRequiredDuringSchedulingIgnoredDuringExecution` in NodeAffinity class

[2021-12-29 09:39] zhisheng17 commented on #2212
java version "1.8.0_152"
Java(TM) SE Runtime Environment (build 1.8.0_152-b16)
Java HotSpot(TM) 64-Bit Server VM (build 25.152-b16, mixed mode)

Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.3", GitCommit:"ca643a4d1f7bfe34773c74f79527be4afd95bf39", GitTreeState:"clean", BuildDate:"2021-07-15T21:04:39Z", GoVersion:"go1.16.6", Compiler:"gc", Platform:"darwin/amd64"}
Server Ve

[2021-12-29 10:30] szsuyuji commented on #3702
@rohanKanojia  tks,  RequiredDuringScheduling**_RequiredDuringExecution_**  attribute  is still  unimplemented in kubenetes , so i closed this issue

[2021-12-29 19:45] shawkins commented on #3547
@joschi feel free to open a new issue or pr.  The goal moving forward will be to de-emphasize okhttp.

[2021-12-30 06:34] libin0811 opened #3703 "How to delete LivenessProbe or ReadinessProbe from a Deployment"
I want to delete LivenessProbe from a Deployment ,but I can not find a method to do that .is there any method to do that ?
here is my try
`client.apps()
.deployments()
.inNamespace(namespace)
.withName(deploymentName)
.edit()
.editSpec()
.editTemplate()
.editSpec()
.editContainer(0)`

[2021-12-30 06:46] rohanKanojia commented on #3703
@libin0811 : I'm able to do it via simple JSON patch request:

[code]

[2021-12-30 09:50] MatanLevy opened #3704 "local address argument to override localhost in portForward API"
Hi, I see currently that the API for port forwarding does not support passing as an argument local address (as possible in kubectl command: https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#port-forward), but only container port and local port, so it will always default to localhost address.

Is there a way to achieve override to localhost with my address  with current API ?

[2021-12-30 11:09] TianMingChen commented on #1885
你好，请问这个问题你是怎么解决的呀？

[2021-12-30 11:10] TianMingChen commented on #1885
hello,how do you solve this problems?

[2021-12-30 11:21] rohanKanojia commented on #1885
@TianMingChen : Could you please try using `.patch()` with Ingress? Maybe this should work:

[code]

[2021-12-30 13:38] walnut-tom commented on #3697
no error

[2021-12-31 02:16] libin0811 commented on #3703
Thank you for reply, can i see your pom dependency because i have some error to use PatchContext.of(PatchType.JSON)

[2021-12-31 02:26] TianMingChen commented on #1885
ok,thank you ,it's work on delete path,but when i want to add a path,it seem to have a problem throw exception,this is my code,it's any wrong?
[code]

[2021-12-31 02:28] TianMingChen commented on #1885
Ok,thank you ,it's work on delete path,but when i want to add a path,it seem to have a problem throw exception,this is my code,it's any wrong?
[code]

[2021-12-31 05:57] TianMingChen commented on #1885
I have solve this problem when i down the fabric8 version like this:
[code]
[code]

[2021-12-31 06:25] rohanKanojia commented on #3703
@libin0811 : I'm using Fabric8 Kubernetes Client v5.11.0

[2021-12-31 07:21] rohanKanojia commented on #1885
@TianMingChen : Umm, that's strange. I'm able to add a new path with JSON patch strategy like this:
[code]

In 5.x version of client, we had changed `edit()` method, you can check [v5 Migration Guide](https://github.com/fabric8io/kubernetes-client/blob/master/doc/MIGRATION-v5.md#editable) . Now edit operation should be done it this:

[code]

[2021-12-31 10:02] TianMingChen commented on #1885
OK,it's work ,thank you ! happy new year !

[2021-12-31 10:05] rohanKanojia commented on #1885
@TianMingChen : Good to hear :) . Happy new year to you as well :tada:

[2022-01-02 16:25] #3446 closed

[2022-01-03 06:08] manusa commented on #3436
https://github.com/fabric8io/kubernetes-client/issues/3633#issuecomment-997549271

[2022-01-03 08:14] #3655 closed

[2022-01-03 08:20] #3683 closed

[2022-01-03 12:19] #3499 closed

[2022-01-03 14:25] rbaeurle opened #3709 "IllegalStateException while reading VirtualServices"
### Describe the bug

I'm the author of bug https://github.com/snowdrop/istio-java-api/issues/137 and finally was directed to https://github.com/fabric8io/kubernetes-client/pull/3613. As you can see from this ticket I was able to successfully test the fix on my system. Now I'm using the 'official' kubernetes-client 5.11.1 and I get the following IllegalStateException while reading/creating a Virtu

[2022-01-03 15:22] #3697 closed

[2022-01-03 15:36] manusa commented on #3709
Duplicate of #3697 #3696

[2022-01-03 15:37] manusa commented on #3709
/cc @Sgitario @metacosm

[2022-01-03 16:28] Hillelmed commented on #3709
@manusa
Hi, i have the same issue please check this build https://github.com/fabric8io/kubernetes-client/runs/4692531992?check_suite_focus=true

i wait for it ASAP :)

[2022-01-03 20:09] metacosm commented on #3709
Would it be possible to add the YAML for the `VirtualService` that's causing the error? Which version of Istio are you using?

[2022-01-04 08:38] joshiste commented on #3503
Marking it as stale won't make the bug disappear. I'm looking into providing a PR for this.

[2022-01-04 09:47] chichaoatabc commented on #3709
The same exception occured on my system. When I get  or create any istio crd(virtualservice\destinationrule\gateway...), the exception throws Cause: com.fasterxml.jackson.annotation.JsonTypeInfo$Id.DEDUCTION.
kubernetes-client 5.11.1
kubernetes server version: v1.21
istio:1.12.1

[2022-01-04 13:15] rbaeurle commented on #3709
At this time we call the client API there is no VirtualService at all. So I cannot provide any YAML.
Regarding the Istio version:
client version: 1.12.1
control plane version: 1.11.5
data plane version: 1.11.5 (4 proxies)

[2022-01-04 13:28] keppi2 opened #3710 "Wait/Query if a change to an statefulset is applied to all pods"
### Is your enhancement related to a problem? Please describe

After createOrReplace on an sts, i would like to wait till my change/rollout was applied to all pods of sts.

### Describe the solution you'd like

I got to know that sts does not support any state/condition if this change is applied to all pods. I got to know that with
`kubectl rollout status statefulsets/NAME` you can query for the s

[2022-01-04 13:51] rohanKanojia commented on #3709
@rbaeurle : It would be really helpful if you could share a reproducer project with us.

[2022-01-04 14:10] rbaeurle commented on #3709
Unfortunately, this is a customer project. I.e. I would have to create a test project first and then put it in my private GitHub account ....

[2022-01-04 17:05] rohanKanojia commented on #3648
I can reproduce this issue. While processing YAML document, I can see YAML document is parsed correctly; however, since it's just one document this condition is not satisfied:

https://github.com/fabric8io/kubernetes-client/blob/ef50b9069e19da1b401c16f004c15e49c9822b56/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/utils/Serialization.java#L325-L329

This behavior seems to be correct

[2022-01-04 21:50] metacosm opened #3712 "`HasMetadata.getFullResourceName` is incorrect when group is empty (which happens for "historic" resources such as `Pod`)"
### Describe the bug

`getFullResourceName` returns `pods.` instead of `pods` for example.

### Fabric8 Kubernetes Client version

5.10.1@latest

### Steps to reproduce

Call `getFullResourceName` on a resource with an empty group.

### Expected behavior

Proper full resource name.

### Runtime

Kubernetes (vanilla)

### Kubernetes API Server version

1.22.3@latest

### Environment

macOS

### Fab

[2022-01-05 07:36] rbaeurle commented on #3709
Update:
I did some further investigations and checked the jackson-lib dependencies. I recognized that there was a version mismatch between the one I got due to my spring boot starter dependency and the one with a 'naked' kubernetes-client project. After adding the jackson dependencies explicitly to my project the IllegalStateException as described above didn't happen anymore.
Unfortunately I get a

[2022-01-05 12:58] #3475 closed

[2022-01-05 13:07] metacosm commented on #3709
@rbaeurle Thank you for the update. The other issue is a separate one that should be fixed now.

[2022-01-05 13:08] #3709 closed

[2022-01-05 13:20] rohanKanojia commented on #3503
@joshiste : Are you working on this issue? If not, I can try fixing this issue.

[2022-01-05 14:46] rohanKanojia commented on #3500
@hakontro @hanneshofmann @joshiste : How can I reproduce this issue? I'm trying to load a Deployment YAML with `client.apps().deployments().load(...)` in but it's passing for me.

[2022-01-05 14:53] hakontro commented on #3500
@rohanKanojia What openshift version are you on? I think it's related to a version issue between openshift and the 5.4.1 client (for me at least)

[2022-01-05 14:55] rohanKanojia commented on #3500
I'm trying to reproduce this issue via a unit test in https://github.com/fabric8io/kubernetes-client/blob/master/platforms/karaf/itests/src/test/java/io/fabric8/kubernetes/karaf/itests/KubernetesDeserializerTest.java

I'm on master branch

[2022-01-05 21:45] joshiste commented on #3500
@rohanKanojia Ok just found out, that the KubernetesDeserializerTest (in master) is using the kubernetes-client-5.11.1-bundle.jar and not the kubernetes-client-5.11.1.jar

the key difference is that the former has osgi statements in the manifest as the latter has not - may be that's the difference here?

[2022-01-05 22:05] joshiste commented on #3503
Ok just found out that there is the normal jar and the bundle-jar for the client. One with all the OSGI info and one without. Does anyone know why there is this distinction?

[2022-01-06 07:02] rohanKanojia commented on #3500
@joshiste : Umm, you're right, I'm able to see `KubernetesDeserializer.class` in `kubernetes-client-5.12-SNAPSHOT-bundle.jar` but not in `kubernetes-client-5.12-SNAPSHOT.jar`.

Does that mean that your issue gets resolved if you switch to bundle jar?

[2022-01-06 07:11] rohanKanojia commented on #3503
Umm, not sure. Tracing back the commit which changed the packaging to `jar` from `bundle` https://github.com/fabric8io/kubernetes-client/commit/35dc05cfb93a0df5871f09ce406683712c3389b0

[2022-01-06 07:13] joshiste commented on #3500
I guess so, but still have to test...

[2022-01-06 08:40] rohanKanojia commented on #3500
@hakontro @hanneshofmann : Would it be possible for you to try out using `kubernetes-client-*-bundle.jar` instead of `kubernetes-client*.jar` to see if it resolves your issue?

https://github.com/fabric8io/kubernetes-client/blob/7f76db5f80e8a824526a5e83e2938c259c904776/platforms/karaf/itests/pom.xml#L36-L41

[2022-01-06 09:40] rohanKanojia commented on #3523
@QiAnXinCodeSafe : Hello, I'm searching on maven central for [Apache Felix SCR annotations](https://mvnrepository.com/artifact/org.apache.felix/org.apache.felix.scr.annotations) but I'm not able to find version v2.2.0-RC1

I only see the latest version v1.12.0 where we're currently at already.

[2022-01-06 09:58] rohanKanojia commented on #3524
@QiAnXinCodeSafe : Looks like the reference to Containerd got removed in https://github.com/fabric8io/kubernetes-client/pull/3630 . I checked if we still have some references to this dependency and I found these in some `go.sum` files:

[code]

[2022-01-06 11:51] andreaTP opened #3716 "CRD generator fails with IndexOutOfBoundsException if a class extends a Collection"
### Describe the bug

The CRD generator fails with `IndexOutOfBoundException` when the class of a field extends a Collection.

### Fabric8 Kubernetes Client version

next (development version)

### Steps to reproduce

This diff shows the use-case and a failing test in this codebase:

https://github.com/fabric8io/kubernetes-client/compare/master...andreaTP:issue-index-out-of-bound

### Expected beh

[2022-01-06 12:13] andreaTP commented on #3716
cc. @metacosm

[2022-01-06 12:47] shawkins commented on #2929
This can be resolved now based upon the introduction of the ResourceDefinitionContext, related entry points, and deprecation of the Map related methods.

[2022-01-06 12:47] #2929 closed

[2022-01-06 15:43] rohanKanojia commented on #3568
@yaojiqunaer : Thanks for reporting this. I can reproduce this issue. This issue can be fixed if we just assume file to be `/` in case it's empty as you rightly suggested:
[code]

I see you have an additional requirement for having an additional `upload(InputStream inputStream)` method for uploading files. Shall we do it as part of this issue or create a separate issue for this enhancement?

[2022-01-06 17:24] andreaTP commented on #3716
Same applies to `Map`

[2022-01-07 05:23] #3696 closed

[2022-01-07 05:23] walnut-tom commented on #3696
https://github.com/fabric8io/kubernetes-client/pull/3699

[2022-01-07 06:39] rohanKanojia commented on #3500
@hakontro @hanneshofmann @joshiste : polite ping, Did anyone get any chance to test with kubernetes client bundle jar to see if it resolved the issue? Would appreciate it if we could get feedback on this.

[2022-01-07 08:01] rohanKanojia opened #3721 "Add support for uploading file via InputStream"
### Is your enhancement related to a problem? Please describe

This was originally requested by @yaojiqunaer in https://github.com/fabric8io/kubernetes-client/issues/3568

Right now uploading a file to kubernetes pod requires file Path as an argument:
[code]

As suggested by @yaojiqunaer it would be nice to have an additional `upload(InputStream in)` method:

### Describe the solution you'd like

[2022-01-07 08:02] rohanKanojia commented on #3568
@yaojiqunaer : I've created #3721 for the enhancement you've requested

[2022-01-07 08:55] #3653 closed

[2022-01-07 09:32] hanneshofmann commented on #3500
Sorry - I am currently OOO and I don't have access to any machine to test it. As far as I recall, we used the bundle jar back then when the issue has occured. I will try to verify this once again at the beginning of next week.

[2022-01-07 10:29] #3712 closed

[2022-01-07 10:37] manusa commented on #2112
Is this still happening? I recall we added automatic token refresh mechanism for a few scenarios.

If it is, is anyone with a GCP cluster willing to contribute a fix?

[2022-01-07 10:59] hakontro commented on #3500
I'll get it tested on Monday, thanks for looking into it!

[2022-01-07 11:12] #3588 closed

[2022-01-07 11:29] #3255 closed

[2022-01-07 12:40] manusa commented on #2972
Related to #3589

[2022-01-07 13:01] csviri commented on #3586
From Java Operator SDK perspective this issues can be closed. For now only the automated observed generation aware functionality would require this. However, it does not makes that much sense for well known Kubernetes resources since the status is already handled by the original controller.

[2022-01-07 15:50] #3651 closed

[2022-01-10 07:38] ParriePierre commented on #3648
Thank you very much @rohanKanojia !

[2022-01-10 08:39] rohanKanojia commented on #3648
@ParriePierre : Np, Would appreciate if you could also review my PR :-)

[2022-01-10 09:30] yevsh opened #3726 "SharedIndexInformer events not detecting Terminating state of a pod"
### Is your enhancement related to a problem? Please describe

I need to detect when pod is entering "Terminating" state.

[code]

Delete event is triggered when pod is completely terminated, but I need when it begins the termination.

### Describe the solution you'd like

n/a

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-01-10 09:46] oscerd commented on #3670
Is there someone looking at this one?

[2022-01-10 09:47] rohanKanojia commented on #3670
Not at the moment, we will try to pick this one up for our upcoming sprint.

[2022-01-10 09:59] #3716 closed

[2022-01-10 11:23] manusa commented on #3704
https://github.com/fabric8io/kubernetes-client/issues/3234

[2022-01-10 12:36] shawkins commented on #3726
You should check the pod status in onUpdate.

[2022-01-10 14:38] rohanKanojia commented on #3704
@MatanLevy : Hello, I remember while investigating #3234 I had added an additional method to PortForwardable interface. I've created a draft PR for this https://github.com/fabric8io/kubernetes-client/pull/3730

Would it be possible for you to review/try it out by building SNAPSHOT based on my branch and provide feedback on whether it's working for your use case?

[2022-01-10 16:42] #3637 closed

[2022-01-10 16:51] yevsh commented on #3726
I printed
oldPod.getStatus() and newPod.

I didn't see under condition anything about "terminating".

What am I missing?

[2022-01-10 18:16] andreaTP commented on #2806
Kubernetes will not accept the generated CRD.

Overall I agree that it will be nice to have at least one of:
 - an explicit `storage` version setting
 - a warning in case the resulting CRD is not going to be valid (containing multiple versions with `storage = true`)

[2022-01-10 19:14] shawkins commented on #3726
Seems like it would be under status.phase.  You can also check individual containers under status.containerStatuses[id].state

[2022-01-11 00:24] hossman commented on #2112
The specific circumstances as described -- *USING GCP/GKE* -- is still a "problem", but AFAICT from digging into the code and some previuosly closed issues, this problem is not due to a bug in this repo...

(NOTE: I am not an expert on oath, k8, this repo, or GCP/GKE -- what follows is just my layman understanding based on issue spelunking)

The `user` config (example) listed by the original issue

[2022-01-11 06:19] manusa commented on #3368
Was this fixed by #3684?

[2022-01-11 06:30] rohanKanojia commented on #3500
@joshiste @hakontro @hanneshofmann : polite ping Did you get some time to test with bundle jar?

Apologies for these annoying pings. I hope this is the last one :pray:

[2022-01-11 06:49] yevsh commented on #3726
for old pod:

containerStatus
state->running=ContainerState(running=ContainerStateRunning(startedAt=2022-01-11T06:42:13Z, additionalProperties={}), terminated=null, waiting=null, additionalProperties={})
state->teminated=null

for new pod:
containerStatus
state->running=ContainerState(running=ContainerStateRunning(startedAt=2022-01-11T06:42:13Z, additionalProperties={}), terminated=null, waiting=n

[2022-01-11 06:52] #3648 closed

[2022-01-11 08:48] manusa opened #3731 "Document CRD Generator"
### Description

The CRD generator is getting more and more complex. There are now, many different configuration options, and available annotations.

A proper document should be created to illustrate the different options to configure and annotate POJOs to generate CRD resources.

_Originally posted by @andreaTP in https://github.com/fabric8io/kubernetes-client/issues/3681#issuecomment-1000289698_

[2022-01-11 08:54] manusa commented on #2112
:heart: Thanks for the detailed explanation.

So I understand that a temporary workaround would be to use something similar to your `auth-helper.sh` script.

[2022-01-11 09:31] hakontro commented on #3500
Tried it out now, doesn't seem to affect the issue in my case. Np about the pings, thanks for taking the time anyways!

[2022-01-11 09:44] #3568 closed

[2022-01-11 09:45] metacosm commented on #3368
As far as I'm aware, yes.

[2022-01-11 09:45] #3368 closed

[2022-01-11 12:43] shawkins commented on #3726
See https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-phase - Terminating is not actually a phase:

[code]

So you'll need to instead check for the metadata.deletionTimestamp as an indication that the pod is terminating.

[2022-01-11 14:22] #3726 closed

[2022-01-11 17:15] hossman commented on #2112
Assuming everything i said is correct, and I'm not missunderstanding something, then short answer: "Yes" ... using the `auth-helper.sh` I posted -- instead of using `gcloud container clusters get-credentials ...` -- could be considered a workaround for using `fabric8io/kubernetes-client` with GKE.

Longer Answer: If i were a maintainer for `fabric8io/kubernetes-client` I would:

1. File a new issu

[2022-01-11 21:18] hossman opened #3733 "Config execs wrong command when user.exec.args is null (as generated by kubectl config set-credentials)"
### Describe the bug

`kubectl set-credentials` (v1.23.1) can generate an `exec` type user with `args: null`

But when `io.fabric8.kubernetes.client.Config` parses that user info, the `null` args seems to confuse it, causing it to run the wrong command.

[code]
...resulting `~/.kube/config` entry...
[code]

But when `io.fabric8.kubernetes.client.Config` parses that user info, the `null` args seems

[2022-01-11 21:26] hossman commented on #3733
Here's what i think is happening:
* `Config.getAuthenticatorCommandFromExecConfig()` is straight up ignoring `exec.getCommand()` unless `exec.getArgs()` is non-null.
* `ExecConfig.args` defaults to `new ArrayList<String>();` ... which gets used when the `ExecConfig` has no `args` key
* but when `args: null` is in the YAML, that empty list is (evidently) replaced with `null`

[code]

(NOTE: as ment

[2022-01-12 07:11] rohanKanojia commented on #3500
I see. Let me prepare a seprate reproducer project to reproduce the issue.

[2022-01-12 08:29] xfeng-github commented on #544
Hello，这个问题后来是怎么解决的呢，我也遇到了同样的问题，

[2022-01-12 08:41] rohanKanojia commented on #544
@xfeng-github : Seems like you're using the other kubernetes client library.

With Fabric8 Kubernetes Client you can do it via `createOrReplace` method

[code]

[code]

[2022-01-12 09:48] metacosm opened #3734 "Extract finalizer validation so that it can be used statically instead of only on a `HasMetadata` instance"
### Is your enhancement related to a problem? Please describe

Right now, you need to create an `HasMetadata` instance to validate a finalizer. The logic should be available without having to do so.

### Describe the solution you'd like

Extract the validation method into a static method.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-01-12 09:58] #3721 closed

[2022-01-12 13:35] shawkins opened #3737 "Create a framework for client side validation"
### Is your enhancement related to a problem? Please describe

There are helper methods being added to create/validate things like finalizers - #3734 - since the api objects are mutable, or could be created in another way, it's possible them to be invalid when sent to the api server.

### Describe the solution you'd like

There could be an option for the client to perform client-side validation ba

[2022-01-12 13:36] shawkins commented on #3737
cc @iocanel @metacosm

[2022-01-12 13:51] skabashnyuk opened #3738 "AssertionError on OpenShift in fips mode"
### Describe the bug

One of the CRW (upstream of Eclipse Che) customers reported a bug that says that after some upgrade, the che-server is not able to start when running on OpenShift in fips mode. I assume it was caused by an upgrade of java to 11.0.13. Because it was working before.  According to the document, https://access.redhat.com/documentation/en-us/openjdk/11/html-single/configuring_open

[2022-01-12 14:41] fabiobrz commented on #3642
Hi @andreaTP - I've been trying your PoC out and well... it just worked perfectly for replacing an existing legacy `infinispan` model which had been implemented previously in the context of an internal automation project.

Basically we are using fabric8 k8s client already and this PoC really fitted in perfectly with what we needed (legacy POJOs were implementing `CustomResource`, as well and exist

[2022-01-12 16:21] andreaTP commented on #3642
Thanks a lot for the feedback @fabiobrz !
I hope this input can speed a little up the integration in this project 🙂  ❤️

[2022-01-12 17:38] rohanKanojia commented on #3670
I think this is due to this Template object being referenced in KameletSpec :

[code]
https://github.com/apache/camel-k/blob/863887e33acb66f3495a154f75ac2fb86e24678c/pkg/apis/camel/v1/common_types.go#L177

This looks somewhat similar to Kubernetes apimachinery [RawExtension](https://github.com/kubernetes/apimachinery/blob/master/pkg/runtime/types.go#L94) . I'll suggest adding a manual type mapping

[2022-01-12 17:49] rohanKanojia commented on #1458
Related to  https://github.com/fabric8io/kubernetes-client/issues/3642

[2022-01-12 19:54] hanneshofmann commented on #3500
Same for me. Even when using the bundle version, the exception occurs at runtime.

From an OSGi point of view the issue seems to be clear: bundle A (client jar) uses a class (deserializer) from bundle B (model jar) which is not exported/imported properly. Because the import cannot be resolved at runtime, the exception is raised by the JVM.

To check why the existing integration test is passing suc

[2022-01-13 00:06] hossman commented on #3733
I'm attaching the simplest possible test patch i can think of that demonstrates (on non-windows OS) the various problems with how the "stringification" of the command + arguments is handled in `Config.java` ...

[arg_problems_with_auth_exec.patch.txt](https://github.com/fabric8io/kubernetes-client/files/7858688/arg_problems_with_auth_exec.patch.txt)

...this bad behavior -- stemming from the desir

[2022-01-13 07:35] mhammadsaani commented on #3163
Hey @rohanKanojia, is this issues solved or work needed on this?
If not then i would love to work on this!

[2022-01-13 07:43] rohanKanojia commented on #3163
There are still some places where we need to fix this

https://github.com/fabric8io/kubernetes-client/blob/master/extensions/certmanager/model-v1/src/main/java/io/fabric8/certmanager/api/model/v1/CertificateRequestSpec.java

https://github.com/fabric8io/kubernetes-client/blob/master/extensions/certmanager/model-v1beta1/src/main/java/io/fabric8/certmanager/api/model/v1beta1/CertificateRequestSpec.j

[2022-01-13 07:46] mhammadsaani commented on #3163
Yep, sure!
I will work on this.

[2022-01-13 07:57] mhammadsaani commented on #3163
Just to clear my mind, I have to do this,
if it is something like this:
 List<String> usages = new ArrayList<String>()
I have to make it look like
 private List<String> usages = new ArrayList<>()

[2022-01-13 08:23] rohanKanojia commented on #3163
Yes, you're right. You can take a look into Sonar Rule description[0]

[0] https://sonarcloud.io/organizations/fabric8io/rules?open=java%3AS2293&rule_key=java%3AS2293

[2022-01-13 08:31] #3670 closed

[2022-01-13 09:04] DHARUNKUMAR7 commented on #3731
Hi..! I would like to work on this issue can you please guide me to get started..

[2022-01-13 09:29] mhammadsaani commented on #3163
Yes, assign this to me @rohanKanojia

[2022-01-13 10:37] carlosgodoytrapero commented on #3234
Hi @rohanKanojia,

I am so sorry for the delay in our answers.

We have tried again and it fails if our server has IPv4 and IPv6 at the same time. The idea is to instantiate the PortForward to the IP we need in each case as we proposed in that past.

I have seen you opened a PR according to the @manusa issue.

How much time is to be merged in master as an official delivery?

Many thanks,
Carlos G.

[2022-01-13 10:44] rohanKanojia commented on #3234
@carlosgodoytrapero : I'm waiting to get some feedback on PR from @MatanLevy . I'll try to get this PR get into v5.12.0

[2022-01-13 10:48] huaryliu opened #3741 "istio-client can not worker in k3s cluster"
### Describe the bug

istio-client can not worker in k3s cluster

### Fabric8 Kubernetes Client version

5.10.1@latest

### Steps to reproduce

My Code:

pom.xml

`<dependency>
            <groupId>io.fabric8</groupId>
            <artifactId>kubernetes-client</artifactId>
            <version>5.11.2</version>
        </dependency>
        <dependency>
            <groupId>io.fabric8</groupId>

[2022-01-13 11:14] carlosgodoytrapero commented on #3234
Ok, it's something important for us because it always fails because of the different interfaces we have.
In order to get a plan, how much time do you usually spend to deliver a new version?
Many thanks again.
Carlos G.

[2022-01-13 11:22] rohanKanojia commented on #3234
I think our next version v5.12.0 should be out within 2-3 weeks

[2022-01-13 12:15] carlosgodoytrapero commented on #3234
Hi again,
sorry for the disturbances.
2-3 weeks is fair enough, but is any way to try a blackbuilt? Any blackbuilt maven repo, artifactory? In order to verify the fix sooner than a sprint.
Thanks again.
Carlos G.

[2022-01-13 12:17] rohanKanojia commented on #3234
@carlosgodoytrapero : You can build a SNAPSHOT version locally and use `5.12-SNAPSHOT` in your project to see if it resolves your issue

[2022-01-13 12:18] rohanKanojia commented on #3234
There is one more option to use Jitpack https://jitpack.io/

[2022-01-13 13:43] rohanKanojia commented on #3500
Hello guys, I have tried preparing a reproducer project https://github.com/rohankanojia-forks/kubernetes-client-osgi-demo . Basically, I'm just creating a Book custom resource. I'm sure control that goes through HasMetadataOperationsImpl and custom resource class is registered via KubernetesDeserializer

[code]

I deployed this application to Kubernetes using Kubernetes Maven Plugin where it's run

[2022-01-13 16:19] hanneshofmann commented on #3500
Thanks a lot for the sample project, @rohanKanojia.

I cloned the source and tinkered around with it: it seems to be working. Though, I am not very confident that the sample project is exactly behaving as "OSGi" - but to be fair, I cannot tell why. I was modifying the source to directly import and initialize a class from a non-imported bundle packages, e.g.:
-  add `io.fabric8.kubernetes.internal.

[2022-01-13 16:26] rohanKanojia commented on #3500
@hanneshofmann : Thanks a lot for your quick response :pray:

When I add this line to `createBook` method and deploy application to minikube using kubernetes maven plugin. I see this in my logs:

`mvn k8s:log`
[code]

[2022-01-13 16:30] hanneshofmann commented on #3500
Yes - I see the same exception and I think is expected. It essentially means that the JVM is executing `KubernetesDeserializer.registerCustomKind` and the internal logic causes the NPE (as we are passing null values to the method).

The "OSGi behaviour" would be that the JVM is throwing `java.lang.NoClassDefFoundError: io/fabric8/kubernetes/internal/KubernetesDeserializer` because the class should

[2022-01-13 16:32] rohanKanojia commented on #3500
@hanneshofmann : Which OSGi framework are you using? Can I try running this application there?

[2022-01-13 16:35] hanneshofmann commented on #3500
Originally, we discovered this issue with Karaf 4.2.x but I was also able to reproduce it back then with Felix as well. At the moment, I unfortunately have nothing to share.

[2022-01-13 19:02] andreaTP commented on #3731
Hi @DHARUNKUMAR7 , I have started a very minimal document here:

https://github.com/fabric8io/kubernetes-client/pull/3732

I would say that you can elaborate on top of that.

[2022-01-14 07:47] sunix commented on #3500
hello.
Looking at @rohanKanojia example,
`io/fabric8/kubernetes/internal/KubernetesDeserializer.class`
in `./target/features-repo/io/fabric8/kubernetes-model-core/5.11.2/kubernetes-model-core-5.11.2.jar`
but also
in `./target/features-repo/io/fabric8/kubernetes-client/5.11.2/kubernetes-client-5.11.2-bundle.jar`

Looking at the MANIFEST.MF, the package `io.fabric8.kubernetes.internal` is exported i

[2022-01-14 07:49] sunix commented on #3500
what you could try is to use `kubernetes-client-5.11.2-bundle.jar` but not the other kubernetes client modules.

[2022-01-14 13:41] #3163 closed

[2022-01-14 14:23] shawkins commented on #3547
Related to this issue, there's a possible abstraction for creating the clients is at https://github.com/fabric8io/kubernetes-client/pull/3654/commits/2d22886a71419d0fa5c35a20b752ade204973619 - this makes use of the client factory directly.

I have one more change needed for this to support the jdk client - Sec-WebSocket-Protocol is a reserved header for the jdk client, so there needs to be a metho

[2022-01-14 16:50] shawkins commented on #3710
Under the covers createOrReplace will use the replace method, which uses the RollingUpdater class - https://github.com/fabric8io/kubernetes-client/blob/7ef49cd34e2de0d68422e17ce24fe15e48b63f17/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/apps/v1/RollingUpdater.java

It has built in logic to wait until all pods are ready.  Is this not what you are observing?

[2022-01-14 17:28] andreaTP opened #3745 "createOrReplace on Secrets throws in case the resource already exists"
### Describe the bug

Version of the `kubernetes-client`: 5.11.2

Performing 2 `createOrReplace` on the same Secret cause the second call to fail with this error:

[code]

### Fabric8 Kubernetes Client version

next (development version)

### Steps to reproduce

Running a Main like this would reproduce the issue:

[code]

### Expected behavior

The resource is seamlessly replaced.

### Runtime

mi

[2022-01-14 17:28] shawkins commented on #2327
Updating to waiting on feedback, rather than never stale.  This could be addressed by the JSON_MERGE and STRATEGIC_MERGE patch types, or a call to edit to generate the JSON patch - it's not common that a patch will need to be manually generated.  If that is a common scenario, then that likely needs to be captured by the edit/patch logic in the long term rather than exposing additional utility meth

[2022-01-14 18:19] shawkins commented on #3745
The issue is actually with withNamespace(null) - that is actually like telling the config "there is no default"/"use any namespace".  That is confusing the logic in HasMetadataOperation/OperationSupport that normally expects the config to supply a default namespace.  If you just construct a client using new DefaultKubernetesClient(), or specify the default namespace withNamespace("default"), every

[2022-01-14 18:45] andreaTP commented on #3745
@shawkins thanks for the answer!

I'm actually creating the secret with `.withNamespace("default")`, should I add `.inNamespace("default")` after `client.secrets`?

I think this behaviour is pretty misleading since other operations are performed successfully (e.g. `get`, `delete`, `create`) using the very same pattern.

Regarding the concurrency issue it's not kicking in here, you can even remove

[2022-01-14 19:30] shawkins commented on #3745
No, you don't need to.  The client defaults to the default namespace, that will typically be "default".  It's picking it up from the system kubernetes context.

Right, I don't think it's intentional.  Internally the client logic will set the config namespace to null for its own usage, but I don't think I've ever seen a case where the user sets the default namespace is null - thus you're hitting so

[2022-01-14 23:30] mattnelson opened #3748 "Add kubernetes duration human readable formats"
### Is your enhancement related to a problem? Please describe

I would like to be able to get a formatted duration display that matches how kubernetes displays them.

### Describe the solution you'd like

Building on top of the age support added in #2590. Add two new helpers to `KubernetesResourceUtil` to match duration formatting from upstream kubernetes.

https://github.com/kubernetes/kubernetes

[2022-01-15 06:22] eshan1925 commented on #1337
Hello,
I am new to Open Source Contributions and also new to this project. May I know what is to be done for this issue in a detailed way?
And providing some sources would be a big help.
Thankyou

[2022-01-15 07:42] jackson216 commented on #3748
can i try this?

[2022-01-15 16:31] aadityasinha-dotcom commented on #3738
@skabashnyuk  Can I work on this issue?

[2022-01-16 03:00] kkkkun commented on #3552
If the Java reflector doesn't list with a resourceVersion, The client would not get 'Too Large resourceVersion'.
If so, the issue will be closed. and client not do anything change.

[2022-01-16 19:35] shawkins commented on #3552
Okay, I see this exception won't occur on the watch, so yes it won't happen in the client currently.  Only if we start allowing listing and the informer list to use the resourceVersion will this become a concern.  Marking as closed for now.

[2022-01-16 19:35] #3552 closed

[2022-01-16 21:10] shawkins commented on #3745
This is it - https://github.com/fabric8io/kubernetes-client/blob/7ef49cd34e2de0d68422e17ce24fe15e48b63f17/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/base/OperationSupport.java#L156

The calling method to construct the url knows that the resource is supposed to be namespaced, but if the config/context namespace is null or empty, it will assume non-namespaced based upon the che

[2022-01-17 08:42] andreaTP commented on #3745
@shawkins great analysis, thanks for tracking this down!

[2022-01-17 14:38] #2489 closed

[2022-01-17 15:16] shawkins commented on #3587
Ostensibly this work is being done for operator scaling.  The work in #3587 adds the underlying mechanics for batch fetching.  There is also some discussion on alternative approaches, such as sharding - https://github.com/fabric8io/kubernetes-client/pull/3753#issuecomment-1014621477 - that don't involve further changes to the informer framework.

[2022-01-17 17:30] shawkins opened #3756 "Prevent modifications to passed in objects"
### Is your task related to a problem? Please describe

Related to #3078 and possibly to https://github.com/java-operator-sdk/java-operator-sdk/issues/830 modifications should not be directly made to passed in objects.

### Describe the solution you'd like

Simply reverting the change is not quite enough.  As the object could have been obtained from a cache that simply creates a narrow race condit

[2022-01-17 17:57] andreaTP commented on #3745
I can add that the error doesn't occur for e.g. `deployments`

[2022-01-17 18:15] avensis commented on #3234
Hello Rohan,

I am a member of Carlos team and I want to check your fix. I am facing some issues maybe you can help me with that.

1. I checked out pr/issue3234 kubernetes-client code
2. I run clean install and generated 5.12-SNAPSHOT in local
3. I download your project https://github.com/r0haaaan/kubernetes-port-forward-inside-pod-java
4. I added the local dependency to your test project pom
![im

[2022-01-17 18:43] rohanKanojia commented on #3234
Are you referring to that NoClassDefFoundError or slf4j warning (that looks more concerning to me) ? From what I remember I had done this testing on minikube.

I have updated the project https://github.com/r0haaaan/kubernetes-port-forward-inside-pod-java . You should no longer see the slf4j warning. I tested it again on minikube using kubernetes maven plugin with kubernetes client `5.12-SNAPSHOT`

[2022-01-18 12:07] vasantisuthar opened #3757 "Use of String object"
### Is your enhancement related to a problem? Please describe

In java the java.lang package is implicitly imported so why java.lang.String is used for the String object, imported explicitly in the file
https://github.com/fabric8io/kubernetes-client/blob/master/extensions/certmanager/model-v1beta1/src/main/java/io/fabric8/certmanager/api/model/acme/v1beta1/ACMEChallengeSolverHTTP01Ingress.java

##

[2022-01-18 13:44] joshiste opened #3758 "KubernetesMockServer should allow overriding its default `/version` expectation"
### Is your enhancement related to a problem? Please describe

I want to override the VersionInfo returned by the `io.fabric8.kubernetes.client.server.mock.KubernetesServer`.

### Describe the solution you'd like

Some easy way to specify the version the mock shall return

### Describe alternatives you've considered

[code]
This doesn't work for me as the expectation from `KubernetesMockServer#onS

[2022-01-18 13:49] joshiste commented on #3758
Currently using this as workaround:
[code]

[2022-01-18 15:20] shawkins commented on #3745
The dsl logic will be different depending on the resource type - for deployments there is rolling logic that is implemented for a replace.

To restate what is happening under the covers in your test shown above:

[code]

is like calling:

[code]

Note what operations are available when you call client.secrets().inAnyNamespace() - those method calls will still work as expected using withNamespace(n

[2022-01-18 17:56] shawkins commented on #3745
We'll address this in 6.0.0 - if the config has a null namespace, whether because there is not one on the context or the user calls withNamespace(null), the logic will assume an appropriate default - likely "default".  In the event of a checkNamespace call failing, the logic should inform the user to use inNamespace or the original namespace was null, to set a better default on the Config.

[2022-01-18 18:38] ShubhamRwt opened #3759 "Removing the Arquillian profiles present in the main pom.xml"
### Is your task related to a problem? Please describe

While building the project I used the `mvn clean install` command to build the project. After the  build completed successfully, there were two profiles with dependencies `arquillian-cube-openshift-starter` and `arquillian-cube-kubernetes-starter` which were not resolved even after the build completed successfully. On further investigation wh

[2022-01-19 04:53] #3734 closed

[2022-01-19 05:49] manusa commented on #3759
I understand you're suggesting to remove the dependencies

Yes there is a reason, these dependencies are used for our integration tests.

[2022-01-19 05:51] manusa commented on #3759
To extend a little bit more, we've discussed removing Arquillian altogether, since it doesn't add much value to our tests at this point.

So once we remove the Arquillian dependencies from our tests, we can safely remove these dependencies.

[2022-01-19 06:12] rohanKanojia commented on #3759
@manusa : We're not using these profiles in our integration tests workflow:
https://github.com/fabric8io/kubernetes-client/blob/4c386fd99606513a0979749be58bf8f604e5451a/.github/workflows/e2e-tests.yml#L84

Maybe they were used in past but not anymore. Even after removing the arquillian dependencies from the profiles, integration ests still seem to be passing. I was helping Shubham yesterday when h

[2022-01-19 06:20] manusa commented on #3759
Aren't we running the kubernetes-itests module verify goal? If not, something is not OK in the pipeline.

https://github.com/fabric8io/kubernetes-client/blob/bac0d785db78d10f40c45703d44a331516eaa3a5/kubernetes-itests/pom.xml#L52

I'm really not following when you talk about "profiles" and don't mention the profile id. Are you talking about the profile that "declares" those dependencies? Are you ta

[2022-01-19 06:24] rohanKanojia commented on #3759
profiles id under question are `itests-kubernetes` and `itests-openshift`

[2022-01-19 06:33] manusa commented on #3759
These profiles contain redundant info plus aren't ever activated.

Probably leftovers after switching to GH actions.

[2022-01-19 06:34] ShubhamRwt commented on #3759
I tried running `mvn clean verify -Pitests-openshift` after removing the profile ids `itests-kubernetes` and `itests-openshift` and it still worked

[2022-01-19 06:35] manusa commented on #3759
I'm sure you got a warning about a missing profile ;)

[2022-01-19 06:36] rohanKanojia commented on #3759
When specified profile isn't present, maven runs normal build with a warning for profile not being found.

[2022-01-19 06:39] ShubhamRwt commented on #3759
Ahh Okay. Thanks @manusa and @rohanKanojia. But I still feel that these two profiles should be looked into since the deps under these profiles were not getting fetched until I run the `itests`. The problems which I was facing yesterday @rohanKanojia

[2022-01-19 07:00] ShubhamRwt commented on #3759
This dependency
[code]
under the `itests-Kubernetes` profile doesn't get resolved even after I run  the `mvn clean verify -Pitests-kubernetes`

[2022-01-19 09:35] manusa opened #3761 "Extension Jar packages don't contain the META-INF/jandex.idx index file"
### Describe the bug

The bundling configuration for the extension modules is not considering the META-INF/jandex.idx file.

### Fabric8 Kubernetes Client version

other (please specify in additional context)

### Steps to reproduce

`mvn package`

`target/classes/META-INF` contains a valid jandex.idx file

`target/$artifact-$version.jar` archive doesn't contain the `META-INF/jandex.idx` file

###

[2022-01-19 09:37] fabiobrz opened #3762 "Consider adding support for Javadoc generation to the Java generator baseline implementation"
### Is your enhancement related to a problem? Please describe

The issue is about the Java (from CRD) generator feature, which hasn't been merged yet, and which is tracked by https://github.com/fabric8io/kubernetes-client/issues/3642

The proposal is to improve such implementation by adding support for generating Javadoc comments as part of the model.

### Describe the solution you'd like

The req

[2022-01-19 09:55] andreaTP opened #3763 "[crd-gen] Primitive type Long should translate to "integer""
### Describe the bug

According to the CRD specification a Java `Long` type should be translated to an `integer`:

'integer' (all formats) | int (64)

https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/

### Fabric8 Kubernetes Client version

next (development version)

### Steps to reproduce

Add a `Long` property field to your CRD and it gets translat

[2022-01-19 10:17] avensis commented on #3234
Hello Rohan,

I properly checked the Feature and works as expected.

Please can you give us a estimation about when the 5.12 version will be deployed.

Thanks in advance.

[2022-01-19 10:22] rohanKanojia commented on #3234
If everything goes well, we might release 5.12.0 within a week

[2022-01-19 10:52] rohanKanojia commented on #3761
It looks like we just add this property to each extension model/client module; `META-INF/jandex.idx` file should be included in the generated jar file

[code]

[2022-01-19 11:03] metacosm opened #3765 "Clean up `HasMetadata` and `CustomResource` API"
### Is your enhancement related to a problem? Please describe

Methods that are currently scoped or target only for `CustomResource` implementations could make sense for wider use for classes that implement `HasMetadata`. We also need to unify the methods on `HasMetadata` as well because some methods are only available as static versions when they would also make sense as instance methods (e.g. `g

[2022-01-19 11:38] andreaTP opened #3767 "[crd-gen] Possibility to add a description to Array/Map "items""
### Is your enhancement related to a problem? Please describe

It's common practice (e.g. using `kubebuilder`) to add a specific description on the `items` of `array`s.
E.g.:

[code]

Currently the CRD generator infer the description from a field annotated with `JsonPropertyDescription`, unfortunately this covers only the `Generic field description` from the example and we don't have a way to expr

[2022-01-19 12:07] andreaTP opened #3768 "[crd-gen] Possibility to add extra information to fields"
### Is your enhancement related to a problem? Please describe

The most self-explanatory example is the type format hint allowed in the CRD such as:

[code]

Currently the generator emits only the `type` information and we don't have, at best of my knowledge, any way to express a specific `format`.

I'm opening this ticket more widely in the hope that we can agree on a solution that will cover add

[2022-01-19 14:42] Cxs1103 commented on #3324
How to reset the proxy？

[2022-01-19 14:56] vijitgosain commented on #3324
Resetting the http_proxy and https_proxy in the Kubernetes pod can be done by setting value of HTTP_PROXY and HTTPS_PROXY to null.
This can be done in the corresponding deployment file by adding 2 variables in the env.

The following is an example that worked for me:

[code]

This can be further verified by doing exec into the pod and running the following command:

[code]

Thanks and Regards,
Vij

[2022-01-19 14:57] vijitgosain commented on #3324
Resetting the http_proxy and https_proxy in the Kubernetes pod can be done by setting value of HTTP_PROXY and HTTPS_PROXY to null.
This can be done in the corresponding deployment file by adding 2 variables in the env.

The following is an example that worked for me:

spec:
  template:
    spec:
      containers:
        env:
        - name: HTTP_PROXY
          value: null
        - name: HTTPS_P

[2022-01-19 15:52] shawkins commented on #3756
Related to this, do we want another issue on write protecting the informer caches?

[2022-01-19 16:12] manusa commented on #3756
Wasn't this something we discarded?

It's OK for me, but given the additional processing overhead, it should be something configurable.

[2022-01-19 16:36] andreaTP opened #3769 "[crd-gen] The generator fails with "ClassCastException" when using SchemaFrom"
### Describe the bug

Trying to run the CRD generator in an external minimal codebase fails on any `SchemaFrom` annotation with:

[code]

### Fabric8 Kubernetes Client version

next (development version)

### Steps to reproduce

- Install locally the `crd-generator` from the `master` banch
- clone this repo: https://github.com/andreaTP/schemafrom-classref-repro
- run `mvn clean compile -e`

### Ex

[2022-01-19 16:53] shawkins commented on #3756
That is the idea, to propose/collect possible solutions - that would be optional:

secrets().withImmutableStore().inform()
or
SharedInformer.getImmutableStore() - returns a store that returns copies.

Either could be implemented with a wrapper that clones or adding logic for storage functions - for example to hold just strings in memory.

[2022-01-20 09:25] #3769 closed

[2022-01-20 11:23] #3234 closed

[2022-01-20 14:08] #3587 closed

[2022-01-20 14:09] manusa commented on #3763
Fixed by #3764

[2022-01-20 14:09] #3763 closed

[2022-01-20 15:02] manusa opened #3772 "edit() should not be allowed as a NonNamespaceOperation"
### Describe the bug

#2832 (#2588) introduced the `WritableOperation` interface which extends the `Editable` interface.

This allows NonNamespaceOperation to perform edit method calls when neither the item or the name of the resource has been specified. This is not allowed.

Operations such as:

[code]

should not be possible.

### Fabric8 Kubernetes Client version

5.2.0 onwards

### Expected be

[2022-01-21 06:14] #3756 closed

[2022-01-21 07:41] rohanKanojia commented on #3671
@andrewm-aero : Thanks for reporting, I can reproduce this issue with this unit test:

[code]

How shall we proceed here? Shall we provide some default value in case port is found `-1`? Would the default value would be `3128`? Or do we want to throw IllegalArgumentException when port is `-1`?

[2022-01-21 10:44] rohanKanojia commented on #3671
@andrewm-aero : I've created a PR for throwing IllegalArgumentException when port isn't resolved. Please let me know what you think about this.

[2022-01-21 13:26] rohanKanojia opened #3774 "[Cleanup] Use `osgi.include.resources.default` property in kubernetes model modules"
### Is your task related to a problem? Please describe

While fixing https://github.com/fabric8io/kubernetes-client/issues/3761 we had created a property `osgi.include.resources.default` in #3771 which should contain common resource files to include when module jar is being packaged by maven bundle plugin (like `jandex.idx`). This property is used in all extension modules.

However, there are stil

[2022-01-21 14:36] #3761 closed

[2022-01-21 16:15] matthyx opened #3776 "VerticalPodAutoscaler cannot load yaml with "controlledResources""
### Describe the bug

In the VPA extension, it's impossible to use VerticalPodAutoscaler resources with "controlledResources" set.
A deserialization error occurs.

### Fabric8 Kubernetes Client version

5.10.1@latest

### Steps to reproduce

1. modify yaml resource in io.fabric8.verticalpodautoscaler.test.crud.V1VerticalPodAutoscalerCrudTest.shouldLoadVerticalPodAutoscaler
2. run the test
3. it fa

[2022-01-22 11:50] anurag-rajawat commented on #3774
@rohanKanojia Maybe, Can I try?

[2022-01-22 12:52] rohanKanojia commented on #3774
@anurag-rajawat : sure, let me assign it to you. Feel free to ping on gitter channel for any questions

[https://gitter.im/fabric8io/kubernetes-client]

[2022-01-23 14:31] #3498 closed

[2022-01-23 14:31] #3497 closed

[2022-01-24 06:30] #3506 closed

[2022-01-24 08:54] #3759 closed

[2022-01-24 10:20] #3671 closed

[2022-01-24 12:06] manusa commented on #3774
OK, the idea is not exactly using the property, but reusing the generic configuration by overriding the properties (just like we do with extensions).
So instead of redefining the plugin configuration, the `osgi.*` properties should be overridden instead.

[2022-01-24 15:50] hambone01 opened #3779 "Job immediately goes to NotReady"
### Describe the bug

versions:
 Docker Desktop for Windows 4.3.2
 DD Kubernetes: 1.22.4
 fabric8: kubernetes-client:   5.6.0 and 5.10.1 and 5.11.2

When running the [example Job code](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/JobExample.java), the started Job immediately goes to the NotReady status. Kubectl describe

[2022-01-24 18:04] rohanKanojia commented on #3779
Could this be something related to misconfiguration in your cluster?

I just tried running JobExample on a remote [OpenShift Developer Sandbox Cluster](https://developers.redhat.com/developer-sandbox) and for me example seems to be running okay:
[code]

When I check pod status, for me they seem to be in completed state:
[code]

[2022-01-24 20:12] hambone01 commented on #3779
Personally, I think it is Docker Desktop's kubernetes 1.22.5 causing the problem. This worked before I upgraded to the latest Docker Desktop which gave me the 1.22.5 kubernetes. I am trying down grading now.

I was hoping it was a known thing.

[2022-01-25 00:01] hambone01 commented on #3779
It turned out to be Istio sidecar injection. I had sidecar injection turned on in the default namespace, which is where I was starting the Job. I turned off sidecar injection and the Job works.

Thank you for taking the time to answer my question, I really do appreciate it.

[2022-01-25 00:02] #3779 closed

[2022-01-25 07:48] chestarss opened #3781 "is there have some toolkits can convert crd yaml file to fabric8 java file"
### Is your enhancement related to a problem? Please describe

is there have some generator toolkits for third-part crd yaml file to fabric8 java client code file

### Describe the solution you'd like

which like https://github.com/kubernetes-client/java/blob/master/docs/generate-model-from-third-party-resources.md

### Describe alternatives you've considered

_No response_

### Additional context

[2022-01-25 08:42] rohanKanojia commented on #3781
@chestarss : Do you mean you want to convert CRD Yaml to a Java Pojo (#3642 ) ? We are very close to merging one of these https://github.com/fabric8io/kubernetes-client/pull/3693 features

[2022-01-25 09:20] chestarss commented on #3781
thanks very much

[2022-01-25 09:45] rohanKanojia commented on #3781
Duplicate of #3642

[2022-01-25 12:32] Reasonalbe opened #3784 "ResourceQuota.getStatus().getUsed missing one parameter (count/services.loadbalancers)"
### Describe the bug

![image](https://user-images.githubusercontent.com/36944624/150976737-c18eaeb4-fc86-4256-a7c8-63efcc8d2ad0.png)
i tried to get the used resource quota by _client.resourceQuotas().withName(name).get().getStatus().getUsed()_
and i fond that the parameter _count/services.loadbalancers_ was missing,
however this parameter existed in _client.resourceQuotas().withName(name).get().g

[2022-01-25 12:34] #3781 closed

[2022-01-25 13:26] anurag-rajawat commented on #3774
@rohanKanojia how to reuse the generic configuration by overriding the properties as manusa said.

[2022-01-25 14:54] andreaTP opened #3785 "Cannot use untyped informers along with typed API"
### Describe the bug

Using informers for `GenericKubernetesResources` along with accesses to the typed API result in deserialization errors (of the `GenericKubernetesResource`) showing that the typed `Deserializer` has been invoked.

### Fabric8 Kubernetes Client version

next (development version)

### Steps to reproduce

(with access to a cluster e.g. minikube):

1. Clone [https://github.com/an

[2022-01-25 15:29] shawkins commented on #3785
In this scenario there are multiple crd versions, but only one typed model, so parsing will fail when the KubernetesDeserializer chooses to deserialize based upon name alone.

You either have to avoid the typed api, or introduce different typed models - one for each crd version.

The informer works around this currently by converting the watchevent item to generic - after it has been parsed.  That

[2022-01-25 15:34] andreaTP commented on #3785
@shawkins thanks for the prompt answer!

Is it doable in a programmatic way? e.g. when the models are generic.

I like this approach!

[2022-01-25 17:39] andreaTP commented on #3785
Adding more context:
- registering all the versions of the CRD result in always falling back to `v1alpha1` (which is not the version returned from the API)

[2022-01-25 19:13] shawkins commented on #3785
It doesn't seem possible in general to bring a typed api into this scenario as it won't be handled as expected.

If you enable trace you see:

[code]

If you run again, the list operation from the watch or the typed api call, will issue a get:

[code]

That response contains:

[code]

Which is reportedly v1alpha1, but the content is invalid for v1alpha1.  This seems expected when you request the n

[2022-01-25 19:35] shawkins commented on #3785
I need to correct my initial thoughts:

After running through the example, that is happening as expected.

It doesn't look like that is a generally supported case.  If the version is missing for create, kubectl will throw an exception.

[2022-01-25 20:06] shawkins commented on #3785
To sum up - if you request the stored version, or request a version that is appropriately converted to its representation, then the current fabric8 logic will work.

Do you think that you will need to support the case where you request the non-stored version such that it won't be appropriately converted?

It would still be great to eliminate eventually or at least enhance the contextual awareness.

[2022-01-27 06:24] manusa commented on #3758
Related to https://github.com/quarkusio/quarkus/issues/23023

[2022-01-27 06:29] manusa commented on #3758
Hi @joshiste
The default version expectation provisioning was added as a feature in #3562 (#3536).

[Your approach](https://github.com/fabric8io/kubernetes-client/issues/3758#issuecomment-1015429844) is the recommended ATM. However, we left the door open for future improvements.

One of the alternatives would be to expose the VersionInfo field:

https://github.com/fabric8io/kubernetes-client/blob/

[2022-01-28 07:52] stoetti commented on #3069
Are there any plans on implementing this enhancement in the near future?

In order to build CRDs in respect common api conventions (https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#typical-status-properties) it would be really necessary to provide printer columns that are defined using a JsonPath like this .status.conditions[?(@.type=="Read

[2022-01-28 10:55] oscerd opened #3788 "Point CamelK Extension model to latest released version v1.8.0"
### Is your task related to a problem? Please describe

It's pointing to 1.7.0

### Describe the solution you'd like

Upgrade to 1.8.0

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-01-28 12:28] #3788 closed

[2022-01-28 20:51] marshopy opened #3791 "Could not receive any events using shared informer in a vert.x application due to okhttp3 call gets rejected"
### Describe the bug

When deploy our vertx application to openshift and use sharedinformer to track the change of the k8s custom resources, the watch has been failed to established and no add/update/delete event can be tracked

### Fabric8 Kubernetes Client version

5.10.1@latest

### Steps to reproduce

1. Create a vertx verticle below and stand up a shared informer event listener to watch a cus